[2021-09-21 18:56] elliottslaughter commented on #1144
How do you specify the parent? If you have two region requirements on the same logical region, then the logical region that would be passed into sub-task launches would be the same. I'm not aware of a way to specify the parent as a requirement rather than a region.

[2021-09-21 19:01] lightsighter commented on #1144
In the Legate NumPy case that motivated this that wouldn't be a problem because the tasks are reading from one partition and writing to a different one, so there are unique names for the "parent" regions to target. I would be willing to add a field to a region requirement to name the "parent" region requirement with the index of the parent region requirement rather than simply the name of the pare

[2021-09-22 10:07] lightsighter commented on #1146
This is fixed with https://gitlab.com/StanfordLegion/legion/-/merge_requests/411

[2021-09-22 10:42] lightsighter commented on #1146
And up-streamed into control replication. Closing the issue.

[2021-09-22 10:42] #1146 closed

[2021-09-22 17:10] rohany commented on #1145
It appears to not be stuck with those arguments (though I imagine they have performance impacts?).

As I mentioned in the issue, I haven't been able to reproduce the bug on sapling.

[2021-09-22 20:22] rohany commented on #1145
I take that back -- it appears to get through all of my program and then is stuck on shutdown with `-lg:safe_ctrlrepl 1 -lg:inorder`. There doesn't appear to be anything interesting in any of the stacks of nodes I randomly sampled as well. This might be an unrelated problem.

[2021-09-23 09:04] lightsighter commented on #1145
I added a missing check to the safe control replication checks related to this. Pull and try again with the safe control replication checks after rebuilding.

If they still pass then attach a debugger to each of the shards and print out the value of `collective_index` on this line of frame 11 in the interesting threads:
https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/le

[2021-09-23 17:06] rohany commented on #1145
The new checks didn't fire and all nodes have the same `collective_index = 1140`. I think I found some interesting details though:

* The code succeeds with `-lg:inorder` and hangs without.
* One of the nodes has a slightly different stack than all of the others (like the ones linked in the pastes):
[code]

While all of the other nodes are doing a collective sync, this one is just waiting on an ev

[2021-09-23 17:09] rohany commented on #1145
Some information from this stack:
[code]

[code]

[2021-09-23 17:49] syamajala opened #1147 "legion_prof_rs missing tooltips on utility processors"
I am not getting tooltips when I hover over individual boxes on a utility processor in a legion profile generated using legion_prof_rs.

There is an example here: http://sapling.stanford.edu/~seshu/s3d_hept/tmp24_0/run/legion_prof/?start=773044646.4106247&end=779229477.5153278&collapseAll=false&resolution=10

The orange boxes on utility processor 0 are missing tooltips.

A profile log file is avai

[2021-09-24 10:06] lightsighter commented on #1145
And that's why you need to look at the stack traces on all the nodes and not just some of them. This backtrace all but guarantees that one or more tasks didn't run on this shard for this particular index space launch.

Run again with `-ll:defalloc 0`.

[2021-09-24 16:53] rohany commented on #1145
Is there a more efficient way of doing this than ssh-ing into each node and attaching to the process with gdb? This is sort of annoying at 8 nodes, and prohibitive at 32 nodes (where I see a similar hang but on a different application).

That's true for this application, but isn't true for another application that I think is hanging the same way.

This causes my program to OOM (failed instance all

[2021-09-25 07:45] manopapad commented on #1145
Try something like:

[code]

[2021-09-25 09:49] lightsighter commented on #1145
@manopapad said exactly what I was going to say for capturing the backtraces. There are very few things that we'll ask you to do that don't already have a tool.

Then you'll need to find a reproducer for that code that hangs with `-ll:defalloc 0`

This is a known problem how deferred buffers are allocated today: they don't guarantee deadlock freedom with deferred allocation. There is a pending but

[2021-09-25 16:28] rohany commented on #1145
I can try to get a reproducer with `-ll:defalloc 0`, but my code doesn't used any deferred buffers.

[2021-09-26 00:25] rohany commented on #1145
I have a reproducer on sapling that you can use now. Go to `/home/rohany/taco/build` and run `mpirun -H g0002:4,g0003:4,g0004:4 --bind-to none -npernode 4 ./runner.sh  bin/solomonikMM-cuda -n 35000 -rpoc 4 -c 2 -rpoc3 4 -tm:untrack_valid_regions -ll:ocpu 1 -ll:othr 1 -ll:csize 3000 -ll:util 4 -dm:replicate 1 -ll:gpu 1 -ll:fsize 15000 -ll:bgwork 12 -ll:bgnumapin 1 -ll:force_kthreads`. You should se

[2021-09-27 09:01] lightsighter commented on #1145
There are other forms of deferred allocation other than deferred buffers/values. If you want to convince me that there is a hang that doesn't involve deferred allocation, then it needs to reproduce with the `-ll:defalloc 0` flag, and this reproducer can't do that. Alternatively, you can find a cycle in the Realm event graph that doesn't involve deferred allocation, but I suspect that such a cycle

[2021-09-27 09:04] lightsighter commented on #1145
@streichler also said that he was planning on adding support for detecting cycles to Realm's hang detection mechanism, so getting Realm's hang detection to tell us (with Legion Spy logging) what the event cycle is involving deferred allocation would be instructive, but I'm 99% positive that it's going to involve deferred allocation.

[2021-09-27 19:16] rohany commented on #1145
I'm not successful in getting a reproduction with `-ll:defalloc 0` -- everything either succeeds on a smaller problem size or OOMs on problem sizes close to my target. What are my options here?
* Convince the group to prioritize work on the `newinsts` branch
* Is there something that I could "use less of" or stop using in my code to make the hang less likely?

I need these applications to complete

[2021-09-27 23:50] elliottslaughter commented on #1147
Confirmed that the tooltip is missing in Rust but is there with Python.

[code]

Exactly Legion version doesn't seem to matter, but I'm currently on d6240a8e0896baf37ecdb1213b5d7ae6743bfec6.

[2021-09-28 09:55] lightsighter commented on #1145
It's possible that there is a faster solution to the problem, but we can't know that until we've characterized the exact nature of the deferred allocations that are causing the problem. Without that we can't say which approach is the best. I would try to modify the Realm cycle detection mechanism to add edges through deferred allocations so that it can "see" those kinds of cycles too.

[2021-09-28 16:16] rohany commented on #1145
I can give this a shot if you give me some pointers @streichler, or if you think it's more efficient for you to just do I can wait on it.

[2021-09-28 22:46] streichler commented on #1145
@lightsighter it will not be helpful (for this issue) to teach realm to find cycles through deferred allocations.  Although there are deferred instance destructions pending in every one of the event waiter dumps @rohany has captured, in all cases the destructions are waiting on user events that have been created by legion but not triggered (i.e. neither deferred nor immediate), so there is no loop

[2021-09-29 09:08] lightsighter commented on #1145
If figuring out the source of the deferred allocation hangs comes back to me, it's going to wait until after GTC, Supercomputing, and the PLDI deadline have all passed.

[2021-10-03 17:54] rohany opened #1148 "equivalence sets: `Assertion 'active_once' failed.`"
I have a program that looks like this:
[code]
At some iterations on 1 node, I see a warning for a subtask of `t3` that it's using uninitialized data for a subregion of `aPart2`, which seems impossible since I write over `aPart` , a complete and disjoint partition.

In debug mode, I see this error:
[code]

A reproducer is available on sapling at `/home/rohany/taco-ctrl-rep-bug/build`. Run `bin/cann

[2021-10-03 17:56] rohany commented on #1145
I was able to mostly work around this by backpressuring my task's mapping so that the working set never exceeded the amount of memory in the GPU. I ran into the `unable to find distributed collectible` bug again at 128 nodes, but I was able to run my app for fewer iterations to not hit it.

[2021-10-04 18:03] rohany opened #1149 "gasnetex: unable to achieve maximum bandwidth out of a node for GPU <-> GPU copies"
I'm running on Lassen, which has a node architecture like this:
![image](https://user-images.githubusercontent.com/15331872/135900868-845bfc83-e0d2-4665-89f4-c5f457bb0809.png)

I believe that I'm not achieving the maximum (25 GB/s) bandwidth out of a node, which is very important for an application I have that is communication bound. A synthetic benchmark can be found here: https://github.com/roha

[2021-10-04 20:22] opensdh opened #1150 "Using destroyed IndexSpaceExpression objects"
A new FleCSI unit test produces the following error and backtrace with 2923ea78.
The test involves creating and destroying temporary partitions; it is run with 4 processes on a single node.

terminate called without an active exception
*** Caught a fatal signal (proc 2): SIGABRT(6)

[code]

Sometimes instead of a pure virtual call a segfault or assert fires, because memory corruption.

@manopapad

[2021-10-04 20:23] opensdh commented on #1150
@lightsighter: here it is; I don't think I can actually assign it.

[2021-10-04 20:59] #1142 closed

[2021-10-05 09:28] lightsighter commented on #1150
@opensdh Make me either a reproducer on sapling (with help from @jpietarilagraham ) or a Docker container that I can use to reproduce the issue.

[2021-10-05 09:30] lightsighter commented on #1145
Run with `-ll:force_kthreads` and capture backtraces on every single node when you crash with the `unable to find distributed collectable bug`. Report the full error message for the crash along with the log files.

[2021-10-05 09:32] lightsighter commented on #1139
Can you try this again with all the GASNet-EX fixes that @streichler pushed?

[2021-10-05 12:32] sydneyhauke opened #1152 "[Legion] compilation error when compiling against llvm >= 10.0.0"
Whenever you try to compile against llvm >= 10.0.0, you get something like
[code]
which makes the compilation fail.

The problem seems to be in this line :
https://github.com/StanfordLegion/legion/blob/5a991b714cf55c3eaa513c7a18abb436d86a0a90/runtime/runtime.mk#L313
which fails to parse correctly the llvm version when the major number has at least two digits.

[2021-10-05 15:53] rohany commented on #1145
I can do that. Is there a way that I can get backtraces sent to a log file "automatically"? 128 node jobs on lassen take many hours to come back, often executing overnight. I can't guarantee that I'll be around to be able to manually run the script to gdb into each node to collect the backtraces.

[2021-10-05 16:03] rohany commented on #1145
Is there a particular logger that you want me to turn on?

[2021-10-05 16:17] manopapad commented on #1145
Would something like this work?

[code]

[2021-10-05 17:36] rohany commented on #1145
That's a good idea. I'll try that.

[2021-10-05 20:07] lightsighter commented on #1152
Pretty sure the bug is actually on this line:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/runtime.mk#L316

The `cut -c1,3` part of the statement is the problem. We'll need to cut an extra character if the version is >= 10.

[2021-10-06 18:44] elliottslaughter opened #1153 "Regent: should rescape/remit be lexically or dynamically scoped?"
Right now, `rescape`/`remit` are dynamically scoped. This means you can write code like:

[code]

Is this actually desirable? Should this generate an error?

[2021-10-06 18:52] magnatelee commented on #1153
I don't have a strong preference on this, but isn't Terra's escape/quote also dynamically scoped?

[2021-10-06 19:25] albovoci opened #1154 "OPENMP dynamic scheduling"
Hello,
I'm attempting to parallelize a loop in the following format:
`#ifdef REALM_USE_OPENMP`
`    #pragma omp parallel for schedule(dynamic)`
 `#endif`
 `for (std::size_t i=0; i<N; i++) {...}`
Compilation will fail with the following error:
`In function UpdateUsingHybridEulerFluxTask<(direction)0>::cpu_base_impl(UpdateUsingHybridEulerFluxTask<(direction)0>::Args const&, std::vector<Legion::Physi

[2021-10-06 19:27] albovoci commented on #1154
Legion version legion-21.06.0-3075-gff44815 committed on 2021-09-24

[2021-10-07 14:08] thiagotei commented on #1153
I also agree that in the last example dynamically scoped makes more sense.

[2021-10-08 09:47] mariodirenzo opened #1156 "Regent: native random number generator"
Aside from writing your own random number generator, the current way of generating random numbers in Regent is to use C functions like `drand48_r`. This approach has a few drawbacks, the major are:
- those functions are not thread-safe
- they can't be used in the openMP and CUDA tasks variants
- they do not work on all the platforms (for instance `drand48_r` does not exist on macOS)

I think that

[2021-10-09 08:59] lightsighter commented on #1156
I realize you're not talking about this case, but another one to care about it supplying random number generators for use in control-replicated tasks. It would be good to have some runtime support to guarantee that all shards of a control-replicated task are getting the same random numbers (e.g. for running a genetic algorithm from the top-level task). Ideally we would want that not to disable Reg

[2021-10-09 14:18] streichler commented on #1156
For deterministic behavior (i.e. getting the same results if you use the same seeds), I think it's probably better to think about it in terms of distributing independent sequence IDs to loop iterations or tasks based on their index.  Then the actual order and any concurrency of execution has no impact on the values produced by the PRNG.

Since you have control over both the seed and the sequence I

[2021-10-10 16:51] rohany commented on #1141
I haven't run into that before. @streichler will probably need backtraces

[2021-10-13 11:17] roman955b opened #1157 "How to run legion on kubernetes?"
How can legion be executed on k8s cluster?
Is there an example yaml available that defines on how to spin up the necessary pods?

[2021-10-14 07:31] roman955b commented on #1157
What's the most common way to run legion (I'm interested in FlexFlow in particular)?
My org has a SLURM based cluster, but I have never used it. Is that a good place to work with Legion? If yes, what are the instructions to define and execute a multi-node job on SLURM?

[2021-10-14 21:29] elliottslaughter commented on #1157
Most Legion users today use Legion on HPC machines that use job schedulers like SLURM, Torque, etc. Generally speaking, we don't have any control over this, so we just use whatever the system provides. Starting a Legion job therefore looks a lot like starting an MPI job, except that typically we recommend a rank-per-node configuration rather than rank-per-core.

I don't think there are any instruc

[2021-10-15 06:15] JBlaschke commented on #990
I have started to look at this again. I started varying the conduit on Cori GPU and have only gotten:
[code]
and
[code]
Maybe @elliottslaughter can advise on how to set this up properly. This is using the Spinifel installer, so GASNET is installed using:
[code]

[2021-10-15 13:32] streichler commented on #990
@JBlaschke can you include the rest of the cmake output?  Earlier on, it should have listed what conduits/threading modes it thinks are available.

[2021-10-27 00:25] syamajala opened #1159 "legion: Seg fault in receive_message on Perlmutter"
Im seeing a seg fault in receive_message when I scale S3D on Perlmutter using gasnet1 and the ucx conduit. At 384 nodes I start seeing this:

[code]

[2021-10-29 18:53] magnatelee commented on #1159
@lightsighter thinks that my 2048-rank job on Selene seems to have crashed in the same way. Here's not so informative backtrace:
[code]

[2021-10-29 19:00] syamajala commented on #1159
@streichler i put the log from the `-level gexmsg=2` run here: http://sapling.stanford.edu/~seshu/perlmutter_crash/

[2021-10-29 19:31] streichler commented on #1159
@magnatelee and/or @syamajala can you dump the contents of the realm task arguments that are causing the segfault?  (e.g. go up to the `Legion::Internal::Runtime::legion_runtime_task` frame and do the following in gdb:
[code]
) so that @lightsighter can explain what the corruption looks like so that we can try to catch it earlier?  In particular, we can see if it's already wrong before the message

[2021-10-29 20:15] lightsighter commented on #1159
My suspicion is that someone is stomping on the buffer either before or after it goes over gasnet. These parts of the message header are supposed to be immutable for an entire run. Each virtual channel sets them up in their constructor and every time that virtual channel manager sends a message it shouldn't change.

It does seems to have something to do with message tasksthough because there's no

[2021-10-30 00:30] elliottslaughter opened #1160 "Legion: Freeze in Python import"
ExaFEL is seeing a hang that seems to be occurring in a Python import in the application. Bisect led me to:

 * First bad commit: ecbc2242f800928b751292e5221f3360315e4bfe
 * Last good commit: a308145c51cbb8a98c97f6eba6e30df221627013

<details>
<summary>Click to expand for bisect log</summary>

[code]

</details>

Backtraces:

 * [rank 0](http://sapling.stanford.edu/~eslaught/spinifel_output_2021-1

[2021-10-30 02:14] lightsighter commented on #1160
Have you tried running with `-lg:safe_ctrlrepl`? Also try compiling with `-DDEBUG_LEGION_COLLECTIVES` and see if it reports anything. Hangs that look like this are almost always because of violations of control replication.

[2021-10-31 19:25] rohany commented on #1148
I'm able to reproduce this on legion commit `f34ede1b714338d79a1b67767b6d26651f1827a8`, but not a more recent `3dac89847e8be99201a1768704639409dafb6401`. Do you expect that something has changed in this area in the meantime, or the bug is getting masked?

[2021-10-31 23:35] syamajala commented on #1159
@streichler
[code]

[2021-11-01 16:38] syamajala commented on #1159
The NERSC guys said there is an opportunity for me to run S3D on the full machine. Is this an easy fix?

[2021-11-01 17:30] lightsighter commented on #1159
First eight bytes are the implicit provenance, no-op for what we care about (0 means unknown sender which is unusual, but not completely out of the question especially given the message ID below)
Next four bytes are the task ID, which in this case looks right with 114
Next four bytes are the sender ID, 0x570 or 1392 (where you running with at least 1392 ranks?)
Next four bytes are the channel ID,

[2021-11-01 17:44] syamajala commented on #1159
I believe the seg fault was in receive_message again. This was what I saw in gdb:

[code]

[2021-11-01 18:24] lightsighter commented on #1159
The issue seems to be that the message manager is aligned on a 2-byte boundary which should never happen `this=0x1d012e0000000002`. I can't seen any obvious reason this would occur. Whatever is causing it will be very subtle and hard to find.

[2021-11-01 18:33] magnatelee opened #1161 "legion_prof_rs: entered unreachable code"
I hit `'internal error: entered unreachable code', src/state.rs:2035:17` when I passed [this log file](https://github.com/StanfordLegion/legion/files/7455421/prof_0.zip) to legion-prof-rs.

[2021-11-01 20:33] streichler commented on #1159
@lightsighter where is the pointer to the message manager stored?  `0x1d012e0000000002` looks like a Realm processor ID for a utility processor (if the command line I have from @syamajala applies here) on rank 302.  Maybe something before it
in the containing data structure has an overrun for large node counts?

[2021-11-01 22:27] lightsighter commented on #1159
@syamajala and @magnatelee: what are you setting this to?

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_config.h#L170

[2021-11-01 22:42] magnatelee commented on #1159
@lightsighter aha, I was using the default (`1024`), so the crash was expected. I can increase the value and give another try.

[2021-11-01 22:43] magnatelee commented on #1159
That said, I thought we had some safeguard for this case, didn't we? I guess we need to figure out why I couldn't get a more informative error message.

[2021-11-01 22:52] lightsighter commented on #1159
It appears we don't have a check for this value which I will add.

[2021-11-01 23:18] lightsighter commented on #1159
It looks like we did have a check because there was an error code for it, but it got deleted at some point during a refactoring.

[2021-11-01 23:59] elliottslaughter commented on #1160
Do these options flush their output (if triggered)? I'm not seeing any output at all with these, and the application still freezes.

[2021-11-02 00:19] lightsighter commented on #1160
If there is no output then you didn't trip over them.

Are you using phase barriers/dynamic collectives with control replication?

[2021-11-02 15:20] pmccormick commented on #1159
I added some "goop" to the cmake config to expose these as parameters and also verify that they are a power-of-two.  I'll provide a PR once I kick the tires a bit more.

[2021-11-02 21:46] elliottslaughter commented on #1160
The application code does not use phase barriers. Pygion does:

 * https://github.com/StanfordLegion/legion/blob/master/bindings/python/pygion.py#L1901
 * https://github.com/StanfordLegion/legion/blob/master/bindings/python/pygion.py#L1925

Those are the two call sites where this is likely to be frozen. Note the use of the scheduler lock around the second one. If phase barriers are doing anything

[2021-11-02 23:37] elliottslaughter commented on #1160
Ok, some more debugging.

I've confirmed that we're freezing on the second time through this call site:

 * https://github.com/StanfordLegion/legion/blob/master/bindings/python/pygion.py#L1901

Stack trace looks very bland. This is the second task that is being registered, but there is nothing else unusual about it. We're in the middle of a module import, but that was true of the first task too. B

[2021-11-03 09:28] lightsighter commented on #1160
Looking at the code, I'm not sure we actually learned anything running with `-lg:safe_ctrlrepl` or `DEBUG_LEGION_COLLECTIVES` because holding the processor lock around legion API calls that could potentially block to perform the safe control replication checks or legion collective checks is not safe.  That is just a detail.

This looks like the actual problem to me, from rank 1 backtraces:

[code]

[2021-11-03 09:30] lightsighter commented on #1160
I think the "bad" commit is actually just a red-herring that has perturbed the timing by inserting some extra mapping fences into the execution whenever phase barriers are advanced.

[2021-11-03 09:33] lightsighter commented on #1160
Actually looks like most of the process are blocked trying to get the GIL. If Legion is the only non-trivial backtrace then I can look at things in more detail, but as long as things are blocked trying to run Python then those are almost certainly the cause of the hang given that the rest of control replication code seems to be working in all other cases.

[2021-11-03 16:03] syamajala commented on #1159
That fixes the seg fault for me. Im still seeing unrelated gasnet issues at 384 nodes on Perlmutter though. I'll ping the gasnet guys.

[2021-11-03 19:32] lightsighter commented on #1159
Ok, I'm closing this issue and #1139 now that I've added checks back into the runtime for this.

[2021-11-03 19:32] #1159 closed

[2021-11-03 19:32] lightsighter commented on #1139
Duplicate of #1159 and fixed.

[2021-11-03 19:32] #1139 closed

[2021-11-03 22:12] elliottslaughter commented on #1160
Ok, so it looks like the root issue is that barrier advance is now a potentially blocking operation. For the Pygion registration code to be safe, I need to cover all blocking operations with the Realm scheduler lock, otherwise you get module import cycles like what we're seeing here. That means moving the lock acquisition up to cover all the barrier operations, whereas previously the lock only nee

[2021-11-03 22:55] lightsighter commented on #1160
I think you need to consider that any call into the Legion runtime can potentially block. In most cases we don't and we try to avoid blocking as much as possible, but if you hit lock contention on a synchronization primitive inside the runtime then we will block, and that's just the nature of how things go. The only way to truly avoid blocking is not to call into Legion.

[2021-11-03 23:45] elliottslaughter commented on #1160
In that case, I think we really need to take the Realm scheduler lock at the point where we do any `import` statement in Python, because of the locking Python itself does on import. I'm not aware of a way to do that, but will try to do some research.

[2021-11-04 00:21] streichler commented on #1100
@PHHargrove did you ever get a chance to test out the change in the `bug1100` branch: https://gitlab.com/StanfordLegion/legion/-/commits/bug1100

[2021-11-04 05:40] lightsighter commented on #1160
Maybe helpful: https://docs.python.org/3/reference/import.html#import-hooks

Can you remind me why Pygion needs to do this around imports while Legate doesn't?

[2021-11-04 16:36] elliottslaughter commented on #1160
Doesn't Legate preregister all tasks?

The potential Pygion freeze (if we don't use a Realm scheduler lock) looks like this:

 * `legion_python main.py` starts by `exec`-ing `main.py`
 * `main.py` calls `import foo`. Note that when Python imports a module, an internal lock is acquired.
 * Module `foo` registers a task `bar`. This places an entry in the Realm task registration queue.
 * Module `foo

[2021-11-07 03:27] streichler commented on #1154
@albovoci can you try cherry-picking this commit onto whatever legion branch you're using and see if it links properly (and works right): https://gitlab.com/StanfordLegion/legion/-/commit/57b560a696580e777150aae4adc806fcbf4af3d3

[2021-11-07 15:46] streichler opened #1163 "realm: need openmp coverage testing"
Make sure we test for different parallel for schedules, data types, strides (up and down)

[2021-11-08 01:25] PHHargrove commented on #1100
@streichler
I believe this was the topic of [this Slack thread](https://pagoda-cxx.slack.com/archives/C01G00B1P3K/p1624496114029900) in late June, when I reported that the bug1100 branch did not resolve the issue for me.

[2021-11-08 08:18] lightsighter commented on #1160
Used to very long ago. Now each shared object dynamically registers their functions on the fly using registration callbacks. It's all done on the C++ side though which is probably where the disconnect comes from.

[2021-11-08 09:13] mariodirenzo opened #1164 "Realm: OpenMP compatible RectInDomainIterator"
It would be nice to have a construct similar to `RectInDomainIterator` compatible with OpenMP.
In particular, a loop that currently looks like
[code]
should become something like
[code]
whereby the OMP threads loop over a flattened domain.

It could also be useful to have a construct such that the OMP parallelized loop iterates over all the points that satisfy a condition (for instance, `i == (*Ri

[2021-11-09 20:00] streichler commented on #1032
Pinging here too: #1154 has a proposed fix that I need somebody to test out

[2021-11-09 20:14] streichler commented on #1164
@mariodirenzo how about something like:
[code]

It looks like this can be made to work with OpenMP 5.0 (the necessary subset of which looks to be supported by gcc 9+
and clang 11+), and I'm optimistic that we can make it work with the CUDA kernel launch pattern @lightsighter was describing as well as Kokkos' upcoming `for_each` construct.  In addition to iterating over individual points, I think w

[2021-11-09 23:56] elliottslaughter commented on #1164
Regent doesn't really have a notion of iterators at the moment, but it would be easy enough (syntactically) to support something like:

[code]

[2021-11-12 08:47] mariodirenzo commented on #1164
Sean, this solution looks good to me.
I have just two questions:
- will `iter_points()` be aware of how the instance has been allocated in memory by the mapper and provide the fastest access path to its points?
- maybe I did not completely catch the concept of `iter_tiles`, could you expand on how it will cover the case of `i == (*Rit).lo.x`?

[2021-11-12 19:51] streichler commented on #1164
The underlying index space iterator would have a way to choose the dimension order for iteration (there's no "right" answer
because it can be associated with many instances), and we can look at adding a helper for suggesting the right order to use for
a given physical region

asking for tiles with a huge extent in x but an extent of 1 in every other dimension will cause the iterator to return a se

[2021-11-14 04:30] albovoci commented on #1154
@streichler Legion compiles just fine. However, I can't compile the code at all. It gives a very long list of errors.
I don't understand most of it, but it seems some of the Legion functions are missing? Some example errors printed:
`prometeo_mapper.cc:(.text._ZN13SampleMapping15Tiling3DFunctorD2Ev[_ZN13SampleMapping15Tiling3DFunctorD5Ev]+0x8): undefined reference to `Legion::ShardingFunctor::~Sha

[2021-11-14 05:18] streichler commented on #1154
Which commit/branch of Legion are you trying to build against?  Do you remember which one you were using the last time it linked properly?

[2021-11-14 06:18] albovoci commented on #1154
Hi; sorry, my bad. I had a but in my configuration file, had to clean it up and rebuild. I got it to work (and its working correctly, at least as far as I can tell from my simulation outputs)!

[2021-11-14 09:23] lightsighter commented on #1150
Pull the latest control replication (`731c514db7256e` on gitlab) and try again.

[2021-11-16 16:13] opensdh commented on #1150
Testing with 2f4232a183 doesn't seem to change anything: I happened to get the region_tree.inl:2572 assert this time.

[2021-11-16 19:46] lightsighter commented on #1150
Please update the reproducer on sapling.

[2021-11-16 23:16] jpietarilagraham commented on #1150
[code]

[2021-11-23 10:39] dzhang314 opened #1165 "Index launches with `COLOR_COORD_T != Legion::coord_t` are broken"
Consider the following Legion program, which constructs a `LogicalPartition` and performs an index launch of a no-op task.

[code]

This program produces the following error when run on 1 node on Sapling (`master` branch, debug build, Kokkos support enabled, commit `814f8577c`):

[code]

This error does not occur when `COLOR_COORD_T` is set to `Legion::coord_t`. Turning on `-lg:warn` doesn't tell

[2021-11-27 19:23] lightsighter commented on #1165
Pull and try again in the `master` branch.

[2021-11-29 17:12] rohany commented on #1148
Hey Mike, did you get a chance to look at this?

[2021-11-30 06:30] dzhang314 commented on #1165
@lightsighter Looks like it's working now! But there's another oddity: if I change the line `using COLOR_COORD_T = int;` into `using COLOR_COORD_T = long;`, then I get the following compilation error:

[code]

Does Legion only support `COORD_T == int`, `unsigned int`, and `long long`? It's reasonable enough if that's the case, I've never just seen this documented anywhere. I had always assumed tha

[2021-11-30 06:41] dzhang314 commented on #1165
This also breaks in a different way if I set:

[code]

when running on multiple nodes on Sapling. In this case, I get the following error:

[code]

I can get you frozen processes on Sapling if / when you'd like to take a look at them.

[2021-11-30 09:55] lightsighter commented on #1165
Pull and try again

Legion supports whatever Realm supports: https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h#L41

[2021-11-30 10:04] lightsighter commented on #1150
There should be a fix in the control replication branch now. It still needs another performance optimization, but it should be functionally correct. Pull and try it out. If it is still failing then make another reproducer.

[2021-11-30 20:21] #1154 closed

[2021-12-02 04:34] opensdh commented on #1150
Using 45d99995f allows this test case to complete successfully.

[2021-12-03 21:57] magnatelee opened #1166 "regent: CUDA Kernel id collision with separate compilation"
We've been noticing collisions between CUDA kernel ids from shared libraries separately compiled by the Regent compiler, despite the kernel ids being dynamically generated. The root cause seems to be that global variables containing the kernel ids are mapped to the same address. The following is the steps to reproduce the issue:

1) Apply this patch:
[code]

2. Run `./regent.py examples/separate_c

[2021-12-04 18:08] jmwang14 opened #1167 "Non-deterministic hangs while running HTR"
I am running a 45-node simulation on Lassen using HTR and the 11/24 Legion commit `f4f80752` of control_replication.  The runtime hangs non-deterministically, usually after ~10-100 time steps.  Attached are two backtraces taken during one of these hangs, taken several minutes apart.  Legion is compiled with `CXXFLAGS='-g'` and the GasNet version is 2021.9.0.  HTR is run with `DEBUG=1`.

[bt-first.

[2021-12-04 18:17] mariodirenzo commented on #1167
@elliottslaughter can you add this issue to #1032?
I do not know if this is Realm or Legion related but it is definitely top priority,

[2021-12-04 19:52] lightsighter commented on #1167
Try running with `-ll:defalloc 0` and see if it reproduces.

[2021-12-05 00:41] jmwang14 commented on #1167
It still hangs with `-ll:defalloc 0`

[2021-12-05 20:49] lightsighter commented on #1167
Try with `-lg:inorder` and get backtraces if it hangs.

[2021-12-05 20:49] lightsighter commented on #1167
Also which GASNet version and conduit are you using?

[2021-12-05 20:51] lightsighter commented on #1167
Try the fix for #1070 as well

[2021-12-05 21:07] streichler commented on #1167
It looks like commit `f4f80752` includes this fix already.

[2021-12-05 21:32] jmwang14 commented on #1167
I'll run with `-ll:defalloc 0 -lg:inorder` and get backtraces.  GASNet version is 2021.9.0 and `CONDUIT=ibv`.

[2021-12-06 06:25] jmwang14 commented on #1167
Backtrace attached.
[bt.tar.gz](https://github.com/StanfordLegion/legion/files/7658470/bt.tar.gz)

[2021-12-06 09:17] lightsighter commented on #1167
How far did this run make it before it hung? Can you also do a run with `-lg:safe_ctrlrepl 1`?

[2021-12-06 18:53] jmwang14 commented on #1167
On the previous run, it hung after the 9th time step.  For the attached backtrace with `-lg:safe_ctrlrepl 1`, the runtime froze before the end of the of first time step.

[bt.tar.gz](https://github.com/StanfordLegion/legion/files/7662900/bt.tar.gz)

[2021-12-07 10:39] lightsighter commented on #1167
All signs point to this being a Realm or a GASNet hang. There is no rhyme or reason to these backtraces. Usually whenever it's Legion's fault for a hang, it will only happen without `-lg:inorder` and `-lg:inorder` will make the hang go away or make it completely deterministic. In these backtraces we don't see either. The `-lg:inorder` flag isn't producing any kind of deterministic execution or det

[2021-12-07 15:59] streichler commented on #1167
Let's look at DMA requests first, running with `-level dma=2,xplan=1` and attaching the log files for every rank here please.

[2021-12-07 16:35] jmwang14 commented on #1167
Which log files are you referring to?  `0.log`, `1.log` etc. are all empty for me.

I ran with `-ll:defalloc 0 -lg:inorder -lg:safe_ctrlrepl 1 -level dma=2,xplan=1`, and the runtime freezes before the first time step is complete.  It seems to catch the following assertion error:
`prometeo_O2OMix.exec: /usr/WS1/wang83/build/legion-gpu-2021-11-24-debug/runtime/realm/event_impl.cc:1852: void Realm::G

[2021-12-07 16:50] mariodirenzo commented on #1167
If you run HTR with `DEBUG=1` in your environment, the files `0.log`, `1.log`, etc. are attached to each of the nodes/ranks and are what Sean was asking for (provided that the code runs long enough to produce some logging lines).

[2021-12-07 17:04] streichler commented on #1167
Ok, let's run first with `-level event=2` and see if we can determine whether there's a double-trigger of an event.

[2021-12-07 20:33] syamajala commented on #1166
Any word on when the fix for this will be merged into control_replication?

[2021-12-07 20:41] magnatelee commented on #1166
Like you already know, we've got a workaround in [this branch](https://gitlab.com/StanfordLegion/legion/-/tree/unique_kernel_id), which basically tries to assign a unique id to each kernel (but no guarantee because of potential hash conflicts). @elliottslaughter I think we should merge this workaround while figuring out a right fix. Adding a collision check shouldn't be too difficult. What do you

[2021-12-08 17:02] elliottslaughter commented on #1166
@magnatelee Go ahead and push the workaround. If you can, get it in a single commit so we can roll it back easily.

There's (probably) some sort of an underlying Terra bug here, so I'd still like to investigate it, but it's going to take more time.

[2021-12-08 20:35] jmwang14 commented on #1167
Log files attached, with `-ll:defalloc 0 -lg:inorder -lg:safe_ctrlrepl 1 -level event=2`.  It failed before the first time step was complete.  No error message printed this time.

[log-files.zip](https://github.com/StanfordLegion/legion/files/7678781/log-files.zip)

[2021-12-08 21:05] streichler commented on #1167
The `-level event=2` was only going to be useful for that assert fail, so let's maybe run with both sets of logging (i.e. `-level dma=2,xplan=1,event=2`) so that we can try to debug whichever of the two ways it fails.

[2021-12-09 02:38] jmwang14 commented on #1167
Log files attached, using the flags `-ll:defalloc 0 -lg:inorder -lg:safe_ctrlrepl 1 -level dma=2,xplan=1,event=2`.  This time it tripped the assertion error (before first time, again):

`prometeo_O2OMix.exec: /usr/WS1/wang83/build/legion-gpu-2021-11-24-debug/runtime/realm/event_impl.cc:1852: void Realm::GenEventImpl::trigger(Realm::EventImpl::gen_t, int, bool, Realm::TimeLimit): Assertion `gen_tri

[2021-12-09 19:56] syamajala opened #1168 "Realm: gasnetex RMDA Put error"
My last round of testing gasnetex on Summit resulted in the following error:
[code]

According to the gasnet people status=4 opcode=1 means IBV_WC_LOC_PROT_ERR (local protection error) on a RDMA Put operation.

I believe this still needs to be investigated on the Realm side. I have to do a run with a debug build of gasnetex using this branch: https://bitbucket.org/PHHargrove/gasnet-public/src/mast

[2021-12-11 05:12] jmwang14 commented on #1167
Hi Sean, have you had the opportunity to check out the log files?  Please let me know if there is any other information I can provide.  This is a critical issue for me, so I appreciate any time you're able to give it.  I am avoiding the latest commit due to these hangs and resorting to an old commit still with the distributed collectible error, but a large portion of those simulations fail to star

[2021-12-11 10:45] lightsighter commented on #1167
Do we have backtraces yet for the double event triggers?

[2021-12-11 16:16] jmwang14 commented on #1167
What Legion flags do I use for that case?  I can obtain backtraces for `-level dma=2,xplan=1,event=2` if that is what you are referring to.

[2021-12-11 20:35] scardracs commented on #575
Still waiting for update to hwloc-2.6.0

[2021-12-11 20:36] scardracs commented on #575
If you have any patch please provide it as I could add it to gentoo ebuild

[2021-12-13 17:54] streichler commented on #575
@scardracs As was suggested a while back, I think the simplest thing to do here is to remove the Legion package's dependence on hwloc entirely.  We routinely build without hwloc in our development, so I'm not sure what the issue that @keszybz encountered before was.  If you're not sure how to disable use of hwloc in Legion, please point me at your build script and I'll see if I can suggest somethi

[2021-12-13 17:56] streichler commented on #1165
@dzhang314 Is this resolved to your satisfaction?

[2021-12-13 17:58] streichler commented on #1157
@roman955b were you able to use the examples Elliott gave to get this working for you?

[2021-12-13 18:00] streichler commented on #1145
@rohany Did we sort this one out?

[2021-12-13 18:01] streichler commented on #1160
@elliottslaughter it looks like this one has been resolved?

[2021-12-13 18:04] rohany commented on #1145
There were a few points in the issue I think:
* The original hang due to deferred allocations -- I worked around this by backpressuring task execution and using -defalloc 0. But the hang without defalloc is still there.
* The distributed collectible error -- I don't know if Mike got a chance to look at those logs, but this bug has popped up in different places, so this likely isn't the issue to be

[2021-12-13 18:08] scardracs commented on #575
Yeah I know how to remove it, the only point is that Gentoo ebuild use +hwloc, which means is forced by default. If you prefer to remove it I can proceed on dropping it on Gentoo side (as I'm working on cleanup/maintain it)

[2021-12-13 18:25] elliottslaughter commented on #1160
The immediate issue has been fixed. There are still some potential footguns, but we can come back to this if/when we hit them.

[2021-12-13 18:25] #1160 closed

[2021-12-13 18:39] streichler commented on #575
I'm not that familiar with Gentoo's build system, but having Legion's use of hwloc be disabled by default sounds better to me.

[2021-12-13 20:35] jmwang14 commented on #1167
Log files and backtraces attached, running with `-level dma=2,xplan=1,event=2`.  Three nodes froze with the same assertion error:
`prometeo_O2OMix.exec: /usr/WS1/wang83/build/legion-gpu-2021-11-24-debug/runtime/realm/event_impl.cc:1852: void Realm::GenEventImpl::trigger(Realm::EventImpl::gen_t, int, bool, Realm::TimeLimit): Assertion 'gen_triggered == (generation.load() + 1)' failed.`

[bt.tar.gz]

[2021-12-14 12:56] scardracs commented on #575
Short answer:

Gentoo uses ebuilds, which use a list of flags (IUSE). On legion there is a IUSE="... +hwloc ..." and that means it is forced by default if not disabled system-wide. I'm gonna drop it this evening.

[2021-12-15 10:49] lightsighter commented on #1167
This continues to look like a control replication violation. At least two different shards are disagreeing on who the owner is of an asynchronous collective operation.

These runs are all done with Legion having been built in debug mode? You can build with `-O2` but Legion must have `DEBUG_LEGION ` defined.

What happens if you run with `-lg:safe_ctrlrepl 2`?

[2021-12-20 23:17] apryakhin commented on #818
Hi Sean, do we still need to refactor this? If yes could you please elaborate on what needs to be done? For example with respect to the private/public. Thanks!

[2021-12-28 04:20] rohany opened #1169 "realm: hdf5 write to disk fails on rectangular region"
This small program:
[code]
fails with an HDF5 error within a realm transfer operation:
[code]

The program succeeds if the `dimx` and `dimy` variables above are changed to have the same value. This is probably a small realm fix @streichler.

[2022-01-03 15:34] syamajala commented on #1166
Can we get this merged into control_replication sometime this week?

[2022-01-03 17:28] streichler opened #1170 "realm: implement LockReleaseMessage?"
The handler for `LockReleaseMessage` seems to be unimplemented?  Probably should also write a test that cares.

[2022-01-03 22:01] magnatelee commented on #1166
@syamajala the workaround is pushed to `master` and should be merged with `control_replication` soon; there were some merge conflicts that I don't know how to resolve.

[2022-01-04 03:21] magnatelee commented on #1166
@syamajala now available in `control_replication` as well. closing this issue.

[2022-01-04 03:21] #1166 closed

[2022-01-04 17:45] rohany commented on #494
In my recent work (using Legion for distributed sparse tensor computations) I have several operations done manually right now that could fit into an affine-partitioning based API. I'll update this as I create more.

1) A literal affine projection. I have a function that remaps the upper and lower bounds of index space domains i.e. `Point<N> -> Point<M>` according to a constructed projection and fi

[2022-01-05 15:43] jmwang14 commented on #1167
Hi Mike, I recompiled Legion with `-O2 -DDEBUG_LEGION`, and ran HTR with `-ll:defalloc 0 -lg:inorder -lg:safe_ctrlrepl 2 -level dma=2,xplan=1,event=2`.  I don't have backtraces for this run, but I've attached log files.  Error messages of the type
[code]
were printed for a number of shards.

[log-files.tar.gz](https://github.com/StanfordLegion/legion/files/7816004/log-files.tar.gz)

[2022-01-05 19:04] elliottslaughter commented on #1167
@jmwang14 This error message indicates a control replication violation, like @lightsighter suspected.

Does your code contain a task named `future_from_value`? I can't find this string anywhere in the Regent compiler or Legion C API interface.

It would appear that you're either calling a different sequence of tasks, or perhaps calling this task with different values on different shards.

[2022-01-05 19:13] jmwang14 commented on #1167
That string does not appear in the HTR source.  However I do see a `future_from_value` on line 11449 of `$LEGION_DIR/runtime/legion/legion_context.cc`, commit `f4f80752`.

[2022-01-05 19:23] elliottslaughter commented on #1167
For posterity this is the line in question (from a newer commit, but should be same line):

https://github.com/StanfordLegion/legion/blob/e67a940283e9084fd7bd84953ac8f295174cfafc/runtime/legion/legion_context.cc#L11456

That makes me suspect you're going through this API call:

https://github.com/StanfordLegion/legion/blob/e67a940283e9084fd7bd84953ac8f295174cfafc/runtime/legion/legion_c.h#L2621

W

[2022-01-05 22:27] dzhang314 commented on #1165
@streichler Yep! Sorry about the delay -- closing this issue now.

[2022-01-05 22:27] #1165 closed

[2022-01-06 18:49] jmwang14 commented on #1167
I have attached backtraces after recompiling the code with `regent.py -g ...`.  They do not seem to show the failing line in task `workSingle`.  The error message below was also printed from each of the 45 nodes (shard 28 shown):

[code]

[bt.tar.gz](https://github.com/StanfordLegion/legion/files/7824052/bt.tar.gz)

[2022-01-06 18:58] elliottslaughter commented on #1167
This backtrace is actually not what I expected. Here's the relevant bit (from `bt_1.log`, though it's the same on every node):

[code]

`workSingle` is calling into `legion_index_partition_create_domain_point_coloring`. That would seem to indicate that the partitioning is not the same on every node? It might be helpful to get @lightsighter to confirm this interpretation of the backtrace.

If my di

[2022-01-10 17:43] lightsighter commented on #1167
That's exactly what this error message is saying. You need to provide the same partitioning input on each of the shards. It's up to the application to do this deterministically or you will get undefined behavior from the runtime.

[2022-01-10 21:51] mariodirenzo commented on #1167
This explanation sounds a bit strange to me for two reasons:
- I cannot see any piece of code in the HTR partitioning algorithm that should provide different inputs to the partition calls of each shard.
- That piece of code has not been touched for the past year or so and we have started seeing this issue only recently.

We are using the results of some partition calls to construct other partition

[2022-01-11 00:23] elliottslaughter commented on #1167
A couple things:

 1. The run was done with `-lg:inorder` so literally everything should be in order.
 2. The callsite is clearly going through `legion_index_partition_create_domain_point_coloring` (per the backtrace above). The only place where this gets called by the Regent compiler is https://github.com/StanfordLegion/legion/blob/e1443112edaa574804b3b9d2a24803e937b127fd/language/src/regent/code

[2022-01-11 00:30] elliottslaughter commented on #1167
Actually, I'll make this even easier. Apply this patch to Regent and then you don't need to modify HTR at all. It should spit out the source and line where the offending call is taking place:

[code]

[2022-01-11 01:51] lightsighter commented on #1167
This might just be a bug in the control replication violation check. Pull and try again.

[2022-01-11 05:30] lightsighter commented on #1150
@opensdh Please check that this issue is still resolved as I've pushed my more general fix for it. If your case passes then please close the issue.

[2022-01-11 15:14] jmwang14 commented on #1167
I'm getting the following error while compiling HTR, using the latest commit to `control_replication` of Legion:
[code]

[2022-01-11 16:56] lightsighter commented on #1167
I agree with @elliottslaughter, that seems like a build issue. I would try doing a clean build. The change from yesterday passed through our CI infrastructure just fine and was a minor change that modified just a few characters.

[2022-01-11 19:10] jmwang14 commented on #1167
This is with clean builds of both HTR and Legion.  I've attached the output of `make clean; make -j |& tee make.log` in the HTR source, if it is helpful.  All of the runs reported above were with `f4f80752` of Legion, which was from 11/24/2021.  Is there any chance some change since then could be leading to the `murmur_hash3_32` error?  I've also kept my local HTR branch frozen throughout.

[make.

[2022-01-11 19:33] elliottslaughter commented on #1167
I think the problem is at https://github.com/StanfordLegion/legion/commit/95b191b8fd9edb5da14b85d9210bc6f4bb8edc2c#diff-2225ef11b1f16dfc659dfc3a248ca9babe50c1aed760d2152050b38f396e1292R1042 , which appears to break `-foffline 1`.

Do you really need `-foffline 1`? It might be that you could work around with `-fcuda-offline 1`, which might be sufficient for what you're doing.

[2022-01-11 21:09] mariodirenzo commented on #1167
We had to switch to -foffline because of #956. Maybe on the particular setup that Jonathan is using -foffline-cuda might be sufficient but it is not general enough

[2022-01-12 02:13] manopapad opened #1171 "Double-free error when inline-mapping 9d array"
The following cunumeric program causes a double-free error in Realm:

[code]

This program tries to create a 9-dimensional `4x4x...x4` array and inline-map it. The crash does not happen for an 8-dimensional array, or for a `3x3x…x3` 9-dimensional array.

Looking through gdb, it looks like Realm tries to delete the same `GPUXferDes` object twice. The same object appears under two different `xd_id`’

[2022-01-12 04:57] magnatelee commented on #1167
A fix has been merged with `control_replication`. @jmwang14 can you pull and try again?

[2022-01-12 15:43] opensdh commented on #1150
The same test passes.

[2022-01-12 15:43] #1150 closed

[2022-01-12 17:43] jmwang14 commented on #1167
With the latest commit `f2c5fc66` on `control_replication`, the simulation hangs during startup with no error message.  Log files are attached.  I kept all the previous flags: `-DDEBUG_LEGION` for building Legion, `regent.py -g ...` for building HTR, and `-ll:defalloc 0 -lg:inorder -lg:safe_ctrlrepl 2 -level dma=2,xplan=1,event=2` for running HTR.

[log-files.tar.gz](https://github.com/StanfordLeg

[2022-01-13 07:19] lightsighter commented on #1167
When you say that this hung during startup, do you mean that it hung before starting the top-level task, or that it hung as the application was doing it's startup? Most of these log files are so short I would find it hard to believe that the application had even started yet. My prior probability that something is either wrong with your system configuration or GASNet install is growing pretty consi

[2022-01-14 01:57] rohany opened #1172 "legion: dependent partitioning operation appears to non-deterministically fail on multiple nodes"
I have an application that at it's core looks like this:

[code]

I've run this computation on 1 node with 8 partitions and don't see any errors. I tried scaling this code to 4 nodes (where 8 partitions are used), and non-deterministically see an error. The error is that sometimes, some of the B_part subregions are empty, when they should not be (i.e. the result of partitioning appears to change n

[2022-01-14 02:57] streichler commented on #1172
@rohany how big is `dim` on the runs that fail?
Also, is that definition for `B` right?  `1<<63` probably doesn't mean what you want it to for `int64_t`, let alone `int32_t`.

Logging may be able to shed some light, but it'll need a bit of help to be useful.  Please:
1) add some application level logging to record the ranges you write into A (both the index in A and the range in B, and do it right

[2022-01-14 03:41] rohany commented on #1172
Some clarification before I head off an do this:

It's not actually 1 << 63 (trying to put it too close to coord_t max raises some other problems in the runtime...). It's just some value larger than I will actually ever need.

The A region is relatively large (~22 million elements). I don't know if this will be tractable to look at. Do you still want it?

What do you mean by "please say which subr

[2022-01-14 05:56] streichler commented on #1172
It'll be a big log file, but without that information, I won't know if the ranges appearing in the deppart log messages are right or not.  The alternative would be to see if you can get the same failure if you use some sort of easily-derived-from-the-index-in-A ranges.  Let's try the logging first though.

I just need to know which of the subregions of B are empty - the log messages will give me t

[2022-01-14 05:59] rohany commented on #1172
Closing because I found the problem -- it turned out not to have anything to do with dependent partitioning at all. Instead, my compiler had incorrectly generated an inline mapping of a region with RW privilege, and then launched a task on that region also with an RW privilege. It then seemed like legion got confused about which instance to give to the dependent partitioning operation, resulting i

[2022-01-14 06:16] manopapad commented on #1172
AFAIK if you try to launch a task on a region that's inline mapped, then Legion will automatically unmap the inlined region before the task starts, and remap it after the task finishes. It sounds like this wasn't quite the case for you (although the intervening operation was a partitioning operation, not a task launch). It would be interesting to compare spy graphs of a successful and an unsuccess

[2022-01-14 06:24] rohany commented on #1172
Actually, there was a task launch in the middle. The full flow of operations was:

create region A
(accidentally) inline map A with RW
launch task over A with RW
use A to fill information in region B <- this step was sometimes getting incorrect data for A (in particular uninitialized data)
compute partitions of region C using image_range on B

[2022-01-14 06:31] manopapad commented on #1172
In that case you can skip region B, region C and the partitioning operation from your minimal example. Just print out the contents of A right after the task launch, and get spy graphs from a run where A was properly initialized, and one where it was not.

[2022-01-14 06:33] rohany commented on #1172
Do the spy graphs need legion to be built with -DLEGION_SPY or without is fine?

[2022-01-14 06:49] manopapad commented on #1172
It should be fine to just run with `-lg:spy -logfile spy_%.log`, no need to recompile with `-DLEGION_SPY`.

[2022-01-14 06:56] rohany commented on #1172
Lame, both runs failed with:
[code]

Attaching all of the files here:

Logs from an invalid run:
[spadd3-invalid-spy-0.log](https://github.com/StanfordLegion/legion/files/7868399/spadd3-invalid-spy-0.log)
[spadd3-invalid-spy-1.log](https://github.com/StanfordLegion/legion/files/7868401/spadd3-invalid-spy-1.log)
[spadd3-invalid-spy-2.log](https://github.com/StanfordLegion/legion/files/7868402/spadd

[2022-01-14 07:00] manopapad commented on #1172
^ @lightsighter these files made Legion spy sad

[2022-01-14 07:36] lightsighter commented on #1172
Did the run exit cleanly without crashing?

[2022-01-14 07:38] lightsighter commented on #1172
Legion should unmap and remap for you. Please make a reproducer.

[2022-01-14 16:18] rohany commented on #1172
Yes

I don't think I did anything like this, but what would indicate I did?

I'm not having much luck making a reproducer on sapling. Are there instead log files I can give you from runs on lassen?

[2022-01-15 06:56] lightsighter commented on #1172
@rohany Pull and regenerate the logs. This time with the runtime built to dump detailed Legion Spy logging. These logs currently give this output when we attempt to run verification on them:

[code]

[2022-01-15 07:17] rohany commented on #1172
New log files are attached. Running spy on both doesn't seem to give an error, but it complains that the runs may have crashed (which they didn't). I changed the application to just print when it sees the signs of the invalid source regions of the partition instead of crashing.

[spadd3-spy-invalid.zip](https://github.com/StanfordLegion/legion/files/7874450/spadd3-spy-invalid.zip)
[spadd3-spy-vali

[2022-01-15 07:27] rohany commented on #1172
Ah, forgot to run the legion spy with `-lp`. With that, Legion spy reports an error that sounds like exactly what happened:

[code]

[2022-01-15 08:52] lightsighter commented on #1172
I'm pretty sure the issue is not what you think it is. This is just a duplicate of #907 with inline mappings instead of attach operations. The problem is the same. Singular attach operations and inline mappings in control replicated contexts are just broken in the same way which is clearly noted in #765 and will be until the collective instance branch from #546 is merged.

[2022-01-15 08:52] lightsighter commented on #1172
We'll keep this issue open for now though to figure out why Legion Spy thinks things were not completely logged.

[2022-01-15 15:11] streichler opened #1173 "realm: incorrect usage of gex events in rma put path"
This failure from a debug gasnet build:
[code]
is believed to be due to Realm treating the local and remote completion of the put as two independent gasnet events.  In reality, the local completion is a "leaf event" of the remote completion's "root event", and and a successful test of the remote completion invalidates the local completion event.  Need to fix this and scrub other paths that use gas

[2022-01-15 17:00] jmwang14 commented on #1167
I've tried two other tests:
(1) Using `-ll:bgwork 1` at runtime
(2) Compiling Legion with `REALM_NETWORKS="gasnetex"` (and therefore `GASNet-2021.9.0`), and using `-ll:bgwork 1` at runtime.

Both lead to the same behavior.  I'm not sure where exactly the code is hanging, but the application does start up.  It goes through a few initial operations like creating the output directory and getting the

[2022-01-15 18:06] rohany commented on #1172
From scanning those linked issues again, I'm not sure I understand such operations are even allowed to happen in control replicated contexts if they are broken -- an error from the runtime instead of this non-deterministic output in a region would have been significantly easier to debug.

[2022-01-15 19:33] lightsighter commented on #1167
Can you get backtraces from all the nodes for the early hang when running with `-ll:force_kthreads`?

[2022-01-18 19:50] jmwang14 commented on #1167
Log files and backtraces attached.

[bt.tar.gz](https://github.com/StanfordLegion/legion/files/7891961/bt.tar.gz)

[log-files.tar.gz](https://github.com/StanfordLegion/legion/files/7891960/log-files.tar.gz)

[2022-01-19 07:33] lightsighter commented on #1167
Here is a backtrace that is a pretty damning indictment of either Realm or GASNet:

[code]

Legion is waiting for the response message from a remote node that establishes that an endpoint connection between a pair of nodes. This only needs to happen once between each pair of nodes (in each direction) so once it is set up it never needs to happen again during the run. The send/receive pair of messa

[2022-01-19 17:35] streichler commented on #1167
@jmwang14 can you do a run of the gasnetex build with `-level task=2,event=2,gexmsg=2,amhandler=2` and (assuming it still hangs), attach the logs you get?

[2022-01-20 02:49] jmwang14 commented on #1167
Attached.
[log-files.tar.gz](https://github.com/StanfordLegion/legion/files/7901910/log-files.tar.gz)

[2022-01-24 18:14] syamajala opened #1175 "legion_prof.py physical instance tooltips"
When you have a physical instance with a lot of fields its not possible to see the tooltip. Maybe there could be a linebreak on the list of fields? Or just truncate the field list?

![2022-01-24-101129_3840x2160_scrot](https://user-images.githubusercontent.com/45757/150840244-3a672154-e0f0-44f4-99c3-3c1b57ee512a.png)

[2022-01-24 18:51] elliottslaughter commented on #1175
Sorry, I broke this when I implemented Rust, in order to keep things consistent. I'll look into adding this behavior back.

[2022-01-24 18:59] elliottslaughter commented on #1175
I'm testing a fix in `profiler-break-fields` in case you want to try it out. (I believe it should work for profiles from control replication.)

[2022-01-24 19:10] syamajala commented on #1147
@elliottslaughter this bug looks like its still there too...

[2022-01-24 19:11] syamajala commented on #1175
the fix works for me, both rust and python profilers.

[2022-01-24 19:56] elliottslaughter commented on #1175
I pushed this to `master`. Will make it up to `control_replication` on the next merge; let me know if you need it earlier.

[2022-01-24 19:56] #1175 closed

[2022-01-24 19:57] elliottslaughter commented on #1147
Ok, will try to take a look at this next.

[2022-01-24 22:31] elliottslaughter opened #1176 "Regent: bug in bounds checks"
The following program produces an error when you run it with bounds checks:

[code]

[code]

[2022-01-25 06:25] lightsighter commented on #1057
Summarizing the agreed upon plan from the meeting today to address this issue. The plan will be a hybrid approach requiring a minor extension to the ability to create physical instances in Legion so that applications can create some scratch memory in an instance for use during the lifetime of a task. The extra padding space in the instance will be ineligible for use in mapping logical region data

[2022-01-25 10:09] lightsighter opened #1177 "Communicator Monads"
Many use cases have come up where users want to use a collective library (MPI, NCCL, Aluminum, SHMEM, NVSHMEM) inside of an index space task launch to perform communication between tasks of the index space launch. The idea of this feature is to provide a generic mechanism to facilitate the management of dependences for an arbitrary collective library used by Legion applications. The interface for

[2022-01-25 11:26] mariodirenzo commented on #1057
The problem was actually the opposite of what I said in the meeting. The mapper was trying to use an affine accessor to access a compact-sparse instance. It was an issue with my code.

[2022-01-25 18:41] magnatelee commented on #1177
(I assume by "tasks" you mean index tasks.) My answer is also no, but in that case, I'd use different communicator monads for the two tasks. The proposed monad is a way to specify dependencies between index tasks of some sort (though the "dependency" here is defined in a rather interesting way), so independence should be defined as an absence of such dependencies (i.e., the tasks must be using dif

[2022-01-25 19:17] lightsighter commented on #1057
Yes, that should be an error, so I think we're good on that front.

[2022-01-25 19:54] lightsighter commented on #1177
It's not really a dependence since it doesn't imply ordering between the task launches, it just guarantees atomicity of tasks that are using the same monad or are using monads with overlapping processor sets. Its kind of like the STM monad in Haskell in that sense, it doesn't provide ordering like the I/O monad, but it does provide atomicity in accessing a shared resource. The nice thing about tha

[2022-01-25 20:53] magnatelee commented on #1177
Yeah, by "dependencies" I meant interferences that require atomicity. I misunderstood the case you were describing and reordering of the tasks totally makes sense (as it's similar to the atomic coherence).

[2022-01-25 21:49] elliottslaughter commented on #1177
What's the story for the interaction with GASNet? Is it just "you're on your own"?

[2022-01-25 21:59] lightsighter commented on #1177
As long as Realm has it's active message polling thread then you should be fine using GASNet collectives inside the tasks as well. If you built Realm with a different network module, then it might get a little more dicey.

[2022-01-26 02:05] joeythaman opened #1178 "Tracing succeeds even when different regions are passed as arguments"
I was working with tracing and testing out its functionalities and I wrote the following program expecting it to fail.  As you can see in this program every iteration of the outer loop calls abcd with a different partition region.  From my understanding of tracing, I would expect this to cause tracing to fall as a different region is used in abcd in every iteration.  However, when I run regent.py

[2022-01-26 06:28] rohany commented on #1178
Does it still work if you pass `-dm:memoize` as a command line argument to the program?

[2022-01-26 06:36] joeythaman commented on #1178
Yes even calling regent.py with -dm:memoize, it still works.

[2022-01-26 06:41] joeythaman commented on #1178
Also I am on the master branch on git commit a2ddc9613a41b0a6d16c72bf1b152c0c5f30f80b

[2022-01-26 06:46] rohany commented on #1178
Does it still work if you changed this loop (and have -dm:memoize):
[code]
to
[code]

[2022-01-26 06:48] joeythaman commented on #1178
Yep it still works

[2022-01-26 06:55] rohany commented on #1178
I'm out of ideas, I'm not very familiar with tracing. @lightsighter or @magnatelee can you explain what's going on here?

[2022-01-26 07:09] syamajala commented on #1178
Im no expert either, but I think its because tracing depends on the physical instances not the subregions? Even though you are partitioning the region I guess the default mapper only makes 1 physical instance so it is able to replay the trace.

[2022-01-26 07:11] rohany commented on #1178
If that's the case, try running with `-dm:exact_region` and see if it breaks.

[2022-01-26 07:15] joeythaman commented on #1178
It's still seems to working with `-dm:exact_region`.  To be specific, I ran `./regent.py tests/regent/run_pass/tracing_test.rg -dm:memoize -dm:exact_region` and it ran as I would expect it to.

[2022-01-26 16:50] bandokihiro opened #1179 "Legion spy error"
On `control_replication` commit `f7edcc514c7aaf848e7617f107692f113f0a2ead`, using `legion_spy.py` leads to this error
[code]
To reproduce, the log files are here:
- https://drive.google.com/file/d/14MkS8RGcKDTLV_stsYw41bZSVqaO1Uan/view?usp=sharing
- https://drive.google.com/file/d/1NJzUSZgZTHy3grOOCZtikWYW7W5HtDAT/view?usp=sharing

and the command used is
[code]

[2022-01-26 20:06] lightsighter commented on #1178
Safety checks for tracing are on the todo list in issue #407. For now there are no guardrails, so don't drive off the road.

[2022-01-26 20:20] joeythaman commented on #1178
Good to know.  Thank you!

[2022-01-26 22:37] syamajala opened #1180 "Realm: gasnetex issues on Perlmutter"
I am trying to run gasnetex on Perlmutter and am hitting the following 3 assertions:

[code]

Running with `-level gexmsg=2,gexcomp=2` results in the following:
[code]

[2022-01-27 00:32] syamajala opened #1181 "Realm: gasnet1 issues on Perlmutter"
Running the gasnet1 layer in Realm on Perlmutter I am able to do some multinode runs. At 24 nodes I start seeing this:

[code]

[2022-01-27 00:41] elliottslaughter opened #1182 "CMake support for GASNet ofi conduit"
This is required to build Legion via CMake against GASNet with the ofi conduit.

[code]

Thanks to @PHHargrove for the patch.

I understand that psm conduit can also be removed now.

[2022-01-27 01:51] lightsighter commented on #1181
At a minimum you need to provide a full backtrace.

[2022-01-27 01:53] lightsighter commented on #1178
In general though your expectation that is illegal to replay a trace with different region arguments is accurate.

I'm going to close this issue since we've got it documented that having safety checks on trace replays is something we should do. If you feel like additional discussion is needed then you can reopen the issue.

[2022-01-27 01:53] #1178 closed

[2022-01-27 02:04] syamajala commented on #1181
Here is backtrace:

[code]

[2022-01-27 02:24] lightsighter commented on #1179
Pull and try again. The logging format didn't change so your logs are still good.

[2022-01-27 03:19] streichler commented on #1181
The value doesn't appear in the backtrace, but the assertion is saying that the `Event` value passed to `wait_on` in frame 14 is ill-formed.  @lightsighter can we sanity-check the contents of the message being decoded in frames 16-19?

[2022-01-27 03:39] bandokihiro commented on #1179
Fixed. Thanks.

[2022-01-27 03:39] #1179 closed

[2022-01-27 05:20] bandokihiro opened #1183 "Error while attempting to fix control replication violations"
I am trying to address the errors reported by `-lg:safe_ctrlrepl 1`. While doing so, I came across an error that is triggered without `-lg:safe_ctrlrepl  1`:

[code]

This error happens when I try to create a 2nd level disjoint complete partition in each sub-region of a 1st level disjoint partition. To do so, I do an index launch with the first level index partition as a task argument, get the 1st

[2022-01-27 08:53] lightsighter commented on #1181
I'm pretty sure this is just an uninitialized std::atomic. Pull and try again.

[2022-01-28 04:02] syamajala commented on #1181
I think this fixes the issue.

[2022-01-28 04:02] #1181 closed

[2022-02-01 15:50] mariodirenzo opened #1184 "NVIDIA CUDA Ampere architecture support for Regent"
Hello, is there any plan to include Ampere among the CUDA architectures supported by Regent?
Is it sufficient to add the new architecture to this list to test it?
https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/language/src/regent/cudahelper.t#L198-205

[2022-02-01 17:54] magnatelee commented on #1184
I believe we support ampere in regent: https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/language/src/regent/cudahelper.t#L205 The prerequisite is to build terra with llvm 13.0, which is the version that supports ampere in nvptx.

[2022-02-01 17:56] elliottslaughter commented on #1184
@magnatelee I just added that line. :-)

I confirmed that we have a user who has been using Regent in *online* mode with LLVM 11. The patch I just sent in will (hopefully) enable offline mode as well. Waiting for @mariodirenzo to confirm.

[2022-02-01 18:24] mariodirenzo commented on #1184
The new patch, together with LLVM 11, solves the issue.
Thanks!

[2022-02-01 18:24] #1184 closed

[2022-02-01 19:45] elliottslaughter commented on #1177
Could you talk about the tradeoffs of this approach vs integrating one or more of these libraries into Realm directly? I realize this feature enables access to a much more open-ended set of functionality, but what's being proposed here seems so un-Legion-like and so heavy-weight (e.g., the global synchronization requirement) that I feel like we should explicitly identify why Realm is not enough (a

[2022-02-01 20:21] lightsighter commented on #1177
Which global synchronization requirement are you referring to? If you referring to the interference test between the different monads, it doesn't have to be global, it just needs to be done with respect to any other such monads that use overlapping sets of processors. If there is a monad that needs processors on literally every single node then yes the check must literally look for interference wi

[2022-02-01 21:01] elliottslaughter commented on #1177
By "global", I meant the ordering requirements described in the second half of your first paragraph at the [top of this thread](https://github.com/StanfordLegion/legion/issues/1177#issue-1113683726). You're right that it's not literally global.

It's not obvious to me what happens when you have nesting of index launches using the same communicator. Can a child use a communicator concurrently with

[2022-02-01 22:35] lightsighter commented on #1177
Task registration also works this way, so it's not completely unprecedented.

I thought about this previously and forgot to write down my solution. The use of a communicator monad when launching an index space task will mandate that the mapper pick a leaf-task variant for each point task in the index space launch. That should resolve all your questions by ensuring that they never occur. :) If some

[2022-02-02 22:11] marsupialtail opened #1186 "problem with large regions with pygion"
I am running into some problems with using large regions in Pygion.

Here is my code:

[code]

The files referenced have been uploaded to here:
https://drive.google.com/drive/folders/1wdQ3PTlTmIEl91BITfTxb5eHvn1ATa5a?usp=sharing

**The stack trace and execution command:**
mpirun -np 2 --bind-to none ./legion_python examples/join.py -ll:py 1
a-big.csv 1643839455.885158
b-big.csv 1643839455.9539144

[2022-02-03 04:33] lightsighter commented on #1186
That's not the right stack trace, note it doesn't include this line where the assertion is triggered.

[code]

Run with `REALM_FREEZE_ON_ERROR=1` in your environment, attach gdb, and dump the right stack trace from the thread that actually failed. It should have that line somewhere in the stacktrace.

[2022-02-03 04:36] lightsighter commented on #1186
Even without the stack trace, I can say that this looks like your application (or Pygion) is making a future that is much larger than the pre-reserved size for futures declared in `legion_config.h`. Note you should be able to increase this upper bound when you register the task variant saying precisely how big you expect the future outputs to be. I still want to see the proper stacktrace though to

[2022-02-03 22:13] bandokihiro commented on #1183
Debugged this. Closing.

[2022-02-03 22:13] #1183 closed

[2022-02-04 09:42] lightsighter commented on #1183
What was the source of the bug?

[2022-02-08 00:02] syamajala opened #1187 "Legion: Add Complex Reductions for HIP"
Building complex reductions using HIP currently fails with the following error:

[code]

[2022-02-09 18:40] elliottslaughter opened #1188 "Calling Pygion tasks from Regent"
For some users, adding the ability to call Pygion tasks from Regent would help them integrate their existing Python analyses into Regent codes.

[2022-02-10 11:21] mariodirenzo opened #1189 "Regent: potential bug in inliner"
The following script
[code]
fails with the error
[code]
if executed with the command `INCLUDE_PATH=$HDF_ROOT/include $LEGION_DIR/language/regent.py RegentInlinerBug.rg`.
If the task `readIspaceFromHDF5` is not inlined or if the call to `H5Aread` is commented out, the script is executed correctly.

[2022-02-10 11:30] mariodirenzo opened #1190 "Regent: missing debug symbols"
While debugging a recent version of HTR (commit 673e3e9c) on Sapling, I've realized that gdb was not providing debug symbols Regent tasks even though regent.py was executed with `-g`.
The version of LLVM is 3.8.1.
Do I need a newer version of LLVM?
If this behavior is not expected, please do not hesitate to ask for instruction on how to reproduce the issue.

[2022-02-10 14:08] syamajala commented on #1190
The flag is `-mg` and it has to appear before the file name. I did not test if it still works though.

[2022-02-10 14:49] mariodirenzo commented on #1190
Thanks for the prompt reply.

Yes, it appears just after the `regent.py` script

[2022-02-10 16:56] rohany opened #1191 "legion: O(n^2) loop in index space independence check"
Slack comment thread for context:

Mike: So we're definitely in this doubly nested loop which is O(N^2) in the number of rectangles in the two sparsity maps and the comment about putting an acceleration data structure here in the future is relevant:
https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/region_tree.inl#L1281-1330
That said, i would still ask you why eac

[2022-02-10 18:13] streichler commented on #1191
@rohany you left out the part where I think you're claiming that there's no reason to be doing this test at all?  Can you remind me how that goes?

[2022-02-10 18:18] rohany commented on #1191
Ah yes. Here's the relevant code:

[code]
Here, the expensive check occurs between posSparsePartB2 and posSparsePartA2. I never launch any tasks over either of these partitions and use them just to create the "dense" partitions posIndexPartB2 and posIndexPartA2 formed by taking the bounding boxes of each subregion in the sparse partitions. Since I never do anything else with those partitions, it f

[2022-02-10 18:25] lightsighter commented on #1191
Computing disjointness on partitions is extremely expensive so if you don't tell Legion the disjointess properties of your partition it will start computing it eagerly with the anticipation that you will need it later. The alternative of waiting until the disjointness information is needed often exposes huge latencies. If don't want the runtime to compute anything then tell it pessimistically that

[2022-02-10 18:31] rohany commented on #1191
Awesome, confirming that this worked.

[2022-02-10 20:59] manopapad commented on #705
After thinking further on this, we realized cuNumeric actually requires up to 3 transformations on each direction, `affine -> explicit -> affine`. Consider this example:

[code]

To implement this with a single indirect copy, we would need to proceed as follows:

[code]

Alternatively, we could attach affine transformations to each field on the copy (source, target, source indirection, target indi

[2022-02-10 21:56] elliottslaughter commented on #1189
Here's a new reproducer. This is the shortest one I've been able to make, and (fortunately) does not require HDF5.

[code]

[2022-02-10 22:11] elliottslaughter commented on #1189
I'm suspecting Wonchan may be right about the Terra parser, but just for posterity: I reproduced on Moonjit and two versions of LuaJIT (most recent v2.1, and a version about 2 years old that's currently checked in to Terra).

[2022-02-11 06:58] lightsighter opened #1192 "Realm: Add recycling of sparsity maps"
Currently Realm's sparsity maps are leaked when they are destroyed and the IDs cannot be recycled. This needs to be fixed if we're regularly going to be creating and destroying sparsity maps, e.g. in the case where we are frequently calling image/preimage for gather/scatter copy operations in Legion in order to avoid running out of sparsity map IDs. It will also guarantee that the memory associate

[2022-02-11 07:24] lightsighter commented on #705
Right so we effectively need the ability to have an affine transform applied to any of the region requirements to a copy operation in Legion. The place where this gets interesting is that this now will require there to effectively be an "abstract" iteration space for any kind of copy because the source/destination indirection region requirements no longer implicitly represents the iteration space

[2022-02-11 09:35] mariodirenzo commented on #1189
I discovered it on my mac with Moonjit.

The problem seems solved. Thanks!

Should we leave this issue open until you find out if this is a LuaJIT or Terra bug?

[2022-02-11 13:34] streichler commented on #705
The iteration space of the copy has always been explicit (`copy` is a method of the `IndexSpace` class) at the Realm API level.  However, the chaining of indirections is not something the current API can handle, and I think will also create some challenges for the Legion analysis (e.g. in a affine->explicit case, the subregions of the indirection field that are read during the copy won't necessari

[2022-02-13 22:11] bandokihiro opened #1193 "Bisecting on Summit"
I am bisecting through the commits to figure out when legion stopped working reliably on Summit. The first good commit is the parent tha originates from `control_replication` of `realm/fbpack_cr_ipc`. So far I have found 1c04fd08f86be2c08fd01a960a2c3e658a642e88 to be a first bad commit with 5b8870329da02f1fe6471786ea361f46d8223d2f being good. The bad commit's mode of failure was either a hang or s

[2022-02-14 09:03] lightsighter commented on #1193
These changes are from very long ago. The nature of the first bad commit you and the backtrace suggest an issue with the interaction between Realm and GASNet. I know that many such fixes have been put into Realm since last September. Are we sure they haven't been fixed by later commits? Are you working with Sean to resolve this or are you looking for more general help?

[2022-02-14 09:07] lightsighter commented on #705
We're just going to do what we do with the other indirection fields in that case and have the application provide region requirements that can optionally over-approximate the needed data for that field, just like we would do on the indirection for a current gather/scatter copy. The application can provide as tight of bounds as it wants, but over-approximate is fine, especially since the indirectio

[2022-02-14 16:10] bandokihiro commented on #1193
@streichler is helping a lot in general. I started this binary search myself because there is a definitive issue on Summit. I am not the only one seeing it. Since I might need recent or new changes to the runtime, I didn't want to postpone figuring out the current issue too much. I am looking for general guidance. What you said seems to confirm my hypothesis, i.e. the (most recent and first) bad c

[2022-02-14 17:21] bandokihiro commented on #1193
Good idea, i'll try

[2022-02-14 20:57] bandokihiro commented on #1193
I used another workaround suggested by Sean. I used `-gex:rmaput 0`. This is now the newly identified commits:

`git bisect good 42b768e1` (commit on which realm/fbpack_cr_ipc is based)
`git bisect bad 63721caa` (most recent CR)
731c514db7256e0bc03dad6264d4f7de18b3a2aa good
38d9923729ee1121a0034f2a9eb17bd1dc8deef0 bad
[code]
b84b060086443d7c1bcb6ec157f811424eecd556 bad
[code]
9ef17bc67f20546b63e0c

[2022-02-14 20:58] bandokihiro commented on #1193
Let me know if I need to fecth a backtrace for e67a940.

[2022-02-14 22:25] bandokihiro commented on #1193
The backtrace from e67a940283e9084fd7bd84953ac8f295174cfafc
[gdb.txt](https://github.com/StanfordLegion/legion/files/8064363/gdb.txt)

[2022-02-14 22:34] streichler commented on #1193
@bandokihiro I assume this was a SEGV?
@lightsighter here's the line where it's happening: https://github.com/StanfordLegion/legion/blob/e67a940283e9084fd7bd84953ac8f295174cfafc/runtime/legion/region_tree.cc#L10036

[2022-02-14 22:40] lightsighter commented on #1193
I can't say for certain but I'm pretty sure I fixed a bug like that several months ago. Without a reproducer it's going to be impossible to fix.

[2022-02-14 22:42] bandokihiro commented on #1193
a) failed
[gdb.txt](https://github.com/StanfordLegion/legion/files/8064434/gdb.txt)

[2022-02-14 22:45] lightsighter commented on #1193
This just reeks of memory corruption. Errors are all over the place.

[2022-02-14 22:45] lightsighter commented on #1193
Are any of the errors reproducible?

[2022-02-14 22:46] bandokihiro commented on #1193
It reliably fails, I don't know if it is always for the same reason.

[2022-02-14 22:48] lightsighter commented on #1193
I mean does it fail with the same backtrace or the same few backtraces in the same place everytime on the same commit? I haven't seen a repeated backtrace yet.

[2022-02-14 22:50] bandokihiro commented on #1193
Probably not, I have seen all sort of failure modes. But the first bad commit always fails so far so I can generate a few backtraces with the same binaries if it helps.

[2022-02-14 22:51] bandokihiro commented on #1193
Also, ignore the first backtrace. This hang has been solved recently and I can bypass that with the gex flag.

[2022-02-14 23:00] bandokihiro commented on #1193
To summarize
- backtrace from e67a940283e9084fd7bd84953ac8f295174cfafc
- backtrace from 45d99995f11633260fc48e43a02c8359c28730f9 with realm changes
- backtrace from 45d99995f11633260fc48e43a02c8359c28730f9 with legion changes

[gdb.txt](https://github.com/StanfordLegion/legion/files/8064495/gdb.txt)
[gdb_a.txt](https://github.com/StanfordLegion/legion/files/8064496/gdb_a.txt)
[gdb_b.txt](https://g

[2022-02-14 23:03] lightsighter commented on #1193
And which of those are repeatable?

[2022-02-14 23:05] bandokihiro commented on #1193
I have only run once each for now.

[2022-02-14 23:54] bandokihiro commented on #1193
45d99995f11633260fc48e43a02c8359c28730f9 with realm changes from e67a940283e9084fd7bd84953ac8f295174cfafc (a) and fa7834d8 did not fail.

45d99995f11633260fc48e43a02c8359c28730f9 with legion changes from e67a940283e9084fd7bd84953ac8f295174cfafc (b) failed with the same backtrace so it is reproducible.

[2022-02-15 00:29] bandokihiro commented on #1193
(d) e67a940283e9084fd7bd84953ac8f295174cfafc with fa7834d8 failed like (b)

[2022-02-15 06:38] bandokihiro opened #1194 "Equivalence set warnings"
I am trying to get rid of equivalence set warnings. My code triggers them for 192 ranks. Processing the log files and ignoring duplicates, I arrive at the followings:
[code]
I have been trying to debug this with the help of @streichler.  For 1), the warning is triggered by a disjoint incomplete partition of the faces. Given a disjoint partition of the elements, that partition is obnained as follow

[2022-02-15 10:47] lightsighter commented on #1193
Ok, I remember the Legion bug. There's an issue with reference counting. In January, I overhauled the reference counting scheme for index space expressions including index spaces to keep them alive correctly in all circumstances, including those like this where a disjointness test lags the deletion of an index space. There's not going to be a way to back-port those changes as they were super-invas

[2022-02-15 10:51] lightsighter commented on #1194
None of that information is helpful. Make Legion Spy logs for a run with four nodes and then give me the name of a region in the region tree that is causing problems.

The current runtime implementation in control replication requires that you have at least one disjoint+complete partition in every region tree that you use at least once if you want the runtime to be scalable. One of the TODO items

[2022-02-15 12:09] bandokihiro commented on #1193
So what is the strategy moving forward? Can you point me to the first commit that fixed all these issues?

[2022-02-15 16:54] bandokihiro commented on #1194
I think I fixed 2-5. I don't think fixing 1 is important because that partition gets requested only once at startup but correct me if I am wrong. This won't work if not on a recent CR so I need the issue on Summit to be fixed now to see if it makes any performance difference.

[2022-02-16 03:48] joeythaman opened #1195 "Weirdly slow trace code"
Hi, I am back with another trace-related question! I have been working on building a pass to detect traceable loops and so have been testing tracing on a variety code and I found a case with a very large unexpected (at least by me) slowdown.  I have simplified the code to the reproducable below code. When the below code is run as it is, it takes a little while (6.6 s) however if either the `var is

[2022-02-16 10:46] lightsighter commented on #1194
It will still be a start-up bottleneck if all the nodes are going to hammer that equivalence set, but it's up to you if you want to pay that price or not.

[2022-02-16 10:48] lightsighter commented on #1193
You'll at least need the commits in these merge requests:
https://gitlab.com/StanfordLegion/legion/-/merge_requests/419
https://gitlab.com/StanfordLegion/legion/-/merge_requests/420

[2022-02-16 10:49] lightsighter commented on #1193
I think that's all of them, but I might be wrong.

[2022-02-16 19:38] rohany opened #1196 "legion: hang on 2 nodes of sapling"
I don't have enough information for a more descriptive title.

I see two threads stuck with these backtraces:
[code]

[code]

I'm running with `-ll:defalloc 0 -ll:force_kthreads -lg:inorder -lg:safe_ctrlrepl 1` and am on `ebd70cc1015a931d6e8f6af2be503a4f21a7aa60` of Legion.

To reproduce on sapling, navigate to `/home/rohany/taco/build` and do `./runner.sh`, which runs on `g0001,g0002`. The Legion

[2022-02-16 21:11] bandokihiro commented on #1193
Thanks to @streichler, this seems fixed. I am running in a while true loop my case several times just to be extra safe. The fix will be merged very soon into master. I'll leave this open for the rest of the week if someone wants to add something. But so far, it looks resolved.

[2022-02-16 22:06] bandokihiro commented on #1193
hanged after 15 runs on summit so I guess this is not quite over yet

[2022-02-16 23:10] bandokihiro opened #1197 "Error with a debug build"
My applications triggered an error only with a debug build. I am (mostly) on ebd70cc. The command line was
[code]
Here is an example backtrace.
[gdb.txt](https://github.com/StanfordLegion/legion/files/8084229/gdb.txt)

[2022-02-16 23:19] bandokihiro commented on #1193
It seems that there is another bug that @streichler already fixed related to the use of more than 1 utility processor on Summit. The fixes are not merged yet. I'll let him comment as to when this will happen. So far 30 runs succeeded.

[2022-02-17 00:24] bandokihiro commented on #1193
Running a bigger case, the most recent CR + additional realm fixes fail with the following backtraces
[gdb0.txt](https://github.com/StanfordLegion/legion/files/8084517/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/8084518/gdb1.txt)

[2022-02-17 00:25] streichler commented on #1197
This looks like the relevant part:
[code]
@lightsighter thoughts?

[2022-02-17 00:27] streichler commented on #1193
Both ranks have a thread doing this:
[code]
@lightsighter thoughts?

[2022-02-17 08:18] lightsighter commented on #1191
There is an acceleration data structure in there now. Pull and try it out. I can't promise it will be much faster, but congruence tests should now be O(N log M) where N and M are the number of rectangles in the sparsity maps and N <= M.

[2022-02-17 08:20] rohany commented on #1191
I'll try this out sometime, but it doesn't really block me anymore -- switching to telling the runtime `ALIASED_INCOMPLETE_PARTITION` was sufficient for my use cases, and means I don't pay any cost at all for it.

[2022-02-17 09:49] lightsighter commented on #1191
Assigning back to @rohany to confirm the fix.

[2022-02-17 09:49] lightsighter commented on #1196
Pull and try again.

[2022-02-17 10:46] lightsighter commented on #1197
This is likely to be something that I'm not going to fix as this code has already been deleted in the collective instance branch, so the lifetime of this code can be measured in weeks. If you do want me to look at it I need a reproducer.

[2022-02-17 10:48] lightsighter commented on #1193
This code is also already been deleted in the collective instances branch, so has the same lifetime as the other issue: no more than a few weeks at most. If you want me to look at it I need a reproducer and even then I can't promise I'm going to take the time to fix it.

[2022-02-17 17:21] bandokihiro commented on #1194
Closing this issue since I made a few changes in my code that made these warnings disappear.

[2022-02-17 17:21] #1194 closed

[2022-02-17 17:56] #1196 closed

[2022-02-17 22:55] rohany commented on #1191
Works fine now.

[2022-02-17 22:55] #1191 closed

[2022-02-19 06:10] bandokihiro opened #1198 "Error/hang on Summit"
I have a case that either hits a realm error or hangs. The case uses 8 nodes, 6 GPUs per node. The realm errors I have seen so far are the followings:
- https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/realm/rsrv_impl.cc#L1379
- https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/realm/rsrv_impl.cc#L1393
- https://gitlab.com/StanfordLegion/legion/

[2022-02-20 07:42] bandokihiro commented on #1198
I have a case that hangs on sapling. It requires the 4 nodes. I left it stuck tonight.

[2022-02-20 09:10] lightsighter commented on #1198
The hang on sapling is at least being caused by a bug with reference counting on index space expressions that is guaranteed not to exist on the most current control replication branch. Here's the relevant part of the backtrace:

[code]

The function call in frame 11 is where the bug is and it doesn't exist anymore.

[2022-02-20 09:30] lightsighter commented on #1198
As for the crash, I'm pretty sure I pushed a fix for that to current control replication branch, but if you're on an older branch of control replication then you won't have it.

[2022-02-20 09:47] lightsighter commented on #1195
We will need @elliottslaughter to comment here, but I suspect that what is happening is this:

In "ispace no trace" the compiler is just compiling that like a normal "for" loop which doesn't launch any sub-tasks for the stuff inside of it. It just uses the ispace for bounds and iterates inside of the top-level task, at least that is what the profile is showing.

In "trace no ispace" the compiler i

[2022-02-21 07:58] bandokihiro commented on #1197
do you have a rough ETA for the merge of the collective instance branch?

[2022-02-22 18:14] elliottslaughter commented on #1195
Regent (currently) does not ignore `__demand(__trace)`, so the "trace no ispace" is indeed running a trace, it just doesn't have any subtasks to launch inside the task.

I was a little confused though, I thought the "trace and ispace" code would have looked like:

[code]

i.e., I thought we were iterating the ispace inside the loop.

@joeythaman Can you confirm, and also show up the output of `-fp

[2022-02-23 00:06] manopapad commented on #1171
This has been fixed with ceec163db0bf52926cb714524c0773af9a6ae6ed

[2022-02-23 00:06] #1171 closed

[2022-02-23 22:53] eddy16112 opened #1199 "Error when launching python tasks with legion_python -m"
Here is a reproducer

#test_module.py
[code]

If I run with legion_python ./test_module.py, then it works, but if I run with legion_python -m test_module, then I am having the following errors:
[code]

[2022-02-23 23:47] lightsighter commented on #1199
I don't think this has anything to do with Legion Python. When I run this I get the following warning for Pygion:

[code]

@elliottslaughter can you say way that warning doesn't mention Pygion? As far as I can tell our code for running modules in `legion_python` should be working.

[2022-02-23 23:49] lightsighter commented on #1199
The relevant warning comes from here in `pygion.py`:

https://gitlab.com/StanfordLegion/legion/-/blob/master/bindings/python/pygion.py#L2541-2545

[2022-02-23 23:54] lightsighter commented on #1199
I also feel like this should just be a fatal error from Pygion so it makes it clear you can't run Pygion programs with module launch.

[2022-02-24 00:02] elliottslaughter commented on #1199
That warning doesn't apply to `legion_python -m <module>`. It applies to `legion_python <module>` (note: no `.py`!), a mode that I'm not sure even exists anymore.

To the best of my knowledge, when you run `legion_python -m <module>`, it finds `<module>.py`, but then loads it as `__main__`. So all the usual features that work when you do `legion_python <script.py>` should work with `legion_python

[2022-02-24 00:23] lightsighter commented on #1199
@elliottslaughter as far as I can tell, `legion_python` is doing the right thing. Can you confirm that and that Pygion's detection mechanism for that case is not working correctly? At a minimum I do think you'll want to update the warning message to say that the warning applies specifically to Pygion.

[2022-02-24 00:29] lightsighter commented on #1199
As far as I can tell, when we run with `-m <module>` (no `.py` ending), we're going down this path in Pygion:

https://gitlab.com/StanfordLegion/legion/-/blob/master/bindings/python/pygion.py#L2541-2545

And that leads the `_my.ctx` not to be initialized, which then leads to the crash.

[2022-02-24 00:55] elliottslaughter commented on #1199
The functionality to import a module into Realm via `legion_python` was already removed:

https://github.com/StanfordLegion/legion/commit/de09c7f82ab566be78794f1615df09b82944e0fb#diff-e9b766997caa8676affa5902423fb661e3a6fd3b5dbfde5e4a7c1504b9b83480L217-L221

I think that means this detection logic is now broken:

https://github.com/StanfordLegion/legion/blob/master/bindings/python/pygion.py#L118-L

[2022-02-24 01:00] elliottslaughter commented on #1199
@eddy16112 I pushed a fix to `master`, please pull and try again.

[2022-02-24 07:27] lightsighter commented on #1199
I pushed a few sanity checks for error checking some configurations for Pygion as well so we don't get random crashes.

[2022-02-24 10:35] lightsighter commented on #1197
I'm aiming for mid-to-late March at this point, but it's highly variable depending on a lot of factors.

[2022-02-24 16:51] elliottslaughter commented on #1199
@lightsighter Is there a way to check if we're running inside a task or not? I realized last night that all of this auto-detect logic is basically a fancy way of trying to answer that question: if we're in a task, we need to set up the implicit context, otherwise we skip it. If we could check directly then there wouldn't be a need to mess with the arguments.

[2022-02-24 19:06] lightsighter commented on #1199
The `has_context` method will do that:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_c.h#L4666-4670

If it's true, then you're inside a task. If not, then you're not inside a task.

[2022-02-24 23:20] dzhang314 opened #1200 "Index launches fail in certain configurations with multiple ranks per node"
Consider the following Legion program that creates a region and performs an index launch of a no-op task:

[code]

Of course, the expected behavior of this program is to do nothing. However, when this program is built against the control replication branch (I'm on commit `788a725c` from yesterday), and run with a command line such as:

[code]

The following error occurs:

[code]

This error only o

[2022-02-24 23:30] dzhang314 opened #1201 "Legion prof does not display scalar reduction work at any resolution"
Have a look at the following profile:

http://sapling.stanford.edu/~dkzhang/legion_prof_new

This is a profile of a program that sets up a matrix A, a vector b, and then runs the conjugate gradient algorithm to solve A*x = b. You should see a long, quiet, initial setup period, followed by a period of high-intensity GPU activity, where the conjugate gradient iterations actually happen.

If you zoom

[2022-02-25 00:14] eddy16112 commented on #1199
@elliottslaughter The bug is fixed. Feel free to close the issue.

[2022-02-25 00:24] dzhang314 opened #1202 "Choices of COORD_T other than Legion::coord_t break construction of RectInDomainIterator"
Consider the following Legion program:

https://github.com/dzhang314/LegionSolvers/blob/main/src/Test01DenseVectorArithmetic.cpp

The main body of this program is the following task, which creates an index space of a given type, constructs several vectors based on that index space, and then performs a few arithmetic operations.

[code]

This works fine when `COORD_T = Legion::coord_t` (i.e., `long

[2022-02-25 00:39] elliottslaughter commented on #1201
Replicating what I said on the Slack channel:

I think the "Send Control Replication Collective Message" boxes are the ones where the work is being performed. The runtime needs to build a reduction tree, and that involves exchanging messages, along with executing these (tiny) tasks on the utility processor to actually perform the scalar reductions. I don't think there is any actual visibility issu

[2022-02-25 00:46] elliottslaughter commented on #1199
I pushed a second change that completely removes the argument parsing for script auto-detection, and switches to `legion_runtime_has_context`. Assuming it passes I will close this issue.

[2022-02-25 10:21] lightsighter commented on #1201
The string you're looking for is down another level of virtual channels that Legion Prof can't see. There are several different kinds of messages which share this particular virtual channel, so you can't assume that all tasks that are "Send Control Replication Collective Message" are for reductions. I think Elliott's intuition is right, you shouldn't be expected to understand the meaning of the me

[2022-02-25 10:24] lightsighter commented on #1200
This is a duplicate of #1193 and is unlikely to be fixed until the collective instance branch is merged. The relevant code is already deleted in that branch so by definition it won't be able to happen again.

I'll poke at this sometime in the next week and see if there is an easy fix since there is a simple reproducer now, but if there isn't an easy fix I'm not going to take time away from collect

[2022-02-25 10:27] lightsighter commented on #1202
Which branch and which commit are you on? That function and line number do not align with the `master` branch nor the `control_replication` branch.

[2022-02-25 10:29] lightsighter commented on #1202
This isn't a bug in the runtime. This is a bug in your application. If you have a sparsity map then you have to convert the `Domain` into precisely the right type for that sparsity map. If you give the wrong base coordinate type for the sparsity map then that is your fault. There is no way for the runtime to convert it.

[2022-02-25 10:39] lightsighter commented on #1202
Also, this doesn't have anything to do with the `RectInDomainIterator`. You're asking for the `Domain` here:

[code]

[2022-02-25 11:29] lightsighter commented on #1200
Pull and try again.

[2022-02-25 16:53] #1199 closed

[2022-02-25 19:09] dzhang314 commented on #1200
Hm, this is quite bizarre -- I can confirm that the original error I was seeing is no longer present, but now I get an even more nonsensical error:

[code]

As you can see, the dummy task literally does absolutely nothing, so I have no idea what Legion thinks is going on here. I appreciate you taking a look at this, though, Mike, especially on such short notice.

In terms of a quick fix for now, t

[2022-02-25 20:18] dzhang314 commented on #1202
@lightsighter Hmm, you're right -- the problematic part actually seems to be the call to `get_index_space_domain`. This seriously confuses me, as I don't think what I'm doing should be an application error, but possibly I'm not understanding the Legion type system correctly.

What I do in this program is:

- I construct an `IndexSpaceT<1, int> I`.
- I construct a logical region `R` based on that i

[2022-02-25 20:27] lightsighter commented on #1200
This is your fault. Look at this line:

[code]

[2022-02-25 20:27] lightsighter commented on #1200
The `collective` branch is not stable yet.

[2022-02-25 20:28] lightsighter commented on #1202
That is not accurate. Realm sparsity maps have a coordinate type and there is no way for Legion to convert them.

[2022-02-25 21:57] dzhang314 commented on #1202
Hm, okay. So I'm not allowed to call `get_index_space_domain`; in that case, what is the idiomatic Legion way to iterate over the rectangles in my region `R`?

[2022-02-25 22:18] dzhang314 commented on #1200
Ah, what a silly typo on my part. Thanks for catching that!

This appears to now be fixed on Sapling, but something is still wrong on Lassen/Summit; I'll close this issue and start tracking #1193.

[2022-02-25 22:18] #1200 closed

[2022-02-27 01:00] bandokihiro opened #1203 "Performance issue (spikes in utility processors)"
I am encountering performance issues that create gaps in my GPU timeline and prevent my application from strong scaling. After eliminating side issues that could affect performance, I think I narrowed it down to spikes in the utility processor. They are regularly spaced and, when they occur, some rank has an unusually long task box. Such gap then propagates to the rest of the system. I have seen `

[2022-02-27 01:07] bandokihiro commented on #1203
One thing that is probably relevant to mention is that there is a task that is launched over a sparse 2D domain. Each rank i launches a point task "for all neighboring rank j" to pack local data that need to be sent to them @streichler mentioned when I started that he wasn't sure what the overhead of such launch would be.

[2022-02-27 10:10] lightsighter commented on #1202
Legion will do the implicit conversion for you in the case that your `Domain` objects are dense, because it can do that trivially. There is no primitive in Realm that supports conversion of the types for a sparsity map. If you want to go build that in Realm then I'll be happy to teach Legion to use it so you can get implicit conversion of sparsity maps.

Assuming R is a physical region, then you w

[2022-02-27 17:26] bandokihiro commented on #1203
Here is the new [profile](http://sapling.stanford.edu/~bandokihiro/6_02_2) obtained with the most recent CR. The light green boxes in the utility processors that had missing metadata are "Replay Phycal Trace" tasks. Gaps tend to happen near a spike in the utility and these replay tasks can take several ms. I ran with `-lg:warn` and no warning was generated. Since I regularly check this, I silence

[2022-02-28 09:44] lightsighter commented on #1203
Now that we can see the boxes, we can see that the runtime trace replay is way ahead of the execution as we would expect, so the problem is not waits.

The problem here is almost certainly that there is interference between the utility processor threads and the background worker threads the service the GPUs.

If that's the case why run with two utility processors? Why not just one?

What does the

[2022-02-28 16:39] rauteric opened #1204 "Implement fills directly on files"
When I try to write an array to a file using AttachLauncher, I get this error:

[code]
from [this file](https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/transfer/transfer.cc#L3821) in Legion. This is due to fills directly on files not being fully implemented in Legion.

This problem was [reported](https://groups.google.com/g/legionusers/c/8N23kcm_MuQ/m/GFu4hKFnAgAJ) in the mailin

[2022-02-28 16:47] bandokihiro commented on #1203
The mapping is made by the `jsrun` command. [Here](https://jobstepviewer.olcf.ornl.gov/summit/1877226-1/h17n08) is a visualization (with `smt1`). Each GPU/rank is mapped to 7 different cores.

When I started, I stumbled upon a situation where 1 utility processor was not enough. Since then, using 2 utility processsors is kind of my default. In my main branch, I don't specify anything about backgrou

[2022-02-28 19:01] bandokihiro commented on #1203
This [profile](http://sapling.stanford.edu/~bandokihiro/6_04_2/legion_prof) obtained for a 4-node run, `smt4`, and `-ll:util 2 -ll:bgwork 2 -ll:bgworkpin 1` shows a completely different utilty behavior. The stalls in the GPU timelines tend to happen on all GPUs of a node at the same time. This profile, which we have seen before, shows this behavior very clearly.

[2022-03-01 02:15] streichler commented on #1204
Assigning to myself at least until I can delegate to somebody.  I'd need to look at the code a bit more to be sure, but I
think the right answer here is to support a multi-hop fill path as a general fallback.  It adds an extra memcpy (but these
are paths that aren't performance-critical) and avoids a bunch of per-channel code changes.

[2022-03-01 16:35] sumathil opened #1205 "Legion_USE_OpenMP cmake condition not exported"
I am trying to use a Legion CMake condition _Legion_USE_OpenMP_ similar to this [cmake condition](https://github.com/StanfordLegion/legion/blob/stable/CMakeLists.txt#L762-L764 ) to append the Legion OpenMP flags but looks like _Legion_USE_OpenMP_  condition is not being exported to its target.

[2022-03-01 23:08] syamajala opened #1206 "HIP: missing cudaLimitStackSize"
HIP does not have a way to set the stack size of each thread. In cuda we use cudaDeviceSetLimit(cudaLimitStackSize, <size>) We need this for the etprf mechanism in S3D.

[2022-03-01 23:14] bandokihiro commented on #1203
In an effort to simplify the case, this [profile](http://sapling.stanford.edu/~bandokihiro/2_01_01) is a 1-node 2-rank run, with `smt4`, and 21 cores per rank, i.e. a ton of resources for the threads created by Legion/Realm. Here are my obervations:

- there are still unusually long tasks that don't necessarilly happen at the spikes in the utility
- when there is a spike in the utility, there is a

[2022-03-01 23:23] eddy16112 commented on #1206
S3D also needs -cuda:lmemresize 1 -cuda:hostreg 0, but cudaDeviceLmemResizeToMax is also missing in HIP now.

[2022-03-02 04:54] bandokihiro commented on #1203
I think I found a solution. Currently working on it.

[2022-03-02 04:58] bandokihiro commented on #1046
Closing this since this project took a different direction and I am using another way for tracking needed additions to Legion.

[2022-03-02 04:58] #1046 closed

[2022-03-02 05:02] #761 closed

[2022-03-02 05:06] bandokihiro commented on #900
Closing because my application moved away from using this many fields.

[2022-03-02 05:06] #900 closed

[2022-03-02 17:20] bandokihiro commented on #1203
You are correct, and the spikes in the utility were a misleading observation, as were a lot of other things when the time scale of an iteration is O(10) ms. A lot of things can induce small perturbations and it took me some time to narrow the real issue down. Long story short, I was able to get rid of these anomalies by:

- using `smt4` instead of `smt1`. Indeed, 7 cores are just not enough for th

[2022-03-02 18:33] magnatelee commented on #1203
FWIW, smt4 was the default mode that I ran my jobs in on Power-based systems. My theory was that the threads we get with smt1 have diminished hardware resources, which make them not capable of running the runtime code fast enough. (This also seems to suggest that those threads are more cleanly isolated at the hardware level than Intel's hyperthreads, which effectively share most of the resource on

[2022-03-03 00:28] elliottslaughter commented on #1205
If you're on `master`, please update to 479892991487885c3d704278eba5f414ab2cab57 and try again.

[2022-03-03 10:32] lightsighter commented on #1203
Not having used PowerPC chips much, I'll defer to Wonchan's experience here. SMT is a fickle thing and means different things to different hardware vendors. They all have different ways of doing it and with different constraints. I wouldn't necessarily consider it a hack to change the SMT setting. IBM put it there for a reason, because clearly they knew it was something that different users would

[2022-03-03 16:46] elliottslaughter commented on #1205
Please clone from our internal mirror here: https://gitlab.com/StanfordLegion/legion

[2022-03-03 21:38] bandokihiro commented on #1198
Closing this for now because my current position is to wait for the merge of the collective branch and run on control_replication with #1193 and #1197 fixed.

[2022-03-03 21:38] #1198 closed

[2022-03-03 22:29] syamajala opened #1207 "Realm: ib_alloc impossible"
I'm hitting this issue on both Perlmutter and Crusher when running without gasnet:

```[0 - 7f1c263d7700]    0.696958 {6}{ib_alloc}: impossible: op=0/0x7f1c108403a0 mem=1a00000000000001 needed=268566528 avail=268435456```

Running with `-ll:ib_fsize` does not do anything. There is log from running with `-level dma=2,xplan=1` here: http://sapling.stanford.edu/~seshu/run_0.log

[2022-03-03 22:50] streichler commented on #1207
So it looks like it's `-ll:ib_zsize` what you'd need, and it'd need to be big - at least 1088 (MB).  This would basically be working around the issue in #1070, which has been turned from a hang to a fatal error.

In this case here, what you probably actually want is these device->host copies to be performed directly instead of via an intermediate buffer, and it's the change made for #1081 that's g

[2022-03-03 23:02] syamajala commented on #1207
Adding `-cuda:hostreg 0` works on Perlmutter. I guess we dont have anyway to run on Crusher right now.

[2022-03-03 23:02] #1207 closed

[2022-03-03 23:07] eddy16112 commented on #1207
@syamajala You can try `-hip:hostreg 0` on Crusher.

[2022-03-04 21:15] sumathil commented on #1205
Thank you, it works now.

[2022-03-04 21:43] #1205 closed

[2022-03-04 22:04] elliottslaughter opened #1208 "Regent: nested types not serialized correctly"
In Regent, `regentlib.string` has special serialization magic to ensure that it can be passed around correctly. This does not apply to types like `regentlib.string[N]` (i.e., an array of strings), or other ones like structs that contain strings, that contain nested types that require special serialization.

Regent needs to auto-generate the serialization implementations for such types, and if we'r

[2022-03-04 23:57] bandokihiro commented on #1203
Thank you all for your comments. I met with @streichler today and he said that it is not a hack to have to use that flag. Another thing that was mentioned is that a better solution would be to tell Kokkos not to use the default stream but the one "used for the task" (I am not sure that statement is correct). In the next days, I am gonna run my application on PizDaint to see if this is specific to

[2022-03-05 16:41] elliottslaughter commented on #720
There is some initial support for this in 9b002e8186684b8cd9d14d8c6870f3821e0addea. It only supports task arguments and returns. (By the way, returns had been broken before; they didn't serialize the return value at all. This is fixed now.) There is a basic interface that allows you to define your own custom serializers in Regent. I need a bit more work to get this working with nested serializatio

[2022-03-07 17:47] syamajala commented on #1207
`-hip:hostreg 0` works after updating to the latest legion.

[2022-03-07 21:52] elliottslaughter commented on #1208
This is now working for (nested) array types as of bcd6fb597616810fd4ab803e6dff999b020b5611. I'm punting on structs because those are user-defined types and arguably should use the custom serialization framework anyway. I think this resolves the immediate problem tracked by this issue. Once CI passes I will close this.

[2022-03-07 22:01] elliottslaughter commented on #720
Serialization for (nested) arrays is in too now. I am punting on structs because it feels like those could just be handled by the custom serialization interface. Still need to define the custom serialization interface for nested types.

[2022-03-07 22:33] #1208 closed

[2022-03-08 01:12] elliottslaughter commented on #720
Nested custom serialization is now in with the `examples/dynamic_array.rg` code.

[2022-03-08 17:15] elliottslaughter opened #1209 "Regent: legion_get_current_time_in_micros not safe to call from replicated task"
Someone recently pointed out to me that `legion_get_current_time_in_micros` and friends are not safe to call inside of a replicated task because the different shards may record the time at different moments. I believe that users you want to do timing inside of replicated tasks instead need to use `legion_issue_timing_op_microseconds`, which is guaranteed by the runtime to return the same future va

[2022-03-08 17:29] elliottslaughter commented on #1209
Some clarifications:

If you have code that looks like:

[code]

Under the proposed change, this will need to modified to:

[code]

There may still be (rare) cases where users occasionally need to get the actual timing on a specific shard, and are aware that this time may be different from other shards (e.g., such as when trying to compute the amount of skew between shards). In this case, the foll

[2022-03-08 17:59] lightsighter commented on #1209
FWIW, there is a workaround for this. If you call `legion_issue_timing_op_*` and then wait on the resulting future, that should give you the same result across all the shards. Conceivably, we could also introduce new calls into the runtime that would do blocking immediate timing measurements across the shards. This is not something that would be terribly hard to implement since we already have all

[2022-03-08 18:13] mariodirenzo commented on #1209
Is it possible to have in Regent a single interphase that automatically detects whether it is called in a replicated context or in a simple task and utilize the appropriate method to get the timing?
I am thinking about something like
[code]

[2022-03-08 18:21] elliottslaughter commented on #1209
I could make a function like this and expose it through Regent. It will need to block when you're in a replicated task. As long as you're ok with that, I can do ahead and do this.

[2022-03-08 19:01] mariodirenzo commented on #1209
Could it return the Future and block just in case the value for the timing is utilized within the replicated task (which seems unlikely)?

[2022-03-08 19:17] elliottslaughter commented on #1209
Backing up a bit, your pseudocode above doesn't work because it has conflicting return types (`int64` vs `future(int64`). We need to pick one or the other.

 * If we pick `int64`, then we must block in the replicable case. That means it will block at the point where you call the timing function, not at the point where you use it. But I can do this in a way that can be used everywhere (replicable,

[2022-03-08 19:28] elliottslaughter commented on #1209
I guess a follow-up question to @lightsighter: if I make a future from a concrete value, can you promise that retrieving the value will never block? That would reduce the cost of timing inside leaf tasks (though not to zero, since we're still going through some future creation and handling).

[2022-03-09 00:28] bryevdv opened #1211 "Support for importtime"
CPython supports a number of implementation-specific options [via the `-X` command line argument](https://docs.python.org/3/using/cmdline.html#cmdoption-X) . One of these is `-X importtime` which is very useful for profiling import time costs:

which yields

<details>

[code]
</details>

However, a similar invocation (via `legate`) does not work (It seems `-X` is ignored entirely):
[code]

[2022-03-09 00:54] lightsighter commented on #1211
@bryevdv Which of those `-X configurations are the most important? It's unlikely we're going to implement all of them immediately. Also, do you know how those options are controlled through this API?
https://docs.python.org/3/c-api/init.html
I feel like some of the module-based ones can be done through `PyImport_ExtendInittab`, but it's not clear how some of the `-X` options that don't involve mod

[2022-03-09 00:57] lightsighter commented on #1211
Ok, it looks like some of them are supported through this API too:
https://docs.python.org/3/c-api/sys.html#c.PySys_AddXOption

[2022-03-09 11:08] tpeach90 opened #1212 "DefaultMapper map_must_epoch error"
https://github.com/StanfordLegion/legion/blob/e1443112edaa574804b3b9d2a24803e937b127fd/runtime/mappers/default_mapper.cc#L3601-L3606

This is missing an `it3++`, I believe. It was causing a segfault while grouping tasks together.

[2022-03-09 18:03] bryevdv commented on #1211
I can 't say I have much or any experience with any of them other than `importttime`. But `importtime` in particular has been very helpful for diagnosing and fixing long import times. I expect in the case of `legate` it would also help differentiate import time issues from the additional fixed overhead that `legate` itself carries.

[2022-03-09 21:33] ct-williams commented on #1167
I have also been running the HTR solver on Lassen with the Legion commit `42b768e10` of `control_replication`. Likewise, I have also been encountering this same non-deterministic hanging issue, and it seems that the hanging becomes increasingly frequent as more nodes are used.

Most recently, though, when trying to run HTR with the 03/08 Legion commit `cbdc99666` of `control_replication,` the run

[2022-03-09 22:00] streichler commented on #1167
@ct-williams I believe that was one of the legion failures modes that was observed in #1193 (long read).

[2022-03-10 09:28] lightsighter commented on #1212
@tpeach90 nice catch! I pushed a fix to out gitlab repo which will be mirrored here on github after it passes CI:

https://gitlab.com/StanfordLegion/legion/-/commit/10198bb8d023a4187780d76219b938507db7cc4a

[2022-03-10 09:28] #1212 closed

[2022-03-10 09:44] lightsighter commented on #1211
I think we can fix this by modifying the Realm Python module by giving it a `PyConfig` object for it to use when initializing the Python interpreter(s). We can modify the `main` function for `legion_python` to do some of this parsing itself before starting the runtime, e.g. like we do for the `--cr` flag today. In particular, for this case we can pass in the strings for `-X` parameters here:

http

[2022-03-10 09:46] lightsighter commented on #1209
Yes, if it's a future that you made then I can promise you that the runtime will never block waiting on it to retrieve the value inside the future.

[2022-03-10 09:54] lightsighter commented on #1167
@ct-williams Ignore the comment from @streichler, this is a completely different failure mode from #1193. Rebuild with `-DDEBUG_LEGION_GC` and report new backtraces for the failure mode.

[2022-03-10 11:16] lightsighter commented on #1167
Make sure you pull the most recent control replication (`1b34214e9e90be59`) to get a fix for `-DDEBUG_LEGION_GC`.

[2022-03-10 17:16] elliottslaughter commented on #1211
Right now we have a `-ll:pyimport` flag that maps to `Realm::Python::PythonModule::import_python_module`, which applications can call if they want to programmatically configure imports. Is there a reason not to do that with `PyConfig`?

[2022-03-10 19:56] elliottslaughter commented on #1209
Ok, there is an implementation here that you can now try out in master and control replication. Let me know if this works for you:

https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/regent/run_pass/timing.rg

[2022-03-10 20:11] lightsighter commented on #1211
We don't want something quick here. We have to make `legion_python` work more like CPython. I agree with Elliott here: we need to be going the opposite direction for `legion_python`. More command line flags need to be handled in their standard way as if `legion_python` were CPython and configure the interpreter appropriately.

[2022-03-10 20:22] streichler commented on #1211
Should we go even farther than and have the application give Realm the whole interpreter?

[2022-03-10 20:26] lightsighter commented on #1211
No, don't want to pollute things for subprocess.

[2022-03-10 20:27] lightsighter commented on #1211
I want something that works correctly now, but will also do the right thing when we want to make separate subprocesses for multiple python processors in the same node.

[2022-03-11 07:53] eddy16112 commented on #1028
Issues:
1. cudaLimitStackSize and cudaDeviceLmemResizeToMax are missing. [1206](https://github.com/StanfordLegion/legion/issues/1206)
2. complex reduction is not supported. [1187](https://github.com/StanfordLegion/legion/issues/1187)

[2022-03-11 08:06] eddy16112 commented on #1187
I added Half to the title as complex and half reductions are similar.

CUDA use inline PTX to reinterpret data type. PTX is not supported in HIP.

**For complex**
I fall back to use union, which is fine in C.
Here is the [commit](https://gitlab.com/eddy16112/legion/-/commit/3a1fb2a680e45e10a4e83c5d8dbc08065ccf4d66), however,  there is an error in`thrust/complex.h `, looks like the HIP version of t

[2022-03-12 08:36] eddy16112 commented on #1187
I forgot to include the `hip_fp16.h`, now the half reduction support has been merged into master.

[2022-03-13 05:43] ct-williams commented on #1167
To follow up on my original post, I have encountered another instance of HTR hanging when run on 32 nodes on Lassen. I was using the 3/10 Legion commit `ad8ffeac9` of control_replication, compiled with `CC_FLAGS="-g -O2"`. Attached are the backtraces, though it does seem like some of the files are truncated
[bt.tar.gz](https://github.com/StanfordLegion/legion/files/8239030/bt.tar.gz)
.

[2022-03-13 07:54] lightsighter commented on #1167
You ran this with `-ll:force_kthreads -lg:inorder -lg:safe_ctrlrepl 2`? Definitely some of these files have been truncated because the `Thread 1 ` backtraces only appear in 16 of the 32 files. Can you try to generate the them again using the flags above when running?

[2022-03-14 17:36] syamajala opened #1213 "HIP: legion_prof.py fails on circuit"
I am not able to use legion_prof.py on circuit when using hip. I do not have problems when using cuda. I am seeing the following error on the latest control_replication (e08ecb0f14):

[code]

There is a log here: http://sapling.stanford.edu/~seshu/prof_0.gz

[2022-03-14 20:42] eddy16112 commented on #1213
@lightsighter I think the Task 17 is the internal reduction task, because if I enable `USE_GPU_REDUCTIONS`, I can reproduce the same error with cuda module, and on the other side, if I disable `USE_GPU_REDUCTIONS` for hip module, the error is gone.

[2022-03-14 21:51] syamajala opened #1214 "HIP: legion_prof.py under reporting GPU task times"
legion_prof is currently under reporting GPU task execution times when using HIP. I manually added synchronization and timing code around hipKernelLaunchGGL within a GPU task and the time reported by that is always greater than what legion_prof reports. Building with `-DFORCE_GPU_STREAM_SYNCHRONIZE` the times seem to be closer to what my manual timing code reports.

[2022-03-14 22:00] eddy16112 commented on #1214
Looks like the issue is only with S3D. I have tested circuit and saxpy, and the GPU task timing reported by legion_prof looks fine in both cases.

[2022-03-14 22:14] lightsighter commented on #1213
@syamajala Can you test the CUDA version again with `USE_GPU_REDUCTIONS` again and see if you see the same problem? We need to resolve the different behavior that you and @eddy16112 are observing with the CUDA version.

[2022-03-15 09:04] ct-williams commented on #1167
I re-ran the simulation with `-ll:force_kthreads -lg:inorder -lg:safe_ctrlrepl 2`, but now I receive the following error in the slurm file:

`CU: CUDA_DRIVER_FNPTR(cuMemcpy2DAsync) (&copy_info, stream->get_stream()) = 700 (CUDA_ERROR_ILLEGAL_ADDRESS): an illegal memory access was encountered
Legion process received signal 6: Aborted
Process 109063 on node lassen90 is frozen!
CU: CUDA_DRIVER_FNPTR(

[2022-03-15 10:04] lightsighter commented on #1167
Illegal address errors are almost guaranteed to be a bug in a CUDA kernel. CUDA can return asynchronous failures to literally any CUDA API call. Try running with `CUDA_LAUNCH_BLOCKING=1` in your environment and see what backtraces you get.
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#concurrent-execution-host-device

[2022-03-15 11:05] mariodirenzo commented on #1167
As suggested by @lightsighter, commenting out these (https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/legion_analysis.cc#L1200-1209) lines avoids the tracing issue on `e08ecb0f`.

If the code is executed in this configuration with the `CUDA_LAUNCH_BLOCKING=1` in the environment, it fails in a few different ways:

- mode 1

[code]

- mode 2

[code]

- mode 3

[code

[2022-03-15 20:07] lightsighter commented on #1213
@syamajala Pull and try again.

[2022-03-15 20:18] eddy16112 commented on #1213
@lightsighter It works for me now. Thank you for the fix.

[2022-03-15 21:13] eddy16112 commented on #1187
I have added the complex support for HIP.
Please download the old version of thrust from https://github.com/ROCmSoftwarePlatform/Thrust
Somehow the latest thrust (https://github.com/ROCmSoftwarePlatform/rocThrust) does not work, I have submitted an issue to let AMD take a look at it.

[2022-03-16 09:08] lightsighter commented on #1167
It's going to take me at least a week to fix this. Conceptually the problem is simple, but fixing it in way that doesn't cause thousands of merge conflicts with the collective instance branch is very hard.

[2022-03-16 09:09] lightsighter commented on #1211
Also assigning @streichler since he volunteered to propose a generic API for configuration structs for Realm modules which would be a starting point for doing this work in the Python module. Once @streichler has written down the API that he wants then I'll do the work to implement the fix in the Python module.

[2022-03-16 09:15] mariodirenzo commented on #1167
Do we have any workaround that could use until you push a fix?
Do you think that this could potentially lead to the hangs observed in release mode?

[2022-03-16 12:12] syamajala commented on #1213
This works on both CUDA and HIP.

[2022-03-16 12:12] #1213 closed

[2022-03-17 17:07] elliottslaughter commented on #1028
Adding some more outstanding issues:

 * We can't use ROCm's built-in thrust due to https://github.com/ROCmSoftwarePlatform/rocThrust/issues/227, which requires us to use a custom thrust installation https://github.com/ROCmSoftwarePlatform/Thrust (this is apparently an older thrust).
 * We can't build against ROCm 5.x due to the missing hipify-perl (which maybe we should remove anyway).

[2022-03-17 17:10] elliottslaughter opened #1215 "HIP: cannot build against ROCm 5.0"
Currently we are unable to build against ROCm 5.0 because this version is missing `hipify-perl`.

While we could fix this by figuring out how to install `hipify-perl`, I think it would be better to stop relying on code transformation in general. I've had success with using a header to swap out the HIP APIs for CUDA APIs when we're building in HIP mode, and I think that would work for us here.

You

[2022-03-17 17:30] elliottslaughter opened #1216 "HIP: cannot build with hipcc as host compiler"
I understand that we currently cannot build with `hipcc` as the host compiler for Legion, even though `hipcc` is derived from Clang and perfectly serviceable in this regard.

I think fixing this would mean not relying on `__HIPCC__` define in our code, and instead adding something like `REALM_HIP_DEVICE` to `HIPCC_FLAGS` so that we differentiate between host and device files we're passing to `hipc

[2022-03-17 17:32] elliottslaughter opened #1217 "HIP: cannot build with built-in rocThrust"
We currently require a custom installation of thrust for HIP because of the following bug in the thrust that comes built-in with ROCm: https://github.com/ROCmSoftwarePlatform/rocThrust/issues/227

We either need the linked issue fixed, or else we need to provide an alternative like: #1216

[2022-03-17 17:37] elliottslaughter commented on #1035
What's the blocker for (1) here? I've compiled `.cu` files many times with `hipcc`.

[2022-03-17 19:00] eddy16112 opened #1218 "HIP: CUDA Array is not supported"
The CUDA module will have a new feature that allows realm to move data from/to buffer allocated by cudaMalloc3DArray, and it requires two CUDA functions: cudaMemcpy2DFromArray and cudaMemcpy2DToArray, but they are not existing in HIP.

[2022-03-17 21:00] syamajala commented on #1214
Below are some plots comparing various profiling methods. Manual timing was measured in the following way:
[code]

Comparing manual sync/timing with rocprof and legion prof for ammonia:
http://sapling.stanford.edu/~seshu/bomb/ammonia/crusher_manual_sync.html

We see legion_prof < manual time < rocprof

Comparing manual sync/timing with rocprof and legion prof for hept:
http://sapling.stanford.edu/

[2022-03-17 21:18] streichler commented on #1214
both of those `gettimeofday` calls are in the same legion task body, right?  I'm really surprised that you can get legion_prof < manual, since legion_prof numbers are based on timers realm samples before the task body is called and after the task body returns.  What kind of CPU does crusher use?

[2022-03-17 21:21] syamajala commented on #1214
Yes, it is all within the same legion task body. Crusher uses AMD EPYC 7A53.

[2022-03-18 11:41] mariodirenzo commented on #1167
I've tried running with Legion on `e08ecb0f140ee29616a8dec9886278c13b075573` (lines https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/legion_analysis.cc#L1200-1209 commented out) and compiling with the flag `DEBUG=1 -DDEBUG_LEGION_GC` and I encounter at least two failure modes:

- mode 1
[code]

- mode 2
[code]

if I update Legion to the latest version (`88461bfbad

[2022-03-18 17:51] bandokihiro opened #1219 "Post-Task Execution taking longer spuriously"
I have a [profile](http://sapling.stanford.edu/~bandokihiro/Profile02/legion_prof) in which there is something that I don't understand. Most Post-Task execution utility tasks last O(10) us but sometimes they peak at O(1) ms. It sometimes happen when one of the utility is busy with a ProfTask in which case I would understand this as profiling overhead. But this also happens when there doesn't seem

[2022-03-18 17:54] bandokihiro commented on #1068
Similarly, logging the hostname and the process ID in the logs at start-up would be useful for instance when running multiple ranks per node.

[2022-03-21 08:46] lightsighter commented on #1219
I don't think this is unusual. We put a lot of pressure on malloc with lots of dynamic allocations and frees and occasionally malloc needs to update its data structures for managing the heap. It usually takes it a few ms to do this. We've observed this on lots of different machines. If you want to experiment try swapping out dlmalloc for tcmalloc and see if it changes your profiles at all.

[2022-03-21 20:47] bandokihiro commented on #1219
Thanks, I just wanted confirmation that this is not unusual.

[2022-03-21 20:47] #1219 closed

[2022-03-21 21:59] bandokihiro opened #1220 "Trying to understand mapping callbacks"
I am attempting to enforce a given mapping order. To do this, I need to hold onto a task in `select_tasks_to_map`. Trying to implement this, I have a few questions regarding the order of mapping callbacks in general. I am starting with a single rank run with 1 sub-region (i.e. no partitioniong). I create one mapper per process (there is only one process running at the moment). I override the defau

[2022-03-21 22:33] syamajala opened #1221 "Legion: S3D seg. faulting on Summit on 16+ nodes"
S3D seems to be seg faulting on Summit when I run on 16 or more nodes. Im using gasnetex. Commit bef6162baafc4f of control_replication.

I'm seeing the following:
[code]

[2022-03-21 23:02] lightsighter commented on #1221
Run in debug mode so the backtrace contains the values of all the arguments passed to each function call.

[2022-03-21 23:10] lightsighter commented on #1221
Nevermind, the `sid` is huge. I'll need a reproducer on sapling. Should reproduce without GPUs on a tiny problem size, but needs to have at least 16 processes.

[2022-03-22 01:16] lightsighter commented on #1221
I might also be able to figure this out from a core dump file, but I need to have full debug symbols and the entire heap.

[2022-03-22 04:51] syamajala commented on #1221
It looks like a number of options have disappeared from the CMakeLists.txt? I'm not seeing Legion_MAX_NUM_NODES or Legion_MAX_FIELDS anymore.

[2022-03-22 04:53] syamajala commented on #1221
They disappeared in this commit: 9a14512a

[2022-03-22 05:20] lightsighter commented on #1221
You can see that commit didn't remove any lines for `CMakeLists.txt` so all the options are still there.

[2022-03-22 05:25] syamajala commented on #1221
Legion_MAX_NUM_NODES is not there if you look at the full file: https://github.com/StanfordLegion/legion/blob/9a14512a5170c07f53496bea29a0c6422370c5d4/runtime/CMakeLists.txt

The last commit before that which modified CMakeLists.txt still contains Legion_MAX_NUM_NODES: https://github.com/StanfordLegion/legion/blob/c10271d6ecb7ca1c92cfabf5d76e4a76444f9300/CMakeLists.txt#L607

Maybe there was a conf

[2022-03-22 05:33] syamajala commented on #1221
My bad. I was looking at the wrong files.

[2022-03-22 05:40] syamajala commented on #1221
The reason I was looking at this is because I was not able to reproduce this on sapling. I ran up to 64 ranks. When I built in debug mode on Summit I'm seeing this:

[code]

I thought maybe LEGION_MAX_NUM_NODES was not getting set correctly.

I got a core file on Summit. Here is a stack trace with full debug symbols:
[code]

[2022-03-22 05:49] lightsighter commented on #1221
Put the core file on sapling so I can look at it.

[2022-03-22 06:34] syamajala commented on #1221
the core file is in this directory: /scratch2/seshu/s3d_core

[2022-03-22 06:54] lightsighter commented on #1221
I also need the binary, preferably one that has all libraries statically linked.

[2022-03-22 08:47] lightsighter commented on #1220
The runtime executes tasks like a pipelined out-of-order processor. Each stage operates independently of the others and tasks don't have to go all the way through the pipeline before the next task can start the pipeline, even in the presence of data dependences. Pipeline stages are unbalanced in the amount of work they each require and by the amount of work required for each individual task or ope

[2022-03-22 14:33] syamajala commented on #1221
I needed more ranks and a second node to reproduce it on sapling. I left a debug process running.

[code]

[2022-03-22 15:57] bandokihiro commented on #1220
Here, by operation, do you mean an app task for instance?

@manopapad I would be very interested in such diagram if you have one.

Yes, sorry for the confusion. I use the default `slice_task` implementation. Previously, I did override it but I realized that the same behavior I was trying to enforce could simply by obtained with `-dm:same_address_space` so that's what I am doing now.

[2022-03-22 18:29] lightsighter commented on #1221
Pull and try again.

[2022-03-22 21:31] manopapad commented on #1220
I never made a real diagram, but here's an overview:

* `select_task_options` (once per task launch)
* `select_tasks_to_map` (until task gets added to list)
* `select_sharding_functor` (once per task launch, if replicated execution)
* `slice_task` (if index launch, can recurse, includes only local points if replicated execution)
* `map_task`
* `select_task_sources` (for each region requirement, to

[2022-03-22 21:49] bandokihiro commented on #1220
do you see a reason why `select_tasks_to_map` would be called twice for a single task launch?

[2022-03-22 21:58] manopapad commented on #1220
It is possible that the first call is referring to the index launch as a whole, and the subsequent calls are handling each point task individually after slicing (in this case there's only one point task). I am not certain about this part of the workflow, because @lightsighter and @rohany were making changes to it recently.

[2022-03-22 22:59] syamajala commented on #1221
Working on both Summit and Sapling. Thanks!

[2022-03-22 22:59] #1221 closed

[2022-03-22 23:28] lightsighter commented on #1221
Bugs with reproducers always get fixed faster.

[2022-03-22 23:36] rohany commented on #1220
As mike mentioned above, I believe that this only happens if you set `recurse` to true in your slice task.

[2022-03-22 23:39] bandokihiro commented on #1220
I don't think the default mapper does that?

[2022-03-23 00:04] manopapad commented on #1220
We can easily test the theory that `select_tasks_to_map` is getting called once for the overall launch and once for each point task. Just do a larger index launch, with 2 point tasks. If the theory is correct, then you should see 3 total instances of `select_tasks_to_map`.

[2022-03-23 00:10] bandokihiro commented on #1220
It looks insensitive to the size of the launch space.

[2022-03-23 00:46] lightsighter commented on #1220
The only tasks that are end up in `select_tasks_to_map` are either individual tasks launched by `IndividualTaskLauncher` or slice tasks that came from a previous call to `slice_task` for an index space task launched by `IndexTaskLauncher`. If you're running with control replication, then the behavior you're observing is expected because sharding is an implicit slicing. The process of sharding any

[2022-03-23 05:01] bandokihiro commented on #1220
OK, this makes sense. In my case, the sharding distributes N point tasks to N ranks and I guess `slice_task` becomes a no-op, i.e. both calls to `select_tasks_to_map` actually see point tasks or, in other words, `slice_task` doesn't slice, only the sharding does. Is there a way for me to hold onto a point task at the second call to `select_tasks_to_map`, i.e. "right before" it falls into `map_task

[2022-03-23 06:08] lightsighter commented on #1220
If people feel like it would be useful, we could extend the `select_sharding_function` call to say whether the resulting slice should be considered a `recurse` slice or just a slice which does not need further slicing. It wouldn't be a hard thing to do.

This is what @rohany wanted to do as well. Since you control the granularity of slicing, you can continue slicing all the way down to individual

[2022-03-23 15:28] bandokihiro commented on #1220
So I think, at least for the N points to N ranks case, that both calls to `select_tasks_to_map` (the one after sharding and the one after slicing) will see single point tasks (the same one beside the fact that the unique ID seems to get incremented between these two stages).

[2022-03-23 21:55] joeythaman commented on #1195
Hey @elliottslaughter ! We are not actually iterating the ispace in the loop which to me is the more confusing part of it.  In the "trace and ispace" code the ispace is created but is completely untouched so that original code I posted is correct.

The following is correct:
[code]
The following are the '-fpretty 1' outputs for all 3 versions.  Thank you!

Slow version with both var is = ispace(int

[2022-03-24 07:09] syamajala opened #1223 "Legion: IndexSpaceOperation pack_expression invalid"
I am seeing the following assertion on Summit:
[code]

Here is a full stack trace:
[code]

I will try to see if I can reproduce this on Sapling.

[2022-03-24 07:23] lightsighter commented on #1223
Build with `-DDEBUG_LEGION_GC` and see if you get a different backtrace

[2022-03-24 07:41] lightsighter commented on #1223
I think this might be a spurious race. If you attach a debugger and call `is_valid()` again and it returns true, then it is definitely a spurious race. I'm going to try to push a fix that better follows the memory model.

[2022-03-24 08:12] lightsighter commented on #1223
I might have pushed a fix. See if it still occurs.

[2022-03-24 09:03] lightsighter commented on #1220
We should probably provide a way for mappers to say that the result of sharding does not need to be further sliced.

Right, because conceptually you made a new slice. Each call to `slice_task` will make completely new slices and throw away the old one. We presume that if you call `slice_task`, then you're probably going to slice it in some way.

Yes, if you thought you still had to do something wi

[2022-03-24 09:39] lightsighter commented on #1223
Nevermind, I reproduced this in a different way and this will require a slightly more invasive fix. Running with `-DDEBUG_LEGION_GC` (optimizations on or off) should fix the issue for now though.

[2022-03-24 15:36] bandokihiro commented on #1220
Does this mean that currently, there isn't a way for me to make a difference in `select_tasks_to_map` between whether the task I see comes from after sharding or after `slice_task`? If that is the case, I don't see a way to prescribe correctly an order at the `select_tasks_to_map` stage in the pipeline to `map_task`.

[2022-03-24 16:50] syamajala commented on #1214
Using Realm:current_time_in_microseconds() I made a timeline plot.

![2022-03-24-094817_1918x2110_scrot](https://user-images.githubusercontent.com/45757/159968320-66c61267-65e0-499e-88bc-3e5a2865c82c.png)

We can see legion_prof is recording start times a little later than the manual timing code.

![2022-03-24-094721_1918x2110_scrot](https://user-images.githubusercontent.com/45757/159968408-53274c

[2022-03-25 08:38] lightsighter commented on #1220
I think the current answer is that is right. I think the solution will be for me to add an option to the `select_sharding_functor` mapper call for tasks that allows you to say that the resulting slice does not need to be recursively sliced. That way you won't have to run any tasks through `slice_task` unnecessarily.

[2022-03-25 08:44] lightsighter commented on #1214
Are the rocprof times all equally "later" or do they vary across measurements? At least from this picture it looks like they are all equally later, suggesting that the relative timing is accurate, but that precision is "off" by some amount relative to the manual and legion prof timings. If rocprof is all off by some constant amount that should be easy enough to account for, you just can't mix timi

[2022-03-25 15:40] bandokihiro commented on #1220
Cool, let me know then when you find time to add that option, thanks.

[2022-03-28 07:03] lightsighter commented on #1220
Try using this flag in `select_sharding_functor` to control whether to recurse the slicing of sharding output:

https://gitlab.com/StanfordLegion/legion/-/commit/3847f0c754caf269c337715c662fa327871d4fb3

[2022-03-28 18:26] lightsighter commented on #1223
It will probably make a considerable hit on performance as reference counting is much more expensive. Switch back to running without and see if the issue is resolved.

[2022-03-28 20:00] bandokihiro commented on #1220
It works. I don't see multiple occurences in `select_tasks_to_map`. I then tried to implement what I originally wanted to do but I ran into some strange behavior (not immediately though, not sure why). Basically, it looks like Legion is ignoring task registration for the GPU. It tries to launch the OMP variant but then it seems that there is a hidden regression in the kokkos interop and it crashes

[2022-03-28 20:37] bandokihiro commented on #1220
The OMP Kokkos interop doesn't work with `-ll:force_kthreads` which was responsible for the crash. But Legion still refuses to run the GPU variant.

[2022-03-28 21:12] manopapad commented on #1220
Is this related to the original issue? If not then please close this issue and create a new one, with the required context for the new problem.

[2022-03-28 21:15] bandokihiro commented on #1220
I haven't been able to get to where I want so I want to keep this one open. I can open another issue if the solution to my latest issue is not obvious.

[2022-03-28 22:29] elliottslaughter opened #1224 "Regent: HIP support"
I'm creating this tracking issue to help me remember specific issues I'm hitting in Regent with HIP.

This has been merged into master. The only remaining outstanding item is regressions related to ROCm 5.x.

## Status

  * `examples/stencil_fast.rg`: works but needs workaround for slow GPU fill (see #1236)
      * seems to be crashing in ROCm 5.0.2 and 5.1.0, works in ROCm 4.5.0
  * `examples/sep

[2022-03-29 18:16] bandokihiro commented on #1220
The two commits 3847f0c7 and 28ae84e4 are reponsible for this. According to @syamajala 1 rank/node is fine but Legion refuses to run tasks on the GPU for multiple ranks/node.

[2022-03-29 18:51] syamajala opened #1225 "Legion: Tasks not executing on GPU when using multiple ranks/node"
When using multiple ranks/node tasks are only executing on CPU and not on GPU on the latest control_replication. According to @bandokihiro something seems to have changed in commit 3847f0c7.

Doing a bisection myself I also confirmed I am no longer able to run tasks on GPU when using multiple ranks/node after that commit. Running 1 rank/node works.

[2022-03-29 19:05] lightsighter commented on #1220
I don't think this is an issue with Legion. Both @bandokihiro and @syamajala are relying on `slice_task` as a crutch and that's not an option if you're going to set `slice_recurse=false` in the call to `select_sharding_functor`. You'll need to set the right destination processor in `select_task_options` because you're not going to get another chance to move the tasks before they map otherwise. I w

[2022-03-29 19:17] lightsighter commented on #1225
This is a duplicate of #1220. Read this first:

https://github.com/StanfordLegion/legion/issues/1220#issuecomment-1082221791

Then talk to @bandokihiro about what you want the right answer to be. You're both complaining that you want it the opposite way of the other.

[2022-03-29 22:16] bandokihiro commented on #1220
From what I can tell, the `initial_proc` is set to a `TOC_PROC` (kind == 1). The mapper still fails within `default_find_preferred_variant` in `map_task`. Only a `TOC_PROC` variant is registered.

[2022-03-29 22:24] syamajala commented on #1220
In S3D at least we are setting initial_proc to a gpu in select_task_options. I could see that in the mapper log as well. In `map_task` though `task.target_proc.kind()` was always `LOC_PROC` when slice_recurse=false.

https://gitlab.com/legion_s3d/legion_s3d/-/blob/regent_nscbc/rhst/rhst_mapper.cc#L163-175

[2022-03-29 23:21] lightsighter commented on #1220
I switched back the default so everything should be the same as it was before. You guys tell me what you want to do next.

[2022-03-29 23:25] bandokihiro commented on #1220
The `slice_recurse=true` path works (obviously) so my next step is to make the `slice_recurse=false` path work without trying to enforce an ordering in `select_tasks_to_map` yet (which would be my next next step). Currently, the `slice_recurse=false` path doesn't work with gpu variants not found in `map_task` and the `initial_proc` in `select_task_options` set correctly.

[2022-03-29 23:47] lightsighter commented on #1220
Pull and try again.

You guys still need to decide on what the default will be.

[2022-03-30 04:31] bandokihiro commented on #1220
Thanks, that fixes tasks not running on the GPU.

For the default behavior, I would advocate for `slice_recurse=true` in order not to break existing codes but that is just my personal opinion.

Also since `select_sharding_functor` seems to not get called when there is only 1 rank, `slice_recurse` will take the default behavior for the 1-rank case. I haven't seen any problem with that but I thought

[2022-03-30 16:56] bandokihiro commented on #1220
nevermind, I didn't see an importance dependence which is the source of the hang

[2022-03-30 17:10] bandokihiro commented on #1220
`pack_for_explicit_ghosts_task` was in fact launched and run to completion. I still expected an update of the ready queue to trigger another call to `select_tasks_to_map` even if the event hasn't been triggered yet. The correct dependencies are as follows:
- `evaluate_at_faces_task` and `volume_residual_task` are immediately ready
- `pack_for_explicit_ghosts_task` depends on `evaluate_at_faces_tas

[2022-03-30 17:49] bandokihiro commented on #1220
My first attempt was dumm... I fixed it with the followings in `select_tasks_to_map`:
1. scan the ready queue
2. if `evaluate_at_faces_task` is in there, then give it a head start and return
3. if a packing tasks is in there, then only allow them in the pipeline
4. otherwise revert the default logic

I think this achieves the behavior I want without playing with events.

[2022-03-30 22:56] #1225 closed

[2022-03-30 22:59] syamajala opened #1226 "Realm: gasnetex seg fault on Summit"
I'm seeing a seg. fault on 16 nodes on Summit when using gasnetex.

[code]

[2022-03-31 15:54] syamajala opened #1227 "Realm: Shutdown hang on Summit"
I'm occasionally seeing one rank in a job on Summit that never exits.

Here is a stack trace from that rank:
[code]

The rest of the ranks look like this:
[code]

[2022-03-31 16:00] bandokihiro commented on #1220
So I haven't been able to test it on a large proc count where I see sometimes an undesirable ordering but, looking at an old profile, I am worried this is not enough. In the attached pictures, both the yellow and blue tasks depend on the green task. I want the blue task to run after all yellow tasks. I assign higher mapping priority to the yellow tasks. Despite the fact that they are ready at the

[2022-03-31 18:26] syamajala commented on #1223
This is working now.

[2022-03-31 18:26] #1223 closed

[2022-03-31 19:45] lightsighter commented on #1192
Adding @streichler and @alexaiken for discussion. I'll continue to be the owner of this issue for now since I'll likely be the one that ends up implementing it in Realm.

[2022-04-01 01:12] streichler opened #1228 "cmake: don't cache values of Legion_VERSION generated from `git describe`"

[2022-04-01 15:42] bandokihiro commented on #1220
Summarizing here what I ended up doing before closing

- logic within `select_tasks_to_map` is not going to work in a trace replay since this method doesn't get called
- I chose to create a write-after-read dummy region dependency between all yellow tasks and the blue task such that the latter runs after the former, this will work in a trace replay as long as the yellow tasks read from the same in

[2022-04-01 15:42] #1220 closed

[2022-04-01 19:51] bandokihiro opened #1229 "realm: deppart issue"
I'll let @streichler give more context. Below are examples of error messages,
[code]

[2022-04-01 20:06] streichler commented on #1229
Legion is asking Realm to do a preimage of 3840 targets, and Realm is trying to launch microops for all the targets, which doesn't fit in a single active message.  I need to either:
1. break microop requests into potentially multiple packets (gross), or
2. break a request like this into multiple microops (good for parallelism, but duplicates a bit of effort like reading the pointer fields)

One co

[2022-04-01 23:13] elliottslaughter commented on #1041
New results with LLVM 13 and `atomicrmw`:

  * Circuit: 1.9726 => 2.3988 seconds (1.22&times; relative execution time)
  * Stencil: 1.7562 => 1.695 seconds (0.97&times; relative execution time)
  * Pennant: 2.354 => 2.3342 seconds (0.99&times; relative execution time)

So basically parity on Stencil and Pennant and still behind on Circuit (though with a very marginally smaller gap).

[2022-04-01 23:54] elliottslaughter commented on #1041
I'm attaching the generated PTX code here.

  * [circuit_llvm3.8.txt](https://github.com/StanfordLegion/legion/files/8401359/circuit_llvm3.8.txt)
  * [circuit_llvm13.txt](https://github.com/StanfordLegion/legion/files/8401361/circuit_llvm13.txt)

One thing that immediately stands out to me is that the NVPTX output is *dramatically* longer. Like 30k lines vs less than 1k. I wonder if the LLVM inlin

[2022-04-02 00:20] elliottslaughter commented on #1041
Ok, I found a hack to force the LLVM 13 to use `atom.global.add.f32` by casting the address space of the pointer through https://llvm.org/docs/NVPTXUsage.html#llvm-nvvm-ptr-gen-to-intrinsics .

  * [circuit_llvm13_global.log](https://github.com/StanfordLegion/legion/files/8401409/circuit_llvm13_global.log)

I am seeing the right instructions generated, but performance does not change.

I also see

[2022-04-02 04:22] bandokihiro commented on #1193
fcced203e was found to be healthy in the sense that I have been able to run strong scaling tests on Summit from 1 to 32 nodes without issues. I will likely scale up in the near future and see if my application triggers any bug.

[2022-04-02 04:22] #1193 closed

[2022-04-02 04:22] bandokihiro commented on #1197
I wasn't able to reproduce with fcced203e so closing this issue.

[2022-04-02 04:22] #1197 closed

[2022-04-02 05:15] elliottslaughter commented on #983
This has been added in https://gitlab.com/StanfordLegion/legion/-/merge_requests/459 but does not fully address #1041 in my initial testing.

[2022-04-02 17:18] streichler commented on #1173
This was fixed with commit e600c7eb.

[2022-04-02 17:18] #1173 closed

[2022-04-02 17:29] streichler commented on #622
The specific change requested here (local packing/unpacking of sparse data) was added with commit 7d12a8ed.  Other issues are tracking other improvements to scatter/gather (unstructured, affine, or both).

[2022-04-02 17:29] #622 closed

[2022-04-02 17:35] streichler commented on #1204
@rauteric I have a commit in a branch that hopefully fixes this.  Are you interested in giving it a try?

[2022-04-02 17:39] streichler commented on #1069
IPC support for gpu memory made it into legion-22.03.0 with commit 69c78590.  Keeping this issue open for the cpu memory half.

[2022-04-02 21:49] lightsighter commented on #622
Do we need a separate issue for tracking packing/unpacking being done on GPUs or do you feel like other current issues handle that sufficiently?

[2022-04-02 22:35] streichler commented on #622
Issue #621 is the umbrella issue for using kernels rather than cuMemcpy* to do GPU data movement.

[2022-04-04 17:38] rauteric commented on #1204
Thanks @streichler, if you point me to the branch I can give it a try.

[2022-04-04 19:02] elliottslaughter commented on #983
I went ahead and merged this because it seems to be doing its job. The remaining regressions seem to be coming from other places, so while they still need to be addressed, it won't be through the atomics.

[2022-04-04 19:02] #983 closed

[2022-04-04 19:58] syamajala opened #1230 "Legion: union_index_spaces failure in circuit"
I am running circuit using the ofi conduit on crusher and hitting assertions in the runtime when I start scaling. Running 2 ranks seems to work, but running 4 ranks hits the following assertion:

[code]

Here is a full stack trace:
[code]

I am also seeing the following gasnet error:
[code]

Its possible this is an issue with realm/gasnet and not legion?

[2022-04-04 20:12] apryakhin commented on #622
What's the priority of this issue among the list of outstanding work items for Realm? Is there any context/data which is missing in order to make a decision with respect to this issue?

I would be interested to pick this up if the priority is appropriate in our roadmap

[2022-04-04 20:51] elliottslaughter commented on #1041
I'm tracking the inliner issue as https://github.com/terralang/terra/issues/527. I've got a short reproducer so hopefully it won't be hard to find. LLVM itself seems to be working; it has to be something in Terra's `cudalib` code path.

[2022-04-04 20:58] pmccormick commented on #1041
I see something potentially related in some of our code -- we specifically had to "tickle" each GPU-bound function to get inlining to cooperate (e.g., in LLVM: `DeviceFn->addFnAttr(Attribute::AlwaysInline);`).  Not sure how that aligns with terra's codegen path but it seemed to resolve the issue for us.

[2022-04-04 21:15] elliottslaughter commented on #1041
Turns out you need to add the inliner to pass manager, something we were doing in Terra's standard optimization path that got missed in the migration to NVPTX.

https://github.com/terralang/terra/pull/528

[2022-04-04 21:52] lightsighter commented on #1230
I doubt that they would be related. Some of the line numbers in the backtrace do not align with the most recent control replication branch. Can you try moving to the newest control replication branch commit?

[2022-04-04 21:53] elliottslaughter commented on #1041
I verified that https://github.com/terralang/terra/pull/528 fixes the inlining in the PTX output, but the performance does not change. I suspect that the CUDA driver was doing the inlining on its side. Still, I took the PR because it's plausible that there might be cases where there'd be a difference in inlining between LLVM and PTX, so it's better to have predictable behavior by keeping it under

[2022-04-04 22:07] apryakhin commented on #622
Ah, didn't notice that this has been done

[2022-04-04 22:30] syamajala commented on #1230
Here is a stack trace on the latest control_replication:

[code]

[2022-04-04 23:49] elliottslaughter commented on #1041
Ok, I played with a bit of a hack today and confirmed that the rounding modes are in fact responsible for the performance gap. I did three replacements via regex directly on the PTX:

[code]

So if we can figure out how to generate those instructions with LLVM properly, we can probably get the performance back.

Having said that, the situation with rounding modes in LLVM is a bit weird. Here are t

[2022-04-05 00:08] elliottslaughter commented on #1041
I have also confirmed that the global vs generic atomics make no difference to performance. For posterity, I'm attaching the diff (now commented out) I used to do this, so I don't need to recreate it later if I turn out to want it again.

[code]

[2022-04-05 02:22] syamajala commented on #1227
Im seeing this on every single run on Perlmutter and intermittently on Summit.

Theres are the values of `cudaipc_condvar` and `cudaipc_releases_needed` on Perlmutter since its easier to reproduce:
[code]

[2022-04-05 05:34] streichler commented on #1227
please generate logs with `-level cudaipc=2` from a failing run and put them on sapling where I can look at them

also, `-cuda:ipc 0` may work around the issue

[2022-04-05 10:14] lightsighter commented on #1230
This kind of issue should reproduce deterministically on any machine if you can generate exactly the same circuit graph with the same partitioning. Try to make a reproducer on sapling.

[2022-04-05 17:11] syamajala commented on #1227
The logs from perlmutter are here: http://sapling.stanford.edu/~seshu/cuadipc_log/perlmutter

I'll see if I can get some logs on Summit too.

[2022-04-05 18:28] syamajala commented on #1230
Reproduced on sapling. Left the process running.

[code]

[2022-04-05 22:11] elliottslaughter commented on #1041
I've been playing around with [fast math](https://llvm.org/docs/LangRef.html#fastmath) as an alternative to rounding modes, and am able to confirm that I'm able to get additional improvement (beyond what I get without rounding modes) using fast math on Circuit. I've checked that the output uses `.rn.` on math instructions, but seems to have a higher percentage of `fma` instructions, which seems to

[2022-04-05 22:28] elliottslaughter commented on #1041
I verified that I get no additional performance improvement by adding the `.rn.` find-and-replace hack back in on top of my fast math change.

I also found this:

https://docs.nvidia.com/cuda/parallel-thread-execution/index.html#floating-point-instructions__summary-of-floating-point-instructions

Which seems to suggest that what's going on is the unspecified `.rn` is acting as a fast-math flag of

[2022-04-05 23:14] lightsighter commented on #1230
How do I run it for myself?

[2022-04-05 23:29] syamajala commented on #1230
`REALM_FREEZE_ON_ERROR=1 mpirun -np 4 circuit -lg:prof 4 -lg:prof_logfile prof_%.gz -npp 5000 -wpp 20000 -l 50 -p 40 -pps 10`

[2022-04-05 23:39] elliottslaughter commented on #1041
Results with the fast-math flag `contract` (but no other fast-math flags), and no `.rn.` find-and-replace hack:

  * Circuit: 1.954 seconds (vs 1.9726, 0.99&times; relative execution time)

So I think that confirms that the impact of the PTX no-`.rn` instructions is equivalent to `contract.

[2022-04-05 23:43] lightsighter commented on #1230
Can you rebuild with the latest control replication and see if you hit a different assertion?

[2022-04-06 00:56] lightsighter commented on #1230
Nevermind, I see what is going wrong, it will be an easy fix.

[2022-04-06 01:30] lightsighter commented on #1230
Pull and try again.

[2022-04-06 17:04] syamajala commented on #1230
This works now. Thanks!

[2022-04-06 17:04] #1230 closed

[2022-04-06 17:45] syamajala opened #1231 "Legion: corrupt IndexSpace bounds"
I'm running S3D with 2 ranks using the ofi conduit on Crusher. It looks like the bounds (bounds.lo.y) for an IndexSpace are getting corrupted.

I'm seeing the following:
[code]

[2022-04-06 18:01] lightsighter commented on #1231
Backtrace? Reproducer? Without any context there's no way to even start.

[2022-04-06 20:29] syamajala commented on #1231
Here is a minimal reproducer:

[code]

This is what I see on sapling:
[code]

[2022-04-06 20:44] lightsighter commented on #1231
What is the command line you're using to run it? Which GASNet conduit?

[2022-04-06 20:57] syamajala commented on #1231
`mpirun -np 1 regent.py test.rg`

Using ibv conduit.

[2022-04-07 01:11] lightsighter opened #1232 "Missing Profiling Responses on Failled Allocation"
Realm doesn't always report all profiling responses for instances that failed to be allocated. Attached is an example program. If the instance allocation succeeds, then the program will run to completion. However, on a failed allocation the program will hang waiting for an additional profiling response.

Jointly assigning myself since Legion will need to be updated when this bug is fixed.

[code]

[2022-04-07 01:56] lightsighter commented on #1231
I don't think these are corrupted index spaces. They are completely valid rectangles, they just happen to be empty rectangles. Any rectangle in which all the `lo` values are larger than the `hi` values is an empty rectangle.  Whenever I run the program I see the values change too, but they are always consistent with the definition of an empty rectangle.

What would you expect the output of this pr

[2022-04-07 04:32] syamajala commented on #1231
Please try the updated example:

[code]

I see the following output:
[code]

[2022-04-07 05:47] lightsighter commented on #1231
[code]

I'm going to assume you meant `is_grid`.

[2022-04-07 05:57] lightsighter commented on #1231
Why aren't you initializing the off-diagonal values in the transform matrix? I'm pretty sure Regent won't auto-zero the matrix for you (@elliottslaughter can say for sure). It certainly looks like the values are uninitialized to me when they come in from Regent.

[code]

[2022-04-07 06:09] elliottslaughter commented on #1231
Regent does not initialize anything (this is inherited from Terra; there are no constructors and no RAII).

So yes, you need to explicitly set the off diagonals (or perhaps we should add a `matrix.zeroes()` method to generate a zero matrix).

[2022-04-07 06:20] syamajala commented on #1231
Zeroing the transform seems to work.

I wonder why we only hit this issue on Crusher for S3D but never had problems on Summit or Perlmutter.

[2022-04-07 06:20] #1231 closed

[2022-04-07 06:25] elliottslaughter commented on #1231
If you get lucky and the stack is clear in advance of the transform, you get zeroes in your uninitialized memory and everything is fine. If something then gets tweaked (e.g., a different function runs on the stack before this one, or perhaps the stack layout changes slightly), that uninitialized memory may get filled with something else.

[2022-04-11 16:38] syamajala commented on #1227
@streichler pushed a fix for that works on Perlmutter. I'm not sure about our Summit allocations right now so I havent tested on there. Gonna close this for now.

[2022-04-11 16:38] #1227 closed

[2022-04-11 18:48] elliottslaughter commented on #1041
Updated results with the new `fast-math` branch of Terra and `regent-fast-math` branch of Legion. Results are expected to be the same as my last update, just confirming this is true in the version where the fast-math flags are not hard-coded into Terra.

  * Circuit: 1.9562 seconds (vs. 1.954 in my last update; 1.9726 for LLVM 3.8)

I'm going to consider this now resolved for the three apps I've b

[2022-04-11 19:34] elliottslaughter commented on #1041
Here are my instructions for the other apps I'd like to have checked:

I'd like to do a comparison of three configurations. Ideally, I want as direct a comparison as possible: same Legion/Regent, same GASNet, same Terra, and same application versions in all cases. The only variables I'd like to change are LLVM and (in one case) the Regent flags below. Otherwise it will be difficult to be 100% sure

[2022-04-11 23:22] elliottslaughter commented on #1041
Results from S3D, thanks to @syamajala:

So all faster, though nothing dramatic (1-2%).

[2022-04-14 17:47] syamajala opened #1233 "Realm: PendingCompletion::invoke_local_completions assertion"
I am hitting this assertion on Perlmutter at 96 and 128 nodes:

[code]

Here is a stack trace:
[code]

[2022-04-14 18:50] elliottslaughter commented on #939
I am no longer able to reproduce this on Summit with LLVM 13, Legion `master` and Terra `luajit2.1`. Closing.

[2022-04-14 18:50] #939 closed

[2022-04-14 18:51] elliottslaughter commented on #1038
Can someone try to reproduce this again with LLVM 13? I am no longer able to replicate #939 on Summit with LLVM 13.

[2022-04-14 18:53] elliottslaughter commented on #939
For posterity, my modules:

[code]

Environment:

[code]

Setup command:

[code]

[2022-04-14 18:58] elliottslaughter commented on #1038
For what it's worth, I am no longer able to replicate the error with `./regent.py examples/embed_tasks.rg` with the same configuration I noted at https://github.com/StanfordLegion/legion/issues/939#issuecomment-1099526412.

[2022-04-15 00:17] bandokihiro opened #1234 "Delayed first set of copies in traced region"
I ran a 4-node 24-rank case on Summit. My app does explicit RK iterations. Each iteration is comprised of 3 algorithmically identical stages. Each stage has one round of peer-to-peer communication.

I am comparing two cases
1. the traced region between `begin_trace` and `end_trace` is 1 RK iteration ([profile](http://sapling.stanford.edu/~bandokihiro/Profile29/legion_prof))
2. the traced region be

[2022-04-15 00:23] bandokihiro commented on #1234
Some pictures extracted from the profiles
![Screenshot from 2022-04-14 17-03-03](https://user-images.githubusercontent.com/39278362/163496720-d9e4a319-e087-4ba4-b1fe-37383f66aae1.png)
![Screenshot from 2022-04-14 17-03-15](https://user-images.githubusercontent.com/39278362/163496725-fcff673b-91f8-4072-852a-15c63ffde9df.png)

[2022-04-15 10:35] lightsighter commented on #1234
It's not tracing related. Legion has issued trace replays way far into the future in this case. You can see all the "Trace Replay" tasks are gone from the utility processors starting around the 20th iteration or so. That means that Legion has built up the entire Realm event graph for the remainder of the execution of the program after only 20 iterations. There's nothing left for Legion to do at th

[2022-04-15 16:30] bandokihiro commented on #1234
If I understand correctly, this is indeed expected. A rank is wating for data to arrive and  we could actually find an incoming box on the channel of that same rank that ends exactly just before the next kernel kicks in. I think this doesn't explain why the channel starts ~4 ms after the data is ready to be sent. This shouldn't depend on slower neighboring ranks.

I am not sure I understand. I fee

[2022-04-15 16:46] alexaiken commented on #1234
Mike,

Hmmm, it seems it is clearly tracing-related.  If you change the tracing, the behavior changes in a predictable way.  Maybe tracing isn't the direct cause, but then something connected to tracing is.

Alex
________________________________
From: Mike Bauer ***@***.***>
Sent: Friday, April 15, 2022 3:35 AM
To: StanfordLegion/legion ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Stanfo

[2022-04-17 03:40] bandokihiro opened #1235 "Failure when Summit"
I am running with e91fc5f13. I have been seeing the following error pretty reliably with 32 nodes, 192 ranks
[code]
I have been randomly seeing the following (type of) error with 8 nodes and 16 nodes
[code]
This region requirement is a simple READ_ONLY requirement on a region that was written to by a different point task of an index launch that was launched before. All coherences are EXCLUSIVE. I

[2022-04-18 08:49] lightsighter commented on #1234
Sure it can. Anti-dependences are a real thing. Just because the data has been produced on one node doesn't mean that the destination instance finished being consumed.

We haven't looked at any profiles yet without tracing yet and that is a bare minimum necessary condition to make me believe that this behavior is tracing related (it still won't be sufficient, but it is a first step). It could very

[2022-04-18 08:52] lightsighter commented on #1235
I need a core file for the assertion and detailed Legion Spy logs for a run that produces the error.

[2022-04-18 14:49] bandokihiro commented on #1235
I am hitting this
[code]

[2022-04-18 16:07] bandokihiro commented on #1234
which flag are you referring to? is it `-lg:dump_physical_traces`?

[2022-04-18 16:28] bandokihiro commented on #1234
Here is a [profile](http://sapling.stanford.edu/~bandokihiro/Profile33/legion_prof_0_1_2_6_7_8_9) with `-lg:no_tracing`. It is hard to conclude because there are gaps everywhere.

I agree. Rank 9 is slowest [here](http://sapling.stanford.edu/~bandokihiro/Profile29/legion_prof). However, the anti-dependence is not systematic. At t=54,002 ms, rank 0 has finished packing its data to be sent. This is

[2022-04-18 16:32] bandokihiro commented on #1234
I put logs with `-lg:dump_physical_traces -level tracing=2` here `/home/bandokihiro/scratch/ForMike/logs`. I am not sure how to read those.

[2022-04-18 20:16] bandokihiro commented on #1235
I tried to reduce the size of the problem but was unsuccessful to reproduce. Moving over a 32-node case here `/home/bandokihiro/scratch/ForMike/Issue1235`

[2022-04-18 22:31] elliottslaughter commented on #1041
Initial results from HTR, thanks to @cmelone:

However, I understand that something is going wrong with another solver test in LLVM 13.

[2022-04-18 22:45] elliottslaughter opened #1236 "Realm: slow GPU fills in HIP"
I'm testing the Regent Stencil app on HIP as part of #1224. I'm seeing startup times dominated by GPU fill performance. Eyeballing the profile, it looks like I'm filling a 15.295 MiB instance in 18.602 seconds, or about 0.827 MiB/s.

http://sapling.stanford.edu/~eslaught/crusher_regent_profiles/legion_prof_1k

Note: the "real" part of the execution is so short you need to scroll past the end of th

[2022-04-18 23:29] eddy16112 commented on #1236
HIP does not provide specific 2D memset functions such as `cuMemsetD2D8Async` and `cuMemsetD2D16Async`, instead, we use the generic `hipMemset2DAsync`. I am not sure how fast is the hipMemset2D.
I think you can try to figure out which hipMemset function is actually used here
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_internal.cc#L750
and measure the cost of that h

[2022-04-18 23:33] eddy16112 commented on #1236
By the way, did you do any warmup runs? It is better to add an extra warmup run to see if it improves the fill.

[2022-04-18 23:36] elliottslaughter commented on #1236
My workaround was to use a task to "fill" the region manually, which reduces my startup times to sub-second even at 100&times; the problem size (10&times; in each dimension). Warmup runs don't seem to be necessary.

Thanks for the leads. I'll probably leave the deeper debugging to whoever takes point on this issue.

[2022-04-19 09:46] lightsighter commented on #1235
Pull and try again

The core file requires a binary to load. Preferably x86, but if you're running on a PowerPC machine I will try to dig up access to one.

How long did you have to run before the error condition arose for the Legion Spy logs? The current size of them makes them prohibitively expensive to analyze.

[2022-04-19 10:02] lightsighter commented on #1234
What do you mean by that?

That is definitely not true. Task 115785 from the previous iteration is still running on the GPU on rank 9 as late as 54.0277 seconds. I can't see which instances it's using, but I'd wager money there is at least one that needs to be copied into by the next iteration of the trace.

I'd recommend running with `-lg:parallel-replay 1` to get one slice per template, then the

[2022-04-19 14:41] bandokihiro commented on #1235
On 32 nodes, it doesn't complete one iteration before failing. I saw similar failure on 8 and 16 nodes in release mode but I haven't been able to reproduce them in debug mode with detailed spy logging.

[2022-04-19 14:46] bandokihiro commented on #1235
Yes, I am only able to reproduce on Summit at some scale.

[2022-04-19 15:01] bandokihiro commented on #1234
Task 105816 on rank 0 and 115785 on rank 9 are part of the same index launch. The first stage of the traced region starts with task 105192 on rank 0 and task 115017 on rank 9 (dark blue). The last task from the previous stage on rank 9 that consumes data from rank 0 is task 114873. So rank 0 starts packing (tiny tasks after the dark blue task 105192) at 54,001 ms and the anti-dependence ceases to

[2022-04-19 16:12] elliottslaughter commented on #1234
Has anyone checked for fence elision? If fence elision failed, that seems like it would potentially result in symptoms that look like these (i.e., different behavior at the start of a trace vs an iteration within the same trace).

[2022-04-19 17:10] bandokihiro commented on #1235
I was able to reproduce with 8 nodes. The data is located here `/home/bandokihiro/scratch/ForMike/Issue1235`.

Note that the binary for the 8 node and the 32 node case are not the same.

I will move over a few core files.

[2022-04-19 18:07] ipdemes opened #1237 "Realm: fix logic for size constraints in transfer.cc"
Constraints like below should be changed  or instead the code that handle the wraparound case properly should be added
`ib_edges[ib_base + i].size = 65536`

With the current number for a constraint I am getting the following error for the test that uses 7-dim array:

[code]

changing 65536 to 60480  fixes the error for me

[2022-04-19 18:19] streichler commented on #1237
In theory this should have been able to break for even N=3, and I'm a bit worried about adding too many more constraints on intermediate buffer granularities, so I want to consider fixing the code that reads/writes points/rects from intermediate buffers to handle the wraparound case before changing anything.

[2022-04-20 01:36] lightsighter commented on #705
Here is a working merge request for an interface for this issue:

https://gitlab.com/StanfordLegion/legion/-/merge_requests/467

Also, @manopapad did a small worked example to understand how to map NumPy copies down to the interface:

[code]

which would translate to the interface as:

[code]

Translated: for each point in the copy index space, you do the source indirect transform on the point, us

[2022-04-20 03:14] manopapad commented on #705
Correcting my example, after some clarifications from @lightsighter:

[code]

becomes the following copy operation:

[code]

which works as follows:

[code]

[2022-04-20 07:08] mariodirenzo commented on #1038
I am not able to replicate this issue either with LLVM 13. Thanks for fixing this issue

[2022-04-20 07:08] #1038 closed

[2022-04-20 09:01] lightsighter commented on #1234
Fence elision doesn't fail. It can be turned off by the `-lg:no_fence_elision` or `-lg:no_trace_optimization` flags, but it will never "fail".

These are irrelevant to the execution of the Realm event graph. The graph has already been generated many seconds before we even get here. Once the `Replay Physical Trace` meta tasks disappear from the utility processors, then Legion has constructed the en

[2022-04-20 09:37] lightsighter commented on #1235
Does it reproduce on an x86 machine of comparable scale?

Does it reproduce after building with `-DDISABLE_EQUIVALENCE_SET_MIGRATION`?

[2022-04-20 16:04] bandokihiro commented on #1234
Nothing relevant I think because I am disabling outputs and stuff for these performance runs. I very occasionally take time measurements but maybe 2-3 times during the whole run. This is especially the case for the run where I traced 2 RK iterations for which I commented most of the stuff between traces. Besides incrementing the iteration counter, I really don't do much. Nothing stands out from th

[2022-04-20 16:36] elliottslaughter commented on #1234
I thought that fence elision can fail at least if there are any tasks or operations between the end of one trace and the start of the next?

[2022-04-20 17:12] bandokihiro commented on #1234
So I don't know what fence elision is about but with `-lg:no_fence_elision`, the gap is placed right at the trace boundaries.

[2022-04-20 20:05] syamajala opened #1238 "Regent: arglen mismatch with gasnetex"
When running the etprf mechanism in S3D with gasnetex on Perlmutter using 1 node, 4 ranks I'm hitting this assertion at runtime:
[code]
From the regent compiler:
https://github.com/StanfordLegion/legion/blob/control_replication/language/src/regent/codegen.t#L10787-L10789

Switching back to gasnet1 everything works fine.

@elliottslaughter suspects task arguments are getting corrupted.

[2022-04-20 20:10] bandokihiro commented on #1235
I removed the 32-node case.
The 8-node 48-rank case from Summit is still at `/home/bandokihiro/scratch/ForMike/Issue1235/08Nodes`
A 48-node 48-rank case from Piz Daint can be found at `/home/bandokihiro/scratch/ForMike/Issue1235/PizDaint`

[2022-04-20 21:59] syamajala commented on #1180
This issue is no longer there on Perlmutter.

[2022-04-20 21:59] #1180 closed

[2022-04-20 23:07] streichler commented on #1238
Can we dump the task argument blob that's triggering the assert and see how corrupted it looks?
The gasnetex network layer includes packet-level checksums by default, so most of the path is
protected from most forms of corruption.

[2022-04-20 23:55] bandokihiro opened #1239 "Non-deterministic failure"
In order to find the most convenient set of data for #1235, I have been runnning on Piz Daint in a while true loop. The 12-node configuration failed a few times with the same backtrace. I wanted to report this because I am not sure this is the same problem as #1235.
[code]

[2022-04-21 09:27] lightsighter commented on #1239
It's not, pull and try again.

[2022-04-21 09:42] lightsighter commented on #1234
Section 4F: https://legion.stanford.edu/pdfs/trace2018.pdf

Trace elision doesn't fail. Putting operations in between your traces though does mean that the runtime must disable the fence elision optimization to be sound and that will put global barriers between your traces executions and the intermediate operations when running with control replication (with only a few strictly controlled exceptio

[2022-04-21 09:43] lightsighter commented on #1235
Can you get a core file from Piz Daint?

[2022-04-21 15:15] bandokihiro commented on #1235
I have already put one there
[code]
If you need more, please tell me today if possible. They are each 50GB so I only moved one.

[2022-04-21 17:30] bandokihiro commented on #1239
Seems fixed. Thanks.

[2022-04-21 17:30] #1239 closed

[2022-04-21 17:34] bandokihiro commented on #1235
The smallest case with which I was able to reproduce is 20 ranks. I am currently moving the files over to sapling.

[2022-04-21 19:03] streichler commented on #1226
@syamajala is this still occurring with recent versions of legion/realm?

[2022-04-21 19:37] syamajala commented on #1226
I will try a recent version and let you know.

[2022-04-21 19:50] lightsighter opened #1240 "Profiling Improvements for Gather/Scatter Copies"
- [ ]  @streichler to propose new Realm profiling measurements for gather/scatter copies
- [ ] @seemamirch to implement them in Realm
- [ ] @lightsighter to pipe them from Realm through to Legion Prof logging
- [ ] @seemamirch + @elliottslaughter to update Legion Prof post-processing scripts

@alexaiken to ensure forward progress

[2022-04-21 22:26] bandokihiro commented on #1235
I had to delete the other cases for lack of space. Please find the binary + logs + 1 core file here
`/home/bandokihiro/scratch/ForMike/Issue1235/PizDaint_20Ranks`

[2022-04-22 05:31] bandokihiro commented on #1234
I left a reproducer with a 2-rank case that should produce logging which shows an unexpected dependency. The associated legion is at `/home/bandokihiro/scratch/ForMike/Issue1234/Repro/legion`

If you wanna make changes to legion, rebuild with the followings (on a gpu node)
[code]

To run the case, do
[code]
This will produce logging with `-lg:dump_physical_traces -lg:parallel_replay 1 -level traci

[2022-04-22 09:44] lightsighter commented on #1234
This looks like a very old tracing bug in the fence elision. I need Wonchan to confirm my understanding of his code before I can push a fix.

If what I think is the bug turns out to not be the bug, then we are going to need a simpler example. Traces with several thousands of instructions cannot be analyzed by hand. This code is completely deterministic and you should be able to reproduce the issue

[2022-04-22 09:46] lightsighter commented on #1235
You can delete the core files and binaries. They are not useful. I can see some threads, but none of the threads with the errors reported above. Next time you should put them in `/scratch2/...` where there is more space.

TBD if the Legion Spy logs are useful. I have a strong suspicion that this is also being caused by the equivalence set replication code which will be deleted just as soon as I ca

[2022-04-22 17:35] bandokihiro commented on #1234
The above reproducer will generate in `/home/bandokihiro/scratch/ForMike/Issue1234/Repro/Run/logs` log files where there are only 70 events in the replayable section. The pattern is a follow

[code]

[2022-04-23 00:18] elliottslaughter commented on #873
I wonder if you'd be able to work around this with:

[code]

This is the workaround we're using for a similar issue in HIP. You might need to repeat it for `cpCoefficients` as well.

[2022-04-23 00:42] elliottslaughter commented on #1041
I got these updated HTR results from @cmelone:

I understand that there was unrelated Realm regression that we worked around by backporting everything to an older Legion commit. This should be unrelated to LLVM/Terra/Regent.

[2022-04-23 09:07] ZamanLantra opened #1241 "Legion: circuit warning"
When using Avon cluster (https://warwick.ac.uk/research/rtp/sc/hpc/#avon) to run legion circuit, I am getting the below warning. I have attached the profiles of a run with 4 nodes with 4 cpus per node and the slurm script.

branch: control_replication

_WARNING: A significant number of long latency messages were detected during this run meaning that the network was likely congested and could be ca

[2022-04-23 09:53] lightsighter commented on #1241
Can you say what kind of interconnect network the machine has? Also which GASNet conduit are you using to run on the machine?

[2022-04-23 09:55] ZamanLantra commented on #1241
I am using ibv conduit

[2022-04-24 05:50] lightsighter commented on #1241
I don't see anything especially unusual in the profile. Would you mind running a few more iterations of the simulation and seeing if the percentage of "slow" messages decreases?

[2022-04-24 11:36] ZamanLantra commented on #1241
Yes the warning disappeared for higher number of loops.
I ran with the same config (with 2, 5, 10, 20, 50 loops) and 4162(18.57%), 2474(12.6%), 2962(8.9%) messages took longer than 1000.00us for 2, 5, 10 loops but the warning disappeared for 20 and 50 loops.
Thank you for the support!

[2022-04-25 09:44] lightsighter commented on #1241
Right, I think there are just some start-up overheads there that are getting ironed out. You could also try improving the latency handling of some of these messages here by adding some additional utility processors for Legion `-ll:util <N>`. That may improve the start-up responsiveness by handling more messages in parallel. Overall, I don't think there's anything to worry about here and we were ju

[2022-04-25 16:49] elliottslaughter commented on #1041
I believe everything has been resolved. Closing.

[2022-04-25 16:49] #1041 closed

[2022-04-25 17:53] syamajala commented on #1214
Received an update from OLCF today that AMD has acknowledged there is a bug in rocprof:
https://docs.olcf.ornl.gov/systems/crusher_quick_start_guide.html#olcfdev-842-inconsistent-timing-with-rocprof-timestamp-on

I think @seemamirch has been looking at legion_prof so I'm going to assign this to her.

[2022-04-25 20:21] syamajala commented on #1238
When I started adding print statements to debug this it started working...

[2022-04-26 03:58] syamajala commented on #1238
Seems to be gone with latest legion. I am able to run the ammonia mechanism up to 128 nodes on Perlmutter and etprf has run up to 24 nodes so far, rest of runs are in the queue. Gonna close this for now.

[2022-04-26 03:58] #1238 closed

[2022-04-26 03:59] syamajala commented on #1233
Using gasnetex works on Perlmutter.

[2022-04-26 03:59] #1233 closed

[2022-04-26 09:48] lightsighter commented on #1234
Pull the current control replication branch and see if it is gone.

[2022-04-26 15:33] bandokihiro commented on #1234
The profile looks happy now with gaps being really explained by unbalance between ranks. However, the pattern in the logs didn't disappear. I wanted to make sure this is expected before closing the issue.

[2022-04-27 09:34] lightsighter commented on #1234
That is expected. This was a very old tracing bug, that existed since the very first incarnation of tracing.

[2022-04-27 15:05] bandokihiro commented on #1234
All right. Thank you for the fix.

[2022-04-27 15:05] #1234 closed

[2022-04-27 19:07] waynee95 opened #1242 "Parts of the installation process are inconsistent"
While installing regent I found a few inconsistencies in the installation process.

1. The prerequisites listed on http://regent-lang.org/install/ seem to differ compared to the ones listed on https://github.com/StanfordLegion/legion/tree/stable/language#prerequisites

2. The `circuit.rg` file is not present anymore https://github.com/StanfordLegion/legion/tree/stable/language#running

[2022-04-27 19:41] syamajala commented on #1226
I ran up to 64 nodes with gasnetex on Summit without any issues.

[2022-04-27 19:41] #1226 closed

[2022-04-27 19:43] streichler commented on #1168
@syamajala has this one gone away too?

[2022-04-27 19:44] #1168 closed

[2022-04-27 19:48] elliottslaughter commented on #1242
Thanks for reporting this.

For now, stick to the instructions at http://regent-lang.org/install/ . The repo is out of date in this case.

The Circuit example can be found under `examples/circuit_sparse.rg`.

[2022-04-28 17:45] elliottslaughter commented on #1242
I've updated http://regent-lang.org/install/ and https://gitlab.com/StanfordLegion/legion/-/blob/master/language/README.md. Please check the new instructions and let me know if you have any issues.

It'll take a while for our GitHub mirror to sync from Gitlab (and `stable` won't update until our next release anyway), but your original link should update eventually.

[2022-04-28 21:35] seemamirch opened #1243 "Profiler - memories/processors/affinity"
From Mike  -  Move to a mode where the profiler just logs new processors and memories as it sees them so that we get them in the logs even in the case where we don't exit cleanly - the downside to this approach is that it requires a fast check to see if we already have seen the name of the processor or memory

[2022-04-29 10:08] ZamanLantra commented on #1241
As suggested, I will change the number of utility processors and see (and will close this issue). Thank you for your time in analysing this

[2022-04-29 10:08] #1241 closed

[2022-04-29 23:52] bandokihiro commented on #1235
Probably easier to discuss here directly. Currently
- the bug reproduces non-deterministically for any rank count greater or equal than 17
- there isn't a clear pattern between how often the bug occurs and the number of ranks
- the bug doesn't reproduce on 16 ranks (or at least I wasn't able too)
- changing `LEGION_COLLECTIVE_RADIX` to 2 didn't help reproduce the bug on 16 ranks

[2022-05-02 19:03] elliottslaughter commented on #873
Fixed in https://github.com/terralang/terra/pull/550.

[2022-05-02 19:03] #873 closed

[2022-05-02 19:18] bryevdv opened #1244 "Readline completions / arrow keys not functioning"
cc @lightsighter

Trying to use arrow keys in legion interpreter, either for history recall or inline editing, fails:
[code]

@lightsighter commented externally:

This assumption was tested by using the following module
[code]
With a bare minimal embedded interpreter:
[code]

If the resulting binary is executed, the same issues with arrow keys are reproduced. If `shell.py` is executed with the sta

[2022-05-02 20:13] elliottslaughter opened #1245 "HIP DMA: no path found"
I'm seeing the following error in the Regent HIP test suite. Relevant portion seems to be `FATAL: no path found from 1e00000000000002 to 1e00000000000002 (redop=101)`. I am a little confused, this seems to be the same memory. Do we not have GPU reductions implemented?

[code]

[2022-05-02 20:32] elliottslaughter commented on #1245
This might actually be the result of bullet (2) in #1035.

[2022-05-02 21:34] rohany commented on #1148
@lightsighter, I've set up again a reproducer on sapling for this -- someone is interested in trying out DISTAL, so I'm going back and fixing a bunch of bugs for them to run some experiments.

Within `/home/rohany/taco/build`, run `/bin/cannonMM -n 8192 -gx 4 -gy 4 -ll:ocpu 2 -ll:othr 16 -ll:util 2 -ll:nsize 25000 -ll:ncsize 0 -tm:untrack_valid_regions`.

This fails quickly with either:

[code]

a

[2022-05-02 21:43] lightsighter commented on #705
@manopapad Can you extent you example above by writing down what the arguments to the index copy launcher in Legion would be for this case from cuNumeric's perspective? Let's assume we do a index copy launch with two point copy operations. I'm betting that Legion's current semantics won't quite do what we want here, but I'd like to see how you want it to work. Feel free to describe any partitions

[2022-05-02 22:10] syamajala opened #1246 "Legion: Seg fault creating layout constraints with Legion_MAX_DIM=4"
I'm seeing a seg. fault when creating a layout constraint with 4 dimensions (X, Y, Z, W + fields):

[code]

I will work on trying to get a reproducer.

[2022-05-02 22:22] eddy16112 commented on #1245
The reduction for hip has been merged into master. I have just tested the circuit and simple_reduce with HIP_TARGET=CUDA, which have reductions, and they both work. Looks like 1e00000000000002 is not a GPU process?

[2022-05-02 22:38] elliottslaughter commented on #1028
Just realized there is also #1035 which is a tracking issue of sorts. I got confused which one of these is being actively used and put some stuff on the other one.

[2022-05-02 22:56] eddy16112 commented on #1245
The way to check if a path is existed is https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_internal.cc#L1515-1519
If the reduction kernels are available, then it calls the normal realm code to check the path, which is outside my knowledge.

[2022-05-03 06:11] manopapad commented on #705
Here is a possible execution:

We have all the required information at the cunumeric level to partition the indirection fields such that each point copy operation will find all its indirection information locally (even if there are transformations on the indirection fields).

Whether or not the partitions of the `src` and `dst` fields will match up with the partition of the copy operation itself d

[2022-05-03 07:54] lightsighter commented on #705
Right this is kind of what I was expecting to happen. I suspect that we'll need some extra support in legion to support "collective" behavior of the point copy operations in the case when there is a transform on the indirection fields. It will require more preimages, but that'll be the price we'll pay for supporting the additional functionality.

[2022-05-03 07:55] lightsighter commented on #1245
In theory at least, both CUDA and HIP modules in Realm should be supporting direct reduction application on the GPU.

[2022-05-03 08:02] lightsighter commented on #1246
If you rebuild Legion with `MAX_DIM=4` then you're also going to need to rebuild any code that includes the Legion C++ header file as well as many structures will have changed shape.

[2022-05-03 08:48] lightsighter commented on #1148
Rebuild your binary after applying this patch, also build with `-DDEBUG_LEGION_GC`:

[code]

[2022-05-03 15:57] syamajala opened #1247 "Realm: GasnetEX init failure using OFI"
I am no longer able to run on Perlmutter using the latest legion (5f820549e5d7c9) with GasnetEX and the OFI conduit. I see this error:
[code]

It happens on 1 node with 4 ranks. Here is a stack trace:
[code]

[2022-05-03 16:14] streichler commented on #1247
Can you confirm that an older legion build still works?  I don't think anything has changed in the Realm network init code in a while.

[2022-05-03 16:25] elliottslaughter commented on #1215
Fixed in master now. We're able to build against ROCm 5.0 and 5.1.

[2022-05-03 16:25] #1215 closed

[2022-05-03 16:57] rohany commented on #1148
Done, rebuilt. Some example stacks for the first error are output:

[code]

In the second case, stacks look familiar (taken with gdb):
[code]

[2022-05-03 17:56] elliottslaughter commented on #1245
What do I need to do to debug this?

[2022-05-03 18:12] syamajala commented on #1247
Old legion fails too actually. Its possible this is an issue with Perlmutter. They're having some issues with the machine right now and a number of people are complaining about issues with MPI_Init failing.

I am actually able to run on Crusher using OFI.

[2022-05-03 18:20] syamajala commented on #1246
I did rebuild S3D after rebuilding the runtime with MAX_DIM=4 but I also had to add -DLEGION_MAX_DIM=4 to the LEGION_CC_FLAGS in the Makefile for the C++ code in S3D. No longer seg faulting.

[2022-05-03 18:20] #1246 closed

[2022-05-03 18:40] streichler commented on #1245
I'd set a breakpoint here:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/runtime_impl.cc#L514

and verify that the 4 `hip_..._fn` pointers are non-null for the reduction op(s) you care about.

[2022-05-03 18:51] lightsighter commented on #1245
If they're NULL then you can break here to check that the GPU reductions are being registered:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_redop.cu#L110

[2022-05-03 19:02] lightsighter commented on #1246
Right, you have to keep them matched. I'm not sure if I have a good way to sanity check that they are the same right now.

[2022-05-03 19:12] lightsighter commented on #1148
It looks you didn't build with `-DDEBUG_LEGION_GC`

[2022-05-03 19:14] rohany commented on #1148
hmm, I'm trying to convince my CMake build do to so. I added `cmake ../ -DCMAKE_CXX_FLAGS=-DLEGION_DEBUG_GC` to the flags while building it, as there isn't an explicit option to do so. Is there something that I can check somewhere to make sure that it built with this flag on?