[2017-05-16 15:24] aheirich opened #253 "named tasks are being called "unnamed_task" running multi-node on sapling"
Here is output from examples/visualization/prototype1
All of the tasks have had names assigned to them via runtime->attach_name
running on a single node, all the tasks are named in the output
running on multiple nodes, some of the tasks are called "unnamed_task"
displayed result is returned from task->get_task_name()

---> Linking objects into one binary: prototype1
mpicxx -o prototype1 prototype1

[2017-05-16 18:45] lightsighter commented on #253
Where is the code for this?  I don't see any composite leaf tasks in examples/visualization/prototype1.cc in the visualization branch.

[2017-05-16 22:14] lightsighter commented on #253
@aheirich See if the commit above makes things any better.

[2017-05-17 03:26] elliottslaughter commented on #253
That commit is causing all the multi-node tests to freeze; we'd better roll it back.

[2017-05-17 04:51] lightsighter commented on #253
@elliottslaughter Can you give me an example test that freezes?

[2017-05-17 05:11] elliottslaughter commented on #253
`examples/dynamic_registration` is one:

[code]

[2017-05-17 06:05] lightsighter commented on #253
@elliottslaughter All the hangs should be gone.

[2017-05-17 23:44] magnatelee commented on #253
@lightsighter the change you made today seems to make apps crash when legion prof is enabled. The easiest way to reproduce the crash is running this command: `regent.py examples/circuit.rg -hl:prof 1`.

[2017-05-18 04:14] aheirich commented on #253
sorry I didn't notice this thread
examples/visualization/prototype1 was still showing the behavior yesterday when I ran on sapling with 4 nodes
I made changes to the code today that affect how the tasks are registered so that may change things

[2017-05-18 09:54] lightsighter commented on #253
@magnatelee The issue should be resolved with b9a201d

@aheirich Can you give me a command line to reproduce the issue?

[2017-05-18 23:55] aheirich commented on #253
@lightsighter to reproduce, go to branch visualization at this commit

commit 008f46a9c441288b0a69529535ef4f34c3e0fe61
Merge: 7d9416c a71591e
Author: Alan Heirich <aheirich@sapling.stanford.edu>
Date:   Thu May 18 16:51:51 2017 -0700

    Merge branch 'visualization' of https://github.com/StanfordLegion/legion into visualization

on Sapling cd to legion/examples/visualization/viz_perf and issue th

[2017-05-19 18:45] aheirich opened #255 "feature request - dynamic get available projection functor id"
please provide a way to get an available functor id from the runtime, analogous to what is available for task ids
thanks

[2017-05-20 03:20] aheirich opened #256 "internal assert in VersionManager::sanity_check line 6066"
To reproduce this check out branch visualization
cd legion/examples/visualization
git reset --hard 9eb265a5638842b594a2ec0c0918d9a3cd8d493f
make
./protoype1

you should see this output:
Alans-MacBook-Pro:visualization alanheirich$ ./prototype1
[0 - 7fffb46e03c0] {4}{numa}: numa support not available in system
[0 - 7fffb46e03c0] {4}{threads}: reservation ('DMA threads') cannot be satisfied
[0 - 700

[2017-05-20 07:03] lightsighter commented on #256
Two things:

1. I'm having trouble building this on sapling.  The first error came because the Makefile had -std=c++98.  If I changed it to -std=c++11 I got all the way to the part where I needed OpenGL.h, which I'm not sure that we have on sapling? @streichler did you already install some version of OpenGL either for GPUs or Mesa somewhere?

2. Why is the visualization branch forked off of stable

[2017-05-20 07:05] lightsighter commented on #253
@aheirich Same problem here with the other issue: you need the visualization branch to be upstream of master and not of the stable branch to see any changes that I push.  All my earlier fixes are in the master branch, but not yet the stable branch.  Please merge the master branch into visualization such that you see the most recent version of the runtime.

[2017-05-20 09:58] lightsighter commented on #256
This issue was caused by aliased region requirements in a point task.  I've added a dynamic check for interfering region requirements in the same point task that will run in debug mode.  It should now report an error for this application.  I'm closing the bug.

[2017-05-20 09:58] #256 closed

[2017-05-20 09:59] lightsighter commented on #253
@aheirich Can you restore this application to a point where I can run this test again?

[2017-05-22 22:01] junghans opened #257 "Some header names are too generic"
With an legion installed in `/usr` or `/usr/local`, one can make legion pick up the wrong header:
[code]

Looking at what legion installs:
[code]
`accessor.h`, `arrays.h`, `atomics.h` and `utilities.h` might be too generic names and should be moved to a subdirectory.

[2017-05-23 05:36] lightsighter commented on #257
Any header files you see directly in the runtime/ directory are going to be dead in the next few months (including all the ones you see above).  Users should never need to include anything other than realm.h or legion.h by the time we are done.

[2017-05-23 22:10] magnatelee opened #259 "Missing task variant with circuit"
When I ran circuit on two nodes, I get the following error message:

`[1 - 7f8a3aa69700] {5}{runtime}: Unable to find variant 41 of task unnamed_task_13!`

The remote nodes seem to fail on finding task variants and I guess there is a race between variant registration and other message types. To reproduce this bug on sapling, the following command can be used on n0001 (**the order of nodes after `-

[2017-05-23 22:40] magnatelee commented on #259
Turned out that I was using a command that potentially leads to inconsistent behavior. Closing this issue with leaving two commands that avoid the inconsistency:

`LAUNCHER='mpirun -x USE_RDIR -H n0001,n0000 --bind-to none -x TERRA_PATH -x INCLUDE_PATH -x LD_LIBRARY_PATH' regent.py examples/circuit_sparse.rg -fflow-spmd-shardsize 2 -fflow-spmd 1`

`LAUNCHER='mpirun -H n0001,n0000 --bind-to none -x

[2017-05-23 22:40] #259 closed

[2017-05-24 06:07] lightsighter commented on #255
This issue is closed with commit bcb66e5

[2017-05-24 06:07] #255 closed

[2017-05-26 21:15] elliottslaughter commented on #172
@junghans 17.05.0 has been released.

[2017-05-26 21:15] #172 closed

[2017-05-27 00:44] junghans commented on #233
This problem still persist with legion-17.05.0, details here: [build.log](https://github.com/StanfordLegion/legion/files/1033201/build.log.txt)

[2017-05-29 20:43] junghans commented on #172
I got an email from [Redhat's bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1456066), too ;-)

[2017-06-10 22:44] streichler opened #262 "Reminder to remove registered memory hack in dma branch"
Commit 7e0e64f7b2565c319004c66600f85fb01d6f0162 should never go back into master branch...  This is my reminder to myself.

[2017-06-11 15:11] streichler opened #264 "Numerous regent tests fail when no sysmem (but socket or regdma) memory exists"
Looks like about 20 tests fail if you run:
```REALM_DEFAULT_ARGS="-ll:csize 0 -ll:rsize 512" ./test.py -j4```

This is currently the default configuration in the dma branch due to WIP changes on intermediate buffers, but it's also a general indication of fragility in mappers that base things off of memory kinds instead of affinities.

Assigning to @magnatelee initially because I think I saw bishop

[2017-06-13 12:14] nmorey opened #265 "SIGSEGV in testsuite"
I'm trying to get legion to work on s390x and ppc64be for SUSE.
On both this architecures, the testsuite segfaults on several tests.
Here on s390x running SUSE SLE12-SP3, using legion 17.05.0
[code]

These tests all fail the same way:
[code]

[2017-06-13 15:13] streichler commented on #265
There are a number of parts of Realm that currently assume a little-endian system, which is going to be at least part of the problem on these systems.  It's been on the list of things to look at, but we've happily deprioritizing it until somebody cared.  I'll bump it up my list, but my first challenge will be finding a system to test on...

[2017-06-13 18:36] nmorey commented on #265
Well officially gasnet is not supported on s390x but with a tiny patch it seems to work.
I cannot lend HW but I'd be happy to try out stuff for you.

[2017-06-13 19:51] krivenko opened #266 "register_region_function() compilation failure"
Dear Legion developers,

I am trying to register a region projection function like this
[code]
The compilation fails with the following error message,
[code]

The problem is likely to be caused by https://github.com/StanfordLegion/legion/commit/745aebab01a79676e462e119d25fb24631784002.

Is `register_region_function()` considered deprecated at this point? Should I use `register_projection_functor()

[2017-06-14 10:13] lightsighter commented on #266
Yes, you do need to provide an implementation of the get_depth method now for all projection functors as the runtime will use it as part of its analysis.  If you're unsure how to figure out the depth of your projection function from the documentation you can post the code here for you projection function and we'll help you figure it out.

[2017-06-16 02:21] krivenko commented on #266
Thank you, I think I have figure out how to define `get_depth()`, it must return 0 in my case.

Still, it would be good to mention somewhere in the docs that `register_region_function()` is deprecated. Or should I say 'removed'?

[2017-06-16 08:46] lightsighter commented on #266
Ah yes, good catch.  I will add the `LEGION_DEPRECATED` annotation, which currently will only show up with a compiler warning if you build with c++14, but will still make it clear that we're moving in the direction of using projection functors.

[2017-06-17 00:45] krivenko opened #269 "Construction of sparse domains"
In the tutorial 'Index Space Tasks' I read the following:

`Rect` objects can be converted to `Domain` objects. `Domain` objects are a more general type for representing sets of points regardless of whether the sets are sparse or dense and independent of the number of dimensions.

So how do I construct a sparse `Domain`?
Let's say I have an index partition `ip` derived from a sparse coloring with

[2017-06-18 15:25] krivenko commented on #269
I have been trying to do the following
[code]
This prints all 100 2-d points instead of 55 in the upper triangle.

[2017-06-18 18:42] lightsighter commented on #269
So there are actually two answers to this problem.  Currently, if you would like to make a top-level index space that is sparse, the best way to do this is to make an index space that consists of multiple domains that describe the set of rectangles for your index space:
https://github.com/StanfordLegion/legion/blob/master/runtime/legion/legion.h#L2641-L2648

In immediately pending future (the next

[2017-06-18 18:54] lightsighter commented on #266
I added the missing deprecated annotations with 3ed1eec.  Closing this issue.

[2017-06-18 18:54] #266 closed

[2017-06-18 21:26] krivenko commented on #269
Thank you for the answer, Mike.
Unfortunately, it leaves me with even more questions than I had before...

https://github.com/StanfordLegion/legion/blob/master/runtime/legion/legion.h#L2641-L2648

Okay, that function allows me to construct a top-level index space made of a number of rectangular domains. But my question was about a sparse **domain**, rather than about a sparse **index space**. I em

[2017-06-19 05:33] lightsighter commented on #264
I'm seeing these failures as I'm trying to debug the deppart branch now.  They aren't blocking me, but they are super annoying and they are going to need to be fixed before we merge anything.  Given my current rate of progress I expect them to be on the critical path for deppart being merged in one or two days.

[2017-06-19 13:55] streichler commented on #264
@lightsighter : these should pass in deppart if you set:
```REALM_DEFAULT_ARGS="-ll:csize 1024 -ll:rsize 0"```
but then you'll have problems with multi-node runs for all tests.  I will be working this week on
fixing the issues with intermediate buffers that require this hack for multi-node tests.

[2017-06-19 17:37] krivenko commented on #269
I think I have found a way to achieve my goal. One has to use a `Coloring` object and an unstructured top-level index space.
[code]

Could you please confirm this is actually the proper way to partition?

[2017-06-20 08:37] lightsighter commented on #269
Yes, I think this is probably the best way for you to go currently.  Unstructured index spaces will definitely be able to handle your case.

For future reference this distinction between "structured" and "unstructured" index spaces will soon disappear when we merge the dependent partitioning branch.  Your code though will still work and be backwards compatible.

@streichler and I also discussed to

[2017-06-20 15:32] krivenko commented on #269
This is interesting. Where can I read about this upcoming feature? My Legion-based code is at a very early stage of development, so for me it's not too late to make design decisions.

[2017-06-21 09:17] lightsighter commented on #269
Here's two useful resources.  First I would recommend taking a look at this paper on dependent partitioning as it explains the important concepts:
http://legion.stanford.edu/pdfs/dpl2016.pdf

Then I would take a look at the extended partitioning interface in the 'deppart' branch.
https://github.com/StanfordLegion/legion/blob/deppart/runtime/legion/legion.h#L3221-L3741

When you have questions plea

[2017-06-21 14:06] streichler commented on #262
Reverted with 83cf28b0d364a607ba1ae12d9439250e970999a4.

[2017-06-21 14:06] #262 closed

[2017-06-22 00:15] streichler commented on #265
Ok, I've managed to reproduce this error through an unholy combination of cross-compilation and qemu.  I also think I've fixed it, but to be sure, @nmorey , can you please perform the following steps:
1) Using your current tree, cd to 'test/realm' and 'make idcheck'
2) Run it and hopefully see it assert fail:
[code]
3) Pick up an updated version of the master branch containing commit 906d3e6e9c9d4

[2017-06-22 14:36] nmorey commented on #265
This patch fixes idcheck and most of the testuite.
There is an issue left
[code]

I'll dig a bit into it to see what is happening

[2017-06-22 14:38] nmorey commented on #265
[code]

It does not seem directly big endian related though

[2017-06-22 14:41] streichler commented on #265
Actually, I think it is endian-related.  Can you try modifying these lines of code:
https://github.com/StanfordLegion/legion/blob/master/tutorial/09_custom_mapper/custom_mapper.cc#L710-L712
Change the `<int>` to `<size_t>` and give it another try?

[2017-06-22 14:55] nmorey commented on #265
We ended up with he same conclusion. If fixes the issue :)

[2017-06-22 15:21] streichler commented on #265
Cool.  Let me know if you find any more.  I'll check in this fix shortly, but I want to see if I can have the runtime detect these mismatches first.

[2017-06-22 16:50] nmorey commented on #265
Everything looks ok now.
You can monitore here: https://build.opensuse.org/package/show/science:HPC/legion
s390x and ppc64 are the big endian ones :)

[2017-06-22 17:42] krivenko opened #273 "Drastic slowdown of task launches"
Dear developers,

I am sorry for bombarding you with questions, but the issue I report here seems to completely block development of my project...

Let me consider the following problem. There is a chain (sequence) of `N` numbers. Each number, except the first one, is computed as a function of all previous numbers.
I want to store the sequence in a region, and launch a Legion task to compute each

[2017-06-22 18:54] streichler commented on #265
Turns out detecting the mismatch in the runtime is a bit tricky, but commit 53947934411da9ec619fb4bc137765ab32a8e085 contains the fix for custom_mapper's instance of the bug at least.

[2017-06-23 08:41] lightsighter commented on #273
You are absolutely correct that the problem is stemming from the growing cost of the dependence analysis between tasks.  If the data being passed is actually individual numbers, futures are actually the best way to go.  Data should starting getting put into regions probably somewhere are the 100s to 1Ks+ of elements depending on the granularity of your tasks and the size of the data.  Legion's dep

[2017-06-23 16:27] junghans opened #274 "legion_defines.h is put in source directory"
When running cmake out of source (e.g. `cd build && cmake ..`) the source directory should stay unmodified, but currently `legion_defines.h` is created there.

I tried 4db81b8, but that seems to break something else:
[code]

[2017-06-23 17:26] elliottslaughter commented on #274
I think the issue was that Legion hadn't been configured to have `${CMAKE_BINARY_DIR}/runtime` in its search path. Perhaps if you added it then it would work.

[2017-06-23 17:30] junghans commented on #274
Isn't that what `include_directories(${CMAKE_BINARY_DIR}/runtime)` is doing?

[2017-06-23 18:33] krivenko commented on #273
Many thanks!
I checked your suggestion to use futures, and it was much faster indeed. Now I know how to move on.

Each data point is a structure with 10-20 numeric fields. Does this make much difference?

[2017-06-23 20:11] junghans commented on #274
@chuckatkins: Please explain that mystery.

[2017-06-26 09:55] lightsighter commented on #273
Futures on the order of a few hundred bytes seems reasonable in size to me.  When they start reaching ~10-100KB is probably when you want to start moving the data into a logical region.  The cross-over point will be depend on the granularity of your tasks and how expensive they are for the runtime to analyze.

[2017-06-29 01:43] aheirich opened #276 "documentation: memory requirements for legion under vm"
recently we found that soleil-x could not complete compilation running on Ubuntu 16.10 under VMWare Fusion with the default memory settings of 1GB.  The result was a silent crash of the compiler.  The problem was fixed by raising the memory of the VM to 3 GB.

It seems that it would be nice to warn about this somewhere in the regent documentation, maybe the notes section of here https://github.com

[2017-06-29 16:51] elliottslaughter commented on #276
I feel like this should go into the README of Soleil-X (https://github.com/stanfordhpccenter/soleil-x) since the memory requirements are going to be application-specific. Just like how GCC or Clang might require different amounts of memory for different files---I would expect those requirements to be documented under the specific project, not GCC or Clang.

@magnatelee Weren't you going to update

[2017-06-29 16:54] aheirich commented on #276
For me the issue is that Regent will die silently if you run out of memory.  And the memory defaults on VMWare Fusion is unreasonably small.  If you want to use Regent safely under a VM be sure to increase the memory above the default amount.

On Jun 29, 2017, at 9:51 AM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

I feel like this should go into the READM

[2017-07-04 03:25] streichler opened #277 "HDF5 instances broken in deppart"
CI testing of HDF5 cases has (hopefully) been disabled for (hopefully) just deppart in d61813e.

[2017-07-04 23:40] lightsighter commented on #277
@streichler I'm also disabling the realm_saxpy example since it is also broken in deppart

[2017-07-05 01:15] lightsighter commented on #277
To undo the changes, you should just have to uncomment these lines:
https://github.com/StanfordLegion/legion/blob/deppart/test.py#L54
https://github.com/StanfordLegion/legion/blob/deppart/examples/CMakeLists.txt#L28-L29

[2017-07-05 01:37] lightsighter commented on #277
I had to disable the attach_file_mini test too because it dies on instances.inl:153. When it's fixed we should revert e7229f6

[2017-07-28 21:10] krivenko opened #280 "Weird assertion failure when returning a serializable user-defined type from a task"
I am trying to register a task, which returns a fairly complex data structure. The structure type defines three serialization methods,
[code]
My code fails to compile with the following error message (latest Legion master):
[code]
Why does it make any sense to compute `sizeof(T)`? That size is compiler- and platform-dependent, as far as I know. And, more importantly, why bother to check if the out

[2017-07-28 22:16] bonachea opened #281 "Legion documentation for GASNet"
As requested in today's meeting, below is my list of comments/suggestions for updating the Legion GASNet page at http://legion.stanford.edu/gasnet/

This is a cut-and-paste of the email thread from March 30, 2017.

Let me know if I can offer any further clarification on any points.

Hope this helps..
-D

---------------------------------------------------------------------------------
*** Sec: Bui

[2017-07-29 22:26] bonachea opened #282 "Fix Realm+GASNet to work with DEBUG-mode GASNet (HSL use before init)"
GASNet offers a DEBUG-mode option (configure --enable-debug) that enables thousands of assertions and sanity checks system-wide in the GASNet implementation, and is usually the most effective means to isolate GASNet usage violations or GASNet conduit bugs.

Legion/Realm currently does not work with GASNet debug mode, because it violates the GASNet restriction of using GASNet Handler-Safe Locks (HS

[2017-07-29 22:29] bonachea commented on #282
CC: @phhargrove

[2017-07-29 22:30] bonachea opened #283 "GASNet-enabled Realm compiles should use GASNET_* compile/link flags"
It appears that Legion is not currently using the GASNet-provided compiler flags for compiling modules that #include<gasnet.h>, or for linking libgasnet.

With a debug-mode GASNet, the lack of GASNet's compiler flags leads to a large number of warnings that we intentionally suppress (mostly notably -Wunused) when compiling with gcc < v6.0. The GASNet makefile fragments and pkgconfig files provide

[2017-07-30 00:24] streichler commented on #282
After thinking about this a little more, I think I can change most of Realm's mutexes from `gasnet_hsl_t`'s back to `pthread_mutex_t`'s as we do very little in our AM handlers these days.  This should eliminate this issue, but it will prevent us from ever moving "quick" runtime state updates back to the handler threads (a latency reduction optimization).

@bonachea, how hard would it be to have th

[2017-07-30 00:26] #265 closed

[2017-07-30 17:58] bonachea commented on #282
Don't rip out your HSLs yet.

Legion has uncovered a reasonable usage case that is not properly addressed by our HSL semantics. I'd like to find a solution that allows you to continue using our HSL's, probably along the lines you suggest. Let me see what I can come up with on our side.

[2017-07-30 23:50] lightsighter commented on #280
The reason we set this is maximum return size is to discourage users from moving around large amounts of data by-value in Futures.  Anything of a sufficiently large size should most likely be put in a logical region.  If you would like to ignore this assertion, you can make MAX_RETURN_SIZE as large as you want in legion_config.h.  It's right at the top and easy to change.

[2017-07-31 00:45] krivenko commented on #280
I cannot say I like this solution too much. But okay, if increasing MAX_RETURN_SIZE is safe indeed, this is my only way to go, I guess.

What do you call moving data by-value? Is using `legion_[de]serialize()` considered moving by-value?

Let me explain what I mean on a simple example. `sizeof(std::vector<T>)` will normally be equal to `sizeof(T*) + sizeof(size_t) + sizeof(size_t)` (data pointer +

[2017-08-01 08:31] lightsighter commented on #280
Yes, increasing the MAX_RETURN_SIZE will always be safe.

Yes, when I refer to moving data by-value, I'm referring to using the legion_[de]serialize methods to serialize and deserialize data.  This methods are required to soundly move something like a std::vector<T> in a Legion future (e.g. if the future is made on one node and then used on a different one).  Just copying the std::vector<T> by val

[2017-08-02 03:57] krivenko commented on #280
Thank you, this is basically all I wanted to know.

[2017-08-02 03:57] #280 closed

[2017-08-02 03:57] #273 closed

[2017-08-10 00:05] magnatelee opened #285 "Slow logical tracing for pathological cases"
Attached is a test app that exhibits the issue. The app creates P partitions and launches index tasks on them, which are being traced (all the projection requirements request read-write privilege). The body of the leaf task is made empty, so the execution time of this app is quite close to the runtime overhead. When P gets bigger, the execution time with tracing increases rapidly, while it does sl

[2017-08-14 21:05] lightsighter commented on #285
I pushed a fix for this in master in 2232033. I opted to keep the data structures simple and just do a little bit of extra computation to deduplicate the entries when creating the trace with the assumption that the additional computation will be easily ammortized by the many replays of the trace that will occur later.  I confirmed that I got equivalent performance with the benchmark both with and

[2017-08-14 21:05] #285 closed

[2017-08-16 20:21] #249 closed

[2017-08-16 23:46] elliottslaughter opened #288 "deppart: Crash when using old-style APIs with very large regions"
It appears that the shims supporting the old-style APIs on the `deppart` branch have a space complexity of O(number of elements), as opposed to say O(number of ranges in coloring). This means that users of the old APIs may run out of memory even when being careful to construct ranges properly.

To reproduce:

Copy `language/examples/pennant.tests` from the `spmd-sc17-master` branch to `language/ex

[2017-08-16 23:51] elliottslaughter opened #289 "regent: Issue error when region requirements derive privileges from multiple region requirements"
Original bug report by Wonchan:

After some deliberation we have determined this is not reasonable to fix in the runtime. Fixing in the compiler requires context-sensitive inter-procedural analysis (and potentially impacts performance). For now, we believe that it would be better to issue an error in Regent, if many users see this issue we may need to reconsider.

[2017-08-17 06:42] lightsighter commented on #288
This should be fixed with da885b3 and a533fcc.  Assigning back to @elliottslaughter to confirm.

[2017-08-17 15:45] streichler commented on #282
@bonachea A quick ping to see what y'all have come up with.  I think I saw an RFE for this on your side, but I don't know how to tell if/when it'll become an actual enhancement.

To further complicate matters, we're exploring a path that would require us to initialize some of our mutexes with non-default values for some attributes (e.g. PTHREAD_PROCESS_SHARED).  The implementation of `gasnet_hsl_i

[2017-08-17 17:53] elliottslaughter commented on #288
Confirmed.

[2017-08-17 17:53] #288 closed

[2017-08-17 19:49] streichler commented on #281
@bonachea Thanks again for writing this up.  I did a bit of documentation cleanup this morning.  When you get a moment, can you look over the updated page and see if I missed anything major?  (Regarding your last suggestion, the "Getting Started" page now tells users about the `GASNET_ROOT` Makefile variable for pointing at the right GASNet install location.)

[2017-08-18 08:49] bonachea commented on #282
@streichler Sorry for the delay on this, it's actually very near the top of my to-do list and I've already started writing some code (which includes some long-overdue cleanups to the HSL infrastructure), but then release crunch got in the way. The current (conservative) plan is to relax HSL debug-mode checking to allow normal usage before gasnet_init, to meet Legion's immediate needs. Unfortunatel

[2017-08-18 08:49] bonachea commented on #281
@streichler Looks much improved - thanks for your attention on this!

A few places still reference obsolete or redundant configure arguments, but I believe those remaining cases should all be harmless.

The only remaining non-trivial inconsistency I noticed was in the instructions for Titan that reference:

    ln -s other/contrib/cross-configure-crayxe-linux cross-configure

these scripts were re

[2017-08-18 11:58] streichler commented on #282
Thanks for the update.  I agree that process-shared mutexes add a whole new raft of ways you can cause deadlock, but I think our particular case is likely to avoid any GASNet entanglements because only one of the processes will be using GASNet at all.

[2017-08-18 12:08] streichler commented on #281
Yeah, I waffled a little on the "historical" examples there because they were correct for that particular system, GASNet and system software versions, and if I change things, I have no way of testing that they still worked on that config.  My inclination is to just remove that section and instead find a way to point at a primary source that shows how we currently configure things for our dev syste

[2017-08-25 00:47] lightsighter opened #290 "Algorithmic Complexity of Cross-Product Partitions"
Currently the algorithmic complexity of Legion's implementation of cross-product partitions is O(MN) where M is the number of subregions in the LHS partition and N is the number of subregions in the RHS partition.  In theory we should be to do this in O(M log N) (or O(N log M) if M > N) using an acceleration data structure.  Realm currently uses acceleration data structures for other dependent par

[2017-08-25 16:19] junghans commented on #233
Seems to be fixed in legion-17.08.0

[2017-08-25 16:19] #233 closed

[2017-08-25 16:24] streichler commented on #276
@elliottslaughter @magnatelee Do we understand why Regent dies without printing "out of memory" or the like?

[2017-08-25 16:26] streichler commented on #269
@krivenko We're getting pretty close to merging the deppart branch back into master, so if you happen to have any feedback related to deppart, now would be a really good time.  :)

[2017-08-25 16:28] streichler commented on #240
@aheirich Can I ask you to try to reproduce this failure?  Setting the environment variable during Realm startup is easy enough, but I want to make sure it actually solves the problem.

[2017-08-29 18:10] elliottslaughter commented on #276
@streichler No, it doesn't make any sense to me. I also don't currently have VMWare Fusion installed, so don't have a great way to reproduce. If it reproduces in VirtualBox maybe we could take a look.

[2017-08-30 19:09] jiazhihao opened #291 "Missing optimizations for 2d copies in the dma system"
The optimizations for batching 2d copies are currently missing in the deppart branch. The issue can be reproduced by using the following commands.

export LG_RT_DIR=/home/zhihao/legion/runtime/
cd /home/zhihao/legion/apps/cnn/
make -j 12
./cnn -ll:gpu 2 -ll:fsize 4000 -level request=2

You should be able to observe that the dma system launches a large number of 1d requests for a potential 2d copy.

[2017-08-30 21:13] streichler commented on #291
@jiazhihao did this performance issue show up in the dma branch as well?

[2017-08-30 21:17] jiazhihao commented on #291
I am using the deppart API for creating partitions (e.g., create_partition_by_restriction). So it may not be easy to know if we can reproduce the issue in the dma branch.

[2017-08-30 21:19] streichler commented on #291
Yeah, don't worry about it then.  I didn't realize this app only existed in the deppart branch.

[2017-09-01 16:12] streichler commented on #214
@lightsighter Can you re-test this on the deppart branch?  I would expect it to work properly there.

[2017-09-01 16:14] streichler opened #292 "Realm::OperationTable in need of performance tuning"
The use of `std::map` for the Event -> "operation pointer and metadata" lookup is much too slow.  It needs to be switched over to a (concurrent) hash table of some sort.

[2017-09-01 16:15] streichler commented on #240
@aheirich Another ping on this...

[2017-09-01 17:05] aheirich commented on #240
Sorry about the delay, I forgot about this issue.
I just tried it again, running visualization test with -ll:csize 4000
and I got this result when the malloc debug features were all enabled in Xcode:

GuardMalloc[visualization_reductions-2404]: If you really wanted to allocate so much memory, launch your executable with the environment variable MALLOC_PERMIT_INSANE_REQUESTS set to any value to cir

[2017-09-01 18:17] streichler commented on #240
@aheirich and I performed a few experiments, and it seems that this environment variable needs to be set before the process starts.  Even adding it to the environment variable list in a global variable's constructor is insufficient.

So the plan for now is to just update the macOS build notes and hope that people read the documentation.  Reassigning the bug to me.

[2017-09-01 18:52] lightsighter commented on #214
I see this error message when I try SNAP on the deppart branch with the assumed fix:

[0 - 12deca000] {6}{accessor}: lower bound of raw_rect_ptr request for [(0),(2147483647)] not contained in any piece of instance 6000000000000005: [<1>..<1>->affine(<8>+18446744073709551608)]
Assertion failed: (0), function raw_rect_ptr, file /Users/mebauer/legion/runtime//lowlevel.cc, line 1642.

Some of those n

[2017-09-01 20:31] streichler commented on #291
Commit 60d0e80 adds a test that exercises 2d and 3d copies and reproduces the performance regression for 2d copies in the dma branch.  (The 3d copies are bad even in master, but that's a
problem for another day.)  Working on a fix now.

[2017-09-01 23:26] streichler commented on #214
The deppart branch has a fix for this error (commit e9f0de6).  We've determined that SNAP prefers the relative addressing that comes from the three-argument version (i.e. where the desired rectangle actually is specified), so it's going to back out the LEGION_ISSUE_214_FIX changes at some point.

Master will not get a fix for this, as it will be superceded by deppart code shortly.

[2017-09-01 23:26] #214 closed

[2017-09-06 23:27] lightsighter opened #293 "Multi-Hop Copy Profiling Responses"
There is an assumption in Legion right now that for each ProfilingRequest passed to a Realm call we will get exactly one ProfilingResponse.  This is necessary for Legion to be able to determine when it is safe to actually shutdown the Realm runtime.  However, multi-hop copies right now return multiple profiling responses for a single profiling request, which is problematic and could lead to premat

[2017-09-06 23:47] #139 closed

[2017-09-07 00:06] jiazhihao commented on #293
I can provide an example that triggers multi-hop copy.  Should we delay the fix after the deppart merge, so that there won't be conflicts between Sean's changes and mine?

[2017-09-07 00:19] streichler commented on #293
If this repros in master, I'd like to get it fixed there before the merge.  Do you have a suspicious about where the problem lies?

[2017-09-07 00:37] streichler commented on #293
@lightsighter I have a test that is doing multi-hop copies between two nodes and I see no evidence of profiling data being sent more than once for any operation.  Can you attempt to reproduce the problem on your side?

[2017-09-07 05:00] streichler commented on #293
Commit 96a5f06 fixes a double-free of an Operation object that might be to blame for this behavior.  Ideally I'd like to see a repro of the issue on a tree without this commit and then attempts to repro with the change.

[2017-09-07 05:20] lightsighter commented on #293
I thought it was the case that there were always multiple profiling responses for multi-hop copies currently?  If not how does Realm return the timeline for the copy?

[2017-09-07 07:09] jiazhihao commented on #293
The dma system mark the start time of a multi-hop copy when the first request of the first copy is launched and mark the finish time when the last request of the last copy is completed. Therefore, a multi-hop copy could perform bad when different copies within a multi-hop copy don't start simultaneously.

[2017-09-07 08:16] lightsighter opened #294 "Deppart Merge TODO"
- [x] Fix Issue #277 (sean)
- [x] Delete old Realm index space code and rename all 'Z' types (both)
- [x] Proper support for deferral of Realm dependent partitioning operations (sean)
- [x] Instance and dependent partitioning profiling responses (sean)
- [x] Gitlab CI passing (both)
- [x] Deal with timeouts on Travis and Gitlab CI (both)
- [x] Fix issue #293 (sean)
- [x] Check and (as necessary) r

[2017-09-07 08:17] lightsighter commented on #293
@jiazhihao it's alright if it performs badly, the invariant we want to confirm that is being maintained is that there will be exactly one ProfilingResponse generated regardless of how many hops there are in the copy. It used to be the case that there would be one ProfilingResponse generated for each hop. Is that no longer the case?

[2017-09-07 15:43] elliottslaughter commented on #294
I added checkboxes. (Syntax is `- [ ]` for unchecked and `- [X]` for checked.) Yay, shiny.

[2017-09-08 16:54] streichler commented on #291
@jiazhihao I believe that both the dma and deppart branches have fixes for 2d and 3d copies for channels that support them (only memcpy supports 3d at the moment).  Can you try your app again and let me know if the performance is sufficiently improved?

[2017-09-11 01:09] magnatelee opened #295 "Crash while receiving profiling responses"
Realm can send more than one profiling responses for one copy request from Legion when the request has multiple source-destination instance pairs, which makes the code crash with Legion Prof turned on. Here is a command that reproduces such scenario (needs access to the [Regent MiniAero repository](https://github.com/magnatelee/miniaero)):

`regent.py miniaero/rdir_1ghost.rg -lg:prof 1 -lg:seriali

[2017-09-11 01:48] lightsighter commented on #295
This is a duplicate of #293 so please close both issues when it is fixed

[2017-09-11 17:39] streichler commented on #293
Closing this since #295 appears to better describe the issue.

[2017-09-11 17:39] #293 closed

[2017-09-11 17:41] streichler commented on #277
All three of these issues are fixed in deppart.

[2017-09-11 17:41] #277 closed

[2017-09-11 20:37] jiazhihao commented on #291
The performance looks much better after the fix. I will close this issue for now and reopen it if I observe other related issue.

[2017-09-11 20:37] #291 closed

[2017-09-11 22:30] lightsighter commented on #294
@streichler Use the -DREALM_PROFILING_FIX macro to test the fixes for the profiling responses.  A crash indicates too many responses and a hang indicates too few.

[2017-09-12 19:31] lightsighter commented on #294
@streichler Here are instructions to reproduce the rectangle coalescing issue:
CC_FLAGS=-DPERFECT_REALM_COALESCING ./install.py
./regent.py examples/circuit_dp.rg

You should see this error deterministically: assertion failed: in_ptr not local?

Here is the relevant piece of code for IndexIterator that makes the difference: https://github.com/StanfordLegion/legion/blob/deppart/runtime/legion/legio

[2017-09-12 22:34] streichler commented on #295
The deppart branch's version of the workaround (which should also be reverted eventually) is 7634eea.

[2017-09-13 00:49] lightsighter opened #296 "Re-Enable Regent Auto-Vectorization with Dependent Partitioning"
As part of our incorporation of dependent partitioning, we required that Regent represent point types as a single field and not break each dimension index of the point into a separate field. This causes issues for Regent's auto-vectorization optimization which has difficulty dealing with compound data types such as multi-dimensional points. Consequently vectorization had to be disabled for many Re

[2017-09-13 00:50] lightsighter commented on #294
The cause of the performance regressions has been tracked down. It has to do with the disabling of auto-vectorization in Regent.  See issue #296 for more details.  We need to decide whether we want the fix for that issue to be a blocking problem for the deppart merge.

[2017-09-13 00:53] lightsighter commented on #294
Issue #296 may also be contributing to our timeouts on both travis and gitlab CI.  However, longer compile times are also a likely factor.

[2017-09-13 02:11] elliottslaughter commented on #296
Why was vectorization disabled in Circuit? Circuit doesn't use multi-dimensional points.

Circuit does use tagged pointers (`ptr(T, ra, rb, rc)`), but I don't think Regent should be exposing the tags to Legion anyway---they're purely a Regent implementation detail to amortize the cost of dynamic `safe_cast` calls. Is the problem that we've turned even tagged pointers into a single field (when prob

[2017-09-13 04:48] magnatelee commented on #296
The vectorizer is overly conservative now. The vector code generation assumes every (nested) struct type, including index and bounded types, is flattened all the way down to fields with primitive types and this has conflict with the change we pushed not to flatten index types.

[2017-09-13 12:54] streichler commented on #253
@aheirich Please update this bug with current repro instructions or close it out if it's been fixed.  Thanks!

[2017-09-13 12:55] streichler commented on #269
@krivenko I'm going to go ahead and close this issue, but please feel free to pester us with any questions/comments/concerns you still have.  Thanks!

[2017-09-13 12:55] #269 closed

[2017-09-13 12:57] streichler commented on #160
@lightsighter Did this get fixed some time in the last year?

[2017-09-13 13:00] streichler commented on #122
@lightsighter This is fixed with the new accessors in the deppart branch, right?

[2017-09-13 17:08] aheirich commented on #253
problem appears to be solved, closing

[2017-09-13 17:08] #253 closed

[2017-09-13 18:12] lightsighter commented on #122
Yes, fixed with the deppart branch so I'm going to close the issue.

[2017-09-13 18:12] #122 closed

[2017-09-13 18:16] lightsighter commented on #160
This is not fixed yet. I want to make sure I still understand the use case that you are going for. It's only possible for 'output.target_procs' to still refer to the processors that are on the same node as the current processor (e.g. where the task is being mapped). There is no machinery to move a task to another node if 'output.target_procs' specifies processors that are not local to the current

[2017-09-13 21:18] lightsighter commented on #192
As of the deppart branch it is impossible to create an uninitialized field accessor and almost all field accessors (with the exception of reduction ones where LHS type != RHS type) checks that the size of the field being requested of the accessor matches the size of the allocated field being requested. Field size isn't great for checking that the type of the accessor matches the type of the field

[2017-09-13 21:18] #192 closed

[2017-09-13 22:41] aheirich commented on #239
closing to clean up issues

[2017-09-13 22:41] #239 closed

[2017-09-13 23:57] lightsighter commented on #294
We decided not to fix #296 before the merge. It will be a priority for @magnatelee when he returns from vacation.

[2017-09-24 20:58] streichler commented on #247
Multi-node runs with Legion spy have been removed from CI testing with commit c610d1e56192a7b44e75edd800d0969edff2dcb7.  Once this is fixed, those tests should be re-enabled.
(Don't just revert that commit, because we don't want the `allow_failure: true` part to come back.)

[2017-09-25 18:37] lightsighter commented on #294
Closing this issue now that dependent partitioning has been merged.

[2017-09-25 18:37] #294 closed

[2017-09-25 19:33] lightsighter commented on #227
Depending partitioning is merged so this question no longer has any relevance.

[2017-09-25 19:33] #227 closed

[2017-09-25 21:17] lightsighter commented on #90
Fixed with commit db71805

[2017-09-25 21:17] #90 closed

[2017-09-25 21:21] elliottslaughter commented on #90
@lightsighter Just so we're clear, what are the semantics? E.g. when would an arrive barrier trigger?

[2017-09-25 21:32] lightsighter commented on #90
An arrive barrier triggers whenever the region is unmapped, either explicitly by the application or implicitly by the runtime when it gets unmapped/remapping around a task launch or some other operation.

[2017-09-26 01:06] manopapad opened #300 "HDF-related assertion failure"
The following Regent program fails on Certainty with:

[code]

[code]

To reproduce on Certainty:

[code]

[2017-09-26 01:24] streichler commented on #300
@manopapad Can you confirm what commit you're using for the Legion runtime here?  It appears to be something that does not include the recent deppart changes.  I believe the issue is related to the path planner in DMA-land, but I'm digging into it more now.

[2017-09-26 01:34] manopapad commented on #300
This is on the master branch.

Also, happy 300th bug!

[2017-09-26 01:44] streichler commented on #300
@manopapad Please sync up to commit 5b4dd523620044254f184498a0c1f87d3373ff5d and give it another try.  Thanks!

[2017-09-26 21:31] manopapad opened #301 "Compilation error with Intel compiler"
Trying to build at commit e0627dc6 on Certainty. The only modules providing HDF support require mvapich2 built with intel compiler, so at some point icpc is invoked, and produces the following error:

[code]

[2017-09-27 08:04] manopapad commented on #300
The minimal example doesn't crash under the newer commit (although the newer commit triggers a different bug on the original code, which I'm still triaging).

[2017-09-27 08:04] #300 closed

[2017-09-27 13:52] streichler commented on #301
@manopapad Can you sync to commit d90dc62d5fcadd87b5a2cd515c57c3d8c52e298e and verify that it fixes things?  Thanks!

[2017-09-29 00:08] manopapad opened #302 "HDF crash with int3d-type fields"
The attached Regent code [hdf_int3d_field.txt](https://github.com/StanfordLegion/legion/files/1342713/hdf_int3d_field.txt) crashes on my local machine with:

[code]

[2017-09-29 00:45] streichler commented on #302
It looks like the attached code is expecting an int3d field named `cell` to be blasted out into 3 separate fields called `cell.__ptr.x`, `cell.__ptr.y`, and `cell.__ptr.z`, but I think this has been recently changed in regent (in order to make dependent partitioning operations work properly).  @elliottslaughter , can you confirm that the field fusing (un-splitting?) we did is intended for hdf5 att

[2017-09-29 00:51] manopapad commented on #302
Also note that this example has been minimized as far as it can go. In particular, dumping the region only once (rather than twice, as this example does) does not cause a crash. The code also works if you skip the for-loop before the dumping.

[2017-09-29 01:30] streichler commented on #302
Yes, you'll need a minimum set of things to occur before the Legion runtime admits that it actually has to write data to the HDF5 file on disk, which is when the mismatch between the field name provided by regent during the attach operation and the dataset names in the HDF5 created by the app becomes apparent.

[2017-09-29 16:02] streichler commented on #290
I spent a while thinking about this last night, and once I remembered that you should always try to think about everything in terms of matrix multiplication, it occurred to me that there's a way to distribute this cross-product work that is both balanced across nodes and sub-linear per node (O(N^1/2 log N), to be exact).  (Recall that the previous choices were O(N log N) work all on a single node,

[2017-09-30 05:29] elliottslaughter opened #304 "Return profiling response on instance allocation failure"
Ever since I upgraded to master-post-deppart, I've been seeing the following assert when I fail to allocate an instance:

[code]

I believe that this is supposed to return a profiling response to the high-level runtime so that this can be caught and dealt with (or not) in the mapper.

[2017-09-30 05:49] lightsighter commented on #304
Yes, calls to RegionInstance::create_instance that fail need to return a profiling request with a NO_INSTANCE so we can give the mapper the option to try mapping the instance somewhere else if it wants.

[2017-09-30 12:38] streichler commented on #304
This is on the top of my list for next week.  As a point of clarification though, you are not necessarily going to get a NO_INSTANCE result on an allocation failure.  You may get a valid handle, in which case you should destroy it once you get the profiling response indicating failure.  Also, depending on which processor is making the call to create_instance, which processor is handling profiling

[2017-09-30 22:04] lightsighter commented on #304
Ok, so what is the profiling response that we should use to detect that the instance creation failed?

[2017-09-30 22:42] streichler commented on #304
I'm waffling a bit.  The "orthogonal" way to do it is to add an `InstanceStatus` measurement that is similar to `OperationStatus`, and I can use the same rule that unless you ask for that measurement, an allocation failure is fatal.

An alternative is to add a 'successful' field to the `InstanceMemoryUsage` measurement.  That way, a failing response still gives the useful information of how much s

[2017-10-01 05:04] elliottslaughter commented on #304
I learned today that the high-level runtime waits for an allocation failure to trigger the GC, so at the moment it's not even possible to deallocate instances without this code path in place. That basically makes this a hard blocker for me at the moment because even with the mapper setting `GC_FIRST_PRIORITY` on all instances, nothing will be deleted. The good news though is that my other issue wh

[2017-10-01 06:22] lightsighter commented on #304
Right, garbage collection is a lazy process so we wait for an allocation failure to trigger the collection of any instances in the target memory (even then we only delete enough instances to try and make a space for the instance allocation so we don't fully collect the memory).

[2017-10-01 19:51] jiazhihao opened #305 "Assertion `finder != proc_spaces.end()' failed."
I encountered the following assertion failure in the up-to-date master branch. The failure can be deterministically reproduced on n0000 under the following steps:

zhihao@n0000: cd /home/zhihao/legion/apps/cnn/
zhihao@n0000:/legion/apps/cnn$ ./cnn -ll:gpu 2 -ll:fsize 4000
cnn: /home/zhihao/legion/runtime//legion/runtime.cc:12348: Legion::AddressSpaceID Legion::Internal::Runtime::find_address_space

[2017-10-01 20:36] streichler commented on #305
@jiazhihao remind me where this app code is?  Also, can you generate a backtrace?

[2017-10-01 21:23] jiazhihao commented on #305
Attached please find the backtrace. The code are available at sapling:~/home/zhihao/legion/apps/cnn. You can compile the code in that sub folder.

[0] Thread 16 (Thread 0x7f91facd8700 (LWP 30156)):
[0] #0  0x00007f91fd896fdd in poll () at ../sysdeps/unix/syscall-template.S:81
[0] #1  0x00007f91fcfbe196 in poll_dispatch () from /usr/local/openmpi-1.8.2/lib/libopen-pal.so.6
[0] #2  0x00007f91fcfb54f

[2017-10-01 22:07] lightsighter commented on #305
This is an application bug. The mapper is returning an invalid target processor ID for one of the slices from a call to 'slice_task':

proc = {
        id = 0x300000028
      },

I will fix the runtime to actually check for bad processor IDs, but the bug is going to be in your custom mapper.

[2017-10-01 22:08] lightsighter commented on #305
Just looking at the code in your mapper it looks like you need to replace this:

gpus[idx]

with this:

gpus[idx % gpus.size()]

[2017-10-01 22:13] lightsighter commented on #305
Speaking of which, @streichler how hard would it be to add an interface to all the different kinds of realm types that support the 'exists' method to also support a 'valid' method?

[2017-10-01 22:51] jiazhihao commented on #305
I see. That's why I cannot reproduce the failure if the application is given enough GPUs.

[2017-10-01 22:52] jiazhihao commented on #305
Closing this since it is an application bug.

[2017-10-01 22:52] #305 closed

[2017-10-02 23:21] lightsighter opened #307 "Realm ID Well-Formedness / Sanitize Mapper Inputs"
We should add a well-formedness test for Realm IDs similar to the 'exists' method that we currently have for Realm IDs. This will enable us to do things like sanitize mapper inputs.  A good start would be to do this for Processor and Memory types since those are the kinds of IDs that the mapper primarily uses.

[2017-10-03 18:05] aheirich opened #308 "legion_prof results cannot render in browser"
after a 256 node run on piz daint legion_prof runs for a long time (half hour?) to process the results.  then the results cannot be displayed in the browser.
tar file is 170 MB, ask Alan for "pizDaint256.tar.gz" when you work on this

[2017-10-03 18:11] aheirich commented on #308
if it is still online you can try here:

http://sapling.stanford.edu/~aheirich/soleil-x/Job_256/legion_prof/?start=0&end=243885339.82049608&collapseAll=false&resolution=10

[2017-10-03 18:15] elliottslaughter commented on #302
@streichler is right, the fields were fused in deppart and the fusion applies everywhere (we can't fuse the field for runtime calls and then unfuse it for HDF5). HDF5 does support compound data types, so this means you'll need to tweak the code that generates the HDF5 files to define the type of the the struct before first use. E.g.:

https://support.hdfgroup.org/HDF5/Tutor/compound.html

[2017-10-03 18:54] magnatelee commented on #308
I can see the timeline without any problem:

![image](https://user-images.githubusercontent.com/331175/31143189-5a4cbab8-a831-11e7-8db3-44a2af9fa297.png)

If you are not on the Stanford network, it may take really long to fetch the timeline data. Could you try excluding node 0 from the timeline and see if it still does not render on your browser?

[2017-10-03 19:05] aheirich commented on #308
true, the 256 node case is coming up for me this morning, yesterday it would not
would you mind trying the 512 node case? see if it works also.
http://sapling.stanford.edu/~aheirich/soleil-x/Job_512/legion_prof/?start=0&end=247003678.23107052&collapseAll=false&resolution=10

[2017-10-03 19:14] magnatelee commented on #308
The 512 node timeline also works for me, but only on Safari:

![image](https://user-images.githubusercontent.com/331175/31144003-2373847e-a834-11e7-9a55-878dffce1b8c.png)

I remember there was a memory limit that one javascript program can use on Chrome and this might prevent you from rendering it (the size of the data the page loaded was 2.3GB).

[2017-10-03 19:29] aheirich commented on #308
yes, it seems if I use Safari it works
closing this

[2017-10-03 19:29] #308 closed

[2017-10-04 00:02] streichler commented on #304
Instance allocation failures in Realm are reported via the `InstanceStatus` profiling measurement as of commit c6e7ac3.  Assigning to @lightsighter to connect things up on the Legion side.

[2017-10-05 02:53] lightsighter commented on #304
Alright, this is in the Legion runtime with 110048a. Assigning back to @elliottslaughter to see if it works.

[2017-10-05 20:15] elliottslaughter commented on #304
This appears to be working.

[2017-10-05 20:15] #304 closed

[2017-10-06 16:35] streichler opened #311 "User-thread switching errors"
Gitlab CI runs on that use our GCE instances in 32-bit mode frequently see errors on calls to swapcontext like this:
[code]
(example: https://gitlab.com/StanfordLegion/legion/-/jobs/35333202)

As an experiment, commit dd4ac22 increases the size of the host kernel thread's stack (i.e. the one in which the initial call to swapcontext is being made).  If/when a root cause is found that isn't stack-si

[2017-10-06 16:37] #281 closed

[2017-10-06 21:37] elliottslaughter commented on #274
@junghans I believe this is fixed now in master, can you confirm?

[2017-10-06 21:40] elliottslaughter opened #312 "Task reprioritization on resumption"
Currently, when a blocked task becomes ready for execution, it is implicitly prioritized above all other tasks in the ready queue. Under certain conditions, this can result in poor performance if it expected that the new tasks will only issue subtasks and immediately block. It would be nice to have some sort of ability (ideally in the mapper, but anywhere initially would be fine) to choose the pri

[2017-10-06 21:48] elliottslaughter commented on #302
@manopapad Were you able to get past this issue?

[2017-10-06 21:48] junghans commented on #274
Yeah, will be fixed in #309!

[2017-10-06 22:15] manopapad commented on #302
I haven't had the time to try this yet. I'll update the issue when I have. Or you can close it right now if you prefer, and I'll reopen if it's still not working.

[2017-10-06 22:16] elliottslaughter commented on #274
I believe #309 was merged manually, so I'm closing this.

[2017-10-06 22:16] #274 closed

[2017-10-06 22:27] elliottslaughter commented on #81
Looking at this again, I'm not entirely sure I'd want the behavior that initially motivated this issue. It seems to me that it's actually very bad style for libraries to block the calling task, so in all likelihood the preferred solution would be launch an inner task if that's deemed necessary. I will close this unless feels the semantics discussion itself is important.

[2017-10-06 22:27] #81 closed

[2017-10-06 22:49] elliottslaughter opened #313 "Fix Realm performance tests"
The Realm performance tests were disabled in the test suite and appear to have bitrotted. They need to fixed and re-enabled. In general, we shouldn't have code in the repo which isn't tested.

A random sampling of the build error follows. Looks mostly like deppart churn issues.

[code]

[2017-10-06 23:04] elliottslaughter opened #316 "HDF5 tests fail on master"
As indicated by the status of #314, HDF5 tests appear to be failing in master following the merge of deppart. A sample backtrace is included below.

E.g. https://gitlab.com/StanfordLegion/legion/-/jobs/35397213

[code]

[2017-10-06 23:34] lightsighter commented on #312
Can you give an example of wanting a different priority under wake-up than what was initially assigned to that task?

[2017-10-06 23:39] elliottslaughter commented on #312
In the psana use case, I have a stream of tasks that are going to immediately issue subtasks and block, and then perform a computation upon continuation. Under the current scheme, this causes me to see this pattern:

(Warning: large trace) http://legion.stanford.edu/~eslaught/psana/rax_run37_eager_knl_bb/limit_none/prof_n16/

Basically, as soon as any I/O tasks complete, the Python processor will

[2017-10-09 01:50] lightsighter commented on #316
I pushed a fix for this with 1bc5796. Assigning back to @elliottslaughter to confirm.

[2017-10-10 07:30] lightsighter commented on #316
Ok I pushed another fix for this 91742b6. Assigning back to @elliottslaughter to confirm.

[2017-10-10 22:40] elliottslaughter opened #317 "Regent: error on attempting to access field of type int3d"
Submitting this on behalf of @manopapad to track a bug in the Regent compiler. This very simple example fails with a compile error:

[code]

Fails with error:

[code]

[2017-10-10 23:21] elliottslaughter commented on #316
Thanks, that covers single- and multi-node tests of C++ examples. I'm seeing a failure on Regent that only reproduces with multiple nodes:

[code]

Appears to result in a wrong answer:

[code]

This is an application-level assert, so there's not going to be an interesting backtrace to look at.

[2017-10-11 18:01] elliottslaughter commented on #276
@aheirich Assuming this is still an issue, would it be possible to get concrete repro steps (ideally with confirmation that the bug does still reproduce)? At the moment there isn't any way for anyone else to even look at the issue.

[2017-10-11 18:04] aheirich commented on #276
repro steps:
install vmware fusion with default settings on Mac OS X
install legion, soleil-x
try to compile soleil-x

what I expect you will see:
the compilation exits silently after several minutes without completing.  The reason is out-of-memory.

[2017-10-11 18:48] streichler commented on #276
It might be worth trying to trigger it by messing with `ulimit -v` for less complicated regent programs.

[2017-10-11 22:28] manopapad commented on #302
I got this working by creating a compound HDF datatype. For posterity, here's how to properly set that up:

[code]

[2017-10-11 22:28] #302 closed

[2017-10-12 04:39] streichler commented on #316
Commit 5087813 fixes a flow control issue that was causing the data written to the HDF5 file to be
wrong in the multi-node case, but that's only half the issue.  Even with this fix, some of the HDF5 reads
performed by the check tasks are being performed **before** the HDF5 writes are finished.

I believe the issue is related to a lack of inferred dependencies between separate attach/detach section

[2017-10-12 05:35] lightsighter commented on #316
Yes, this is correct, the runtime does no dependence analysis on file paths/names. I remember we all agreed on this in a long email chain a while back.  A phase barrier is one way to enforce ordering; an execution fence is another way. No matter what it is up to the application to enforce ordering between attach/detach to the same file.  Assigning @elliottslaughter to fix it in this particular cas

[2017-10-12 20:29] elliottslaughter commented on #316
Fixed with an execution fence.

[2017-10-12 20:29] #316 closed

[2017-10-13 04:14] streichler commented on #312
Ball is in my court to provide a way to change the priority of a running task and fix Realm's prioritization code to favor higher-priority new tasks over lower-priority resumable tasks.  Then I'll hand it over to Mike to do the Legion half.

[2017-10-13 04:15] streichler commented on #311
No root cause yet, but failures are still being observed after commit dd4ac22.

[2017-10-13 04:19] streichler commented on #95
Now that Legion knows how to do an index launch on a sparse index space, I'd argue that's a cleaner way of skipping unneeded work that detecting empty region requirements.  As long as individual point tasks' projection functions can return NO_REGION for the "out of bounds" cases, I think we're good here.

[2017-10-13 04:20] streichler commented on #84
The incremental work has slowly been happening, but there's still a ways to go.

[2017-10-13 04:22] streichler commented on #35
I'd like to close this, keeping the current semantics that processor groups are not part of the machine model.  @lightsighter , are you ok with this?

[2017-10-13 08:03] lightsighter commented on #95
I agree. I think we can close this issue for now.

[2017-10-13 08:08] lightsighter commented on #35
Is there a way to get the set of processors in a processor group back from Realm? I feel like I should still not be issuing warnings in this case. I'll need to check that each of the processors has affinity to each of the memories individually.

[2017-10-13 11:16] streichler commented on #35
Yes, you can get the members of a group with this method:
https://github.com/StanfordLegion/legion/blob/master/runtime/realm/processor.h#L73
although this currently only works on the node that created the group.  If you need it to work on other nodes, let me know.

[2017-10-16 00:22] lightsighter commented on #35
Commit d401afd should fix this and I don't think we will need the group members on a node different from where the group is created.  However, we may make the group on a node that is different from where the processors exist (e.g. remote mapping of a task onto a set of processors on a different node). If that works then we can close the issue. Assigning back to @streichler to confirm this is alrig

[2017-10-16 00:29] #95 closed

[2017-10-16 00:30] lightsighter commented on #66
This has definitely been fixed by the new mapper API.

[2017-10-16 00:30] #66 closed

[2017-10-16 01:39] lightsighter commented on #35
Ok, seems like we cannot create or query processor groups from remote nodes for now, but we will notice it if someone tries to do it. The issue with the views has been resolved so that we will perform the affinity test against the right set of processors.

[2017-10-16 01:39] #35 closed

[2017-10-16 02:46] lightsighter opened #318 "Legion Spy Reboot Feature Requests"
A list of requested features for a Legion Spy reboot:

- Path-based verification of the logical analysis (similar to DPJ analysis) that also understands and checks version numbers
- Verification of the physical dependence analysis using a reduced graph for each "location" in a region
- Ability to generate a skeleton program with same Legion features from a trace (maybe not even generate, but just

[2017-10-16 22:51] elliottslaughter opened #319 "Link error with USE_LIBDL=0"
It appears that the `USE_LIBDL=0` build path has bitrotted. I see the following link error:

[code]

This is problematic on Cray systems because the compiler wrapper tries to stop you from dynamically linking anything. (You can work around with `CXX="CC -dynamic"`, but it would be nice not to need the workaround.)

[2017-10-17 00:42] streichler commented on #319
Should be mostly fixed with a9a9572.  The cmake build is include `-ldl` in link lines regardless of the setting of `Legion_USE_LIBDL`, so that needs to be fixed before this issue can be closed completely.

[2017-10-18 02:49] aheirich opened #320 "url linkage from error message page"
there is an extra legion.stanford.edu/ in the url's pointing from the error message pages to the glossary of terms

[2017-10-18 02:50] aheirich commented on #320
also check for a missing .md suffix on one of the files in either glossary or design patterns

[2017-10-19 05:08] streichler commented on #312
The new branch task_priority has a first shot at the Realm changes for this.  Assigning to Mike to work on the Legion side of it.

[2017-10-19 05:16] streichler commented on #311
Since the only system we've seen this happen on is a docker container used by gitlab CI, commit 52ee476 takes the pragmatic approach and just tests whether `getcontext` and friends are broken at Realm startup and falls back to kernel threads if needed.  (A warning is printed in case this happens on any real system of interest.)  The relevant part of commit dd4ac22 is reverted in commit d3a8555.

[2017-10-19 05:16] #311 closed

[2017-10-19 06:26] streichler commented on #313
Tests fixed and re-enabled in CI with commit 2ec00e4.

[2017-10-19 06:26] #313 closed

[2017-10-19 07:32] lightsighter commented on #312
A design decision for us @elliottslaughter @streichler to make: how should we allow the application to change the priority of a running task?

Option 1: There is an application-facing call into the runtime to change the priority, but no priority is directly passed. Instead when the runtime receives the call from the application, it turns around and invokes a new mapper call on the mapper for the t

[2017-10-19 15:30] streichler commented on #312
I'd like to consider a third option in which the application code is completely oblivious:  When mapping a child operation (e.g. task launch, inline mapping), the mapper would be able to request a change to the parent task's priority.  This should match PSANA's needs pretty well (i.e. lower the parent task's priority when mapping the I/O subtask), but it does mean my current Realm interface may be

[2017-10-19 17:08] lightsighter commented on #312
Two questions:
1. How are we going to name Realm tasks for setting the priority?
2. Are you going to support this ability from a remote node, e.g. when the child is mapping on a remote node and asks to change its parent's priority?

[2017-10-19 17:13] streichler commented on #312
It'd basically use the same machinery as for task cancellation:
1. You refer to a Realm task by its completion `Event` (see: https://github.com/StanfordLegion/legion/blob/master/runtime/realm/event.h#L61).
2. The Realm `OperationTable` knows where things are and can forward cancellation (and now potentially reprioritization) requests.

[2017-10-19 17:21] lightsighter commented on #312
I'm also a little worried about the "security" (if that is the right word for this) because now a mapper for a child task can change the priority for the parent task which may be owned by a different mapper. So now we can have two different mappers silently fighting with each other over the priority of a task.

[2017-10-19 17:23] streichler commented on #312
How is that different from two mappers "arguing" over where data for a region should be placed?  In either case, it'll be functionally correct in all cases, and have good performance when the mapper(s) are making good and consistent policy decisions.

[2017-10-19 18:46] elliottslaughter commented on #312
So I'd personally be fine with a more limited version of this where a task has two priorities that are both chosen up front: the initial priority, and the priority with which to resume the task when it blocks. I realize this doesn't allow the same range of functionality, but from an implementation perspective it seems much easier, and I don't expect to need the full expressiveness provided by what

[2017-10-19 20:16] streichler commented on #319
Commit edead4b removes `-ldl` from the link line when `Legion_USE_LIBDL=OFF`.  Assigning to @elliottslaughter to check that this makes Cray systems sufficiently happy.

[2017-10-20 02:45] lightsighter commented on #312
I've pushed my changes. First, your mapper needs to override the configure_context mapper call and enable child operations to mutate the priority of the parent task:

https://github.com/StanfordLegion/legion/blob/task_priority/runtime/legion/legion_mapping.h#L1352

If you don't set this the runtime will not allow child tasks to mutate the priority of the parent task. If they try the runtime will i

[2017-10-20 16:48] streichler opened #321 "fix inter-node GPU->GPU copies"
Changes to hide intermediate buffers from the Realm machine model have broken path finding
for inter-node GPU->GPU copies.  This needs to be cleaned up before the 17.10 release.

[2017-10-20 17:29] elliottslaughter opened #322 "Regent: add ability to call Regent tasks from C/C++"
For interoperability, it would be useful to have the ability to call Regent tasks from a C or C++ program. This requires the following features:

 - [x] dump a Regent object (`.o` or `.so`) without generating a corresponding `main()`
 - [x] generate registration functions in object file along with a corresponding header to make it callable from C
 - [x] generate a wrapper to perform the task launc

[2017-10-20 18:04] elliottslaughter commented on #319
Works, thanks.

[2017-10-20 18:04] #319 closed

[2017-10-22 01:42] streichler commented on #321
Commit 4d1119e should have the fix for this.  @jiazhihao, can you try it in the multi-GPU/multi-node configurations where you were seeing problems before?

[2017-10-22 16:27] streichler commented on #322
I see Mike's already tagged this with the S3D label.  I'll give it a try there as soon as it's ready.  S3D will want to add its own "domain-specific" goo around both the task body and the launch wrapper, which I think will be straightforward if we have the right metaprogramming hooks.

[2017-10-22 20:49] streichler commented on #257
The header_cleanup branch (initial commit fbe7ab6) moves all the real headers out of the base runtime/ directory.  For compatibility with older apps using the older Makefiles, there are still files there that redirect (with a warning) to the new locations, but cmake should not be installing them.

Rather than changing the names of header files that might conflict with other names, my plan is to ma

[2017-10-22 21:21] lightsighter commented on #322
This maybe should be discussed more in the context of issue #296 but at least for S3D one of the important parts of vectorization for at least several important S3D kernels is the cache blocking when the inputs and outputs of a computation are over all the species in a cell.  Keeping all the species values in cache is important and there are enough of them that the way we would normally write the

[2017-10-23 17:26] elliottslaughter commented on #322
We probably want to discuss the DSL aspect with @magnatelee. It may be that the Regent auto-parallelizer can be make powerful enough to handle these cases, avoiding the need for application scientists to be maintaining their own DSL.

[2017-10-23 18:09] lightsighter commented on #322
Well, I think S3D will always need something like Singe to handle the mechanism-specific kernels. However, the kernels I referenced above are not mechanism-specific, they just need to be cache-blocked.

[2017-10-23 18:14] streichler commented on #322
As I think more about it, the goo I'm anticipating is more "application-specific" than domain-specific.  Ideally we'd want to have the leaf tasks we generate for S3D use the app's existing data structures rather than have to put a wrapper around the wrapper.  A straightforward way to do this would be to have the task launch wrappers be generated as terra blobs that could inlined into other terra s

[2017-10-23 18:17] streichler commented on #184
@elliottslaughter what's the current thinking on this one?

[2017-10-23 18:19] streichler commented on #160
Yes, switching from CPU<->GPU on the same node would cover the use case I'm concerned about, and the limitation of not switching nodes again seems acceptable, but would probably need an explicit check and useful error message.

[2017-10-23 18:21] elliottslaughter commented on #184
I think it's still important to do this, it's just low priority since we've got a workaround that's good enough for most of our users. But we did this in the previous version of Regent and I don't see why we can't do it again.

[2017-10-23 18:21] streichler commented on #100
@lightsighter are you still considering this?  It seems like application-modifyable FutureMaps might be problematic in a dynamic control replication setting.

[2017-10-24 08:22] lightsighter commented on #100
They are actually fine in a control replication setting as long as they all do the same thing.

I'm going to close this issue since we now have the ability to create an ArgumentMap from a FutureMap and then modify the entries in it.

[2017-10-24 08:22] #100 closed

[2017-10-24 08:25] lightsighter commented on #160
I'm going to close this issue since we already support this functionality and the appropriate check exists when mapper output checks are enabled. Here is the error message that is reported if you try to map the the task to a target processor not on the local node:
https://github.com/StanfordLegion/legion/blob/stable/runtime/legion/legion_tasks.cc#L3312-L3320

[2017-10-24 08:25] #160 closed

[2017-10-24 12:16] streichler commented on #160
@lightsighter Is the original request covered?  i.e. is `task.target_proc` now ignored (or copied into `target_procs` as the default value)?

[2017-10-24 16:42] streichler commented on #210
@junghans Is this still a problem, or have you worked around it on your side?

[2017-10-24 16:53] junghans commented on #210
Yes, still not fixed!

[2017-10-24 16:58] streichler commented on #210
It looks like the fedora gasnet-devel package installs three different versions of GASNet.  Which one are you hoping cmake will find, or how are you telling it which one you want?

[2017-10-24 17:23] junghans commented on #210
1. As said a above we should add `MPI_LIB` as a hint (in the same way as `MPI_INCLUDE` is used):
[code]

2. figure out why cmake doesn't use that hint.

[2017-10-24 17:32] streichler commented on #210
Hmm, why are we searching the file system for libraries when we have the gasnet makefile fragment to parse and be told exactly where to look?

[2017-10-24 18:28] lightsighter commented on #160
If the `target_procs` is left empty then the runtime will implicitly copy `task.target_proc` into it.

[2017-10-24 18:52] streichler commented on #210
@junghans can you please try this again with the `cmake_gasnet` branch?  Rather than going down the path of using MPI_LIB, I instead am trying to make the makefile fragment found in the conduit include directory (which may still be found with the help of MPI_INCLUDE) speak authoritatively for the location of all libraries (instead of all but the main library).

[2017-10-24 21:11] aheirich opened #324 "regent crash - assert line 2702 flow_spmd.t"
...
FIXME: Skipping update of region which is not read
FIXME: Skipping update of region which is not read
...P/legion/language/src/rdir/plugin/src/regent/flow_spmd.t:2702: assertion failed!
stack traceback:
	[C]: in function 'assert'
	...P/legion/language/src/rdir/plugin/src/regent/flow_spmd.t:2702: in function 'rewrite_copies_subgraph'
	...P/legion/language/src/rdir/plugin/src/regent/flow_spmd.t:

[2017-10-24 21:13] aheirich commented on #324
To compile the test program you will need to set up a soleil-x environment from the branch soleil_viz_regent_crash
The source program is soleil-x.t modified at a single line, commenting out the call to Render inside the simulation loop.

[2017-10-24 21:16] aheirich commented on #324
[regent_compiler_crash.log](https://github.com/StanfordLegion/legion/files/1412531/regent_compiler_crash.log)
attaching slurm log that shows all of the compiler switches

[2017-10-24 23:01] aheirich opened #325 "issue collector for documentation/online issues"
this is a collection of low-priority issues related to documentation.

[2017-10-24 23:01] aheirich commented on #325
The online page about building gasnet should refer to the StanfordLegion/gasnet project and tell how to build gasnet that way

[2017-10-25 20:46] streichler commented on #210
@junghans: another ping on this.  The window for getting this into the next Legion "release" is measured in hours.  :)

[2017-10-25 21:15] junghans commented on #210
Nope, it still pick up the wrong `libgasnet_tools-par.so`.

Tested with the following `Dockerfile`:
[code]

[2017-10-25 22:46] streichler commented on #210
Bleah, cmake doesn't make this easy.  Can you try again?  (Silly me for thinking that the PATHs given to `find_library` would be considered _before_ the default paths.)

[2017-10-25 23:29] junghans commented on #210
Confirmed f2a90d03d7f5a196941da69ed925ffdf5905d945 fixed it!

[2017-10-25 23:30] streichler commented on #210
Cool - thanks for the quick response.  As long as nothing bad shows up in the CI stuff, this change will make it onto the boat.

[2017-10-27 22:40] streichler commented on #210
@junghans this change has made it into the legion-17.10.0 release (as commit 6ff4ad5).

[2017-10-27 23:43] aheirich opened #328 "assert in soleil-x master branch at runtime/realm/metadata.cc:95: on piz daint"
this assert does not happen on sapling

srun -n 4 -N 4 --ntasks-per-node 1 --cpu_bind none /lib64/ld-linux-x86-64.so.2 /users/aheirich/PSAAP/soleil-master/src/piz_daint_jobs/Job_4_master/taylor-512x512x256-shardsize1 -ll:cpu 2 -ll:util 2 -ll:dma 2 -ll:io 1 -ll:csize 40000 -ll:rsize 8192 -hl:sched -1 -level legion_prof=2,5 -logfile soleil_prof_% -hl:prof 4 -hl:serializer ascii | tee Job_4_master
ta

[2017-10-28 00:15] aheirich commented on #328
the previous run used -ll:cpu 2 which looks like a bug.   rerunning with -ll:cpu 4 gives a different result

srun -n 4 -N 4 --ntasks-per-node 1 --cpu_bind none /lib64/ld-linux-x86-64.so.2 /users/aheirich/PSAAP/soleil-master/src/piz_daint_jobs/Job_4_master/taylor-512x512x256-shardsize1 -ll:cpu 4 -ll:util 2 -ll:dma 2 -ll:io 1 -ll:csize 40000 -ll:rsize 8192 -hl:sched -1 -level legion_prof=2,5 -logfil

[2017-10-28 00:17] aheirich commented on #328
note that it would be useful to identify the source of the error in the case where we are running with -ll:cpu 2 but should have -ll:cpu 4.  I don't know whether this is possible.

[2017-10-28 02:51] streichler commented on #328
@aheirich please run both cases (i.e. `-ll:cpu 2` and `-ll:cpu 4`) with `-level inst=1,dma=2` and put the log files on sapling where I can look at them.  While the `-ll:cpu 2` case may be unintended, the error you're getting shouldn't happen even with a "bad" partitioning or placement.

[2017-10-28 06:51] aheirich commented on #328
@streichler logs are at http://sapling.stanford.edu/~aheirich/soleil_prof_cpu2_0 and http://sapling.stanford.edu/~aheirich/soleil_prof_cpu4_0

[2017-11-07 18:08] streichler commented on #321
@jiazhihao another ping on this...

[2017-11-07 18:11] streichler commented on #210
@junghans any objection to closing this bug?

[2017-11-07 18:38] junghans commented on #210
It is fixed!

[2017-11-07 18:38] #210 closed

[2017-11-09 19:15] elliottslaughter commented on #312
I can confirm that this is working, and I recommend merging the branch into master.

[2017-11-11 21:30] lightsighter commented on #312
Pull request #329 merged this into the master branch so I am closing the issue.

[2017-11-11 21:30] #312 closed

[2017-11-14 17:37] elliottslaughter opened #330 "Update website tutorials to remove deprecated namespaces"
The tutorials and other code samples on the website currently use deprecated namespaces and APIs. These should be updated to be more modern.

http://legion.stanford.edu/tutorial/hello_world.html

[2017-11-20 20:32] lightsighter opened #331 "Missing Regent Native Language Features for Dynamic Control Replication Analysis"
I've been writing a static analysis for Regent that attempts to figure out when a task is dynamically control replicable. Right now we look for external function calls (e.g. anything that might contain a random number generator call in it) and use that to disqualify tasks from being 'replicable'. The problem with this is that it disqualifies a bunch of Regent programs that use one of the following

[2017-11-21 20:52] elliottslaughter commented on #295
I'm seeing a freeze on master at certain node counts that @magnatelee tells me is likely to be caused by this. Do we have a plan to get to a full fix for this?

[2017-11-21 23:40] lightsighter commented on #295
@elliottslaughter Did you confirm that it only happens when you request profiling information?

[2017-12-01 01:57] lightsighter opened #332 "Regent "Insist" Annotations"
Ideally Regent should have an "insist" annotation on a task implementation to say what properties the task implementation has, even if the compiler cannot statically prove it. Specifically we should be able to annotate tasks as being leaf/inner/idempotent/replicable and have that be communicated to the runtime.

[2017-12-01 20:37] elliottslaughter commented on #322
Initial support for this has landed. At the moment the only abstraction layer that is exposed is the C and C++ APIs. The intention is that as the internals get cleaned up, there would be a way to extend this at the Terra level to allow applications to generate their own C and C++ API wrappers.

[2017-12-05 01:17] elliottslaughter opened #333 "Python: support 3.x"
Add support for Python 3.x in the Python processor and bindings. It may make sense to limit the minimum Python 3 version to something recent like 3.5.

This is required for psana2.

[2017-12-05 21:26] elliottslaughter commented on #333
This has been fixed, but still needs to be tested in the test suite.

[2017-12-07 18:31] elliottslaughter commented on #333
We are now testing this in gitlab.

[2017-12-07 18:31] #333 closed

[2017-12-07 18:32] elliottslaughter opened #334 "Regent: non-determinism in code generation"
Regent currently produces code non-deterministically in a way that causes dynamic control replication to fail. Ideally, at least the sequence of generated runtime calls would be deterministic.

[2017-12-07 18:58] elliottslaughter commented on #334
The easy part of this fix is now in: Regent now hashes regions by their ID, so to the extent that non-determinism comes from putting regions into hash tables, it should be fixed. Assigning to @lightsighter to confirm.

[2017-12-08 00:49] jiazhihao opened #335 "Assertion failure in the DMA system"
I got the following assertion failure when I try to run an application with 4 P100 GPUs on Sherlock.

[0 - 7f7d840b2700] {6}{dma}: kind mismatch: 7 != 8: src=1e00000000000004 dst=1e00000000000001 serdez=0,0 redop=0
cnn: /home/users/zhihao/legion/runtime/realm/transfer/lowlevel_dma.cc:1489: Realm::XferDes::XferKind Realm::get_xfer_des(Realm::Memory, Realm::Memory, Realm::CustomSerdezID, Realm::Cust

[2017-12-09 02:19] lightsighter commented on #334
The non-determinism still exists.  Here's how to reproduce it:

1. Checkout the 'control_replication' branch
2. Build regent like this: CC_FLAGS=-DDEBUG_LEGION_COLLECTIVES ./install.py --debug --gasnet
3. Run this command: LAUNCHER="mpirun -n 2 -H localhost --oversubscribe --bind-to none -x INCLUDE_PATH -x LD_LIBRARY_PATH -x TERRA_PATH -x REALM_FREEZE_ON_ERROR" ./regent.py tests/regent/run_pass/op

[2017-12-09 02:25] lightsighter commented on #334
You should also be able to reproduce this in the master branch with -fpretty and looking at the order of the runtime calls in the pretty printed code. It's much easier to detect it though in the control replication branch where the runtime will find it for you.

I should also point out that the runtime check here is sound but not complete. It will detect when runtime calls of different kinds don't

[2017-12-09 08:01] magnatelee opened #336 "Realm crashes for a long running program"
Realm raises an assertion when I run circuit for 500k iterations with Legion Prof. Here is a command to reproduce:

`regent.py examples/circuit_sparse.rg -l 500000 -lg:prof_logfile prof_% -lg:prof 1 `

After running for a while, it will raise the following assertion:

`realm/profiling.inl:244: void Realm::ProfilingMeasurementCollection::add_measurement(const T&, bool) [with T = Realm::ProfilingMea

[2017-12-09 23:25] lightsighter commented on #336
@streichler is on vacation, but I think I know what happened. Currently Realm is not recycling RegionInstanceImpl meta-data objects, and interestingly the ID of the RegionInstance that we failed on here is:
(gdb) p/x i
$4 = {
  id = 0x6000000000000000
}
So what happened here is in the process of making and destroying (but not recycling) a bunch of reduction instances, we consumed all the bits avai

[2017-12-11 00:51] elliottslaughter commented on #336
By way, we also hit this with psana if we run over 32k events. So while not urgent (yet), we should consider this a bug that will at some point impact a production code.

[2017-12-12 23:29] magnatelee opened #337 "DMA crashes when a field exceeds a certain size"
The test case in commit 5d51aae kills DMA on two nodes. Here is a command to reproduce the issue on sapling:

`LAUNCHER='mpirun -np 2 -H n0000,n0001 --bind-to none -x TERRA_PATH -x LD_LIBRARY_PATH -x INCLUDE_PATH' regent.py tests/runtime/bugs/dma.rg`

According to the stacktrace, `dst_info.bytes_per_chunk` somehow got 0 and raised a divide-by-zero error.

[code]

I suspect there is some hard coded

[2017-12-13 08:22] lightsighter commented on #337
Can we disable this test in the test suite until we think this issue is fixed?

https://gitlab.com/StanfordLegion/legion/-/jobs/44318147

As long as there is an open issue I think it is safe to disable the test in the suite since we know that there is someone responsible for fixing it.

[2017-12-13 08:31] jiazhihao commented on #337
That part of code was added by Sean during his DMA merge. I will take a look at the issue tomorrow and see if I can generate an easy fix.

[2017-12-13 08:31] magnatelee commented on #337
I just disabled the test, so CI should be passing now.

[2017-12-14 23:18] magnatelee commented on #337
After having a discussion with Zhihao, we decided to wait for Sean to fix this. He will shortly write about what he has found.

[2017-12-15 00:50] lightsighter commented on #334
This is now the only failing regent test case in the control replication branch. (I think there could be more though if we had annotations on marking a task 'replicable'.)

[2017-12-15 01:12] lightsighter opened #338 "Requirements for DOM for use with dynamic control replication"
Here's a list of requirements for changes that need to be made to the existing Soleil DOM code and the Regent compiler before it can be tested with dynamic control replication. Go ahead and check off your boxes when they are done. I'll start testing once all the boxes are checked.

- [x] Regent needs to have the ability to annotate 'replicable' tasks and have that information passed through to the

[2017-12-16 08:12] elliottslaughter commented on #334
This has been fixed in a new branch called `deterministic`. This is in a branch because it breaks the auto-parallelizer. With the fixes, you can observe that the code (via `-fpretty 1`) is identical in multi-node runs (it produces an empty diff). However, it appears that there is still a shutdown crash.

Assigning back to @lightsighter to confirm and to @magnatelee to fix the parallelizer.

[2017-12-16 08:16] elliottslaughter commented on #334
@magnatelee FYI the changes are that the region universe and the constraints are created via `data.newmap()` and `data.new_recursive_map(2)`, respectively. That means you can't use `pairs()` and `rawget()` etc. on these objects anymore, and if you want to copy them, you need to use `:copy()` instead of rolling your own. Somehow the parallelizer is generating code that is breaking subsequent passes

[2017-12-16 23:15] lightsighter commented on #334
@elliottslaughter Is the `deterministic` branch downstream of the `control_replication` branch or is it just downstream of `master`?

[2017-12-17 05:07] elliottslaughter commented on #334
`deterministic` is downstream of master only.

[2017-12-18 20:30] elliottslaughter commented on #334
Now tracking test status in #339. Will merge that PR once the tests are passing.

[2017-12-19 00:45] elliottslaughter commented on #334
Merged. Assigning to @lightsighter to confirm.

[2017-12-19 02:12] lightsighter commented on #334
Verified that this works now on the control replication branch. Closing the issue for now. Will re-open it if we encounter any future kinds of non-determinism that occur in Regent code generation.

[2017-12-19 02:12] #334 closed

[2018-01-02 17:15] streichler commented on #337
Ok, I see the issue - now I just have to figure out how to fix it.  The problem has to do with the wrapping case on an intermediate buffer when the element boundary doesn't line up with the end of the buffer (because a previous field in the same transfer was a smaller size).

[2018-01-02 19:49] streichler commented on #335
@jiazhihao I think this should be fixed with commit fff725a.  Please give it another try on Sherlock and let me know how it goes.

[2018-01-02 19:52] streichler commented on #328
@aheirich I made some changes in November that might have fixed this.  Can you give it another try and let me know what you find?  Thanks.

[2018-01-02 21:42] streichler commented on #295
@elliottslaughter Any update on this?  If it still fails, do you have a command line I can try?

[2018-01-03 00:01] streichler commented on #336
@magnatelee @elliottslaughter This is hopefully finally fixed with commit f6aa30e.  Please try your various test cases to confirm/refute my claim.

[2018-01-03 22:27] streichler commented on #257
All Legion and Realm headers are now #include'd using their full path (from the runtime root directory), which should eliminate this issue.  @junghans , when you get a chance, can you take a look and see if you agree the changes are sufficient?

[2018-01-08 22:07] streichler commented on #337
I think this should be fixed with 860d294.  @magnatelee can you try any other cases that were showing this problem as well?

[2018-01-08 23:08] magnatelee commented on #337
The issue has been fixed in all cases I'm concerned with.

[2018-01-08 23:08] #337 closed

[2018-01-08 23:50] magnatelee commented on #336
I was able to run Circuit for 30 minutes without any crash, so I think this issue has been fixed. That said, the memory usage reached 36 GB after 30 minutes even though the size of circuit is only 4 KB. This may or may not be related to the fix and I feel we should make a separate GitHub issue to chase this. @elliottslaughter Feel free to close the issue if you confirm it has been fixed in psana

[2018-01-09 00:24] streichler commented on #336
Yes, let's open a separate issue to track the memory consumption.  I just tried running my Realm-only instance-reuse unit test and it shows no memory leaks, so I'd suggest we start with having Mike look at his allocation-tracking counters at the Legion level.

[2018-01-09 06:17] lightsighter commented on #336
@magnatelee I think you already know how to use the -DTRACE_ALLOCATION compile-time flag?

[2018-01-09 17:51] elliottslaughter commented on #338
@lightsighter We already have the first bullet, right?

[2018-01-09 17:56] lightsighter commented on #338
@elliottslaughter No, I added support for a static analysis that tries to infer it. This bullet is asking for the case where we explicitly annotate it in the program. This will involve change the Regent parser which I don't know how to do.

[2018-01-09 18:00] elliottslaughter commented on #338
@lightsighter You mean `__demand(__replicable)`?

[2018-01-09 18:08] lightsighter commented on #338
@elliottslaughter Yes, that's what I mean.

[2018-01-09 19:09] elliottslaughter commented on #338
First bullet should be working in 3f7a3ef.

[2018-01-09 20:57] magnatelee commented on #336
@lightsighter Sure, but I think we don't need to use that because I'm pretty sure the leak is in Legion Prof. The memory usage stays relatively constant without Legion Prof. Let me see if I can quickly figure this out.

[2018-01-10 06:36] lightsighter commented on #338
Yup, first bullet looks good to me.

[2018-01-10 19:04] manopapad commented on #338
Bullet 2: For the noobs among us, is there a list of requirements somewhere for what it means to be "replicable"?

Bullet 3: Similarly, can someone explain, for the noobs?

[2018-01-10 19:13] elliottslaughter commented on #338
@manopapad For bullet 2 you add `__demand(__replicable)` to your task and see if the compiler yells at you. Note: you will need Legion to be on the `control_replication` branch for this to work.

Similarly for bullet 3 you add `__demand(__parallel)` to any loops where you call tasks, and see if the compiler complains. (Works on any branch.)

[2018-01-11 21:32] lightsighter commented on #338
@manopapad I think @elliottslaughter is mostly right about what he told you, but I'm forecasting that the compiler's static analysis is not sufficient yet to be able to safely prove that a task is control replicable so it might give you a false positive error message. In general, in order for a task to be control replicable right now it is not permitted to have any use of a random number generator

[2018-01-13 22:42] lightsighter commented on #332
I added the Soleil tag since issue #338 might need this as well.

[2018-01-13 22:47] lightsighter commented on #336
@magnatelee and I figured this out. It is due to the profiling responses being starved from running in Realm due to the low priority that we give them to avoid interfering with the actual execution. I made a change which might allow them to find more "holes" in which to run including holes on the actual application processors. We also could potentially change their priority to avoid starving them

[2018-01-15 10:40] magnatelee commented on #336
Yes, we should close this for now.

[2018-01-15 10:40] #336 closed

[2018-01-19 02:58] lightsighter opened #342 "Race Condition with Waits on Migrating Barriers"
This bug manifests non-deterministically with the following assertion:

in Realm::BarrierImpl::add_waiter (this=0x2aaab5e013e0, needed_gen=4,
    waiter=0x2aaab5dbefb0) at /home/mbauer/legion/runtime/realm/event_impl.cc:2265
2265          assert((owner == my_node_id) || (gen_subscribed >= needed_gen));

It occurs when the following chain of events happens in this order:
1. A task decides to wait o

[2018-01-19 23:07] manopapad opened #343 "Variables not in scope error inside codegen"
To reproduce, download the files in [vars-not-in-scope.zip](https://github.com/StanfordLegion/legion/files/1648150/vars-not-in-scope.zip) and run:

[code]

Here's what I get on my local machine:

[code]

[2018-01-19 23:41] manopapad commented on #343
Updated with header file: [vars-not-in-scope.zip](https://github.com/StanfordLegion/legion/files/1648263/vars-not-in-scope.zip)

[2018-01-21 07:30] lightsighter commented on #335
@jiazhihao Any progress on confirming that this is fixed?

[2018-01-21 08:38] jiazhihao commented on #335
Confirming that the bug has been fixed by commit fff725a.

[2018-01-21 08:38] #335 closed

[2018-01-22 22:45] magnatelee commented on #343
You can't launch tasks inside an OpenMP loop, though the error reporting definitely needs some improvement. If you make `GetSoundSpeed` inlined, the issue will disappear.

[2018-01-22 22:46] magnatelee commented on #343
I'll let this open until we improve the error reporting.

[2018-01-23 06:54] elliottslaughter opened #344 "How to do march/mcpu properly in CMake"
CMake doesn't natively know how to add `-march=native` to a project. Legion usually wants this flag (or when cross-compiling, something similar for the target architecture). We recently noticed a performance bug resulting from not having this flag.

As a stopgap, I added this code to ensure we at least get a basic `-march=native` flag on systems that support it:

https://github.com/StanfordLegion/

[2018-01-23 18:31] elliottslaughter commented on #344
I thought of a potential way of handling this. If we do these checks in the following order:

 1. Check for `-march`
 2. Check for `-mcpu`

I think this should work because the `-march` flag, when it isn't supported, is a hard error.

[2018-01-23 18:53] elliottslaughter commented on #344
Ok, this is in as of 74055888880c0d44f94107b685095602e275a436 / 3612417728a8546e4c86e091260ce2dfefb6c2ee. I'll close this for now, but if there are any further comments please re-open the issue.

[2018-01-23 18:53] #344 closed

[2018-01-23 22:11] elliottslaughter opened #345 "Regent: fix vectorization on Power architecture"
At the moment, there are various aspects of the vectorizer that are hard-coded for x86. These needs to be made more general in order to be able to run on Power systems. E.g.:

https://github.com/StanfordLegion/legion/blob/master/language/src/regent/std.t#L3701-L3704

[2018-01-27 06:41] elliottslaughter opened #346 "Regent compilation error when index launches are enabled"
As of this version of the code: https://github.com/hturki/barnes-hut/commit/236efbf1088e972e5d01a13b6edb767d2fb8dcab

To reproduce: `./regent.py barnes_hut.rg`

Goes away with: `./regent.py barnes_hut.rg -findex-launch 0`

[2018-01-30 00:33] elliottslaughter commented on #346
Fixed by 8984f7924685ebd345719e0cdfa5bb753fbcef6d.

[2018-01-30 00:33] #346 closed

[2018-01-30 00:35] elliottslaughter commented on #345
Fixed in 15800930fd54fb3a131749aba9428ffc88966202.

[2018-01-30 00:35] #345 closed

[2018-01-30 00:49] elliottslaughter commented on #330
Updated tutorial 0. Only 9 more to go...

[2018-01-30 09:14] lightsighter commented on #330
Are you just updating the code or the text as well? Do you need help with this?

Side question: can you think of an easy way to couple the text with the code, something like the literate programming that they use in [PBRT](http://www.pbrt.org/) Maybe something like [this](https://github.com/gokyle/literate)?

[2018-01-30 18:08] elliottslaughter commented on #330
Yes, I'm updating the text, which is why this isn't just a quick fix. If you want to help, just post in this issue when you finish a tutorial.

You can do "literate" programming easily enough in Markdown. Just write something like:

    This is a hello world example. The first line is needed to import
    the standard C library for input and output.

[code]

    Next we need to define main....

Th

[2018-01-31 00:46] elliottslaughter opened #347 "setup_env.py offline mode"
To allow setup_env.py to be used in a computer without a direct internet connection.

[2018-01-31 22:21] jiazhihao opened #348 "CUDA failure with Regent generated kernel"
The following Regent file crashes deterministically with Regent generated CUDA kernel. The crash is reproducible on n0000 by the following steps:

1. install the up-to-date Regent with `./install --cuda --gasnet`
2. zhihao@n0000:~/legion/language$ ./regent.py examples/pagerank/pagerank_mapping_test.rg -graph /home/zhihao/hollywood.gr -nw 2 -ll:gpu 2 -ll:fsize 4000 -ll:zsize 20000
pagerank settings

[2018-02-01 00:58] elliottslaughter commented on #330
Updated tutorial 1...

[2018-02-01 01:08] streichler commented on #342
@lightsighter did you get a chance to check if this bug was still occurring?

[2018-02-01 01:25] elliottslaughter commented on #330
Updated tutorial 2...

[2018-02-01 03:25] lightsighter commented on #342
250 runs on the PSG cluster haswell nodes without incident. Closing the issue.

[2018-02-01 03:25] #342 closed

[2018-02-01 06:33] magnatelee commented on #348
This should be fixed in ca66b36. @jiazhihao please close this issue once you confirm it is fixed.

[2018-02-01 16:47] jiazhihao commented on #348
@magnatelee Confirmed that the issue has been fixed on sapling. However, I still observe the same compile error on Sherlock as before. I guess this might be a separate issue on Regent.

[2018-02-01 18:52] jiazhihao commented on #348
The issue has been fixed in ca66b36.

[2018-02-01 18:52] #348 closed

[2018-02-01 18:57] magnatelee opened #349 "Regent: Accidental inline mappings in non-inner tasks"
When a task has both region accesses and task launches, it accidentally inline maps all regions declared in the task even though it actually uses only some of them. To fix the issue, we want to track "inner-ness" of individual regions and inline map only the regions that are not inner.

[2018-02-02 00:02] elliottslaughter commented on #347
Initial support landed in 262d67dbc4a16fd3748fbe08f2752aa1aaae186e. To test:

[code]

[2018-02-02 00:39] elliottslaughter commented on #330
Updated tutorial 3...

[2018-02-02 01:32] elliottslaughter commented on #330
Updated tutorial 4...

[2018-02-03 00:39] elliottslaughter commented on #330
Tutorial 5 is in progress, but I'm out of time so I'll have to pick up the rest of it later. The progress so far is checked in to git.

[2018-02-04 08:04] lightsighter commented on #330
I'm proof read through tutorial 4. Let me know as you finish others and I will proof read more.

[2018-02-04 20:53] junghans opened #350 "All tests fail with "invalid processor handle" on f28"
Working on getting legion-18.02.0 updated in fedora (https://bugzilla.redhat.com/show_bug.cgi?id=1541580), bump in Fedora 27 worked without a problem (https://koji.fedoraproject.org/koji/taskinfo?taskID=24687183), but in Fedora 28 all tests fail with:
[code]
Details here: https://koji.fedoraproject.org/koji/taskinfo?taskID=24687199

All packages are build from the same source using the same option

[2018-02-04 21:45] streichler commented on #350
@junghans did the 17.10 release work with fedora 28, or have you only tried 18.02?

[2018-02-04 21:58] lightsighter commented on #350
At least some of the failures are compilation failures and not runtime errors:

In file included from /usr/include/openmpi-s390x/gasnet_atomicops.h:152,
                 from /usr/include/openmpi-s390x/gasnet.h:203,
                 from /builddir/build/BUILD/legion-legion-18.02.0/runtime/realm/mem_impl.cc:30:
/usr/include/openmpi-s390x/gasnet_atomic_bits.h:302:6: error: #error "GASNETI_USE_COMPIL

[2018-02-04 22:52] junghans commented on #350
@streichler, 17.10 has fine, but I retrigger build in the new enviorment just to check:
https://koji.fedoraproject.org/koji/taskinfo?taskID=24715299

@lightsighter, I had only looked at the `x86_64` build, the error on `s390x` means gasnet needs a rebuild as well. I will do that later.

[2018-02-04 23:44] junghans commented on #350
Ok, it seems to be the f28, which makes it fail not 18.02! Still same error even with 17.10!

[2018-02-05 13:36] junghans commented on #350
I was able to reproduce the problem locally using:
[code]

[2018-02-05 16:11] lightsighter commented on #350
@junghans Can you get a backtrace for one of the crashes please?

[2018-02-05 18:25] lightsighter commented on #321
@jiazhihao Any luck confirming that this is fixed?

[2018-02-05 18:33] jiazhihao commented on #321
I have tried quite a few multi-GPU/multi-node benchmarks recently and haven't seen any crashes. I think the issue should have been fixed.

[2018-02-05 18:33] #321 closed

[2018-02-05 20:05] streichler commented on #350
I have reproduced this in a docker image.  It appears to be related to gcc 8 and how it is "optimizing" some code.  Trying to figure out how to get it to produce the correct code now.

[2018-02-05 21:08] junghans commented on #350
With the following Dockerfile:
[code]
and then
[code]
I got
[code]

[2018-02-05 22:39] streichler commented on #350
So I don't have a smoking gun, but this is beginning to look like a compiler bug.  @junghans can you try again with the following patch:
[code]

[2018-02-06 20:44] junghans commented on #350
@streichler, that still give me the same error:
[code]

[2018-02-07 15:47] junghans commented on #350
@streichler and here is a koji build with that patch applied: https://koji.fedoraproject.org/koji/taskinfo?taskID=24798360
still failing though.

@lightsighter the above build is using a rebuild of gasnet, so `GASNETI_USE_COMPILER_ATOMICOP` issue on s390x is fixed now.

[2018-02-07 21:20] streichler commented on #350
@junghans did the patched version fail for you in that docker image, or just in fedora's automated builds?

[2018-02-07 21:33] junghans commented on #350
@streichler it failed in both.

[2018-02-07 21:35] streichler commented on #350
hmmm...  Can you try adding `-fno-strict-aliasing` to the CXXFLAGS?  I'll try to reproduce this again on my side as well.

[2018-02-07 21:40] junghans commented on #350
Due to `-- Performing Test COMPILER_SUPPORTS_NO_STRICT_ALIASING - Success` this was already the case.

On thing to mention is that Fedora uses:
[code]
Maybe one of these default rpm flags isn't good.

[2018-02-07 22:55] streichler commented on #350
@junghans are you sure the patch is being applied correctly?  I'm able to reproduce the issue using the Dockerfile above, but when I comment out those three lines of code, everything runs correctly.

[2018-02-07 23:40] junghans commented on #350
I rebuild it again at https://koji.fedoraproject.org/koji/taskinfo?taskID=24814678 with an added `cat gcc-8.patch`.

[2018-02-07 23:43] streichler commented on #350
In parallel, can you also try applying the patch in the Dockerfile version?  I'm wondering if there's some non-obvious difference between the automated build and the docker version.

[2018-02-07 23:46] junghans commented on #350
I applied the patch in both:
[code]

[2018-02-07 23:48] streichler commented on #350
Oh, I see the problem...  I missed a few lines when I copy/pasted the patch.  Please add these to the end and try again:
[code]

[2018-02-08 13:56] junghans commented on #350
@streichler: Ok that helped on x86_64 (https://koji.fedoraproject.org/koji/taskinfo?taskID=24824176), but ppc64 is still broken:
[code]

[2018-02-08 20:05] elliottslaughter opened #352 "regent: Fix @ on raw pointers"
The following test fails:

[code]

With the following message:

[code]

[2018-02-09 00:27] elliottslaughter commented on #352
Fixed by b2be8b2b8dbbf5337b7cdd210c1e6bf685a451ba.

[2018-02-09 00:27] #352 closed

[2018-02-10 00:13] elliottslaughter opened #353 "regent: Add type error when passing raw pointer to a task"
Also inspect nested types like structs to make sure no raw pointers are contained inside.

[2018-02-12 23:12] junghans commented on #350
I just exclude the circuit test on ppc64 and s390x for now and added the above patch:
https://src.fedoraproject.org/rpms/legion/c/cc5e48c883da9d883aa1749a4b3b144d2df257b8?branch=master

So legion-18.02.0 has now arrived in f27 and f28:
https://apps.fedoraproject.org/packages/legion

[2018-02-13 03:57] lightsighter commented on #295
@elliottslaughter Given that we tagged this with the Soleil tag, I'm going to guess that the application was Soleil. Do you still want to keep the issue open or can we close it?

[2018-02-13 05:03] elliottslaughter commented on #295
Well there's still the original report from @magnatelee. Unless the issue is confirmed fixed for that app we should still keep it open.

[2018-02-13 21:56] lightsighter commented on #307
Giving this another ping since I found another case today where something was going wrong because someone was giving Legion an invalid ID for a Realm primitive.

[2018-02-13 21:57] magnatelee commented on #295
The original issue with MiniAero seems fixed in the master branch. Closing this issue for now.

[2018-02-13 21:57] #295 closed

[2018-02-13 22:57] manopapad opened #354 "Regent compiler issue with nested references involving intXd"
The following code:

[code]

fails during typechecking with:

[code]

If you change it to use a temporary value, it works:

[code]

[2018-02-17 05:43] chamsolli opened #355 "Question about __demand(__spmd)"
Hi all,

I have a quick question regarding "__demand(__spmd)" in Regent. Attached test code runs fine with parallel run. However, I get wrong result when I run with spmd flag. Did I use wrong flag for __demand(__spmd)? Or should I install legion with special flag?

Thanks,
Jae hwan Choi

------
[spmdTest.rg.gz](https://github.com/StanfordLegion/legion/files/1733452/spmdTest.rg.gz)
./regent.py spmd

[2018-02-17 05:51] elliottslaughter commented on #355
When you say "wrong result", are you talking about the simTime being 0, or something else?

There is a known issue in the SPMD transformation where it doesn't properly update the values of scalars (such as simTime) at the end of the SPMD block. That's why there's a warning being printed:

[code]

In general SPMD should never change the result of your code.

Or is there something else you're talkin

[2018-02-17 06:16] chamsolli commented on #355
I expected that "simTime" should also be 0.1 when I use SPMD transformation. I have one more question now.

Is the value of "simTime" in SPMD block correctly updated while the program runs inside the SPMD block? In turn, is the value returned incorrectly only at the end of the SPMD block? (Indeed, I'm using "simTime" as a condition to terminate SPMD block in my code : break the while loop when "si

[2018-02-17 07:04] elliottslaughter commented on #355
Yes, it's only the update of the value outside the block that is buggy. If you pass simTime into a task inside the block, you will see the correct value.

[2018-02-18 00:40] chamsolli commented on #355
Thanks Elliott. Closing the issue.

[2018-02-18 00:40] #355 closed

[2018-02-19 07:40] lightsighter opened #356 "Bug in Regent Partitioning Routines"
I fixed a bug in Legion Spy that was causing some safety checks not to be performed. In particular one of the checks that was not always being performed is the one that checks that a sub-region in a partition is dominated by the parent region of the partition.  In the master branch I now see this warning being emitted for the list_cross_product.rg test:

hellbender:language mebauer$ ./regent.py te

[2018-02-19 10:28] magnatelee commented on #356
I think the bug was introduced by 99837ec which revived the old shallow partitioning code. Reverting it seems to make the bug disappear. Will close this issue once the revert commit passes CI.

[2018-02-19 18:03] lightsighter commented on #356
@magnatelee So does that mean this existed in the old version of the partitioning code from before dependent partitioning?

[2018-02-19 19:18] magnatelee commented on #356
@lightsighter I'm not sure. If the safety check you recovered didn't exist before the deppart merge, it's possible that this bug had been undiscovered. Otherwise, the bug can be due to the old partitioning code using the deppart API in an inconsistent way. In any case, I feel it's not worth spending time on fixing the old code.

BTW, I just confirmed that we pass all GitLab CI tests as well. Let's

[2018-02-19 19:19] lightsighter commented on #356
Ok, sounds good to me. I'm happy as long as you guys are satisfied with the state of the Regent partitioning code. I'm closing the issue.

[2018-02-19 19:19] #356 closed

[2018-02-21 20:53] manopapad opened #358 "Allow both demand and forbid annotations on Regent tasks"
The following Regent code currently doesn't parse:

[code]

[2018-02-21 23:34] elliottslaughter commented on #290
During the meeting today, we agreed:

  * On the master branch, we will use dependent partitioning (which will continue for the moment to be O(N^2)).
  * For any cases where we need do large runs reproducing old results, we'll local re-enable the shim and use it.
  * If we find cases we need to scale but don't work with the existing, shim, we'll re-evaluate.

[2018-02-23 18:12] elliottslaughter commented on #356
I believe we resolved the need for this by using pending partitions in f4249ffe1ad8a250a49726d85775a824dac46826 in the complete cross product. I don't think we actually need to do anything to fix the shallow product (it'll just be slightly less accurate when the index spaces are very sparse). @magnatelee can confirm.

[2018-02-23 21:54] magnatelee commented on #356
Yes, we resolve the need for using the old complete cross product code with f4249ff. We now support complete cross product of sparse n-dimensional index spaces.

[2018-03-01 23:15] karthikmurthy opened #359 "Non-termination of runtime meta tasks during shutdown in -lg:resilient mode"
Short: Running any c++ example in legion/examples on the master/stable branch with -lg:resilient mode causes non-termination (e.g., ./ghost -ll:cpu 4 -lg:resilient).

Preliminary debugging revealed: GDB attaching to the ghost c++ execution revealed that 224 meta tasks are waiting for the deferred_commit_trigger, cannot be committed, confirm_runtime_shutdown is not successful and hence, the shutdow

[2018-03-05 01:08] hturki opened #360 "Non-contiguous partitions seem to break"
The following code throws a "Assertion failed: (is_id == 0), function operator Rect, file /legion/runtime/legion/legion_domain.inl, line 921" error on both stable and develop:

import "regent"

fspace body {
 sector : int1d,
}

task main()

 -- This works
 var bodies = region(ispace(int1d, 3), body)
 bodies[0].sector = 1
 bodies[1].sector = 1
 bodies[2].sector = 0

 var sector_index = ispace(int1d

[2018-03-05 05:02] lightsighter commented on #360
I can reproduce the issue. It's definitely a compiler bug as the compiler is doing the C API call 'legion_domain_get_rect_1d' on a domain with a non-trivial sparsity map, which it should be checking for before doing the conversion. Assigning @elliottslaughter and @magnatelee to fix it.

[2018-03-05 20:34] pedronahum opened #361 "Quickstart for Ubuntu"
Hi,

It looks like a dependency is missing in the quickstart for Ubuntu. I managed to get it to work after running the following code:

sudo apt-get install libncurses5-dev libncursesw5-dev

[2018-03-05 21:02] streichler commented on #361
@pedronahum Thanks for letting us know.  Do you happen to still have a copy of the error messages you get without libcurses installed?

[2018-03-05 21:18] pedronahum commented on #361
Hi @streichler,

I managed to reproduce the error, please see below. And please let me know if you would like me to run other tests.

[code]

[2018-03-05 23:22] elliottslaughter commented on #361
I'm a little surprised. As far as I know, Terra requires ncurses iff LLVM was built with it. If Ubuntu's copy of LLVM was built with it, I would have expected apt-get to find it as a dependency. However, I suppose it's also possible Terra's auto-detection is malfunctioning somehow.

[2018-03-05 23:28] elliottslaughter commented on #361
Here's the check in Terra's Makefile. Can you please tell us what this returns for you?

https://github.com/zdevito/terra/blob/master/Makefile#L118-L121

Also can you tell us how you installed LLVM? If it came from an Ubuntu package repo, what distribution and version, etc.? I'd like to check if it's supposed to be linked to ncurses or not.

[2018-03-06 07:27] lightsighter commented on #359
I have made some progress on this issue. There are three improvements so far:
- The crash from tutorial 02 should be gone. It actually runs correctly now.
- The hangs that we were seeing were actually hanging earlier than when the top-level task was completing, which was very bad. I've fixed this so that everything should now run all the way to completion including the top-level task, and then we

[2018-03-06 20:18] pedronahum commented on #361
Hi @elliottslaughter ,

I wouldnt be surprised if this a mess created by me :o).

[code]

I did follow the steps, please see below:
[code]

Get current clang version, installed a couple of days ago using:
sudo apt-get install clang libclang-dev llvm-dev llvm

[code]
I did try the compile Terra (link you provided above), and got a very similar error:
[code]

[2018-03-06 22:40] elliottslaughter commented on #361
Can you set `CLANG=clang-3.5` and `LLVM_CONFIG=llvm-config-3.5` in your environment, remove the terra directory, and build again? I'm wondering if Terra's Makefile is getting the versions mixed up.

Can you also show us what `llvm-config-3.5 --prefix` prints?

It occurs to me that `$(LLVM_PREFIX)/lib/libLLVMSupport.a` in the Terra Makefile might point to the wrong `libLLVMSupport.a` if `LLVM_PREFI

[2018-03-07 04:59] pedronahum commented on #361
Hi @elliottslaughter,

Sure, np!

[code]
After making the requested changes:
[code]

[code]

Unfortunately, after making all these changes, I get the same error:
[code]

[2018-03-07 06:47] hturki opened #362 "Realm: Deferred Allocations and Deletions"
import "regent"

task subTask(i : int)
 var test = region(ispace(int1d, 10000000), int)
 test[0] = i
 regentlib.c.printf("%d\n", test[0])
 __delete(test)
end

task main()
 for t=0,100 do
   subTask(t)
 end
end
regentlib.start(main)

Fails with:

[0 - 7fffcc5663c0] {4}{threads}: reservation ('DMA request queue') cannot be satisfied
0
1
2
3
4
5
6
7
8
9
10
11
12
[0 - 700005324000] {5}{default_mapper}

[2018-03-07 20:34] elliottslaughter commented on #361
At this point, I probably just need to try this out myself. This might take several days; I'm out of the town at the moment.

[2018-03-07 22:42] lightsighter commented on #362
@elliottslaughter or @magnatelee does deletion actually tell the runtime to delete the logical region right now or are has that functionality not been implemented yet?

@hturki Which commit of master are you on? I made a change to some of the garbage collection code for physical instances earlier this week which might help this code. It will only help though if Regent is actually deleting the logi

[2018-03-08 00:47] hturki commented on #362
Hey @lightsighter - I'm on https://github.com/StanfordLegion/legion/commit/6db26c5d95a64625bdb4ce546c043b9feadb8365 (although the latest of stable aka https://github.com/StanfordLegion/legion/commit/57d01885ce18c54b9c8f798d3c4184ae56b794d3 also seems to exhibit the same issue)

[2018-03-08 04:58] pedronahum commented on #361
No worries, as mentioned above, installing the libraries via apt-get seem to address the issue as the examples work.

[2018-03-08 05:49] elliottslaughter commented on #362
I'm pretty sure `__delete` is working as intended, from Regent's perspective. The problem is that the processing of a deletion occurs in a deferred way, and if you map too far ahead, the mapper will receive an allocation failure from which it can't recover. (You can't defer the execution of a task from inside of `map_task`, so there isn't any reasonable way for the mapper to deal with this situati

[2018-03-08 05:53] lightsighter commented on #362
No there is another way, which is Realm needs to support deferred allocations that are aware of deferred instance deletions. @streichler can say when this will be available.

[2018-03-13 05:39] elliottslaughter opened #365 "Regent -fskip-empty-tasks optimization can cause parent to block"
This is an unintended side effect of the `-fskip-empty-tasks` optimization in Regent. If the region arguments of the optimized task reference a region whose index space is data-dependent (e.g. because it was generated from a dependent partitioning operation), the code generated by this optimization will cause the execution of the parent task to block. This is undesirable and in some cases can outw

[2018-03-13 06:48] lightsighter commented on #365
I am strongly in favor of option 1 since I would like to avoid adding additional functionality to the runtime when we already have something in the interface (e.g. predicated tasks) that are capable of handling this case.

To this end however, I can imagine the providing additional library functionality above the C API that the compiler targets for making it easier to implement this. Maybe somethi

[2018-03-13 23:05] manopapad opened #366 "Distinguish tasks & variants in Legion Prof"
When I run the following Regent code:

[code]

on sapling's n0000 with `-fcuda 1 -lg:registration`, here's what I see:

[code]

I would expect to see something like:
Task variant **foo_VARIANT1** of task **foo** (ID 10000) has Realm ID 8
Task variant **foo_VARIANT2** of task foo (ID 10000) has Realm ID 9
Task variant **foo_VARIANT3** of task foo (ID 10000) has Realm ID 10

I.e. the variants are no

[2018-03-14 01:54] hturki opened #367 "-fskip-empty-tasks 0 breaks simulation"
Repro: Run https://github.com/hturki/barnes-hut/blob/37e410541cc6e5815505978063d25253501a9075/barnes_hut.rg with "-i <path/to> bodies-32768.csv -fskip-empty-tasks 0"
[bodies-32768.csv.zip](https://github.com/StanfordLegion/legion/files/1809309/bodies-32768.csv.zip)

Without the "-fskip-empty-tasks 0" task things run fine. With it, you get:

terra: /home/users/hturki/legion/runtime/realm/deppart/pa

[2018-03-14 02:08] lightsighter commented on #367
@streichler This is unimplemented functionality for a call to create_equal_subspaces with an index space that contains a sparsity map.

[2018-03-14 06:52] lightsighter commented on #366
@manopapad Why do you want the names to be different? It should be perfectly fine for the compiler to give the variants the same name as the original task. If you want to know what the variant can be used for in the mapper that is what the execution constraints are for (which Regent is annotating). Keying off the variant names just seems like a brittle idea.

I'm going to mark this an enhancement

[2018-03-14 18:37] elliottslaughter commented on #366
I'm guessing the issue is distinguishing the variants in Legion Prof output. @manopapad can correct me if there's a different use case in mind.

[2018-03-14 18:50] manopapad commented on #366
Correct, I'm only suggesting this change to improve debugability.

The -lg:registration issue happens deterministically; the first time a task name is mentioned in the -lg:registration output, it's listed as "unnamed_task_TASKID".

[2018-03-14 21:02] lightsighter commented on #366
I fixed the -lg:registration issue in the master branch. We should see the correct task IDs from now on.

I guess it would be nice to distinguish variants in Legion Prof. I'll leave this as an open issue but marked as an enhancement.

[2018-03-19 06:15] lightsighter commented on #215
I realized today that we've actually made some progress on this bug in the nopaint branch. We actually have the information to deduplicate the reductions from the same reduction instance to a specific target instance. The case that we have yet to handle however, is knowing the difference between the case where we did a write to update the instance first (potentially overwriting previous reductions

[2018-03-19 23:06] chamsolli opened #368 "Question about error 356"
Hi,

I'm trying to mimic routines in "~/legion/language/examples/circuit/circuit_dep_par2.rg" for my application. However, I wasn't able to find a solution for resolving "error 356" in my code. Would someone briefly look the code (about 70 lines) and advice me what I'm missing?

[test.rg.gz](https://github.com/StanfordLegion/legion/files/1827265/test.rg.gz)
The problem has 10 "Elem" elements and 9

[2018-03-20 06:14] lightsighter commented on #368
I think this is a combination of a compiler bug and user error. You shouldn't need to specify read-only privileges on 'qShared.sum' and 'qGhost.sum' in the 'residualSurfaceCross' task if you are only going to be doing reductions to those fields. By adding those fields the compiler is promoting your privileges to 'read-write' since that is the privilege that supports both 'read-only' and 'reduction

[2018-03-20 23:53] manopapad opened #369 "Memory corruption when running with non-thread-safe libhdf"
Currently, for applications that use HDF, the user code needs to enter libhdf to set up datasets, create files etc. The DMA processor also needs to enter libhdf, to actually perform the I/O. This means it's possible for a CPU processor and a DMA processor to be in libhdf at the same time. By default, libhdf is not thread-safe, so this situation can result in memory corruption. One way to work arou

[2018-03-21 04:37] elliottslaughter commented on #368
As a short-term workaround for the issue, you can follow @lightsighter's advice and then run with `-fflow 0` to get around the assert in the compiler. There is a known bug when using RW privileges on statically aliased regions, but I didn't think it would occur with reductions. I'll have to take a look, and many of these RDIR bugs can be quite pernicious.

[2018-03-23 05:13] lightsighter commented on #369
It looks like someone started to add code to Realm's HDF5 module to check to see if it supported thread safety or not and then do the right thing if it was not thread-safe, but it doesn't look like the results of this check are used anywhere:
https://github.com/StanfordLegion/legion/blob/master/runtime/realm/hdf5/hdf5_module.cc#L90-L102
@streichler @jiazhihao Can you say what Realm should do with

[2018-03-23 05:27] streichler commented on #369
That detection code was added so that we could decide whether it was ok for the dma system to do HDF5 transfers on multiple internal dma threads at a time.  The new issue here is interactions between the dma system and application code, and it's not clear that there'll be a pretty answer to it.

[2018-04-03 01:23] lightsighter opened #372 "Realm GPU FB -> FB Reductions Segfault"
I'm getting a segfault in a Realm DMA thread when requesting a FB-to-FB reduction.

#0  0x00000000024496f6 in Realm::ReductionOp<SumReduction<double> >::apply (this=0x509e570,
    lhs_ptr=0x50563b600, rhs_ptr=0x50563aca0, count=100, exclusive=false)
    at /home/mbauer/legion/runtime/realm/redop.h:121
#1  0x0000000002ebdc02 in Realm::ReduceRequest::perform_dma (this=0x7fffdc24c470)
    at /home/mb

[2018-04-06 00:56] manopapad opened #373 "HDF code overriding input file (opened in read-only mode)"
This came up while I was trying to get restart files working in Soleil-X. I simplified the main soleil code (`soleil.rg`) as much as possible. The HDF dump & load tasks are metaprogrammed, the code that generates them is in `hdf_helper.rg`.

To reproduce: Download & unzip [hdf_ro_bug.tar.gz](https://github.com/StanfordLegion/legion/files/1882285/hdf_ro_bug.tar.gz), run `make`, then run `./soleil.s

[2018-04-07 01:49] lightsighter opened #374 "GPU/DMA Realm + Legion Prof Enhancements"
We need to update Realm's profiling interface and Legion Prof in order to handle "effects" for various Realm operations, such as GPU tasks where kernels are launched off, and DMA operations where there might be several copies required as part of a multi-hop copy operation. We want the profiler to see all these separately so it can more accurately visualize what is actually going on in the machine.

[2018-04-09 18:38] lightsighter opened #375 "Realm Backtraces Need Line Numbers"
Currently Realm backtraces don't report line numbers. We can fix this either using a gdb script or by using addr2line. Not sure about support for Mac OSX.

[2018-04-09 21:11] sierrakn commented on #338
The last two issues are done.

[2018-04-10 06:41] lightsighter commented on #338
Thanks @sierrakn! Do you mind pointing me at the code so I can take a look? I want to make sure that the projection functors are going to play nicely with dynamic control replication.

[2018-04-10 21:09] manopapad commented on #338
[main DOM code](https://github.com/stanfordhpccenter/soleil-x/blob/master/src/dom.rg)
[standalone DOM harness](https://github.com/stanfordhpccenter/soleil-x/blob/master/src/dom_host.rg)
My understanding is that we don't currently use any non-identity projection functors, and we're not planning to change that, at least not until after the May PSAAP review (Todd's work is not integrated into Legion

[2018-04-10 22:44] magnatelee commented on #338
@manopapad The code you attached does have non-identity projection functors, not just for sweeps, but also for boundary conditions. Also, if we want to use dynamic control replication for DOM, we need to use index space launches for tasks. Dynamic tracing with individual task launches can be an option when we won't be able to use dynamic control replication for DOM, but it still needs some extensi

[2018-04-10 22:59] eddy16112 opened #376 "Illegal Realm Internal Wait on Event in an Active Message Handler"
Here is the stack, I get this issue when running flecsi dependent partition branch.
#0  0x00007ffff484c1f7 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff484d8e8 in __GI_abort () at abort.c:90
#2  0x00007ffff4845266 in __assert_fail_base (fmt=0x7ffff4997e68 "%s%s%s:%u: %s%sAssertion `%s' failed.\n%n", assertion=assertion@entry=0x7ffff6547b4e "thread->s

[2018-04-10 23:00] eddy16112 commented on #376
It is using Legion master branch

[2018-04-10 23:02] eddy16112 commented on #376
To reproduce the problem without installing the entire FLECSI, please ping me in slack and I will send you the pwd to the machine I am using

[2018-04-11 00:02] manopapad opened #377 "OpenMP codegen + bounds-checks = compiler error"
When I run the following Regent source:

[code]

with:

[code]

I get:

[code]

[2018-04-11 00:43] streichler commented on #376
I'll take a look.  I fixed another bug right in this area recently, so I may be able to find it by code inspection.  If not, I'll ask for the login info.

[2018-04-11 02:15] eddy16112 commented on #376
Thanks for letting me know. I just saw the fix for the events in active messages. The built-in Legion of FleCSI does not update to that commit. I just updated the Legion and issue is gone now. I will leave the issue open for a week, and keep you updated if it happens again,

[2018-04-12 06:07] lightsighter opened #378 "Realm Must Use cuMemset for Filling GPU FB Memories"
This is a very bad performance bug. Realm fill operations need to use cuMemsetAsync in order to fill GPU FB memories. I've put in a temporary hack that uses the synchronous version of cuMemset for fills for now in some limited but common circumstances (commit 462303f95 should be rolled back after all this is fixed). However, it looks like fills in general need a major overhaul so I've avoided maki

[2018-04-12 06:08] lightsighter commented on #378
Here is the commit in gitlab: https://gitlab.com/StanfordLegion/legion/commit/462303f953d19b5d1ecd9b7c429e255ec2785807

[2018-04-15 03:00] lightsighter opened #379 "Realm DMA System Need to Recognize Alternative Dimension Orders for Copies/Fills"
The Realm DMA system does not iterate copies and fills for the correct dimension order when it is not the assumed Fortran dimension order. This results in very large slow-downs for copies and fills.

[2018-04-16 20:30] eddy16112 commented on #376
@streichler I did not see this issue any more. I will close it. Thanks!

[2018-04-16 20:31] #376 closed

[2018-04-19 18:55] elliottslaughter opened #380 "Affine Constraints and Loop Optimizations"
I have a philosophical question about the nature of constraints that I came up on while adding support for affine analysis to Regent.

In particular, what I added was the ability for Regent to determine that `p[i]` and `p[i+1]` are disjoint in the code below (assuming `p` is disjoint):

[code]

The straightforward way to do this is to just add a constraint that `p[i] * p[i+1]`. This is powerful be

[2018-04-19 19:19] lightsighter commented on #380
First off, I thought Regent currently isn't doing any static checking of non-interference for regions in a task launch, at least that was my assumption when I created issue #195. If we're not doing that at all right now, I feel like we can continue just ignoring interference of region requirements and let the runtime deal with that, and only worry about checking for dependences between loop iterat

[2018-04-19 19:34] karthikmurthy commented on #380
I actually think that the scope controls the free-variable/parameter definition. At the scope of your t-loop, i.e., when you are reasoning about the index-launch of t-loop, the assumption that d is a free-variable is not true, it is in scope but it is now a parameter to the solver. In this case, the reasoning will be solely based on  values that t can take and hence, will the iterations independen

[2018-04-19 19:56] elliottslaughter commented on #380
#195 is for single task launches. We have always had non-interference checks for index launches. This is a feature; for individual task launches we want to be permissive, but for index launches we only want to do the optimization if we can guarantee that it'll work.

I think we need ordering constraints on the loops to make the loop @lightsighter suggested work. The way I'd write it is:

[code]

I

[2018-04-19 19:57] elliottslaughter commented on #380
Sorry, I got that loop wrong. Should have been:

[code]

[2018-04-19 21:01] magnatelee commented on #380
I agree with @karthikmurthy that variable `d` should be considered as a fixed variable in the innermost loop and the constraint should not escape that scope. I guess the issue is that the Regent compiler has been dealing with constraints in flow-insensitive, scope-insensitive manner, and now it needs to be made sensitive at least to scopes, which I think isn't too hard.

BTW, I want to point out t

[2018-04-20 00:48] manopapad commented on #338
@elliottslaughter extended the capabilities of Regent's loop optimizer, which allowed us to [launch the sweep tasks in DOM using index-space launches](https://github.com/stanfordhpccenter/soleil-x/blob/wip/dom-index-space-launches/src/dom.rg#L2586-L2596). The [boundary-setting tasks are still launched sequentially](https://github.com/stanfordhpccenter/soleil-x/blob/wip/dom-index-space-launches/src

[2018-04-20 04:59] alexaiken commented on #380
I've only read Elliott's original post, so maybe this has already been addressed in subsequent comments --- apologies if these comments are redundant.

Cut and paste of the nested loop example:

for d in diagonals do
    for t in tiles do
        some_task(p[d][t], p[d+1][t])
    end
end

I think there are two separate issues.  The first is that quantifiers can be used to make the scopes and the k

[2018-04-20 18:03] elliottslaughter commented on #380
The soundness hole should be fixed in 6d0f056023dd319f2fc2ca33ba606aecc7be9886. Thanks everyone for your input.

[2018-04-20 18:03] #380 closed

[2018-04-20 23:09] manopapad opened #381 "Filling then HDF-dumping triggers an assertion failure in Realm"
Download [minus_one_is_bad.tar.gz](https://github.com/StanfordLegion/legion/files/1933883/minus_one_is_bad.tar.gz), unzip and run `./test.sh` on a machine with an HDF installation (you need to `export HDF_ROOT` appropriately). You should see this output:

[code]

The output contents are also wrong (they are zeros instead of the fill value of -1).

If you change the fill value to a positive number

[2018-04-21 07:48] lightsighter commented on #381
Alright, there are two bugs running around here: one is a Realm bug as evidenced by the assertion above (assigning @streichler and @jiazhihao) and the other is a compiler bug. In some cases (somehow depend on fill value) the compiler is re-ordering the fill around the dump tasks which is unsound (you can see this in Legion Spy outputs from the runtime). If you run with -fflow 0 then the correct or

[2018-04-23 17:07] jiazhihao commented on #373
I encountered the following assertion failure in Regent when I try to reproduce the bug.

/home/users/zhihao/legion/runtime/../language/regent.py -g soleil.rg -fflow 0 -fopenmp 0 -fcuda 0
/home/users/zhihao/legion/language/src/regent/codegen.t:9049: attempt to call method 'setoptimized' (a nil value)
stack traceback:
	/home/users/zhihao/legion/language/src/regent/codegen.t:9049: in function 'thunk

[2018-04-23 20:05] manopapad commented on #373
Try removing the `__forbid(__optimize)` annotation from task `work` in `soleil.rg`, or install Terra from https://github.com/StanfordLegion/terra.

BTW, based on the discussion from bug #381, I tried compiling the same code with -finner 0, and that fixes the bug, so both of these issues might be caused by a bug in Regent's inner-loop optimization pass.

[2018-04-23 20:09] manopapad commented on #381
Regarding the compiler bug, it might be an issue with the inner-task optimization pass; running with -finner 0 fixes the bug, and that is also sufficient to fix #373.

[2018-04-23 20:42] manopapad commented on #381
BTW, on my machine -fflow 0 isn't fixing the bug.

[2018-04-23 20:49] elliottslaughter commented on #381
Ok, I think there are at least three bugs: `-fflow 1` definitely does reorder the execution, so that's wrong. But if it's still failing with `-fflow 0` then that points to a bug elsewhere....

[2018-04-23 21:47] chamsolli commented on #368
Thank you @lightsighter and @elliottslaughter. I followed your advice and additionally changed field type of "sum" to int64(not uint64). Then it worked fine. Closing the issue.

[2018-04-23 21:47] #368 closed

[2018-04-23 22:15] elliottslaughter commented on #381
I think the `-fflow 1` piece of this bug is related to the Regent inliner. Specifically, in the following scenario, the inliner isn't correctly adding the necessary constraints:

[code]

And the body of `some_task` includes:

[code]

If this code had been manually inlined by the user into the parent task, the Regent type checker would have added the constraints `p[c] <= p <= r`, which the RDIR opt

[2018-04-23 22:16] elliottslaughter commented on #381
Here is a reproducer for the RDIR/inliner-specific issue which does not depend on HDF5.

[inliner_reproducer.rg.gz](https://github.com/StanfordLegion/legion/files/1940218/inliner_reproducer.rg.gz)

[2018-04-23 22:34] streichler commented on #381
Commit 42e169c1 should provide the necessary support in Realm for doing fills to HDF5 instances.

[2018-04-23 22:36] streichler commented on #378
Commit 9fd6772a switched this path to use cuMemset*Async calls.  @lightsighter , is the performance of these fills what you expect now?

[2018-04-24 08:45] lightsighter commented on #378
Good enough for now. Closing the issue.

[2018-04-24 08:45] #378 closed

[2018-04-24 20:58] manopapad opened #382 "OpenMP codegen + nested loops = compiler error"
When I compile the file in [openmp_nested_loop.rg.tar.gz](https://github.com/StanfordLegion/legion/files/1944582/openmp_nested_loop.rg.tar.gz) with `regent.py openmp_nested_loop.rg -fopenmp 1` I get:

[code]

[2018-04-25 21:17] elliottslaughter commented on #296
@magnatelee This has been fixed, right?

[2018-04-25 21:29] magnatelee commented on #296
@elliottslaughter I think so.

[2018-04-25 21:30] #296 closed

[2018-04-25 22:09] elliottslaughter commented on #330
Finished updating tutorial 5.

[2018-04-25 23:04] elliottslaughter commented on #330
Updated tutorial 6.

[2018-04-25 23:38] elliottslaughter commented on #317
Spent a little more time looking at this today. I think this got broken when we moved to deppart and `int*d` types got turned into a indivisible field (previously they had been separate fields). The basic problem is that from the expression `v.cell` is returning the basic unit of the field, from the perspective of the field accessor. If you want to do `v.cell.x` (especially as an l-value) you then

[2018-04-26 07:30] magnatelee commented on #381
Commit 8b9289fb should fix the issue in the task inliner.

[2018-04-27 16:32] elliottslaughter commented on #381
@magnatelee Please make sure all of these reproducers get added to the test suite before closing out the issue.

[2018-04-28 23:40] manopapad opened #383 "Missing region requirement error on Summit when using HDF"
To reproduce:
* log in to Summit
* get an HDF installation
* `export HDF_ROOT`
* `export LEGION_DIR`
* download & unzip [missing_region_req.tar.gz](https://github.com/StanfordLegion/legion/files/1958277/missing_region_req.tar.gz)
* adjust the group name in `bug.lsf` for your allocation
* adjust the name of the scratch directory in `bug.lsf`
* run:
[code]

You should see something like this:

[code

[2018-04-29 00:40] streichler commented on #383
@manopapad are you using the HDF libraries from the module system, or did you build you own?

[2018-04-29 00:41] manopapad commented on #383
I built my own. With `USE_HDF=1`, the `setup_env.py` script will download and build HDF in thread-safe mode.

[2018-04-29 05:10] lightsighter commented on #383
Is it possible to get a backtrace for the segfaults? They might be instructive.

It's very strange that it happens on summit but doesn't reproduce on sapling. This is the kind of thing that should be deterministic. Can you confirm that you are on the same commit for the master branch on both summit and sapling?

[2018-04-29 20:28] manopapad commented on #383
Worth noting that, on a debug build of Legion, the case with `__forbid(__optimize)` and `__demand(__inline)` both active produces a different error message than my original message:

[code]

[2018-04-29 21:09] lightsighter commented on #383
@manopapad Can you get a backtrace for that most recent error with the debug version of Legion? It might be related to the first backtrace where Legion is saying it can't find privileges.

As for the other two backtraces, they look like something went wrong in Terra/LuaJIT which I can imagine is being caused by a bug somewhere in the PowerPC port.

[2018-04-29 21:13] manopapad commented on #383
Copying from hdf_bug.txt, for the case of debug-mode Legion, __forbid(__optimize) and __demand(__inline) both active:

[code]

[2018-04-29 21:26] manopapad commented on #383
This is the only task-launching loop in the program (hdf_helper.rg:252):
[code]
Task `dumpTile` does an attach, but `p_r` and `p_s` are disjoint partitions, and `r`, `s` are different regions. Also, `colors` in this case is a 1x1x1 index space, so there should only be one task launched.

[2018-04-29 22:47] lightsighter commented on #383
What happens if you run with -fflow 0?

[2018-04-29 22:54] manopapad commented on #383
I am already running with `-fflow 0`. Copying from the Makefile:
[code]

[2018-04-30 00:05] lightsighter commented on #383
@manopapad can you add `--spy` to your install directory and then generate a Legion Spy trace with `--level legion_spy=2 -logfile log_%.spy`?

[2018-04-30 02:35] lightsighter commented on #383
So here is another clue from the error message: `does not have a region requirement for region (0,4,4)` which is not a valid logical region name because it has a `0` index space. So somehow we are getting a `0` index space being passed in as the index space for a logical region for the attach operation in the dump task. Still not sure how it is happening.

[2018-04-30 19:12] manopapad commented on #383
The emitted terra code is also the same on both machines (modulo renumbering of some anonymous variables): [summit.txt](https://github.com/StanfordLegion/legion/files/1961869/summit.txt), [sapling.txt](https://github.com/StanfordLegion/legion/files/1961870/sapling.txt)

[2018-04-30 20:08] manopapad commented on #383
The attach isn't actually necessary to trigger this, the following code fails:

[code]
with a similar error message:

[code]

[2018-05-01 06:33] manopapad commented on #383
The problem seems to be that between the two calls to `printf` in `dumpTile`, the index space id has changed from a valid number to 0:

[code]

The only thing happening between these two `printf`s is a call to `tileFilename`, which shouldn't touch `s`, so maybe calling that function causes some memory corruption (e.g. related to the way that array-type arguments/return values are handled in PPC).

[2018-05-01 07:29] manopapad opened #384 "Strings as a native datatype in Regent (or: rawstring considered harmful)"
Right now the Regent type `rawstring` is simply a char pointer. This allows for easy interoperability with the C stdlib string functions, but having `rawstring` as an official Regent type might give the false impression that it's safe to pass to tasks (which will work, until the pointer happens to end up on a different address space). To properly pass a string value to a task, you actually need to

[2018-05-01 09:03] lightsighter commented on #383
I'm pretty confident now that this is a bug in Terra's PowerPC backend where it does something that is not consistent with the ABI and we end up corrupting data that is on the stack. @elliottslaughter what is the best way for us to confirm this?

[2018-05-01 21:03] manopapad commented on #383
@elliottslaughter Returning a pointer from the terra function is not going to work in all cases for Soleil. For example, I need to pass a string value containing the name of the hdf dump directory from the master task to children tasks, which will run on other address spaces. Therefore I need to print the string to an array, and the only way to do that is to return the array from the terra functio

[2018-05-01 23:00] manopapad commented on #383
I tried only returning pointers to arrays in the HDF code of Soleil-X, but I'm still getting the same error, so maybe the alleged Terra bug also affects array-type arguments, not just return values. I will try making a smaller reproducer later.

[2018-05-01 23:51] elliottslaughter commented on #384
@manopapad Can you please pull master and try out the new `regentlib.string` type? You can cast to and from `rawstring`, but it should serialize properly across nodes.

[2018-05-02 01:02] manopapad commented on #384
`regentlib.string` worked like a charm for the HDF code in Soleil, and allowed me to side-step the Terra bug causing #383.

[2018-05-02 01:05] manopapad commented on #383
The new `regentlib.string` datatype (see #384) allowed me to side-step the Terra bug, and use HDF successfully on Summit. We might want to leave this issue open, to tackle the Terra bug independently, or transfer it to the Terra PPC branch repo.

[2018-05-02 04:00] magnatelee opened #385 "RDIR can incorrectly remove calls to a task that has no return value"
The call to task `f` in the following program disappears with `-fflow 1`:

[code]

Here is the output from pretty-printer:

[code]

I think most of Regent programmers would not write this kind of assignments, but I believe this program should have been either rejected by the type checker or compiled correctly.

[2018-05-02 04:34] elliottslaughter commented on #383
If it's easy for you to construct a reproducer that doesn't rely on Regent or HDF5, that would be good. But I'm not sure it's reasonable to expect this to be a quick fix; calling conventions are something that LLVM leaves up to the application, which means Terra will need to be modified for every architecture we want to run on (at least for these sorts of corner cases, passing and returning aggreg

[2018-05-02 04:35] elliottslaughter commented on #384
After you've confirmed this works for your use cases, please close the bug. Thanks.

[2018-05-02 06:14] lightsighter commented on #318
Generate dataflow graphs without open/advance/close operations for users that don't care about Legion internals.

[2018-05-02 18:24] lightsighter opened #386 "Realm DMA System Needs to Support Arbitrary Sized Fills to GPU Framebuffer Memory"
Issuing arbitrary 64-bit fills to instances in a GPU framebuffer will cause the Realm DMA system to assert. The exception is for values with the first four bytes being identical to the last four bytes (e.g. 0.0).

[2018-05-03 23:49] elliottslaughter commented on #330
Updated tutorial 7.

[2018-05-04 03:05] magnatelee commented on #381
@elliottslaughter @manopapad @jpietarilagraham I believe commits b07b0cb9 and a0fdd021 fix all issues in the task inliner. @manopapad can we close this issue now?

[2018-05-08 00:25] lightsighter opened #389 "Regent Needs Completeness Types on Partitions"
Users need to be able to specify in Regent whether the partitions they are making are complete or not at compile time. Passing this information through to the runtime will greatly reduce the overhead of runtime program analysis for applications with complicated partitioning trees.

[2018-05-11 20:21] lightsighter opened #390 "Realm Support for GPU UVM Memory"
Add support for a UVM memory for GPUs.

[2018-05-14 23:48] elliottslaughter commented on #330
Updated tutorial 8.

[2018-05-16 04:28] manopapad commented on #373
It looks like the fixes for bug #381 were sufficient to make this bug disappear as well.

[2018-05-16 17:11] elliottslaughter commented on #385
Should be fixed in master.

[2018-05-16 17:11] #385 closed

[2018-05-16 21:30] elliottslaughter commented on #358
This was added in a0e103837b3c2a97bb667ce76c610e25cd9eb9a6.

[2018-05-16 21:30] #358 closed

[2018-05-18 01:56] manopapad opened #392 "Regent implicitly downcasts floats to ints in task arguments"
The following code snippet prints `2`. It should be giving a type error.

[code]

[2018-05-18 17:03] elliottslaughter commented on #392
Does a similar program in Terra produce a different result? Regent should be following the Terra cast rules here.

[2018-05-18 17:08] manopapad commented on #392
It produces the same result! The equivalent code is:

[code]

So this is a terra bug then. Moving this report to the terra bug tracker.

[2018-05-18 17:08] #392 closed

[2018-05-22 22:47] jiazhihao opened #393 "Assertion failure in tutorial/08_multiple_partitions"
You should be able to observe the following assertion failure if you run tutorial/08_multiple_partitions.
The template parameter DIM = 1, while the actual dim = 0.

zhihao@n0000:~/legion/tutorial/08_multiple_partitions$ ./multiple_partitions
Running stencil computation for 1024 elements...
Partitioning data into 4 sub-regions...
multiple_partitions: /home/zhihao/legion/runtime/legion/legion_domain

[2018-05-23 01:36] manopapad opened #394 "Invalid color space error when doing equal partitioning"
When I run this Regent code:

[code]

I get the following error:

[code]

Edit: removed an irrelevant line

[2018-05-23 04:03] lightsighter commented on #393
Which branch are you in? I don't see this assertion at all and this test is run in the CI, so if the CI isn't failing then as far as I'm concerned this test is working fine.

[2018-05-23 04:40] jiazhihao commented on #393
Close this issue since the failure is not reproduced. An interesting thing is that I was able to deterministically trigger the assertion failure this afternoon. Will reopen the issue if I can get a reproducer.

[2018-05-23 04:40] #393 closed

[2018-05-23 04:41] lightsighter commented on #393
Make sure you are on the right commit too. I am on d2102e3 which should be the most recent commit to master.

[2018-05-23 04:41] lightsighter commented on #393
It might also be interested to see a backtrace.

[2018-05-23 08:38] lightsighter commented on #394
So the strange thing that I see when I run this example is the compiler is generating a call to 'legion_index_partition_create_blockify_3d' and when it does the blockify object looks like this:
[code]
So the color space is only going to be (3x1x1) instead of (4x1x1). If the compiler wants to guarantee that the color space is the same as the one the user specified then it should use create_partitio

[2018-05-23 17:14] elliottslaughter commented on #394
@lightsighter Does equal partition not do what we want now? I remember we set it up this way because before deppart blockify was the only reasonable way to get the kinds of shapes we wanted in the multi-dimensional case. But if equal actually works now we should just do that.

[2018-05-23 21:34] manopapad opened #395 "Inliner + printf = bugs"
[code]

[2018-05-25 03:35] lightsighter commented on #394
It looks like Realm has implemented create_equal_partition for an arbitrary number of dimensions now but my guess is that it doesn't do what you want yet:

https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/deppart/partitions.cc#L131-145

I think the right thing to do here is for the compiler to start calling create_partition_by_restriction so that it can align the color space with

[2018-05-25 21:15] elliottslaughter commented on #318
Draw different kinds of dependencies (RAW, WAR, WAW) differently (e.g. solid/dotted, or different colors). This would make it immediately obvious when there is serialization in the task graph resulting from WAR/WAW dependencies that are not being dealt with in the mapper.

[2018-05-26 00:02] jiazhihao opened #396 "Legion Error: Illegal implicit mapping of a virtual mapped region in task init_task"
I encountered the following Legion error, which seems to be a potential bug in the default mapper. The error can be reproduced as follows on n0001 (with cuda/8.0).
1. cd /home/zhihao/legion/apps/Lux/pagerank/
2. make
3. ./pagerank -ng 1 -ni 1 -file /home/zhihao/hollywood.lux -ll:gpu 1 -ll:fsize 2000 -ll:zsize 2000

[0 - 7fda5159d700] {3}{pagerank}: PageRank settings: numPartitions(1) numIter(1)fil

[2018-05-30 06:37] lightsighter commented on #396
@jiazhihao This is an application bug and not a default mapper bug. It means you are trying to create an accessor for a virtual mapped region. The default mapper choose to virtual map the region (probably because you marked the task inner), but then you tried to make an accessor for it which is not legal. Usually the runtime will try to remap it for you if you originally mapped the region to an ac

[2018-05-30 07:50] jiazhihao commented on #396
@lightsighter I was able to figure out the problem: the default mapper uses `RegionRequirement::tag` to store particular mapping decisions: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/mappers/default_mapper.cc#L1614

While the application also uses `tag` to carry mapping decisions, which conflicts with the default mapper. Can I assume that `RegionRequirement::tag` is set by applic

[2018-05-30 08:03] lightsighter commented on #396
It is safe to assume that the runtime will not modify mapping tags. The runtime will always pass through mapping tags as-is without any changes.

However, the default mapper will always try to interpret mapping tags that it sees using its enum for mapper tags. It's up to the application to make sure it's mapping tags don't interfere with default mapper's if it also wants to pass through mapping ta

[2018-05-30 08:10] jiazhihao commented on #396
Looks good to me. I will then fix the mapping tags on the application side.

[2018-05-30 08:10] #396 closed

[2018-05-31 21:21] lightsighter opened #397 "Degenerate Scenario for Infinitely Nested Composite Views"
Even after the nopaint branch merges into master there is still a scenario in which we can end up with a chain of infinitely nested composite views for an application. Consider the following program:

r = newregion()
fill(r)
while (true):
     index space task reduce r
     index space task read r

This will lead to an infinitely nested chain of reduction composite views. The problem occurs becaus

[2018-06-01 07:40] lightsighter commented on #292
I'm permanently disabling the use of the operation table in Legate until this is fixed.

I'm wondering if we shouldn't just do this for all of Realm until this is fixed.

[2018-06-01 17:08] junghans opened #398 "All tests fail in legion-18.05.0 with "invalid processor handle" on x86_64 on Fedora29"
All tests fail on x86_64 (and ppc64le):
[code]
with:
[code]
([Details](https://github.com/StanfordLegion/legion/files/2063550/build.log.txt))

Surprisingly the same tests pass on i686, ppc64 and s390x!

(https://bugzilla.redhat.com/show_bug.cgi?id=1585174)

[2018-06-01 17:30] streichler commented on #398
That's odd.  Do you have a docker container that reproduces this?  If not, I'll see about spinning up a VM.

Also, can you confirm whether ppc64le is broken (as the top of the post says) or passing (as the bottom says)?

[2018-06-01 18:34] junghans commented on #398
Sorry typo, x86_64, ppc64le and aarch64 is broken: https://koji.fedoraproject.org/koji/taskinfo?taskID=27351208

[2018-06-01 20:46] junghans commented on #398
Something like:
[code]

[2018-06-01 23:48] streichler commented on #398
@junghans can you try applying the patch we discussed in #350?  It doesn't look like I ever committed that to the actual repo...  :(

[2018-06-02 13:32] junghans commented on #398
The patch was actually in [there](https://src.fedoraproject.org/rpms/legion/blob/master/f/gcc-8.patch), I just dropped it assuming you had merged it, it seems to work now.

[2018-06-02 15:52] junghans commented on #398
Hmm as in #350, the `circuit` test still fails on ppc64 and s390x plus aarch64:
[code]

[2018-06-02 17:46] lightsighter commented on #398
@junghans Can you get a backtrace for the circuit failure?

[2018-06-02 20:18] junghans commented on #398
Not easily!

[2018-06-03 17:56] junghans commented on #398
@nmorey can you confirm the same on OpenSuse?

[2018-06-04 09:27] magnatelee commented on #395
This should be fix by commit e83246a1. @manopapad can close this issue if he confirms this is fixed.

[2018-06-04 09:39] nmorey commented on #398
@junghans It works for Tumbleweed as it is still using gcc 7.
You can monitor the status of the latest master here: https://build.opensuse.org/package/show/science:HPC:Head/legion

This is auto updated regularly to check this kind of error. (It is NOT to be used apart from testing purposes)

[2018-06-04 12:12] junghans commented on #398
@nmorey could you test this in `devel:gcc` with gcc-8?

[2018-06-04 16:29] streichler opened #400 "Use `abort(0)` instead of `assert(false)` for fatal errors"
This prevents `-DNDEBUG` from causing fatal errors to fall through.  Changes need in both Legion and Realm, but the Legion changes are waiting for a merge to happen first.

[2018-06-04 16:52] manopapad commented on #395
Issue is fixed.

[2018-06-04 17:35] manopapad commented on #395
There is a different issue after this commit, which shows up when I try to use my HDF helper library. For example, when I try running the reproducer from issue #381, I get the following error:

[code]

[2018-06-04 18:57] streichler commented on #398
@junghans can you build and run with `REALM_BACKTRACE=1` in the environment?  I can't reproduce the circuit failure in my docker container.

[2018-06-04 19:33] magnatelee commented on #395
I believe this is fixed in commit 058486e9.

[2018-06-04 20:05] manopapad commented on #395
It works now, thanks!

[2018-06-04 20:05] #395 closed

[2018-06-05 20:44] lightsighter commented on #372
Another variation on this that results in a segfault (destination instance is a GPU FB memory):
[code]

[2018-06-08 00:05] manopapad opened #401 "Pretty-printer bug"
[code]

fails with

[code]

[2018-06-08 00:53] manopapad opened #402 "__parallelize_with and newsymbol"
The following Regent snippet:

[code]

fails to compile with:

[code]

[2018-06-08 21:38] magnatelee commented on #402
This issue should be fixed by commit c1f194fb.

[2018-06-08 22:38] manopapad commented on #402
The issue has been fixed, thanks!

[2018-06-08 22:38] #402 closed

[2018-06-08 23:33] manopapad commented on #401
Fixed!

[2018-06-08 23:33] #401 closed

[2018-06-27 22:01] manopapad opened #403 "Make sure lll:force_kthreads and -ll:stacksize options are always respected"
Userspace threads currently ignore the value of -ll:stacksize.

OpenMP threads are currently always userspace, even if -ll:force_kthreads is set.

[2018-06-28 23:22] magnatelee commented on #318
Make the logical and physical analyses independent of each other. Some information populated in the logical analysis (e.g. `restricted_fields` in `Requirement`) is reused in the physical analysis and this currently makes them brittle to any modifications that change their behavior.

[2018-07-02 20:33] streichler commented on #386
This should be fixed by commit 320edea.  Re-assigning to @lightsighter to verify.

[2018-07-02 20:43] streichler commented on #257
@junghans, do you have any remaining concerns?  If not, I'll close this issue.

[2018-07-02 20:49] streichler commented on #379
This should be fixed in commit 27ab9d5.  Re-assigning to @lightsighter to close this issue and/or complain further.

[2018-07-02 21:02] manopapad opened #405 "LLVM 3.5 won't build with modern gcc"
LLVM 3.5 is a supported LLVM version in the `setup_env.py` script. However, LLVM 3.5 won't build with modern versions of gcc, unless this patch is applied to `include/llvm/ADT/IntrusiveRefCntPtr.h`:

[code]

`setup_env.py` could apply this patch automatically before building.

[2018-07-02 21:15] elliottslaughter commented on #405
Should be fixed as of bac73690a046f50099be0d39b1cd2bf59d186c6d. Thanks!

[2018-07-02 21:53] manopapad commented on #405
Fixed!

[2018-07-02 21:53] #405 closed

[2018-07-05 17:41] streichler commented on #403
Commits 866466a and 9d4dad7 should take care of this.  @manopapad can you take a look and make sure things work as you expect?

[2018-07-05 18:47] lightsighter commented on #379
Confirmed that this is fixed at least for the current C dimension order case that I care about.

[2018-07-05 18:47] #379 closed

[2018-07-05 18:49] lightsighter commented on #386
Confirmed that this is fixed for 64-bit values. Changing the scope of the bug to now handle arbitrary sized fills on the GPU and assigning back to @streichler.

[2018-07-06 01:46] manopapad opened #406 "Regent reverses the order of do...end blocks"
The following snipped prints 2 before 1:

[code]

[2018-07-06 08:11] lightsighter commented on #406
Time for monads in Regent now @elliottslaughter? ;)

[2018-07-07 21:45] elliottslaughter commented on #406
As a workaround, try running with `-fflow 0`.

[2018-07-09 16:50] magnatelee opened #407 "Dynamic tracing TODO"
Here is the list of features that are missing and will likely be implemented in the current dynamic tracing. I'll check off the boxes when I add them to the code.

- [ ] Index operations (e.g. IndexCopyOp and IndexFillOp)
- [ ] TimingOp
- [ ] Execution fences
- [ ] Gather/scatter copies
- [ ] Remotely mapped tasks (for now the runtime will raise an error if you have them in a trace)
- [ ] Speculat

[2018-07-09 23:51] elliottslaughter commented on #406
Should be fixed in fbb6593b14aa0fac108504e14583e4f85418b41a.

[2018-07-10 05:16] manopapad commented on #406
Fixed!

[2018-07-10 05:16] #406 closed

[2018-07-10 23:50] lightsighter commented on #407
This is not actually dead code:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/legion_views.cc#L7933
It happens when we do an explicit copy operation and we virtual map the source region to construct a composite view and that composite view has reduction instances in it. My guess is that we don't have a test case for this scenario, although it shouldn't be too hard to construc

[2018-07-14 01:34] lightsighter commented on #407
I had to disable the memoize tests for circuit_sparse.rg and pennant_fast.rg in the nopaint branch because they both hit the "dead code" assertion from the previous comment.

[2018-07-17 19:03] lightsighter opened #408 "Barrier Migration Broken in nopaint and control_replication Branches"
I had to disable barrier migration in the 'nopaint' and 'control_replication' branches because it was causing different tests to fail non-deterministically with the same Realm assertion. For example,

https://gitlab.com/StanfordLegion/legion/-/jobs/81740674
https://gitlab.com/StanfordLegion/legion/-/jobs/81722300

Disabling barrier migration makes the crashes go away. Turning it back on brings the

[2018-07-20 17:59] junghans opened #409 "Legion fails to test on Fedora 28"
https://bugzilla.redhat.com/show_bug.cgi?id=1604546:

ASSIGNED when you start fixing it. If the bug remains in NEW state for 8 weeks,
legion will be orphaned. Before branching of Fedora 30,
legion will be retired, if it still fails to build.

[2018-07-20 18:02] junghans commented on #409
In https://koji.fedoraproject.org/koji/taskinfo?taskID=28194759 the `circuit` test fails on x86_65 with:
[code]

In https://koji.fedoraproject.org/koji/taskinfo?taskID=28457810 the `realm_stencil` test fails with:
[code]

Plus the `circuit` test fails on aarch64 ppc64 ppc64le s390x see #398.

[2018-07-20 18:03] junghans commented on #409
So the big question is, should the legion package be retired?

[2018-07-24 06:03] lightsighter commented on #409
Is this crash related to this bug?

https://github.com/StanfordLegion/legion/issues/398

If so, the last time I talked to Sean he said that he had a fix for this
and just hadn't managed to get it into our release yet. Sean is on vacation
this week so we'll have to wait until he gets back to figure out what we
want to do.

Mike

On Fri, Jul 20, 2018 at 11:03 AM, Christoph Junghans <
notifications@g

[2018-07-24 12:56] junghans commented on #409
Yes, which is why I mentioned #398 at the end, however the failure on x86_64 is new!

And the issue with `realm_stencil` is new, too.

[2018-07-28 00:16] lightsighter opened #410 "Adding Printfs Cause Bounds Check Failures in Auto-Parallelized Code"
Attached in is modified version of the parallelize_tests1.rg test from the Regent test suite. The only modifications are to

- Run the big test only
- Not do code generation for OpenMP
- Print out some of the values inside the two stencil tasks

The print statements have exactly the same expressions as the inputs and outputs of the computations being performed. However, putting in the print statem

[2018-07-30 19:45] karthikmurthy opened #411 "Incorrect poison propagation/check in Realm"
Referring to: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/proc_impl.cc#L546

Summary: Realm checks the generation of the start_event, and determines whether its <= its globally maintained monotonic variable, generation. If a start_event of a task is lesser, then it proceeds to check the poisoned_generations. The non-atomic check of generation and poisoned_generations, is cau

[2018-07-31 23:38] karthikmurthy commented on #411
Ok, There is a legion check inside materialized_view, where a fault_ignorant check is done. A poisoned event is returned as true, this led to a series of events where the task got executed. Closing the issue.

[2018-07-31 23:38] #411 closed

[2018-08-01 07:30] lightsighter opened #412 "Support for 4-D Index Spaces"
We've had a few requests now for support for 4-D index spaces both for machine learning and HPC use cases. We'll use this issue to track requests and progress. Right now we anticipate implementing this sometime in the next 1-2 months (probably after the PPoPP deadline).

Use cases:
- Machine learning: hwdc
- DOM: angular dimension in addition to three spatial dimensions

Work:
- Realm: expose max

[2018-08-01 21:43] elliottslaughter commented on #331
Everything above is now permitted except for print statements. We'd have to add a print() statement to Regent if we wanted to make that work. In principle that's fine, I'm just not 100% sure that we want to bake printf semantics into the language.

I'm fine with closing this as print statements can be worked around easily enough by launching a task.

[2018-08-02 22:38] manopapad opened #413 "regent: Support for more expressive non-trivial projection functors"
The following snippet is a simplified version of a pattern we use in Soleil, to wrap around the domain in an index-space launch. Regent's loop optimizer cannot currently handle this pattern, which means we have to use sequential launches. This is fine for now, but might become more of an issue when we switch to DCR.

[code]

[2018-08-02 23:55] magnatelee commented on #413
I think this kind of code is safe only conditionally when the offset is smaller than the divisor. For example, (c + 4 + N) % N will produce the same value for both c = 0 and c = 2 if N is 2. ThoughI think in general the program itself should avoid this case, letting the index parallelizer know that this is actually safe launch to optimize seems not clear to me.

[2018-08-02 23:58] manopapad commented on #413
I agree. We only need to support this pattern when doing modulo over the loop bounds (`0 <= c < N` in your example, and `cs.bounds.hi` in the above code snippet), in which case the pattern is safe.

[2018-08-03 16:19] elliottslaughter commented on #413
The other requirement is that the modulus must be <= the loop bounds.

We can hard code this for the case where they're equal, but the general case seems quite challenging.

[2018-08-03 16:20] elliottslaughter commented on #413
Sorry, modulus >= loop bounds. See, I've already messed it up.

[2018-08-04 17:38] langest opened #414 "segmentation fault when using -lg:prof <N>"
I am trying to follow the guide [here](http://legion.stanford.edu/profiling/) but whenever I set `N>0` in `./app -lg:prof <N> -lg:prof_logfile prof_%.gz` I get a segmentation fault.

Any idea what might be causing this issue?

[2018-08-04 19:09] lightsighter commented on #414
Can you provide a backtrace for your segmentation fault?

[2018-08-04 19:48] lightsighter commented on #331
Alright, I'm going to go ahead and close this since I think we've satisfied it enough for the moment.

[2018-08-04 19:48] #331 closed

[2018-08-05 15:46] langest commented on #414
[code]

[code]

[2018-08-05 20:40] lightsighter commented on #414
Any chance we can get it with a debug binary so we can have line numbers?

[2018-08-05 21:32] lightsighter commented on #414
Run with the -lg:debug_ok flag to avoid the runtime warning about trying to profile in debug mode.

I'm at least not able to reproduce this on a few different machines, both Linux and OSX. This is from the current master or stable branch?

[2018-08-05 22:03] lightsighter commented on #414
Can you include the OS that you're running on the compiler (with version number) you are using to build Legion?

[2018-08-07 01:06] manopapad opened #415 "Non-deterministic reductions in Regent-emitted CUDA tasks"
Download minimal counterexample [bug-gpu-nd-reduce.tar.gz](https://github.com/StanfordLegion/legion/files/2264582/bug-gpu-nd-reduce.tar.gz) to sapling, unzip, and run `LEGION_DIR=... [HDF_ROOT=...] ./test.sh`. You will see the result of running the same CUDA reduction 4 times (on 1 tile). It should be the same number all 4 times, but it's not.

[2018-08-07 15:57] langest commented on #414
This is using master. be9896315363fb11e43a195fec9e4e2834b1211f
I will try using stable. Maybe it works better.
Here is the debug information, I forgot I changed DEBUG to 0.
I'm running on Gentoo
[code]
[code]

[2018-08-07 16:45] langest commented on #414
Stable works fine actually.

[2018-08-08 06:47] lightsighter commented on #414
Ok, I can confirm that I can reproduce it on commit be98963 however on the most recent commit of master cf0c227 it no longer reproduces. Can you update your master branch to cf0c227 and confirm that the problem goes away for you too?

[2018-08-08 17:28] langest commented on #414
Latest master be9896315363fb11e43a195fec9e4e2834b1211f still seems to have the problem for me.

[2018-08-08 22:10] lightsighter commented on #414
be98963 is not the latest master. cf0c227 is latest: https://gitlab.com/StanfordLegion/legion/commit/cf0c2271cf686578e1ab0e8b9e6b045a120bca10
All Legion development is done on gitlab, we just do issue tracking here on github because its nicer.

[2018-08-09 21:20] manopapad opened #416 "Legion hangs right before returning, when using Spy"
I can reproduce this consistently on sapling, running on Soleil master (commit de0aeea04). Compiling Legion with Spy seems necessary to reproduce this.

Follow the instructions at https://github.com/stanfordhpccenter/soleil-x to set up Soleil on sapling. Make sure you compile Legion with `DEBUG=1 USE_SPY=1`. Afterwards, run Soleil as follows:

[code]

Some relevant comments from people in the know

[2018-08-09 23:48] elliottslaughter commented on #414
@streichler Is that mirror working? Github shouldn't be that far behind gitlab.

[2018-08-10 23:26] manopapad opened #417 "Regent: Casts on futures cause blocking"
If you -fpretty 1 the following code:

[code]

you will see that the compiler handles the (implicit) cast on the future for x by emitting a blocking call to `__future_get_result`:

[code]

There could be a warning for this behavior or, even better, the cast could be lifted into its own task, as happens already for arithmetic operations on futures.

[2018-08-12 06:51] lightsighter commented on #416
Actually it is an untriggered user event. Probably occurring due to the hacks that we have in place to help Legion Spy understand how fence (or in this case fence-like deletion) operations work. It should only occur if you compile with -DLEGION_SPY. If anyone observes the behavior not in this mode then please let us know.

[2018-08-12 06:54] lightsighter opened #418 "Allow Instances to Be Used for Arbitrary Logical Regions"
Right now Legion requires that instances can only be used for one of the logical regions in the set that was originally passed to Legion for doing the instance creation. In general we would like users to be able to use a physical instance for any logical region for which the instance has sufficient capacity. Doing this will require some significant changes to how we track views onto physical insta

[2018-08-13 22:13] lightsighter opened #419 "Realm Returns Invalid Instance ID Non-Deterministically Under Allocation Failure"
Sometimes when an instance allocation fails, Realm will non-deterministically return an instance ID in profiling response that is not a valid instance ID. This is problematic because the client (in this case Legion) still has to call 'destroy' on the instance to reclaim its resources. When this happens, Realm hits the following assertion:

#3  0x00007ffff0f9dc82 in __GI___assert_fail (assertion=0x

[2018-08-20 23:08] manopapad opened #420 "Vectorizer failure in Soleil-X feat/viz/3 branch"
See https://github.com/stanfordhpccenter/soleil-x/issues/3. The failure should be reproducible by checking out Soleil-X commit c61f57d0, following the build instructions and running `USE_CUDA=0 USE_HDF=0 make`.

[2018-08-22 00:04] magnatelee commented on #415
Commit f0c76d1d should fix this issue. @manopapad could you try out the fix and close the issue if it works for you?

[2018-08-22 02:38] manopapad commented on #415
Bug fixed!

[2018-08-22 02:38] #415 closed

[2018-08-23 21:44] manopapad opened #421 "Privileges not propagated through "r <= s" annotations"
This snippet:
[code]
compiles, but produces a runtime failure:
[code]
If I inline `bar` inside `foo`:
[code]
I instead get a compile-time assertion fail:
[code]

[2018-08-24 06:18] lightsighter commented on #421
Can you make a Legion Spy log for one of these runs? Build regent with the '--spy' flag.

[2018-08-24 20:44] manopapad commented on #421
Here's the spy log produced when I run the first snippet: [spy_0.log](https://github.com/StanfordLegion/legion/files/2319811/spy_0.log).

[2018-08-25 06:14] elliottslaughter commented on #421
This is probably a compiler bug. However, I don't think it can be what you think it is. `bar` takes one and only one region requirement. `foo` takes two, but only one has privileges. The other region is `NO_ACCESS`, if it is being passed at all.

The real bug is that the compiler ought to see that `p1_c1 <= r`, and so `p1_c1` should be the root of privileges. I don't know why this could be broken,

[2018-08-25 06:17] lightsighter commented on #421
Ok, yeah I was looking at 'foo', but Legion Spy says that foo had the following region requirements:

0. READ-WRITE on 'r'
1. NO_ACCESS on 'p1_c1'

[2018-08-28 16:54] magnatelee opened #422 "RDIR incorrectly reorders statements"
Pretty-printing of this program:
[code]

has the body the while loop reordered like this:
[code]

Turning off the RDIR transformation makes the issue disappear:
[code]
[bug.rg.zip](https://github.com/StanfordLegion/legion/files/2329013/bug.rg.zip)

[2018-08-30 20:00] elliottslaughter opened #423 "Field destructors ignored on non-POD data types"
Currently, destructors on non-POD field types are ignored:

https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/inst_impl.cc#L257-260

This issue is to track proper support for destructors of non-POD types.

[2018-08-30 20:25] streichler commented on #423
@elliottslaughter do you happen to have any sample code that triggers this issue?

[2018-08-30 20:43] elliottslaughter commented on #417
Should be fixed by 7cbe03ea1babf1737b1b487af1fae1b173573d15.

[2018-08-30 21:10] mpokorny commented on #423
I've got the code that lead to this issue. I'm willing to send it to someone for testing. It's only a toy program. It's my second Legion program, so perhaps something else is wrong with it, but you're welcome to it.

[2018-08-30 21:18] manopapad commented on #417
Fixed!

[2018-08-30 21:18] #417 closed

[2018-08-31 15:50] mpokorny commented on #423
Here's the code; you'll need c++17 compiler to build it. Let me know if you have any questions.
[legion423.tar.gz](https://github.com/StanfordLegion/legion/files/2340715/legion423.tar.gz)

[2018-09-06 20:15] manopapad opened #424 "Memory leak related to OpenMP"
To reproduce: download [memory-eater.tar.gz](https://github.com/StanfordLegion/legion/files/2358625/memory-eater.tar.gz), unzip and execute `./run.sh`. Open htop on another window and watch your RAM fill up.

This program runs the same OpenMP loop multiple times. Each time the loop runs, the program keeps accumulating RAM.

[2018-09-06 21:07] lightsighter opened #425 "Realm Poison Provenance"
For work on resilience it would really help @karthikmurthy if he could be able to tell where poison came from. This would enable us to restart the mapping process without needing to wait for poison to propagate everywhere when restarting execution. One interesting question is what happens if there is a race between two different poisoned events: does Realm need to report both, or is just reporting

[2018-09-06 21:40] lightsighter commented on #424
This is a compiler bug. Output from Valgrind proving it:

==18363== 19,199,808 bytes in 99,999 blocks are definitely lost in loss record 87 of 87
==18363==    at 0x4C2AB80: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==18363==    by 0x4055EF: UnknownInlinedFun (memory-eater.rg:13)
==18363==    by 0x4055EF: $__regent_task_10000_primary (std_base.t:918)
==18363==    by 0x72EC47B:

[2018-09-06 23:57] elliottslaughter commented on #421
The immediate problem is fixed and the first test above should now pass. However, in the process of fixing this, I realized that there is an issue similar to #289 which can occur here. Specifically, it's possible for different fields to derive privileges from different parents, and for this to be incompatible with the callee's expectations. For now, I just take the first parent with non-zero privi

[2018-09-06 23:58] elliottslaughter commented on #421
@manopapad Should be fixed as of cd5a4fc. Please confirm.

[2018-09-07 01:54] magnatelee commented on #424
This should be fixed as of commit 0f4644a0. @manopapad Could you pull and try again?

[2018-09-07 16:00] elliottslaughter commented on #213
Confirmed that this still applies to attach_file and attach_file_mini. I'm disabling attach_file on macos until this is resolved.

[2018-09-07 18:44] manopapad commented on #424
Fixed!

[2018-09-07 18:44] #424 closed

[2018-09-07 18:47] manopapad commented on #421
Fixed!

[2018-09-07 18:47] #421 closed

[2018-09-11 03:28] elliottslaughter opened #426 "Better error messages for flags disabled by build-time options"
This is an ergonomic footgun that we really ought to fix:

[code]

Is the message you get when you compile without CUDA enabled at build time. For new users it would be much more helpful to get an error like the following:

[code]

This is explicit, to the point, and most importantly, tells the user what to do to fix the problem.

We should do this for any flags which have associated build flags t

[2018-09-15 04:28] elliottslaughter opened #427 "Error when partitioning an empty region"
The following program produces an error:

[code]

[code]

I realize it's a bit odd to be creating a region with zero size, let alone partition it. However, I'd argue that for consistency, we should allow this to work. While you can work around this in C++, it causes some pain for Regent in cases where we want to have a region that is dynamically sized (and sometimes zero). Regent code can't condit

[2018-09-17 17:08] elliottslaughter commented on #361
Sorry for the delay. I created an issue at https://github.com/zdevito/terra/issues/307 to track progress on the upstream fix. Since this should go away when that fix is in place, I'm closing this issue for now.

Thanks again for reporting this.

[2018-09-17 17:08] #361 closed

[2018-09-18 01:59] manopapad opened #428 "Logical operator precedence in Regent is wrong"
This code fails:

[code]

It seems to be grouping as `(true or true) and false`, instead of the correct  `true or (true and false)`.

[2018-09-18 02:04] manopapad commented on #428
2 out of 3 languages agree: `true or true and false = true`:

[code]

outputs:

[code]

[2018-09-18 17:11] elliottslaughter commented on #428
I decided to go ahead and fix this. Although it's a breaking language change, nothing in the test suite appears to have relied on the old behavior, so it seems worth fixing the paper cut now rather than allowing it to fester.

@manopapad Please confirm.

[2018-09-18 17:47] manopapad commented on #428
Fixed!

[2018-09-18 17:47] #428 closed

[2018-09-18 18:53] elliottslaughter commented on #427
Fixed by 5ce8eda.

[2018-09-18 18:53] #427 closed

[2018-09-18 18:53] elliottslaughter commented on #394
@manopapad This may be fixed in 5ce8eda, can you test? Thanks.

[2018-09-20 17:34] manopapad commented on #394
Fixed!

[2018-09-20 17:34] #394 closed

[2018-09-20 21:23] manopapad opened #429 "Parallelizer emits redundant ghost regions on certain tilings"
Run the following code:

[code]

after patching the parallelizer as follows, to print out the sizes of the ghost regions created for each stencil:

[code]

and you will see the following output:

[code]

This output suggests the following: The parallelizer correctly identified that, for a 2x1x1 tiling, any stencil on y and/or z is redundant, e.g. (+1,+1,+1) is covered by (+1,0,0). However, it is n

[2018-09-22 02:19] manopapad opened #430 "Safely handling all reductions in CUDA & OpenMP code generation"
This is referring to how the Regent compiler generates CUDA & OpenMP code for the following code pattern:

[code]

when `f` is not statically known to be injective. Currently this pattern will be broken down into a read of `r[f(i)].fld`, followed by an addition, followed by a write of `r[f(i)].fld`, which can trigger a race condition if two indices `i1` and `i2` that satisfy `f(i1) = f(i2)` happen

[2018-09-24 07:30] lightsighter commented on #430
I think I'm personally in favor of the user having to specify the atomic primitive in the case where they demand OpenMP or CUDA code generation. If the user is explicit about the parallelism then they should be explicit about where the synchronization goes. On the other hand, if the compiler does automatic parallelization then I think we probably want the compiler to be safe and put in atomics whe

[2018-09-26 17:53] manopapad opened #431 "Signal handler doesn't catch cases where the stack is exhausted"
Pull https://github.com/stanfordhpccenter/soleil-x/tree/bug/segfault-wo-freeze and follow the setup instructions for sapling. Then run:
[code]
The application will crash with a segfault and exit, even though we are running with `LEGION_FREEZE_ON_ERROR=1`:
[code]
This is a CPU-only run on 2 nodes. You can add debug output to `soleil_mapper.cc` to verify that the runtime has started. The application

[2018-09-26 18:13] lightsighter commented on #431
Are you passing all your environment variables to mpirun with the '-x' flag?

[2018-09-26 18:14] manopapad commented on #431
Yes https://github.com/stanfordhpccenter/soleil-x/blob/bug/segfault-wo-freeze/src/run.sh#L121-L127

[2018-09-26 19:09] manopapad commented on #431
Sean posited that this has something to do with the stack getting corrupted, and that caused both the original segfault, and also a segfault inside the signal handler.

[2018-09-26 22:01] magnatelee commented on #430
I agree that a `__demand` pragma should change only the performance, not the semantics. Here is what I'm going to do: I'll make the compiler emit an atomic reduction when the region access is made with an opaque index expression and add an `__insist` pragma to avoid the atomic operation when they know it is safe. I can at least try to check if the index expression is affine, but that's just an opt

[2018-09-26 23:51] magnatelee commented on #430
@elliottslaughter and I briefly discussed about this issue and we both think that an assertion rather than a pragma is a right way to convey the "disjointness" information to the compiler.

[2018-09-27 18:37] manopapad commented on #431
I fixed my original issue. The `workDual` task requires ~3MB of stack space, and I was only setting `-ll:ostack` (which controls the stack space allocated to OpenMP threads) but not `-ll:stacksize` (which controls the same value for regular CPU threads). This caused Soleil to run out of stack space when running with just CPU processors. This should have been immediately obvious to me if I had both

[2018-09-27 18:41] streichler commented on #431
Assigning this to me.  As @manopapad suggests, I want to look at using `sigaltstack()` to catch segfaults in a more robust way.

[2018-09-29 01:38] manopapad commented on #338
I just tried to compile Soleil with `__demand(__replicable)` on the work tasks. It's not working because the replicable check is rejecting calls to the following (safe) functions:

* `array`
* helper terra functions in `parallelize_tasks.t` (for Soleil in particular, the replicable check is complaining about the `get_ghost_rect` function on line 173)
* numerical functions in regentlib (`sqrt`, `ce

[2018-10-01 23:11] elliottslaughter commented on #338
Please pull and try again, I think I've got all these....

[2018-10-02 02:18] manopapad commented on #338
I am happy to report that the work tasks in Soleil are now accepted by the compiler as replicable. The work tasks in standalone DOM are not (those also use `pow`, which is not accepted by Regent currently -- @elliottslaughter plz fix).

Simply running the resulting code without mapper changes doesn't seem to work (it OOMs on Titan and segfaults on sapling), but that's an issue for another day.

[2018-10-02 07:53] lightsighter commented on #338
Only the top-level task should need to be marked as replicable in order for control replication to work.

[2018-10-02 16:21] elliottslaughter commented on #338
For @manopapad 's use case, it may plausibly be useful to control replicate multiple levels, since the branching factor at the second level is expected to be quite large. (In fact, if you had to choose one, I think you would choose the second level rather than the first.)

[2018-10-02 17:32] lightsighter commented on #338
Ok, that hasn't been tested at all. I would strongly encourage you to make it the top-level task that is control replicated.

[2018-10-02 17:38] elliottslaughter commented on #338
Certainly we'll start with that, but it's worth keeping it in mind since it may be performance limiter when we go to scale.

[2018-10-02 17:52] manopapad commented on #338
In Soleil the top-level task is just a shim that reads configuration files and launches a number of simulation tasks (usually just one). Each simulation task is assigned a disjoint set of nodes, it creates all regions and partitions them among its nodes, runs all the kernels and outputs results. Each simulation task currently doesn't communicate at all with other simulation tasks. Given this scena

[2018-10-02 20:55] elliottslaughter commented on #338
`__demand(__replicable)` is now available in master and `pow` should be accepted. Let me know if there is anything else.

[2018-10-03 02:08] manopapad opened #432 "Parallelizer "unreachable" assertion failure"
This came up while I was trying to debug some NaNs that occurred on Titan, but only when I ran under certain tiling configurations. I tried to run the same case on sapling with bounds checks (on CPUs) and I got this error message:

[code]

Wonchan thinks this might be a bug in the parallelizer, that only surfaces under certain tilings. It might be related to https://github.com/StanfordLegion/legio

[2018-10-03 18:39] streichler commented on #431
This should be fixed with commit eb0c4131dbc61627d60e40f317c885fbc16b52d1.  @manopapad, do you want to test it out, or just take my word for it?

[2018-10-03 18:42] streichler commented on #420
@manopapad, is this still an issue?  If so, we should assign it to somebody. :)

[2018-10-03 18:44] streichler commented on #419
Commit 48b32980991d4f0e199d696936f9e5cd04e2f698 fixes at least one likely cause of this.  @lightsighter, have you see any problems with this since?

[2018-10-03 18:47] manopapad commented on #420
This is still an issue, as far as I know, but @aheirich could comment further. @magnatelee was assigned on the original issue, so I assume he's appropriate for this one as well (but I'm a mere mortal and can't assign work to people).

[2018-10-03 18:49] aheirich commented on #420
Yes, this issue continues to hit me whenever I compile Soleil without turning off vectorization.

On Oct 3, 2018, at 11:47 AM, Manolis Papadakis <notifications@github.com<mailto:notifications@github.com>> wrote:

This is still an issue, as far as I know, but @aheirich<https://github.com/aheirich> could comment further. @magnatelee<https://github.com/magnatelee> was assigned on the original issue,

[2018-10-03 18:52] streichler commented on #414
The mirror is running in a cron job, so we shouldn't have any staleness issues.  @lightsighter, are we confident the original problem has been resolved?

[2018-10-03 19:09] magnatelee commented on #420
I just assigned this to myself and will probably take a look this week.

[2018-10-04 06:18] manopapad opened #433 "Infinite loop"
Download [bug-infloop.tar.gz](https://github.com/StanfordLegion/legion/files/2445089/bug-infloop.tar.gz), unzip on sapling, run `./compile.sh` on the head node, ssh into a compute node (so you don't crash the head node) and run `./run.sh`. The executable will enter some infinite loop and start eating up the node's RAM, ignoring the `-ll:csize` limit.

I don't see why the offending code would infin

[2018-10-04 06:36] lightsighter commented on #433
How do you know it is an infinite loop? Do you have a backtrace?

[2018-10-04 06:37] lightsighter commented on #414
Yes, we are confident that the problem is solved.

[2018-10-04 06:37] lightsighter commented on #419
No, I think we found the cause and it is safe to close the issue.

[2018-10-04 06:51] lightsighter opened #434 "Regent/Legion Pruning Use of Empty Regions"
Sometimes empty logical regions get made. It happens (especially with static control replication). We should do better at avoiding the costs of them as they add to runtime overhead.

Two proposed changes:
1. The runtime re-writes region requirements for empty logical regions to NO_ACCESS
2. Have the compiler recognize when regions have been rewritten to NO_ACCESS to avoid using them.

[2018-10-04 06:55] manopapad commented on #433
I don't know for sure it's an infinite loop, but the application is stuck, CPU is at 100% usage, and memory use is steadily increasing, so it sure smells like an infinite loop to me.

[2018-10-04 07:28] lightsighter commented on #433
Ok, the CPU running at 100% could be a red herring because we have threads that poll all the time in Realm. Can you run with -ll:force_kthreads, attach a debugger, and report any non-trivial backtraces?

[2018-10-04 12:49] streichler commented on #433
The only threads that should be spinning at this point are openmp worker threads.  If anybody sees any others, please let me know.

[2018-10-04 12:56] streichler commented on #434
Will switching the region requirements to NO_ACCESS cause problems in the task body when it makes an accessor with read/write/reduce privileges?

[2018-10-04 15:39] elliottslaughter commented on #434
The C API accessors don't use privileges:

https://github.com/StanfordLegion/legion/blob/master/runtime/legion/legion_c.h#L3266-L3269

I think we have a guard so that we should be ok accepting null pointers if the volume of the region is 0. At the moment the compiler will still request an accessor, and I don't think that should change because various things in the compiler assume that the variable

[2018-10-04 17:10] elliottslaughter commented on #434
One thing to be careful about if you do this is that you will need to modify the runtime so that a task can call another task with READ_WRITE privilege if the region is empty, even if the parent has NO_ACCESS. Otherwise you will break any transitive task calls in Regent.

[2018-10-04 18:16] lightsighter commented on #434
@elliottslaughter The only regions that can inherit privileges from an empty sub-region must also be empty and therefore will also be re-written to NO_ACCESS.

[2018-10-04 18:22] elliottslaughter commented on #434
That's fine, as long as you do your rewrite to NO_ACCESS before checking privileges.

[2018-10-04 18:34] manopapad commented on #433
Here's a few backtraces, taken a few seconds apart:

[code]

[2018-10-04 19:00] manopapad commented on #433
The error seems to be in how numeric for-loops with unsigned integer limits are handled. Here is the code generated for the loop `for i = 0,config.IO.probes.length do` (where config.IO.probes.length is of type `uint32_t`:
[code]
The upper limit of this rectangle ends up being equal to `UINT32_MAX`.

[2018-10-04 21:17] elliottslaughter commented on #433
Should be fixed in master, please pull and try again.

[2018-10-04 22:26] elliottslaughter opened #435 "Make GASNet a private dependency in CMake?"
I'm opening this issue to discuss a slightly questionable change that I needed to get Legion to build at SLAC. Specifically, the problem we have is that we're using an ephemeral build directory which doesn't exist on the machine where Legion is eventually installed. This is problematic because the CMake build currently bakes the GASNet path into the Legion installation. The GASNet build is also em

[2018-10-04 23:28] junghans commented on #435
On Fedora gasnet is build shared, but then the information is baked into the shared legion library.

But for LANL I am not sure if it will break something, we need to test this!

[2018-10-04 23:34] lightsighter commented on #434
Yes, that is when it would have to be done.

[2018-10-05 00:16] manopapad commented on #433
It works now, although I do get a warning about an empty index task launch:
[code]
This is probably a side-effect of the way you're handling numeric for-loops: You're converting them to index-space loops, and then those can get picked up by the loop optimizer.

Personally I don't mind this warning, so if you're not planning to fix this feel free to close this issue.

[2018-10-05 00:35] manopapad opened #436 "Writing to an element of an array-typed field requires a read privilege"
The compiler complains that task `bar` in the following snippet requires a read privilege on `fld`.

[code]

[2018-10-05 02:59] elliottslaughter commented on #433
So it turns out this happens only to loops that get turned into index space launches. If you had just written a normal for loop (with tasks inside) you would never have seen this issue.

I suppose we could teach the compiler to skip the launch entirely when the domain is empty, but unless someone objects loudly I'll probably just be lazy and leave it how it is....

[2018-10-05 03:02] elliottslaughter commented on #436
Without field-slicing the array, this is fundamentally the only way we can do this. There is no way to write to only part of a field in Legion.

@magnatelee and I have talked about field slicing arrays in the past, but I've always shied away from it because it's not possible in general to compute a single base and stride for all the fields. (You can do it with a sufficiently restrictive set of lay

[2018-10-05 07:01] lightsighter commented on #433
@streichler Aren't the GASNet AM polling threads still hammering away too?

[2018-10-05 07:07] lightsighter commented on #436
@elliottslaughter What are the implications on this for code generation? Does this mean that you're actually reading out the whole array, writing the value, and then writing the whole array back? Or do you guys do something more clever like get a pointer to the array in memory and then only write the one value in the proper location?

[2018-10-05 09:45] magnatelee commented on #432
I believe this is a bug in Soleil. The `CopyQueue_pull` task does not set the cell field of particles correctly, and thus it breaks the parallelizer hint that the primary partition of cells is an image partition of the cell field from the primary partition of particles. I've already pushed a fix to both `master` and `bug/parallelizer-unreachable`, so you can close this issue once you confirm the f

[2018-10-05 16:55] elliottslaughter commented on #436
@magnatelee will have to confirm, but glancing through the code it looks like `elem.fld` returns a reference to the entire array, and then if you assign to `elem.fld[0]` then you're basically doing a standard Terra array access to a reference. I don't think the code generator knows about arrays at all.

[2018-10-05 18:39] magnatelee commented on #429
This should be fixed by commit 6d2c3884. @manopapad can close this once he confirms the fix.

[2018-10-05 18:49] manopapad commented on #432
Indeed this was a bug in Soleil, my bad.

[2018-10-05 18:49] #432 closed

[2018-10-05 20:53] manopapad commented on #431
I have tested the fix and can confirm that Legion now freezes successfully even when we overflow the stack.

[2018-10-05 20:53] #431 closed

[2018-10-05 22:35] aheirich commented on #420
works fine now

[2018-10-05 22:35] #420 closed

[2018-10-06 00:44] #429 closed, assigned to magnatelee

[2018-10-08 23:59] elliottslaughter opened #437 "Realm doesn't print exception or backtrace when importing a Python module fails"
When there is an exception while importing a Python module, in some cases Realm fails to print the exception and backtrace. I have noticed that in these cases `traceback.print_exc()` is also empty. However, `except Exception as e: print(e)` does print the exception, so clearly the information is available.

So far this reproduces on Summitdev when attempting to load a Cython module with an undefin