[2020-08-17 16:41] powderluv commented on #546
In our runtime which utilizes Legion similar to FlexFlow we do perform collectives on a subset of GPUs. Im sure FlexFlow could have parallelism strategies that do that too.

[2020-08-17 18:42] ipdemes commented on #915
(3) would be easier for us to adapt, but we are fine with other two options as well.

[2020-08-18 09:40] lightsighter commented on #546
Thanks @powderluv. Is there symmetry in your collectives that are only operating on a subset of the GPUs? For example, do you do `M` collectives with `G` GPUs such that `M * G = N` where `N` is the total number of GPUs, or are there one-off collectives on a subset of GPUs which the other GPUs are doing something completely unrelated?

[2020-08-18 09:43] lightsighter commented on #915
The risk of resource deadlock that can occur with the (3) is pretty concerning for me. Especially given all the problems that @magnatelee is trying to fix with it right now. I want to make sure we don't introduce additional cases that can contribute to resource deadlock. I'm open to the group saying that they are willing to deal with it, but it has to be pretty much unanimous for me to accept (3)

[2020-08-18 15:35] opensdh commented on #915
Since we're interested in "resizing" partitions by destroying and recreating them, we also want to establish a subsequent dependency between _using_ a partition (_i.e._, an ordinary task operating on one of its fields) and destroying it&mdash;and reusing its color.  The former may be automatic in that a call to `destroy_index_partition` will merely queue the deletion until no task is using it, but

[2020-08-18 16:45] powderluv commented on #546
The latter. We may partition models at a higher level and some GPUs will be doing unrelated later stage processing while some will be running collectives amongst them.  Also in some cases like AWS P3dn.24xlarge instances each set of 4 GPUs are fully connected by NVlink and they traverse the PCIe bridge to connect to the remaining 4 - so for performance reasons we may partition models to live in th

[2020-08-18 17:30] bandokihiro opened #916 "Memory growth"
I am observing an unbounded memory growth in my application. The memory usage (obtained via the `ps` command in the `RSS` column) grows at a rate of 280MB/s which leads to the job being killed in less than 5 hours.

This issue has been reproduced both on `master` and `control_replication` on sapling using the `ghost` example with the following command line
[code]
Again, by doing ssh into one of th

[2020-08-18 17:38] streichler commented on #916
I can reproduce this and am debugging.  No smoking guns yet.

[2020-08-18 18:46] elliottslaughter commented on #915
@opensdh Just FYI, you can attach "projection args" to region requirements, which could e.g. contain colors. So no global variables are necessary to pass colors into projection functors. Personally, that would be the approach I would use rather than attempting to destroy and re-create the same color over and over.

https://github.com/StanfordLegion/legion/blob/master/runtime/legion.h#L1048

[2020-08-18 20:20] opensdh commented on #915
Thanks, but how would that allow passing a different such argument to each invocation of the projection functor?

Or are you suggesting that we would neither reuse colors nor use `AUTO_GENERATE_ID` by having every shard's subpartition color advanced through some predefined sequence in lockstep?

[2020-08-18 21:16] elliottslaughter commented on #915
Using the method I linked above, you can attach a different set of args to each region requirement. That means every time you execute a new task or index launch, you can potentially include a new set of args. So if you are e.g. running a time step loop and you use a different color partition on every iteration through the loop, the iteration at timestep `t` can include the color for the partition

[2020-08-18 22:51] opensdh commented on #915
Of course each _launch_ (and each requirement for that launch) can have a different argument.  The problem here is that, without any control over the _per-shard_ colors chosen by `AUTO_GENERATE_ID`, we would need to provide an argument per _index point_ of the launch.  We could of course pass one large argument to all the copies that contained all the colors they need, letting each invocation sele

[2020-08-18 23:41] elliottslaughter commented on #915
I guess I'm confused. DCR requires every shard to do the same work (i.e., do the same partition calls, with the same values). If you're not doing this, you're not doing valid DCR and your program will already be broken.

But if your program is valid for DCR, then that means every shard has all the colors. Now admittedly, `AUTO_GENERATE_ID` may choose different colors for every child partition. I r

[2020-08-19 02:30] aheirich commented on #632
I am getting this error
LEGION ERROR: ProjectionID 99 has already been used in the region projection table
(from file /home/groups/aaiken/seshu/legion_s3d_visualization/legion/runtime/legion/runtime.cc:16204)
although there are no calls to register_region_function there is a call to register_projection_functor for ID 99.  Could this error message be confused?
white_check_mark
eyes
raised_hands

7:

[2020-08-19 04:53] opensdh commented on #915
The various calls to create the subpartitions were made in a prior index launch, so they had the means to differ despite DCR rules&mdash;and the (replicable task) caller had no way of learning the colors except via examining a field later (return values in our case being reserved for the user).  (I also note that the incrementing counter would require its own barriers to make sure the correct valu

[2020-08-19 10:10] lightsighter commented on #632
I agree that the above error message should not contain the word "region". Everything else about it is both sound and accurate. You cannot record multiple projection functions with the same projection ID.

[2020-08-19 16:27] streichler commented on #906
Temporary workaround for this is:
[code]

[2020-08-19 17:53] elliottslaughter commented on #915
When you say that you are creating partitions inside an index launch, does that mean that each point task within the launch creates at most one partition (with a different subregion as the parent), or are you potentially creating more than one partition per point task?

One option is to have the main task choose the colors in advance and pass them down to the child task. Even if the child task doe

[2020-08-19 20:55] opensdh commented on #915
Yes, each point task creates exactly one partition, in a different subspace from any other point task, which itself has but one subspace.  Certainly we could supply the common color to use everywhere as a task argument (rather than having the task read a global), and that could reduce the number of possible synchronization issues.  I don't morally like having a forever-incrementing counter because

[2020-08-20 00:26] #897 closed

[2020-08-20 00:27] streichler commented on #856
@cwpearson any update on this?

[2020-08-20 00:30] streichler commented on #842
This is in master with commit 6a8cb06.  @elliottslaughter any issues with the current implementation?

[2020-08-20 00:32] streichler commented on #871
@pmccormick can you provide an update of where we are on this?

[2020-08-20 01:36] pmccormick commented on #871
@streichler I have a first cut that includes more feature complete [legion](https://github.com/pmccormick/spack/tree/develop/var/spack/repos/builtin/packages/legion) and [gasnetex](https://github.com/pmccormick/spack/tree/develop/var/spack/repos/builtin/packages/gasnetex)  packages.

Waiting on feedback from the gasnet crew.  Will also need to make sure it works for flexflow (spackage work coming

[2020-08-20 02:18] mpokorny commented on #871
@pmccormick I might want to give your spack package a try after I get past my current development push. No exotic environments or configurations here, just another potential user.

[2020-08-20 18:25] elliottslaughter commented on #842
So far we've been using it without any issues, so all good on our end.

[2020-08-20 21:30] #842 closed

[2020-08-21 01:30] pmccormick commented on #871
@mpokorny -- that would be great.  The more testing the better!

[2020-08-21 23:40] elliottslaughter opened #917 "Default mapper policy on replicating tasks"
The default mapper's policy for replicating tasks currently includes a check that the task is at depth 0 (i.e., a top-level task):

https://github.com/StanfordLegion/legion/blob/cd5f6467790a4492830ea67a0ff15b74f7491d66/runtime/mappers/default_mapper.cc#L374

@aheirich recently hit a case where a task was marked with `__demand(__replicable)` but was not being replicated. This was confusing since th

[2020-08-24 21:06] lightsighter opened #918 "Physical Region Leak"
Regent is a leaking references to `legion_physical_region_t` handles. Running the `optimize_spmd14.rg` test on one node is enough to reproduce the problem.

[code]

Specifically, there is a single inline mapping call that creates a `legion_physical_region_t` handle here:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_c.cc#L3825
but there is no corresponding call to de

[2020-08-25 03:44] opensdh commented on #915
Indeed; I didn't provide such a calculation because I didn't think "has no practical importance" needed one.

That's not actually true: if (in this fantastic scenario where the machine runs for decades) it wraps around, then without the dependencies in question in this issue, there's no guarantee that Legion ever got around to releasing, say, color #&NoBreak;5 even if it freed all the others creat

[2020-08-25 04:00] opensdh commented on #721
As a separate operation, there would be the [additional analysis overhead](#issuecomment-582525677); moreover, the runtime would not know to suppress the warning/error for a `READ_WRITE` mapping that overlapped the invalidated region in a _later_ task.  Accomplishing that with the tools we have today (_i.e._, one `READ_WRITE` region requirement and one "adjacent" `WRITE_DISCARD` requirement) invol

[2020-08-26 19:45] syamajala opened #920 "Regent: Two level projection functor"
We would like to be able to use two level projection functors in Regent. Partitioning for the stencil and subrank tasks in S3D are an example of such a use case.

[2020-08-27 04:54] marcinz commented on #910
I opened merge request #921 with the proposed changes for now.

[2020-08-27 06:06] syamajala opened #922 "Regent: meta-program field path in launch of field polymorphic task"
It appears that it is not currently possible to meta-program a field path when launching a field polymorphic task. I would like to be able to do something like the following:

[code]

This example currently results in the following error:
[code]

[2020-08-27 06:14] syamajala commented on #920
I guess this is a duplicate of issue #845. Closing this.

[2020-08-27 06:14] #920 closed

[2020-08-27 14:18] streichler commented on #307
I think you can already include `realm/id.h` and write things like:
[code]
I'm still hesitant to put anything in `Memory`, `Processor`, and friends because I don't want people to
get confused and assume it really checks for handle validity.

[2020-08-28 18:10] syamajala opened #923 "Regent: index intNd and rectNd with []"
It would be nice if it were possible to index intNd and rectNd with [] in addition to the usual .x, .y, .z and .lo and .hi methods. Also having a .dim attribute which returns the dimension of the type would be useful so you can do something like

[code]

[2020-08-29 05:19] lightsighter commented on #910
I've migrated this pull request over to a gitlab merge request:

https://gitlab.com/StanfordLegion/legion/-/merge_requests/191

There are a few things I changed, and one thing that I think needs to be resolved:

- First, while I understand why you wanted to protect complex comparisons with a special guard, I think it's actually unnecessary. Any user should be smart enough to recognize that compari

[2020-08-30 01:08] marcinz commented on #910
Totally forgot about C++98 in Legion.

As to constructors for `__shared__` variables, here is [the relevant fragment from the documentation](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#device-memory-specifiers). The constructor is not allowed to do anything, including having an initializer list. Initially, I had a constructor with default values for real and imaginary, but I h

[2020-08-30 09:23] lightsighter commented on #721
Ok, so there is no functional reason for this, because what you are proposing adds considerable complexity to the runtime implementation, which is a dimension that I don't think you are considering. If it is functionally necessary then it is unavoidable, but if it just a performance optimization then we need to weigh the tradeoff between complexity and performance.

You have to compare every disca

[2020-08-30 19:52] lightsighter commented on #910
I've updated the merge request so that each of the complex types now have an empty default constructor, which I think should be sufficient for the CUDA use cases, e.g.:

https://gitlab.com/StanfordLegion/legion/-/blob/complexcompare/runtime/mathtypes/complex.h#L41-42

If that looks good to you then I'll merge the code into the `master` branch and then upstream it to `control_replication`.

[2020-08-30 22:12] marcinz commented on #910
It almost looks good. :) `std::complex` has default values for the constructor taking `real` and `imag`. This way you can construct a complex number with no values, with just real, or with both real and imag. At first, I tried exactly this approach (on constructor with two default values), but it failed because of the CUDA requirements. So I provided a default constructor, and a constructor with t

[2020-08-31 10:44] lightsighter commented on #910
I've added support for the additional constructors too. The constructor specifications for `std::complex` actually will disqualify them from ever being able to be used in a `__shared__` context with CUDA.

[2020-09-01 04:07] marcinz commented on #910
Yes, that's true (about the constructors of `std::complex` not being suitable for CUDA). I wonder if the committee will ever make such adjustments for CUDA, so I guess that the best we will be able to do will be to mimic "as if" we implemented exactly the `std` constructors.

[2020-09-01 06:30] chaitanyaupp18 opened #924 "realm assertion issue"
I am getting the below error when I try to write the output into a hdf5 format.

terra: /usr/local/legion/runtime/realm/transfer/transfer.cc:2835: Realm::Event Realm::IndexSpace<3, long long>::copy(const std::vector<CopySrcDstField> &, const std::vector<CopySrcDstField> &, const std::vector<const typename CopyIndirection<N, T>::Base *> &, const Realm::ProfilingRequestSet &, Realm::Event) const [N

[2020-09-01 07:24] lightsighter commented on #910
I've merged the merge request so all the code is in master. It will get merged into control replication later tonight. Closing the issue and the original pull request #921.

I doubt it. I think CUDA complex and c++ `std::complex` will always just need to be add odds with each other. It's unfortunate, but GPUs are second class citizens for C++.

[2020-09-01 07:24] #910 closed

[2020-09-01 08:29] lightsighter commented on #307
I would feel more comfortable doing this if you included `id.h` directly in `realm.h` which it currently is not. I use that as my guiding principles as to whether I'm using the public parts of Realm or implementation parts that are subject to change. We already have one place where I have to do this today, so actually having `id.h` be part of `realm.h` would help solve that problem as well.

[2020-09-01 13:57] LonelyCat124 opened #925 "Regent: Crash on cleaning up"
Hi

I'm getting a unexpected crash when running with Regent, at the end of the program execution I have this code:
[code]
With `LEGION_BACKTRACE=1 regent program.rg -fflow 0 -ll:util 4 -ll:cpu 28`
I get this output at the end of execution (and with the backtrace)
[code]

I'm going to try running with regent built with  `--debug` now to see if I can do that in a reasonable amount of time. Anything

[2020-09-01 14:38] streichler commented on #924
Which commit are you using for legion?  Is this an explicit copy requested by the application?  If so, can you confirm you've got the same number of fields listed in the src and dst region requirements?

[2020-09-01 16:27] LonelyCat124 commented on #925
With debug I got a similar stack trace:
[code]

[2020-09-01 17:20] chaitanyaupp18 commented on #924
I am using Docker Version of Regent.
Yes. I am trying to write the partitioned region into .hdf5 file.

[2020-09-01 18:47] streichler commented on #924
@elliottslaughter can you help me translate this back to a commit hash?

@chaitanyaupp18 can you paste the code you're using to request the copy?

[2020-09-01 18:51] chaitanyaupp18 commented on #924
I am using the code in this format. https://github.com/StanfordLegion/legion/blob/stable/language/tests/hdf5/run_pass/attach_hdf5_subregion.rg

[2020-09-01 19:03] lightsighter commented on #925
I pushed a fix for this to the master brach last night for someone else who encountered it. Please pull the most recent master branch and try again.

[2020-09-01 19:07] streichler commented on #924
Does that test run correctly in your build?

[2020-09-01 19:14] chaitanyaupp18 commented on #924
Yes it does run correctly.

[2020-09-01 22:10] streichler commented on #924
Ok, then we need to understand how your code differs from that example.  Are you able to share a pointer to your code?

[2020-09-02 10:44] LonelyCat124 commented on #925
Yup that fixed it sorry!

[2020-09-02 11:15] lightsighter commented on #925
No problem.

[2020-09-02 11:15] #925 closed

[2020-09-02 22:33] magnatelee commented on #922
The syntax that I came up with to meta-program a mapping between field paths is this:

https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/regent/run_pass/call_task_polymorphic2.rg#L109

Is there any reason that this syntax doesn't work? I can certainly change the code so that it can also consume Lua tables specifying mappings, but only if we really need it.

[2020-09-02 23:49] syamajala opened #926 "Legion Prof performance improvements"
The current profiler struggles to produce profiles for large node counts, when it does they are often not viewable as browsers cannot load them in a reasonable amount of time.

This issue is meant to track the progress of porting legion prof to Rust and explore other visualizations options as well as a query interface.

[2020-09-02 23:51] syamajala commented on #922
I think this will work. I couldn't figure out the syntax and a table seemed like the most obvious/intuitive thing. A table does seem preferable though because you don't have to worry about maintaining order between two different lists, but I guess I can always convert the table to two lists myself.

[2020-09-03 15:06] elliottslaughter commented on #926
The current status of this is that the Rust profiler works, but generates output that does not match the original Legion Prof. We also have an optional mode to generate output for the Chrome Trace Viewer, with its own set of tradeoffs---it's generally more scalable, but has (in my opinion) a much worse UI, and also can't load traces larger than about 1GB or so.

[2020-09-03 15:32] lightsighter commented on #926
How does it not match? Do you think it is buggy? It's also possible the original Legion Prof has bugs in it too, although probably not big ones.

[2020-09-03 15:42] bandokihiro opened #927 "Barrier assertion error + hang"
After ~1M iterations, my code hits the following assertion error:
[code]
A backtrace can be found at `/home/bandokihiro/Public/DebugBarrier/barrier_assertion_bt`.

Changing `MAX_PHASES` to `MAX_PHASES/2` in `legion_trace.cc` did not solve the issue and the code fails after approximately the same number of iterations. Further changing to `MAX_PHASES/4` led to a hang. Backtraces can be found at `/ho

[2020-09-03 15:46] bandokihiro commented on #927
@streichler I don't think I can assign you

[2020-09-03 15:50] bandokihiro opened #928 "Non-determinstic behavior with OpenMP task"
I am experiencing a non-deterministic failure with one of my OpenMP task. At this point I don't know where the bug comes from but as far as I can tell, I wasn't able to reproduce with `-ll:othr 1` and I was able to reproduce with `-ll:othr 2` on one rank with a single sub-region. This task uses a library that heavily relies on eigen. I compiled with `-DEIGEN_DONT_PARALLELIZE` (to disable multi-thr

[2020-09-03 15:59] elliottslaughter commented on #926
It's been a while since I looked at this, but I think the utilization plots were wrong. I'm currently more inclined to suspect a bug in the Rust Legion Prof, but yes the issue could technically be in either of them.

It might actually be nice to have some programmatically generated Legion Prof logs, because at the moment it's a bit hard to get to ground truth (I mean, you can read the logs, but it

[2020-09-03 16:05] streichler commented on #928
@bandokihiro which compiler are you using?  There are actually two different omp runtime implementations (gomp and kmp) behind the scenes, and it would be interesting to know if it only shows up in one of them.

[2020-09-03 16:09] bandokihiro commented on #928
that is a good question. actually i tried to use the CMake interface `OpenMP::OpenMP_CXX` using `target_link_libraries`. for static libraries, it adds the flag `-fopenmp` but for my executable, at link time, it tried to link directly to `libgomp` and `libpthreads`. this did not work at runtime (did not seem to use multiple threads) so i am currently forcing `-fopenmp` at link time for my executabl

[2020-09-03 17:08] elliottslaughter commented on #928
Just FYI, I think you would have to switch to Clang if you wanted to try out the KMP interface. GCC only uses GOMP.

[2020-09-03 17:38] bandokihiro commented on #928
how can I switch between those two?

[2020-09-03 22:07] elliottslaughter commented on #928
You can choose the C++ compiler with `-DCMAKE_CXX_COMPILER=...` (it may require a fresh build).

[2020-09-03 22:10] bandokihiro commented on #928
does sapling has clang?

[2020-09-03 22:17] elliottslaughter commented on #928
Looks like we've got clang-3.8. I don't know if that is new enough for you. Or you could get binaries from llvm.org.

[2020-09-04 00:36] bandokihiro commented on #928
do you build it from source? I am trying the pre-built binaries of LLVM 10.0.0 (Ubuntu 18.04) but then it fails when I try to build something from that

[2020-09-04 15:47] streichler commented on #927
Some updates (with help from both @bandokihiro and @lightsighter ):
1. The problem seems to be related to the barrier regeneration that happens here: https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/legion_trace.cc#L4845
Different ranks are stopping to wait at different points, which leads to deadlock.
2. Running with `-lg:inorder` seems to allow reliable barrier

[2020-09-04 15:53] bandokihiro commented on #927
thanks, did we figure out only the source of the hang or also the assertion error?

[2020-09-04 16:03] streichler commented on #927
Just the hang so far.  It's possible that the assertion error is related, but it's also possible it's a separate off-by-one issue.

[2020-09-04 17:21] chaitanyaupp18 commented on #924
Had some issues with extents provided. It's working now.

[2020-09-04 17:45] elliottslaughter commented on #928
I have an LLVM 10 installation here that you could try using if you want: /scratch2/eslaught/sw/llvm-10/install

However, this does *not* include KMP. You'd have to build that yourself, e.g. instructions here: https://github.com/llvm/llvm-project/tree/master/openmp

[2020-09-04 21:03] elliottslaughter commented on #928
Clang may know how to target both GOMP and KMP. You may want to check what your binary was compiled against. `nm` may be able to do this, I'm not 100% sure... You might try `nm exe_file | grep -i gomp` and `nm exe_file | grep -i kmp` and see what you get from each of the commands.

[2020-09-04 21:08] bandokihiro commented on #928
although the `nm solver | grep -i gomp` gives `0000000000930f60 B .gomp_critical_user_.reduction.var` and the same with `komp` gives
[code]

[2020-09-05 09:04] LonelyCat124 opened #929 "Regent: Code hang"
I have a timestep-based code in Regent, which on my current testcase of interest hangs after 5 timesteps, but appears not to do so on a smaller testcase.

I've tried:
1. Compiling with debug mode - no difference/errors
2. Running the smaller testcase with -fbounds-check (no errors)
3. Running with freeze on error
4. Running with in order execution

I can't remember if I ran with `-lg:partcheck` ye

[2020-09-05 13:33] LonelyCat124 commented on #929
`-lg:partcheck` hasn't found any issues up to the point the code is freezing.

[2020-09-07 21:56] lightsighter commented on #929
Please provide backtraces for the threads NOT in `Realm::convar::wait`.

[2020-09-08 00:26] lightsighter commented on #927
Pull the `control_replication` branch and try again.

[2020-09-08 04:04] bandokihiro commented on #927
I was able to hit the assertion error on sapling so the hang looks fixed

[2020-09-08 08:57] LonelyCat124 commented on #929
Sure, here they are:
[code]

Threads 29 to 2 have this trace (which isn't wait but i will not paste them all since its still a wait). I didn't check every line but they're all in Realm::CondVar::timedwait:
[code]

[2020-09-08 09:10] fnrizzi opened #930 "building fails on MacOS"
Hello!

I am using MacOS Catalina, gcc-8.4.0.
I started from here: https://legion.stanford.edu/starting/ and repeated the building steps:
[code]
But I get this error:
[code]
Here is the build line producing that:
[code]

Thanks for your help!

[2020-09-08 09:21] lightsighter commented on #927
Pull and try again.

[2020-09-08 15:23] bandokihiro commented on #927
it did not hit the assertion error but hanged instead at about the same number of iterations. backtraces can be found at `/home/bandokihiro/Public/DebugBarrier/vortex/hang_0908`

[2020-09-08 16:26] streichler commented on #930
I'll have a patch for you to try shortly.

[2020-09-08 20:53] lightsighter commented on #927
I need frozen processes to look at for tonight.

[2020-09-09 04:55] bandokihiro commented on #927
The changes I made
[code]
was not hit this time. The code is hanging on sapling on all 4 nodes.

[2020-09-09 09:14] lightsighter commented on #927
This is the off by one error we were looking for earlier. Pull and try again.

[2020-09-09 14:46] LonelyCat124 opened #931 "Regent: error 298 from privileges of subtask"
Hi,
I have some generated tasks (from rexpr) with (for the real code) generated privileges.

For this dummy case, the rexpr in question is created with this function
[code]

The code computes the following privileges:
[code]
The tasks are generated are run over some (disjoint) partition of the main region, as an optimised version of:
[code]
The parent task's privileges for this rexpr case are:
[co

[2020-09-09 15:11] streichler commented on #639
@magnatelee What preconditions remain for merging this into the CR branch?

[2020-09-09 15:17] LonelyCat124 commented on #931
I created a mini case (I assume smaller is possible but I wanted to duplicate the syntax as much as possible in case it was needed) showing the problem. It can be fixed by uncommenting the end of line 37 (even though that shouldn't be required, as `parts2.i2`
 is not written to by the task) and attached it here:

[replica.txt](https://github.com/StanfordLegion/legion/files/5196158/replica.txt)

[2020-09-09 15:51] bandokihiro commented on #927
it went further but eventually hit my snippet above at about 2M iterations

[2020-09-09 17:00] elliottslaughter commented on #931
I haven't read the code too deeply, but this is probably an instance of https://github.com/StanfordLegion/legion/issues/289. Please read that issue and see if it makes sense of what you're seeing.

If it doesn't prevent any parallelism, the easy thing to do here is to over-approximate the privileges so they don't get split at the parent task.

[2020-09-09 17:50] lightsighter commented on #927
Where are the backtraces?

[2020-09-09 19:46] bandokihiro commented on #927
`/home/bandokihiro/Public/DebugBarrier/vortex/assert_0909`

[2020-09-10 09:19] lightsighter commented on #927
Try running with this patch and report back what happens:

[code]

[2020-09-10 09:25] LonelyCat124 commented on #931
Yeah I think it is the same issue - I think if I understand that correctly I can do the following with the generated priveleges (at least it worked for the replica code).

If I have
[code]

Then I just need to apply all 4 clauses in the parent task too right? Which then shouldn't need over-approximating, just potentially repeated subclauses on the parent, i.e.:
[code]

At least my understanding is

[2020-09-10 15:12] bandokihiro commented on #927
after about 2M iterations it hit this
[code]
without properly freezing despite the following command line
[code]

[2020-09-10 22:40] bandokihiro commented on #927
1048574

[2020-09-11 00:59] lightsighter commented on #927
Pull and try again.

[2020-09-11 05:16] bandokihiro commented on #927
Looks fixed, thanks.

[2020-09-11 05:16] #927 closed

[2020-09-11 19:32] bandokihiro commented on #928
@streichler found the issue. One eigen call was not thread safe (the `blueNorm_impl` function in `StableNorm.h`). Changing `bool initialized` to `std::atomic<bool> initialized` fixed the issue.

[2020-09-11 19:32] #928 closed

[2020-09-12 14:37] LonelyCat124 commented on #929
I ran with other testcases, and it seems to always reach this hang, but the time taken to reach the hang seems to depend on input size. The prior run was ~550k particles, resulting in ~22k tasks per top-level launch, and 5-6 top-level launches per step.
I ran a middle sized run (~250k particles, probably 10k tasks per top-level launch) which hangs after ~150 or so timesteps.

Finally, I ran a 25k

[2020-09-12 15:32] streichler commented on #929
@LonelyCat124 can you confirm you're actually hung in that loop?  With the debugger, can you see the values of `index`, `level_needed` and `elems_addressable`?

[2020-09-12 20:44] LonelyCat124 commented on #929
Yeah I'm pretty sure its hung in that loop:
[code]

[2020-09-12 21:24] streichler commented on #929
Yep, that's bad.  Please try the following patch:
[code]

Although the hang is a Realm bug, we should probably also be looking at why the application has created 16M sparsity maps.  @LonelyCat124 is your application recomputing partitions after the initial timestep?

[2020-09-12 22:15] LonelyCat124 commented on #929
Will give that a go tomorrow morning.

Yes the current code creates a lot of partitions. I  naively use partitions to manage which particles are in which cells as they move, and thus repartition twice per timestep. I assumed that since I have `__delete(partition)`s once a partition is finished with this shouldn't cause problems. If regularly creating partitions is bad I'll look into another way to

[2020-09-13 13:29] LonelyCat124 commented on #929
It still got stuck with that patch - I'm rerunning with debugging now and will check whats happening again, and update this post.

[2020-09-13 19:32] LonelyCat124 commented on #929
Full patch I used (tentatively is working)
[code]

Also please let me know if I shouldn't be regularly creating partitions/how is better to code with Legion/Regent

[2020-09-14 12:36] LonelyCat124 commented on #929
The code is now crashing after 200 steps (~2.5 hours with debug enabled). With debugging enabled this would take ~100 hours, so before I consider that (I think my wallclock limit is 48 hours without an extra request, as a side note can I build Regent with `-g` without disabling optimizations just to so stack traces are viewable?) I'm rerunning with core file size set to unlimited and seeing if tha

[2020-09-14 15:04] streichler commented on #929
How many steps did this one run before hanging before?  Is there any indication at all of why the job failed?  In particular, can you check to see if it ran out of memory?

[2020-09-14 15:10] LonelyCat124 opened #932 "Regent: Metaprogrammed privileges failing with subfields."
I think this is distinct enough from #931 to be a separate issue.

I've enhanced my code (to fix some bugs) that generates the privileges such that for write privileges it generates full field names when subfields are inbuilt, i.e. for
[code]
it can generate `temp1_space.hello`. However, if there are multiple fields in a write (I've not tested with only a single), it seems to be failing in the `ty

[2020-09-14 15:32] LonelyCat124 commented on #929
Before the change it hang after 5 steps.

I just logged into the running node and your guess on memory seems to probably be correct, this run is around that 200 steps mark and now using 96.4% memory.

I'll run a short number of steps (20?) with Legion GC I guess? Do I need to do anything special for Regent to use that or just add `-level legion_gc=2 -logfile gc_%.log` to the command line? Also doe

[2020-09-14 23:55] elliottslaughter commented on #932
Hi @LonelyCat124,

If it's possible to get a short reproducer on this, I'd appreciate it.

As far as performance goes, it won't matter. Regent automatically sorts and groups fields to achieve maximum performance. This also means you can't mess it up even if you want to. :-) It should be mostly invisible to you unless you're doing interop with C, or unless of course you're hitting issues like in #9

[2020-09-15 10:35] LonelyCat124 commented on #932
Hi,

I have attached a sort-of-short reproducer for this. The important code is about 50 lines, but the privilege computation code is ~100 beforehand. From line 103 onwards is the stuff that is breaking I believe.  In particular line 133 fails with this error:
[code]

The code works if line 134 is uncommented instead of 135, and the writes privilege in that line is the output from the print statem

[2020-09-15 10:54] LonelyCat124 commented on #929
Ok - I built Regent with `CC_FLAGS=-DLEGION_GC ./install.py --clean -j 32 --with-terra terralang --hdf5 --debug`

and tried to run with Legion GC. Unfortunately I think the patch above breaks some of the debug assertions perhaps:

[code]

I don't have the binary so I don't think inspecting the core file will work.
@streichler is this related to the patch? I'm modifying the assert slightly to see i

[2020-09-15 13:41] streichler commented on #929
Yes, there's an overflow issue there as well.  You can comment out that entire assert (there's two occurrences of it) for now.

For the configuration that used to hang after 5 steps, do you know how many partitions you had computed and how many subregions each of those partitions had?  @lightsighter and I need to sit down and figure out what's needed to start reclaiming sparsity maps that are no l

[2020-09-15 14:05] LonelyCat124 commented on #929
Ok, I've removed those and rerunning the run with Legion GC. The output of the values for those asserts are overflowing in the way you probably expect:
[code]

That configuration would  have constructed at most 11 partitions for the timestepping loop (1 initial, and then 2 per timestep).
The partitions would have been:
3x 14x7x7 (686 elements)
2x 11x11x5 (605 elements)
6x 12x6x6 (432 elements)

I

[2020-09-15 18:55] LonelyCat124 commented on #929
Legion GC output with the removed partition I wasn't deleting seems fine - I'm going to attempt to rerun the full simulation but here is the summary:
[code]

[2020-09-15 20:25] elliottslaughter commented on #929
So what would help most is a comparison between two short runs, say `N` iterations and `2N` (for some relatively short `N`). What we're interested in is mainly what's growing, so fixed sources of leaks are not a concern.

The other thing that would help would be a valgrind run. For this it would help to dump an executable and run that, since we really don't want to run the JIT through valgrind. Bu

[2020-09-15 20:44] streichler commented on #929
I think this is probably good enough to rule out egregious leaks in the application itself.  I know we're currently leaking sparsity maps in Realm, and the main open question in my mind is whether fixing that will help, or whether our real problem is an enormous number of sparsity maps being created (e.g. due to equivalence class issues).

[2020-09-15 22:07] magnatelee commented on #639
@streichler as I said in the last meeting, the parallelizer branch needs some hardening work to make it ready for the merge.

[2020-09-16 12:48] LonelyCat124 commented on #929
I reran the real simulation again, and the code is still crashing after 20 steps (I'm assuming my maths was out by a factor of 10 before when I said 200 steps). Based on how the performance is behaving I'm reasonably sure this is a leak of some description since performance degrades massively for the final steps, in line with the OS dumping stuff to the page file.

I will run for 3 and 6 iteration

[2020-09-16 18:59] elliottslaughter opened #933 "Legion Spy support for > 3D regions"
If you want to run Legion Spy on regions with more than 3 dimensions (e.g. 4D), then you currently get the following assertion:

[code]

It would be nice to add this support since not all codes can be run with only 3 dimensions.

[2020-09-16 19:16] lightsighter commented on #933
I'm inclined to put this in backlog. Is this just something nice you want to have or do you think this is necessary? You should know it probably involves writing a code generator to emit code for handling all the rectangle subtraction cases which grows as O(3^N).

[2020-09-16 19:20] elliottslaughter commented on #933
I made this issue because this feature was just re-requested by a new user. So it seems to be a recurring request.

Do we need a code generator? Since this is Python, can't we just make a slow, generic version? Slow would be better than non-existent, which is what we've got now. How much effort would that be?

[2020-09-16 20:14] lightsighter commented on #933
What I mean is that you need a code generator to emit the Python code for all the different cases. Specifically we need a code generator to emit this function:
https://gitlab.com/StanfordLegion/legion/-/blob/master/tools/legion_spy.py#L506-1884
For 4-D there are 81 cases and since it is 4-D it's very difficult to visualize it as a human, so you pretty much need to rely on some math and a code gene

[2020-09-16 20:17] elliottslaughter commented on #933
My point is, anything that can be written as a code generator can just be written outright in Python. So if you think the generator would be shorter/easier to write and reason about, I'd just do it in Python itself. Maybe a little more generic, maybe a little (or a lot) slower, but there's no reason in my opinion to generate code rather than just writing it. If the generator is simpler than writin

[2020-09-16 20:22] lightsighter commented on #933
I actually don't care at all about which language it is or how you write the generator. I care about how much time it takes to figure out the math to make the generator and then how long it takes to create a test suite to convince yourself that the code you are generating is actually correct. The hard part here is the computational geometry, not the engineering.

[2020-09-16 20:24] elliottslaughter commented on #933
We agree on this point.

Do you have an estimate of how much work this is, or is this still an unknown?

[2020-09-16 20:33] lightsighter commented on #933
I would estimate it's at least one week of effort on my part. Someone with more familiarity thinking in higher dimensional spaces could probably do it faster. There's lots of symmetries in the problem to be exploited, but they are non-obvious at first glance. It is a nice self-contained problem though that doesn't require any other knowledge about anything else in Legion or Legion Spy. The problem

[2020-09-16 20:39] streichler commented on #933
Isn't the minimum just one rectangle per (hyper)face on which A sticks out of B?  An algorithm that iterates over the dimensions, carving off 0, 1, or 2 rectangles that contain the surplus in that dimension and extend as far as needed in any later dimensions, should hit this minimum.

[2020-09-16 20:48] lightsighter commented on #933
Do you think you can do it greedily like that? I feel like dimension order would be important to hitting the minimum. I haven't been able to convince myself that it's not. I also have problems visualizing things in >3D so it could be that I'm just blind in this regard.

[2020-09-16 20:55] streichler commented on #933
Yes, I think so.  I'm fairly confident about the minimum, because if I take any two points that are outside of B in exactly one dimension (i.e. adjacent to a hyperface), their convex hull would include points within B so they cannot be in the same rectangle.

And I'm similarly confident that the greedy algorithm results in exactly one created rectangle per hyperface exceeded.  This does assume the

[2020-09-17 03:55] lightsighter commented on #933
Ok, I've pushed a change for this to the master branch. I've kept the current code in place for dimensions 1-3 because it is about 50-100% faster (measured using pypy not cypython) than the recursive algorithm on random rectangle pairs (who knows what it is on the kinds of rectangles we'll find in applications). Asymptotically they are the same, but the overheads of temporary objects and their gar

[2020-09-17 03:55] #933 closed

[2020-09-17 06:45] marcinz commented on #910
@lightsighter I noticed that in the process of migration some things got lost. For example, I don't see [these lines](https://github.com/StanfordLegion/legion/pull/921/files#diff-a973cf86da88ec48c3de88cfff5667d5R426-R439) in the checked in version. I wonder if this is because I committed something after the migration was done. I will try to submit a separate pull request for the missing changes, u

[2020-09-17 06:51] marcinz commented on #910
It seems like it should be actually the only piece missing.

[2020-09-17 07:25] lightsighter commented on #910
No need to do that. I think I just missed them. Will push them here shortly.

[2020-09-17 07:29] lightsighter commented on #910
Fix pushed to `master` and `control_replication`.

[2020-09-17 09:04] marcinz commented on #910
Thank you!

[2020-09-17 09:08] marcinz commented on #910
/gpfs/fs1/mzalewski/repos/legate.core/legion/runtime/mathtypes/complex.h(445): error: class "complex<double>" has no member "image"
:)

[2020-09-17 09:18] lightsighter commented on #910
Typo, pushed a fix.

[2020-09-17 15:06] LonelyCat124 commented on #929
3 step gc output:
[code]

6 step output:
[code]

Some futures are being leaked but not growing quickly enough to make everything crash I think.

I'm not sure valgrind runs are going to be feasible at the moment, even for 3/6 steps, I had some running for 6 hours and they hadn't started the first step yet (they were busy in the "0th" half-step which initialises a bunch of stuff). I'll set some runn

[2020-09-17 16:09] streichler commented on #929
@LonelyCat124 I'd like to get @lightsighter 's take on this, but my suspicion is that in the short term, you'll need to use partitions with many fewer subregions (e.g. clumping the particles much more), and that once we have the new equivalence class stuff, we'll want to reassess things to figure out if recovery of sparsity map IDs and memory in Realm is the only remaining issue or whether the ove

[2020-09-18 09:15] lightsighter commented on #929
I would like to see a Legion Prof profile of this before we make any conclusions.

[2020-09-18 13:31] LonelyCat124 commented on #932
This bug might not be specific to privileges - while working on a model for my code's IO attemping to access subfields seems to cause the same error of the field not existing for the type. This code fails to allow access to `s2.space.test1` through metaprogramming, though accessing the field directly is fine. Futhermore from other testing if I detect a prefix string (so for this when constructing

[2020-09-18 13:46] LonelyCat124 commented on #929
I'll set a profile running for a small number of steps - I expect I'll have to share through google drive or similar.

Next week I'll look to start thingking about/implementing an alternate algorithm that doesn't require repartitioning often (or hopefully ever) so I can use things like trace etc. which I expect I'll need for performance either way.

[2020-09-18 16:12] elliottslaughter commented on #932
Oh, you can't access a field literally with a string `x.["a.b"]`, you have to do `x.["a"].["b"]`. We may have a shorter syntax for this with field paths, but I don't actually remember if that's exposed to the user right now.

[2020-09-18 16:36] LonelyCat124 commented on #932
Ah ok - is the cause for the priveleges as well? I'll just have to restrict user's from using more than one depth of field spaces if field paths aren't exposed at the moment. Getting one sub field space is doable but an unknown number sounds rough.

[2020-09-18 18:59] LonelyCat124 commented on #929
Ok, so that profile (the .gz) is 9GB. Any good way to share that or shall I just run a single timestep and then try that? I expect the number of task launches is way too high right now for a feasible profile.

[2020-09-18 19:10] elliottslaughter commented on #932
I just pushed support for field paths in field access. See: https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/regent/run_pass/fspace_field_path.rg

The support should already be there for privileges, see: https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/regent/run_pass/quote_task_privilege_field_path.rg

[2020-09-21 08:33] LonelyCat124 commented on #932
Looks good, I'll give that a go - as far as I can work out it would work for any number of arguments right (I tested 3 and that worked fine and if I found the declaration correctly it looks independent from the number of arguments)

[2020-09-21 16:12] bandokihiro opened #934 "Legion: assertion error at termination"
I am hitting this assertion error when my code finishes:
[code]
I reproduced it with the most recent `control_replication` commit f317a05dbdc14829abdb47ea13d7d8c001a49da7. Both legion and my code are compiled in debug mode (this doesn't happen in release mode). The command line I used on sapling is
[code]

[2020-09-21 16:13] bandokihiro commented on #934
[gdb.txt](https://github.com/StanfordLegion/legion/files/5256689/gdb.txt)
Here is a backtrace.

[2020-09-21 17:17] elliottslaughter commented on #932
Yes, you should be able to use this for field paths of arbitrary length.

[2020-09-21 17:17] #932 closed

[2020-09-21 23:50] bandokihiro opened #935 "Legion spy: broken options on control_replication?"
The `-i` option of `legion_spy.py` fails with the following error on control_replication:
[code]
The `-x` option does not work on one of my multiple-node run.

These can be reproduced using the logfiles at `/home/bandokihiro/Public/DebugLegionSpy` on sapling.

[2020-09-21 23:59] elliottslaughter commented on #924
@chaitanyaupp18 Is this issue resolved? Can it be closed?

[2020-09-22 00:51] magnatelee opened #936 "Realm: Serialization in P2P transfers"
Realm is currently using a single CUDA stream for all P2P transfers from a given source even when the targets are different, which is causing serialization of otherwise concurrent transfers. We should be able to fix this by using a different stream for each pair of GPUs.

[2020-09-22 04:38] bandokihiro opened #937 "CMake: missing mappers"
The following should be added to `runtime/CMakeLists.txt`:

[code]

[2020-09-22 04:52] bandokihiro opened #938 "Mapper: issue with LoggingWrapper"
For debugging purposes, I tried using the `LoggingWrapper` mapper. It seg faulted on multiple nodes. I am on control_replication. Here is the backtrace:
[code]

[2020-09-22 04:52] bandokihiro commented on #938
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5259232/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5259233/gdb2.txt)
The full backtraces on the frozen nodes.

[2020-09-22 09:51] lightsighter commented on #938
Please test on master first.

[2020-09-22 09:52] lightsighter commented on #936
@lightsighter for visibility.

[2020-09-22 09:56] lightsighter commented on #934
Doesn't reproduce. I get an error about not finding some kind of file:

[code]

[2020-09-22 15:37] bandokihiro commented on #934
Please go to `/home/bandokihiro/Public/DebugTermination/run` and run `run.sh`. I noticed that this issue occurs when using 3 sub-regions/ranks and not with 2 or 4.

[2020-09-22 15:50] bandokihiro commented on #934
I am also having other issues with 3 sub-regions/ranks so something seems to be going wrong with that particular number

[2020-09-23 16:06] LonelyCat124 commented on #929
When trying to decode the 9GB profile the profiler process was killed, I assume this was due to an out of memory error (while running on a 128GB RAM node) but I can't be 100% sure. I'm testing for a shorter run to see if I can get that profile (which is 2.1GB). If not I'll use a smaller example for a few more steps.

The valgrind runs all failed to complete in 48 hours - I could valgrind on a smal

[2020-09-23 16:17] streichler commented on #929
@LonelyCat124 Are you able to share the code and build/run instructions?

Also, are you re-grouping the particles after each timestep or does the code keep the particles in place and operate on ever-more-jumbled subsets of those particles in each task?  If the former, we could maybe avoid the partitioning by using explicit gather copies, but we'd need progress on #704 (@elliottslaughter ?) for tha

[2020-09-23 16:28] LonelyCat124 commented on #929
Yes, the repo is public w/ a dockerfile to set it up (https://github.com/stfc/RegentParticleDSL), but the example I'm working with likely needs a few tweaks to work outside of my own environments (and involves a second repo containing the data) - I can sort that tomorrow morning and update here with instructions on building/running - if dockerfile is sufficient to build let me know or if you want

[2020-09-23 17:02] elliottslaughter commented on #929
@LonelyCat124: You can `__import_partition` multiple times; it's not pretty, but it's as close as we have to assignment at the moment without dedicated support (which is probably not coming soon).

The other option would seem to be trade queues, which is less idiomatic but should be efficient. That's what Soleil-X implements, and we can find a code sample if you're interested.

[2020-09-23 17:20] streichler commented on #929
@LonelyCat124 a dockerfile is great - please let me know once you've got one with the necessary changes

[2020-09-23 18:55] streichler commented on #662
This has been in master for a while.  Closing.

[2020-09-23 18:55] #662 closed

[2020-09-23 19:26] streichler commented on #730
This is getting close, but is too disruptive to go in right before a release.

[2020-09-23 19:28] #624 closed

[2020-09-23 23:53] elliottslaughter opened #939 "Regent: Link error on PowerPC when using LLVM 9"
On Summit, after building with:

[code]

(Note: the branch is needed for a Moonjit workaround, hopefully will not be necessary for too much longer.)

`./regent.py examples/saveobj.rg` generates an error, but `./regent.py examples/circuit_sparse.rg` runs fine.

Error looks like:

[code]

[2020-09-24 00:18] streichler commented on #939
A bit of searching online suggests this might be a code size issue.  See: https://go-review.googlesource.com/c/sys/+/146518/

[2020-09-24 09:15] mariodirenzo commented on #939
I am experiencing the same problem on Marconi100 (https://www.hpc.cineca.it/hardware/marconi100) with my solver

[2020-09-24 10:14] LonelyCat124 commented on #929
Ok - this dockerfile https://github.com/stfc/RegentParticleDSL/blob/master/runs/Dockerfile sets up everything needed to run this example. The image itself just launches an interactive session with `docker run ...` and then to run the example you need to do:
[code]

I'll take a look at `__import_partition` for now and see if that is sufficient for what I need. What are the trade queues? I'd happily

[2020-09-24 16:56] manopapad opened #940 "Legion: API call to retrieve parent_task info from remote node"
Currently inside a mapper the `parent_task` pointer on operations being processed will be `NULL` if the operation was launched on a remote node. It would be nice if there was a method to lazily retrieve the parent task information from the remote node.

[2020-09-24 16:58] manopapad commented on #938
The logging code did not originally consider the case where a mapper may receive mapping calls for an inline mapping operation launched on a different node, in which case `parent_task` is `NULL`. I added the appropriate check as of 4e854f18. Also opened an enhancement request #940 asking for a way to retrieve this remote parent task information, which would allow us to improve the logging output.

[2020-09-24 16:58] #938 closed

[2020-09-24 17:04] elliottslaughter commented on #939
Hm, which code size do you think may be the issue? Looks like `libregent.so` is only 31 MB and `terra` is only 123 MB.
 The `terra` executable is smaller with LLVM 6 but only 101 MB.

Also Regent is being compiled by GCC not Clang so I don't think there should be any difference between LLVM 6 and 9.

[2020-09-24 17:12] streichler commented on #939
Given that moonjit is the new variable here, I'd bet it's the code that's being generated by it.  The "REL24" in the unhappy relocation makes me suspect the limit is on the order of 16MB (2^24 bytes).

[2020-09-24 17:54] elliottslaughter commented on #939
I'm not sure how Moonjit could be responsible since this is an error that happens when we save an executable but not when we JIT directly; I would have expected this to go the other direction. As far as I know, in the executable case there should be no Moonjit code in the binary at all and all compiling and linking should be done by LLVM.

[2020-09-24 18:59] manopapad commented on #929
"Tradequeues" refers to how we implemented support for particles in Regent for Soleil-X (I don't think the term is canonical).

The setup was similar to yours: particles move, their cell pointer is updated based on their new position, and now some of them are on the wrong subregion. But because we didn't expect particles to move significantly from timestep to timestep (at most a half-cell per time

[2020-09-24 21:51] mariodirenzo commented on #939
In my case, everything works fine with moonjit and LLVM 6. The error shows up only with LLVM 9

[2020-09-25 10:18] LonelyCat124 commented on #929
Ah that makes sense - sounds similar how to my algorithm would be implemented for a classic C+MPI approach.

I'll try that approach out I think when I reimplement my neighbour search (next on my list, once I've built some tests to catch bugs...)

[2020-09-25 13:17] streichler commented on #939
More searching:
https://stackoverflow.com/questions/7378376/relocation-value-does-not-fit-in-24-bits
It looks like `-mlongcall` might help - does Terra create a command line for its LLVM context creation or is there
some other way to set that flag?

I haven't found anything suggesting it can be set on a per function basis, but that may be because it's a per-call-site thing.

[2020-09-25 13:19] streichler commented on #937
This change, and a bug fix for a weird linker issue hiding behind it, are in master as of commit 27e3afec.

[2020-09-25 13:19] #937 closed

[2020-09-25 13:21] streichler commented on #936
Commit `cf1e8177` (in master) creates a separate CUDA stream for each unique source/dest GPU pair (or at least the ones that are p2p-capable), which should eliminate serialization at the Realm level.

[2020-09-25 13:21] #936 closed

[2020-09-25 13:25] streichler commented on #871
Status update: an initial version is working in some repo @pmccormick 's got, and will be published in its own repository (like we do for the gasnet build): https://github.com/StanfordLegion/legion-spackages

Although we're planning to do that soon, it won't be this week, so bumping the milestone to 20.12.

[2020-09-25 19:04] alvarozamora commented on #832
Just wanted to check in: are there any updates on this?

[2020-09-26 10:54] lightsighter commented on #546
The new equivalence set work has delayed this to the next milestone.

[2020-09-26 10:55] lightsighter commented on #550
Work on new equivalence sets has delayed this to the next milestone.

[2020-09-26 10:56] lightsighter commented on #801
Work on new equivalence sets has delayed this to the next milestone.

[2020-09-26 10:58] lightsighter commented on #909
Work on new equivalence sets has delayed this to the next milestone.

[2020-09-28 20:14] elliottslaughter commented on #832
Please talk to @alexaiken if you need this, right now there isn't anyone actively working on it, so we'd need to get effort reallocated to get it done.

[2020-09-28 23:46] elliottslaughter commented on #935
The issue with `-i` should be fixed now.

When you talk about `-x`, do you just mean that the output is empty?

[2020-09-28 23:47] bandokihiro commented on #935
yes

[2020-09-29 15:47] junghans opened #941 "Notes from packaging v20.09.0 for fedora"
- python scripts use still use unversioned python interpreter - `python2` is dead, so you should just use `python3` everywhere, RHEL8 doesn't even have `/usr/bin/python` anymore by default
- `/usr/bin/` (`CMAKE_INSTALL_BINDIR`) seems an odd place for the `serializer_examples` to be installed
- hwloc2 support still broken (see #575)
- `scatter` test fails on i686 [build log](https://github.com/Stan

[2020-09-29 16:03] streichler commented on #941
There's a package that could be listed as a dependency of the Legion package that would install it though?

Can you try rerunning these to see if they're repeatable?  The `proc_group` test failure looks like a false negative we get sometimes on heavily loaded systems, and the `scatter` test doesn't seem to have any useful diagnostic info at all?

[2020-09-29 16:17] junghans commented on #941
I guess you could hack it, but the packaging guide is very clear "Packages in Fedora MUST NOT use /usr/bin/python." (see https://docs.fedoraproject.org/en-US/packaging-guidelines/Python/#_multiple_python_runtimes). Do you have a good reason to keep it unversioned?

Here you go: https://koji.fedoraproject.org/koji/taskinfo?taskID=52464615

[2020-09-29 16:58] elliottslaughter commented on #941
Do all our supported systems have a `python3`? If not we're going to have exactly the same issue, just for a different system and in a different direction.

[2020-09-29 17:04] junghans commented on #941
I patched it for this release, so there is no hurry. However, python2 was sunsetted 1/1/2020, so I am assuming more systems should have python3 by now.

[2020-09-29 17:07] junghans commented on #941
Seems to pass this time.

[2020-09-29 17:12] elliottslaughter commented on #941
It's not so much whether the installed Python is 2 or 3, it's whether the installed Python (even if it always 3) will be placed at `/usr/bin/python3` or `/usr/bin/python`. I'm aware of some systems that have made `/usr/bin/python` point to version 3, but I'm not sure whether that's the only installed path or if it's really a symlink to `/usr/bin/python3`.

Again, it might be fine, but if we're goi

[2020-09-29 17:43] elliottslaughter commented on #931
If the parent task is `inner` then it probably isn't an issue for it to require more privileges than strictly necessary. Legion will permit it to execute before the data is ready (because of `inner`) and, assuming you have virtual instances, will need to perform an analysis of the child tasks regardless.

I think your new case still looks like #289 to me. Fundamentally it's about getting to a poin

[2020-09-29 17:49] LonelyCat124 commented on #931
I'll have a look into `inner` tasks at some point, for now I'd worked around this by changing the parent tasks into `rquote` and embedding them in the main task, but not clear if this may present scalability issues in the future.

[2020-09-29 17:54] elliottslaughter commented on #931
If your parent tasks are issuing index launches across the whole machine, then this is actually the recommended way to do it. Generally speaking `inner` tasks are a programming convenience but not necessarily better for performance.

[2020-09-29 18:00] LonelyCat124 commented on #931
I'm not sure they will be index launches entirely, probably i should do an index launch and the conditional launch in separate loops which I'll bear in mind.

[2020-09-29 23:53] elliottslaughter commented on #935
Just to confirm, were these logs gathered with `-lg:spy` or `-DLEGION_SPY`?

[2020-09-30 00:52] bandokihiro commented on #935
with `-lg:spy`

[2020-10-01 11:12] lightsighter commented on #935
Pull and try again with `-x`

[2020-10-01 12:38] LonelyCat124 opened #942 "Regent: Metaprogramming fills fail in common/data.d:269"
I'm attempting to metaprogram initialisation of a region of a runtime defined type. The idea for this is to both hide this warning on runtime from users:
[code]
and to ensure no initial values are non-zero and could cause issues later.

I'm reasonably confident that I correctly generate the field strings recursively (printing the strings shows what I expect), and then break those down and feed the

[2020-10-01 14:01] LonelyCat124 commented on #929
I've started looking at the TradeQueues as an option to remove/reduce repartitioning, and have I don't think they can totally remove repartitioning in my case as I have less control over the stability of the potential input systems over time, for example a relatively common MD testcase would have reasonably homogenous particle density and particle motion between cells over time (so TradeQueues com

[2020-10-01 20:43] manopapad commented on #929
Here's a list of all the fields on the particles region, with notes on how each is handled during trading:

[code]

The dam break case sounds interesting. You could potentially follow a two-tier approach, where you size the particles sub-regions according to starting concentration, leaving some extra room to accommodate particle movement up to a point. As long as this initial partition remains suf

[2020-10-02 16:58] LonelyCat124 commented on #929
@streichler I fixed a couple of bugs so the Dockerfile linked previously should correctly replicate the bug/hang now.

[2020-10-04 17:32] bandokihiro commented on #935
Fixed. Thanks.

[2020-10-04 17:32] #935 closed

[2020-10-04 18:04] bandokihiro commented on #934
This bug looks fixed on f96e7d2562db0abbeda05f60237e2bf1456004c5 so I am going to close this.

[2020-10-04 18:04] #934 closed

[2020-10-05 11:25] LonelyCat124 opened #943 "Regent - Assertion failure when partitioning 1D region into 3D ispace using equal partition."
I'm not sure if this is a Legion bug or Regent allowing me to do something thats not allowed. The following code fails an assertion:
[code]

[code]

 I'm not sure if I'm just not allowed to partition a 1D region using a 3D index space, but I know if I have an `int3d` inside the field space, I can partition with:
[code]
with no issues.

I tried to grab a backtrace but even building regent with `--d

[2020-10-06 12:57] LonelyCat124 commented on #929
I've started a TradeQueue implementation, and I attempted to keep the particles contiguous in the partitions, however I realised the implementation relied on looping backwards over the arrays, which I don't think is possible?
There's no `for x in y.ispace.reverse()` or similar in Regent/Legion right?

[2020-10-06 14:36] LonelyCat124 commented on #929
@elliottslaughter when using `__import_partition` should I still delete the partition I'm replacing? This code works unless I uncomment the `__delete`.
[code]
in which case I get Legion error 482

[2020-10-06 17:30] elliottslaughter commented on #929
I think when you `__import_partition`, you probably shouldn't manually `__delete` since it came from outside the scope of Regent's analysis.

[2020-10-06 17:32] elliottslaughter commented on #929
I think an equal partition will currently generate contiguous subregions in all cases (and that should certainly hold in the 1D case). So you could loop backwards with a manual for loop.

Otherwise "backwards" doesn't really make sense because there isn't an order defined for multi-dimensional loops in the first place.

[2020-10-06 17:40] elliottslaughter commented on #943
This looks like a Legion bug to me, there's no particular reason why the element space and color space of an equal partition need to be the same dimensionality. (Though the partitions you get this way may look increasingly strange.)

Just FYI, you can probably get a better backtrace by running with `LAUNCHER="gdb --args" ./regent.py test_file.rg`. (Enter `run` and then `backtrace` once you hit the

[2020-10-06 18:24] elliottslaughter commented on #942
It was a logic bug in the compiler. Should be fixed by a01e523baacf2395039dc8d129340a6490f22452.

[2020-10-06 23:19] elliottslaughter commented on #832
I took an initial stab at an implementation, please see: https://github.com/StanfordLegion/regent-fft

And you can see an example of using it at: https://github.com/StanfordLegion/regent-fft/blob/master/test/fft_test.rg

There's a long list of caveats, so the main thing for right now is to focus on the API and see if it meets (or could be extended to meet) your needs. Does the API preclude anythin

[2020-10-06 23:40] elliottslaughter opened #944 "Local, equivalent but distinct collective instances"
Libraries, such as for FFTs, sometimes use a "plan" object to store local data. In the case of FFTW, for example, this is an opaque object which stores instructions about how to execute an FFT, based on the input (and output) size, alignment, stride, aliasing (in-place or out-of-place), etc. FFTW does not provide a way to serialize the plan and thus we're stuck with plans being inherently local ob

[2020-10-07 03:09] elliottslaughter commented on #832
Ok, I need a little guidance from people here. Are you generally going to be doing:

 1. Many independent FFTs, each on one node
      * If so please tell me whether these will be all the same size or different sizes
 2. Some number of distributed FFTs that may each be spread out across a couple of nodes
      * If so please tell me whether these will be all the same size or different sizes
 3. On

[2020-10-07 03:37] M-K-Lee commented on #832
In spectral method for turbulent flow simulation, case 1 with same size for
a direction is the general situation. So, data transpose is the major issue
for it.

MK

On Tue, Oct 6, 2020 at 8:09 PM Elliott Slaughter <notifications@github.com>
wrote:

--
Best regards,
MyoungKyu(M.K.) Lee

[2020-10-07 08:45] mariodirenzo commented on #832
I think that my application should fall in case 1. In particular, I will need each rank to perform a series of 2d FFTs and all the FFTs have the same size across all the ranks.

I have one question:

Do you mean that, in a multinode run, each node will need to build its own plan (so we will have a region whose index space size is equal to the number of nodes) or that the plan can be stored in a re

[2020-10-07 08:54] lightsighter commented on #944
If they're not going to be equivalent across nodes (e.g. in the resilience sense), then it seems like collective instances are not the right answer. Why not have a region with an index space contain N rows (one for each node) that you partition so that each node gets a subregion with one entry that they are then free to mutate as they so desire?

[2020-10-07 09:11] lightsighter commented on #944
Note also that if the plan object is write-once, read-ever-after then you can also use futures to store them. If you're doing index space launches you can store those futures in a future map and launch very efficiently, especially with control replication.

[2020-10-07 09:33] lightsighter commented on #943
This is not a Legion bug, look at the backtrace:

[code]

[code]

Something on the regent side called `legion_domain_get_rect_1d` when it should have called `legion_domain_get_rect_3d`.

[2020-10-07 11:29] rupanshusoi commented on #943
@elliottslaughter I just opened a PR for this that seems to handle everything I could throw at it. Please take a look. I'm not too familiar with this part of codegen so may have messed up the semantics...

[2020-10-07 12:31] LonelyCat124 commented on #832
I may have a requirement for case 3 in the future.

[2020-10-07 14:05] LonelyCat124 commented on #929
Ok, I'll remove the `__delete``

Yeah, I think the contiguity shouldn't change performance much so its not a big deal, but for my non-equal partitions I was originally wanting to do an equivalent to
[code]
which would require `0->n_valid` were all valid, and all after were not, and the easiest way to create that would be to loop from the end, but since we're iterating over an index space I don't t

[2020-10-07 14:27] mpokorny commented on #832
Case 1 to begin, all FFTs of the same size. Maybe case 2 in the future, again all FFTs of the same size.

[2020-10-07 15:41] LonelyCat124 commented on #929
@elliottslaughter I think I'm still making a mistake with the repartitioning declaration.

I have function that returns an `rquote` which contains
[code]

My assumption was this side effect would be visible, but its not, as I think the new symbol is only visible inside the `rquote`. Future accesses (outside of the `rquote` use the old partition, which was also generated using an `rquote`). Should

[2020-10-07 17:26] elliottslaughter commented on #832
That's what we're trying to work through right now. If all the FFTs are the same size (and so far that looks like what people are saying), then one approach would be like you say: make a region with N elements, equal partition it N ways, and index launch the planner task so that each subregion gets initialized on a different node. Then you can gather the region and pass it as an argument, which me

[2020-10-07 17:28] elliottslaughter commented on #832
@LonelyCat124 thanks for the heads up. A distributed FFT algorithm will be further out (since it needs an actual implementation of a distributed butterfly exchange, as opposed to just wrapping pre-existing single-node FFT libraries). Please keep me up-to-date as your needs for this evolve.

[2020-10-07 17:45] elliottslaughter commented on #929
Right, you have to do an assignment rather than a `var` here or else it will turn into a separate variable declaration.

I'm also slightly concerned that Regent will delete your `raw_lp1` before you want it to, because I'm not sure the escape analysis is smart enough for this case. You may need to switch to using C APIs to generate the partition. (Not fun, I know, but that's how things are at the

[2020-10-07 17:46] elliottslaughter commented on #944
I think using a single, partitioned instance (for initialization) and then passing the whole thing to every node is a plausible path. For now I'll plan on using this approach.

[2020-10-07 17:46] #944 closed

[2020-10-07 18:28] LonelyCat124 commented on #929
Checking I understand - inside main task I'd do:
[code]

If I need to use the C API where's the best place to look for the declarations I need?

Thanks again for the help with this!

[2020-10-07 19:31] elliottslaughter opened #946 "Regent: Inliner bug in FFT"
This is an inliner bug triggered by the Regent FFT implementation.

[code]

You'll see this passes.

Now uncomment this line: https://github.com/StanfordLegion/regent-fft/blob/356581f46bf49716c96b7d6b0249a44719c6605b/src/fft.rg#L144

You should see a failure like:

[code]

[2020-10-07 19:53] magnatelee commented on #946
Should be fixed by f9800ab1. @elliottslaughter Can you pull and try again?

[2020-10-07 20:11] elliottslaughter commented on #946
Confirmed. Thanks!

[2020-10-07 20:11] #946 closed

[2020-10-07 21:58] elliottslaughter commented on #832
@mariodirenzo I added support for running FFTs on multiple nodes, please see the example at https://github.com/StanfordLegion/regent-fft/blob/7f562c6ceb446f7c6a7079584663a894f8082548/test/fft_test.rg#L88-L112 and let me know if that works for your use case.

[2020-10-07 23:47] elliottslaughter commented on #929
That would be a `regentlib.c.legion_logical_partition_t`.

And you can find e.g. the create partition by field call here: https://github.com/StanfordLegion/legion/blob/master/runtime/legion/legion_c.h#L1268-L1283

You might also want to see http://regent-lang.org/reference (search for "Calling the Legion C API", sorry the section links are broken right now).

[2020-10-08 00:49] manopapad opened #947 "Legion: Amend message for error 576 (DeferredBuffer/Value/Reduction OOM)"
After the merge of eager_pool to control_replication, Deferred items are allocated from the eager pool, so the user needs to set `-lg:eager_alloc_percentage` appropriately. The error message on Deferred OOM would ideally mention that this value may have been set too low.

[2020-10-08 09:40] LonelyCat124 commented on #929
Hmm, I'm still unable to assign/reassign using `__import_partition` (I've not tried more expansive use of the C API yet).
This code:
[code]
fails with
[code]

Changing instead to:
[code]
has the same error.

From delving into regent a bit this is caused by the same logic that prevents:
[code]

From reading about the C API interactions, I'm wondering if this is due to:

I'm going to try building th

[2020-10-08 18:27] rohany opened #948 "tools: legion_spy crash when processing a large spy log"
I have stored the log file on sapling at the path `/home/rohany/pennant_assert_failure_spy.log`. I ran `tools/legion_spy.py -dez <filename>` and saw this failure:

[code]

I'm using python2 and ran the version of `legion_spy` on the branch `runtime-auto-mapper`. A `git diff` shows that there are no differences to that file on the branch vs master.

[2020-10-08 21:43] elliottslaughter opened #949 "Regent: how to expose "leaf context""
Currently Regent assumes that anything that uses `__context()` is not a valid leaf task, because in general `__context()` is required to access C APIs used for launching tasks. However, there are a variety of APIs that are valid in leaf tasks that still require a `__context()`, and all of these are currently disallowed in Regent leaf tasks. In some cases these might be very useful, e.g. `Runtime::

[2020-10-12 10:17] mariodirenzo commented on #832
Yes, it looks good to me. Thanks.
Would it be possible to have a single task to transform multiple planes?
What I mean is that you are currently partitioning the regions in such a way that each partition contains a single plane and then you index launch on those partitions. In my case, it could be more efficient to index launch on partitions that contain multiple planes and let each node transform

[2020-10-12 17:42] rohany opened #950 "legion: internal panic when running with >1 utility processor"
I'm running into the following panic sometimes when running with 4 utility processors on Sherlock. The report is a double free or corruption:

[code]
To reproduce:
* Check out the commit in https://gitlab.com/StanfordLegion/legion/-/merge_requests/235 and build legion on this branch. AFAIK the main difference is that this branch has support for `GPUTimeline` profiles.
* Go to `legion/language/`
*

[2020-10-12 20:51] elliottslaughter commented on #832
You're right, I would need to expose a method to pass a rect with the region. Right now, the code assumes it should use the entire region being passed.

It shouldn't be difficult to add. Give me a couple days and I make a pass at it.

[2020-10-13 19:36] streichler commented on #930
Sorry, I let this slip through the cracks.  If you're still stuck on this, please try this change:
[code]

[2020-10-13 21:53] lightsighter commented on #947
Fixed with c71186a97a17

[2020-10-13 21:53] #947 closed

[2020-10-13 23:00] lightsighter commented on #950
This was already fixed in the master (and stable) branches:

https://gitlab.com/StanfordLegion/legion/-/commit/b3fc8a5f5a34cb304a2a104fa1d0bd7fea7c1f76

Make sure your branch is up to date with at least the stable branch before reporting issues.

[2020-10-13 23:00] #950 closed

[2020-10-13 23:02] lightsighter commented on #948
This file does not look like the right log file to reproduce the problem. When I run the file you've provided above, it starts to perform the emulation analysis. However the backtrace for this crash is attempting to perform the verification analysis which should not happen with just the `-dez` flags. Verification happens with the `-p` flag. Please provide the full Legion Spy output prior to the cr

[2020-10-13 23:09] rohany commented on #950
OK. Thank you for giving me the fix commit, I'll patch it onto my branch.

[2020-10-13 23:37] bandokihiro opened #952 "legion_prof.py broken with python3"
When using python3, the `-s` option seems broken. I get
[code]
I used python 3.6.9 for this.

[2020-10-14 02:48] rohany commented on #948
I've left a log file `legion_spy.log` in the same directory the file above is in. To generate it I ran
[code]
and the invocation took around 1 hour and 30 minutes to complete.
[code]

[2020-10-14 18:21] lightsighter commented on #948
When you captured this log file, was it from a run that exited cleanly or did you kill the run in the middle?

[2020-10-14 18:38] rohany commented on #948
The run failed in the middle due to an application assertion failure.

For some context, we saw an assertion failure in the pennant application when changing the mapping used between iterations of the application. Alex suggested to capture a legion spy log when this failure occurred in case that the dependence analysis was failing in some way.

[2020-10-15 08:39] lightsighter commented on #948
The emulation mode is not designed to work (or even detect) cases where the run failed in the middle. Emulation mode assumes that the run finished successfully.

You have to use a version of the runtime built with `-DLEGION_SPY` in `CC_FLAGS` or you won't be able to run Legion Spy's verification mode. This is why you're getting emulation mode. You should be able to use Pennant's logging facilities

[2020-10-15 10:08] LonelyCat124 commented on #929
Ok, so I made a little test code to look at performance vs OpenMP (https://github.com/LonelyCat124/ParticleTest) , and also used the profiler's `-s` option to dump some statistics to try to see whats happening. For both the program discussed in this issue and the test code I found the main output from the profiler seems to be (data here from program discussed here):
[code]

By comparison, the main

[2020-10-15 16:39] manopapad commented on #929
I'm not sure this statistical analysis is giving the full picture; the runtime analysis tasks typically run concurrently with application tasks, on a separate core. I would suggest you make a full profiler visualization (process the generated profiler log files with `tools/legion_prof.py <log-files>`) and inspect the resulting html files in a browser.

compared to what?

[2020-10-15 16:50] LonelyCat124 commented on #929
Unfortunately I've not been able load the profiles (they're too large, just sits on loading for 12+ hours) in a browser (using `python3 -m http.server`), which is why i resorted to the statistics. I think I can filter out a small subset of the runtime to hopefully create a small timeline to view.

Some of this seemed to be due to having multiple util threads (notably 4 util threads resulted in 2x

[2020-10-15 17:37] manopapad commented on #929
Thank you for the measurements. However it is hard for me to understand what is causing the slowdown from just these numbers, so I would really like to look at a profile.

You can try to reproduce this with shorter runs (or at least remove parts of the computation that are irrelevant for this). You can also use the `--start-trim` and `--stop-trim` options on `legion_prof.py` to process only parts

[2020-10-16 08:45] LonelyCat124 commented on #929
I'll work on the profile for the test code now - even that generates 22M objects for a run though. I'l try trimming if thats still not possible.

For both the real and test codes the partition happens once (for the real code Regent's type checking prevents partitions being assigned to the same variable)

The current code I'm running has fence start fence code fence end to ensure timing is accurate

[2020-10-16 14:57] chaitanyaupp18 opened #953 "Preprocessor directives in regent"
Is there anyway we can use preprocessor directives in regent?

In C we use something like "#ifdef macro_name", can we do something like this in regent?

[2020-10-16 17:55] elliottslaughter commented on #953
The top level of a Regent program is Lua. You can do something like:

[code]

Or even:

[code]

You can see the section "Metaprogramming" in the Regent reference for more details. http://regent-lang.org/reference/

[2020-10-16 18:05] chaitanyaupp18 commented on #953
Okay sir. Thank you.

[2020-10-16 18:05] #953 closed

[2020-10-16 18:26] rohany commented on #948
I see. I'll try this.

The failure occurs non-deterministically, not at particular iterations, but at particular invocations of the pennant application itself. I'll see what I can do though.

[2020-10-16 22:36] #952 closed

[2020-10-17 07:15] manopapad commented on #929
If the partitioning only happens once per app execution then a difference of a few seconds shouldn't be a big deal.

We will need to see the full profiles rather than screenshots to be able to give an accurate diagnosis. It is surprising to see the application processors sitting idle while the runtime is working, normally app and runtime should be working concurrently to some extent. You applicati

[2020-10-17 08:50] lightsighter commented on #948
You're recording your mapper decisions though right? That should allow to replay them pretty easily to reproduce the issue I would think.

What exactly is the failure mode? Is the mesh turning itself inside out? By how much?

[2020-10-17 10:22] mariodirenzo opened #954 "Default mapper neglects memory constraints"
I think that the current version of the default mapper (or at least the one in `control_replication`) neglects the MemoryConstraints when it creates new instances.
I came up with the following workaround which seems to work in my case but I am not sure about potential side effects (feedback would be very appreciated):
[code]

[2020-10-17 18:33] rohany commented on #948
It's not clear from our logs that one particular string of mapping decisions causes the failure, just that we are changing mappings between invocations of the simulation.

An assertion is raised (`sv negative in calc_volumes_full`). I'm not familiar enough with the application itself to say what the interpretation of this error is.

[2020-10-18 17:19] bandokihiro opened #955 "Non-determinstic error"
I have this error happening sometimes
[code]
The backtrace gave
[code]
The command line I used is
[code]
I am on commit e58e48a5d5cfdb4f0edb57be24f6a7b723e0491e.

What does it mean?

Full backtrace:
[gdb.txt](https://github.com/StanfordLegion/legion/files/5397880/gdb.txt)

[2020-10-19 06:24] lightsighter commented on #955
You're not reporting the right backtrace. Run with `-ll:force_kthreads` and report all backtraces from all processes.

Most likely this is going to be an application bug. The runtime only guarantees the appearance of sequential semantics for actual application data, not for meta-data like the creation of index partitions (see issue #915). The backtraces from other process will show us where you ha

[2020-10-19 06:37] lightsighter commented on #954
Can you provide a backtrace for how we're getting into the `DefaultMapper::create_custom_instances` call? If the `kind` of `target_memory` does not align with the memory constraint then something else has already gone wrong.

[2020-10-19 06:40] lightsighter commented on #948
How many iterations are you into the simulation at this point?

[2020-10-19 07:07] mariodirenzo commented on #954
I'm getting into `DefaultMapper::create_custom_instances` from `DefaultMapper::map_task` https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/mappers/default_mapper.cc#L1580 . I believe that the main issue is that `DefaultMapper::default_policy_select_target_memory`, called at https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/mappers/default_mapper.cc#L1574, does not take th

[2020-10-19 08:49] mariodirenzo opened #956 "Regent: -fcuda-offline 1 seems broken"
I'm getting in the following error
[code]
when compiling a Regent script with the following command line
[code]

My understanding is that `-fcuda-offline` should force Regent not to load the CUDA library. Is that correct? Is there any workaround other than submitting a job on the gpu nodes of the machine to compile the code?

[2020-10-19 09:05] LonelyCat124 commented on #929
Yeah - I think we have. I think the original bug was fixed, but a second bug (crash) due to memory leaks was also in this thread - that bug is still replicated in commit e2aac08 in https://github.com/stfc/RegentParticleDSL

Instructions to replicate are https://github.com/StanfordLegion/legion/issues/929#issuecomment-698252787

[2020-10-19 17:11] bandokihiro commented on #955
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5403551/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5403552/gdb2.txt)
[gdb3.txt](https://github.com/StanfordLegion/legion/files/5403553/gdb3.txt)
[gdb4.txt](https://github.com/StanfordLegion/legion/files/5403554/gdb4.txt)
[gdb5.txt](https://github.com/StanfordLegion/legion/files/5403555/gdb5.txt)
[gdb6.txt](https://g

[2020-10-19 17:36] elliottslaughter commented on #948
This is a sanity check on the mesh to make sure that it does not violate basic laws of physics. I think this one means that the area of a mesh cell became negative, which is obviously bad.

Bottom line is that the simulation is producing the wrong answer. This is just an assert that tells you that prior to reaching the end of the run.

By the way, do you validate the result at the end of each iter

[2020-10-20 05:24] lightsighter commented on #955
Apply this patch and run again:

[code]

[2020-10-20 05:27] lightsighter commented on #948
I'm not even sure it is a mapping that is going bad. When I was looking at the Legion Spy logs the simulation was being run for 100K+ iterations which is way more than most Pennant runs require to converge. After convergence we might be playing in the space of low order effects perturbing the simulation into non-physical results.

[2020-10-20 05:36] rohany commented on #948
I'm sorry for the delay in responding.

Let me clarify the exact situation. Our application is structured like this (all within the same regent program)

[code]

The assertion failure that I mentioned is raised non deterministically in one of these calls to pennant. The pennant app is being run for a normal number of iterations, but it is just run repeatedly. I could not get the error to occur whe

[2020-10-20 09:51] lightsighter commented on #954
Yes, I agree that is an issue with the default mapper. The memory constraint needs to be a part of the mappers decision making when selecting a valid instance. What do you think @elliottslaughter @manopapad ?

[2020-10-20 15:26] bandokihiro commented on #955
I got the same error with the patch
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5409703/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5409704/gdb2.txt)
[gdb3.txt](https://github.com/StanfordLegion/legion/files/5409705/gdb3.txt)
[gdb4.txt](https://github.com/StanfordLegion/legion/files/5409706/gdb4.txt)
[gdb5.txt](https://github.com/StanfordLegion/legion/files/54

[2020-10-20 18:33] manopapad commented on #954
It looks like `default_policy_select_target_memory` indeed doesn't consider memory constraints from the variant's `TaskLayoutConstraintSet` when selecting a target memory. Then later `default_policy_select_constraints` overrides any memory constraints coming from the variant https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/mappers/default_mapper.cc#L2179. I'll take a crack at fixing

[2020-10-21 23:42] syamajala opened #957 "Regent: fmin= and fmax= operators"
Having fmin= and fmax= operators for tasks that return nan would be useful.

[2020-10-21 23:53] elliottslaughter commented on #957
Would it be ok to modify the existing semantics? Is there a reason why we want both?

[2020-10-22 09:05] lightsighter commented on #955
I can't make sense of these backtraces, there's not enough information. Can you reproduce this on sapling? If so do it with the same patch as above and run with `-ll:force_kthreads` and then send me process IDs to look at.

[2020-10-22 09:16] lightsighter commented on #948
This is the kind of thing that delta-debugging should be able to find automatically. You should gradually be able to reduce this down to the minimum set of mapping decisions that lead to the problem so we can get something reproduceable. Without a small example that is reproduceable this is going to be nearly impossible to debug.

[2020-10-22 17:06] syamajala commented on #957
It would be fine with me. Would it be possible to do this sooner rather than later?

[2020-10-22 20:32] elliottslaughter commented on #957
Should be fixed by 7c9849007f29a9dcdd73b7133d2124d4dd16b6cb.

To be clear, the new semantics match `fmax` and `fmin`, i.e., `NaN` values are **NOT** propogated.

[2020-10-22 21:47] elliottslaughter commented on #957
It looks like we have a similar semantic issue in Legion. @lightsighter do you have any issue with unifying the semantics here? (So that both Legion's and Regent's semantics are like `fmax`.)

[2020-10-23 10:07] lightsighter commented on #957
Do you need to change anything other than the what is in `legion_redop.inl`? If not, then go ahead and make a pull request and I'll review it.

[2020-10-26 05:04] bandokihiro commented on #955
I tried and I wasn't able to reproduce.

[2020-10-26 09:24] lightsighter commented on #955
Can you put a print statement in the destructor of the `IndexSpaceNode` class that reports its `handle` and the `local_space` and report back what statements you see logged for the index space that ultimately ends up not being found?

[2020-10-26 15:43] mariodirenzo opened #958 "Regent: CUDA compiler breaks when passing large structures as an argument"
I'm encountering the following error
[code]
when I try to compile a task that takes a large structure (a few KB) as a constant input parameter.

[2020-10-27 18:35] elliottslaughter commented on #958
I think this is an issue of a previously reported problem: https://github.com/terralang/terra/issues/152#issuecomment-452045621

[2020-10-27 18:41] mariodirenzo commented on #958
Is there an existing workaround for this issue?

[2020-10-27 18:58] elliottslaughter commented on #958
I posted a workaround here: https://github.com/terralang/terra/issues/152#issuecomment-717467429

[2020-10-28 15:38] bandokihiro commented on #955
Did you mean `IndexPartNode`? I think legion reports an index partition not being found. Adding the logging statements gave me this
[code]

[2020-10-28 22:53] rohany opened #959 "legion: `MapTaskInput.valid_instances` not populated for regions with reduction privilege"
With some logging at the beginning of `map_task`, it appears that the `valid_instances` vector for regions with the reduction privilege is never populated. Given that it's possible to reuse reduction instances now, it seems like this structure should be populated.

[2020-10-29 09:54] lightsighter commented on #959
As I explained on slack, this is not a bug. In the circuit simulation example that you showed the reduction instances are invalidated immediately after they are used by the `distribute_charge` task because the `update_voltages` tasks read the data which flushes the changes from the reduction instances thereby invalidating them. Furthermore, the `calculate_new_currents` task writes those fields whi

[2020-10-29 16:33] rohany commented on #959
If this is the case, why can the default mapper cache the physical instances used and then choose them when mapping a task with a reduction instance again?

[2020-10-29 17:43] elliottslaughter commented on #959
A valid instance is one that has valid data, i.e. the data contained in the instance is up to date. You can still reuse an instance that does not have valid data, but the reason to choose such an instance is to avoid additional memory allocations, not to take advantage of the data that is already present in the instance. In other words, reusing a valid instance means you can avoid both the memory

[2020-10-29 17:45] rohany commented on #959
OK, thanks for the clarification. I started to do this local instance caching in my mapper, but wasn't sure why it was correct.

[2020-10-29 17:45] #959 closed

[2020-10-29 18:54] manopapad commented on #956
This is not related to `-fcuda-offline`. The Regent compiler is just trying to load the Regent bindings library `libregent.so` (https://github.com/StanfordLegion/legion/blob/stable/language/src/regent/std_base.t#L64), and that load is failing because this library was compiled with GPU support and thus links against `libcuda.so`, which is not available on the head node. This is just a linking issue

[2020-10-29 19:02] magnatelee commented on #956
@mariodirenzo @manopapad 's assessment is correct. The issue happens when the compiler tries to load the binding library and doesn't have anything to do with the offline cuda code generation itself. I was actually working on the fix and will soon push it.

[2020-10-29 21:35] magnatelee commented on #956
This issue should be fixed as of 890f9a81, which will be propagated to the `control_replication` branch once it passes the CI tests. With this change, you should now use `-foffline 1` (which will supersede `-fcuda-offline` and `-fopenmp-offline`) to compile the regent code in "offline" mode. Inline execution (i.e., calling `regentlib.start`) is disallowed in the offline mode, and you must replace

[2020-10-30 02:00] manopapad opened #960 "Legion: Regions considered escaping from non-toplevel replicated tasks even if destroyed"
The attached testcase [escape.zip](https://github.com/StanfordLegion/legion/files/5462531/escape.zip), when compiled against latest control_replication on sapling and invoked with:

[code]

produces the error:

[code]

CC @gshipman

[2020-10-31 03:26] bandokihiro opened #961 "Hang due to hdf5 solution files output"
I am experiencing a hang which I think is due to hdf5 solution files output. In order to reproduce it quickly, I commented all my task bodies and outputs these files at every iteration. After a few iterations, I can consistently reproduce the hang.

Due to the fact that I don't use a copy launcher and to current limitations of the control_replication branch, I output one file per rank. I have an i

[2020-11-01 07:43] lightsighter commented on #961
Run with `-lg:no_physical_tracing` and report back what happens.

[2020-11-01 17:10] bandokihiro commented on #961
Hanged at the same iteration
[gdb0.txt](https://github.com/StanfordLegion/legion/files/5471381/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5471382/gdb1.txt)

For reference my command line was
[code]

[2020-11-01 17:11] bandokihiro commented on #955
is this what you were looking for?

[2020-11-02 14:56] mariodirenzo commented on #956
Thanks for creating the new flag. `-foffline 1` fixes the issues with the regent compiler but the `libregent.so` is still not linked to the stub libraries, therefore the linking of the executable still needs to be executed on the computational nodes. Would it be possible to have  `libregent.so` to point to the stub cuda libraries?

[2020-11-02 18:44] manopapad commented on #956
We probably don't want `libregent.so` to point directly to the stubs, because `libregent.so` also needs to be linked with the program at runtime, and we would want to link to the actual CUDA library then. Can you try adding `-L/path/to/stubs/dir` to the link command before `-lregent`? I believe this will let the static linker use the stubs, but the dynamic linker will still pick up the actual libr

[2020-11-03 00:15] manopapad commented on #954
https://gitlab.com/StanfordLegion/legion/-/merge_requests/297 fixes this bug, @mariodirenzo could you merge this commit into your legion branch and see if the default mapper works out of the box for you?

[2020-11-03 09:11] mariodirenzo commented on #956
I tried adding the stubs path to the link command but it does not have any effect

[2020-11-03 09:19] lightsighter commented on #955
I think I understand what the issue is. Will try to work on a solution in the next few days. Will let you know when I have something for you to try.

[2020-11-03 09:20] lightsighter commented on #961
Run with `-lg:inorder` next and see if it reproduces. If it does, capture backtraces again.

[2020-11-03 15:40] bandokihiro commented on #961
It reproduced.
[gdb0.txt](https://github.com/StanfordLegion/legion/files/5482332/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5482333/gdb1.txt)

[2020-11-03 17:17] gshipman commented on #960
@manopapad @lightsighter , I refactored my code to only replicate the TLT.  I'm still seeing the error about Logical regions escaping non-top-level replicated task..
[code]

[2020-11-03 17:23] streichler opened #962 "realm: better checks for unexpected use of devices/streams by CUDA tasks"
A CUDA task in Realm is supposed to use the context that's been pre-pushed by Realm and either submit to the
default stream or the one provided by Realm, but there's no way to immediately detect cases where the application's
task uses the driver API (or in cases without hijack, the runtime API as well) to submit work to other GPUs or other
streams.

For debugging purposes, it's better than nothing

[2020-11-03 17:32] manopapad commented on #956
Can you post the link command you're using, and the output you get?

[2020-11-04 09:50] mariodirenzo commented on #956
The command line looks like this
[code]
and the error looks like
[code]

The error is the same with and without `-L/softs/nvidia/cuda-10.1/lib64/stubs`

[2020-11-04 10:53] lightsighter commented on #961
The fact that this program hangs with `-lg:inorder` suggests that this is highly unlikely to be a Legion problem. It's either going to be Realm or HDF5 that are the problem. Those sub-tasks are not running probably because they are depending copies coming from or going to an HDF5 instance. What dependences are you expecting for the sub-tasks (the being launched inside of non-replicated contexts)?

[2020-11-04 21:10] streichler commented on #961
The test is hanging because tasks are waiting on an allocation in sysmem to complete.  The allocation won't complete because it's a deferred allocation, and is waiting for one of the 18 deferred deallocations in that memory to actually complete.  I didn't look at all 18 of them, but all of the ones I did have user events as preconditions and those user events have not been triggered (not even a de

[2020-11-04 21:31] lightsighter commented on #961
I need a way to run this myself on sapling if you want me to debug it.

[2020-11-04 21:35] lightsighter commented on #961
Remember also, the runtime currently has no protections against doing deferred allocations/deletions in program order at the moment, which means this could be a resource deadlock and it will be the mapper's responsibility to fix it.

[2020-11-04 21:46] bandokihiro commented on #961
you can run `/home/bandokihiro/Runs/flame2D/run.sh` from `/home/bandokihiro/Runs/flame2D` on sapling, it will hang after printing
[code]
with the current settings of the run file

[2020-11-04 21:49] bandokihiro commented on #961
At some point, I asked if it is possible to explicitly release regions that are no longer in use. At that time, the conclusion was that garbage collection was done lazily and I don't remember if there is a way to explictly tell the mapper to get rid of some specific instances.

[2020-11-05 03:07] manopapad opened #963 "Legion: Assertion failure on region-init > fill > destroy in replicated toplevel task"
The attached program [bug963.tar.gz](https://github.com/StanfordLegion/legion/files/5491696/bug963.tar.gz) when run on 2 nodes crashes with:

[code]

[2020-11-05 06:43] lightsighter commented on #963
Should be fixed, both when you add the field and with the original test. Pull and try again.

[2020-11-05 18:47] mariodirenzo opened #964 "Legion/Realm: interface for CUDA constants"
To my understanding the responsibility of managing the CUDA constant variables is currently left to users who need to call `cudaMemcpyToSymbol` at the right time, on the right device, and in the right cuda stream in order to ensure that the constant is well defined when the task is executed. Considering the execution model of Legion, this might be very difficult and might generate races between ta

[2020-11-05 19:47] streichler commented on #964
Will the values you want to have copied into the constant variables be produced by another task, or are they compile-time constants?  How often do you expect to change the contents of the constant variables during execution?

[2020-11-05 19:55] gshipman commented on #960
@manopapad, @lightsighter After chasing down an unrelated bug I can confirm that I do not end up with the LEGION FATAL above after refactoring to only replicate the TLT and doing all index launches from the TLT. I'm now running in parallel across multiple nodes and GPUs.  I think I can use this as a workaround for a bit.

[2020-11-05 21:56] mariodirenzo commented on #964
Right now they are constants coming from the input to the code, they are set at the beginning of the run and they stay the same. In the future, they might change every once in a while during the execution

[2020-11-05 22:44] manopapad commented on #963
I get the same assertion failure on the original testcase (fill with no fields), and I don't see the "Ignoring fill request with no fields" warning.

[2020-11-06 05:34] lightsighter commented on #964
Note @streichler if you want to make a new kind of "constant" memory for each GPU and allow the mapping of constant instances, that would be fine with me.

[2020-11-06 05:44] lightsighter commented on #963
Pull and try again.

[2020-11-06 15:47] mariodirenzo opened #965 "Legion: random out of bounds access in CUDA kernel"
I have a task that uses some DeferredBuffers and that used to work fine until 99431fe48e9f8fb05d86cf34d9d211fd391d9567. If the same task is executed with cuda-memcheck on any commit after dc577dc427fc0d2761944f44effbf44ca32d8fa8 (which I think is the merge of `eager-pool`), a random out of bound access is detected by cuda-memcheck at an assignment to a write-only FieldAccessor. The point that is a

[2020-11-06 16:49] streichler commented on #965
Adding @magnatelee and @lightsighter .  Did the final version of eager pool stuff use instances in Realm memories or direct calls to cudaMalloc?

[2020-11-06 18:11] lightsighter commented on #965
All eager pools use Realm instances.

[2020-11-06 18:19] streichler commented on #965
Hmm...  problems with Realm instances shouldn't really ever result in an invalid address - the memory backing the instances is all allocated at startup.  @lightsighter can you suggest anything to try to get closer to the root cause?

[2020-11-06 18:26] lightsighter commented on #965
How many dimensions in the shape of the deferred buffer? I'm betting there is a problem with the affine mapping from N-D down to the offset assigned to the deferred buffer in the 1-D eager buffer instance.

[2020-11-06 18:27] lightsighter commented on #965
@magnatelee do we have any tests for N-D deferred buffers with N > 1?

[2020-11-06 18:28] mariodirenzo commented on #965
It is defined on a 3d index space composed by the union of up to three rectangles

[2020-11-06 18:29] mariodirenzo commented on #965
if it was an instance, it would have needed to be mapped with a MultiAffineAccessor

[2020-11-06 18:37] magnatelee commented on #965
@lightsighter I don't think we have any such tests.

[2020-11-06 18:56] lightsighter commented on #965
@magnatelee How do you ensure that N-D deferred instances are mapped down to the realm instance correctly?

[2020-11-06 19:16] magnatelee commented on #965
@lightsighter I'm relying on `bytes_used` in the realm layout being correct [here](https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/runtime.cc?expanded=true&viewer=simple#L8733), so if the layout is lying about the size, the allocation can be smaller than it needs to be. I didn't touch the part where the realm layout is constructed for a deferred buffer (e.g., htt

[2020-11-06 19:28] lightsighter commented on #965
Ok, that wasn't what I was talking about. Looking at the code, it looks like you are making a Realm external instance on top of an existing normal Realm instance (e.g. they alias memory), with the external instance having an N-D layout. @streichler can you think of any reasons that would be problematic?

@mariodirenzo Can you report the exact error from cuda-memcheck. Are you sure that it is an ou

[2020-11-06 19:41] streichler commented on #965
Having an external instance alias a Realm-allocated instance ought to be fine from a address computation perspective.  Realm won't detect the aliasing, so it's up to higher-level code to ensure that any potential races between the two different access paths are avoided.

How are accesses to this external instance being performed?  I don't believe a MultiAffineAccessor works properly in device code

[2020-11-06 19:50] lightsighter commented on #965
Deferred buffers always make `Realm::AffineAccessor`s right now. They should also be making layouts for the external instance consistent with that as well since we're calling `Realm::InstanceLayoutGeneric::choose_instance_layout` which should compute a convex hull bounding box. If anything, that should always over approximate the memory required.

@mariodirenzo Can you also turn on the bounds chec

[2020-11-06 23:26] manopapad commented on #963
Fixed

[2020-11-06 23:26] #963 closed

[2020-11-07 01:00] lightsighter commented on #960
If you run this against the `neweq` branch can confirm that it works (it does for me)? If so, I'm likely not to fix it since I'm expecting that `neweq` will merge into `control_replication` sometime in the next month.

[2020-11-07 02:50] manopapad commented on #960
The example works on `neweq` for me as well.

[2020-11-07 16:07] mariodirenzo commented on #965
The error looks like this
[code]

with '/scratch/cfd/direnzo/htr/src/prometeo_metric.cu:88' that looks like
[code]
where `m_e` is a FieldAccessor (based on AffineAccessor) with write privileges and `coord` is a DeferredBuffer.
The errors disappears if the assignment is done though a temporary variable.

It detects a series of out-of-bounds on the deferred buffer
[code]

[2020-11-07 18:12] streichler commented on #965
From another log from Mario, I see two external instances allocated on the gpu:
[code]

Both of these appear to be suballocations from this instance:
[code]

I don't have logging for the base device pointer of gpu allocations (which is where the first byte of 4000000000400000 would be), but the failing addresses start 400 bytes below a large-power-of-2 boundary:
[code]
which suggests that instance

[2020-11-07 18:53] mariodirenzo commented on #965
It is also weird that legion reports an out of bound access for threads that access points in the index space of the deferred buffer. For instance it reports the thread [0,0,0] of the block [0,0,0], which access the points (p.x=0 p.y=0 p.z=0) and (pm1.x=49 pm1.y=0 pm1.z=0) , which are inside the bounds of the rectangle (bnd.lo.x=0 bnd.lo.y=0 bnd.lo.z=0, bnd.hi.x=49 bnd.hi.y=601 bnd.hi.z=49) used t

[2020-11-07 22:12] lightsighter commented on #965
Ok, the fact that Legion is reporting a bounds check error is a strong indicator that this is an application bug.

I would start here as Sean suggests. I don't think the rect that you are asking Legion to make create a deferred buffer for matches your expectations. It seems like the lower bound on the y-dimension starts at `1` and not `0`.

[2020-11-07 22:14] lightsighter commented on #960
Ok, I'm going to recommend that you use the `neweq` branch for now and close this issue. If there's a reason we need to fix it immediately in the `control_replication` branch then you can reopen it.

[2020-11-07 22:14] #960 closed

[2020-11-07 22:58] lightsighter commented on #961
Pull and try again.

I'm still confused about why Realm thinks it needs to do deferred allocations in an HDF memory with a capacity of zero.

[2020-11-07 23:03] streichler commented on #961
The deferred allocations were in sysmem, not the HDF5 memory.

[2020-11-07 23:38] bandokihiro commented on #961
still hanging

[2020-11-08 06:48] lightsighter commented on #961
There are two references keeping the sysmem instances alive. One is definitely the application's the fault. The second is unclear.

First, the mapper is holding `GC_NEVER_PRIORITY` references to every single one of the instances made in the system memory. That keeps them alive forever until the mapper releases them. And before Sean asks: no the runtime does not consider this when doing deferred de

[2020-11-08 07:06] lightsighter commented on #961
Just as an example to the previous comment, look at issues #960 and #963 that Manolis filed this week. Both had very simple reproducer programs and as a result we resolved both of his problems in short order.

[2020-11-08 07:37] bandokihiro commented on #961
I understand. I will try to make one.

There is a higher cost on my side to write a reproducer since it often takes me a decent amount of time to implement a new piece of code that involves a lot of legion stuff. That is why I always try to see if something can be discovered first with the full application which has a reasonably robust infrastructure for the legion part. I will think of a better w

[2020-11-08 10:24] lightsighter commented on #961
Don't bother doing it for this one since I've already dug around enough in the current binary to know what things should look like. Just provide the new binary for now compiled with `-DDEBUG_LEGION_GC` and `-O0`.

[2020-11-08 11:34] mariodirenzo commented on #965
The bug was in my code and it has been exposed by the new allocation of the DeferredBuffers. I'm sorry for the confusion

[2020-11-08 11:34] #965 closed

[2020-11-08 17:28] bandokihiro commented on #961
updated

[2020-11-09 07:55] manopapad commented on #956
Could you please execute the following commands:

[code]

for each of:

[code]

[2020-11-09 09:55] lightsighter commented on #961
It looks like on the runtime side the task contexts are holding a reference to the equivalence set for too long, but I can't see yet which context it is.

Can we switch to the `neweq` branch and trying there?

[2020-11-09 14:04] LonelyCat124 opened #966 "Pygion: Installation issues"
I was hoping to try a few simple things out with Pygion, but am having difficulties installing with the current master.

My route to attempt is:
Build Legion:
[code]
Install Pygion:
[code]

Test
[code]

If I do
[code]

which looks like I've not installed the legion library correctly.

I also thought that this might not be the correct way to run pygion, so I tried:
[code]

This looks like legion us

[2020-11-09 15:57] streichler commented on #966
We'll need the experts (@elliottslaughter @lightsighter ) to chime in, but it's possible that this is related to changes I put in a few days ago to prefer python3 over python2.  Can you try backing up to commit 48544ae34c and see if it works there?  (Ideally try both with letting the build choose whatever it wants and then also try with trying to ask for python3 explicitly.)

[2020-11-09 16:20] bandokihiro commented on #961
it works with `neweq`. Looking at the issues you mentioned previously, I guess you will want to wait for it to merge into `control_replication` which is I think fine for now by me (increasing `csize` will delay this issue sufficiently for now).

Regarding your previous comment, I am a bit confused as to what I am doing wrong with the mapper. My expectation is that I am using the default mapper beh

[2020-11-09 16:54] elliottslaughter commented on #966
That's not right. We should already be doing the Python installation from inside of CMake, there is no step 2.

If you're not finding the installation it probably means that you're not passing the correct Python installation to CMake, which would mean that even if you did get the module import to work it still wouldn't do what you want.

Also, Pygion is not tested with being used from a `python` f

[2020-11-09 16:55] elliottslaughter commented on #966
We use FindPython to locate the Python installation so if you need to know how to configure it see the docs: https://cmake.org/cmake/help/v3.12/module/FindPython.html

[2020-11-09 20:29] LonelyCat124 commented on #966
I'll try installing on another machine tomorrow in a clean env - should it work with virtual environments if I don't have root, provided FindPython uses the correctiong installation?

[2020-11-09 21:14] magnatelee opened #967 "Realm: all-to-all communication is slow"
For the past few months I've been working on a program that needs all-to-all exchanges and Realm doesn't seem to perform distributed all-to-all communication efficiently. To understand what an efficient implementation would look like, I rewrote the all-to-all exchange code using NCCL and compared it with the Realm-based implementation. It turned out that Realm's all-to-all exchange on a DGX-1V clu

[2020-11-09 21:18] lightsighter commented on #967
Also here is a Realm-only benchmark that proves that it is slow:
https://gitlab.com/StanfordLegion/legion/-/blob/master/test/realm/alltoall.cc

[2020-11-09 22:32] manopapad opened #968 "Regent: GPU configuration error on sapling with LLVM 6 and CUDA 8"
If I compile Regent on sapling with LLVM 6 and CUDA 8, then run Soleil with that Regent I get:

[code]

even though I’m setting `GPU_ARCH=fermi`. The same error does not happen if I build Regent with LLVM 3.8 and CUDA 8.

[2020-11-10 02:39] manopapad commented on #968
Besides Soleil, all Regent GPU testcases fail with the same error as above, while the CPU tests pass. `runtime.mk` is correctly picking up the `GPU_ARCH` and `CUDA` environment variables. Terra's CUDA testcases fail with:
[code]
So likely Terra is producing PTX for the wrong architecture.

[2020-11-10 07:34] manopapad commented on #968
Moved to the terra bug tracker: https://github.com/terralang/terra/issues/467

[2020-11-10 07:34] #968 closed

[2020-11-10 10:24] lightsighter commented on #961
Yes. If it were in `master` I would consider fixing it separately. But `neweq` is likely to merge into `control_replication` sometime this month, so it is not worth taking the time to fix for now.

The default mapper has an implicit assumption that all of regions in the program have the lifetime of the entire program and therefore it will hold onto instances forever. For programs with temporary re

[2020-11-10 14:03] LonelyCat124 commented on #966
Ok, so I moved to the production HPC machine (for a clean environment) over my own laptop, and am still having issues.

Setup:
[code]

In ccmake I set
[code]
The value for PYTHON_INCLUDE_DIR and PYTHON_LIBRARY were taken from
[code]
as FindPython wanted to use the system default for those (Python2) even with my venv.

I then ran make & make install, and created a `pygion` module, which sets bin/li

[2020-11-11 10:38] lightsighter commented on #955
Pull and try again.

[2020-11-11 22:44] bandokihiro commented on #955
It still happens sporadically. I got this error message
[code]
which I guess you updated recently.

Here are the backtraces:
[gdb0.txt](https://github.com/StanfordLegion/legion/files/5527163/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5527164/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5527165/gdb2.txt)
[gdb3.txt](https://github.com/StanfordLegion/le

[2020-11-12 09:28] lightsighter commented on #955
Pull and try again.

[2020-11-12 18:42] elliottslaughter commented on #966
Ok, a couple things.

1. I think `python_bindings` is just a test. I'm actually confused why that's being installed. Use `legion_python` instead.
2. If I remember correctly, you need to add `-DBUILD_SHARED_LIBS=ON`. Otherwise the binary will get statically linked and I'm not sure we have the necessary magic to make sure all the symbols still get exported.
3. The `ffi.dlopen(None)` just means it ex

[2020-11-12 19:05] bandokihiro commented on #955
Same:
[gdb0.txt](https://github.com/StanfordLegion/legion/files/5532695/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5532696/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5532697/gdb2.txt)
[gdb3.txt](https://github.com/StanfordLegion/legion/files/5532698/gdb3.txt)
[gdb4.txt](https://github.com/StanfordLegion/legion/files/5532699/gdb4.txt)
[gdb5.txt](htt

[2020-11-12 19:29] lightsighter commented on #955
Forgot to merge `master` into `control_replication`, pull and try again.

[2020-11-12 21:59] bandokihiro commented on #955
Hit the error again:
[gdb0.txt](https://github.com/StanfordLegion/legion/files/5533499/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/5533500/gdb1.txt)
[gdb2.txt](https://github.com/StanfordLegion/legion/files/5533501/gdb2.txt)
[gdb3.txt](https://github.com/StanfordLegion/legion/files/5533502/gdb3.txt)
[gdb4.txt](https://github.com/StanfordLegion/legion/files/5533503/gdb4.txt)

[2020-11-13 01:49] lightsighter commented on #955
Added another missing case, pull and try again.

[2020-11-13 03:13] bandokihiro commented on #955
Looks fixed. Let me try a couple of more tests and i will close the issue if everything works. Thanks.

[2020-11-13 04:35] #955 closed

[2020-11-13 12:20] LonelyCat124 commented on #966
Ok step 2 worked, however I had to disable `-DLegion_BUILD_TESTS=OFF` as `taskreg` failed with this error:
[code]
I tested a couple of different machines (different OS/compiler etc.) and had this error on both - I also tried then disabling `-D Legion_USE_LIBDL=OFF` but then libregent failed to compile. Not critical from my pov but happy to test any suggestions to fix it.

[2020-11-13 13:43] LonelyCat124 commented on #966
While not totally related - can I ask a quick question here about calling python tasks from Regent?
I have a simple task in python:
[code]

which I define from Regent:
[code]

When I run this with `regent test_pygion.rg -ll:cpu 4 -ll:py 1 -ll:pyimport test_pygion` I get a python exception:
[code]

Am I messing something up with my declaration in Regent or do I need to do something more in Python t

[2020-11-19 23:33] manopapad opened #969 "Realm: NCCL point-to-point communication incompatible with CUDA hijack"
NCCL v2 introduced a feature called "groups", whereby instead of blocking after each operation, multiple operations can be collected in a group and fired together. This feature is useful for avoiding deadlocks when one thread is managing multiple devices, and for making point-to-point communication easy to program (e.g. the user can implement an all-to-all by simply posting one send to each other

[2020-11-20 20:30] mariodirenzo commented on #956
The outputs are:

- for legion/bindings/regent/libregent.so:
[code]
- for real libcuda.so (available only on compute nodes):
[code]

- for stubs libcuda.so:
[code]

[2020-11-20 21:53] manopapad commented on #956
Can you try one of these two solutions?

1. Make a link to the stub libcuda.so named libcuda.so.1 (the same name that libregent.so is looking for):

[code]

Then run the link step with `LD_LIBRARY_PATH=$LD_LIBRARY_PATH:<some-dir-you-have-write-access-to>`. Apparently even while compiling, when a dynamic library needs to resolve its dependencies it asks the dynamic linker, and the dynamic linker re

[2020-11-24 21:06] mariodirenzo opened #971 "Regent: use of terralib.sizeof for fspaces"
The following script
[code]
fails to compile with the following error
[code]
if the line `var i = [terralib.sizeof(part(r, t))]` is included.

Adding @elliottslaughter for visibility

[2020-11-24 21:41] gshipman commented on #481
Regions and partitions associated with Tasks could be very helpful in debugging.

[2020-11-26 04:51] cmelone opened #972 "Compile error [CPU w/ GASNet]"
Hi, I'm running into issues compiling Legion, on Lawrence Livermore's Quartz system. I've been able to compile the GPU version successfully, but I get errors when building the CPU version.

[code]

Here's the error:

[code]

I would appreciate any guidance. Thanks!

[2020-11-26 10:59] lightsighter commented on #972
Can you share which branch you are on? This line number doesn't align with `master` or `stable`.

One thing I will say if you're not using the `stable` branch is that we did recently upgrade Legion's minimum c++ version to c++11 and gcc 4.9's support for c++11 wasn't fully complete and still had some bugs in it. You might try a slightly newer version of gcc (>= 5) to see if it makes things better.

[2020-11-30 11:05] mariodirenzo commented on #954
Works for me. Thank you very much

[2020-11-30 20:11] manopapad opened #973 "Review list of installed headers on make-based install"
The following headers are not obviously project-internal (e.g. they're not named "foo_impl.h" or "foo_internal.h"), but are not included in the make-based install of Legion. We've come across at least one app (Lux) that was using one of them (realm/cuda/cuda_module.h), so I assume some of these are actually public and should be included in the install. Could the appropriate people take a look at t

[2020-11-30 20:18] lightsighter commented on #973
All those headers are obviously internal header files to me. Clients of Legion and Realm should never need any of those header files. The make build system includes on the header files that should be user-facing in the installation.

[2020-11-30 20:19] lightsighter commented on #973
What exactly does Lux need out of `cuda_module.h`?

[2020-11-30 20:41] manopapad commented on #973
These are the offending lines: https://github.com/LuxGraph/Lux/blob/master/pagerank/pagerank_gpu.cu#L269-L277. Lux seems to be using `Realm::get_runtime()` and `Realm::RuntimeImpl::get_memory_impl` from `realm/runtime_impl.h` (which is obviously internal), and `Realm::Cuda::GPUFBMemory::alloc_bytes` and `Realm::Cuda::GPUFBMemory::get_direct_ptr` from `realm/cuda/cuda_module.h` in order to allocate

[2020-11-30 21:13] lightsighter commented on #973
@streichler Will need to say if he wants to allow that for Realm clients, but I believe the the answer is that they should use the instance allocation interface in `instance.h` and not be going through the side like that.

Since this is a Legion program, they should be using the `DeferredBuffer` interface to allocate memory that is local to the task, which will go through the accepted Realm `insta

[2020-11-30 22:14] manopapad commented on #973
I believe this memory is not task-local; it needs to persist for the lifetime of the app. Possibly the `instance.h` interface, or the new Legion variable-size allocation API are proper ways to do this. I made a corresponding issue on the Lux bug tracker: https://github.com/LuxGraph/Lux/issues/10.

[2020-11-30 22:56] streichler commented on #973
Reopening because I need to do a scrub of the Realm headers at least.

[2020-11-30 23:03] dzhang314 opened #974 "Can't directly assign between FieldAccessors with array syntax"
Consider this task which copies a field from one region to another. (In my case, `T = double` and `DIM = 1`.)
[code]
Notice the unary + operator in the line `dst_writer[*it] = +src_reader[*it];` -- if I remove the +, it fails to compile with the following error:
[code]

[2020-11-30 23:05] dzhang314 commented on #974
@streichler said in Slack:

[2020-12-01 01:36] lightsighter commented on #974
https://gitlab.com/StanfordLegion/legion/-/commit/c605731384c6ec85f2dee22d13e7b506110406f6

[2020-12-01 05:12] marcinz opened #975 "Incorrect assignment instead of comparison in an assert in Python module code"
An assignment is used instead of a comparison in [this assert](https://github.com/StanfordLegion/legion/blob/e07e9ebc612839ff4f5b33385a7e05113c5c3e90/runtime/realm/python/python_module.cc#L746). I tried to change it to comparison as I think was intended, but then the assert fails for me.

[2020-12-01 08:51] lightsighter commented on #974
This should be fixed now. Assigning @dzhang314 to confirm and close.

[2020-12-01 08:54] lightsighter commented on #973
For completeness, I've officially vetted the list of Legion header files and guarantee that the ones the Make build currently installs are precisely the user facing ones, no more and no less. I've also been curating the Realm list to do the same thing, but it's possible that I've misinterpreted some header files.

Side question: do we want to create a related issue to teach the CMake build system

[2020-12-01 21:24] lightsighter opened #976 "CI Configuration for nvc++"
We need at least one configuration for testing compilation of Legion and Realm with nvc++. We can get nvc++ publicly here:

https://developer.nvidia.com/nvidia-hpc-sdk-209-downloads

[2020-12-02 01:02] elliottslaughter commented on #971
This is happening because the escape runs during specialization. The types of `r` and `t` do not exist until type checking time. So when you attempt to create to concretize the `part(r, t)`, it fails because the compiler does not have complete type information.

It's not pretty, but you can work around it by creating dummy region/ispace types to pass into the `part` constructor:

[code]

I'll have

[2020-12-02 01:15] elliottslaughter commented on #706
Let me just say (for anyone who is watching this issue) that there is a very confusing example that seems to imply that this has been implemented. It has not been, and as far as I know the example is basically broken. But anyway, in some hypothetical future this syntax should be able to work:

https://github.com/StanfordLegion/legion/blob/master/language/examples/legion_interop.rg#L68-L78

[2020-12-02 18:37] cmelone opened #977 "Included file causing runtime error"
Hello,

I am using the latest version of the `control_replication` branch for [HTR Solver](https://github.com/stanfordhpccenter/htr-solver), but our latest CI build indicates an issue with how the macros in `runtime/mathtypes` were updated.

[code]

As far as I'm aware `thrust/complex.h` can't be compiled with GCC. Is this a non-issue/are we expected to compile programs with nvcc going forward?

T

[2020-12-02 18:40] cmelone commented on #972
I am no longer getting this error, was using the `control_replication` branch.

[2020-12-02 18:40] #972 closed

[2020-12-02 19:11] lightsighter commented on #977
You're actually wrong: thrust can be compiled by gcc. The problem here is that you don't have thrust installed in a normal location. Which version of CUDA are you using and where is it installed? Which commit of which branch are you on? Are you using the make or the cmake build system?

[2020-12-02 19:18] lightsighter commented on #977
This works just fine for me:

[code]

[2020-12-02 20:42] cmelone commented on #977
I'm currently on commit `011b0008` of `control_replication`. I'm using CUDA version 10.2.89 and using the make build system. I went back and checked our logs, the build worked last on commit `9fecb52f` of `control_replication`, just a day or two ago. The environment hasn't changed (CUDA is available and I checked that  `/usr/local/cuda-10.2/include/thrust/complex.h` is available on the machine) an

[2020-12-03 00:12] lightsighter commented on #977
Are you passing `-I /usr/local/cuda-10.2/include` to your dynamic invocation of gcc in your Regent application? Are you even using complex support?

[2020-12-03 00:49] elliottslaughter commented on #977
Where is the code that invokes `gcc`? I might have some comments on how that's being done.

[2020-12-03 03:02] lightsighter commented on #977
Just based on the command line and the error message it looks like it's coming from inside the Regent application itself.

[2020-12-03 08:20] mariodirenzo commented on #977
The issue is generated by a missing include path in the HTR's Makefile that is required in the new version of `control_replication` (probably on `master` as well). I've fixed the problem in the development branch of HTR, so it will build without problems.

`gcc` is invoked directly from the Makefile with a command line that looks like https://github.com/stanfordhpccenter/HTR-solver/blob/master/src

[2020-12-03 09:50] lightsighter commented on #680
I had a little bit of insight today on this issue that is worth documenting. While I think we should definitely move in the direction of reducing our processor kinds down, I don't think we can quite get to the place where there is only a single "application" processor kind which has lots of different properties. Specifically, I think we still need processors that name hardware computational resour

[2020-12-03 09:54] lightsighter commented on #977
@mariodirenzo Does HTR even need complex number support? Complex number support is opt-in in Legion, but opt-out in Regent.

@elliottslaughter How can regent users disable complex number support?

[2020-12-03 10:07] mariodirenzo commented on #977
Currently it does not but It will need it soon

[2020-12-03 10:26] dzhang314 commented on #974
@lightsighter Looks good to me. Thanks for the quick fix!

[2020-12-03 10:26] #974 closed

[2020-12-03 16:48] elliottslaughter commented on #977
I think if you're willing to include Legion's `runtime.mk` in that Makefile, you should be able to get the flags automatically. Then you don't need to know or hard-code all the paths yourself. (On the other hand, I don't know what all the interactions would be, so you do need to be a bit careful as well to make sure you don't mess up your configuration in the process.)

Regent complex support is c

[2020-12-03 18:36] manopapad commented on #680
Specifically for python, before it can become a property that can be applied to more than one processors we need support for subprocesses https://github.com/StanfordLegion/legion/issues/627, so we can have multiple copies of the python interpreter under the same runtime. Until then "python" will have to function more like an "application" processor, of which there can only be one per runtime.

How

[2020-12-03 19:17] syamajala commented on #957
I think this is good for now.

[2020-12-03 19:17] #957 closed

[2020-12-03 19:19] syamajala commented on #845
We would like to start thinking about porting the stencil to regent to make it easier to debug in the future. How much work is involved in doing this and #844?

[2020-12-03 19:46] lightsighter commented on #680
I don't think that's necessarily true. You can have just one Python interpreter that is used by all the processors with that property. You would have to serialize access to it and it would become a sequential bottleneck if multiple processors all tried to use it concurrently, but I believe it would work correctly.

[2020-12-03 19:49] elliottslaughter commented on #680
Exactly. At the moment, we have a guarantee that only one Python thread is running in an interpreter at a time. This is actually kind of nice because it means you don't need to worry about synchronization like you normally would in concurrent programs.

(Python's GIL is not sufficient as it provides no guarantees about where in a function it may break execution; i.e. code is still concurrent even

[2020-12-03 20:14] lightsighter commented on #680
In the long run, I think it will actually be an open configuration question for users how they want to configure Python interpreters with processors. You can imagine a case where you want a Python interpreter separately for each processor so you can run as many parallel Python tasks as possible, but you can also imagine a case where you want just a few or one Python interpreter so that tasks can s

[2020-12-03 20:58] cmelone commented on #977
Can confirm that compile succeeds with the solver's latest build. Thank you @lightsighter @elliottslaughter

[2020-12-03 20:58] #977 closed

[2020-12-05 00:33] bandokihiro opened #978 "OpenMP: external libraries get linked to the application"
I am using Kokkos-kernels in a task. I have both Kokkos and Kokkos-kernels compiled with OpenMP backend as static libraries. Legion is also compiled as a static library.

When enabling MKL support in Kokkos-kernels, the final application binary gets linked dynamically to `libiomp` which could interfere with Realm's omp implementation.

Here is an `ldd` of my executable when MKL is disabled for Kok

[2020-12-05 00:42] bandokihiro opened #979 "LegionProf: missing tasks with -s"
On `control_replication`, doing
[code]
misses one of my task `iface_residual_task`. For example, reverting back to commit f96e7d2562db0abbeda05f60237e2bf1456004c5 fixed it.

Feel free to use this file on sapling to reproduce.

[2020-12-05 10:29] lightsighter commented on #978
Which build system are you using? Did you make sure the `-DREALM_OPENMP_KMP_SUPPORT` macro was set during compilation of Realm?

[2020-12-05 20:03] bandokihiro commented on #978
I am using cmake. This macro is defined. I think @streichler knows what to do. This is due to the fact that legion cmake does not attempt to modify link flags with Kokkos kernels.

[2020-12-07 18:59] elliottslaughter commented on #966
Right, for now we've implemented the ability to call from Python to Regent but not the other way around. Going the other direction only works in a very limited set of circumstances; and probably a task with no arguments is the only case I can guarantee that works right now.

[2020-12-07 19:23] elliottslaughter commented on #845
This is probably a week or so of work, but the bigger issue is #844 where we don't really have a clear direction for the design of the abstraction right now. (So if you have ideas, please suggest them.)

[2020-12-09 16:00] fnrizzi opened #980 "regent: not building on macOS catalina"
Hello!
I tried to execute these commands which are on the official website:
[code]
However, the script is looking for `LLVM_DIR` not `LLVM_CONFIG`, so I fixed that.
But then I get this error:
[code]
any suggestions please?
Thanks

[2020-12-09 16:26] streichler commented on #980
I'm sure @elliottslaughter has the recipe for this memorized, but I think you need to make sure that you've asked xcode to install the header files (this is no longer the default) and then (since I think you're using cmake here), set the `SDKROOT` environment variable as described here:
https://cmake.org/cmake/help/latest/variable/CMAKE_OSX_SYSROOT.html

[2020-12-09 16:38] fnrizzi commented on #980
@streichler thanks Sean :)
- Regarding the header files, I noticed that it was highlighted in bold in the guidelines but not sure how to do with brew.
Maybe adding a specific command to do it would be helpful, jsut a thought from a user perspective :)
- cmake: not explicitly right? does install.py use cmake underneath?

[2020-12-09 18:51] elliottslaughter commented on #980
I need to go update the official instructions, but in the mean time, the issue you're hitting is https://github.com/terralang/terra/issues/365 and if you follow the instructions in the [comment here](https://github.com/terralang/terra/issues/365#issuecomment-618512629) then you should be able to get it working. That should be all doable via environment variables (I think).

[2020-12-09 19:14] elliottslaughter commented on #980
Ok, for the record, I got the build to work by downloading the LLVM binaries at:

https://github.com/llvm/llvm-project/releases/download/llvmorg-9.0.1/clang+llvm-9.0.1-x86_64-apple-darwin.tar.xz

I set up my environment like:

[code]

And then I built with:

[code]

Right now it looks like that's the best route since Homebrew refuses to build `llvm@9` without a full XCode installation, which I do

[2020-12-09 19:16] fnrizzi commented on #980
thanks for reply!
I am not sure I understand where is cmake involved. Is it called by the `./install.py`?

[2020-12-09 19:19] elliottslaughter commented on #980
There are two separate projects being built, Terra and Legion. The flags `--cmake` / `--no-cmake` affect Legion, Terra is built with CMake regardless.

But actually, I realized that CMake is not the issue, it's only that C++11 is now mandatory. So the following works as well:

[code]

[2020-12-10 11:31] fnrizzi commented on #980
@elliottslaughter
I just tried to follow these:
[code]
but it still does not work for me. It seems it gets farther than before, but still get this error [regent_error.txt](https://github.com/StanfordLegion/legion/files/5672360/regent_error.txt)

[2020-12-10 17:58] bandokihiro opened #981 "Realm: incorrect cuda synchronization in non-hijack mode"
@streichler knows what this is about (and I don't know enough to provide an useful description).

[2020-12-10 18:21] streichler commented on #981
The problem is that we do a `cuCtxSynchronize`, which prevents that GPU processor from running any other tasks, but it doesn't stop the previous task from claiming it's complete, which means copies to/from device memory might not be properly synchronized.  This patch works around it:
[code]
but the right thing to do is to farm the `cuCtxSynchronize` calls off to subthreads to make them behave like

[2020-12-10 19:51] elliottslaughter opened #982 "Find new source of macOS CI coverage"
As has been noted elsewhere (https://github.com/terralang/terra/issues/355), there are changes coming for the free Travis CI support. This is not a large impact for us since most of our coverage (that matters) is on Gitlab, but we do get macOS coverage from Travis.

We have three options to continue our macOS CI coverage:

 1. Move from travis-ci.org to travis-ci.com (note the domain extension). A

[2020-12-12 00:08] magnatelee opened #983 "Regent: Slow atomic updates in CUDA tasks with LLVM 9"
I found today that LLVM 9 (and likely other versions using the NVPTX backend) does not lower NVVM's atomic intrinsics, which makes the Regent compiler emit an ill-formed PTX. As a workaround, I changes the compiler to emit the slow atomic update implementation ([bab441ea](https://gitlab.com/StanfordLegion/legion/-/commit/bab441eaf709b545a2f3de93676fae74d75bef10)), but we need to teach the compiler

[2020-12-12 01:01] elliottslaughter commented on #980
What's your CMake version on your workstation? I thought I'd set the minimum version correctly, but maybe something slipped past me.

I don't think you need to set CC/CXX; this is not a compiler issue.

As for your mac issue, I'm a bit confused. I guess I should verify what macOS version you're on, and whether you have XCode or Command Line Tools, since those are the only things I can think of tha

[2020-12-12 08:56] fnrizzi commented on #980
thanks for the reply!
(1) re CC/CXX: basically, you are saying that I should NOT set those before doing anything either on linux or mac?
Those env vars don't matter for regent and terra builds?

(2) workstation: I have cmake-3.16.3

(3) mac: catalina, 10.15.6. I do have Xcode and CLT.
[code]

[2020-12-14 15:14] LonelyCat124 opened #984 "Regent: Slow "inbuilt" HDF5 performance"
I'm not sure if this is simply due to me creating/deleting regions and this being overly expensive, so if so apologies, but I don't believe it does.

TLDR: Using attach/acquire/release/detach is much slower than using HDF5 directly.

I have 2 implementations of using HDF5 through regent (with some metaprogramming). The first I created does file creation using HDF5 calls, and then:
[code]
The `hdf5

[2020-12-14 20:08] lightsighter commented on #984
Can you capture Legion Prof profiles running both ways?

[2020-12-15 12:33] LonelyCat124 commented on #984
Profiles both ways are available here: https://drive.google.com/drive/folders/1tU7x8M21HkPngbUGiLUQ4V3OSuRMgCJL?usp=sharing (~50MB each).

`inbuild_prof.gz` is the one using attach etc. while `alt_prof.gz` uses HDF5 code directly.

[2020-12-16 05:47] lightsighter commented on #984
I don't see anything unusual in these profiles from a Legion perspective. The "inbuild" profile looks completely limited by the application CPU processor. The Legion utility processor is not busy at all and neither is the Realm DMA channel which would be moving the HDF5 data. It looks to me like `main` is busy for very long stretches of time, often 50-100ms where it is not asking Legion to do any

[2020-12-16 08:59] lightsighter commented on #765
Most of the remains undone due to new equivalence set work. Moving to the next milestone.

[2020-12-16 09:04] lightsighter commented on #690
Still waiting behind #765 and therefore unlikely to be done by the next release either, bumping two releases.

[2020-12-16 09:05] lightsighter commented on #828
Seems unlikely this will get done in the next release either, bumping two releases.

[2020-12-16 09:06] lightsighter commented on #792
Definitely not making this release, bumping to the next one.

[2020-12-16 09:08] lightsighter commented on #627
Depends on #690 which is slated for the 21.06 release, so put this in the release following.

[2020-12-16 09:09] lightsighter commented on #564
I don't foresee us getting to this for quite a while, moving a year out.

[2020-12-16 09:11] lightsighter commented on #546
Still a strong precondition for #765 which is slated for 21.03 now, so keep it in the same release.

[2020-12-16 10:23] LonelyCat124 commented on #984
Ok - I'll rerun a profile with a standard profiler to see if I can track down what is happening - the two codes are identical outside the code that handles File I/O - i.e. HDF5 calls vs region/attach/release/etc.

[2020-12-16 12:44] LonelyCat124 commented on #984
Ok - I ran both versions through vtune hotspots collection on HPC machine (1 thread for util & cpu), to ensure no other noise could be interfering.

The manual version hotspots were:
[code]
so no big hotspots anywhere.

With the inbuilt HDF5 implementation I get:
[code]
I think the next 2 hotspots might be the creation and deletion of those regions again (`Legion::PhysicalRegion::~PhysicalRegion`

[2020-12-17 05:31] lightsighter commented on #940
This has been added to the `master` and `control_replication` branches. There is a `get_parent_task` method on the base `Mappable` class. I also added a `has_parent_task` method on the `Task` class. The `parent_task` member variable is still there but it's marked `mutable` now which reflects that its value might initially be `NULL` but could change with calls to `get_parent_task`. Going forward, c

[2020-12-17 05:31] #940 closed

[2020-12-17 10:29] lightsighter commented on #984
We need to see backtraces for those hot spots. Just seeing the lowest level function call is not helpful. Vtunes will know what the backtraces are but you'll probably need to dig around for them.

[2020-12-17 13:53] LonelyCat124 commented on #984
Backtrace for the top hotspot I think is (no line numbers as I'm not sure how to compile Regent with debug information and still optimised for performance - maybe the `LEGION_BACKTRACE=1` would work but I'm not sure if that needs debug mode on)
[code]

It looks like that is a bit of task code so I'm guessing the copy_task code is very slow, though all it does is "copy" (a subset of) the data betwe

[2020-12-17 20:37] lightsighter commented on #984
If these are the hotspots, it suggests you are making a truly huge number of regions in this application. How many regions do you think are being made? If you are willing to assert that the runtime does not need to check the safety of each operation launch with respect to these regions, then you can run with `-lg:unsafe_launch` flag. If you've messed up in your application at all through then you

[2020-12-17 20:46] LonelyCat124 commented on #984
I'll have to recheck but I think it should be creating 4 regions, or 9 regions if attach/release creates regions. The difference between the two versions should be +1 region for the inbuilt HDF5 version. I'll double check the code tomorrow but that is my current understanding.

[2020-12-17 22:58] lightsighter commented on #984
It's making way more than that (or many fields, hard to say) if we're spending most of our time in that particular piece of code. Please generate a Legion Spy log of a shorter run with `-lg:spy`.

[2020-12-18 14:06] LonelyCat124 commented on #984
The spy logs are here https://drive.google.com/drive/folders/1tU7x8M21HkPngbUGiLUQ4V3OSuRMgCJL?usp=sharing

I'm currently running spy with `-dezk` on them to see what output I get but the event graphs are taking a long time to build (at least for the inbuilt version)

[2020-12-18 15:00] syamajala opened #985 "Regent: setup_env.py USE_CMAKE"
This is not right: https://github.com/StanfordLegion/legion/blob/stable/language/scripts/setup_env.py#L511

os.environ can only contain strings so the check must be os.environ.get('USE_CMAKE') == '1'.

[2020-12-18 23:44] streichler opened #986 "realm: gasnetex network layer (documentation/tracking issue)"
NOTE: Original issue was #628 which may still be of interest to folks.  This issue is acting as initial documentation and a centralized location for reporting of issues and/or results.

What: The gasnetex network layer is a ground up rewrite of Realm's use of GASNet for inter-node communication, taking advantage of a number of features of GASNet-EX that were not present in GASNet-1.

Requirements:

[2020-12-19 05:49] lightsighter commented on #984
Please make a new Legion Prof performance profile with `-lg:unsafe_launch`.

[2020-12-21 12:14] fnrizzi commented on #980
@elliottslaughter do you have any updates on the items above? thanks

[2020-12-24 19:05] ipdemes commented on #871
Hi all,
I have tried this spack packaged for our FLeCSI+Kokkos build and have some comments. Where would be a good place to post them?

[2020-12-24 19:09] streichler commented on #871
@ipdemes Go ahead and put them here for now at least.

[2020-12-24 19:17] ipdemes commented on #871
@streichler OK.
1. this might be specific to Kokkos+Clang+Cuda build, but we need to be able to add  `+pic`  and `std=..`  to kokkos dependencies when building with Legion
2. I think we could have '+cuda_lambda' be added to kokkos dependencies (assuming that Legion users are using c++11 and higher)

[2020-12-27 19:56] streichler commented on #981
This is fixed in master with commit 68698248.

[2020-12-27 19:56] #981 closed

[2020-12-27 20:01] streichler commented on #941
Hijacking this issue to start a more meta-discussion.  @junghans what are your opinions of the relative merits of standard-linux-distribution-packages vs a spack-based approach to things?  The latter seems to me to be much more compatible with a very configurable-at-build-time system like Legion, and I wonder if it's simpler to stop providing pre-built packages and just point people at spack?

[2020-12-27 20:04] streichler commented on #730
This has been in master for a while now.  Not all channels are using it yet, but the key ones (memcpy and rdma) are.

[2020-12-27 20:04] #730 closed

[2020-12-27 20:06] streichler commented on #628
An initial implementation that's has held up under moderate testing so far is in master with commit 4d02198.
Closing this issue and tracking further updates/problems/suggestions in #986.

[2020-12-27 20:06] #628 closed

[2020-12-27 20:22] lightsighter commented on #730
What about GPU-to-GPU? Is that covered under "memcpy"?

[2020-12-27 20:51] junghans commented on #941
I originally packaged legion (and gasnet), so we could use these packages in the CI for Flesci, but we switched to Spack a while ago as well. So I am not sure if anybody is still using Legion in Fedora.

The problem with spack is that it will build the whole stack, which can lead to many not Legion related build issues.
Plus Spack won't give you the same coverage of architectures and build flags a

[2020-12-27 22:11] streichler commented on #975
@marcinz I've got a proposed change here: https://gitlab.com/StanfordLegion/legion/-/commits/pyfix
Can you give it a try at some point at confirm that it doesn't cause any weird behavior?  This isn't super-urgent,
as I don't want to merge it into master until after we do the 2020.12 release.

[2020-12-27 22:12] streichler commented on #924
@chaitanyaupp18 I'm going to close this issue, but please don't be shy about reopening it if you are still seeing problems.

[2020-12-27 22:12] #924 closed

[2020-12-27 22:16] streichler commented on #904
This went into master with commit 1d4d32e in time for the 2020.09 release.

[2020-12-27 22:16] #904 closed

[2020-12-27 22:17] streichler commented on #894
Closing due to lack of activity.  @LMNS3d please don't be shy about reopening the issue if you're still encountering difficulties.

[2020-12-27 22:17] #894 closed

[2020-12-27 22:19] streichler commented on #899
Closing due to inactivity.  @hailijuan please feel free to reopen the issue if you're still seeing a problem.

[2020-12-27 22:19] #899 closed

[2020-12-27 22:20] streichler commented on #880
@magnatelee is this done?  If not, can you summarize what remains?

[2020-12-27 23:01] streichler opened #987 "ci: test building against installed version in addition to in-tree builds"
We've had various issues with missing headers and linkage strangeness.  We should get coverage of this case in our CI tests.

[2020-12-27 23:03] streichler commented on #758
I'm assuming whatever app was failing nearly a year ago has learned to work around or cope with this, so I'm closing this out in favor of a more general need to test against installed versions, captured in #987.

[2020-12-27 23:03] #758 closed

[2020-12-27 23:04] streichler commented on #793
Closing this out as "not reproducible".  An actual reproduction of the issue is grounds for reopening it.  :)

[2020-12-27 23:04] #793 closed

[2020-12-27 23:56] streichler commented on #941
I agree that Fedora's testing of a variety of architectures is nice, but I don't think it's worth the liability of folks thinking there's an "official" configuration of Legion for Fedora.  @junghans , can we discontinue the Fedora package unless/until we decide on what that official configuration should be?

[2020-12-28 01:48] streichler commented on #863
I tried adding a CI test for this and I'm seeing a hang in the `examples/domain.py` script when run with 2+ nodes.  From the Realm logs, it looks like a barrier-related hang:
[code]
Adding @lightsighter  - I'm happy to enable some CI testing for this, but it needs to be a config that somebody has tried and verified to be working first.

[2020-12-28 05:40] junghans commented on #941
Done.

[2020-12-28 05:40] #941 closed

[2020-12-28 06:19] lightsighter commented on #863
Application phase barrier, not a Legion phase barrier, removing myself and assigning @elliottslaughter :

[code]

[2020-12-28 06:21] lightsighter commented on #863
If I had to guess, this code looks like it's running in the top-level task, and will therefore only work in multi-node settings with control replication where you are guaranteed to have it called on every node.

[2020-12-28 20:28] streichler commented on #982
Github Actions is looking promising for being at least as good as Travis ever was, but it won't be ready in the next couple days, and it's not clear that its support for custom runners matches what we need for e.g. cuda tests, so I think I'm still favoring the answer being "(2) and (3)".  However, I think we can rule out option (1) and I've gone ahead and shut off the Travis CI runs since they're

[2020-12-28 21:10] streichler commented on #863
I tried running these changes on top of the CR branch and saw no difference, if that means anything.

Also, the error for regent tests looks different: https://gitlab.com/StanfordLegion/legion/-/jobs/934678431

[2020-12-28 22:41] lightsighter commented on #863
Just means that my speculation was wrong.

Also an application bug: passing in empty futures (e.g. ones that Legion did not make and have no value `Future()`) are illegal.

[2020-12-29 00:18] lightsighter commented on #863
@streichler pull and try again with control replication. You `-ll:cpu 0` was causing havoc with the way that `LegionPyMapper` counts address spaces. It should work now in the control replication branch. Still doesn't work in master, I think because of my original hypothesis that Pygion requires control replication for multi-node runs to work correctly.

[2020-12-29 06:36] lightsighter opened #988 "Realm Dynamic Logger Optimizations"
Running with a low value of `REALM_LOGGING_MIN_LEVEL` can result in substantial runtime overheads for applications. As an experiment, I ran the Legion C++ version of Pennant on a DGX-1V with 8 GPUs, with optimizations on (`-O2`), with `-lg:no_physical_tracing` so we see all the runtime overhead, and with the `sedovsmall.pnt` input  for 1K iterations to ensure we were runtime limited. Here are the

[2020-12-29 18:23] bandokihiro opened #989 "LegionProf issue"
I got this error message with the attached prof log
[code]
I am on commit 22954a1842f8334013743172637d32d232547786 on `control_replication`.
[prof_0.gz](https://github.com/StanfordLegion/legion/files/5751717/prof_0.gz)

[2020-12-30 10:29] lightsighter commented on #989
You can safely comment out these two lines for now and nothing bad will happen:
https://gitlab.com/StanfordLegion/legion/-/blob/master/tools/legion_prof.py#L1981-1982
@seemamirch will need to say if that is the correct long term fix.

[2020-12-30 17:55] seemamirch commented on #989
pushed a fix to master
https://gitlab.com/StanfordLegion/legion/-/commit/7961c04906048570b3cd50ba2a407cf2ebc6fbf8

[2020-12-31 02:20] JBlaschke opened #990 "Build on NERSC Cori fails using aries"
I am trying build on NERSC's Cori system using the `aries` GASNet Conduit, but I am getting:
[code]

Full CMake output:
[code]

I looked around, but I couldn't find a solution documented anywhere.

[2020-12-31 02:45] streichler commented on #990
What version of GASNet are you using and how was it configured?

[2020-12-31 06:04] lightsighter commented on #949
I'm planning to add an `LEGION_IMPLICIT_CONTEXT` macro that C/C++ users can pass to methods that require a context argument. The runtime actually knows the right context to use right now with it's thread-local variables, so there's no need to pass the context around explicitly anymore. This will also avoid us having to split the whole Legion API into "context" and "context-free" parts which we did

[2021-01-04 11:44] LonelyCat124 commented on #984
I'm recounting regions - I believe I create:
particle_array
config
io_region
padded_particle_array (and delete particle_array)
TradeQueueRegion

so exactly 5 regions should be created. The loop section of the code shouldn't create any additional regions.

It seems like `-lg:unsafe_launch` hangs (never doing output) if i return to the original profile strategy of output every 0.001s sim time, but i

[2021-01-04 17:00] bandokihiro commented on #989
fixed, thanks

[2021-01-04 17:00] #989 closed

[2021-01-04 17:05] bandokihiro commented on #979
I am using the legion prof summary to measure the performance of my tasks and one task of interest is missing because of this bug. Is there an ETA on a fix?

[2021-01-04 17:07] seemamirch commented on #979
I'll look at it today

[2021-01-04 21:07] seemamirch commented on #979
pushed a fix in master https://gitlab.com/StanfordLegion/legion/-/commit/343ba085b05e54012df54e6fa4887fa57f92d5ef

[2021-01-06 03:49] bandokihiro commented on #979
fixed, thanks

[2021-01-06 03:49] #979 closed

[2021-01-06 10:11] lightsighter commented on #984
The `-lg:unsafe_launch` is exactly what it says. It is unsafe; it removes the protections for detecting when the runtime needs to unmap and remap physical regions that are currently mapped in the executing task to prevent a dependence between the parent task and a child task being launched, which will exhibit as a hang. If you're hanging with `-lg:unsafe_launch` it means that the runtime is having

[2021-01-06 10:26] LonelyCat124 commented on #984
Ok - since it only appears to hang (or have performance degredation) when I use attach/release etc. to do file output  (and not when I use HDF5 directly) I assume its related somewhat to mapping that region?

This program is written in Regent - is there a subset of mapper calls that would be easiest to look into to try to find out whats happening/try to avoid the program? I've not really had much

[2021-01-06 11:15] lightsighter commented on #984
This the mapping and unmapping of `PhysicalRegion` objects in Legion which are controlled by the application, in this case Regent. You can't control them with the mapper. I think you and @elliottslaughter should get to the bottom of why the Regent compiler is doing such a poor job in this case.

[2021-01-07 20:25] elliottslaughter commented on #984
Regent should be optimal with respect to mapping/unmapping unless you have a statement with (a) uses a region locally, and (b) passes it to a task or another remote operation, (c) **at the same time**. This is unusual in practice, so I'd be a bit surprised.

One thing you could do is attempt to mark tasks as `__demand(__leaf)` or `__demand(__inner)`. This will not change the behavior of the compil

[2021-01-07 20:49] lightsighter commented on #984
How does regent deal with `PhysicalRegion` objects that have been mapped as part of attach operations?

[2021-01-07 20:49] elliottslaughter commented on #863
@lightsighter is right: the way we are currently running these tests, it will only work with multiple nodes in `control_replication`.

For what it's worth, there is a way to make it work in `master`, we just don't have it enabled right now. But given it works in `control_replication` I'd be inclined to just stick with that.

[2021-01-07 20:58] elliottslaughter commented on #984
I think we just store them in a variable and look it back up on detach. This fairly hacky and would be relatively easy to mess up if the application were doing something complicated.

If I remember correctly, I think the use of attach/detach with a non-inner task is officially unsupported in Regent for this reason.

[2021-01-07 22:19] LonelyCat124 commented on #984
Ah, ok - I think currently the code has the attach/detach in the main task, and then launches the copy task which I've not marked as `__leaf`. Is the main "non-inner"? I'll try marking the copy task as a leaf task on Monday and see if the issue persists.

[2021-01-07 22:24] elliottslaughter commented on #984
The issue is more likely to be in the main task than in anything it calls, assuming main is the only one that uses attach/detach.

I'd start by trying to mark main as `__inner` and see what that says.

(Using `__leaf` for other tasks is good in general, but is less likely to be related to this particular issue.)

[2021-01-07 22:33] elliottslaughter commented on #980
Trying to page this back into memory...

1. I think I was saying that the error `string sub-command REGEX ...` wasn't related to the setting of `CC` / `CXX`. Of course those variables determine what compilers the build use. But this is happening at CMake configure time.

2. That should be new enough so I don't know why you'd hit this. (Unless `REGEX` changed in a backwards incompatible way in rece

[2021-01-07 22:45] elliottslaughter commented on #985
Fixed, thanks!

[2021-01-07 22:45] #985 closed

[2021-01-08 18:45] elliottslaughter opened #991 "Regent: aggregate reduction privileges in the default calling convention"
There was a time when (I believe) Legion required all reduction fields to be placed in their own region requirement. As a result, we split those out in Regent (one region requirement per field). I believe this is no longer necessary and that it would be more efficient (and better for some users) to aggregate them.

This is technically a breaking change to the calling convention, though I'm not awa

[2021-01-08 19:34] lightsighter commented on #991
That's accurate from a Legion perspective. All fields in the same region requirement though must share the same reduction privileges and there is still no way at the moment to describe a reduction operator that operates on several fields simultaneously.

[2021-01-09 23:26] PHHargrove opened #992 "Build failure in realm/gasnetex with GCC 4.8.5 from RHEL7"
I am trying to compile the new gasnetex backend for ibv-conduit on a system running Scientific Linux 7.3 (a RHEL 7.3 clone, like CentOS).   On this system, the default compilers in `/usr/bin` identify as `gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC)`.

Since this `g++` defaults to C++98 I have set `CXXFLAGS=-std=c++11`, without which the build fails much earlier than in this report.

The fa

[2021-01-10 01:23] lightsighter commented on #992
As of our most recent release, Legion and Realm are both requiring c++11 as a minimum version for c++. GCC 4.8's support of c++11 was really flaky, so I wouldn't be surprised if it is not propagating const expressions properly. I would be interested to see what happens with GCC 5.1. Note that even GCC 5.1 is approaching 6 years old in a few months.

[2021-01-10 01:51] PHHargrove commented on #992
I have confirmed that builds with GCC 4.9.4, 5.1.0 and 6.4.0 are all error free.

[2021-01-10 05:30] lightsighter commented on #992
I think we can just write off GCC 4.8 then as not really c++11 compliant. I'm going to close the issue, but if you would like to us to try to fix it then go ahead and reopen it.

[2021-01-10 06:04] streichler commented on #992
Reopening and assigning to me so that I can make sure we write down the supported compiler versions somewhere.

[2021-01-10 07:33] PHHargrove commented on #992
Mike,  I didn't actually report this in the hopes you'd work to support this old compiler.
Sean asked me to enter it to (as he has already noted) help ensure he finds the true floor and documents it.
However, thanks for the "if you would like us to try..." offer.

[2021-01-10 18:08] streichler commented on #992
I have confirmed that we are lacking coverage of Realm's networking code (all of it, not just gasnetex) with g++ 4.8 in our CI tests.  I'm adding tests (in a branch) that I expect to reproduce this failure.  The good news is that a web search has turned up a possible workaround that might be easier than fixing the documentation.  :)

[2021-01-10 22:20] lightsighter commented on #992
It's worth noting I'm pushing hard to build out Legion's use of c++11 features for both performance and code-maintainability. I've already found broken c++11 features in older versions of GCC that I've had to disable:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_utilities.h#L614-617

I would be in favor of just writing off all versions of GCC before 5, since 5 is w

[2021-01-11 11:09] LonelyCat124 commented on #984
Ok - I started by trying to mark as `__inner` , but this was disallowed because I was setting the initial data - which I then moved into a separate task - but other of the setup code inside metaprogrammed sections still disallowed the main task being inner.

I then tried moving the timestep code into its own task, and marking that as inner, but am having a few issues due to not passing the cell pa

[2021-01-11 13:28] LonelyCat124 commented on #984
Ok, I managed to cut some stuff from the code and use an inner task and this fixed the problem, so the only remaining issue I have is how I can generate an inner task with metaprogramming - i think with that then it would all be fine.

[2021-01-11 17:39] elliottslaughter commented on #984
The syntax is a bit odd, but you should be able to do:

[code]

We don't get to control the use of `local` so unfortunately we're forced to put all Regent keywords after that point.

[2021-01-11 19:03] magnatelee commented on #880
There is one extension I'd like to make, but the basic functionality is done and I'd feel comfortable closing this issue.

[2021-01-11 19:04] magnatelee commented on #880
Actually, we are still waiting for the changes to be merged, so I guess we should keep this open until that merge happens.

[2021-01-12 07:51] lightsighter commented on #880
Adding dependence on #765

[2021-01-12 13:20] LonelyCat124 commented on #984
That seems to work - the only remaining thing to implement it correctly I can't work out is if there's a way to pass a string into a task. I can't use `rawstring` since its just a pointer under the hood - is the only option to make a region and set that each time? i.e.
[code]
and then reconstruct the string in the inner task to attach/detach? Is there an easier way to put a string in a region?

[2021-01-12 19:18] manopapad commented on #956
Did any of the above work for you?

[2021-01-12 22:36] elliottslaughter opened #993 "Regent: make field order in region requirements deterministic"
This shouldn't be a problem for anyone, unless you are looking at the contents of region requirements (e.g., inside of a mapper) and would like the order of fields to be deterministic.

I have a branch `fix-regent-field-order` that has a tentative change, but I had to back it out of `master` because was causing issues in CI that I cannot reproduce locally.

Example of a failure: https://gitlab.com

[2021-01-12 23:54] lightsighter commented on #993
Do we know why the log truncates printing? Seems like the actual error message is blow where the printing stops.

[2021-01-13 00:14] lightsighter commented on #993
I reproduced it:

[code]

[2021-01-13 00:32] elliottslaughter commented on #993
Interesting. I got that, but then it didn't go away when I did a `git reset --hard` to an old commit. I'd assumed I'd just broken something.

[2021-01-13 00:57] elliottslaughter commented on #991
Pushed to branch `regent-reduction-field-aggregation`. Waiting for CI because my local installation is broken at the moment.

[2021-01-13 01:02] lightsighter commented on #993
That was actually the master branch on aa9086b348... not sure how I managed that. I couldn't figure out where the assertion was coming from. It has something to do with assumed layout on the application side though.

[2021-01-13 01:06] elliottslaughter commented on #993
It's a Regent internal assert. Actually, I don't understand this either, but I didn't bother to look into it since I thought my install was broken. It could happen (a) if your field size was somehow off, or (b) somehow we got an C order region instead of a Fortran order one, for some reason. I don't honestly see how we could get either of those.

Anyway, the CI went back to normal on the latest `m

[2021-01-13 01:29] lightsighter commented on #993
Is that assertion coming from inside of Regent or from the application code somewhere?

[2021-01-13 07:07] elliottslaughter commented on #993
I'm pretty sure it's inside Regent's accessor code in codegen.

[2021-01-13 09:46] lightsighter commented on #993
I did reproduce it also in the `fix-regent-field-order` branch as well. So one thing that is probably true is that the order fields are added to region requirements still gets recorded in the `vector<FieldID> instance_fields` in the region requirement and is probably used by the default mapper to determine layouts.

[2021-01-13 11:04] LonelyCat124 commented on #984
I think this is all fixed (so issue can be closed). Suggestion for the regent website would be to add a comment saying to only use attach/detach in inner tasks.

[2021-01-13 19:59] elliottslaughter commented on #993
When I go to Cori, for example, I can't reproduce this issue (or the one in the CI) on either `master` or `fix-regent-field-order` branches. So I guess I need to look at Sean's Docker-ify script next.

[2021-01-13 22:28] lightsighter commented on #993
Have you tried using Python 2 instead of 3? I know it's technically deprecated, but it seems to reproduce for me on Python 2.

[2021-01-13 23:31] elliottslaughter commented on #991
This should be fully functional now, so assuming it passes CI, I will merge it.

[2021-01-14 00:03] elliottslaughter commented on #993
Ok, reproduce on Cori. (I had forgotten to enable Python before.) The actual error is:

[code]

[2021-01-14 01:02] elliottslaughter commented on #991
This is now merged into `master`.

[2021-01-14 01:02] #991 closed

[2021-01-14 01:14] elliottslaughter commented on #984
Thanks for letting us know.

I added a new warning under the "Attach and Detach" section of the reference: http://regent-lang.org/reference/ . (Unfortunately header links are broken at the moment so I can't give you a direct link, but you can search for the header.)

[2021-01-14 01:14] #984 closed

[2021-01-14 10:10] lightsighter commented on #993
I would be pretty surprised if this is a Legion bug. The accessor construction code gets hammered on by every Legion application. Do you suspect a compiler bug?

[2021-01-14 13:26] mariodirenzo commented on #956
Hi @manopapad,
I'm sorry I forgot to answer this thread. The solution 1 fixes the issue, though I do not know if that is the log term fix that should be applied.

[2021-01-14 19:00] manopapad commented on #956
This message `ERROR: unrecognized lowlevel option: -ll:gpu` usually means that libregent.so was compiled without CUDA support. Can you confirm that you set `USE_CUDA=1` or something equivalent when compiling this libregent.so?

[2021-01-14 19:09] mariodirenzo commented on #956
Yes, if I just re-link the executable with the standard library (on a computer node), the code works fine

[2021-01-14 19:15] elliottslaughter commented on #993
I think we should assume it's a Regent bug until I can prove otherwise.

[2021-01-14 20:40] manopapad commented on #956
Can you try linking on the head node without using the stubs (i.e. don't update `LD_LIBRARY_PATH` as in option 1 above), but use `-Wl,-unresolved-symbols=ignore-in-shared-libs` in the linker command?

[2021-01-15 11:34] mariodirenzo commented on #956
That works fine, though it is not very safe

[2021-01-15 18:41] manopapad commented on #956
We're trying to link against a dynamic library that's not present, so anything we do will be unsafe to some degree.

At this point I think we've solved all the problems you've reported, so I'm closing this issue. Feel free to reopen if that's not the case.

[2021-01-15 18:41] #956 closed

[2021-01-15 18:57] elliottslaughter commented on #991
Just a quick update to note that I changed this slightly, so that reductions are now sorted by the index of the first field that has that reduction op and type. This is intended to be more stable than my previous solution of sorting by reduction op ID, which could be unstable due to reduction ops that get generated dynamically by the Regent compiler.

[2021-01-15 19:22] seemamirch opened #994 "Regent -fbounds-checks 1"
Doesn't catch out-of-bounds cases related to fields that are arrays
Simple example below
import "regent"
fspace fs
{
   a : int[5];
   b : int;
   c : int[5];
}

task init(r : region(ispace(int1d), fs))
where writes(r)
do
   for e in r do
      e.a = array(1, 1, 1, 1, 1)
      e.b = 2
      e.c = array(1, 1, 1, 1, 1)
      e.c[6] = 10
   end
end

task main()
   var r = region(ispace(int1d,4), fs)

[2021-01-15 21:12] elliottslaughter commented on #964
Can someone tell me what the impact of this issue is? Does it prevent constant memory from being used in C++ CUDA tasks at all? Is there something @mariodirenzo is doing that's unusual and somehow different from what the CUDA compiler normally does?

Is this a dependency for #638?

[2021-01-15 21:16] elliottslaughter opened #995 "Regent: support for local regions (DeferredBuffer)"
We've had a request for Regent to support generating code that uses `DeferredBuffer`. Probably the way to do this that makes the most sense is to make this an optimization on top of leaf tasks. I propose two changes:

 1. Leaf tasks are now allowed to create regions.
 2. Any regions created in a leaf task (whether with `__demand(__leaf)` or not) will automatically be created as a DeferredBuffer in

[2021-01-15 21:34] elliottslaughter commented on #994
Confirmed. The issue seems to be associated with arrays inside of fspaces (or structs). In the following example, only the last access gets checked:

[code]

[2021-01-15 22:18] streichler commented on #964
No, the regent codegen can generate an explicit call to `cudaMemcpyToSymbol` before it launches a kernel and the right thing will happen.  (This optimization is used in Kokkos as well).

My interpretation of this request is to be able to map long-lived instances in constant memory so that they don't need to be downloaded for every kernel launch.

[2021-01-15 23:43] elliottslaughter commented on #637
It's not quite ready to be merged, but I have a branch `separate-compilation-rebase-and-update` that can be tested. There is a new flag `-fseparate 1` which is required in order to use separate compilation. This is currently incompatible with Bishop.

[2021-01-15 23:49] elliottslaughter commented on #638
I've been talking with @magnatelee and we think it would be easier to use a DeferredBuffer (internally) in Regent instead of constant cache. There might be a minor performance hit but right now I think this is pretty theoretical, so until we get a compelling use case the DeferredBuffer seems like a better idea. That way we're not limited to the constant cache size.

The plan is to branch on the si

[2021-01-16 01:44] lightsighter commented on #995
Legion will let you make regions in a leaf task and return them. Not sure if you want to expose that in Regent or not. The only thing you can't do in leaf-task in Legion is launch sub-tasks and other sub-operations. Therefore things like dependent partitioning are not allowed, but logical region creation is allowed.

[2021-01-16 01:46] lightsighter commented on #964
That's correct, this would be for mapping actual Legion regions into constant cache memory so that multiple kernels across different tasks could access them.

[2021-01-16 06:20] elliottslaughter commented on #995
Am I correct in say that an inline mapping counts as an "operation" and therefore is not valid inside a leaf task? If so then the only way to actually get access to the data you created is to use a DeferredBuffer.

[2021-01-16 07:50] lightsighter commented on #995
That is accurate. You cannot make any inline mappings inside of a leaf task currently. In theory that could be relaxed, but only for newly created regions.

[2021-01-16 11:47] mariodirenzo commented on #964
From what I know (and I do not know if there is any workaround), CUDA constants are defined at the global scope and will therefore live for the entire duration of the execution. Considering that the amount of constant cache, the idea is that different tasks might use the same CUDA constant instance for their kernels. If all the tasks are designed to read the same value from the constant instance,

[2021-01-16 16:10] UmashankarTriforce opened #996 "NVIDIA CUDA Ampere Support for Legion"
Hi team!

I have compiled legion as per the instructions and have added `--cuda` during compilation for CUDA support.
But while running the CUDA tests, all the tests in the category `run_pass` fails with `PTX .version 3.2 does not support .target sm_80`.
I just wanted to clarify, if this is error is being raised because legion currently does not support Ampere architecture? If that's the case, are

[2021-01-16 16:59] streichler commented on #996
Can you give the full command line you're using for `install.py`?  (I'm trying to figure out if you're using the cmake build or the older Makefile-based one.)

Can you try building with `GPU_ARCH=80` in your environment?  I don't immediately see a way to set this on the install.py command line.

[2021-01-17 00:32] streichler commented on #992
Building with g++ 4.8.5 is working again with commits 16e5bb0 and 9f2882a.  We might bump the minimum compiler version at some point, but it doesn't have to be today.

[2021-01-17 00:32] #992 closed

[2021-01-17 00:55] PHHargrove commented on #992
Well this is unexpected.
Since you say 4.8.5 is working once again, I'll plan to resume my CI on RHEL 7.x. once those commits have reached your `stable` branch.

[2021-01-17 06:42] UmashankarTriforce commented on #996
I'm using `./install.py --cuda --debug` to install. As per your direction, I re-built the module by using `export GPU_ARCH=80`, but again I'm getting the same error.

[2021-01-17 14:51] UmashankarTriforce commented on #996
I worked on fixing this issue for a while, and the issue that I have is quite similar to the one posted here [Bad PTX ISA version when using LLVM 6 or greater](https://github.com/terralang/terra/issues/472). I tried multiple clang and llvm versions but nothing seems to help.

[2021-01-18 02:56] streichler commented on #975
Fixed with commit 5191273.

[2021-01-18 02:56] #975 closed

[2021-01-18 11:41] LonelyCat124 opened #997 "Legion prof failing with additional legion spy output."
Hi,
I'm having some issues trying to analyse performance/dependencies for my code. From my first glance at the profile, the limit looks to be dependencies between tasks (which would be unexpected), which probably means I've poorly defined my data usage between tasks.

I was planning to use legion spy with profile to check dependencies, but when trying to get legion prof to analyze (as https://legi

[2021-01-18 16:28] LonelyCat124 commented on #997
So I changed `search_for_spy_data` to this (removing `'rb'`)
[code]
which gave me a new error:

[code]

[2021-01-18 17:14] LonelyCat124 commented on #997
I'll add a caveat that the above patch makes it run, but I don't know whether it is the correct output.

[2021-01-19 07:44] magnatelee commented on #638
This should be fixed by 72998c85. @mariodirenzo Can you confirm the fix?

[2021-01-19 10:46] mariodirenzo commented on #954
I think that this is not quite fixed.
I've got a reproducer on sapling at `/home/mariodr/htr/unitTests/poissonTest`. It needs to run on a GPU of a compute node by using the script `run.sh` in the folder (after sourcing my .bashrc). It will produce the error
[code]

If I apply the patch reported earlier in this issue, the program executes fine.

[2021-01-19 18:07] mariodirenzo commented on #638
Thanks for pushing a fix.
I'm sorry but I had to workaround the issue a few months ago now I do not have the piece of code that was triggering the error anymore.
I’ll comment here (and in case reopen the issue) if I encounter the problem again

[2021-01-19 18:43] manopapad commented on #954
Can you use the [LoggingWrapper](https://github.com/StanfordLegion/legion/blob/stable/runtime/mappers/logging_wrapper.h) to get some logging output from your mapper? Where you would do `new MyMapper(...)` instead do `new LoggingWrapper(new MyMapper(...))`, and run the final executable with `-level mapper=2`.

[2021-01-19 19:26] magnatelee commented on #638
@mariodirenzo Sounds good. Closing this issue for now.

[2021-01-19 19:26] #638 closed

[2021-01-19 19:59] elliottslaughter commented on #958
@mariodirenzo Do you happen to have a reproducer for this issue?

I was thinking about this, particularly in relation to #694, but it just occurred to me that you said you're using structs up above and I want to confirm how you were even making the constant structs in the first place.

Thanks.

[2021-01-19 21:55] elliottslaughter commented on #983
We believe this is because newer LLVM versions seem to have switched to using dedicated instructions rather than intrinsics for atomic support. If we had support for the right instructions in Terra we ought to be able to code generate this.

[2021-01-20 09:14] mariodirenzo commented on #958
I can provide an older commit of the HTR solver that was triggering the issue.
In case you want, I can work on commenting out stuff so that it is faster at reproducing the issue.

[2021-01-20 09:18] mariodirenzo commented on #954
The reproducer mentioned in the earlier comment does not have a custom mapper. It just uses the default mapper.
Do you want me to modify the reproducer or to instrument the default mapper?

PS: If I write a custom mapper based on the default mapper and I overwrite `default_policy_select_target_memory`, everything works fine.

[2021-01-20 12:05] LonelyCat124 opened #998 "Regent: Tracing nested loops behaviour"
I'm trying to trace some nested loops (non-index launches) which have some criteria on which elements are launched, however the same elements are used every time the code is reached. I was expecting to be able to do:
[code]

however what I found was that if each iteration of the x loop didn't spawn the same task count the trace would be rejected. Instead to do this I needed to do:
[code]

The bogu

[2021-01-20 19:13] elliottslaughter commented on #958
If you can link me to the old version of the code that had the problem (and ideally the specific part of the code that had the problem), that may be enough for me to isolate the problem. Thanks.

[2021-01-20 19:24] elliottslaughter commented on #995
@mariodirenzo reminded me that this interface would not provide a way to select the memory that an instance is allocated in. I think most of the time there is an "obvious" answer (since these are instances that cannot be communicated), but there are some corner cases like using zcmem for data that needs to be accessed from CPU and GPU.

[2021-01-20 19:28] elliottslaughter commented on #998
The semantics of `__demand(__trace)` is that it adds the begin/end trace calls immediately *inside* of the loop. That is, a loop like:

[code]

becomes

[code]

I think in that case that means that the iterations of the outer loop really are not equivalent. So this is expected behavior.

You don't need to literally use a bogus loop, you could instead do it with a `do ... end` block:

[code]

Does

[2021-01-20 19:36] lightsighter commented on #998
I'm confused: is this trace being rejected by the compiler with a static warning/error or by the runtime complaining that the trace cannot be captured for some reason?

[2021-01-20 19:39] elliottslaughter commented on #998
The compiler has no static checks for `__demand(__trace)`. So this has to be a runtime error.

To be clear, I think this is an application bug. It is genuinely using the trace incorrectly.

[2021-01-20 19:41] lightsighter commented on #998
Ok, that make sense. I would still like to see exactly which error message is being produced.

[2021-01-20 19:46] elliottslaughter commented on #996
@UmashankarTriforce if that were the issue, you ought to be able to check by compiling against LLVM 3.8.

We've been trying to replicate on our end, but Ampere GPUs are not super common yet, so we're still in the process of doing so.

[2021-01-20 19:49] lightsighter commented on #995
The `DefferedBuffer` interface is designed to help you out with this. It provides a way to name the `Memory::Kind` you want the buffer to go in, and then it will find the highest affinity memory of that kind associated with the processor that you are running on. This way you don't need to write code to pick a specific memory, and can write task variants which are general to the kind of processor o

[2021-01-20 19:53] UmashankarTriforce commented on #996
@elliottslaughter I did try to compiling with LLVM 3.8, but my CPU is based on AMD `zen2` architecture and when I compile it, the CPU doesn't get detected correctly by LLVM. It straight defaults to `generic` and throws an error. With a little bit of googling, I found out that LLVM 4.0 introduces support for `zen1`, which means I need to be on a higher version of LLVM to have support for `zen2`.

[2021-01-20 19:54] elliottslaughter commented on #995
I think the question is how (or if) to expose this in Regent. If the syntax were the same as normal region creation (`var r = region(is, fs)`) then there isn't a capability to specify a memory.

I can think of three(?) options:

 1. Don't provide any option and attempt to guess the right memory in the Regent compiler. The cost is that we might get this wrong.
 2. Add an option (e.g. via an optiona

[2021-01-20 19:56] elliottslaughter commented on #996
Ok. At this point we may need someone on our team to try out Ampere because Terra doesn't support LLVM 4.0 and all versions greater than or equal to 5.0 use the NVPTX interface, which causes the issue linked above.

[2021-01-20 19:58] pmccormick commented on #996
I'll take a shot at this... stay tuned...

[2021-01-20 20:00] UmashankarTriforce commented on #996
@elliottslaughter @pmccormick Thank you for helping me with this! Please do let me know if something comes up :D

[2021-01-20 20:46] lightsighter commented on #995
Ok, just notice that a `Memory::Kind` is different than a `Memory`. The `DeferredBuffer` interface supports both, but it's much more ergonomic to specify a `Memory::kind` as opposed to a `Memory` because that is invariant to the specific processor the task variant is running on, and you don't need to interface with the `Machine` object.

[2021-01-20 21:30] LonelyCat124 commented on #998
Yeah this is an application bug, I will post the error message tomorrow morning.
The syntax was this that I didn't know about is this:
[code]

I think a note in the documentation might be helpful on how to trace for non-index launch / nested loops, though I'm not sure if this is a performant strategy either way.

[2021-01-21 07:12] manopapad commented on #954
Please create a minimal custom mapper that just forwards everything to the default mapper, and add a LoggingWrapper to where that custom mapper is instantiated. I would like to see the output of `-level mapper=2` for a failing execution, and also please add the following logging code to your mapper (I haven't tried to compile this snippet, it likely has syntax errors):

[code]

[2021-01-21 10:01] mariodirenzo commented on #954
The output of the logging code is
[code]
and you can find the log of the failing execution at `/home/mariodr/htr/unitTests/poissonTest/mapper.log` on sapling

[2021-01-21 11:54] LonelyCat124 commented on #998
The error was:
[code]

Which I assume just comes from the inner loop being "traced" and not being the same every time.

[2021-01-21 18:50] manopapad commented on #954
It looks like you are asking that the 2nd region requirement of `initFFTplans` be placed on zero-copy memory, is this correct? I can't find anything related to this in the directory of the reproducer.

[2021-01-21 21:06] lightsighter commented on #998
Ok good, that is the error message you should receive in this case. Each trace requires that it see the same order of operations on each invocation.

[2021-01-21 22:00] mariodirenzo commented on #954
Tha is correct.
You cannot find the registration in that folder because the function that registers that task is defined in `/home/mariodr/htr/src/Poisson/Poisson.cc`

[2021-01-21 22:09] elliottslaughter commented on #993
I don't understand, but somehow this went away when I rebased. Perhaps it was related to the reduction issue somehow, though I really don't see how. I can't see anything else that would have been related.

Anyway, I'm nearly done with a full CI run on this branch so I'm pretty confident it's not non-deterministic. I'll give it a bit longer to finish out the last few jobs and then merge.

[2021-01-21 22:22] manopapad commented on #954
I think I found what's wrong, and have uploaded a fix to https://gitlab.com/StanfordLegion/legion/-/tree/bug/954b. Could you please try your reproducer on this branch (using the vanilla default mapper)?

[2021-01-21 22:30] #993 closed

[2021-01-22 10:18] mariodirenzo commented on #954
Yes, that works for me. Thanks

[2021-01-22 10:18] #954 closed

[2021-01-22 19:43] elliottslaughter commented on #998
Documentation has been updated. Closing this issue now.

[2021-01-22 19:43] #998 closed

[2021-01-24 08:32] jiazhihao opened #999 "Assertion failure in legion tracing"
I encountered the following assertion failure when enabling tracing for multi-node runs. This is using the most recent control_replication branch. Running the same program on a single node works fine.

[code]

[2021-01-25 02:46] lightsighter commented on #999
Pull and try again.

[2021-01-25 21:40] alvarozamora opened #1000 "RFE: Optional flag for read-write privilege warning"
For context, I've been working on a fluid code written in regent. There are many test problems in the field whose initial conditions are represented analytically (some are as simple as two piecewise constant regions). For such initial conditions, it is simply more efficient to internally generate them after picking a mesh resolution and generating a mesh (in contrast to generating them externally,

[2021-01-26 20:21] MatthiasKohl opened #1001 "Realm: align CUDA hi-jack handling of zero-size allocation/free with CUDA runtime"
When calling `cudaMalloc(&ptr, 0);`, the CUDA run-time succeeds while the hi-jack fails because `cuMemAlloc` returns an error for `size==0`.

In any case, I believe the hi-jack should check for `size==0` in `cudaMalloc` and return a `nullptr` and succeed.
In `cudaFree`, either:
1. do not change anything: from my small tests, it looks like `cuMemFree` succeeds with a `nullptr` (although I'd check i

[2021-01-27 06:55] jiazhihao opened #1002 "Selecting source instance for copy"
I encountered a performance issue when copying data for an index launch. I assume this is a mapper issue, but not sure which mapper API is related to it.

The use case is simple. The index launch has multiple tasks using the same logical region with read-only privilege. I have seen that Legion generates sequential copies instead of parallelizable copies when preparing physical instances for the lo

[2021-01-27 07:50] lightsighter commented on #1002
It will depend on the kind of operation that triggered the copies, but most likely it will be `select_task_sources`. All the API calls that handle selecting the source of the copies are named like `select_*_sources` for the different kinds of operations. If you leave the output of this mapper call empty, the runtime can do whatever it wants, and I guarantee you there is no intelligent logic in the

[2021-01-27 18:55] manopapad commented on #1002
Note that the order in which tasks are passed to the mapper will dictate what instances you can select for each (if T1 is mapped first then it will only see the instance on GPU0, then T2 will be able to use instances on both GPU0 and GPU1). Depending on the machine architecture, not every ordering will allow you to create the most efficient broadcast tree. You can try to work around this by changi

[2021-01-27 19:10] lightsighter commented on #1002
I think in this case though order will not matter and it's actually fairly simple. The instance on GPU 0 is valid from the start, and we just want all the tasks downstream to pull from it instead of pulling from each other.

[2021-01-27 22:24] jiazhihao commented on #999
Fixed

[2021-01-27 22:24] #999 closed

[2021-01-28 04:15] jiazhihao commented on #1002
@lightsighter Should I set the `source_instances` field in `map_task` in order to tell Legion which source instance to copy from?
I see that field in the mapper interface but haven't found any mapper that actually set that field.

[code]

[2021-01-28 10:36] lightsighter commented on #1002
I got this question from you too, but I don't see it anywhere on this page anymore.

I see that field in the mapper interface but haven't found any mapper that actually set that field.

I'll answer it anyway. If you actually know the instance(s) you want to use as sources ahead of time without waiting for the call back to `select_task_sources` then you can fill them in direction in the `source_ins

[2021-01-28 18:33] rohany opened #1003 "segfault when running legion in the background"
The following legion program segfaults (after desired task has been launched):

[code]

I'm executing the program on a Macbook, and compiling with `DEBUG=1, BOUNDS_CHECKS=1` and executing with a single core. Either of the two methods (one commented out) cause a segfault, while the program doesn't segfault if legion is run in the foreground and the top level task registered.

[2021-01-28 19:01] streichler commented on #1003
@lightsighter will be able to say for sure, but based on the example here:
https://gitlab.com/StanfordLegion/legion/-/blob/master/examples/implicit_top_task/implicit_top_task.cc#L224-308
I think you're not supposed to have the `execute_task` call here:
[code]
but instead just call the function (`vectorMultiply`?) directly once you've declared yourself to be an implicit task.

[2021-01-28 19:13] rohany commented on #1003
If i try that:
[code]

I get a weird assertion failure:
[code]

[2021-01-28 20:45] jiazhihao opened #1004 "Assertion failure in Legion Tracing"
I encountered the following assertion failure when enabling tracing for multi-node runs. This is using the most recent control_replication branch. Running the same program on a single node works fine.

[code]
A backtrace:
[code]

[2021-01-28 20:55] jiazhihao opened #1005 "Failure in process_post_end_tasks: Assertion `num_ready > 0' failed."
Encountered the following failure when running Legion w/ DEBUG mode on multiple nodes. The failure is nondeterministic.

[code]

[2021-01-28 21:13] lightsighter commented on #1004
Can you get me frozen processes on sapling?

[2021-01-28 21:13] lightsighter commented on #1005
Same thing here. Get me frozen processes on sapling.

[2021-01-28 21:15] lightsighter commented on #1005
Although @streichler too for visibility since this suggests a possible bug with Realm completion queue semantics. It returned no ready events despite triggering the event saying that the completion queue had some non-empty events.

[2021-01-28 22:14] lightsighter commented on #1003
That's right. You either become an implicit top-level task, or you launch your top-level task(s) explicitly. You can't do both at the same time and get the behavior that you want.

That is a default mapper assertion, not a runtime bug. It looks like someone needs to update the default mapper to handle the implicit top-level task case better. You can either do that, or write a custom mapper that ha

[2021-01-28 22:25] rohany commented on #1003
If this is the case, why does doing this instead also segfault?
[code]
With this stack:
[code]

Sure, but I'm not sure where to start / what exactly is different between my case and the example in https://gitlab.com/StanfordLegion/legion/-/blob/master/examples/implicit_top_task/implicit_top_task.cc which doesn't have a custom mapper. What about a top level task makes the default mapper think that

[2021-01-29 03:04] lightsighter commented on #1003
I will need to look at this in more detail, but it looks like Legion is expecting Realm to produce a `NO_EVENT` when we call `Processor::get_current_finish_event` on an external thread, but Realm is deciding to segfault instead.

I'm not sure what the mapper is doing, but the reason it doesn't have any memories is obvious from the error message:

aka the `NO_PROC` which is what I would expect to b

[2021-01-29 03:58] streichler commented on #1001
This should be fixed with commit a30499a.  @MatthiasKohl can you confirm your use case is happier?

[2021-01-29 04:31] rohany commented on #1003
That's weird, given that I asked for the task to be run on an `LOC_PROC`. Either way, I can sidestep the issue by giving the inline task a different ID than my "real" task. Doing that brings me back to this same segfault though, so I think that I'll have to wait on you to find out what's going wrong.

[2021-01-29 09:26] MatthiasKohl commented on #1001
@streichler : yes I have tested with the new commit, and it works as expected. I'll close this issue.

[2021-01-29 09:26] #1001 closed

[2021-01-29 09:38] lightsighter commented on #1003
Pull the master branch and try again.

[2021-01-29 18:35] rohany commented on #1003
Using either `launch_top_level_task` or `begin_implicit_task` now segfault with these (different) stacks:
[code]
or
[code]
or lastly, here:
[code]

[2021-01-29 19:42] lightsighter commented on #1003
Try running the end of the program like this:

[code]

You're missing the call to `Runtime::wait_for_shutdown()` and all Legion handles have to be deleted before you do that.

[2021-01-29 19:48] rohany commented on #1003
OK, I had the `wait_for_shutdown` call, but putting the launch inside a scope seems to fix it.

Lastly, do you know why when using an implicit top level task the task is on `NO_PROC` even though I start the task with
[code]
Is this because the "task" is really just a thread external to legion?

[2021-01-29 22:10] elliottslaughter commented on #1000
Hi @alvarozamora,

A couple of things:

 1. If you want to silence this warning (and only this warning) today, the fastest way to do so is with a fill. You could do that with e.g.:

[code]

    It's still a bit of a pain because you have to list out the fields, but it works and will ensure you don't get this message any more.
 2. Another approach we've discussed in the past is `discard` privileges

[2021-01-30 10:03] lightsighter commented on #1003
That's right and it will continue to be like until Realm provides support for #716.

[2021-01-30 10:13] lightsighter commented on #1000
With regards to (3): We already have such a flag: `-level runtime=5` will silence all warnings from the runtime. Alternatively if you are running for performance and worried about branching overhead, you can compile with the minimum logging level set to `LEVEL_ERROR`.

With regards to (4): I don't really like things that disable warnings after a fixed number. How are users supposed to know which o

[2021-01-30 18:16] rohany commented on #1003
Alright, thanks for the help!

[2021-01-30 18:16] #1003 closed

[2021-02-01 05:52] #1004 closed

[2021-02-01 05:54] jiazhihao opened #1006 "Assertion `num_unmapped_points > 0' failed"
I got the following assertion failure when running Legion on multiple nodes with tracing enabled. The failure can be deterministically reproduced.

[code]

[2021-02-01 06:41] lightsighter commented on #1006
I'll look into fixing this, but you should really improve your sharding functions so that they shard tasks to the right nodes in the first place rather than relying on remote task replays which are much slower.

[2021-02-01 06:55] jiazhihao commented on #1006
@lightsighter I assumed the sharding functions should be sharding tasks to the right nodes. Do you know how I can assert this in the mapper or runtime? More specifically, will there be a mapper function involved when the sharding functions place a task on a wrong node?

[2021-02-01 06:57] lightsighter commented on #1006
You should assert that all the processors that you put in `target_procs` during the `map_task` mapper call have an `address_space()` that matches the local node's address space.

[2021-02-01 07:26] lightsighter commented on #1006
Pull and try again.

[2021-02-01 07:27] lightsighter commented on #1005
Have you reproduced this after we fixed #1004?