[2020-02-05 07:06] lightsighter commented on #721
And actually, we already have an operation like that: its called `fill`. If you want to do discard as a separate operation you can just call `fill`. :)

[2020-02-05 09:46] lightsighter opened #736 "Inner Tasks Should Not Block Waiting on Futures"
Generalize the inner task optimization so that it applies to futures and not just regions, thereby allowing sub-tasks to be launched before futures have been completed.

[2020-02-05 12:20] streichler commented on #710
Can you include (or point at) an example here of what the code looks like to arrange for fields in different instances to have different starting alignments?  For example, I don't think it's clear to everyone what the offset here is relative to:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_constraint.h#L580

[2020-02-05 12:24] streichler commented on #721
Yes, my assumption was that discard would look just like a fill to every part of the Legion runtime except the part that actually issues a Realm fill operation.  Think of discard as "fill with an undefined value".

[2020-02-05 17:40] lightsighter commented on #721
Why would you ever want to call `fill` with an "undefined value"? I can support that, but you're still going to pay a cost for a second whole operation having to go through the operation pipeline and make a specialized view. You don't have to pay that tax today in the runtime where you can just attach discard to the privileges.

[2020-02-05 18:33] elliottslaughter commented on #736
Do you mean future arguments? Because otherwise I don't see how it's safe to not block at a `Future::get_result()` call.

[2020-02-05 19:05] lightsighter commented on #736
Yes, that's what I mean.

[2020-02-05 19:12] lightsighter commented on #710
The offset is relative to either the beginning of the instance or the previous field depending on the ordering of the fields in the field constraints. If your instance only has one field, then you give an offset of N bytes and thereby get an extra N bytes of padding in your instance. Then it's just a matter of picking values of N for different instances to avoid conflict misses in the cache.

[2020-02-05 19:13] elliottslaughter commented on #663
You got a SIGILL, which makes me wonder if the code was compiled correctly. What machine are you running on again? If it's a distributed machine, is it possible the node you compiled on has a different architecture than the node you're running on?

[2020-02-05 19:15] elliottslaughter commented on #710
Are you promised a certain default starting alignment? Because otherwise picking an offset against an unspecified alignment seems like it doesn't accomplish anything.

[2020-02-05 19:35] qyz96 commented on #663
I am running on sherlock cluster, but possibly on a different node each time. Does that mean I have to run install.py everytime? By the way, is there a way to disable printing out the following warning?

[0 - 7fb5c004b700] {4}{runtime}: [warning 1019] LEGION WARNING: Region requirements 0 and 2 of index task dgemm (UID 16794) in parent task cholesky (UID 3) are potentially interfering.  It's possi

[2020-02-05 19:47] streichler commented on #721
A fill (or a discard) has the nice property of invalidating existing instances right away, allowing them to be collected.  A discard further has the advantage that you don't do an unnecessary fill of the instance before the task that redefines the field later on.

There are many cases where the last use of a field on one timestep comes quite a ways before the redefinition of the field in the next

[2020-02-05 19:49] elliottslaughter commented on #663
I don't know, but just for the moment, let's try that to make sure we remove it as a potential cause.

You can run with `-level 5`, but that will get rid of **all** warnings, not just this one.

[2020-02-05 19:53] #328 closed

[2020-02-05 21:18] lightsighter commented on #721
The first case you describe above can be done with a `fill` today. The second one you describe could be handled with `fill` with a `none` value. Nothing though can achieve the efficiency of fusing the discard with a region privilege in terms of runtime overhead, so it's never going to go away.

[2020-02-05 21:20] lightsighter commented on #663
If you do a run with the runtime built in debug mode and it doesn't report an error, then you can safely ignore the warning about potentially interfering region requirements.

[2020-02-05 21:21] lightsighter commented on #710
Well that's what the alignment constraints are for. So if you set both alignment and offset constraints then you will have total control. If you only set offset, then you're operating on runtime's preferred alignment for the machine (probably 16 byte).

[2020-02-05 21:29] elliottslaughter opened #737 "CoreOS end of life announcement"
A note to myself to track this, since I think our CI currently depends on it.

https://coreos.com/os/eol/

From: https://news.ycombinator.com/item?id=22248456

One of the comments on HN says they'll cut the container images on September 1, so I'm putting this out a couple milestones (since I don't really want to deal with it sooner).

[2020-02-05 21:52] magnatelee commented on #713
The root cause of this issue was the Regent compiler not following the right procedure to register a CUDA binary via the default CUDA runtime and only being able to interact with the Realm hijack. I'll open a new issue and close this one, as a temporary fix is in place in the hijack_registration_hack.

[2020-02-05 21:52] #713 closed

[2020-02-05 21:58] magnatelee opened #738 "Regent: Interoperability with the CUDA runtime"
The Regent compiler produces PTX registration code in the assumption that the PTX will be consumed by the Realm hijack. The registration code is not quite compatible with the default CUDA runtime, which was causing issue #713. This interoperability is useful in scenarios where the Realm hijack needs to be disabled, typically arising when the Regent code is integrated with legacy code directly usin

[2020-02-05 22:24] aheirich commented on #320
I think this problem has been solved, but the online documentation still reflects the old behavior.   We just need to run doc/makeAllTheThings.bash and update the online repo.

[2020-02-05 22:35] elliottslaughter commented on #320
I just ran the update and it's still broken. Assuming you have Jekyll and Doxygen installed, you can repro locally with:

[code]

[2020-02-05 22:37] aheirich commented on #320
To run the update you have to go into legion/doc and execute ./makeAllTheThings.bash

Then copy the publish/* results over into the legion.stanford.edu<http://legion.stanford.edu> repo

I’m trying to do that now

On Feb 5, 2020, at 2:35 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

I just ran the update and it's still broken. Assuming you have Jekyll and

[2020-02-05 22:39] elliottslaughter commented on #320
We run that line as part of the standard build: https://github.com/StanfordLegion/legion.stanford.edu/blob/master/Makefile#L56

[2020-02-05 22:41] aheirich commented on #320
Then I’m perplexed.  I just ran makeAllTheThings locally and it did not reproduce the error.

On Feb 5, 2020, at 2:39 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

We run that line as part of the standard build: https://github.com/StanfordLegion/legion.stanford.edu/blob/master/Makefile#L56

—
You are receiving this because you modified the open/close sta

[2020-02-05 22:46] aheirich commented on #320
I just did “make serve” and it did not regenerate the messages etc.  Maybe that’s the problem.

On Feb 5, 2020, at 2:41 PM, Heirich, Alan <aheirich@slac.stanford.edu<mailto:aheirich@slac.stanford.edu>> wrote:

Then I’m perplexed.  I just ran makeAllTheThings locally and it did not reproduce the error.

On Feb 5, 2020, at 2:39 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@git

[2020-02-05 22:51] aheirich commented on #320
Ok, I think the only problem is that it was not doing “make messages” when it builds.  I just did that and verified the output is ok.

On Feb 5, 2020, at 2:46 PM, Heirich, Alan <aheirich@slac.stanford.edu<mailto:aheirich@slac.stanford.edu>> wrote:

I just did “make serve” and it did not regenerate the messages etc.  Maybe that’s the problem.

On Feb 5, 2020, at 2:41 PM, Heirich, Alan <aheirich@sla

[2020-02-05 22:51] elliottslaughter commented on #320
That seems to be a flaw specific to `make serve`. I pushed a change so it should update those now.

[2020-02-05 22:53] elliottslaughter commented on #320
So I've noticed a local build does actually work. So there's something more going on here.

[2020-02-05 22:54] lightsighter commented on #736
Pushed this update with 8cff1c93d. Will close the issue once it passes CI.

[2020-02-05 22:58] elliottslaughter commented on #320
Well this is interesting:

[code]

Notice one slash after `https:`. Maybe that cause different behavior in the browser when it's not local?

In collate_messages.py, I see the lines:

[code]

Is this the culprit?

[2020-02-05 23:05] elliottslaughter commented on #320
Ok, seems to be fixed by removing those lines.

[2020-02-05 23:08] aheirich commented on #320
Ok, that line was there specifically to fix a problem where we were getting multiple //’s in the interior part of a URL.  This caused a problem of some kind that I don’t recall.  So I think the original need probably still exists, and we should fix this specifically for the case of // appearing after https:

On Feb 5, 2020, at 3:05 PM, Elliott Slaughter <notifications@github.com<mailto:notificatio

[2020-02-05 23:11] elliottslaughter commented on #320
Ok, but this is running specifically on `args.prefix` which comes into this script from the `--prefix` flag. Maybe this used to be local directory or something? It now seems to be hard-coded to Github:

[code]

(inside `makeAllTheThings.bash`)

[2020-02-05 23:13] aheirich commented on #320
It may be that this used to get parameters from a script that was inconsistent about whether a path ends in / or not.
I agree with you that if we run it only this way then the fix is bad.

On Feb 5, 2020, at 3:11 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok, but this is running specifically on args.prefix which comes into this script from the --prefi

[2020-02-05 23:33] elliottslaughter commented on #320
I've temporarily deployed this fix to https://legion.stanford.edu, can you check to see if anything looks wrong?

[2020-02-05 23:37] aheirich commented on #320
Error 399 is right now

On Feb 5, 2020, at 3:33 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

I've temporarily deployed this fix to https://legion.stanford.edu<https://legion.stanford.edu/>, can you check to see if anything looks wrong?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<ht

[2020-02-06 00:35] #736 closed

[2020-02-06 01:03] lightsighter commented on #320
I don't want to close this issue until we have a concrete plan to update all the error messages here and keep them consistent with the runtime in a sane way.

[2020-02-06 15:28] elliottslaughter commented on #320
@lightsighter What do you mean by this? The script is fully automatic and it runs every time we push the website. The underlying issue was actually one in the internal script to generate the files, and it has been fixed.

As far as I know the pages themselves are generated from parsing the source code, so there isn't really anything hard-coded into the website.

If you mean updating the error mess

[2020-02-06 19:39] bandokihiro opened #739 "Legion: reduction operation on array type field space"
# Context
I am writing a CFD solver using Legion. Typically, for each element, we have an array of degrees of freedom `double* U` and a time-update can be written as `U[i] += dt*R[i]` where `R` is the residual.

My index domain are:
1. `I1` of size `nElem`
2. `I2` of size `nFace`

My regions are:
1. a mesh-element region on `I1`
2. a mesh-face region on `I2`
3. a solution region on `I1` with two f

[2020-02-06 19:56] streichler commented on #739
I'm considering augmenting Realm's reduction op registration to accept an object of the "reduction op" type that has non-static apply/fold methods, which I think would be expressive enough to handle this.  I need to think through it a little more to make sure it won't get in the way of doing reductions on GPUs, and we need @lightsighter to let us know if there's any complications with passing thes

[2020-02-06 22:00] elliottslaughter opened #740 "Parse Legion/Realm arguments on request"
Right now, we have this pretty method in Python that is response for parsing the result of `legion_runtime_get_input_args()` to get rid of any `-lg:`, `-ll:` etc. flags. This is necessary so we can pass a clean set of arguments on to the user's script.

https://github.com/StanfordLegion/legion/blob/a70f96affcc452799f9f277953d84f91f1b910ca/bindings/python/legion.py#L100-L127

The current implementa

[2020-02-07 00:51] elliottslaughter commented on #726
Ok, the next part of this is in branch `python-top`. Will push it to master once it passes CI.

[2020-02-07 01:23] magnatelee opened #741 "Legion: Inline partitioning operator"
Currently, creating a partition from a set of ranges cannot be done without going through the partition-by-image-range call. This requires the ranges to be first stored in a region, either by a task or an inline mapping, which will be later mapped again for the image operator. In common cases where each subregion can be specified by a single range, going through all these steps is both inefficient

[2020-02-07 01:31] lightsighter commented on #741
Another option is to have the interface support something like `vector<Domain>` and/or `vector<IndexSpace>` so that if users want to go through a really kill themselves by making really sparse Realm index spaces (represented by `Domain`) or to use existing index spaces then they can do that, which I think I prefer.

One obvious question regardless of the interface is what happens to ranges that ou

[2020-02-07 01:44] magnatelee commented on #741
I believe the semantics of the partition-by-image-range is to take an intersection between ranges and the index space being partitioned, so the new operator better be consistent with this.

I think having the color space a separate argument would be convenient for cases where the color space is dense but only some of the subregions are not empty.

A bonus point would be to make this operator take

[2020-02-07 04:56] elliottslaughter commented on #741
Can you sketch the proposed API?

*Definitely* want a separate color space. That was always a huge pain point in the old style APIs. I don't want to go back to a world where you have to write `coloring[color];` to ensure a color exists.

[2020-02-07 04:58] elliottslaughter commented on #741
Overall, I'm fine with this idea. I agree for simple cases it's nice to be able to just hand Legion the partitioning you want, when you know exactly what you want.

Though having said that, image/preimage(_range) are not _that_ inconvenient in Pygion since you have a syntax for (what are effectively) region literals. But I'm not sure this is a direction we'd ever go with C++: https://github.com/St

[2020-02-07 06:43] lightsighter commented on #739
I just pass through reduction operator objects to Realm and get them back from Realm so I don't think there is any issue on my side. Getting it work with GPUs seems challenging unless you put it in the zero-copy or UVM memory.

[2020-02-07 07:36] lightsighter commented on #741
Here are some draft runtime method type signatures:

[code]

[2020-02-07 08:07] magnatelee commented on #711
All future leaks that I was able to identify have been fixed as of 456853e4. No future leaks were found after running 50 iterations of Soleil-X. The fix has been pushed to both master and control_replication. I'll let @aheirich confirm the fix and close this issue.

[2020-02-07 08:14] magnatelee commented on #606
I want to make a note that many of the Regent tests are also leaking layout constraints.

[2020-02-07 08:15] magnatelee commented on #732
I confirmed that the fix for #711 has eradicated future leaks in all of our test cases. However, many tests are still leaking layout constraints and index spaces (#606).

[2020-02-07 08:46] lightsighter commented on #711
I think it would be good if @mariodirenzo can also confirm the fix in the HTR.

[2020-02-07 09:10] mariodirenzo commented on #711
Is `456853e` compatible with the parallelizer in `parallelizer-dcr-new`?
I'll be happy to check that but it will take me about one week.
I could try it on sapling earlier but I'd like to avoid modifying that version of the runtime and of the code until #712 is fixed

[2020-02-07 09:17] magnatelee commented on #711
The fix is now available in `parallelizer-dcr-new` as well, so you can pull and try again. I'll also try to test HTR on sapling.

[2020-02-07 15:51] streichler commented on #739
I'd probably ask that the reduction object itself be trivially copyable so that it can be shipped to the GPU by value in this case.

[2020-02-07 18:02] elliottslaughter commented on #606
Aren't our layout constraints all static? How exactly are we supposed to clean them up? Do we need a cleanup think to clean up the results of our registration thunk?

[2020-02-07 18:05] elliottslaughter commented on #741
I'd flip the order of the `color_space` and `coloring` arguments, to make it more consistent with other partitioning calls, but otherwise looks fine to me.

[2020-02-07 18:17] magnatelee commented on #606
It's a consequence of field spaces not being destroyed; field spaces are holding references to layout constraints, so until they are destroyed, those references are still alive.

[2020-02-07 18:18] magnatelee commented on #741
The signatures (in particular the last one) look fine to me, too.

[2020-02-07 18:41] lightsighter commented on #739
Who's going to do that shipping?

[2020-02-07 19:08] elliottslaughter commented on #726
This is merged as of f61fd1ad2f5fed5c78d50d5b44b77b95537ea8a9, and the next bit is in `pygion-rename`.

[2020-02-07 19:20] lightsighter commented on #741
How would we want the ones that take a std::map<DomainPoint,Domain> for the coloring to be exposed in the C API?

[2020-02-07 19:25] elliottslaughter commented on #741
Two arrays, one of DomainPoint and one of Domain, and a size?

[2020-02-07 19:37] streichler commented on #739
Realm will.  At registration time, you will pass a reference to an object of the reduction op type and Realm will make copies of it for performing CPU and GPU reductions.

[2020-02-07 19:49] pmccormick opened #742 "Precise exception support"
A proposal to implement [precise exception](https://www.archive.ece.cmu.edu/~ece740/f11/lib/exe/fetch.php?media=wiki:lectures:onur-740-fall11-lecture8-precise-exceptions-afterlecture.pdf) support within the runtime.  There are number of factors here that would make this useful:

- Advanced debugging mechanisms.
- Expanded capabilities for fault/error recovery and restartable tasks (beyond current

[2020-02-07 20:45] elliottslaughter commented on #726
Ok, merged with e4e2cb72a0f5bd4ea1508953b88376838aa5803d. At this point, I think I've done my part of what was in this issue:

  * Split `legion_cffi` into its own module
  * Split `legion_top` into its own module and made `legion_python` independent of Pygion
  * Rename Pygion to `pygion.py`

At this point I'm assigning to @lightsighter to add the REPL and Jupyter notebook capability.

[2020-02-07 23:37] ahenzinger opened #743 "Region index in Copy profiling"
Hi,

it would be great if you could add functionality to see which region is being copied in the copy profiles seen in the mapper interface. Thanks!

[2020-02-08 00:20] aheirich commented on #711
I'm afraid soleil-x is still failing after less than five hours of running.   Out of memory.

[2020-02-08 01:24] magnatelee commented on #711
What's the error mode? Can you run it with Legion GC enabled and send me a log file? At least the Soleil-X in master was not leaking any futures. Which branch of Soleil-X are you using?

To enable Legion GC, you need to re-install Regent with `CC_FLAGS=-DLEGION_GC` and run it with `-level legion_gc=2`. After the program completes, you will be able to find `?.log` files. To get complete logs, the p

[2020-02-08 06:53] rupanshusoi opened #744 "Regent: "missed work counter wakeup?""
I have the latest version of Legion and Regent from master. This error did not occur a few days ago. In essence I have the following loop structure from where the code does not behave as expected.
[code]
I get the above mentioned error multiple times until finally I get
`
[0 - 7f710cd6c700] {4}{task}: missed work counter wakeup? - suppressing further messages
`
The code does not seem to do anythin

[2020-02-08 06:57] lightsighter commented on #744
Can you provide a command line for compiling and running this program? Also, tell us a little bit about the system that you are running on if possible.

[2020-02-08 07:03] rupanshusoi opened #745 "Regent: memory leak"
My CFD solver in Regent seems to leak about 10 MB/sec/node during execution. I'm not sure what is causing the leak and it's not clear to me which Legion debugging tool might be useful to locate memory leaks. Also, what are some common ways memory leaks can happen in Regent?

[2020-02-08 07:52] Nischay-Pro commented on #744
We ran the `install.py` inside `language` with the default flags. We did not provide any extra flags.

The system it's running on uses CentOS 8
We used gcc 8.3.1 with clang 9.0.0

@rupanshusoi

[2020-02-08 14:58] streichler commented on #744
What arguments are you passing to the regent command line?

That warning message was intended to catch memory synchronization errors inside of Realm, but what it's mostly good at is complaining when the system has become very unresponsive (i.e. threads taking more than 1 second to start once being awakened).  That seems consistent with "continues to use system resources", but it doesn't directly t

[2020-02-08 17:13] elliottslaughter commented on #745
If you update to the newest master, we just fixed one possible source of leaks.

Otherwise, you can follow the instructions here: https://github.com/StanfordLegion/legion/issues/711#issuecomment-583683095 . Don't need a super long run, 10-100 timesteps or so should be fine.

[2020-02-08 18:04] rupanshusoi commented on #744
I just use the `-level runtime=5` flag to suppress some warnings (#719). Interestingly, on the latest version from master, I don't see the warnings even without passing this flag. The behaviour is same in both cases, though, as described above.

I'm seeing continuous allocation of RAM during runs, even though memory should just be allocated once. We also don't have swap enabled. I will further inv

[2020-02-08 18:53] lightsighter commented on #745
It's worth noting that it's not a leak if the program is actually still holding onto all the resources it's requesting and not deleting them. For example, some programs keep making lots of logical regions and never delete them which may look like a leak, but is actually a bug in the user code. We don't have any tools for finding those kinds of issues at the moment.

[2020-02-09 00:19] jiazhihao commented on #744
I have seen similar warning messages in FlexFlow by using the up-to-date control replication branch. The warning can be deterministically replayed.

[2020-02-09 00:25] lightsighter commented on #744
Two reproducers is enough for me to label this a bug.

I still think the increasing memory usage is likely a separate issue.

It would probably help to see some backtraces. Run with `-ll:force_kthreads` on your command line if you plan to use a debugger.

[2020-02-09 05:20] rupanshusoi commented on #744
@lightsighter Okay so after giving these warning messages, I found the code to be executing normally but much slower than usual, which I why I initially thought it wasn't doing anything at all.

[2020-02-09 07:01] rupanshusoi commented on #745
I see. Can you give me some pointers to where such memory allocations might be happening? My solver uses just 3 large regions which are passed around in a lot of functions. Is there some de-allocation mechanism which I'm unaware of? Thanks.

[2020-02-09 08:24] lightsighter commented on #745
If you're only allocating three regions then it's probably not them. It can also happen if you're making lots of partitions and throwing them away (without deleting them). I advise you follow @elliottslaughter instructions and follow the steps in #711 to see if you can identify what is happening.

[2020-02-09 08:25] lightsighter commented on #744
Can you say how much slower? If you can give us a commit where things changed that would be very useful. At a minimum some Legion Prof pictures from before and after would go a long way to suggesting the source of the problem.

[2020-02-09 09:59] lightsighter commented on #743
Support for this was added with 2d0d11b4 and passed CI. It also added support for reporting on whether the profiling response was generated by a fill or a copy.

[2020-02-09 09:59] #743 closed

[2020-02-09 11:59] rupanshusoi commented on #745
@elliottslaughter I ran my solver for 1 timestep/iteration and the logs are 29 GB. I tried running `legion_gc.py` on it locally but had to kill it when the RAM usage went over 100 GB. How do you want to proceed?

[2020-02-09 17:08] elliottslaughter commented on #745
Is there a way to run with a smaller problem size? E.g. how many subregions and partitions are you creating?

Also just for sanity, what is your `-ll:csize`?

[2020-02-09 17:39] rupanshusoi commented on #745
Sure, give me a day and I will run it on a smaller grid and get back to you.

Right now I have no partitions or subregions - my goal was just to make sure I get correct output. Everything is basically running on one core. My plan was to debug the base code first, and add parallelism later, since I'm new to regent and parallel programming. (If you think this might not be a good approach and partiti

[2020-02-10 08:51] magnatelee commented on #707
To make the discussion concrete, let me describe a typical scenario that could be greatly simplified with deferred binding of bounds to regions:

Launching Legion tasks that potentially produce outputs of different sizes involves the following steps:

1. Computing (or estimating the upper bound of) the size of the output for each parallel task. We often need to launch another set of tasks to do th

[2020-02-10 09:47] lightsighter commented on #742
Mainly what we want is the ability to pause the runtime at a point in time and have the state of the regions and the program look like it is in the middle of a sequential execution. This will allow debuggers to build around Legion that can do introspection of Legion programs in a sane way.

[2020-02-10 11:34] rupanshusoi commented on #744
666bb15 is the first commit where the problem appears.

[2020-02-10 14:22] streichler commented on #744
@rupanshusoi Thanks, that narrows it down significantly.  Here's a few more questions and something to try:
1) What compiler are you using and what c++ standard (e.g. `-std=c++11` or something similar)?
2) Are you enabling openmp support in Legion?
3) Breaking in with the debugger and getting backtraces after the slowdown begins would still be useful.

And please try removing the #ifndef/#endif pa

[2020-02-10 16:58] streichler commented on #744
I'm able to reproduce this message with c++11 and above (i.e. cases where the `__sync_synchronize` is elided by that commit), and removing the ifndef/endif pair seems to make it happier, so @rupanshusoi and @jiazhihao , please try to confirm that works for your applications as well.

I'm going to spend a bit of time trying to fix this properly this morning, but if I can't, I'll back out the change

[2020-02-10 18:56] streichler commented on #744
@rupanshusoi @jiazhihao please grab the following commit and give it another try:
https://gitlab.com/StanfordLegion/legion/commit/9d70cb91b3e8e1d63d1b23dd83bcf988d34564c1

[2020-02-10 19:24] elliottslaughter commented on #745
Just to confirm, what's the failure mode? Are you watching memory usage climb in `htop` (or similar) or are you seeing a message like "Default mapper failed allocation"?

If it's the former, then this is really starting to look like an application bug. There are a still a handful of places where it could be happening in the runtime or compiler, but 10 MB/s is a *lot*, so this is looking increasing

[2020-02-10 20:31] aheirich commented on #711
-rw-r--r-- 1 aheirich d108 194391853 Feb 10 21:19 gc_0.log
-rw-r--r-- 1 aheirich d108  46924862 Feb 10 21:19 gc_4.log
-rw-r--r-- 1 aheirich d108  48753543 Feb 10 21:19 gc_1.log
-rw-r--r-- 1 aheirich d108  47509165 Feb 10 21:19 gc_2.log
-rw-r--r-- 1 aheirich d108  47351561 Feb 10 21:19 gc_3.log
[GC.tar.gz](https://github.com/StanfordLegion/legion/files/4182892/GC.tar.gz)

[2020-02-10 23:29] magnatelee opened #746 "Legion: Support replay of non-idempotent traces"
Currently the tracing only permits idempotent traces whose postconditions subsume preconditions. Legion needs to support replay of non-idempotent traces as well, as they commonly appear when the body of a loop is partially traced.

[2020-02-10 23:31] magnatelee commented on #711
Legion GC founds a cycle in Alan's case, so I suspect this is a runtime bug. Assigning @lightsighter to this issue as well to have him take a look at the issue.

[2020-02-10 23:38] lightsighter commented on #707
@streichler Here is the problem I was thinking of:

- Launch task t1 to compute bounds of new index space
- Make new index space from future
- Make region
- Launch task t2 using new region.

t2 maps out of order with respect to t1 (no region or future dependences), t2 grabs resources t1 needs to run, deadlock. I don't think we want to do dependence analysis on all index spaces and subspaces needed

[2020-02-11 06:10] rupanshusoi commented on #744
Yes, it looks like it's fixed for my code. Thanks.

[2020-02-11 07:16] lightsighter commented on #711
While I agree that there is a cycle in the reference counting graph, it is for an index space and a partition, not a future and is therefore highly unlikely to be the source of the persistent memory leak. I don't see any cyclic references on future objects.

[2020-02-11 07:16] lightsighter commented on #711
Did we confirm that the futures are not being leaked any longer?

[2020-02-11 07:39] magnatelee commented on #711
Here is the output from Legion GC:
[code]
Apparently, there are still some futures that are leaked, but leaks on other handles, such as equivalence sets, seem more severe.

[2020-02-11 09:37] lightsighter commented on #711
If the run crashed then those numbers are meaningless. Legion GC only soundly reports leaks if the runtime shuts down correctly, otherwise you're just recording how many live objects there were when the runtime died.

[2020-02-11 09:40] lightsighter commented on #711
The reference cycle occurs when a partition is made with a color space that is identical to its parent index space. I've pushed a fix with b188ec613. I guarantee you that it is not the source of the leak. Assigning back to @magnatelee and @aheirich to investigate further.

[2020-02-11 09:49] lightsighter commented on #741
There is support for this now in both the master and control replication branches with the `create_partition_by_domain` set of calls. To test it I've removed the partitioning shim code so that all the old coloring-based partitioning calls (which are officially deprecated, but are still used by many apps and Regent) now are translated to calls to `create_partition_by_domain` so we should have prett

[2020-02-11 09:49] #741 closed

[2020-02-11 09:52] lightsighter commented on #741
Also forgot to mention, this code will be significantly faster with control replication if the color space of the partition being made aligns perfectly with the index space of the operation that created the future map. Otherwise it's going to suck. Don't say I didn't warn you. ;)

[2020-02-11 17:03] aheirich commented on #711
The run did not crash, it exited cleanly.  So the numbers are not meaningless.   Previously @manopapad and myself confirmed the problem is with a legion_future_from_untyped_pointer that is not matched by a delete.  Confirming that the problem still exists.

[2020-02-11 17:43] rupanshusoi commented on #745
I was able to generate logs for a smaller run and analyse it with `legion_gc.py`. Here is the summary
[code]

And yes, I am seeing memory usage climb in `htop`.

[2020-02-11 17:43] lightsighter commented on #711
Are you deleting all your regions at the end of the run? Leaked regions are guaranteed to cause leaked index spaces, field spaces, partitions, equivalence sets, views, managers, and constraints.

At a minimum it would be good to have a new log that confirms the cycle fix.

[2020-02-11 17:44] lightsighter commented on #745
Can you attach that log here?

[2020-02-11 17:45] rupanshusoi commented on #745
It is about 350 MB.

[2020-02-11 17:45] rupanshusoi commented on #745
The log is about 8 GB. The output of `legion_gc.py` is about 350 MB.

[2020-02-11 17:54] lightsighter commented on #745
It should compress pretty well though, see if you can upload a .tar.gz file of the legion_gc output. It might also help us to see a legion spy log from just a few iterations.

[2020-02-11 18:00] lightsighter commented on #745
Also, how many subregions do you have in your partitions? How many nodes is the machine you are running on too?

[2020-02-11 18:04] lightsighter commented on #745
If you can't upload the full file, run legion_gc with the `-lv` options and report just some of the output for a few of the leaked views.

[2020-02-11 18:10] rupanshusoi commented on #745
I have no partitions right now. As I said, my goal was to get correct output first and add partitions later, since I'm new to regent and parallel programming. I'm currently running on a single node machine, and will use a distributed one later. `htop` shows only a single core taking the workload for the entire run.

You can find the file here https://filebin.net/3yc339xnbnfrlwry

[2020-02-11 19:16] elliottslaughter commented on #711
Unless they're doing something unusual, regions should get deleted at the end of the scope where they're declared, and that's not happening, it's (probably) a compiler bug.

Running a basic region creation test (`tests/regent/run_pass/region_create.rg`) through legion_gc.py shows that we're leaking index spaces and field spaces but not regions. So somehow we're doing something unusual in Soleil.

[2020-02-11 23:14] lightsighter commented on #745
Ah, so I think I may have figured out the mystery. There's only two ways that you can make that many views with only 4 physical instances of regions, and if you don't do any partitioning, then there is only one. :) Can you share how deep your task tree is roughly? Do you happen to be doing recursion with any of your tasks?

[2020-02-11 23:29] lightsighter commented on #711
So it's worth noting that these Legion GC logs from the end of the run just tells us what leaked at the end of the run. It doesn't tell us what was accumulating during the run and ultimately was deleted. In order to confirm the futures are still the issue we need to see some data from the middle of a run from TRACE_ALLOCATION and not just Legion GC. Fixing the leaks at the end of a run would be go

[2020-02-12 00:56] magnatelee commented on #711
It's also worth noting that Alan's crash happens after running his code for 5 hours, whereas the log files he pasted are from only 100 iterations, so the crash still might have been caused by those leaked handles accumulated over a long period of time.

[2020-02-12 05:39] rupanshusoi commented on #745
I don't do any recursion.
But I think I know what you mean. The basic structure of my code can be seen here #744. All the tasks inside the inner loop are basically a bunch of loops themselves. The only one of them that calls a lot of other tasks is `flux_res`. A loop inside `flux_res` would look something like
[code]
All of these inner tasks just read data (but not `pt.flux`) so they can be run si

[2020-02-12 06:27] rupanshusoi commented on #744
@streichler Unfortunately, I'm still experiencing significant slowdown as compared to an older build of Legion and Regent. The first time I experienced this slowdown was when I got the above mentioned warning for the first time. If you think this is due to something else, I can try to find the commit which first caused it.

[2020-02-12 06:40] lightsighter commented on #745
`flux1`, `flux2`, and `flux3` are task launches themselves right? If they are, then this is where we are getting into trouble. We're getting lots of outstanding tasks which are all trying to run in parallel based on how your mapper is choosing to map them. The reason we're getting lots of views is that your mapper is choosing to map the regions for the intermediate tasks in the task tree rather th

[2020-02-12 06:41] lightsighter commented on #744
If you can give us a commit where the slow down occurred that would be great. Even a range of commits would be helpful, but a specific commit would be the best.

[2020-02-12 06:42] lightsighter commented on #711
This is also true, and yet another reason that we should be using TRACE_ALLOCATION to find the leaks as it will allow us to establish trends over a much larger number of iterations.

[2020-02-12 12:54] rupanshusoi commented on #745
I see. One more question though.
Since assigning more computation to a task will actually lead to less parallelism than possible, since in theory all of `flux1`, `flux2` and `flux3` can be run in parallel for all points simultaneously, would making several partitions and calling them separately on each one be more efficient? My understanding is that having more partitions allows Legion to utilise

[2020-02-12 18:25] elliottslaughter commented on #745
Right, the way to get parallelism is by partitioning. You can control how much parallelism by choosing how many subregions to create for each partition. So you're not really at risk of losing parallelism, the partitions can be as fine as they need to be to enable the parallelism you require.

Note that in your current setup, if you don't do partitioning, you are probably not getting much paralleli

[2020-02-12 19:30] magnatelee commented on #711
Here are some logs from Alan's new runs with 50, 100, and 200 iterations.

* 50 iterations

Legion GC
[code]
Trace allocation (only the last snapshot)
[code]

* 100 iterations

Legion GC
[code]
Trace allocation
[code]

* 200 iterations

Legion GC
[code]

Trace allocation
[code]

The number of leaked futures at the end of each run stays the same, but there is noticeable growth in the number of "liv

[2020-02-12 19:32] aheirich commented on #711
if it would help I could run for a lot longer, but not long enough to crash

[2020-02-12 19:43] magnatelee commented on #711
Actually, I'd like to check whether the future optimization is aggravating the problem. One of my hypotheses is that tiny tasks lifted from binary operations on futures are accumulating while holding references to futures. Turning off the future optimization will eliminate those tasks. @aheirich Can you apply this patch to Makefile, rebuild the binary, and try again?
[code]

[2020-02-12 19:48] aheirich commented on #711
and you still want LEGION_GC logs?

To enable Legion GC, you need to re-install Regent with CC_FLAGS=-DLEGION_GC and run it with -level legion_gc=2.

[2020-02-12 19:48] aheirich commented on #711
or is this the Soleil Makefile?

[2020-02-12 19:56] magnatelee commented on #711
Yes, and you don't need to reinstall Regent.

Yes, this is the Soleil Makefile

[2020-02-13 10:19] rupanshusoi commented on #745
Thank you, this was really helpful.

[2020-02-14 18:52] elliottslaughter commented on #634
Are there any examples of how the API is supposed to be used for compaction? I.e. given a disjoint/complete partition, return one where the elements are reordered so that each individual subregion is dense (e.g. as if by stable sort on the color of each element, though perhaps we don't want to actually sort).

[2020-02-15 06:07] rupanshusoi commented on #744
I'm hesitant to find this commit since the slowdown might just be due to my task tree (#745). I can report back once I've incorporated parallelism sufficiently.

[2020-02-15 21:53] lightsighter commented on #634
Create association doesn't have anything to do with partitions. In fact it's intentionally ignorant of partitions. All it does it construct an injective mapping from the points in one index space to the points in another index space of the same size. If you want, you can use dependent partitioning operators to project a partitioning from the domain index space to the range index space of this mapp

[2020-02-15 22:02] lightsighter commented on #726
I've update this code so that `legion_python` handles running scripts, modules, and a REPL the same as normal CPython. I've also updated it so that it uses support from #740 to remove Legion and Realm arguments from the command line before we get into Python. I'm not sure if Realm is doing it's full parsing of command line arguments yet though, so I've left the pruning code on the Python side in p

[2020-02-15 22:05] lightsighter commented on #740
Legion has been updated to parse all of its command line arguments and filter them out when you use the `Runtime::initialize` method and set the `filter` parameter to `true`. It also invokes the correct Realm method to prune Realm's arguments as well. I'm not sure though that Realm is fully filtering its command line arguments so I'm going to leave this issue open until @streichler can confirm. Re

[2020-02-16 05:25] bandokihiro opened #747 "Legion: independent dimensions of datasets with respect to index/field space dimensions"
In the context of a CFD simulation, my index space is a 1D `Rect` of size number of elements. In order to write solution files for specified physical variables, I need to write multiple doubles per variable per element.

For now, let's say my discretization requires me to write 4 doubles per variable per element. In the current Legion's implementation, I need to create the following HDF5 datatype

[2020-02-17 18:27] lightsighter commented on #747
I'm not sure I fully understand your problem. Fields in Legion can have an arbitrary size and don't need to be a plain-old-datatype. You can store things like `double[4]` in a field without any trouble (you might also do it with a `std::array<double,4>`). This should work correctly with HDF5 instances as well.

I think having a concrete code example here to look at would help us resolve the ambigu

[2020-02-17 21:27] bandokihiro commented on #747
Ok I will try to do that. Meanwhile the problem comes from the fact that the index space and the HDF5 dataset need to be of the same size (I think, according to a discussion I had with Sean). So if my index space is of type `Rect` of size 10 and the field space is of type `double[4]`, then I need to create an HDF5 dataset of size 10 with the `ArrayType` I mentioned previously instead of having a d

[2020-02-18 06:29] lightsighter commented on #747
Yes, I believe that constraint is still accurate. There's no way to "reinterpret" the structure of your data from HDF5 to Legion/Realm at the moment I believe. @streichler to comment if that is true in Realm. If it's not true in Realm, I should be able to finagle things at the Legion level to get something to work, but if Realm doesn't support it then there's not much I can do without some changes

[2020-02-18 18:30] magnatelee commented on #711
Leaving a note for everyone's benefit: so far I can tell from Alan's GC log, this issue seems to be caused by futures from tiny tasks lifted from binary operators piling up during execution. Turning off the future optimization works around this live leak. I'll further investigate why futures aren't being collected eagerly as they should. In the meantime, turning off the future optimization would a

[2020-02-18 18:46] elliottslaughter commented on #634
How do you deal with the standard use case where you want to run Parmetis and take the resulting coloring and compact it so that the elements with a given color are dense?

From the sound of it, this turns into:

1. Run Parmetis to generate the `color` field.
2. Partition by field on `color`.
3. Loop over each subregion, calculate volume. Run a prefix sum over the volumes to figure out how big to

[2020-02-18 23:17] magnatelee opened #748 "Handle Python package that internally dlopen shared libraries"
Right now, a Python module that loads a shared library can cause problems when the Python code is running on multiple nodes without DCR. In particular, when that shared library contains task implementations, the nodes other than the one that imported the module can't see those tasks, as the shared library hasn't been loaded on those nodes. I briefly discussed this issue with @lightsighter and @ell

[2020-02-18 23:21] lightsighter commented on #748
I have a 5th option that I thought about: each python module can have a dummy python task variant that is never used for anything, but when a module is loaded on one node, it will request a global registration of the variant on all the nodes, which will then load the module on all nodes, allowing each module to do local registration of all its variants. The downside to this is you can potentially

[2020-02-18 23:23] lightsighter commented on #748
Also, this issue applies as well in cases where we are running with DCR but not all nodes have a shard.

[2020-02-18 23:29] elliottslaughter commented on #748
Just to be clear, this issue only applies to native (C++) tasks. In Python, a task is identified by the tuple `module_name`, `function_name`, and Realm is smart and does the import on the fly if it doesn't already have it.

So we're really only talking about how to do global _native_ task registration.

It's a hack, but one answer would be to say that whenever you call native tasks defined inside

[2020-02-18 23:39] elliottslaughter commented on #744
Just FYI, I saw the `missed work counter wakeup?` message today in Legion Task Bench with commit c3a61afb45c20d1d668257f87ab625eb3a05d7af. It's non-deterministic, happened once at 32 nodes (out of ~70 runs) and once at 128 nodes (out of ~6 runs).

[2020-02-18 23:43] lightsighter commented on #748
This isn't specific to python. It happens anytime a task calls `dlopen` on a library with task variants of any kind in it. It just happens that the Python interpreter is the first real case that we've encountered. I doubt it will be the last.

That is option (3). You run a python task on every python processor in the system and import the module in the task body.

Imagine there are 300K of them an

[2020-02-18 23:47] elliottslaughter commented on #748
Ok, what if we instead say that a "shared library task" is registered *only* with the name of the library. The idea being, Realm will `dlopen` the library, and expect the library's initialization routines to do any task registration internally.

Basically, I'm trying to find ways to get this to piggyback off the existing Realm task loading infrastructure, rather than bolting on some new way to add

[2020-02-18 23:52] lightsighter commented on #748
Ok, so instead of providing an explicit `CodeDescriptor` object for a task variant, we would instead tell Realm that you can find this task variant in this library at this symbol, which is pretty much what the DSO `CodeDescriptor` already does, it's just that Realm expects the library to already be loaded when it goes looking right now. So the change would be that Realm now may need to detect the

[2020-02-18 23:56] elliottslaughter commented on #748
I think we'd make the `symbol` field of the DSO `CodeDescriptor` optional (since that's what you're objecting to). But yes, then we'd teach Realm to track what libraries are open and `dlopen` when it sees a new one for the first time.

Basically, a `CodeDescriptor` is just a thing that tells you enough information to load a task, and in this case all you really need is "load this library and the t

[2020-02-19 00:01] lightsighter commented on #748
300K lazily loaded code descriptors are more tolerable to me than 300K eagerly loaded code descriptors. I still feel like we need some kind of generic support for dynamic library loading in distributed environments to address cases like this.

[2020-02-19 06:40] lightsighter commented on #744
Just out of curiosity, do you think it is possible that you have lots of stacks accumulating somewhere? Legion Prof might help with visualizing that.

[2020-02-19 06:45] lightsighter commented on #634
It does, but those are the minimum primitives to doing what you want. I don't se any benefits in fusing together any of those operations in the runtime. If you want to simplify your API then build a library that abstracts all those details.

This one might be worth having an "index space" version of this that creates an association between two subregions.

[2020-02-19 10:17] lightsighter commented on #726
Do we want to add support for deduplicating stdout in control replication contexts?

[2020-02-19 10:21] lightsighter commented on #748
I've added support for option 3 to the legion_python module. Everybody can call `import_global` on a module name or object and if its in the top-level task it will make sure that it gets registered on all the python interpreters that are running. The function will not return until all those imports are done. If any import fails then the function will raise an `ImportError`.

It's worth noting that

[2020-02-19 10:28] lightsighter commented on #748
I also think option 2 is too burdensome on the user, especially if they don't know which modules are imported inside of other modules they are using. It's fine as a stop-gap if someone wants to prototype it, but seems unrealistic to expect users to know if they are using some "special" module or not that has to be loaded in a different way.

[2020-02-19 18:52] elliottslaughter commented on #726
Yes, I think that would be good, but I'd suggest splitting this into multiple issues for the remaining pieces (Jupyter, deduplicate stdout, REPL DCR integration) unless you believe they'll all be completed soon.

[2020-02-19 22:23] lightsighter commented on #726
I added support for deduplicating stdout when running with control replication.

Is this the right way to go about implementing a Jupyter kernel or do we think there is a better way?
https://jupyter-client.readthedocs.io/en/stable/wrapperkernels.html

[2020-02-19 22:28] lightsighter commented on #726
I don't think I'm ever going to do REPL DCR integration. If someone else wants to do that then they can make a separate issue. Everything else belongs here.

[2020-02-19 23:36] aheirich commented on #711
I have tried running with -ffuture 0 and it makes no difference.   Soleil-x dies with out-of-memory exceptions after running for about 4 hours on 5 nodes.

[2020-02-20 00:09] magnatelee commented on #711
This makes me start to believe that the issue might be in somewhere else, for which it would be really useful to reproduce Alan's issue on sapling.

[2020-02-20 05:34] bandokihiro commented on #634
Use case: CFD with dynamic mesh refinement. If adding/removing some elements and rerunning parmetis for instance, I would like to reshuffle indexes so that partitions are dense.

[2020-02-20 09:58] mariodirenzo opened #749 "Regent: spurious inadmissible statement error"
Regent (version in the current `parallelizer-dcr-new` branch) fails to compile the following script
[code]
with the following error
[code]

The error disappears and the script produces the expected results if both the `__demand(__parallel)` and `__demand(__openmp)` at lines 60 and 68 are commented.

[2020-02-20 21:58] rupanshusoi opened #750 "Regent: inlining task gives incorrect result"
The following
[code]
outputs
[code]
On commenting out the inline request at the top, we get
[code]
as output. Surprisingly, changing the first 3 declarations to use `0.0` instead of `0` (for example `var sum_delx_sqr : double = 0.0`) gives the correct result even with the inline request.

[2020-02-20 22:29] magnatelee commented on #603
Another useful thing to have with the task variant syntax is a way to allow different task bodies in task variants. So far we assume that a task has only one platform agnostic definition and the compiler automatically generates its variants for different architectures. In scenarios where there exist specialized implementations for certain architectures, such as Singe kernels in S3D, we want to mak

[2020-02-20 22:34] syamajala commented on #603
I think having different task bodies would also be useful for implementing something like the subrank task variant in the Regent version of S3D.

Just looking at the history of this bug report though, as @elliottslaughter said, the original request of being able to metaprogram task annotations would still be useful. If we could do that then for S3D we could have a build option that optimizes for c

[2020-02-20 22:58] mariodirenzo opened #751 "Regent: spurious "unexpected node type ast.typed.expr.Global""
The execution of the following script
[code]
fails with the error
[code]

If the `C.printf("%10.5f\n", J)` at line 19 is commented, the script is executed.

[2020-02-20 23:33] elliottslaughter commented on #751
What branch are you on? I think I fixed this on master some time ago.

[2020-02-21 06:21] mariodirenzo commented on #751
I’m on parallelizer-dcr-new

[2020-02-21 07:27] magnatelee commented on #751
@mariodirenzo I just pushed a rebase on the most recent commit in `control_replication`. Can you pull and try again?

[2020-02-21 08:47] mariodirenzo commented on #751
The error is fixed by the rebase.
Do you have an ETA for the merge of the parallelizer in `control_replication`?

[2020-02-24 09:24] Nischay-Pro opened #752 "Regent: Running regent code with GPU support enabled gives undefined symbol error"
Hi,

I compiled Regent with LLVM 6.0.1 and CUDA 10.2.89 on my Centos 8 node.

On trying to run regent code with `-ll:gpu` I get the following error.

`
/opt/legion/language/terra/release/bin/terra: symbol lookup error: /opt/legion/bindings/regent/libregent.so: undefined symbol: _ZN6Legion8Internal36register_builtin_gpu_reduction_tasksERKNSt3__13setIN5Realm9ProcessorENS1_4lessIS4_EENS1_9allocatorIS

[2020-02-24 14:08] streichler commented on #752
Which branch/commit of the Legion tree are you using?
How are you building Regent?  (i.e. What is your command line?  There are potential failure modes we can explore for both the make and cmake versions of the build, but they'll be different.)

[2020-02-24 14:10] streichler commented on #374
@seemamirch I'd suggest closing out this issue and creating new issues specific to any enhancements that are being proposed.  I know you're waiting on me for one of them, but I don't know if there are others.  :)

[2020-02-24 17:24] nsccap opened #753 "Legion Prof buggy with spy data"
Summary: changes in legion_spy.py broke legion_proj for cases with spy data

What version: latest stable legion-19.12.0

What happens: "legion_prof.py ./prof_0.gz ./spy_0.log" crashes in multiple places. This seems
to be caused by the following commit that changed a few critical things that prof relied on:
[code]

I fixed (cludged) it up enough to run locally but I'm pretty sure it's to ugly for a

[2020-02-24 17:31] seemamirch commented on #753
This has been fixed in the master branch and will be merged into stable in the next release

On Feb 24, 2020, at 9:24 AM, Peter Kjellstrom <notifications@github.com<mailto:notifications@github.com>> wrote:

Summary: changes in legion_spy.py broke legion_proj for cases with spy data

What version: latest stable legion-19.12.0

What happens: "legion_prof.py ./prof_0.gz ./spy_0.log" crashes in multip

[2020-02-24 18:34] Nischay-Pro commented on #752
I'm on the master branch with the latest commit pulled.

I'm using the gnu toolchain provided by CentOS to build LLVM 6.0.1 through spack.

I've also installed cuda 10.2.89 through spack. Before running the installation script I load the llvm and cuda modules via spack.

For the command line instruction I run its

`python3 ./install.py --cuda`

[2020-02-24 22:46] magnatelee commented on #751
The parallelizer merge (#639) is planned for the current milestone (20.03), which is due by March 31.

[2020-02-24 23:02] seemamirch opened #754 "legion prof: support background worker threads"
Background worker thread support - we need to first define a stream measurement API. This will be used to support DMA channels (multi-hop copies) profiling measurements in realm.

[2020-02-24 23:03] seemamirch commented on #374
Creating multiple issues to better track this

[2020-02-24 23:03] #374 closed

[2020-02-24 23:07] seemamirch opened #755 "legion prof: GPU task times not rendered accurately"
here is an example of this - http://sapling.stanford.edu/~mariodr/Patch_X

[2020-02-24 23:19] #751 closed

[2020-02-25 07:55] lightsighter commented on #752
This is effectively a duplicate of issue #735. Use the make build system instead of cmake to work around it until @streichler and @elliottslaughter add support for that issue in the cmake build.

[2020-02-25 08:11] nsccap commented on #753
Dumb of me not to check that first, sorry for the noise, please close.

[2020-02-25 08:24] nsccap opened #756 "documentation/trivial: README.md not updated for circuit example renaming"
Current master and stable has:
[code]
Afaict this was renamed years ago so should be changed to:
[code]

[2020-02-25 08:25] Nischay-Pro commented on #752
Ok. So I tried building Regent with the following flags `--cuda --no-cmake --no-terra-cmake` and I have a new issue while compiling Terra. I get the follow error

[code]

[2020-02-25 09:00] lightsighter commented on #752
You might ned to blow-away your terra instance when switching build systems (not something we usually encourage users to do). I would just delete the `terra` directory and let the build system check it out and built it from scratch.

[2020-02-25 09:39] Nischay-Pro commented on #752
Same error persists. I tried deleting the directory `terra`. I've also tried resetting my legion folder with `git clean -fxd`.

[2020-02-25 10:59] lightsighter commented on #752
Ok, I'll let @elliottslaughter comment.

[2020-02-25 11:55] MatthiasKohl opened #757 "Feature request: legion prof should support layout constraints"
It would be very helpful to know in the legion profile, in the memory views, for each instance, what the expected constraints on the layout are (including ordering, alignment etc.)

Possibly, it would be good to know other constraints as well, such as ColocationConstraint for each instance and LaunchConstraint for GPU tasks.

[2020-02-25 17:02] elliottslaughter commented on #752
Get rid of `--no-terra-cmake`, delete `terra`, and try again. CMake is the recommended build system for Terra.

[2020-02-25 18:33] elliottslaughter opened #758 "cmake: Build breaks when statically linking Legion with GASNet enabled"
My understanding is the following conditions are required to reproduce this:

  * CMake
  * `BUILD_SHARED_LIBS=OFF`
  * GASNet
  * `make install` and link the application against the installed copy

The application fails to link; it can't find GASNet symbols.

[2020-02-25 18:43] elliottslaughter commented on #756
Fixed in master, thanks.

[2020-02-25 18:43] #756 closed

[2020-02-25 19:30] elliottslaughter commented on #758
Reproduction steps:

[code]

Results in:

[code]

[2020-02-25 19:31] aheirich opened #759 "mRuntime->create_partition_by_image_range documentation"
There is no online documentation for
mRuntime->create_partition_by_image_range

Please remember to use simple sentences with one subject/object per sentence.

[2020-02-25 19:49] elliottslaughter opened #760 "cmake: FindGASNet initializes from ENV{GASNET_ROOT}"
This isn't a problem per se, except that its inconsistent with everything else we do with CMake. Currently we don't read any variables from the environment, except `GASNET_ROOT`. This one variable doesn't seem to be worth an exception.

Any objections to removing it? You can still configure with `-DGASNet_ROOT_DIR` as we've always allowed.

[2020-02-25 19:52] elliottslaughter commented on #758
Fixed in 95f999da3e03042e56aa5ff7588ca8866e2bf4fb. Turns out it was also a problem for ZLIB.

[2020-02-25 20:03] lightsighter commented on #759
It's identical to create_partition_by_image except with a range field instead of a point field. I don't think it needs any additional documentation as it should be self-explanatory.

[2020-02-25 20:06] lightsighter commented on #757
@seemamirch Let's just do dimension ordering and alignment constraints on the instances for now. If we need additional ones to be added later we can pipe them through on demand as the path will already have been established. Just have some of these layout constraints pop-up in the window when we hover over instances. Might also be good to have the name(s) of the logical regions that represent the

[2020-02-25 20:08] aheirich commented on #759
this is what the documentation shows:

emplate<int DIM1, typename COORD_T1 , int DIM2, typename COORD_T2 , int COLOR_DIM, typename COLOR_COORD_T >
--
IndexPartitionT< DIM2, COORD_T2 > | create_partition_by_image (Context ctx, IndexSpaceT< DIM2, COORD_T2 > handle, LogicalPartitionT< DIM1, COORD_T1 > projection, LogicalRegionT< DIM1, COORD_T1 > parent, FieldID fid, IndexSpaceT< COLOR_DIM, COLOR_COOR

[2020-02-25 20:08] streichler commented on #760
There's tons of examples of CMake modules that are found with the help of environment variables with nonstandardized names.  CUDA and Kokkos both come to mind.

[2020-02-25 20:40] syamajala commented on #759
Maybe the dependent partitioning operators would be a good candidate to document on the wiki? I feel like a lot of them all we really need are a simple example with a picture to show they work.

I wouldn't mind doing this at some point.

[2020-02-25 21:35] elliottslaughter commented on #760
Ok, I'm fine with keeping it if it has a reason to be there. Closing for now.

[2020-02-25 21:35] #760 closed

[2020-02-26 07:51] lightsighter commented on #753
Closing this since it seems to be fixed in master.

[2020-02-26 07:51] #753 closed

[2020-02-26 13:48] streichler commented on #675
With commit 10ea064, Realm understands the following command-line parameters:

`-cuda:skipgpus N` - Do not try to use the first N gpus.  You can do this with CUDA_VISIBLE_DEVICES in most cases, but this also works to reserve GPUs for use by (often non-configurable) non-Legion code in the same process as well.

`-cuda:skipbusy` - Silently skip over GPUs for which a CUDA context cannot be created (e

[2020-02-26 14:39] Nischay-Pro commented on #752
Thanks @elliottslaughter . I was able to successfully compile and execute the code. While my results did not diverge I am getting the following warning message.

[code]

I'm assuming it's safe to ignore this warning?

[2020-02-26 18:41] elliottslaughter commented on #758
This isn't quite fully resolved, the application which originally motivated this is still failing to link (lots of "undefined reference to ...").

[2020-02-26 18:43] elliottslaughter commented on #752
Yes, that warning should be fine to ignore.

[2020-02-26 18:53] elliottslaughter commented on #752
Closing since the remaining unresolved parts of this issue correspond exactly to #735. But please feel free to let us know if there anything else (either here or in a new issue).

[2020-02-26 19:04] bandokihiro opened #761 "Legion: missing debug symbols in outputs"
When using the CMake Debug build (static or shared), then linking with a Legion application, debug symbols are not output to the terminal when running with flags like `-lg:warn_backtrace` or exporting `LEGION_BACKTRACE=1`.

[2020-02-26 19:06] elliottslaughter commented on #761
@streichler I can reproduce this; `gdb` works fine (I get backtraces with line numbers, variables, the whole shebang) but somehow Realm's own backtraces don't work. Any ideas?

[2020-02-26 19:54] elliottslaughter commented on #761
The solution to this is to set the property `ENABLE_EXPORTS` on the user's application. See [the CMake documentation](https://cmake.org/cmake/help/v3.6/prop_tgt/ENABLE_EXPORTS.html) for details. This results in adding `-rdynamic` to the link command line.

Example of doing this in a CMake file:

[code]

It's not obvious to me if we should attempt to fix this at the Legion level or not, since if we

[2020-02-27 00:58] elliottslaughter opened #762 "regent: Failure to access partition color bounds"
[code]

Fails with:

[code]

[2020-02-27 05:21] streichler commented on #605
The MPI network layer is merged in as of commit 05a66970.  Thanks to @hzhou for doing most of the work on this.  This network layer is enabled by setting `REALM_NETWORKS=mpi` for the make-based build or `Legion_NETWORKS=mpi` for the cmake build.

The existing "gasnet1" (i.e. GASNet-1 or GASNet-EX using its GASNet-1 compatibility API) network layer is requested either by the new settings: `REALM_NE

[2020-02-27 09:23] lightsighter commented on #605
How does the performance compare?

[2020-02-27 09:25] lightsighter commented on #761
CMake being stupid strikes again!

[2020-02-27 13:30] streichler commented on #605
Unknown.  Please try it out on applications of interest and report back.  Let's open new issues for
any performance-related concerns though.

[2020-02-27 18:21] elliottslaughter commented on #761
I don't know that I'd characterize it like that, in Make this only works because we force it for all applications by setting `-rdynamic`. But if you were starting with Make from scratch you'd have to discover this flag yourself, just like we had to discover it with CMake.

I think the big open question is whether we want to try to set CMake up so that the setting is "infectious" (basically taking

[2020-02-27 19:04] elliottslaughter commented on #762
Fixed in master as of bbe580925ab52bc7a392ea1029cbd077dadee7c8.

[2020-02-27 19:05] #762 closed

[2020-02-27 20:12] streichler commented on #761
It occurs to me that `-rdynamic` is also necessary for Realm's portable task registration of function pointers, so I'd advocate for it being infectious, at least by default.

[2020-02-28 12:39] rupanshusoi commented on #752
Even though we ran with `-fcuda 1`, legion prof isn't displaying any GPU profile. Checking `nvidia-smi` during execution confirmed that the GPU was being used.

[2020-02-28 17:58] seemamirch commented on #752
Can you upload the prof files (produced when you the application)?

On Feb 28, 2020, at 4:39 AM, Rupanshu Soi <notifications@github.com<mailto:notifications@github.com>> wrote:

Even though we ran with -fcuda 1, legion prof isn't displaying any GPU profile. Checking nvidia-smi during execution confirmed that the GPU was being used.

—
You are receiving this because you are subscribed to this threa

[2020-02-28 21:28] rupanshusoi commented on #752
You can find the .gz file here https://filebin.net/w3glnkq8o1p6pe16

[2020-02-28 22:55] elliottslaughter commented on #752
Did you also pass `-ll:gpu 1`?

[2020-02-28 23:50] streichler commented on #714
Should be fixed with commit ae21b31.

[2020-02-28 23:50] #714 closed

[2020-02-29 01:50] magnatelee opened #764 "Legion: regions created in a task are not inline mapped for the inlined tasks"
When a task creates a region and inline launches a sub-task that takes that region, the runtime currently doesn't inline map the region for the sub-task and instead raises an error.

To reproduce this issue, run `examples/examples/embed.rg` after applying the following patch to `language/examples/embed_tasks.rg`:

[code]

Here is the error message from this reproducer:

[code]

[2020-02-29 04:01] rupanshusoi commented on #752
Yes.

[2020-02-29 23:38] lightsighter commented on #764
This is not a bug. The crash is coming from inside the child task implementation which is assuming that there is a valid physical region. It's not sound to assume that. When we inline a task, we give the task the same physical regions as the parent task has at that moment when the task is launched. That means that if those regions are unmapped then those physical regions will not be valid (the sam

[2020-02-29 23:40] lightsighter commented on #764
Assigning this back to @syamajala and @magnatelee to address in S3D.

[2020-02-29 23:42] lightsighter commented on #764
This is where the application is incorrectly assuming a mapped physical region:

[code]

[2020-02-29 23:44] lightsighter commented on #764
Note here we give the mapper all the physical instances (including virtually mapped instances) so that it can be intelligent about variant selection (assuming the existence of layout constraints):
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_mapping.h#L557

[2020-03-02 00:18] lightsighter commented on #761
Why should users ever be responsible for setting `-rdynamic`? It's a property of the code being built and the functionality that it needs, which is not something the user should ever need to know. Again CMake made a bad design decision and we're left cleaning up the pieces.

[2020-03-02 21:05] elliottslaughter commented on #752
One more sanity check: are you using `__demand(__cuda)` on the tasks you want to run on the GPU?

[2020-03-02 22:15] rupanshusoi commented on #752
Yes, I'm using it on several tasks.

[2020-03-02 22:34] elliottslaughter commented on #752
I'm out of ideas at this point. @magnatelee what would we need to do to verify that the GPU tasks are being generated?

[2020-03-02 23:03] streichler commented on #752
Doing a run with `-level taskreg=2` will show which tasks are registered with which processors at the Realm level.

[2020-03-03 00:24] lightsighter commented on #707
Ok, the plan is to implement this and enforce mapping dependences similar to how we do it for dependent partitioning operators today. All operations that come after the operation that produces the future for the index space shape will record a mapping dependent on that prior operation. This is sound but imprecise logical analysis. Physical analysis though will still be precise and will elide any u

[2020-03-04 23:08] #650 closed

[2020-03-04 23:30] lightsighter opened #765 "Control Replication Merge to Master"
See merge request:

https://gitlab.com/StanfordLegion/legion/-/merge_requests/157

TODO list:

- [x] Finish refactoring of instances for issue #546
- [x] Refactor control replication to use the replicated instances for inline mappings and attach ops
- [x] Teach Legion Spy to validate inline mappings and attach operations in control replication
- [x] Detection of violations of control replication n

[2020-03-04 23:45] #759 closed

[2020-03-04 23:46] #320 closed

[2020-03-05 06:48] lightsighter commented on #605
I'm seeing undelivered messages with this network. I'm running the `mpi_with_ctrl_repl` example in the `control_replication` branch with `mpirun -n 2 ./mpi_with_ctrl_repl -ll:force_kthreads` so both processes are running on the same node and intentionally leaving off the `--bind-to none` option to force as much randomness on the thread scheduling as I can. If you crank it up to `-n 16` you'll get

[2020-03-05 06:52] lightsighter commented on #605
Worth noting that I'm also running in debug mode. The "interesting" backtraces show no evidence of a virtual channel hang, only messages with no preconditions on unordered virtual channels that haven't been delivered.

[2020-03-05 13:13] hzhou commented on #605
@lightsighter I'll investigate.

[2020-03-05 19:08] elliottslaughter opened #766 "Regent: import doesn't work with DCR"
We currently use semantic information on imported regions/index spaces/partitions to make sure we don't import them multiple times. These checks fail in a DCR context because one of the shards may arrive after the semantic information has already been attached on another node.

It occurs to me that we may be able to relax these checks for index spaces and partitions; only regions ought to really b

[2020-03-05 23:41] magnatelee commented on #766
I actually hit this issue while I was working on the SC'19 paper (and I should have posted this issue then!), and I asked @lightsighter whether the operations on semantic information in shards can be replicated so that shards can be in sync with each other on those operations. I remember @lightsighter told me potential issues in supporting this, I don't remember what they were. @lightsighter for e

[2020-03-05 23:52] elliottslaughter commented on #766
At least one issue is that the first check is a check for *non*-existence. After that we attach the semantic info (which is replicated on all the nodes). So I'm not sure how to do this, unless we make the semantics of the query for semantic info to be to *not* check remote data if you're in a control replicated context, or something like that.

Am I missing something?

[2020-03-06 00:59] magnatelee commented on #766
That's what I was proposing. Queries for semantic info will only use what is available in its replicated context and attach operations likewise will modify its local state. As long as all shards perform those operations deterministically in their program order, they will maintain a consistent view only with local accesses and mutations.

[2020-03-06 01:08] magnatelee commented on #766
I guess one potential issue, which btw is somewhat orthogonal to the use case we discussed, is a race between child tasks and parent shards. Because queries from shards are neither deferred nor synchronized properly with child tasks,  it's not safe for the parent shard to query the semantic info attached by its child task. So using semantic information as an indicator for anything may not be a goo

[2020-03-06 13:29] syamajala opened #767 "Regent: index launch optimizer failure"
The following fails to compile:

[code]

It results in this error:
[code]
The only way to get it to compile is to use __forbid(__index_launch).

[2020-03-06 18:21] elliottslaughter commented on #767
Looks like an issue in field polymorphism? CC @magnatelee

[2020-03-06 19:03] elliottslaughter commented on #674
I'm going to declare that we should just build Piz Daint applications on the compute nodes. An involved fix for just one machine doesn't seem worth it to me.

[2020-03-06 19:03] #674 closed

[2020-03-06 19:03] elliottslaughter commented on #704
@streichler Can you please propose a syntax?

[2020-03-07 00:42] syamajala commented on #767
I realized I need to be able to index space launch tasks in order to use the dumping code on multiple nodes otherwise task->index_point doesn't get filled out and I don't know what subregion we're dumping values for in S3D.

[2020-03-07 05:00] hzhou commented on #605
@lightsighter I am trying to reproduce what you described. Is this supposed to run on a single node with the command line:
[code]
and you were seeing it hangs?

I am trying it on a ubuntu work station and it seems to complete ok. Were you running it in docker? Which mpi library were you using?

[2020-03-07 07:16] lightsighter commented on #767
I'm not sure if Regent supports this, but Legion will let you set an arbitrary point on a single task launch so you can give it some context from the calling task:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion.h#L1464

[2020-03-07 07:30] lightsighter commented on #766
There are many issues with this approach, one of which is that you guys are kind of abusing what semantic information is for.

That pretty much aligns with my viewpoint as well.

Are imports global across tasks in a single process or are they something that is local to the lifetime of the task? If it's the later, you should probably be using task-local variables to track state within the task.
htt

[2020-03-07 08:33] lightsighter commented on #605
Yes, two processes on a single node. I'm seeing it hang in lots of different ways. The common theme seems to be a user event that is created and waited on in one process and then sent to another process where it is triggered. I can see that the event is being triggered on the remote node, but the event trigger and corresponding wake-up of the thread that waited on the event is not happening on the

[2020-03-07 14:53] hzhou commented on #605
I just tried with OpenMPI 4.0 -- one just happened to be available on my machine -- and it seems to run ok. I'll try 3.1.3 later.

A difference I noticed that with OpenMPI, it shows following warnings:
[code]
I am not sure whether this is relevant. I recall this might due to mpi-processes being bound-to certain cores -- probably OpenMPI's mpirun does that by default.

[2020-03-07 15:33] hzhou commented on #605
OpenMPI 3.1.3 is ok on my side as well. I am using a self-compiled version.

[2020-03-07 19:11] eddy16112 commented on #605
I tried to compile Legion into both debug and release mode with Open MPI 3.1.3, and I did not see any issues when running the following in single node:

The default process binding of Open MPI is `-bind-to core`, I tried `-bind-to none`, and I still can not reproduce the bug. One way to check the installation of Open MPI is `ompi_info`, which tells configurations of Open MPI, although I do not thi

[2020-03-07 22:27] lightsighter commented on #605
I still see it 1 in 1000 runs. If I run the Legion test suite in the background it comes down to 1 in 100 runs. If you have access to `sapling` I can point you at a pair of frozen processes.

You should be getting those warnings. I intentionally said when I first reported the issue that you should be using `--bind-to core` (the default MPI setting) in order to force as much random thread schedulin

[2020-03-08 01:08] hzhou commented on #605
@lightsighter I just repeated 10000 runs. I don't have access to `sapling`. Do you think you could reproduce it in docker and share with me the docker file (or image)?

[2020-03-08 06:53] lightsighter commented on #481
Not all "channel" operations on the GPU are performed by copy engines, some things like fill operations turn into cudaMemset calls which are done as kernels running on the GPU. These kernels can interfere with normal application kernels and make the fills look like they are taking longer than they actually are. We should have a way to distinguish which channel operations on the GPU are done by the

[2020-03-09 01:39] magnatelee commented on #767
This should be fixed by 47245b1a. @syamajala Please pull and try again.

[2020-03-09 09:14] magnatelee commented on #750
This should be fixed by 522329e5. @rupanshusoi Can you pull and try again?

[2020-03-09 09:22] magnatelee commented on #389
PR #763 should address this issue. Will close the issue as soon as #763 is merged to master.

[2020-03-09 09:46] magnatelee commented on #749
This should be fixed in the most recent parallelizer-dcr-new. @mariodirenzo Please pull and try again.

[2020-03-09 12:08] mariodirenzo commented on #749
Works for me. Thank you!

[2020-03-09 12:08] #749 closed

[2020-03-09 17:36] syamajala commented on #767
This seems to work for the posted example.

[2020-03-09 17:36] #767 closed

[2020-03-09 17:43] rupanshusoi commented on #752
My bad, I was using the `cuda` annotation where the task was being called, instead of putting it before the task definition. There is no problem, and you can go ahead and close this issue. Thanks.

[2020-03-09 17:49] elliottslaughter commented on #752
@rupanshusoi Can you share a code sample from before the fix? The compiler should throw an error if you put `__demand(__cuda)` where it isn't allowed.

Thanks.

[2020-03-09 17:53] rupanshusoi opened #768 "Regent: CUDA optimisation fails with C function"
The following
[code]
fails with
[code]
The code works by either removing the cuda annotation or the C power function.

[2020-03-09 17:54] elliottslaughter commented on #768
Can you use Regent's `pow` instead?

[code]

And similarly with any other `math.h` functions; otherwise Regent can't optimize them.

[2020-03-09 17:57] rupanshusoi commented on #768
Yes, that works. Thanks!

[2020-03-09 17:57] #768 closed

[2020-03-09 18:02] rupanshusoi commented on #750
Yes, looks like it's fixed. Just curious, do you have any idea why changing `0` in the initialisations to `0.0` was masking the error?

[2020-03-09 18:21] magnatelee commented on #750
There were two thing that were contributing to the issue. 1) the task inliner was "forgetting" the type of variables `sum_delx_sqr` and `sum_dely_sqr`, which later pick up the type of their literals, int32. 2) unlike in C, printf in Regent (more precisely in Terra) is more strict about argument types. your code with the inliner bug was putting a 32-bit integer variable in a place where the printf

[2020-03-09 19:37] rupanshusoi commented on #752
I was able to find a smaller reproducer. The following
[code]
executes without errors but the GPU is not profiled in legion prof. If the for loop in `main` is changed to a for-num loop, the compiler correctly says that the CUDA annotation can't be used here. If we move the annotation to the top of the declaration of `foo()`, the profiling works as expected. The contents of `foo()` are irrelevant.

[2020-03-09 19:51] elliottslaughter commented on #752
Ok, in master as of 54b6974693b0c4878a2d60322ce202bfff85bbfb, this should be an error. I'm not sure why it wasn't before, but it will be going forward.

[2020-03-09 20:44] elliottslaughter commented on #766
As of master in commit fb9156045b8c438066a80d8bcdbca9a7f97c4d36, I have allowed multiple imports of index spaces and partitions (by just removing the tagging entirely). @magnatelee and I believe this should be safe, so the restrictions were unnecessary.

That still leaves regions, but I believe this is sufficient to unblock S3D for the time being.

[2020-03-09 21:14] elliottslaughter commented on #766
Removing the S3D tag and bumping the milestone since this seems to be sufficient for S3D at the moment.

[2020-03-09 21:48] lightsighter commented on #766
@elliottslaughter can you answer my question from before:

[2020-03-09 21:52] elliottslaughter commented on #766
Currently it's a global property, but I think we can make it task-local. Basically, we need to make sure that any imported region does not alias with any region a task might currently have access to, which I think we can do with task-local tracking. (We will need to be careful to mark task arguments, which I think is not something we currently do, since the current tracking is global.)

[2020-03-09 22:21] elliottslaughter commented on #752
Had to revert my change since it turns out `__forbid(__cuda)` is there for a reason. The correct fix (which I have yet to implement) is to reject it only when not inside a task that also has `__demand(__cuda)`.

[2020-03-09 23:01] lightsighter commented on #766
Ok, it seems like locally scoping this to a task is the right answer in the long run anyway and the runtime I believe already provides the necessary facilities for doing this that do not require the use of semantic information.

[2020-03-10 20:28] elliottslaughter commented on #752
Ok, trying again with 2d7d9a253830ee79c980e541cfe6ba8ff148912b. Will close if it passes CI.

[2020-03-10 21:37] elliottslaughter commented on #745
@rupanshusoi Are you still hitting this? If not maybe we can close this issue.

[2020-03-10 21:38] rupanshusoi commented on #745
No, it has been resolved. Thanks.

[2020-03-10 21:40] elliottslaughter commented on #737
Email from Google on this topic:

[2020-03-10 21:40] #745 closed

[2020-03-10 21:46] #752 closed

[2020-03-11 18:43] elliottslaughter opened #769 "Legion Spy: check for partition completeness"
Currently, Legion Spy checks that partitions are disjoint, but not that they are complete. It would be nice to add this so that we have a uniform way for users to verify that their partitions match the properties they specify.

[2020-03-12 18:26] stevenrbrill opened #770 "Legion: Tracing causes different behavior between runs"
In the CFD code we are developing, we are using tracing around our timestepping loop. However we are seeing different results each run (which is most easily found in the fact that our simulation goes unstable at different timesteps each time. This only occurs when `-dm:memoize` is used. Otherwise the solution is consistent.

Also, this issue only occurs when Legion is built with Gasnet (even if on

[2020-03-12 22:36] lightsighter commented on #707
Adding a second aspect to this: create fields from futures that describe the sizes of the fields.

[2020-03-13 09:34] lightsighter commented on #770
Also worth noting that I have observed a similar behavior with Pennant, but in my case I only see it show up around 128 GPUs across 16 nodes. Symptoms are similar though.

Do you run with multiple processes per node or just one process on a single node?

[2020-03-13 12:19] junghans opened #771 "19.12.0: Some tests core dump on fedora rawhide"
`spmd_cgsolver` test:
[code]
and `test_profiling`:
[code]
and `deppart`:
[code]

This happens with `gasnet-2019.9.0` as well as `gasnet-2020.3.0`.

Most likely this has something to do with Fedora injecting `-D_FORTIFY_SOURCE=2` and `-D_GLIBCXX_ASSERTIONS` into the `CXXFLAGS`.

Build log [here](https://github.com/StanfordLegion/legion/files/4329482/build_legion.txt)

[2020-03-13 12:25] junghans commented on #771
One can reproduce this in docker:
[code]

[2020-03-13 15:53] stevenrbrill commented on #770
I am running with -ppn 1 in the mpiexec command, but would like it to use all the processors per node, which Legion is taking care of.

[2020-03-13 21:08] magnatelee commented on #750
@rupanshusoi Can you close the issue if you confirmed the fix?

[2020-03-13 23:21] #750 closed

[2020-03-15 01:14] streichler commented on #675
@lightsighter are these controls sufficient for your needs?

[2020-03-15 01:36] streichler commented on #704
For unstructured copies, the syntax that seems intuitive to me is:

gather: ```copy(r.a->s.b, t.c, ...)``` === ```for i in t do t.c[i] = s.b[r.a[i]] end```
scatter: ```copy(r.a, s.b->t.c, ...)``` === ```for i in s do t.c[s.b[i]] = r.a[i] end```
both: ```copy(r.a->s.b, t.c->u.d, ...)``` === ```for i in t do u.d[t.c[i]] = s.b[r.a[i]] end```

This keeps the existing rule that the destination's index

[2020-03-15 04:20] lightsighter commented on #675
I'm pretty sure I reported this bug on behalf of @mjgarland so I'll let him respond.

[2020-03-16 04:24] streichler commented on #771
Two of those failures (test_profiling and deppart) appear to be fixed by a commit that's in a side branch that I need to bring back to master.  Can you apply this patch and confirm?
[code]

The third error (spmd_cgsolver) is in legion_analysis.cc, but that code appears to have changed since the 19.12 snapshot.  Can you try building against the master branch (with the above patch as well) and see i

[2020-03-16 06:18] lightsighter commented on #771
Try this patch for `spmd_cgsolver`:

[code]

[2020-03-16 13:57] junghans commented on #771
@streichler, your patch helped for `test_profiling` and `deppart`.

@lightsighter, even with your patch `spmd_cgsolver` still fails.

Build for master is currently running.

[2020-03-16 14:23] junghans commented on #771
Results from master build:
[code]

[2020-03-16 14:30] mariodirenzo commented on #516
I've observed this issue with my solver too.
For future reference, I've applied the following patch to the default mapper as a workaround.
[code]

[2020-03-16 14:47] streichler commented on #771
@junghans did the build on master use the patch for test_profiling/deppart above and still fail?
Can you explain to me how to do a build against master?

[2020-03-16 14:57] junghans commented on #771
I thought the patches were already in master, so no patch, but the patch also doesn't apply to master:
[code]

[2020-03-16 14:58] junghans commented on #771
Here are changes I did to build master:
[code]

[2020-03-16 15:05] junghans commented on #771
In case you were wondering this is `771.patch`: https://src.fedoraproject.org/fork/junghans/rpms/legion/blob/v2019.12.0/f/771.patch

[2020-03-16 15:10] streichler commented on #771
Ok, so the new patch was _not_ applied to the build of master?

[2020-03-16 15:19] junghans commented on #771
Yes! As it cannot be applied due to hunk conflicts (see above).

[2020-03-16 15:27] streichler commented on #771
Oh, right...  Please do: `s/__alignof__/REALM_ALIGNOF/' on `771.patch`.

[2020-03-16 16:00] junghans commented on #771
[code]

Just make a branch and I can pull it from there.

[2020-03-16 22:19] streichler commented on #771
@junghans please go back to 19.12 and apply this patch in addition to the one above and hopefully things'll work:
[code]

[2020-03-16 22:27] mariodirenzo commented on #624
I'm encountering this issue in my solver. If I have a periodic domain, the partitions that I am defining to support the stencil operations wrap around the main region. The result is that the nodes with the periodic boundaries allocate a lot of memory. It would be good to able to obtain instances with the same size as the partitions that I am defining in the solver

[2020-03-16 22:32] streichler commented on #624
@mariodirenzo what would you like the inner loop of your task to look like?  how do you want to compute addresses that wrap around in the index space?

[2020-03-16 22:37] mariodirenzo commented on #624
If I understand your question correctly, the inner loop of the task looks like
[code]
where `r[c].cp1` is an int3d stored in each point that on the boundaries of the domain is
- `r[c].cp1 = c` if it is not periodic
- `r[c].cp1 = (c + int3d(1,0,0))%r.bounds` if it is periodic.

[2020-03-16 23:11] streichler commented on #624
Right, so the for loop will turn into something like:
[code]
and an affine access like `r[c].b` will turn into:
[code]
Nice and efficient.  However, it gets ugly as soon as there are multiple pieces in an instance.
If we specialize a lot in the C++ (i.e. build an accessor designed for this wraparound case and little else), we can probably get to something like:
[code]
and then if we're lucky, the

[2020-03-17 01:38] junghans commented on #771
Works!

[2020-03-17 01:41] streichler commented on #771
Cool.  Please use these patches for 19.12.  We expect the issues to be fixed in the 20.03 release that's coming up.

[2020-03-17 05:16] lightsighter commented on #769
There is now support for the `-lg:partcheck` flag which will verify (in order) the containment, disjointness, and completeness of partitions. Don't say I didn't tell you it was expensive.

[2020-03-17 05:16] #769 closed

[2020-03-17 05:19] lightsighter commented on #771
@streichler Did you commit your patches to the master branch? I've added mine, so once you add yours then you can close the issue.

[2020-03-17 07:12] mariodirenzo commented on #624
Considering that the partitions that I create are not completely sparse but they just select a number of contiguous elements from the other side of the domain, can't you just create an affine piece that accommodates on one side the copies that come from the other side of the domain.
To give a practical example, if I have a 1d region of size 256 and a partition that contains the indices [191:255] a

[2020-03-17 16:21] streichler commented on #624
Yes, that's basically how the instance will be laid out in memory.  The question is how we convert
```r.a[x]``` -> ```*((inst_base - 191) + x)```
for `x >= 191` and
```r.a[x]``` -> ```*(inst_base + 65) + x)```
for `x == 0`.

[2020-03-17 18:36] magnatelee commented on #624
@streichler The parallelizer can certainly generate loops to eliminate the inclusion checks against different stencil regions, but we're not doing it at the moment because of potential combinatorial explosion of cases; i.e., in general we need to generate 2^N loops for N stencils in a parallelizable loop. For fully affine cases, the parallelizer instead generates a task variant requiring the inter

[2020-03-17 19:25] streichler commented on #624
@mariodirenzo do you need the full generality of the `cp1` field in your example, or would it have been possible (either manually or via metaprogramming) to have two versions that explicitly do either:
```r[c].b = r[c].a + r[(max(c.x + 1, 255), c.y, c.z)].a``` (for nonperiodic)
or
```r[c].b = r[c].a + r[(c + int3d(1,0,0))%r.bounds].a``` (for periodic)
?

@magnatelee if the regent code did look lik

[2020-03-17 19:41] elliottslaughter opened #772 "Regent: Assign task point and domain for individual tasks"
One nice thing about an index launch is you can figure out which task you are by the point the task is assigned in the launch domain. But if you have a loop that fails to index launch, you can't do this. One way to shrink the gap between individual and index launches would be to automatically assign every individual task the point and domain of the innermost surrounding loop. So e.g. in the follow

[2020-03-17 20:32] magnatelee commented on #624
@streichler I believe Mario wouldn't need to clip the coordinate as he is adding some pads for boundary conditions and iterating over only the interior elements.

The parallelizer should be able to generate such accessors as it already has accurate information about the shape of stencils. I guess the accessors for periodic wrapping cases would need to know the layout of instances to figure out the

[2020-03-17 20:39] streichler commented on #624
The intent is that accessors with GPU support are trivially copyable so that they can be constructed on the host and then passed to a CUDA kernel by value.  `AffineAccessor` has this property, but `GenericAccessor` does not (and therefore isn't supported on the GPU).

[2020-03-17 20:40] syamajala commented on #772
I would like this.

[2020-03-17 20:49] aheirich opened #773 "Legion: problem building on systems with installed complex.h"
This problem came up in building TeraChem so I will use that as the example.  This could affect any Regent application when Regent is built and installed with cmake.

Here is a sample of the build error for main.cpp.  main.cpp includes eri-regent.h which includes legion.h.

g++ -O2 -Wall -Werror -std=c++11 -I/usr/local/include -I/home/aheirich/Documents/SLAC/software/terachem/eri-regent/src/tests/

[2020-03-17 20:51] aheirich commented on #773
a workaround is to disable complex reductions in regent by editing CMakeLists.txt

diff --git a/CMakeLists.txt b/CMakeLists.txt
index 0e6f390e5..8a3e21bef 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -493,14 +493,14 @@ endif()
 # Complex support
 #------------------------------------------------------------------------------#

-if(Legion_BUILD_ALL OR Legion_BUILD_BINDINGS)
-  option(Legion_

[2020-03-17 20:54] streichler commented on #773
I think this will generally be a problem for building against an installed Legion, no matter whether it was built with cmake or the Makefile flow.  By calling the header "complex.h" and putting it in the root of the Legion include tree, an app will be forced to include it with
```#include <complex.h>```
and unfortunately, POSIX has already staked out that turf: https://pubs.opengroup.org/onlinepub

[2020-03-17 21:20] magnatelee commented on #624
Affine accesses are what the compiler can handle in GPU code generation as well. I was hoping that at least some kinds of accessors other than AffineAccessor that can handle "chunky" sparse instances are trivially copyable, or at least made copyable with some effort. It would be even nicer if that chunkiness could be decided by the mapper so that the mapper can guide which kind of accessors the co

[2020-03-17 21:40] elliottslaughter commented on #624
Just to be clear though, we're not using the C++ types at all (and I don't think we can). We've reimplemented the affine accessor in Regent; we'd need to also implement any other kinds of accessors as well.

One issue with "chunky" accessors is uncentered accesses (i.e., `a[b[x]]` for some arbitrary field `b` or `a[f(x)]` for some affine function `f`). I don't remember ever getting to a satisfying

[2020-03-17 21:41] mariodirenzo commented on #624
The current version of the code works in a way that the access to the stencil points is modified though the field `cp1` (actually goes up to `cp3` for the +3 access) in case of non-periodic boundary conditions in a way such that something equivalent to `max(c.x + 1, 255)` is enforced, ghost region do not wrap around the region and I do not see this issue.
I could metaprogram a specific version for

[2020-03-17 21:42] streichler commented on #624
In practice, what do you think a reasonable bound on the number of chunks you'd need is?

Well, it's an optimization problem with an easily-specified cost metric.  I agree the heuristics/solution for it might be complicated though.

The pointer math I gave above works fine for uncentered accesses too.  There is an additional optimization opportunity for the structured indirect accesses though, and

[2020-03-17 22:05] elliottslaughter opened #774 "Deprecate span iterator?"
While chasing a Regent vectorizer regression recently @magnatelee pointed out to me that the span iterator is now obsolete, being backed by the rect in domain iterator. Since this involves strictly more indirection, and since spans are one of the remaining places there is still some dim == 0 vs dim == 1 cruft, maybe it's worth deprecating them?

Even if we can't remove it (soon) from the C++ API,

[2020-03-17 22:18] magnatelee commented on #624
I'm hoping that it won't exceed (cache line size)/8, otherwise the array that we store base pointers in won't be fetched as nicely.

Yup, the problem can be easily stated, but the solution may not. I guess equal distribution of pieces across chunks without any optimization would get us something working initially. In the worst case where one of the bounding boxes blows up, we can still increase th

[2020-03-18 02:10] ahenzinger opened #775 "Adding the number of copy profiles to report_profiling()"
Hi,

Would it be possible to add the number of copy profiles that will be generated to the task profile given in report_profiling()?

Thanks!

[2020-03-18 04:29] magnatelee commented on #770
This should be fixed by f0501bdc. @stevenrbrill Can you pull master and try again?

[2020-03-18 07:07] stevenrbrill commented on #770
This commit has not solved our issue. What kind of backlogs would help figure out the issue?

[2020-03-18 09:37] lightsighter commented on #774
Yes please! :) It's marked deprecated in the C++ API and will be removed at some day in the future.

[2020-03-18 09:45] lightsighter commented on #773
1. I would be fine with renaming it to anything that doesn't have "legion" in the name of the file. It doesn't have anything to do with Legion. It's just an implementation of a templated complex type with support for CUDA. The only other header file that it depends on is the `half.h` header in the same directory. If we change the name of `complex.h` then we should also change the name of `half.h`

[2020-03-18 16:24] streichler commented on #773
Ah, I hadn't realized there was a second header file without a namespace...  Rather than sticking an essentially-arbitrary prefix on both filenames, I'd lean towards pushing them both into a subdirectory with a somewhat-meaningful-but-unlikely-to-conflict-with-other-packages name.  My suggestion would be "mathutils".  Thoughts?  Alternative suggestions?  (Vetoes are invalid without a replacement s

[2020-03-18 18:24] elliottslaughter commented on #673
An example of a test program that should work after this change:

[code]

[2020-03-18 19:09] bandokihiro opened #776 "Legion/GasNET: not identical behavior on multiple nodes"
I have a CFD solver based on Legion. I am testing multi-node capability using GasNET on NASA Pleiades supercomputer. GasNET is built in release.

#### Issue
I don't get the same behavior going from 1 node to 2 nodes:
- 1 node with GasNET linked to Legion is identical to Legion without GasNET
- 2 nodes with GasNET linked to Legion produces different results

The solutions are compared by computing

[2020-03-18 19:11] bandokihiro opened #777 "Legion: unpredictible behavior with tracing on single-node"
I have a CFD code using Legion. I am testing multi-node runs on the NASA Pleiades supercomputer. However this issue is concerned with single-node runs. Unless specified otherwise, everything was tested in Release mode.

#### Issue
On **1 node, with Legion linked with GasNET, tracing on**, the solution is corrupted and unpredictible. The command I use is

[code]
#### When it does not happen
- with

[2020-03-18 19:44] magnatelee opened #778 "legion prof: Rendering gather/scatter copies"
Currently, gather/scatter copies are not rendered correctly in the timeline, because their source/target instances are not logged by Realm. @streichler proposed to add the following fields to `OpreationMemoryUsage`:

[code]

There is a bigger question of how to render gather/scatter copies with multiple indirect sources/target instances. Our current timeline associates each copy with only one memo

[2020-03-18 20:04] lightsighter commented on #776
Please compile the runtime with detailed Legion Spy support and then produce a Legion Spy trace for the two node case that reproduces the issue. If you need directions on how to do this please tell me which build system you are using.

[2020-03-18 20:08] bandokihiro commented on #776
following Wonchan's recommendation, getting rid of reduction operations solved the issue

[2020-03-18 20:09] bandokihiro commented on #776
I am using the cmake build system

[2020-03-18 20:18] lightsighter commented on #776
So we think that non-deterministic ordering of reduction applications is responsible for the difference? That kind of error would only show up in the least significant bits of data due to floating point round-off error. Is that consistent with what you were seeing?

[2020-03-18 20:26] bandokihiro commented on #776
no the difference cannot be explained by round-off errors

[2020-03-18 20:38] lightsighter commented on #776
Ok, then I would still like to see a Legion Spy trace. Add this to your cmake build line:
`cmake -DCMAKE_CXX_FLAGS="-DLEGION_SPY" ...` and run with `-level legion_spy=2 -logfile log_%.spy` in your command line. We need to run as small a problem (both spatially and temporally) as possible in order to reproduce the problem. Please upload the log files from a run that produces the "wrong answer" here

[2020-03-18 20:55] streichler commented on #771
With commit 31b6ac4 we have all the fixes as well as CI tests that use some of the same hardening flags as the Fedora build in the master branch.  @junghans if the patches are working for the 19.12 package, can we close this out?

[2020-03-18 21:07] junghans commented on #771
Patch is live in fedora: https://koji.fedoraproject.org/koji/buildinfo?buildID=1478179

[2020-03-18 21:07] #771 closed

[2020-03-18 21:15] seemamirch commented on #757
@MatthiasKohl - alignment and dimension ordering have been added (branch prof-updates). Please try it out. A simple example is
http://sapling.stanford.edu/~seemah/legion_prof.7/?start=5057917.518911611&end=5092676.418056799&collapseAll=false&resolution=10

[2020-03-18 22:13] bandokihiro commented on #776
so I am afraid this issue cannot be reproduced in debug

[2020-03-18 22:54] lightsighter commented on #776
I didn't say to use debug, you only need legion spy support.

[2020-03-18 23:43] bandokihiro commented on #776
In the past I was told to use debug when using legion spy. Let me try again.

[2020-03-18 23:56] lightsighter commented on #765
We can check off box 5 once we disable support for simultaneous coherence and relaxed coherence for inline mappings in control replicated contexts.

[2020-03-19 00:01] bandokihiro commented on #776
[legion_spy_failed_run.zip](https://github.com/StanfordLegion/legion/files/4351992/legion_spy_failed_run.zip)
This was the smallest I could do that failed

[2020-03-19 03:51] magnatelee commented on #776
I just had a private conversation with @bandokihiro and it looks like there is a bug in his reduction operator; his non-exclusive implementation is not thread safe, which could lead to all sorts of correctness issues. I think that we should fix that issue first and then check if this and issue #770 still persist.

[2020-03-19 04:32] lightsighter commented on #776
That was true up to about two years ago. It is no longer true anymore.

[2020-03-19 05:09] bandokihiro commented on #776
This issue was fixed with a correct reduction implementattion. Thanks.

[2020-03-19 05:09] #776 closed

[2020-03-19 05:16] bandokihiro commented on #777
The mentioned issues were solved. See [issue](https://github.com/StanfordLegion/legion/issues/776)

[2020-03-19 05:16] #777 closed

[2020-03-19 05:31] lightsighter commented on #516
I've applied the above patch to the default mapper in the master branch.

[2020-03-19 06:49] bandokihiro opened #779 "Legion: hang with control replication"
A run in my CFD solver on 2 nodes, 2 processes/node, without tracing, linked with the `control_replication` branch of Legion hangs in the middle of the run. No HDF5 output was used.

[2020-03-19 06:53] lightsighter commented on #779
Please run with `-ll:force_kthreads` and report backtraces from all threads in both processes. Also please run in debug mode so we can see line numbers.

[2020-03-19 06:54] lightsighter commented on #779
Also report the commit that you are running with.

[2020-03-19 06:55] lightsighter commented on #779
If possible reproduce it with the `-lg:inorder` flag first.

[2020-03-19 06:56] bandokihiro commented on #779
[commit](https://github.com/StanfordLegion/legion/commit/73a50d6e16756d5a7bf33646d3832dee269a9027)

[2020-03-19 06:57] bandokihiro commented on #779
so first run with `-lg:inorder`?

[2020-03-19 06:57] lightsighter commented on #779
With everything I said above and `-lg:inorder`

[2020-03-19 07:00] bandokihiro commented on #779
when you say report backtrace, is this with `LEGION_BACKTRACE=1`?

[2020-03-19 07:02] lightsighter commented on #779
No, I mean attach a debugger to each process and run `thread apply all bt` and then put that in a file that you can upload here.

[2020-03-19 07:03] bandokihiro commented on #779
I am not too familiar with attaching debuggers.

[2020-03-19 07:05] lightsighter commented on #779
Try using the `print_backtraces.sh` utility in the `tools` directory. You'll need to run it on each node where the application is running.

[2020-03-19 07:07] bandokihiro commented on #779
I am not sure I can access the compute nodes where the application is actually running

[2020-03-19 07:10] lightsighter commented on #779
Ok, it's going to be impossible to debug this without getting those backtraces. That means you'll need to reproduce this on a machine where you can get backtraces. Since it happens with only two processes I would imagine it should reproduce on a desktop pretty easily.

[2020-03-19 07:12] bandokihiro commented on #779
I tried to install GasNET on my laptop today but failed. I was not able to compile the mpi conduit.

[2020-03-19 07:17] lightsighter commented on #779
If you don't have any other machines that you can run on where you can attach a debugger then you need to shrink the application down to as small as possible case that still reproduces the hang so you can sent it to me to look at.

[2020-03-19 07:19] lightsighter commented on #779
I would also go back and double check that you have abided by all the restrictions of control replication in any tasks that you are marking as replicable.

[2020-03-19 07:22] bandokihiro commented on #779
where can i find those?

[2020-03-19 08:10] lightsighter commented on #779
It's impossible to enumerate all such restrictions. The requirement is that you need to guarantee that the runtime sees exactly the same series of calls into the runtime with the same arguments from all shards. That means that you can't have control flow that depends on random number generators, you can't use data structures that are indexed by pointers to launch tasks, etc.

[2020-03-19 17:13] bandokihiro commented on #779
it does not hang with `-ll:force_kthreads`

[2020-03-19 17:26] bandokihiro commented on #779
it also does not hang with the debug build (at least not before the simulation ends)

[2020-03-19 17:53] bandokihiro commented on #779
switched to this [commit](https://github.com/StanfordLegion/legion/commit/d009bd27f350bfee6fd3a6950c51665b108e946d)

[2020-03-19 17:54] bandokihiro commented on #779
both `-ll:force_kthreads` and `-lg:inorder` independantly used seem to fix the hang in Release

[2020-03-19 20:04] lightsighter commented on #779
Both of those impact performance so they are not viable long term solutions. You need to provide a way for me to reproduce the bug.

[2020-03-19 20:54] bandokihiro commented on #779
I know but it only happend with Release

[2020-03-19 20:54] bandokihiro commented on #779
I am trying to make it run on sapling

[2020-03-19 23:29] ahenzinger opened #780 "start_time > end_time for copy profiles"
When I run stencil_fast.rg with the following command line, and I add in copy profile operations for tasks stencil() and increment(), I see start_time > end_time for some of the copies:

USE_FOREIGN=0 ./regent.py examples/stencil_fast.rg -foverride-demand-cuda 1 -nx 2000 -ny 2000 -ntx 2 -nty 5 -ll:csize 1000 -ll:fsize 1000 -ll:zsize 1000 -ll:rsize 1000 -ll:gpu 2 -ll:cpu 8

(running on 1 node, on S

[2020-03-20 11:28] mariodirenzo commented on #624
Is there any workaround that I can implement in the solver on in its mapper to momentarily avoid this issue until it is fixed?

[2020-03-20 11:48] streichler commented on #624
The two options available to you right now (which are basically what other, more explicit, implementations do):
1. Use multiple region requirements, one for the contiguous "center" data, and one for each ghost region that might be wrapped around to the other side of the parent region.  This lifts the "which piece does my uncentered access point into" decision all the way into the application code,

[2020-03-20 16:39] streichler commented on #773
I'd like to get a fix for this into the next release.  Any objections to moving the headers:
[code]
?

[2020-03-20 16:50] streichler commented on #645
Status update: We're able to build against the latest Kokkos develop branch with any combination of OpenMP and CUDA support.  Remaining work before it can be merged into master is to do a cleanup pass of the build flow.  (Kokkos has completely changed their makefile-based flow, and the cmake flow has probably more warts than it needs.)

[2020-03-20 17:02] elliottslaughter commented on #624
For what it's worth, (2) is what we do in the stencil code today, and it seems to work reasonably well. Though it does break the abstraction of having only a single global index space. (I mean, you still have a single index space, but now it's bloated with all these extra cells that don't belong to the original domain.)

[2020-03-20 17:26] mariodirenzo commented on #624
Thanks for your reply!
Yes, (2) is probably the cleanest way of dealing with this issue.
It is also what I would do in a standard MPI code in order to enforce periodicity (I used to treat those points exactly as interprocessor points with a send and receive).
I'm trying to find a way to do it without rewriting the rest of the code.
Is it ok if I define the current root region as a subregion of the

[2020-03-20 19:29] ipdemes commented on #645
@streichler : thank you for an update.

[2020-03-20 21:26] lightsighter commented on #773
It doesn't really feel like `mathutils`. More like `types` or `mathtypes`. There's no math functionality in there in the sense of algorithms, just types with standard operators.

[2020-03-20 21:35] streichler commented on #773
Ok, let's go with `mathtypes` then.  `types` seems too general to be dropping into `/usr/local/` or the like without risking conflicts.

[2020-03-20 21:52] lightsighter commented on #773
Although does this really solve the problem? The header is still called `complex.h`...

[2020-03-20 21:53] lightsighter commented on #773
Or do you imagine the user having to write `#include mathtypes/complex.h`?

[2020-03-20 21:55] aheirich commented on #773
I think you should change the name of the header

legion_complex.h

On Mar 20, 2020, at 2:53 PM, Mike Bauer <notifications@github.com<mailto:notifications@github.com>> wrote:

Or do you imagine the user having to write #include mathtypes/complex.h?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/StanfordLegion/legion/iss

[2020-03-20 22:01] lightsighter commented on #773
I already addressed that. The types don't have anything to do with Legion and they don't depend on Legion, so they shouldn't be prefixed with Legion. They are just generic implementations of a complex type and a half type with support for CUDA.

[2020-03-20 22:24] lightsighter commented on #675
I think we've addressed this issue sufficiently and the use of `-cuda:skipbusy` has been incorporated into Legate.

[2020-03-20 22:24] #675 closed

[2020-03-20 22:28] streichler commented on #773
Yes, the user will need to type
[code]
because `#include <complex.h>` means "please include the POSIX-standard complex header".

[2020-03-20 23:42] lightsighter commented on #773
Maybe we should call them `cudatypes` since their main feature is that they support CUDA. Although the half one is really weird because `half_t` is already a type in CUDA, we're just providing equivalent support for the same type on the CPU.

[2020-03-22 16:06] mariodirenzo commented on #770
I think that I am observing this issue in my solver too.
One of the regression tests fails non-deterministically if tracing is active.
The issue can be reproduced on a single node. It just needs the computational domain (main region) to be partitioned.
Please, let me know if I can produce debug logs

[2020-03-22 21:16] lightsighter commented on #770
@magnatelee and I know what the problem is and fix is in the work. @magnatelee will comment here once it is pushed to the master branch.

[2020-03-23 19:42] streichler commented on #605
@lightsighter can you try a few thousand runs with `--mca btl ^vader` on the mpirun command line?  Best I can tell, these packets are getting lost inside of the ompi implementation.

[2020-03-24 18:55] streichler commented on #773
This is in master with commit 42b4dd21.  I went with `mathtypes` in anticipation of future support for other (non-CUDA) accelerators as well.
@aheirich can you undo your workaround and see if you can build with these changes?

[2020-03-24 19:34] elliottslaughter commented on #389
This is merged as of bb90442bcd76cf985c534e77f914a9858d5f1690.

[2020-03-24 19:34] #389 closed

[2020-03-24 23:33] magnatelee commented on #770
This should be fixed as of a923f1b6. @stevenrbrill can you pull and try again?

[2020-03-24 23:34] magnatelee commented on #779
A fix has been pushed to `control_replication`, @bandokihiro can you pull and try again?

[2020-03-25 01:01] lightsighter commented on #605
10K runs and no hangs with that flag. @streichler care to enlighten us as to why that makes the problem go away?

[2020-03-25 22:53] elliottslaughter opened #781 "Regent: cannot write explicit test against nil"
This fails:

[code]

In Terra the equivalent value is a NULL pointer.

[code]

[2020-03-25 23:05] #775 closed

[2020-03-25 23:22] elliottslaughter opened #782 "Regent: support nested predication"
Currently we support predication of `if` and `while`, but not predicated `if` inside of a predicated `while`, etc. Some use cases may be enabled by this.

[2020-03-26 11:11] syamajala opened #783 "Regent: Fail to index space launch field polymorphic tasks with projection functor."
[code]

Running the above example results in the following:
[code]

[2020-03-26 11:25] syamajala opened #784 "Regent: max/min component-wise for int3d"
Doing the following:
[code]
results in b, but I was expecting int3d{2, 8, 11}. Similarly, `min(a, b)` results in b instead of int3d{1, 4, 10}.

[2020-03-26 14:47] streichler commented on #784
Without knowing the types of `a` and `b`, if you told me that `min(a,b)` or `max(a,b)` can return something other than `a` or `b`, I'd be pretty surprised...

So if we were going to offer a per-component-min/max (instead of just telling the programmer to roll their own), I'd want it to have a different name.

[2020-03-26 16:15] syamajala commented on #784
We could do what numpy does and call the element-wise operations maximum and minimum. The problem is we don't have any documentation on the regent standard library so there would be no easy way for anyone to find them or even know they exist without asking someone.

[2020-03-26 16:35] syamajala opened #785 "Regent: Unable to assign ispace to declaration of variable type ispace"
[code]
The above example results in the following:
[code]
If this is in fact invalid code the error message should probably be fixed because right now it is nonsensical to a user.

[2020-03-26 16:43] elliottslaughter commented on #785
The error message is an instance of https://github.com/StanfordLegion/legion/issues/491. It may be fixed by https://github.com/StanfordLegion/legion/pull/583 but there are still some blocking issues around that one.

For now, you have to do this by making the dims conditional. Assignment on "special" types such as ispaces and regions isn't supported (until https://github.com/StanfordLegion/legion/

[2020-03-26 16:46] elliottslaughter commented on #784
Thinking about this more, I think @streichler's view makes sense. Otherwise `min` wouldn't be consistent with `<`, etc.

You can define your own minimum/maximum with inline tasks:

[code]

It's not super pretty but it should have the desired effect and shouldn't have an impact on performance (since it'll be inlined).

[2020-03-26 17:00] streichler commented on #784
@elliottslaughter How would you feel about creating and curating a "regent standard library" as part of the main repo with things like this and maybe the file I/O and temporary-array-construction we talked about yesterday?

[2020-03-26 17:07] elliottslaughter commented on #784
Yeah, I think this is a good idea. I'd like @syamajala's BLAS bindings to be there too.

One issue with "minimum" as it's currently written is that it can't be polymorphic. So we'd need to either add such support to Regent or else make a version for each dimension. One advantage of having that particular function be in the user's program is that the user will presumably know exactly what dimension

[2020-03-26 17:41] streichler commented on #704
Another idea for structured copy syntax, borrowed from ZPL (and also used in the deppart formalism):
[code]
with the thing to the left of the `foo` (i.e. `p` in the example above) being either an index space or a region (whose index space should be used as the domain of the structured transform).

For wrapping operations, ZPL controlled that on use (e.g. `B@^east` as the wrapping version of `B@eas

[2020-03-26 17:42] syamajala commented on #784
I have some other ideas for things that would be nice to have in a standard library. I'll open another ticket so we can have a discussion there instead of having it get lost here.

[2020-03-26 18:01] syamajala opened #786 "Regent: Build a standard library"
This is a ticket to help facilitate discussion about building a standard library for Regent.

One key feature I think we need for Regent is docstrings. Whatever standard library we build should be fully documented and have documentation autogenerated using something like sphinx.

Here is the current wishlist of things for the Regent standard library:
- better way to do file io
- temporary array co

[2020-03-26 19:11] ellishg opened #787 "[suggestion] region_builder"
Often times you don't know the size of the region you want to create when you need it. This usually happens when reading data from a file and you don't know how many elements are in the file. Currently creating a region looks something like this where we have to read the file twice.
[code]

I suggest the following where we have a `region_builder` to populate the region and a `collect` method to re

[2020-03-26 20:08] elliottslaughter commented on #491
This will be addressed in part when #583 merges, though there are still some issues blocking that merge.

[2020-03-26 22:40] elliottslaughter opened #788 "Deterministic reductions"
There are two different use cases I can think of:

  * Debugging: if you suspect there is something wrong with your reduction operator, it's potentially easier to check and debug this way
  * Expressiveness: some reduction operators may not be commutative (associative? I can never keep track of which one we care about)

For the former it might be sufficient for this to be a flag (like `-lg:inorder

[2020-03-26 23:02] streichler commented on #788
Another problem with using the coherence modes is that we don't actually a mode that corresponds to the current (fast, and generally desirable) behavior - `SIMULTANEOUS` would prohibit a tree-shaped folding of reduction instances for example.

My vote would be to add two options to reduction-op registration:
1. `commutative` - defaults to to true (whether it's really `associative` or `commutative`

[2020-03-27 08:02] mariodirenzo opened #789 "Regent: Add privileges for regions contained in an fspace"
fspaces are currently capable of containing regions in Regent. These fspaces can be passed to tasks without any error from the compiler. However, the regions contained in the fspaces cannot be accessed within the task as there isn't any way to specify the privileges of the task on the region contained in the fspace.
The following is a small script that fails its execution because of this issue
[co

[2020-03-27 16:45] elliottslaughter commented on #349
This should be fixed in 980a64c4080acf8429aa43d357073b59b61c00fd.

[2020-03-27 16:45] #349 closed

[2020-03-27 17:42] MatthiasKohl commented on #757
Sorry I still couldn't check this out. Your example looks great though, I'll reproduce this on my side as soon as I get to it!

[2020-03-27 21:26] elliottslaughter opened #790 "Memory leak in circuit"
I'm chasing a memory leak in `examples/circuit` as part of trying to diagnose https://github.com/StanfordLegion/legion/issues/711. This may or may not be the same as what we see there, but debugging this in circuit has the advantage of taking Regent out of the picture.

For what it's worth, I checked this in `examples/realm_stencil` and did not see any leak there; memory usage was 100% flat. This

[2020-03-27 21:45] aheirich commented on #790
This could be the same memory leak that currently prevents Soleil-x from running to completion.

On Mar 27, 2020, at 2:26 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm chasing a memory leak in examples/circuit as part of trying to diagnose #711<https://github.com/StanfordLegion/legion/issues/711>. This may or may not be the same as what we see there,

[2020-03-27 22:14] lightsighter commented on #790
@streichler I think this needs to be a blocker for the release

[2020-03-27 22:29] lightsighter commented on #790
I'm not sure if I can reproduce this, it's growing, but nowhere near as fast as you say it should:

[code]

[2020-03-27 22:33] lightsighter commented on #790
certainly no leaks in Legion from TRACE_ALLOCATION:

[code]

[2020-03-28 00:15] elliottslaughter commented on #790
As I told @lightsighter privately, his trace looks similar to what I posted [here](https://github.com/StanfordLegion/legion/files/4396009/out.txt). I may not have computed the rate correctly, I was just doing it in my head. At any rate, it if you see my trace, it seems to keep growing and I do think with a sufficiently long-running application it could be an issue, so it seems worth fixing. (Wheth

[2020-03-28 00:54] streichler commented on #790
@elliottslaughter can you run your test for 10x as long?  I did a run that also showed about 4MB of gain over 100k iterations, but it was nearly all front-loaded, with very little change for the bulk of the run, which looks more to me like convergence to a memory high water mark.

[2020-03-28 01:02] magnatelee opened #791 "Legion&Realm: Extending partition-by-weights to 64-bit weights"
One of the common cases to use partition-by-weights is when the sum of the weights is the same as the volume of the index space. The API currently only allows weights to be 32-bit integers, which makes the call not usable when one of the subregions has more than 2 billion entries.

[2020-03-28 04:33] streichler opened #792 "merging of subgraph work into master"
So the `subgraph` and `subgraph_opts` branches have been sitting on the side for quite a while now, and there's a lot of interdependencies regarding getting those changes merged back into master, so here's an issue to discuss/track them.

First, these branches contain four general categories of changes:
1. basic Realm subgraph functionality and a unit test
2. lots of optimizations (copies, barrier

[2020-03-28 05:54] elliottslaughter commented on #790
Ok, here's the new log: [out.txt](https://github.com/StanfordLegion/legion/files/4396686/out.txt)

Here is the same in graph form: [memory usage graph](https://github.com/StanfordLegion/legion/files/4396691/Circuit.Memory.Usage.Over.Time.pdf)

The run leaked 46.6 MB (measuring from timestep 1000 to the end) in 86 minutes, a rate of 0.54 MB/minute. Though memory does grow faster in the beginning, i

[2020-03-28 15:31] streichler commented on #790
Yes, the growth from 400k to 1M does look pretty linear.  That said, a leakage rate of 0.54MB/min is only 800MB for a 24 hour run, so this doesn't seem like it should be a showstopper.  (And it's probably not the same thing that's OOM'ing the soleil runs.)

[2020-03-28 18:14] ahenzinger opened #793 "Confusion between cmake and make builds"
If one switches between the cmake and make builds, regent.py can be confused about where the new binary is (because they are built in different locations). It may be useful for regent.py to look at the most recent binary, or for both builds to produce a binary in the same location.

[2020-03-28 20:52] lightsighter commented on #793
The make build system has an `install` option now which can be used to put legion libraries and binaries in the same places that cmake might have normally put them.

[2020-03-28 22:51] streichler commented on #645
Kokkos support has been merged into the master branch with commit 61cf62e.  Note that it is only available through the cmake build, as Kokkos no longer supports building against an installed version via a Makefile.

[2020-03-29 00:25] streichler commented on #761
So for what it's worth, this appears to be broken with the makefile-based install setup as well.

Building the dynamic_registration example against the installed headers and libs appears to compile fine, but fails at runtime because `dladdr` calls fail.  The problem is fixed by adding `-rdynamic` to the link line, but the problem of "how does an application's build know to add flags to its link li

[2020-03-29 02:25] streichler commented on #735
I took another shot at this, and things work fine for me locally now.  Let's see what CI thinks.

[2020-03-29 08:14] lightsighter commented on #790
I did some runs with valgrind with increasing numbers of iterations and they all show that the stuff we're leaking is invariant with the number of iterations. What that means is that we're not really leaking anything, but have a linearly growing data structure that grows very slowly. The last time we had one of these it was the CompletionQueue. Are we sure that we fixed it?

[2020-03-29 13:21] mariodirenzo opened #794 "Regent: bug in atomic reduction in OpenMP loops"
The following script
[code]
fails its execution with nondeterministic results if run with `regent.py testReduction.rg -ll:ocpu 1 -ll:othr 2`.
It instead gives correct results with `-ll:othr 1`.
I think that regent is not using the correct atomic access to `p[cP].x` in `AddAvg` for the OpenMP threads. If such a loop is not compatible with Regent, it should issue an error.

[2020-03-29 17:46] streichler commented on #735
After a few bug fixes, CI likes the current state of things.  @elliottslaughter can you take a look before I merge into master?

[2020-03-29 17:47] streichler commented on #794
Assigning to @magnatelee to take a look at the code that regent is generating, but it's also possible that there's a problem with the Realm omp runtime implementation.

[2020-03-29 17:50] streichler commented on #790
I've been poking at this with the gperftools heap profiler and it's still too slow to do really long runs, but two things I'm seeing so far:
1. I don't see any steady leakage from snapshot to snapshot.  It looks more like the dynamic heap churn gets bigger over time.
2. When disabling the heap profiler but still running with tcmalloc, the heap growth rate seems much smoother - between 0 and 0.3MB

[2020-03-29 20:25] streichler commented on #790
Ok, I think I've found/fixed the principal component of the memory growth.  This application causes Legion to use some very wide event merges (nearly 1000 untriggered events), and Realm was holding onto some dynamic allocations in case they could be reused.  (Given long enough, they would have been, but that'd be a real long time.)

Behavior after commit c2e3401:
[code]
@elliottslaughter can you g

[2020-03-29 22:45] lightsighter commented on #789
Ah, the good old "nested region-of-regions" feature request. ;) Adding myself to this issue as well because I think this would require Legion support for Regent to implement it. It's worth noting that many people have asked for this in the past as well and the conclusion has always been the complexity of implementing it would be prohibitively expensive both in complexity of the implementation and

[2020-03-30 01:24] lightsighter commented on #757
@seemamirch I think if you believe we've done enough to handle this then we can close out this issue in preparation for the 20.03 release. @MatthiasKohl can ping me if he has questions about what he's seeing in the profiler.

[2020-03-30 08:12] MatthiasKohl commented on #757
Yes, I'm closing this now, it works as expected on my side, too! Thank you very much!

[2020-03-30 08:12] #757 closed

[2020-03-30 09:32] mariodirenzo commented on #789
@lightsighter, my request is just related to creating a data type that can collect all the arguments of a set of tasks. This feature is useful for regions and partitions that are defined only for a module or a set of input parameters of the code. The current workaround is defining everything (even regions of size 1 as a dummy argument) and passing all the arguments separately around the solver. Th

[2020-03-30 11:02] lightsighter commented on #773
@aheirich Can you confirm that this issue is fixed? We would like to get the issue closed for the 20.03 release.

[2020-03-30 16:59] elliottslaughter commented on #735
Looks good to me, as long as CI passes I'm happy with this.

[2020-03-30 17:09] elliottslaughter commented on #789
I think there are two separate feature here:

1. Being able to track privileges inside of structs/fspaces where those structs/fspaces are *not* nested inside of regions.
2. The same, but where they *are* nested inside of regions.

It's a little inconsistent to support (1) without (2), but that may be a necessary evil since (1) is O(1) to implement while (2) is inherently O(N). Also, while both can

[2020-03-30 17:28] elliottslaughter commented on #793
@ahenzinger Can you help me by attaching instructions to reproduce this? Or if you don't have precise instructions, at least a general sense of what you were doing would help. At the moment it's difficult to know what to look for.

I don't think binary location should be an issue because Regent stores the value of the most recent CMake/Make build in `.cmake.json`, so there really shouldn't be any

[2020-03-30 18:08] bandokihiro commented on #779
The fix for this particular problem was solved.

[2020-03-30 18:08] #779 closed

[2020-03-30 18:43] bandokihiro opened #795 "Legion: non-deterministic error"
I have a non-deterministic error in my CFD code which I simplified as much as possible to reproduce the error. The simplified code can be found at this link:
https://github.com/bandokihiro/ReproBug

**External requirements**: METIS v5.1.0, HDF5

**Settings**: `master` branch of Legion compiled with GasNET, multiple rank execution, without tracing. Release build.

**Simplified code**: the code uses

[2020-03-30 18:46] bandokihiro commented on #795
Note that we have not figured out yet if it is an application bug or a runtime bug.

[2020-03-30 20:10] elliottslaughter commented on #790
Yes, it seems to be fixed.

[Circuit Memory Usage Over Time.pdf](https://github.com/StanfordLegion/legion/files/4405170/Circuit.Memory.Usage.Over.Time.pdf)

[2020-03-30 20:10] #790 closed

[2020-03-30 20:21] lightsighter commented on #711
@aheirich Can you test if the fix for #790 also fixes this bug?

[2020-03-30 20:29] aheirich commented on #773
solved in master

[2020-03-30 20:29] #773 closed

[2020-03-30 20:30] aheirich commented on #711
Is this in master branch?

On Mar 30, 2020, at 1:21 PM, Mike Bauer <notifications@github.com<mailto:notifications@github.com>> wrote:

@aheirich<https://github.com/aheirich> Can you test if the fix for #790<https://github.com/StanfordLegion/legion/issues/790> also fixes this bug?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.co

[2020-03-30 20:32] lightsighter commented on #711
Yes

[2020-03-30 20:40] elliottslaughter commented on #795
I've been staring at the application reduction operator defined [here](https://github.com/bandokihiro/ReproBug/blob/master/redop.h) and I honestly cannot see any problems with it, so I'm hoping that we can get some more eyes on this to figure out what the problem is.

[2020-03-30 22:16] magnatelee commented on #794
I haven't closely looked at this issue yet, but I bet the field name `x` is confusing the parallelizability checker, as that name is overloaded (`x`, `y`, `z`. etc. are reserved for coordinates of an index point). @mariodirenzo can you try to change the field name and see if that fixes this issue?

[2020-03-30 23:04] elliottslaughter opened #796 "Soleil disabled in Regent tests"
Soleil has been disabled in Regent tests since 283337ab55e77b1b26a203ea1d1e8db33cb2e5f9. I attempted to turn it back on in 1f85f16506c0aa99b57a232d26a5a189574d5b85, but had to revert it in 933756089a887a38042e460663cdc13ff232413b.

Soleil is failing to build right now so we should really make sure it gets tested.

[2020-03-30 23:12] mariodirenzo commented on #794
I've renamed `x` as `k` and the issue is still there.

[2020-03-31 00:15] streichler commented on #605
Closing this tracking issue.  Any new functional or performance concerns go into new issues.

[2020-03-31 00:15] #605 closed

[2020-03-31 00:15] #645 closed

[2020-03-31 00:17] streichler commented on #625
This issue has been superseded by #792.

[2020-03-31 00:17] #625 closed

[2020-03-31 00:18] streichler commented on #644
@syamajala Can we get an update on the status of this?

[2020-03-31 00:19] streichler commented on #636
@karthikmurthy @lightsighter @alexaiken What's the plan here?

[2020-03-31 00:39] lightsighter commented on #795
@elliottslaughter What makes you think the problem is with the reduction operator?

[2020-03-31 00:40] streichler opened #797 "merging of subprocess into master"
Creating an issue so that we can track what will likely be incremental progress in getting this stuff moved over.

Necessary conditions:
- [ ] (@streichler ) a successful rebase onto a recent master

[2020-03-31 00:44] lightsighter commented on #797
Is there a reason we can't track this on #627?

[2020-03-31 00:45] lightsighter commented on #795
@bandokihiro can we get a version of this that doesn't depend on metis? Depending on HDF5 is fine, I'm fine always reading data from a file that we know is deterministic, but I don't trust metis.

[2020-03-31 01:02] streichler commented on #797
Nope.  I just forgot that one existed.

[2020-03-31 01:02] #797 closed

[2020-03-31 01:16] lightsighter commented on #646
This merge request is now finished https://gitlab.com/StanfordLegion/legion/-/merge_requests/178

[2020-03-31 01:16] #646 closed

[2020-03-31 01:17] syamajala commented on #644
We ran and validated 5 cases. However, we changed the constants in the middle of the validation and should go back revalidate them. There were some issues that came up when trying to run on multiple nodes, but I believe they have been fixed now.

There is one issue with index spacing launching field polymorphic tasks:
https://github.com/StanfordLegion/legion/issues/783

Aside from that, the two ot

[2020-03-31 01:18] magnatelee commented on #795
@lightsighter as far as I checked, metis is not at fault; metis seems to produce the same partitioning for all the runs, including ones with incorrect results. I also tested two different versions of gasnet and I was able to reproduce the issue with both.

[2020-03-31 01:20] magnatelee commented on #795
also, I believe there is no issue in the reduction operator, or Legion::SumReduction is buggy; the issue persists even after I changed the code to use Legion::SumReduction.

[2020-03-31 04:18] lightsighter commented on #795
Code seems buggy. It won't even compile when I turn on bounds checks, here's just a sampling:

[code]

[2020-03-31 04:21] bandokihiro commented on #795
can you use `g++-8`?

[2020-03-31 04:22] bandokihiro commented on #795
I belive you will still have errors with HDF5, it happened to me last I tried to build the real code on sapling. Let me comment those.

[2020-03-31 04:25] bandokihiro commented on #795
pushed the new version, you can leave `HDF5_ROOT` to an empty string

[2020-03-31 04:37] lightsighter commented on #795
Still get compilation errors:

[code]

[2020-03-31 04:44] bandokihiro commented on #795
sorry, can you pull again? I forgot to push

[2020-03-31 04:47] lightsighter commented on #795
Can you fix these warnings please:

[code]

[2020-03-31 04:48] lightsighter commented on #795
Those are inlined functions so that means that base use cases are not being initialized.

[2020-03-31 04:50] bandokihiro commented on #795
what do you mean by base use cases?

[2020-03-31 04:53] lightsighter commented on #795
I mean that wherever you are using that code it is uninitialized.

[2020-03-31 05:24] lightsighter commented on #795
How do we make cmake compille with only `-O2` and `-fno-strict-aliasing`?

[2020-03-31 05:27] bandokihiro commented on #795
go to `build` and do `ccmake ..`
then press `t` to show all options, change `CMAKE_CXX_FLAGS_RELEASE` to whatever you need, press `c` to configure and `g` to generate build files
press `q` to quit and then `make install`

[2020-03-31 10:52] lightsighter commented on #795
Ok, I'm almost ready to declare this a runtime bug. There are lots of weird things going on here. The application first produces 1024 reduction instances (32 iterations with 32 points). It then proceeds to try to read all of them all at once generating about 30K reduction copies each of somewhere between 1 and 12 elements (pretty much the opposite of what we tell anyone using Legion and Realm to d

[2020-03-31 15:20] streichler commented on #795
@bandokihiro when I build and run, I reliably get the following result:
[code]
It's deterministic, but it seems to be different than what `debug.py` is expecting?  Can the number of steps and/or number of elements in the mesh be reduced and still reproduce the bug?

[2020-03-31 16:17] bandokihiro commented on #795
Please comment these lines in `main.cpp`
https://github.com/bandokihiro/ReproBug/blob/c7ba895334508905e0cb0d7f7cf3e26e69e0fc90/main.cpp#L44-L47
Then you might need to run `debug.py` for O(100) times to reproduce

[2020-03-31 16:20] bandokihiro commented on #795
you also need to copy whatever value you are getting (here `6.6227793288`) in the python script

[2020-03-31 16:27] bandokihiro commented on #795
@lightsighter what do you mean by "pretty much the opposite of what we tell anyone using Legion and Realm to do"? I know that applying reduction blindly to any element without trying to discriminate which elements actually need it is not a good practice (we have a fix for this, for which we also witnessed the same behavior), is this what you mean?

[2020-03-31 18:01] elliottslaughter commented on #774
I've received no response, so I'll remove this right after we issue the release.

[2020-03-31 18:11] elliottslaughter opened #798 "Regent: Memory leak in stencil"
This is part of the ongoing saga to diagnose #711. This time I'm running the Regent implementation of stencil. We already saw in #790 that the C++ circuit code runs with constant memory usage, so there's a good chance that whatever is left is in Regent at this point.

The leak this time is faster, more on the order of 0.7 MB/s or so.

![Memory (MB) vs  Timestep](https://user-images.githubuserconte

[2020-03-31 18:57] mariodirenzo opened #799 "Regent: bug in regent OpenMP parallelized loops"
The following script
[code]
fails to compile if the second loop is optimized with OpenMP.
If `__demand(__openmp)` is commented, the program returns the expected result.

[2020-03-31 19:26] lightsighter commented on #798
It could also be in a custom mapper too. If you run valgrind on the code with differing numbers of iterations are the leaks being reported at the end all the same?

[2020-03-31 20:48] elliottslaughter commented on #365
I did actually disable this when I merged predication in 624ee69fe21215534f1905f5190d936b588ab627. The extra if statements were causing issues for the predicated launch. That can be fixed, but it's not obvious if we really care; this seems like an optimization that is better done in the application, if it needs it.

[2020-03-31 20:58] elliottslaughter commented on #798
With `-tsteps 200`:

[code]

With `-tsteps 300`:

[code]

With `-tsteps 400`:

[code]

[2020-03-31 21:06] elliottslaughter commented on #798
For what it's worth, I get the same rate of leakage with the default mapper. Circuit, which we tested in #790, also uses a mapper derived from the default mapper. (That doesn't mean there can't be issues, but at least the basic stuff should be working.)

[2020-03-31 21:16] lightsighter commented on #798
Right, so this is different than what we were seeing with circuit. These are actual leaks, memory being lost. In circuit the `definitely lost` line was invariant to the number of iterations.

[2020-03-31 21:21] elliottslaughter commented on #798
Here's the result of running with `TRACE_ALLOCATION` and `-tsteps 10000`, in case it helps:

[alloc.txt](https://github.com/StanfordLegion/legion/files/4411649/alloc.txt)

[2020-03-31 21:34] elliottslaughter commented on #798
Here's the result of running `valgrind` with `--leak-check=full`:

[leak_check.txt](https://github.com/StanfordLegion/legion/files/4411689/leak_check.txt)

[2020-03-31 21:52] elliottslaughter commented on #798
[code]

Probably the smoking gun.

[2020-03-31 21:59] ahenzinger commented on #793
I think what I did was alternate between calling ./install.py with --no-cmake and without that flag. What I observed was that, when I built everything and ran stencil, it seemed fine but was giving me some weird behavior in some cases. This problem was fixed when I deleted the 'build/' folder in 'legion/language/', because then it was using the correct binary. I think this is exactly what you're r

[2020-03-31 22:50] elliottslaughter commented on #798
Fixed some things, now getting:

[code]

And a new run with `valgrind`:

[leak_check.txt](https://github.com/StanfordLegion/legion/files/4411907/leak_check.txt)

[2020-03-31 23:13] elliottslaughter commented on #798
The stencil issue is application-specific and is fixed in d007c1cb748dff1286f9e00349cb5f392522e6c3. This may or may not generalize to other applications depending on what they do. But stencil at least is running in constant memory now.

I've some additional pending fixes which do not affect memory usage over time, but which result in leaks at the end, which I will push once they're more fully test

[2020-03-31 23:13] #798 closed

[2020-03-31 23:16] elliottslaughter commented on #711
The stencil leak was application specific. If Soleil has any code like:

https://gitlab.com/StanfordLegion/legion/-/blob/d007c1cb748dff1286f9e00349cb5f392522e6c3/language/examples/stencil_fast.rg#L321-337

Then you may need to apply this patch:

https://gitlab.com/StanfordLegion/legion/-/commit/d007c1cb748dff1286f9e00349cb5f392522e6c3

[2020-04-01 00:35] streichler commented on #735
These changes made it into master with commit 6191b43.

[2020-04-01 00:35] #735 closed

[2020-04-01 05:53] magnatelee commented on #794
This should be fixed in master and control_replication. @mariodirenzo Can you pull and try again?

[2020-04-01 06:14] magnatelee commented on #799
First of all, you can't put an OpenMP loop in a non-leaf task like in your code. With the change that I just pushed, the compiler will either ignore the pragma or raise an error, depending on what you give to `-fopenmp`. Second, `int1d` is not a valid type for scalar reduction. You should change it to one of the primitive types.

[2020-04-01 07:17] mariodirenzo commented on #799
The real problem in my application was the reduction of `int1d`. Maybe you should issue an error saying that the reduction of that type is not supported instead of an `OpenMP code generation failed: found a loop-carried dependence`, as it happens with this script
[code]

[2020-04-01 08:15] magnatelee commented on #799
I agree that the error message is not as friendly as it could be, but it's not entirely inaccurate either and I don't think that's a problem. A reduction with an arbitrary data type like `int1d` is really a syntactic sugar for a read-write, which would introduce a loop-carried dependence, and there is no reason that you could assume that it could be performed atomically.

[2020-04-01 10:48] lightsighter opened #801 "Jupyter Notebook Support for Legion Python"
The last remaining TODO for #726 is to add support for Jupyter notebooks for Legion Python.

[2020-04-01 10:48] lightsighter commented on #726
The only thing left to do for this was Jupyter notebook support so I've created a new issue for that. Everything else is done and in the master branch.

[2020-04-01 10:48] #726 closed

[2020-04-01 10:50] lightsighter commented on #707
We finished the initial work on deferred index space creation from futures, but did not get to support for deferred field creation from futures. Moving this to the 20.06 milestone.

[2020-04-01 10:51] lightsighter commented on #550
Per @gshipman permission we are moving this issue to the 20.06 milestone.

[2020-04-01 10:52] lightsighter commented on #546
This issue has now been tied up for a while awaiting my refactoring of the instances in the `newinst` branch which is slowly but surely making progress. I will continue to push it forward with the expectation that this will be available by the 20.06 milestone.

[2020-04-01 10:54] lightsighter commented on #545
This issue has gotten tied up with my refactoring of the internals of instances in the `newinsts` branch. I expect that it will be considerably easier to implement this once that refactoring is complete. Moving this to the 20.06 milestone.

[2020-04-01 11:52] mariodirenzo commented on #794
Works for me. Thanks

[2020-04-01 11:52] #794 closed

[2020-04-01 13:21] junghans opened #802 "legion-20.03.0: serializing test fails on i686"
From https://koji.fedoraproject.org/koji/taskinfo?taskID=42940048:
[code]

[2020-04-01 13:22] junghans opened #803 "legion-20.03.0: scatter test fails on armv7hl"
From https://koji.fedoraproject.org/koji/taskinfo?taskID=42940047:
[code]

[2020-04-01 15:11] streichler commented on #802
@junghans has anything changed on the fedora side for this?  I'm pretty sure we test this in 32-bit mode in our CI and that nothing has changed related to this test since 19.12.0.  The error messages suggest that the checking logic thinks that `sizeof(size_t) == 8` for some reason.

[2020-04-01 15:14] streichler commented on #803
@junghans did this work on legion-19.12.0?  I don't have access to an arm test setup right now.  Do you have a way to reproduce this on a local system?

[2020-04-01 15:24] streichler commented on #799
@magnatelee could we change the codegen to turn scalar updates like:
[code]
where `lhs` is a unhandled type and turn it into:
[code]

it's likely that we (I) would need to make some corresponding changes on the Realm omp implementation, but this seems better than kicking somebody completely off the data-parallelism train.

[2020-04-01 16:07] junghans commented on #803
It passed with 19.12.0.

[2020-04-01 16:08] junghans commented on #802
Everything passed with 19.12.0.

[2020-04-01 16:12] streichler commented on #802
Hmm...  I misread the polarity of the errors...  Here's what we get in our CI:
[code]
With the fedora test getting smaller sizes, the suspicion instead is that `__alignof__(double)` is returning something smaller than 8.  Are there any options in the Fedora build that might do that?

[2020-04-01 16:41] bandokihiro commented on #795
is there a way you can think of using reduction in another way in order to bypass this issue?

[2020-04-01 17:06] streichler commented on #802
@junghans can I get a Dockerfile to repro this?  It's possible this is a c++98-vs-c++11 thing.

[2020-04-01 17:07] streichler commented on #803
It turns out I can reproduce this error in i686 builds as well - debugging now.

[2020-04-01 17:50] magnatelee commented on #799
@streichler the Regent compiler doesn't depend on any off-the-shelf OpenMP frontend, so we can't use the OpenMP pragma. Even if we could, I don't think the frontend would allow anything other than primitive types. Also, I don't think I kicked Mario completely off in this case, as he can still write the code like this:
[code]

[2020-04-01 18:03] junghans commented on #802
If you click on the link above it has the build.log including all flags.

[2020-04-01 18:20] streichler commented on #803
@junghans can you see if this patch fixes the problem:
https://gitlab.com/StanfordLegion/legion/-/commit/0741659dc1961b2cdfc7a6c33015670eec2942f3.diff

[2020-04-01 18:22] streichler commented on #802
I still can't reproduce this locally.  In the absence of a Dockerfile, can you try with the following patch:
https://gitlab.com/StanfordLegion/legion/-/commit/d4ef80b7678c1d84d2d110acbf40fd842a4d9aab.diff

[2020-04-01 18:28] junghans commented on #803
Running: https://koji.fedoraproject.org/koji/taskinfo?taskID=42951007

[2020-04-01 18:41] elliottslaughter opened #804 "Regent: native support for formatted printing"
One alternative to #460 would be to just natively support formatted printing in Regent, rather than forcing users to drop back to C when they need to do any printing. This has the advantage that we could natively integrate with DCR as well.

My suggestion would be to borrow inspiration from Rust, using macros to do this in a way that's both good looking and type safe.

One option for the syntax, b

[2020-04-01 18:45] elliottslaughter opened #805 "Regent: support macros"
Needed for #804 if we want to implement it as a library rather than in the compiler itself.

[2020-04-01 19:04] elliottslaughter opened #806 "Regent: support docstrings"
In order to build reusable libraries in Regent, it would be really nice to support docstrings or comments, ideally with some sort of a tool to parse and generate documentation. I don't know that we want to build our own documentation tool, but perhaps we can integrate something that's pre-existing.

[2020-04-01 19:31] junghans commented on #803
@streichler  yes that fixes armv7hl, i686 is still broken though.

[2020-04-01 19:59] magnatelee opened #807 "Regent: Better error reporting when OpenMP/CUDA code generation fails"
As pointed out in #799, we should provide more informative error messages when OpenMP or CUDA code generation fails.

[2020-04-01 20:00] magnatelee commented on #799
Closing this issue as and tracking the issue of improving error messages in #807.

[2020-04-01 20:00] #799 closed

[2020-04-01 20:20] junghans commented on #802
Running https://koji.fedoraproject.org/koji/taskinfo?taskID=42953200

[2020-04-01 21:00] magnatelee commented on #783
This should be fixed by d134818e. @syamajala Can you pull and try again?

[2020-04-01 21:06] streichler commented on #802
@junghans so when I ask what's changed on the Fedora side, mentioning that you're using a version of GCC that's not even been released yet is the sort of thing I'm looking for...  :)

[2020-04-01 21:11] junghans commented on #802
19.02.0 was compiled with gcc-10 as well.

[2020-04-01 21:32] streichler commented on #802
Ok, please try with this patch instead:
https://gitlab.com/StanfordLegion/legion/-/commit/3ea76cc5bd3f8afdced55c2d1659f53457c21320.diff

[2020-04-01 21:36] streichler commented on #744
@rupanshusoi what's the status of this issue?  Are you still seeing performance issues?

[2020-04-01 21:38] streichler opened #809 "CI: update compilers we test with"
So gcc and clang are both up to (or nearly up to) version 10, and we're beginning to see issues that only show up in these newer compilers.  Let's get them into the CI runs, and consider removing some of the compiler versions in the middle.

[2020-04-01 21:44] junghans commented on #802
Running: https://koji.fedoraproject.org/koji/taskinfo?taskID=42954567

[2020-04-01 22:18] junghans commented on #802
i686 seems to pass now!

[2020-04-01 22:24] elliottslaughter commented on #774
Removed in a22fe6f4fa8decf5455e00d81716f7ee4ef6772c.

[2020-04-01 22:24] #774 closed

[2020-04-01 22:37] streichler commented on #802
Cool.  So are the Fedora packages ok with this patch and the one for #803?

[2020-04-01 22:46] junghans commented on #802
Yeah I will add them in, just make sure they end up in the next release as well!

[2020-04-01 23:05] streichler commented on #802
Yep, both of those are from a branch that'll merge into master shortly.  I'll close both bugs when that happens.

[2020-04-01 23:07] elliottslaughter commented on #809
What compilers do you want to test?

[2020-04-01 23:17] streichler commented on #809
At least gcc 10 and clang 10, as there are known users of both of those now.  I don't know enough about version 9 of each to know whether it's ok to skip, so I'd probably add those in and drop (somewhat arbitrarrily) 5 and 7 of each of clang and gcc.

Note that gcc 10 will require building a new docker image - it doesn't show up in ubuntu until focal (20.04).

[2020-04-01 23:19] magnatelee commented on #789
@elliottslaughter I'm in favor of adding (1) and rejecting (2), for the reasons you and @lightsighter pointed out. There is too much complexity involved in supporting regions of regions and it will also invalidate all the goodness from static checking we enjoy in the compiler.

One technical issue with (1) is that we would need to fix our type system; as far as I remember, if we unpack the same fi

[2020-04-01 23:31] elliottslaughter commented on #809
Maybe we should drop some on the bottom end? Ubuntu 16.04 is GCC 5, and most supercomputer facilities seem to be upgrading their compilers aggressively now (and older machines are being decommissioned).

We could make GCC 5 the default in our tests, get rid of 4.8 and either drop 4.9 or relegate it to our "extras" section.

Similarly, I think we only have Clang 3.5 because Terra requires it for de

[2020-04-01 23:46] streichler opened #810 "realm: take ownership of instance layout for all calls to create_instance"
Calls to `RealmInstance::create_instance` or `RealmInstance::create_external` accept a pointer to a dynamically allocated `InstanceLayoutGeneric *` (or really, a subclass of that), and in nearly all cases, take ownership of that allocation to avoid the overhead of a copy.  However, there are a few cases right now where Realm doesn't and the caller must delete the layout object to avoid a memory le

[2020-04-01 23:58] lightsighter commented on #810
In `InstanceBuilder::create_physical_instance` in the file `legion_instances.cc` we have a block of code that looks like this:

[code]

and then in the file `legion.inl` there are a bunch of calls that `Realm::InstanceLayoutGeneric::choose_instance_layout` in the constructors of `DeferredBuffer` objects (and related) that we then turn right around pass back into `create_instance` or `create_extern

[2020-04-02 00:01] elliottslaughter commented on #673
Merged via 548c01f12f192524f9f2428d34ee885669304201. Thanks @rupanshusoi!

[2020-04-02 00:01] #673 closed

[2020-04-02 02:53] lightsighter commented on #795
Here is what I have learned. Whenever we get a wrong answer, it is always exactly one cell that is bad, but all the `values` in that cell that are bad, indicating that this is more like a missed copy than a race of some kind. Furthermore they are always less than the expected values for that cell, indicating that we missed applying some of the reduction values. Finally, no matter how long we wait

[2020-04-02 05:52] lightsighter commented on #789
You'll get no argument for supporting (1) and not (2) from me. @mariodirenzo would (1) solve your problem? At first glance it looks like it would.

[2020-04-02 08:18] mariodirenzo commented on #789
Yes, (1) would solve my problem

[2020-04-02 13:16] LonelyCat124 opened #811 "Regent/libraries: Choosing multiple util threads with ll:util results in crashes"
I have a small test code which at current has performance limited by the runtime when not specifying `-ll:util` with enough threads to fill the cpu threads with enough work.
Often, providing high values for `-ll:util` (8 or 16) will lead to crashes during execution (single node runs).

Some examples on a larger testcase:
`legion/language/regent.py algorithm.rg -ll:cpu 16 -ll:util 8`
[code]

`legio

[2020-04-02 17:54] bandokihiro commented on #795
I reshuffled the indexing of my elements in order for the subregions determined by METIS to be dense. I have not extensively tested if the issue reappears but for now I haven't seen it. If it reappears with a reasonable partition (ie not too few elements per subregion) I will signal it again.

I don't know if you want to close the issue or not since a bad choice of indexing might be the source of

[2020-04-02 18:31] rupanshusoi commented on #744
@streichler No, turns out I had written very bad Regent code the first time around. (Too many fine-grained task launches.)

So the issue is fixed for me, thanks.

[2020-04-02 18:50] rupanshusoi commented on #806
Just a suggestion -- Doxygen can be modified to work new languages. There is a pre-existing Lua filter for it [https://github.com/alecchen/doxygen-lua](url) so shouldn't be too hard to modify this to work for Regent.

[2020-04-02 18:55] syamajala commented on #806
I personally prefer sphinx, it also works with lua as well. I'm not a big fan of doxygen.

[2020-04-02 19:06] elliottslaughter commented on #806
I don't really have a strong opinion on which tool to use, but I would like to not fork or modify the tool itself in order to add the integration.

Ideally, we'd add a flag like `-fdoc 1` to the Regent compiler itself, so that we can reuse the existing Regent parser and type checker. Then we can split out XML or whatever the tool consumes and run it through the tool to spit out the final documenta

[2020-04-02 22:57] streichler commented on #795
@bandokihiro if I wanted to change the values that are used for the reduction, where would I do that in the code?  I'm hoping to put in a pattern that will tell us arithmetically which contribution(s) are missing.

[2020-04-02 23:10] elliottslaughter commented on #711
I'm attach valgrind logs for 5, 10 and 20 iterations of Soleil `master` branch with `tgv.json` test case:

  * [soleil_valgrind_t5.txt](https://github.com/StanfordLegion/legion/files/4424222/soleil_valgrind_t5.txt)
  * [soleil_valgrind_t10.txt](https://github.com/StanfordLegion/legion/files/4424223/soleil_valgrind_t10.txt)
 * [soleil_valgrind_t20.txt](https://github.com/StanfordLegion/legion/files

[2020-04-02 23:21] bandokihiro commented on #795
https://github.com/bandokihiro/ReproBug/blob/c7ba895334508905e0cb0d7f7cf3e26e69e0fc90/solution_data.cpp#L67-L83

if you wanna change the final unique value,
https://github.com/bandokihiro/ReproBug/blob/c7ba895334508905e0cb0d7f7cf3e26e69e0fc90/solution_data.cpp#L45-L49
and
https://github.com/bandokihiro/ReproBug/blob/c7ba895334508905e0cb0d7f7cf3e26e69e0fc90/solution_data.cpp#L259-L261

[2020-04-02 23:44] elliottslaughter opened #812 "Legion: semantics of deletion"
Currently, deletion is recursive and applies to the entire subtree underneath the object in question. So if you delete an index space, that applies to all regions created with that index space, if you delete a region, it applies to all partitions of that region, if you delete a partition, to all subregions of the partition, and so on.

The current semantics are **not** reference counted. Duplicate

[2020-04-03 00:12] elliottslaughter opened #813 "Regent: automatically destroy ispaces, fspaces, regions, partitions"
Currently Regent leaks ispaces, fspaces, regions and partitions if they are not manually destroyed with `__delete`. If an application creates any of these dynamically, this turns into a O(N) leak in the length of the run. Ideally Regent should destroy any resources that it creates.

In order to do this correctly, we'll need to do an escape analysis on any objects being returned. As a conservative

[2020-04-03 03:00] streichler commented on #795
I believe commit f3c36272 should eliminate the non-deterministic failures.  @bandokihiro and @lightsighter can you see if you can reproduce any failures with an updated master branch?

[2020-04-03 04:43] lightsighter commented on #812
Can you list exactly which calls will create a reference? I'm fine with switching to reference counting semantics as it will make my life easier. It will cause a bunch of existing programs though to start leaking things. I'm also going to make it your responsibility to discuss to get everyone's approval too. :)

[2020-04-03 05:53] lightsighter commented on #711
The only `new` invocation in that method is to create a PhysicalRegion object which the caller is responsible for deleting.

[2020-04-03 05:56] lightsighter commented on #811
Can you get a backtrace with line numbers from a debugger when running with the runtime compiled in debug mode or at least with `-O2 -g`? It's also worth noting that after about 4 utility processors per node that you're unlikely to see speedups in runtime analysis work. If you want to improve runtime overhead, your best bet will be to coarsen your tasks or to employ tracing.

[2020-04-03 06:49] lightsighter commented on #795
1K iterations and no failures for me. Assigning back to @bandokihiro to confirm that this is fixed.

[2020-04-03 09:47] LonelyCat124 commented on #811
I rebuilt regent with `./install.py --openmp --debug --clean`, and was only able to produce the error:
[code]
The core files produced have the following trace at the point they are dumped:
[code]

Regarding task coarsening, what would be an appropriate runtime for a task? From profiling it looks like the runtime overheads are ~2000us (2ms) per task, but for the OpenMP version of the standard size

[2020-04-03 10:05] lightsighter commented on #811
Does this error happen only near the end of the run or somewhere in the middle?

Currently we recommend that your tasks be about 1ms on average of work in the general case. This doesn't mean that they all have to be at least 1ms, you can tolerate a few smaller tasks for example if you have a 10ms task also. If you start to use tracing you can push overheads down to about 250us per task at the mome

[2020-04-03 10:30] LonelyCat124 commented on #811
I think its pretty early/middle,the larger testcase with the code causing the crashes was taking ~1000s and i'd guess its a minute or two into the run.

Thanks for the info, the tracing stuff I'd misunderstood then.

[2020-04-03 15:54] streichler commented on #811
Using this command line:

I can reproduce this failure:
[code]
Realm is complaining because `unlock` is being called on a `FastReservation` that is not locked.  The calling code is using scoped locks, so they should be balanced, suggesting the problem may be memory corruption.

[2020-04-03 17:07] elliottslaughter commented on #812
Unless otherwise specified I mean all overloaded versions of a method call under a given name.

`Runtime` method calls that create references:

* create_index_space
* union_index_spaces, intersect_index_spaces, subtract_index_spaces
* create_index_partition (note: in this and all subsequent partition calls, the reference is on the **partition only**; the partition holds references on all **direct*

[2020-04-03 17:10] elliottslaughter commented on #812
I realized last night that there's a way to unify the current semantics with my new semantics proposed above. We can add an optional `recurse` parameter to `destroy` methods that defaults to `true`. When it is `true`, we keep the current semantics. When it is `false` we use the new semantics.

This is consistent because under the new semantics (most) runtime objects have their own reference count,

[2020-04-03 17:39] elliottslaughter opened #814 "Legion: circuit crashes with -lg:partcheck"
`./circuit -lg:partcheck` crashes:

[code]

Backtrace:

[code]

[2020-04-03 20:40] elliottslaughter commented on #711
Ok, fixed another couple of leaks. It's still growing, and the top leaks don't currently make sense to me.

* [soleil_valgrind_t5_fix3.txt](https://github.com/StanfordLegion/legion/files/4429816/soleil_valgrind_t5_fix3.txt)
* [soleil_valgrind_t10_fix3.txt](https://github.com/StanfordLegion/legion/files/4429817/soleil_valgrind_t10_fix3.txt)
* [soleil_valgrind_t20_fix3.txt](https://github.com/Stanfo

[2020-04-03 20:50] lightsighter commented on #711
Already told this to @elliottslaughter but for everyone else's benefit the growing `new` in these leaks is the `Future` return result.

[2020-04-03 20:59] elliottslaughter commented on #711
Confirmed that we still have a future leak.

[code]

[2020-04-03 22:39] elliottslaughter opened #815 "Legion Prof: Average utilization over time"
Currently we have utilization plots in Legion Prof, but if a utilization plot is very spiky it can be hard to estimate the overall utilization of a resource. What would be really nice would be when you click and drag, in addition to showing the total time, to also show the average utilization (over that time window) for each channel.

[2020-04-03 22:52] lightsighter commented on #814
Fixed in both master and control replication. Assigning back to @elliottslaughter to confirm.

[2020-04-03 22:58] elliottslaughter commented on #814
Fixed, thanks!

[2020-04-03 22:58] #814 closed

[2020-04-03 23:48] elliottslaughter commented on #711
I've confirmed the future leak with `LEGION_GC`, and I've also checked that it goes away with `-ffuture 0` (which by the way, needs a fix, so don't try this workaround just yet).

[2020-04-04 23:26] lightsighter commented on #812
Several questions:

- Does `recurse` also imply deleting logical region trees associated with index space trees? For example, if I say `recurse` on the deletion of an index space tree, do that also imply deletion of any corresponding region trees instantiated from that index space tree? Or does recurse only imply "vertical" recursion and not "horizontal" recursion?

- What about logical partitions

[2020-04-05 05:20] bandokihiro commented on #795
It seems fixed for me as well. Thank you all for your help.

[2020-04-05 05:20] #795 closed

[2020-04-05 10:54] lightsighter commented on #811
I've still been unable to reproduce this, but looking at the backtrace, I think this is a variation of the issue that prompted #812. It looks like a duplicated deletion of the region tree, probably via a transitive deletion that @LonelyCat124 was not expecting. Sometimes the runtime is able to detect the duplicate deletion or prevent it, but it's literally impossible for it to get every single cas

[2020-04-05 23:22] streichler commented on #803
Fix is in the master branch with commit 7db9c79b.

[2020-04-05 23:22] #803 closed

[2020-04-05 23:22] streichler commented on #802
Fix is in the master branch with commit 293ce95d.

[2020-04-05 23:22] #802 closed

[2020-04-06 09:03] lightsighter commented on #748
I've tested my implementation of option 3 in a few Legate libraries now and it seems to work well both with and without control replication. I've come to prefer this option over any of the others. Users don't have to be aware that the library is going through a distributed import. It's only library developers that need to be aware of how to use option 3. Furthermore it doesn't require any runtime

[2020-04-06 15:29] streichler commented on #748
I was re-reading the whole comment thread and this statement isn't accurate:

Realm will always try to `dlopen` the `dso_name` of a `DSOReferenceImplementation` exactly once, relying on libdl to hand back the existing module if it's already loaded:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/codedesc.cc#L365-378

If that shared object has an `_init` function that does its

[2020-04-06 16:53] elliottslaughter commented on #748
I don't mind that option (3) exists, but I still feel it's a non-ideal situation that will recur in the future. Per @streichler's comment I think it's worth at least trying the DSO solution to see if that approach can work.

[2020-04-06 17:17] elliottslaughter commented on #812
* `recurse`: I can see arguments either way, but for consistency with our current semantics I'd be inclined to make it do both "vertical" and "horizontal" per your terminology.

* One option is to add an explicit `create_logical_partition` call that is identical to `get_logical_partition` except that it also adds a new application reference. For our users' sanity I do not think we should allow `ge

[2020-04-06 19:23] lightsighter commented on #748
Would Realm be able to guarantee that those registrations are done globally across all Python interpreters on all nodes? If not, then the DSO solution is useless in the Legate case.

[2020-04-06 19:28] elliottslaughter commented on #748
Can you explain more? Why does it need to be global?

[2020-04-06 19:30] lightsighter commented on #748
If I load the legate.dask module on one node and launch a task that goes to another node, then the legate.dask task implementation better be registered on that remote node before Realm sees it. The only way to guarantee that is that the task implementation for that python function is registered with Realm and the only way to guarantee that is that the legate.dask module has been loaded in the Pyth

[2020-04-06 19:33] lightsighter commented on #748
The problem is guaranteeing that a single Python module has been loaded in all Realm Python interpreters so any Python functions that represent task variants have been registered as task variants on that node before Realm sees a request to run one of them.

[2020-04-06 19:44] streichler commented on #748
Unless I'm missing something, waiting on the completion event of a call to `Processor::register_task_by_kind` with `global == true` would do exactly that?

[2020-04-06 19:55] lightsighter commented on #748
Global registrations work with Python code descriptors?

Also, how do you solve the O(N^2) problem that occurs with control replication where the module is loaded on every node and then they all try to do global registrations to all other nodes?

Note that my solution (3) above solves both those problems. For another solution to be comparable it has to solve them both also.

[2020-04-06 20:07] streichler commented on #748
They should.  I don't know that we actually test it anywhere though.

Well, the right answer I think would be that something that is aware of the existence of control replication would de-duplicate it to avoid unnecessary work.  But if that didn't happen and O(N) requests got sent to each node, libdl would effectively do the de-duplication on each node because the DSO will only be loaded once.

[2020-04-06 20:48] lightsighter commented on #748
Sure, I can solve that problem, still doesn't handle registration of projection functors, sharding functors, mappers, etc that also need to registered by Python modules, and there is no notion of "global" registration for those.

[2020-04-06 20:53] elliottslaughter commented on #748
Maybe we should add global registration for those (along with the ability to register them as Realm code descriptors so that they can be actually portable). Otherwise it seems to me that dynamic task registration is fundamentally broken for a variety of use cases, again even aside from anything we've been specifically talking about in this issue.

[2020-04-06 20:56] lightsighter commented on #748
How do you globally (and portably) register a C++ object, especially one that needs to take parameters (e.g. like a mapper) on different nodes?

[2020-04-06 21:00] elliottslaughter commented on #748
You register a blob of code (possibly with a blob of arguments, if necessary) that constructs and returns the object in question, or else constructs it and passes it along to some other API (possibly a local registration, but I don't really care).

[2020-04-06 21:05] lightsighter commented on #748
Realm doesn't provide any way to make C++ object constructor's function pointers with arbitrary types portable across processes.

[2020-04-06 21:08] elliottslaughter commented on #748
Why can't you just make a function that does the construction?

[code]

And pass this through a Realm code descriptor?

Maybe not as ergonomic as you'd like, but seems to do the job.

[2020-04-06 21:31] lightsighter commented on #748
Because the interface for registering mappers doesn't take a type, it takes an instantiated object:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion.h#L6929-6941

[2020-04-06 22:10] streichler commented on #748
Actually, that interface is problematic in a subprocess world (the object allocated by an application thread isn't necessarily visible to all utility procs) as well, so maybe we should consider a change here that fixes both issues?

[2020-04-06 22:12] elliottslaughter commented on #748
Right, I'm proposing to create a new interface for registration that takes a Realm code descriptor (or however you want to represent the registration thunk), and either have that thunk return the object in question or introduce a further API for where the object should go when the thunk runs.

[2020-04-06 22:41] lightsighter commented on #748
@elliottslaughter's solution won't fix the problem that @streichler is trying to fix. Making a function isn't going to handle the memory allocation in subprocess problem. There are tens of calls where the runtime takes in things allocated by the application for registration right now that need to be fixed.

[2020-04-06 22:43] lightsighter commented on #748
I think I have a different plan that will solve these two issues in independent ways.

[2020-04-06 22:46] elliottslaughter commented on #748
I think my solution fixes the problem as long as the task shim that wraps the registration thunk enables the Realm malloc.

[2020-04-06 22:47] elliottslaughter commented on #748
Er, not the task shim (this isn't necessarily asynchronous), but the runtime API that calls the registration thunk.

[2020-04-06 22:47] lightsighter commented on #748
That's not going to work when Legion has it's own heap which will never be allowed to be visible to the user.

[2020-04-06 22:51] elliottslaughter commented on #748
I'm not sure why you say it wouldn't work. Legion is going to use its own memory allocator for its own internal data structures. Nothing I'm suggesting here changes that. The issue (I assume) is that the user's object itself *also* needs to be put in some heap which is visible to various processes, and this part at least makes sure any user allocations will be in a subprocess-visible heap. Otherwi

[2020-04-06 22:55] lightsighter commented on #748
A mapper is not a "user object" anymore after it gets registered with the runtime, the runtime own it and it needs to be visible to all sub-processes. Same thing is true of sharding functors and projection functors and attach functors and reduction operators and ...

[2020-04-06 22:58] opensdh commented on #812
Presumably `recurse` means whatever the calls mean now, but that's not clear and not documented.  The tree model is not obvious (at least to this user): for example, if `destroy_index_space` takes logical regions down with it because they were made from it, why wouldn't `destroy_field_space` do the same thing, making it impossible to use both?  Can I `destroy_logical_region` long **before** I dest

[2020-04-06 22:58] elliottslaughter commented on #748
Ok, but you realize that a mapper is not a single memory allocation either. It may contain `std::vector` or who knows what custom data structure. I don't think relying on Legion's approach of annotating every single data structure with a custom allocator is realistic here, even for STL that's a pain, and the user may be using some data structure that's not defined in the STL.

I think if you want

[2020-04-06 23:02] lightsighter commented on #748
I agree with that, but I'm not going to do it by exposing a "Legion allocator". Legion will do the allocation of the Mapper object, but it's not going to be visible to the user and it's not going to be a distributed registration across all the nodes in the system either.

[2020-04-06 23:32] magnatelee opened #816 "Realm: divide-by-zero in create_weighted_subspaces when the sum of weights is 0"
Here is a reproducer:

[code]

[2020-04-07 00:13] magnatelee commented on #816
Pushed the following workaround that @streichler suggested until we have a proper fix:
[code]

[2020-04-07 16:06] rupanshusoi opened #817 "Regent: loop fails with ispace.bounds.hi"
The following

[code]
fails with
[code]
The error is fixed by introducing a new variable

[code]

I realise the partition access is going out of bounds in both cases, but the compiler usually doesn't complain about it. Fixing this also seems important for the implementation of #413

[2020-04-07 17:28] elliottslaughter commented on #812
I think there is some slight confusion here, so let me clarify. Suppose you have a index space `I`, field space `F`, region `R` (of `I` and `F`) and partitions `IP` (of `I`) and `RP` (of `IP` and `R`).

Under the current semantics (using `delete` as a shorthand for the corresponding `destroy_*` method):

[code]

The second delete is valid because `R` is unlinked when it is deleted, so there is no

[2020-04-07 18:00] elliottslaughter commented on #748
Perhaps we should move the discussion of allocators and runtime objects into a new issue, we're pretty far off on a tangent at this point.

At any rate, I hope I've demonstrated that it's *possible* to have an interface in which runtime objects are registered via callbacks such that we can use Realm code descriptors. Such an approach is, I believe, compatible with a subprocess world, though it's n

[2020-04-07 19:21] lightsighter commented on #748
There is absolutely no way I'm going to support registering every kind of runtime object with a code descriptor API. That is just an insane amount of work. I will outline my solution here later today once it is working.

[2020-04-07 23:12] opensdh commented on #812
I think it's a perfectly reasonable semantics to say, in general, that `destroy_`ing a thing destroys everything made _from_ that thing: in C++ terms, that every tree node **owns** the subtree rooted at that node.  (But that's not documented anywhere that I know...)  I can understand the other two equally well: the only difference with "vertical-only" is that you say that *`Partition` objects are

[2020-04-08 11:07] lightsighter commented on #748
I have added my one and only hook that I am going to provide in Legion for addressing this problem. Users can now ask that the runtime perform a registration callback function in a global way after the runtime has started.
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion.h#L7552-7564
If global invocation is requested, then this call will not return until the registration has b

[2020-04-08 11:17] lightsighter commented on #812
@opensdh I think you should probably not conflate the way @elliottslaughter and I use the term "reference counting" with the more traditional sense of the term. Our references are conceptual and global in a distributed system. Normal reference counting algorithms just track references inside of a single address space for freeing memory. That's very much NOT what we're talking about here. In our "r

[2020-04-08 14:01] opensdh commented on #812
I didn't bring up `std::shared_ptr`.  I'm also not sure how to tell whether a reference is "conceptual": at some point some code on some node has to decide that the reference is gone and free the resources it was using, so it was evidently a detectable thing (however encoded) at at least one place.

I haven't had to deal with the disparate create/remove case yet: what does it look like?  Do you in

[2020-04-08 15:19] streichler opened #818 "Realm: clean up codedesc.h"
Two main problems to clean up:
- [ ] This header mixes "public" things intended for application use with "private" things that are subject to change.  Separate those.
- [ ] Methods that cause code translation to occur should look like operations (i.e. return an Event, accept a ProfilingRequestSet).

[2020-04-08 17:08] elliottslaughter commented on #812
I was the one who brought up `shared_ptr`, but it was intended to be an illustration of the principle @lightsighter is talking about.

Just to be clear, I do think local reference counting can be useful, *but only if you allow yourself to make some simplifying assumptions*. That's why I feel this has to be application-specific or in a library, and it will not cover the full generality of cases tha

[2020-04-08 17:14] elliottslaughter commented on #748
I'm confused about how `global` works in non-DCR (or in DCR where shards != runtimes). As best I can tell, [RegistrationCallbackFnptr is a literal function pointer](https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_types.h#L1757). I don't see how this can be migrated automatically to other nodes. Is there some logic here that I'm missing, or do we need a way to do this w

[2020-04-08 17:24] elliottslaughter opened #819 "Attach source location to regions, etc."
I'd like to propose we define a standard way to attach a source location to a region or other Legion object. For objects that already support semantic info, I suggest we just make this a pre-defined semantics info tag. For the moment, I am not proposing any specific semantics for this semantic info, other than that the value is a NUL-terminated C string. In the eventual future, it might be possibl

[2020-04-08 18:18] opensdh commented on #812
Certainly neither copying nor moving a `shared_ptr` from one task to another is meaningful (lacking any means of coordination).  Nor should Legion necessarily expose a general, distributed reference-counting system, since lazy, extensive use of it (as happens with `shared_ptr`!) would have poor performance.  I personally would still recommend having official Legion owning classes and providing mec

[2020-04-08 20:01] lightsighter commented on #818
I would like an option to avoid having Realm offload this onto a separate thread if I've already moved it off into my own meta-task.

[2020-04-08 20:07] streichler commented on #818
This is likely to be hard, and is un-Realm-like.  What benefit would you expect to get from requesting this behavior?

[2020-04-08 20:13] opensdh commented on #633
The most fundamental question that I have is "What are the semantics of control replication?".

For example, if one inner task performs an index launch with two inner tasks, each of which performs an index launch of two leaf tasks, there should be 7 tasks total (1+2+4).  However, if the (say) two shards of the top-level task "each" perform an index launch of two leaf tasks, my understanding is tha

[2020-04-08 21:27] lightsighter commented on #632
Remember to make use of the new semantic tags from #819

[2020-04-08 21:27] lightsighter commented on #819
I've added these tags in 0af167368b and made a note to use them in issue #632. I believe we can close this issue.

[2020-04-08 21:46] #770 closed

[2020-04-08 22:04] stevenrbrill opened #820 "Realm Assert Fail when Running on Multiple Nodes"
In our CFD code we initialize a mesh, partition it, determine the ghost region, change the index ordering to group ghost regions together, re-partition the mesh and then continue into our application. On a single node, this works perfectly and there are no issues. However, when running on multiple nodes, a Realm Assert is failed sometimes depending on the mesh, number of partitions and number of p

[2020-04-08 23:16] lightsighter commented on #818
It allows me to distinguish the Legion calling context for dlopen calls. If Realm puts them on its own thread then my ability to distinguish calling context vanishes and `perform_registration_callback` will break, mainly by hanging inside of dlopen.

[2020-04-08 23:17] lightsighter commented on #818
Also worth pointing out that you have other places where Realm does expensive things inline rather than making a separate thread such as `IndexSpace::tighten`.

[2020-04-08 23:19] lightsighter commented on #818
One other solution to this though would be for you to all me to register callbacks with Realm to be executed before and after every call to dlopen.

[2020-04-08 23:42] elliottslaughter commented on #748
I think in order for this to be useful for dynamic code generation, I would need one of the following two options:

 1. Pass a blob of `void *` and `size_t` to the registration callback (so I can pack the LLVM bitcode, or whatever I've got).
 2. Add a code path where the registration callback itself can be a Realm code descriptor, so I can generate the callback itself dynamically.

I'm fine either

[2020-04-08 23:48] lightsighter commented on #633
The semantics of control replication are that you get the same behavior whether you run with it or not.

This is wrong. With control replication you would still get two inner sub-tasks, each of which run two leaf tasks (1+2+4).

Every shard must make the same order of calls into the Legion runtime with the same arguments. It's up to the user to guarantee that invariant if they mark that a task var

[2020-04-09 00:07] elliottslaughter commented on #633
Re: the last point, I think the issue is the computation of arguments *to* tasks, rather than tasks themselves.

The way I'd personally deal with this is I'd put the computation of the argument itself inside a task. That way it can be distributed around the machine, just like any other task. If computing the argument is not expensive enough to make this worth it, it's probably not worth worrying a

[2020-04-09 00:23] lightsighter commented on #748
I have a slight preference for (2), but Legion does need to be able to invoke this code descriptor because it has to pass in argument that are Legion types. So how would Legion go about calling the code descriptor to do callback once we get it on a remote node?

[2020-04-09 00:33] lightsighter commented on #748
It's worth noting though that I do know the type of the function that the CodeDescriptor should represent, if that helps in anyway with JIT-ing it or converting it into something that is callable. Downside is that the function pointer as it stands today is a C++ function pointer with C++ types in its type signature.

[2020-04-09 00:56] streichler commented on #820
@stevenrbrill do you have a repro case I can debug?

[2020-04-09 10:12] lightsighter commented on #372
@streichler I think there is a bug in this workaround for this issue that @mariodirenzo is exercising. In the case where there are two or more reduction copies to the same target instance without dependences on each other, I don't believe there is anything in Realm that makes the "copy-to-host, apply reduction, copy-to-device" property atomic and as a result we are not seeing all the reductions ap

[2020-04-09 13:48] opensdh commented on #633
Well, that's true so long as your code has no visible side effects (other than calls into Legion); code that, say, writes results to a file with MPI I/O has to be aware of the fact that certain tasks comprise a set of concurrent copies.

Sorry, I didn't make the situation parallel: there's only the top-level task and one index launch in this example.

Well, according to the "same sequence" rule wh

[2020-04-09 13:54] streichler commented on #372
Even if that's not actually what's happening here, I agree it could happen, which is bad.  I'm going to lift it out into a separate issue because it would impact more than just GPU FB reductions.

[2020-04-09 13:58] streichler opened #821 "realm: deal with hazards related to concurrent non-atomic reduction copies"
A case of this has likely been identified here: https://github.com/StanfordLegion/legion/issues/372#issuecomment-611448226 ,
but the more general problem is that when Realm performs reduction copies with a non-atomic operator (either because it needs to be implemented as a read/modify/write or (eventually) because the application can/doesn't want to use a reduction in exclusive mode), Realm needs

[2020-04-09 13:58] mariodirenzo commented on #372
As a side note, if the task `ComputeRecycleAveragePostiion`, which consumes the reduced data, is run on CPUs, the solver provides correct results deterministically.

[2020-04-09 13:59] streichler commented on #372
Yes, that'd be consistent with this hypothesis.

[2020-04-09 17:11] elliottslaughter commented on #748
It would be nice if I could use the C interface for this. I'd rather not be forced to figure out how to do the codegen to call C++ methods. (Even if the first thing I do is convert the C++ objects in C API handles, that still involves going through a C++ shim to get there.)

I'm not quite sure I see how to factor this so that the main Legion doesn't need to be aware of the C API while still going

[2020-04-09 18:52] elliottslaughter commented on #819
Regent is now attaching this information as of 17de7c4c299a39a7569a2e874ea682f64373719b, and I have confirmed that we can retrieve it at a warning callsite.

[2020-04-09 18:52] #819 closed

[2020-04-09 19:35] rupanshusoi commented on #817
The same error occurs with
[code]
even after implementing the modulus operator for optimising index launches.

[2020-04-09 21:09] elliottslaughter commented on #632
When we're doing this, it would be nice to use not just the names directly attached to a region, but also names attached to parent/ancestor regions as well. E.g. if you have a region tree `R -> P -> S` with a name `foo` attached to `R` but no names attached to either `P` or `S`, it would be nice to get a default-generated name like `foo.part(i)[j]` (where `i` and `j` are the colors of `P` and `S`,

[2020-04-09 21:23] aheirich commented on #632
I would like to add to this list, I assume this is obvious:
Change all runtime asserts in debug node to error messages

On Apr 9, 2020, at 2:09 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

When we're doing this, it would be nice to use not just the names directly attached to a region, but also names attached to parent/ancestor regions as well. E.g. if y

[2020-04-09 21:44] elliottslaughter commented on #793
I've been trying to do everything I can to get this to mess up, and I just don't see any problems. All of these work as expected.

[code]

Unfortunately, I don't think I can debug this without concrete and reproducible steps for reproduction.

[2020-04-09 21:50] elliottslaughter commented on #796
I turned this back on in c2bac84a6db4400d354a0bf41e78a69bf8c227ea, and it works now.

[2020-04-09 21:50] #796 closed

[2020-04-09 21:56] ahenzinger commented on #793
That's not a problem, sorry for not having reproducible steps, I just thought I'd mention this issue.

In case it helps, think something I called that also may have contributed to messing things up is 'scripts/setup_env.py' (I called this after previously using 'CONDUIT=ibv ./install.py --cuda --llvm --hdf5 --no-cmake --gasnet').

[2020-04-09 22:31] elliottslaughter commented on #805
Added with a38dd258f82c37af3b3df98000d1d2deb96a9a5c.

[2020-04-09 22:31] #805 closed

[2020-04-09 23:16] elliottslaughter commented on #804
Implemented for basic (u)int32/64 as of 72ebee981853a08feca2186915457bae9345a82e.

[2020-04-09 23:16] #804 closed

[2020-04-10 00:45] bandokihiro commented on #820
I use the same reduced code as in #795. The repo is at
https://github.com/bandokihiro/ReproBug

Please checkout the branch `realm_error` which was set up to reproduce the error:
1. modify `configure.sh` to suit your environment
2. `mkdir build; cd build; ../.configure.sh; make install`
3. go into `run_realm_assert_error`
4. running `run.sh` on 2 nodes should reproduce it

[2020-04-10 08:27] lightsighter commented on #748
I'm fine with the CodeDescriptor path needing a different type that is based on C types. It won't be hard to make sure a function type. What is still missing is a way for me to invoke a code descriptor myself.

[2020-04-10 20:46] elliottslaughter commented on #460
Regent's native `format.println` is now complete enough that I'm just going to say people should use that instead. If there are any specific limitations of `format.println` or new feature requests, those can be added as new issues.

[2020-04-10 20:46] #460 closed

[2020-04-12 02:03] streichler commented on #820
So it turns out the fix for the nondeterministic reductions wasn't quite right.  Testing out what should be a better fix now...

[2020-04-12 02:18] streichler commented on #820
@bandokihiro please retest your full application with an updated master branch (containing commit 0e30e2f7).  Thanks!

[2020-04-12 03:45] bandokihiro commented on #820
@streichler thank you very much! It seems fixed for me on the little reproduction code. Testing that the previous problem still remains solved and then on the full application. @stevenrbrill please confirm.

[2020-04-12 05:55] bandokihiro commented on #820
everything seems to  work now

[2020-04-12 08:53] lightsighter commented on #624
In addition to the "unstructured" case where we break down the accessor into dealing with "chunk" rectangles, I think there's another "strucutured" case that we should have here which is the case where the user can assert that the points in the index space are defined by an affine mapping and the range of that mapping is a dense rectangle. If the user provides this mapping and the range rectangle

[2020-04-12 08:59] lightsighter commented on #632
@elliottslaughter What happens if there are no "named" regions anywhere in the tree? What do you think should happen?

@aheirich There will be three modes of checking after I'm done with this issue (see the third bullet):
1. Runtime will full safety checks: will check all error conditions regardless of how you compiled the runtime, errors will be reported and the runtime will exit, can be toggled

[2020-04-12 09:07] lightsighter commented on #633
All Legion facilities including side effects on POSIX and HDF5 files as well prints and logging calls done through Legion APIs will behave as though it is a single logical task. If you go outside of the Legion programming model and runtime API then that is your problem to deal with. You asserted the task could be replicated so you have to deal with it.

Same principle applies: each point task in t

[2020-04-12 15:21] streichler commented on #624
@lightsighter can you give a concrete example of this?  I think this case may already be supported.

[2020-04-12 18:23] syamajala commented on #806
Another option that I've been playing around with is [ldoc](https://github.com/stevedonovan/ldoc). It seems to work with luajit and actually does something right now when I run it on Regent code (with a hack).

I've been looking at the code for ldoc. It seems like it should be possible to modify it to add support for Regent.

Heres an example of the documentation it generates:
https://stevedonovan

[2020-04-12 22:08] lightsighter commented on #624
[code]

The instance for `evens` should by 32 bytes and the instance for `odds` should be 32 bytes.

[2020-04-12 22:17] streichler commented on #624
What is the index space for `evens`?  `{ 0, 2, 4, 6 }` or `{ 0, 1, 2, 3 }`?

[2020-04-12 22:18] lightsighter commented on #812
Summarizing what I plan to implement. I am going to modify the semantics of the existing deletion calls to have reference counting semantics. There will be no option for the recursive semantics of deletion that we have today as I don't believe they are even well specified. I am also going to add calls to allow applications to request additional "ownerships" of each of the resources (effectively th

[2020-04-12 22:20] lightsighter commented on #624
`{0, 2, 4, 6}` It's created by a partition-by-restriction call.

[2020-04-12 22:40] lightsighter commented on #748
Global registration callback functions are now supported in Legion and I've updated all the Legate libraries to use them. The global registration callbacks work correctly both with and without control replication. As in the Legate case, any shared object should be able to request a global registration callback in its constructor in order to ensure that the shared object is loaded on all nodes in t

[2020-04-13 09:30] stevenrbrill commented on #820
I agree. It seems to work. Thanks!

[2020-04-13 09:30] #820 closed

[2020-04-13 18:01] elliottslaughter commented on #748
I assume the CodeDescriptor issue is really a Realm thing? It seems like we have a path for generating tasks, just not a path for generating function pointers.

[2020-04-13 18:06] elliottslaughter opened #822 "Regent: replicate scalar tasks in a control replicated context"
From https://github.com/StanfordLegion/legion/issues/633#issuecomment-612585630, this is a reminder to myself to make sure scalar tasks (like the ones that Regent lifts from future operations) are replicated in a DCR context, to avoid broadcasting the future result of these tasks.

@lightsighter What's required to do this? I need to mark the tasks themselves as idempotent, and then what?

[2020-04-13 18:10] elliottslaughter commented on #632
I guess if you don't have any names at all (for the node in question and its ancestors) then you'd fall back to using something like `unnamed` or `unknown` for the name. I do think we should continue to give the region tree ID and so on (even in the case where the region is named), so in practice the error would look like:

[code]

The IDs are useful even in the named case, in case the user create