[2019-08-23 20:25] qyz96 commented on #574
This gives the following error?
[adncat@sh-101-58 ~/legion/language]$ regent examples/cholesky.rg -fflow 0
table: 0x7f4af06b9130
[0 - 7f4af47f9780] {4}{threads}: reservation ('DMA request queue') cannot be satisfied
ELAPSED TIME =   2.725 ms

[2019-08-23 20:28] elliottslaughter commented on #574
The `reservation cannot be satisfied` part is a warning that says you're trying to oversubscribe the machine. This is only an issue if you are trying to do performance measurements. (Though note, this Cholesky code hasn't really been evaluated for performance, so you probably don't want to measure its performance anyway.)

The `ELAPSED TIME` shows the code is running to completion.

[2019-08-23 21:01] qyz96 commented on #574
Got it, thanks! Suppose that I do want to evaluate the performance, would I only need to do some minor revisions for the code?

[2019-08-23 21:07] elliottslaughter commented on #574
If you only want to do a single-node evaluation, you could probably get by with the code as it is now. (Though probably it would best to show us your results first so we can double check for anomalies.)

If you want it to perform well at scale, it really needs to be using index launches. Unfortunately this issue is more fundamental, due to the way the code is structured, the compiler can't perform

[2019-08-23 21:25] qyz96 commented on #574
Yes, I am interested in evaluating the performance of Cholesky specifically. It would be great if you could give me some guidance on it. Thanks!

[2019-08-23 22:41] elliottslaughter commented on #574
I talked about this a bit with @magnatelee and we think the place to start is by restructuring the code to match this structure:

https://www.oerc.ox.ac.uk/sites/default/files/uploads/ProjectFiles/ASEArch/starpu.pdf#page=41

You'll still hit #551 when you try to index launch, but the good news is that it doesn't require anything else (whereas the current code would require the compiler to reason a

[2019-08-23 22:55] elliottslaughter commented on #535
All of the outstanding reproducers are now fixed, so please test this again with your larger codes.

[2019-08-23 23:16] qyz96 commented on #574
Yes I will look into the references. It would also be great if I can be notified when #551 is fixed. Thanks!

[2019-08-23 23:41] elliottslaughter commented on #535
Sounds like @mariodirenzo has confirmed this is fixed, but let me know if you run into any more issues along these lines.

[2019-08-23 23:41] #535 closed

[2019-08-25 13:08] keszybz opened #575 "hwloc-2.0 support"
Hi,
mpich 3.3 now requires hwloc>=2.0. It would be great if legion could be updated too.
This was already signalled in #479 in February :(

[2019-08-25 16:31] streichler commented on #575
Yes, this is somewhere on our task list.  It's not super-high though, as you can almost
certainly disable hwloc in the Legion/Realm build with no loss of functionality.  (Or
conversely, if you have a system that the linux-sysfs-based discovery code doesn't work
as well as hwloc for, let me know and we'll consider bumping this up the priority list.)

[2019-08-25 16:38] streichler commented on #573
@mpokorny can you confirm that this issue is fixed with @lightsighter 's change?

[2019-08-25 17:06] mpokorny commented on #573
Yes, this issue was fixed by those changes.

On August 25, 2019 10:38:32 streichler <notifications@github.com> wrote:

[2019-08-25 17:30] #573 closed

[2019-08-25 19:05] keszybz commented on #575
Thanks for the quick reply. I made a small patch to fix one of the two compilation issues.
I also did the suggested thing and disabled the use of hwloc that does not compile...

as well as hwloc for, let me know and we'll consider bumping this up the priority list.

I wish I knew ;) I'm just the packager here, and I'm only touching legion because I want to update mpich.

[2019-08-28 02:40] mpokorny opened #577 "zlib link error"
Since the addition of the `Legion_USE_ZLIB` CMake configuration option, my Legion build has been failing. Best I can tell, the problem arises when I build Legion with HDF5, my *libhdf5* is dynamically linked to *libz*, and I set `Legion_USE_ZLIB=ON`. In that configuration *liblegion.so* is built, but anything else that tries to link to it (for instance *libregent.so*) fails to link. Building with

[2019-08-28 19:03] manopapad opened #578 "Regent: bounds checks on specific task only"
This came in handy while chasing down a bug in Soleil that was deterministically causing a CUDA memory error, but only after 700 iterations. Adding bounds checks to all tasks would have made the run take forever, but it was only a small overhead to add them just to the offending task. @magnatelee hacked the compiler to achieve this, but it might be nice to expose this functionality to the user.

[2019-08-28 21:34] #574 closed

[2019-08-28 21:49] elliottslaughter commented on #520
Part 1 of this has landed in 531e909. I added the `__index_launch` annotation, which is currently just an alias for `__parallel` on a `for` loop. Internally the compiler converts `__parallel` to `__index_launch` in the specialize stage and thereafter the two are completely distinguished.

Currently the compiler issues a warning on `__parallel`. Since this is a widely used feature I suggest we let

[2019-08-28 21:50] magnatelee commented on #501
Sure, I'll make a change for this.

[2019-08-29 00:10] streichler commented on #577
@mpokorny can you grab commit af2c1ce (should be in master shortly) and give this another try?  It's basically what you suggested above, and it seems to work for me.

[2019-08-29 16:31] mpokorny commented on #577
Your commit works for me. Thanks

[2019-08-29 16:31] #577 closed

[2019-08-29 20:37] ahenzinger opened #579 "Reductions to remote GPU FB memories are broken"
The backtrace is:

Signal 11 received by node 1, process 9496 (thread 7f23af1fd700) - obtaining backtrace
Signal 11 received by process 9496 (thread 7f23af1fd700) at: stack trace: 9 frames
 [0] = /lib/x86_64-linux-gnu/libc.so.6(+0x36cb0) [0x7f23ee6e8cb0]
 [1] = /home/ahenz/new/legion/bindings/regent/libregent.so(void PlusOpFloat::apply<false>(float&, float)+0) [0x7f23ef03db90]
 [2] = /home/ahenz/n

[2019-08-30 18:45] streichler commented on #475
Commit 000fbd4 should take care of this.  @mpokorny when you have a moment, can you give this another try?

[2019-08-30 21:12] elliottslaughter opened #580 "Regent: Bug in privilege check upgrade of reductions with split field privileges"
Putting this here so we don't forget it:

https://gist.github.com/elliottslaughter/bfa40e30f143ade9d6ae472f03fc7885

Thanks to Lance Roy for the reproducer.

[2019-09-03 20:00] elliottslaughter commented on #567
Now submitted issue at https://github.com/zdevito/terra/issues/393

[2019-09-03 22:08] elliottslaughter commented on #567
There is now a flag `--terra-cmake` that can be used to make `install.py` build Terra with CMake. At some point in the future we will likely make this the default.

I'm closing this issue, but the issue linked above tracks the Ubuntu 19.04 build failure that prompted this issue. Thanks!

[2019-09-03 22:08] #567 closed

[2019-09-03 23:11] magnatelee commented on #438
Bishop is currently using mapper tags to keep track of the sequence of tasks the mapper has seen so far, so there will be definitely a conflict. And the tag value is context sensitive, meaning the same call site may produce different tag values. So I don't think the first-class support for labeling statements would be helpful for Bishop's use case of mapper tags. But I think it would be useful to

[2019-09-04 00:30] magnatelee commented on #501
I just pushed a change for the stage 2: https://gitlab.com/StanfordLegion/legion/commit/a4800e44408fb3acd59d36fc55fb76700d38fed2. There is now a flag `allow-multi-field-expansion` that allows the multi-field expansion, which is now used only by the tests designed to test the multi-field expansion. Otherwise, multi-field expansions in the tests were manually unrolled. Tests for the multi-field expa

[2019-09-06 00:23] lightsighter commented on #579
@ahenzinger I think this is a duplicate of #372. Do you agree @streichler? See the first comment on that issue.

[2019-09-06 00:32] lightsighter commented on #458
It's worth noting this doesn't have anything to do with control replication. @manopapad would have this same problem if he ran this code in nopaint too (soon to be master). It is an effect of the decision we made at a weekly meeting a few months ago that read-write privileges on uninitialized data would result in a warning from the runtime. We can revisit it if we want, but we collectively as a gr

[2019-09-06 00:38] lightsighter commented on #496
I think it was only very inefficient when we were running in docker containers for CI. I wasn't seeing any real issues on my laptop or native linux systems. But the system call overhead of all the line by line writes in docker containers was causing most of our jobs in the CI to timeout. I'm not particularly excited about figuring out how best to fix this. I also didn't spend much time trying to g

[2019-09-06 23:10] elliottslaughter commented on #496
Ok, I'm not sure when I'll get around to this, but assigning back to myself for now.

[2019-09-08 19:49] streichler commented on #579
This should be functionally correct now with commit c0016e6.  @ahenzinger can you double-check that this works without any additional patches applied?  And yes, it basically is a duplicate of #372, but I'm going to leave that one open because both local and remote gpu reductions are still much slower than we'd like (because they bounce off of sysmem).

[2019-09-08 19:54] streichler commented on #425
@lightsighter @karthikmurthy Another poke on this.  My inclination is to reject this request under the philosophy that it's the (Realm) application's job to keep track of these things if it wants to, but y'all can take another shot at convincing me otherwise before I pull the trigger.

[2019-09-09 19:50] mpokorny commented on #475
Your commit has fixed this issue for me.

I do have one question, though. If I wanted to build a shared library version of librealm.so for use both from Regent or my own C++ application, would your changes support that? Although I'm a bit unclear on the details, it seems that without Terra (which has the "missing" LLVM libraries), if I built a C++ application that depended on LLVM against librealm

[2019-09-09 20:28] streichler commented on #475
The cases you describe should work.  What we're doing in the regent+llvm case is that Realm is not linking in llvm libraries directly.  Instead, it does dynamic symbol lookup at runtime to find the copy of the llvm libraries that some other component has loaded in (either via linking or dynamic loading itself).  As long as that other component has linked in enough of llvm (currently we require the

[2019-09-09 20:37] elliottslaughter commented on #475
I would also point out that Terra can be made to dynamically link LLVM (though you currently have to build Terra yourself to get this).

[2019-09-10 08:40] lightsighter commented on #425
I think I mostly agree with your assessment in that the thing we were originally thinking this would be valuable for is not really possible currently. I would still like to hear your question about "racy" poison from different sources. I still think it would useful for example to be able to distinguish between poison coming from a fault versus poison coming from mis-predication or some other sourc

[2019-09-12 01:07] lightsighter opened #581 "Realm Phase Barrier Recycling"
It would be nice if there was an opt-in way to have phase barriers recycle their generations once they have gone through all of them. This is an obviously unsafe thing to do as some barrier generations could have escaped and could still be "live" in the system somewhere, so it's up to the user to assert that it is safe to do this. However, if the user does opt-in to this behavior, then they don't

[2019-09-12 05:24] ahenzinger commented on #579
Yes, this fixes the issue I was having without any additional patches applied!

[2019-09-12 06:17] lightsighter commented on #579
Ok, I'm going to close this issue. Any further issues we have with reductions to GPU memories can be reported on issue #372.

[2019-09-12 06:17] #579 closed

[2019-09-12 17:49] magnatelee opened #582 "Hotfix for the task inliner"
I found and fixed a bug in the task inliner in the `stable` branch. There was a bug in the check that determines whether the inliner can directly replace the parameter with the argument, which should have been sound but wasn't. The issue could affect inlined tasks that take arrays
 or structs with array members as arguments and then mutate them inside. The fix is now in the `stable-inliner-patch`:

[2019-09-13 20:27] elliottslaughter commented on #163
@lightsighter Is this still a useful optimization?

[2019-09-13 20:29] elliottslaughter commented on #276
@aheirich Is this still an issue?

[2019-09-13 20:31] elliottslaughter commented on #324
@manopapad Does Soleil even compile with SCR any more? If not I'm inclined to close this.

[2019-09-13 20:31] elliottslaughter commented on #330
This was done some time ago.

[2019-09-13 20:31] #330 closed

[2019-09-13 20:33] elliottslaughter commented on #338
@manopapad Can you give us another update?

[2019-09-13 20:34] elliottslaughter commented on #332
A while back @magnatelee and I made an ideological decision not to do this, and to instead on a case-by-case basis add flags to override certain `__demand` annotations in the presence of certain features. In this way, as the compiler becomes more expressive it is possible to remove these flags over time, and hopefully limit the growth of `__insist` in code bases.

Closing for now, let me know if y

[2019-09-13 20:34] #332 closed

[2019-09-13 20:35] elliottslaughter commented on #347
This has been in for some time. Specific problems should be reported as new issues.

[2019-09-13 20:35] #347 closed

[2019-09-13 20:38] elliottslaughter commented on #365
I'm actually increasingly inclined to remove `-fskip-empty-tasks`, since it seems to be a special case and not something we end up needing in the majority of cases. In cases where you really do need it, there are better options. E.g. when doing an index launch, one could just use a sparse launch domain. At the moment `-fskip-empty-tasks` doesn't even handle this case (it only does it for single ta

[2019-09-13 20:39] elliottslaughter commented on #366
This issue needs a new owner if it's really about a Legion Prof enhancement. @magnatelee ?

[2019-09-13 20:41] elliottslaughter commented on #413
I believe we now have modulus that works over rectangles, right? Then we should be able to do something like `(c + {1,0,0})%cs`.

[2019-09-13 20:43] elliottslaughter commented on #434
I think option (2) isn't really feasible under DCR since all launches are (or should be) index launches. Is this still an issue and is (1) a viable approach?

[2019-09-13 20:43] elliottslaughter commented on #435
We merged this some time ago.

[2019-09-13 20:43] #435 closed

[2019-09-13 20:47] elliottslaughter commented on #470
Assigning @magnatelee to confirm completion of fix.

[2019-09-13 20:49] elliottslaughter commented on #501
The deprecation was announced in https://github.com/StanfordLegion/legion/releases/tag/legion-19.09.0 and we will move to stage 3 at some point in the future (yet to be determined which release).

[2019-09-13 20:50] elliottslaughter commented on #520
The deprecation was announced in https://github.com/StanfordLegion/legion/releases/tag/legion-19.09.0. As the next stage, we should move to an error (with a flag to downgrade to a warning), possibly for the next release. This could potentially go into master now.

[2019-09-13 20:52] elliottslaughter commented on #526
I'm seriously considering moving `install.py` and `setup_env.py` to build Terra with CMake by default, which I think would also fix.

[2019-09-13 21:04] aheirich commented on #276
closing

[2019-09-13 21:04] #276 closed

[2019-09-13 21:09] aheirich commented on #276
I don’t think this is an important issue.  I will close it.

On Sep 13, 2019, at 1:29 PM, Elliott Slaughter <notifications@github.com<mailto:notifications@github.com>> wrote:

@aheirich<https://github.com/aheirich> Is this still an issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/StanfordLegion/legion/issues/276?email_s

[2019-09-14 02:31] ldr709 opened #586 "Writing to an element of an array-typed field does not require a write privilege"
Writing to an array-typed field does not require a write privilege, only a read one. This makes the type system unsound. Related: https://github.com/StanfordLegion/legion/issues/436

Test [case](https://github.com/StanfordLegion/legion/blob/38b0bf61a58d1c7da492f061b509506a1a4ccd5e/language/tests/regent/compile_fail/array_write_privileges.rg)

[2019-09-14 02:34] ldr709 opened #587 "Writing to a complex typed field does not require any privilege"
This is a soundness hole in the type system.

The test [case](https://github.com/StanfordLegion/legion/blob/38b0bf61a58d1c7da492f061b509506a1a4ccd5e/language/tests/regent/compile_fail/complex_write_privileges.rg) ought to fail in the type checker, but instead it type checks and then hits an assertion failure in code generation.

[2019-09-14 02:37] ldr709 opened #588 "Regent won't infer reduces from reads and writes if one is on a subfield of the other"
Test [case](https://github.com/StanfordLegion/legion/blob/38b0bf61a58d1c7da492f061b509506a1a4ccd5e/language/tests/regent/run_pass/privilege_reduce5.rg)

[2019-09-14 05:37] lightsighter commented on #215
The nopaint branch has merged into master and this example is now in the test suite so we know it won't break going forwards. Closing the issue.

[2019-09-14 05:37] #215 closed

[2019-09-14 05:47] lightsighter commented on #434
Yes, this is still potentially an issue under DCR. It's the emptiness of the index spaces for the logical regions themselves, not the index space launches that is the issue.

[2019-09-14 05:52] lightsighter commented on #163
This is still a useful optimization to do.

[2019-09-14 18:45] streichler commented on #475
@mpokorny I am going to go ahead and close this bug, but if you run into any new build issues in this area, please let us know.  Thanks!

[2019-09-14 18:45] #475 closed

[2019-09-14 18:46] streichler commented on #473
@lightsighter Do you have any cases that demonstrate this problem, ideally with an estimate of the magnitude of the potential speedup?

[2019-09-14 18:49] streichler commented on #455
@tpatki I'm going to close this bug due to inactivity, but feel free to reopen it if you still have any concerns.

[2019-09-14 18:49] #455 closed

[2019-09-14 18:51] streichler commented on #447
@lightsighter can you fix the above code references - neither points to the right place anymore, so I don't remember which comments you're referring to.  (If you look at a particular commit rather than just the branch, the URL doesn't go stale.)

[2019-09-14 18:53] streichler commented on #423
Noting that I expect this to get cleaned up as part of whatever we do for #564.

[2019-09-14 18:57] streichler commented on #240
Nobody's complained about this in ages, so I'm closing it out.

[2019-09-14 18:57] #240 closed

[2019-09-14 19:00] streichler commented on #572
@karthikmurthy which signals are we trying to defer here?

[2019-09-14 19:06] streichler commented on #582
Commit dd1fb16 has made it into the stable branch and is part of the legion-19.09.1 release.

[2019-09-14 19:06] #582 closed

[2019-09-14 22:48] jiazhihao opened #589 "Assertion `it->impl != __null' failed in virtual void Legion::Internal::IndividualTask::trigger_dependence_analysis()"
I got the following assertion failure with the most recent master branch when I am running candle_uno (https://github.com/flexflow/FlexFlow/blob/master/examples/candle_uno.cc). The backtrace is as follows.

[code]

[2019-09-15 00:29] streichler opened #590 "Scrub tutorials/examples of Legion warnings"
The Legion runtime issues more warnings than it used to, but we'd like our builds/tests to be warning-free, so we need to go through and clean this up.  Assigning to me for now to create a branch in which these warnings become fatal (i.e. the equivalent of WARN_AS_ERROR=1 for our build).

[2019-09-15 00:57] lightsighter commented on #473
I remember seeing it, but I don't remember which application it was. I think it was Pennant. I'm going to be re-benchmarking Pennant pretty soon to measure tracing with control replication so when I do that I will also check if I see slow start-ups when generating the mesh with dependent partitioning.

[2019-09-15 01:03] lightsighter commented on #447
Look for the calls to has_triggered in runtime.cc in this commit:
https://gitlab.com/StanfordLegion/legion/commit/d0f7897b09

[2019-09-15 01:07] lightsighter commented on #589
This would happen if you passed in an "empty" future into the runtime, e.g. a future that you constructed yourself and didn't have a value associated with it. The runtime should probably handle this better, but did you intend to pass in an empty future?

[2019-09-15 01:09] lightsighter commented on #589
If you think this is still a runtime bug then please make me a frozen process on sapling to look at.

[2019-09-15 01:13] jiazhihao commented on #589
There should not be any empty future if the app runs correctly. Do you know how to track the life time of this feature? Such as which task created the future

[2019-09-15 02:25] jiazhihao commented on #589
Turn out to be an application bug.

[2019-09-15 02:25] #589 closed

[2019-09-15 07:43] ldr709 commented on #588
Oops, I didn't notice that Elliott had already [reported](https://github.com/StanfordLegion/legion/issues/580) this. Sorry for the duplicate.

[2019-09-15 07:43] #588 closed

[2019-09-15 21:10] streichler commented on #557
Commit 25a6c1c re-enables this check, but more importantly, redoes the shutdown sequencing in Realm to better detect races.

[2019-09-15 21:10] #557 closed

[2019-09-15 22:41] lightsighter commented on #589
I've update the runtime to prune out uninitialized futures now whenever they are passed in so we don't get the internal assertion that we did here.

[2019-09-16 07:27] magnatelee commented on #554
This is fixed in the `parallelizer-dcr` branch.

[2019-09-16 07:27] #554 closed

[2019-09-16 18:42] magnatelee commented on #389
Assigning this to me as this will arrive together with the new parallelizer merge.

[2019-09-17 12:49] streichler opened #591 "Deal with hanging tests in CI"
Our GPU-enabled runners don't currently handle job timeout, so a hanging test takes the runner offline.  This is a reminder for me to experiment with some sort of in-job timeout (e.g. `ulimit`) to cope with tests that don't terminate.

[2019-09-17 16:30] manopapad commented on #324
We haven't been compiling Soleil with SCR for a while now.

[2019-09-17 22:56] streichler commented on #553
@thompsonbry I think I somehow missed your questions on this issue.  Addressing them now:

All Realm handles have a "null" value (e.g. `CompletionQueue::NO_QUEUE`) that can be used as a default initializer.  The `exists` method tells you whether a given handle is a real handle or this null value.

Sure, it's called `pop_events` :) - a call will return up to `max_events` completed events, but it ca

[2019-09-17 23:12] thompsonbry commented on #553
Ok. Adding Gabi to the Cc.

Our use case for this api is something that we plan to discuss next week.

Gabi, any thoughts before then?

Bryan

On Tue, Sep 17, 2019 at 15:56 streichler <notifications@github.com> wrote:

[2019-09-17 23:30] streichler commented on #200
Wow, kitchen-sink bugs really don't work.  In ~3 years, only 3 items actually got fixed.  The rest of these will be opened as individual issues to be tracked and then I'll close this as a "duplicate".

[2019-09-17 23:34] streichler opened #592 "Realm: richer "kind" information for processors, memories"
Some of the current enums are poorly named (LOC/TOC), some are too specific (e.g. sysmem vs socket mem) and some are too general ("cpu", "gpu").  Move to a more open-ended queryable object for "kind" information.

[2019-09-17 23:37] streichler opened #593 "Realm: support reductions via accessors"
Also nuke the old `get_accessor` interface while we're at it.

[2019-09-17 23:39] streichler opened #594 "Realm: cleanup of Reservations"
1. Remove payload stuff
2. Deprecate `mode` setting, just use `exclusive`
3. Deferred destruction

[2019-09-17 23:41] streichler opened #595 "Realm: use task spawning for machine query callbacks"
And make sure the filtered callbacks still work after the various query processing changes in the last  couple years...

[2019-09-17 23:41] streichler opened #596 "Realm: add ReservationContention profiling measurement"
For bonus points, make it work with `FastReservation` too.

[2019-09-17 23:43] streichler opened #597 "Realm: add command-line option to assume portable function pointers"
If ASLR is disabled, we don't need dynamic symbols for portable code registration.  (Can this be detected dynamically?)

[2019-09-17 23:45] streichler opened #598 "Realm: allow (opt-in) replacement in task registration"

[2019-09-17 23:46] streichler opened #599 "Realm: asynchronous code translation for task registration"
This plumbing is needed for JIT performance, task registration in subprocesses, GPU code generation, and probably a bunch of other things.

[2019-09-17 23:50] streichler commented on #200
Ok, this issue has been exploded as follows:
#592 Processor kind names (LOC_PROC -> HOST_PROC, TOC_PROC -> CUDA_PROC)
#593 Accessor creation: deprecate untyped, generic, full-structure get_accessor call and replace with:
RegionAccessor<AT, T> RegionInstance::get_field_accessor<T, AT=Generic>(off_t offset /* eventually field ID */);
\+ Reductions working properly with accessors.
#594 Removal of pay

[2019-09-17 23:50] #200 closed

[2019-09-17 23:53] streichler opened #600 "Realm: expose configuration information to application code"
We need to be able to read/write configuration info during Realm startup from application code.  Ideally, we'd have an approach that works for C++, C, Python, and Lua with minimal duplication of effort.

[2019-09-18 01:43] lightsighter commented on #593
@lightsighter Adding myself to make changes to remove this from the Legion interface when it's time. We've already marked the methods as deprecated for a while now.

[2019-09-18 01:45] lightsighter commented on #592
TODO: make sure this is at least some what capable of being supported by some of the Legion level constraints.

[2019-09-18 03:48] elliottslaughter opened #601 "Fix Terra CMake on Travis"
This issue is to remind me to upgrade Travis to Ubuntu 16.04 so we can get a newer LLVM that will work with Terra CMake support.

[2019-09-18 07:37] lightsighter commented on #247
This test is still failing, but Legion Spy validates it's execution when it does fail (e.g. when I explicitly remove the assertion, but still print out the failure). Interestingly when I turn on bounds checks I get a failure:

mebauer@sapling:~/legion/language$ LAUNCHER='mpirun -n 2 --bind-to none -x REALM_SYNTHETIC_CORE_MAP= -x INCLUDE_PATH -x LD_LIBRARY_PATH -x TERRA_PATH' ./regent.py ./tests/re

[2019-09-18 19:12] streichler opened #602 "Realm: finish changes to scalable/migratable barriers"
The long-dormant barriers branch has some changes that make barriers scalable (i.e. O(log N) work on each rank instead of O(N) work on one rank) and improve the migration capabilities, but additional work is still needed to handle cases where the arrivers' locations differs from what is expected.

[2019-09-19 02:41] elliottslaughter commented on #551
This should be fixed in master with commit 3c002953c0e3d19cd5a0d61e1820e016832d4578. Note that it may require `-fflow 0` to work. Please check this fixes your test case.

[2019-09-19 02:44] elliottslaughter commented on #474
This is fixed in master as of commit 3c002953c0e3d19cd5a0d61e1820e016832d4578.

[2019-09-19 02:44] #474 closed

[2019-09-19 04:09] manopapad commented on #338
I don't have any updates on this. AFAIK the only thing that's missing is the launching of all sweep tasks in a single index-space launch with dependencies, which is not yet supported in the runtime. We currently launch all sweep tasks as sequential tasks. We couls

[2019-09-19 17:05] streichler commented on #591
Rather than implementing a top-level timeout mechanism (which might leave child/grandchild processes running and therefore not actually clean things up for future CI jobs to run), commit 7ccc66f4af1cd313ee5d6c210f340789360f567c adds per-test timeouts for all non-regent tests (Regent's test.py already handles timeouts) and commit e3d7dcd97c8e53207eaa56e62af9ba0e9bc8ecc4 sets that limit to 10 minute

[2019-09-19 17:05] #591 closed

[2019-09-19 17:55] syamajala commented on #511
Need to be able to pass partitions as well.

[2019-09-19 18:18] syamajala opened #603 "Regent: metaprogram task annotations"
I would like to be able metaprogram task annotations.
Maybe do something like this:
[code]

[2019-09-19 18:32] magnatelee commented on #603
I've been contemplating the syntax for registering task variants, which would support meta-programming better than pragmas. The syntax would look like this:

[code]

And of course the idea here is to specify layout constraints for a variant in `where ... end`. Does this syntax sound reasonable to you, or do you somehow still want to meta-program pragmas?

[2019-09-19 19:17] magnatelee commented on #603
Just to clarify, here is the syntax:
[code]

[2019-09-19 19:18] syamajala commented on #603
This syntax will work for me.

[2019-09-19 19:50] streichler opened #604 "Bishop: generate mappers for C++ applications"
Writing an app-specific mapper for a C++ Legion application is not particularly hard, but it is awfully tedious.  It'd be awesome if we could use Bishop to generate mappers for non-Regent applications (C++, but also Python, etc.).

Assigning to @magnatelee but also pinging @manopapad who I believe is the most recent winner of the you-get-to-write-a-mapper-in-C++ sweepstakes and might have some opi

[2019-09-19 22:26] elliottslaughter commented on #603
Just to be clear though, we should also allow metaprogramming the annotations on regular tasks since there are use cases for those besides what you get via variants.

[2019-09-20 12:52] streichler commented on #242
Adding @elliottslaughter to this discussion - have we scoped out what is needed on the Regent side for scatter/gather copies?

[2019-09-20 13:22] streichler opened #605 "Realm: incorporate MPI-based active message implementation as option"
This'll require some restructuring on my part to make the activemsg implementation somewhat pluggable, and then probably somebody else's work to dust off the code in gitlab PR 151 (https://gitlab.com/StanfordLegion/legion/merge_requests/151) to make the peg's shape fit the hole.

[2019-09-23 21:33] elliottslaughter commented on #496
An improved version is sitting in branch `makefile-defines`. If people are happy with it we can merge and close this issue.

[2019-09-23 21:57] magnatelee commented on #470
My initial attempt to clean up regions and other handles when the task exits did not go through well. A cursory look at the issue seems to suggest that some of the handles are being deleted directly by the runtime. I'll open a separate issue for that and close this one.

[2019-09-23 21:57] #470 closed

[2019-09-23 22:08] elliottslaughter commented on #520
Part 2 has landed in 023c2e1c112799ab58a7fb9e11b87efa454bfd9e. Using `__parallel` on a loop will now issue an error, which can be downgraded with the flag `-fallow-loop-demand-parallel 1` back into a warning. This is a temporary measure to make this "fails loudly" for users prior to the final removal of this feature.

[2019-09-23 22:09] magnatelee opened #606 "Regent: Leaking index and field spaces"
Regent tasks are currently leaking index and field spaces when they exit. The compiler should emit code to clean them up.

[2019-09-23 22:45] streichler commented on #546
@lightsighter and I discussed this some today, and converged on an expansion of the "sharded views" that Legion currently makes in some cases.  The idea is that instead of the actual instances created/used by every shard being sent back to the owner of an equivalence class, a single sharded view is used as a global placeholder and each shard keeps its local list of instances.  In the select_task_o

[2019-09-24 17:46] streichler commented on #597
This requires a new command line parameter ("-ll:portable_fp" is what I was thinking), a boolean added to `FunctionPointerImplementation` to indicate whether it's portable, and a change to the `CodeDescriptor` constructor the comannd-line parameter to set that portable flag appropriately.

[2019-09-24 17:51] streichler commented on #575
As mentioned in the pull request, I'd like this change to add hwloc-2.x support without losing hwloc-1.x support, so it'll all need to be ifdef-protected.

[2019-09-24 18:56] rauteric opened #607 "Regent: index launch with disjoint elements of partition"
Consider the following:
[code]

The equal partitions should be disjoint, but with `__demand(__index_launch)`, Regent complains that the partitions interfere. If I change `writes(y)` to `reads(y)` in the test task, the index launch is allowed.

Is something like this possible in Regent? In particular, I'm interested in modifying the Cholesky example to use index task launches, as recommended in [th

[2019-09-24 20:02] karthikmurthy commented on #572
I have to crosscheck with Mike, but the intention here is to disable event_waiters across the board. I have assigned this to myself till I crosscheck with him.

We need this for two purposes: 1) arrest the runtime progress so that more tasks do not map in the event of a failure 2) We need to disable triggering of metatasks that work on the pipeline stages of a task, e.g., DeferredEnqueue, Deferred

[2019-09-24 21:34] elliottslaughter commented on #607
Talking with @magnatelee I think the most expedient way to do this will be to add a flag like `-foverride-demand-index-launch 1` to make the compiler trust launches like this one. At the moment, this is problematic because the compiler isn't smart enough to realize that `i > 0` (based on the loop bounds). That is the longer term answer, but I think we don't necessarily want to wait for that all to

[2019-09-24 23:18] karthikmurthy commented on #359
The design changes needed to accommodate some of the issues raised are being developed in a separate branch (resilience). This issue is no longer relevant.

[2019-09-24 23:18] #359 closed

[2019-09-25 01:11] mariodirenzo opened #608 "Regent: error in handling of global C variables"
Regent fails to compile the following code
[code]
producing the error
[code]

The code produces the correct result if the function ` getString()` is called to generate the string variable.

[2019-09-25 06:58] lightsighter commented on #418
This has been fixed and all instances can be used for any logical region for which they have space, provided that they are being used for the same field. Instances still cannot be used for different fields without creating the potential for deadlock.

[2019-09-25 06:58] #418 closed

[2019-09-25 07:01] lightsighter commented on #338
I propose we split this out into specific issues that need to be addressed in Legion and Regent and then close this issue. Omnibus issues like this are hard to manage in our new issue tracking framework.

[2019-09-25 07:04] lightsighter commented on #374
@seemamirch @streichler  Do we think that we've fixed this issue, or are there still outstanding things in Realm that are not being accurately profiled? Also, do we have all this information piped through to the profiler so that it is rendered for the user to see?

[2019-09-25 19:17] elliottslaughter commented on #608
Should be fixed in 2ed0b16ac7375e7b4ff35ac548eb46ba484686d0. Please note that global variables will be read-only in Regent since we can't guarantee that concurrent access will be safe.

[2019-09-25 20:23] #608 closed

[2019-09-25 20:24] mariodirenzo commented on #608
ok, thank you

[2019-09-25 21:33] elliottslaughter commented on #551
Closing assuming this works, but let me know if you have any further issues.

[2019-09-25 21:33] #551 closed

[2019-09-25 21:34] elliottslaughter commented on #526
Both scripts now use CMake by default to build Terra, which I think resolves this issue. Please reopen if you have any further issues.

[2019-09-25 21:34] #526 closed

[2019-09-25 21:41] elliottslaughter commented on #452
@lightsighter Did we decide to go with Legion or Regent's interpretation on this one?

[2019-09-25 21:43] elliottslaughter commented on #442
Assigning to @lightsighter since (if we do this) the implementation will be mainly in Legion.

[2019-09-25 21:46] elliottslaughter commented on #413
This is similar to what we're seeing in #607, except a different property of the loop needs to be proved. I'm inclined to add `-foverride-demand-index-launch 1` as a first step since the rabbit hole goes (potentially) quite far down.

[2019-09-25 21:49] elliottslaughter commented on #365
Reading through the issues again, it occurred to me that option (2) is really what #434 is proposing. I'm inclined to go that route since it will be some non-trivial effort for Regent to do this properly in the presence of index space launches anyway.

[2019-09-25 21:51] elliottslaughter commented on #324
Considering the branch does not seem to exist any more, I'm going to close this issue.

[2019-09-25 21:51] #324 closed

[2019-09-25 21:53] elliottslaughter opened #609 "Regent: add support for index launches in the C++ wrapper"
Splitting this out from #322.

[2019-09-25 21:53] elliottslaughter opened #610 "Regent: add support for passing futures in C++ wrapper"
Splitting this out from #322.

[2019-09-25 21:54] elliottslaughter commented on #322
Closing this issue to split the remaining items into their own individual issues.

[2019-09-25 21:54] #322 closed

[2019-09-26 00:57] lightsighter commented on #600
Requesting some kind of bump in priority on this for Legate. Just need the write-only case before Realm is started.

[2019-09-26 02:25] streichler commented on #600
@lightsighter what things in particular does Legate need to control?

[2019-09-26 04:44] elliottslaughter commented on #601
Should be fixed in 430c42dbf316297fc459cf0bdaa659717d5230b4.

[2019-09-26 04:44] #601 closed

[2019-09-26 07:54] lightsighter commented on #452
I still don't think Regent's approach is defensible. Consider the case of subtracting one partition from another: what do you do if the colors spaces of the two partitions don't match? You can't subtract a subregion from nothing. In my opinion Legion's approach is the only one that is well defined: regardless of the set operation being performed, we only perform it on the points that exist in the

[2019-09-26 07:56] lightsighter commented on #442
How many types are we going to support? What are they? What are the encodings?

[2019-09-26 07:58] lightsighter commented on #600
Number of different kinds of processors, existence and size of different memories, number of threads allocated to DMA, gasnet, openmp, and utility processors.

[2019-09-26 13:26] streichler commented on #452
I'm bringing another piece into this because I think they're coupled:  If I have a partition in which many of the subregions are empty (e.g. a 2-D tiled partition of a sparse matrix that has few off-diagonal entries), what is the space-efficient way to represent that partition in Legion?  Is it:
a) a full (i.e. dense 2-D rectangle) color space for which Legion (efficiently) knows which colors actu

[2019-09-26 18:08] mariodirenzo commented on #551
Yes, it works for me. Thank you!

[2019-09-26 18:21] lightsighter commented on #452
Except for (b) in the common case which is Legion will recognize that the names for the color spaces of the two partitions are the same and then we don't need to do the intersection explicitly.

[2019-09-26 18:43] streichler commented on #452
My point was that with (b), it'd be the application's problem to use a sparse color space for each of the two partitions, and then they wouldn't be the same from Legion's perspective.  The application being able to (space-efficiently) use the same color space for both partitions, regardless of which subregions are empty in each partition, is choice (a).

[2019-09-27 06:37] lightsighter commented on #452
Legion always requires a color space to be an index space (literally a realm index space). Whether that color space is space efficient or not depends on realm's implementation of index spaces, not anything that Legion does.

The Legion interface for all these operations currently requires that the application always provide the color space for the new partition, so we could get rid of the "interse

[2019-09-27 14:57] streichler commented on #452
The scalability concern applies at several levels.  Yes, individual Realm index spaces need storage and computation costs that are no larger than linear in the number of points in the set, but there are other places where super-linear costs can come in.  For example, the cross-product intersection of two O(N) partitions conceptually yields an O(N^2) color space but will have only O(N) non-empty in

[2019-09-27 23:49] streichler opened #612 "doxygen output is broken"
For an example: https://legion.stanford.edu/doxygen/class_legion_1_1_physical_region.html
Right now it's worse than not having it at all, so we should either fix it or not have it at all.

[2019-09-28 06:41] lightsighter commented on #612
How is it broken? It looks fine to me.

[2019-09-28 23:06] lightsighter commented on #612
Note the doxygen output isn't broken as all the methods are there, it just sucks at rendering it with some of our deprecation macros. I'm inclined to label this a doxygen problem as it should be smart enough to ignore macros like this, or at least preprocess them to get the actual c++ code.

[2019-09-28 23:44] streichler commented on #612
Hmm...  It looks like we can put something like this in the doxygen settings to have it eat that macro:
[code]
@elliottslaughter can we give that a try?  It also looks like doxygen has its own `\deprecated` tag, but it's not obvious to me how you'd get the LEGION_DEPRECATED macro to turn into that properly.

[2019-09-30 21:55] mariodirenzo commented on #374
I think I am observing this issue in this timeline http://sapling.stanford.edu/~mariodr/Patch_X

[2019-09-30 21:58] mariodirenzo commented on #481
It would also be nice to have access to the delay (if any) between when the task is ready to run and when it starts its execution (maybe as a field in the window that appears when you stop the mouse over the box representing the task)

[2019-09-30 22:01] lightsighter opened #613 "Conversion Operator Inconsistency"
Legion has always supported an implicit conversion between the DomainT type into a Rect type when the index space is dense. Realm does not support and equivalent conversion between Realm IndexSpace and Rect types. When codes are compiled with c++11 or later this can create an issue because DomainT is just a type alias of Realm::IndexSpace and a conversion that used to work, no longer works.

[2019-09-30 22:35] streichler commented on #613
I have convinced @lightsighter that the right way to fix this is to remove the implicit conversion from Legion's c++98 wrapper class.  It means that application code that was using it will have to replace occurrences of:
[code]
with
[code]
but I consider this preferable to having Legion and/or Realm have to assert-fail on application bugs (e.g. accidentally coercing a non-dense index space to a re

[2019-10-01 01:03] seemamirch commented on #481
This is useful - I’ll add it to the profiler shortly.

--Seema

On Sep 30, 2019, at 2:58 PM, Mario Di Renzo <notifications@github.com<mailto:notifications@github.com>> wrote:

It would also be nice to have access to the delay (if any) between when the task is ready to run and when it starts its execution (maybe as a field in the window that appears when you stop the mouse over the box representing

[2019-10-01 17:57] streichler opened #614 "build: tests/realm directory needs cmake build support"

[2019-10-02 21:39] streichler opened #615 "realm: avoid eager fnptr->dso conversion for every code descriptor"
If you, hypothetically, had a Legion application that was over 3GB in size and had over 1M dynamic symbols and it registered thousands of tasks, this could get pretty slow...

[2019-10-02 23:27] seemamirch commented on #481
Here's an example of the profiler - it includes the time a task spends in the ready state (look at the gpu tasks in this example)- Let me know if anyone has any comments before I check it in.
http://sapling.stanford.edu/~seemah/e/circuit/legion_test/?start=5463871.770562957&end=5559767.990221078&collapseAll=false&resolution=10

[2019-10-03 15:40] streichler commented on #613
These changes are part of the master branch as of commit 67b7ba2.

[2019-10-03 15:40] #613 closed

[2019-10-03 16:50] elliottslaughter commented on #612
Pushed. Please check the output.

[2019-10-03 17:00] streichler commented on #612
Looks much better.  @lightsighter do you want the deprecated-ness to show up in a legible way in the docs?  (I think that means manually putting `\deprecated` tags in the doxygen comments.)

[2019-10-03 18:23] streichler commented on #452
Ok, after several more rounds of discussion, I believe the "regent interpretation" is the one we should go with.  Since the Legion operations demand that the application pre-compute the desired color space for the result of a partitioning operation (e.g. https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L3673), Legion should respect that request.  In particular, rather than ign

[2019-10-03 18:26] lightsighter commented on #452
So the rule is that even empty sub-regions in the output partition are always represented? For example, in a partition difference, if there is no color for the lhs sub-region then that gets converted to empty and the resulting partition still has an explicitly empty sub-region for that point in the color space.

[2019-10-03 18:28] streichler commented on #452
Yes, subregions (empty or not) exist for exactly the colors requested by the application.

[2019-10-03 18:30] lightsighter commented on #612
Yeah, we can assign this issue to me and I will go through and do it at some point.

[2019-10-03 18:36] streichler opened #616 "legion: GPU procs included in utility proc group when no utility procs exist"
[code]

[2019-10-03 21:27] magnatelee commented on #407
I checked the items that I know are handled by either me or Mike. I propose we revisit the list and create a new issue per outstanding item.

[2019-10-04 03:06] elliottslaughter commented on #496
This has been merged in ff00fb898db725ec0abb6ce804ff1efb9461e161.

[2019-10-04 03:06] #496 closed

[2019-10-04 03:08] elliottslaughter commented on #466
As of ff00fb898db725ec0abb6ce804ff1efb9461e161 we generate `legion_defines.h` which includes the value for `LEGION_MAX_DIM` so that it no longer needs to be set on the command line. `-flegion-dim` is no longer required or supported.

[2019-10-04 03:08] #466 closed

[2019-10-04 07:07] lightsighter commented on #481
So one concern I have about this change is that we're going to get more "giant stacks" of tasks, especially on the utility processors where there might be lots of ready to run tasks that overlap and therefore get stacked. This often makes the profile difficult to read so if it does happen we need to be ready for it.

[2019-10-04 07:08] lightsighter commented on #615
Indeed.

[2019-10-04 07:26] alexaiken commented on #481
Showing the delays visually can be toggled in profiling options.  Seema and
I didn't discuss the default, but I guess we want the old behavior (no
display of wait time) to be the default.

Alex

On Fri, Oct 4, 2019 at 12:07 AM Mike Bauer <notifications@github.com> wrote:

[2019-10-04 07:52] lightsighter commented on #616
This is a realm bug, not a legion bug, the task was launched on 1c00000000000001, but Realm is running it on 1d00000000000001.

(lldb) bt
* thread #2, stop reason = signal SIGABRT
  * frame #0: 0x00007fff5b5c8e3e libsystem_kernel.dylib`__pthread_kill + 10
    frame #1: 0x00007fff5b707150 libsystem_pthread.dylib`pthread_kill + 333
    frame #2: 0x00007fff5b525312 libsystem_c.dylib`abort + 127
    f

[2019-10-04 13:34] streichler commented on #616
`0x1c00000000000001` is a processor group, which is fine to be the target of a task spawn, but a task always executes on one of the actual processors in the group (e.g. `0x1d00000000000001`).
The Legion startup code that creates the utility processor group does not appear to be filtering by kind: https://github.com/StanfordLegion/legion/blob/master/runtime/legion/runtime.cc#L9661-L9674
(and the pa

[2019-10-04 17:13] syamajala opened #617 "Legion: Attach names to fields"
It would be nice if you could attach a name to a field and have tools like legion spy use that instead of an enum value. Additionally, maybe it would be useful if when you allocate a field you can give it an optional name?

[2019-10-04 17:24] streichler commented on #617
The runtime allows you to attach a name to a field: https://github.com/StanfordLegion/legion/blob/stable/runtime/legion.h#L6189-L6200
but that's only part of the story.  You'd need the app (or regent) to actually do the attaching (regent doesn't appear to right now - @elliottslaughter ?) and you'd need legion spy to use the info (which it doesn't seem to from a quick grep - @lightsighter ?).

[2019-10-04 17:31] syamajala commented on #617
Is there a way for me to get the attached name as well?

[2019-10-04 17:31] streichler commented on #615
This is hopefully much improved with commit 95d008a.  @lightsighter can you see if it speeds up your case?

[2019-10-04 17:44] streichler commented on #617
Yep.  And this is the tag you should use if you want to hopefully inter-operate with things like legion_spy: https://github.com/StanfordLegion/legion/blob/stable/runtime/legion/legion_config.h#L1294

[2019-10-04 18:08] syamajala commented on #617
It seems to be working with legion spy as well. I guess this is sort of good enough for now. Although it would be nice to do it when you allocate a field, its not really necessary.

Closing this.

[2019-10-04 18:08] #617 closed

[2019-10-04 20:14] lightsighter commented on #616
Fixed with 82c93a5a9

[2019-10-04 20:14] #616 closed

[2019-10-04 22:44] qyz96 opened #618 "Missing Dependency in Quickstart for Ubuntu"
Hi,
I am having the same error as the one in
https://github.com/StanfordLegion/legion/issues/361
The exact error is
[adncat@sh-116-06 ~/legion/language]$ ./install.py --debug
Already up-to-date.
mkdir -p release/bin release/lib
g++ -shared -fPIC -Wl,-export-dynamic -Wl,--whole-archive release/lib/libterra.a -Wl,--no-whole-archive -lcurses  -lz -ldl -pthread -o release/lib/terra.so
g++ build/main.o

[2019-10-04 23:07] lightsighter commented on #283
Fixing this issue should also address this warning that we're currently getting on GASNet builds:

mpicxx -o /home/mebauer/legion/runtime//realm/activemsg.cc.o -c /home/mebauer/legion/runtime//realm/activemsg.cc -DENABLE_REMOTE_TRACING -DCTRL_REPL_TRACING -DUSE_DISK  -march=native -DUSE_ZLIB -O0 -ggdb  -Wall -Wno-strict-overflow  -I/home/mebauer/legion/runtime/ -I/home/mebauer/legion/runtime//mapp

[2019-10-04 23:14] elliottslaughter commented on #618
It might take a while to complete, but `scripts/setup_env.py` is the best way to get a self-consistent set of libraries (LLVM, etc) with minimal dependencies. There is the an issue with auto-detection in some cases, but unless you want to debug that yourself, it's probably easier to use `setup_env.py`.

[2019-10-04 23:31] lightsighter commented on #283
The above warning has now been fixed.

[2019-10-05 00:02] lightsighter opened #619 "Realm: LLVM JIT DMA Engine"
It's too expensive to have copy routines between all pairs of memories and for all possible memory layouts and for all possible machine instruction kinds and cache sizes. We need a Realm DMA engine that can on the fly JIT an optimized routine for moving data that can deal with arbitrary sparsity patterns on the source and destination, arbitrary kinds of memory on the source and destination, arbitr

[2019-10-05 00:05] lightsighter opened #620 "Realm: Support for Dependent Partitioning Operators on GPUs"
As dynamic repartitioning of data becomes more important the speed of dependent partitioning operators will become more important. It's crucial that these operators be capable of running on the GPU to run as fast as possible.

[2019-10-05 00:08] lightsighter opened #621 "Realm: Native GPU DMA System"
Realm needs to be running kernels on GPUs in order for moving data over NVLink and NVSwitch efficiently, especially for sparse data movement operations.

[2019-10-05 00:12] lightsighter commented on #620
Duplicate of #516

[2019-10-05 00:12] #620 closed

[2019-10-05 00:14] lightsighter opened #622 "Realm: DMA Engine Sparsity Gather/Scatter Optimization"
Realm should automatically infer when it is profitable to do gathers for bulk transfers of data and then scatters at the destination for sparse data movement. This is often more efficient than moving the sparse data in pieces as hardware is optimized for bulk data movement. The Realm path planner will have to figure this out and allocate the needed intermediate buffers for performing this optimiza

[2019-10-05 00:16] lightsighter opened #623 "Realm: Modular Interface for File I/O"
Just like we have a module interface for processors and memories, Realm should support a generic file I/O interface that we can use for creating plug in components for loading and storing from different file formats.

[2019-10-05 00:19] lightsighter opened #624 "Realm: Compact Sparse Instances"
Realm should support the ability to create "compressed" instances for index spaces with sparsity maps so that we can make instances that take up the minimal amount of memory possible with the understanding that the accessors for these instances will likely not support O(1) memory accesses, but likely something that is O(log N)-ish on the number of rectangles in the sparsity map, possibly using a K

[2019-10-05 00:22] lightsighter opened #625 "Realm Graphs"
This is our issue for tracking progress on support for Realm graphs. Realm graphs will further accelerate our ability to replay traces of Realm operations efficiently by memoizing chunks of a Realm graph and giving them efficiently replay.

[2019-10-05 00:23] lightsighter opened #626 "CUDA Graph Integration for Realm Graphs"
When we built Realm graphs there are likely going to be large parts of them that can be executed efficiently using CUDA graphs. We should automatically convert parts of Realm graphs into CUDA graphs for acceleration on multi-GPU systems.

[2019-10-05 00:29] lightsighter opened #627 "Support for Task Subprocesses"
This is our issue for tracking progress on support for task subprocesses. We want to run individual tasks in subprocess for two reasons. First, subprocesses give us isolation for terrible libraries (like OpenMP and OpenBLAS https://github.com/xianyi/OpenBLAS/issues/2146) and interpreters (like Python) that have unprotected global variables that are subject to races when multiple instances of the l

[2019-10-05 00:34] lightsighter opened #628 "GASNet-EX Integration"
We need to officially migrate Legion to using GASNet-EX so we can take advantage of some of its new performance features like active message sends that don't block but return if they don't have control flow credits. Migrating officially to GASNet-EX will also be a pre-requisite for getting access to memory kinds which we will need to for managing multi-rail NUMA-ness of NICs in machines like DGX b

[2019-10-05 00:37] lightsighter opened #629 "Realm: Acceleration Data Exposure"
Realm and Legion both do lots of operations on index spaces that either currently or potentially benefit from acceleration of data structures like K-D trees or bounding volume hierarchies. Realm currently implements some of these internally and Legion builds a few of its own in a few circumstances. It would be nice if we standardized this and made acceleration data structures for index spaces a fi

[2019-10-05 00:41] lightsighter opened #630 "Realm: Profiling Infrastructure"
There are many things in Realm that we are not currently profiling which makes it very hard to recognize bottlenecks in these components when they occur. For example, we do not profile active message sends and handlers to determine when some nodes are being swamped with messages. We also do not profile how efficiently the DMA engine is doing its path planning as well as start-up and clean up DMA o

[2019-10-05 00:45] lightsighter opened #631 "Reusable Pinned Message Buffers"
It would be nice if we could allocate buffers from Realm in pinned memory that Legion could directly pack data into and Realm can pass straight down to GASNet without needing to make copies of the data to be sent every time we cross through a level of abstraction.

[2019-10-05 00:49] lightsighter commented on #625
Once Realm Graphs are stable and ready for use please assign this issue back to @lightsighter and @magnatelee so we can modify the tracing infrastructure to target them.

[2019-10-05 00:58] lightsighter opened #632 "Legion: Better Error Handling"
This is my omnibus issue for better error handling. Many of these items rely on the same fundamental changes inside the runtime and therefore I am keeping them together as a single issue. I expect that all these fixes will land at once and not independently, which justifies handling them together in a single issue. Feel free to append to the list.

- [ ] Use names of regions/fields/tasks that have

[2019-10-07 19:35] alexaiken opened #633 "Legion Manual"
Finish a first draft of the Legion manual and reference.  Chapters still to go for a first version:

- [ ] partitioning
- [ ] mapping (Mike has provided text already, needs integration with the rest)

Additional planned chapters for the complete version

- [ ] coherence
- [ ] interoperation
- [ ] reference --- documentation of APIs
- [ ] build and run-time configuration

[2019-10-07 19:54] alexaiken opened #634 "create_by_association"
create_by_association is a planned dependent partitioning operation.

[2019-10-07 20:02] alexaiken opened #635 "Grapics Processors"
It would be nice to be able to drive graphics displays directly from Legion applications.  There are two possible routes:

(a) The easier option is to implement a stand-alone OpenGL Realm processor ignorant of CUDA.  This approach is probably just a couple of weeks of work for someone who knows what they are doing.

(b) Better would be an OpenGL processor that is aware of CUDA processors and memor

[2019-10-07 20:16] alexaiken opened #636 "Resilience"
This issue is for anything related to resilience.

- [ ] We want to have a version on which we can base a paper by mid-October.

- [ ] We should plan on merging resilience into master in the spring.

[2019-10-07 21:42] alexaiken opened #637 "Separate Compilation for Regent"
Regent compilation time is a problem, and what we really need to address it in a permanent way is separate compilation.

[2019-10-07 21:55] mariodirenzo opened #638 "Regent: Formal parameter space overflowed"
Currently, Regent returns the following error
[code]
if the arguments of a task compiled with `__demand(__cuda)` exceed a certain size.
It would be nice to have a way to pass large arguments to the task or at least to have an error from the compiler that informs the user about the memory requirement of each argument.

[2019-10-07 23:07] alexaiken opened #639 "Regent Parallelizer merge"
We need to merge the parallelizer into master, but the first step is to merge it into the control replication branch.

[2019-10-07 23:10] alexaiken opened #640 "Regent-Fortran interop"
For Regent to work with Fortran tasks, Regent needs to understand the Fortran dope vector.

[2019-10-07 23:36] alexaiken opened #641 "Index Launches with Structured Dependencies"
We have use cases for launching large numbers of tasks that have dependencies between them.  In all of these cases, the dependencies are regular, with DOM, or any other wavefront computation, being a prototypical example.

To support index launches of dependent tasks, we need two changes to the interface:

- [ ] projection functions that are invertible, which means restricting the class of project

[2019-10-08 00:21] lightsighter commented on #622
@amaleewilson Is doing the initial investigations into how to determine when it is good to perform this optimization for various kinds of transfers.

[2019-10-08 00:42] lightsighter commented on #615
I've confirmed that this is now much better. You can close the issue if you think we don't need to do any more work for it.

[2019-10-08 04:44] alexaiken opened #642 "Legion Visualization Library"
Improvements to the Legion visualization library to do volume rendering.  For project reasons we need this to work for Soleil and S3D, but we would of course like to be able to use it with anything.

[2019-10-08 04:49] alexaiken opened #643 "Field Polymorphism in Regent."
Implement the proposal for field polymorphism in Regent.  There are a number of design issues, and so we will do something simple first and then extend it if it seems warranted.

[2019-10-08 04:51] alexaiken opened #644 "Regent port of S3D"
Port the Legion version of S3D to Regent so that Jackie's group can write code more easily.  The principle outstanding issue at this point is the port of the main task, including

- [ ] wrapping the MPI-interop and any other functionality that Regent does not support directly so that we can continue to call the C++ implementations of these aspects of S3D

- [ ] Incorporating field polymporhism int

[2019-10-08 06:23] lightsighter commented on #612
This is fixed with 2b68918

[2019-10-08 06:23] #612 closed

[2019-10-08 06:43] lightsighter opened #645 "Realm: Kokkos Processors"
It's become clear recently that we need explicit Kokkos processors for the FleCSI level one milestone next year as the majority of the GPU code for FleCSI is going to be written using Kokkos. This significantly deprioritizes #570 as VPSC is not going to be used for the FleCSI level one milestone.

[2019-10-08 06:53] alexaiken opened #646 "Legion-Fortran interoperation"
We want to be able to call Fortran kernels from Legion.  Some work has already been done; what remains is:

Check that Fortran compilers can vectorize as we expect
A Fortran to Legion transformation using FLANG

[2019-10-08 12:43] streichler commented on #320
@aheirich are these still issues?  If so, are they things we can clean up in the near future?  Thanks.

[2019-10-08 12:48] streichler commented on #633
Added an item for describing/consolidating/updating instructions for how to build and how to configure (via the command line or perhaps the programmatic interface envisioned in #600) things at runtime.

[2019-10-08 12:49] streichler commented on #325
Closing this as it's being subsumed into the new documentation tracking bug(s).

[2019-10-08 12:49] #325 closed

[2019-10-08 12:50] streichler commented on #328
@aheirich unless you've got a new reproducer for this, I'm going to close it out.

[2019-10-08 12:55] streichler commented on #563
Turns out some of the deprecated things don't have convenient new replacements (e.g. partitioning via small DomainColoring objects).  Re-taking ownership to debate the right plan with @lightsighter .

[2019-10-08 12:55] streichler commented on #618
@qyz96 were you able to get things to work with `setup_env.py`?

[2019-10-08 12:58] streichler commented on #619
I think it's unclear at this point how far we can get with pre-compiled DMA engine goodness and in which situations we'd truly need a JIT.  We'll bump the priority of this back up if/when we have cases that we know need it.

[2019-10-08 12:59] streichler commented on #621
Realm needs at least a (hopefully modular) framework for doing this sort of thing soon.  (We'll probably track individual widgets that get added to said framework in separate issues.)

[2019-10-08 13:04] streichler commented on #622
@lightsighter it would be great if we could identify/create a small app or two that uses this pattern in a performance-sensitive way to provide the necessary apples for comparison purposes.  Got any suggestions?

Theoretically, the implementation of this transformation should be straightforward in the DMA system.  The open question is the heuristic for when to use it.

[2019-10-08 13:05] streichler commented on #623
@lightsighter can you give some examples of file formats that we should be trying to incorporate?  (I'm sitting on the fence regarding whether it should be done via a modular interface until I see how much commonality exists between the formats.)

[2019-10-08 13:09] streichler commented on #624
I doubt we really want an accessor that's more than amortized O(1).  I think we instead want a way to iterate coarsely over affine pieces of an instance and still use affine accessors within a piece.  I'd like to sit down and brainstorm with @lightsighter , @elliottslaughter , @magnatelee , and anybody else who's interested to come up with a plan that includes how C++ and Regent applications will

[2019-10-08 13:12] streichler commented on #625
Realm graphs are already in a branch and waiting on tracing infrastructure to have anything other than taskbench target them.  Ideally we're driving optimizations based on quantifiable needs, and we don't know what traced Legion/Regent applications need yet.

[2019-10-08 13:14] streichler commented on #628
This is dependent on #605 (assuming we don't want to just co-opt the GASNet-1 implementation, which I don't).

[2019-10-08 13:18] streichler commented on #645
We definitely need to do something here.  However, I'm beginning to lean away from having so many processor types.  It leads to trouble when an application mixes different programming models for its leaf asks.  For example, an app with both native OpenMP and Kokkos leaf tasks would be forced to decide up front which CPU cores do OpenMP work and which do Kokkos work, when really the same cores coul

[2019-10-08 14:19] pmccormick commented on #628
For ECP we can't loose track of #605.  In fact I'd encourage us to consider this more than just an enhancement when it comes to ECP's expectations of Legion.  Both GASNet-Ex and MPI are related to our risk mitigation and platform performance/portability strategy.

[2019-10-08 15:36] pmccormick commented on #640
Just an additional note -- I think dope vector implementations are still very compiler dependent so this may require several versions to support the gamut...

[2019-10-08 16:40] qyz96 commented on #618
I am trying to figure out how to fix the following error:
[adncat@sh-116-05 ~/legion/language]$ ./scripts/setup_env.py
Traceback (most recent call last):
  File "./scripts/setup_env.py", line 526, in <module>
    driver(**vars(args))
  File "./scripts/setup_env.py", line 339, in driver
    raise Exception('Please set CC in your environment')
Exception: Please set CC in your environment

[2019-10-08 16:47] syamajala commented on #644
This issue is also relevant for S3D:
https://github.com/StanfordLegion/legion/issues/603

[2019-10-08 16:58] lightsighter commented on #645
I agree with you. I would prefer that Kokkos run unmodified on top of our existing OpenMP and GPU processors. If it were a proper header-only library like Thrust or Agency then it wouldn't have any problems. Mainly we just need to use this issue to make sure that Kokkos works and doesn't trip over itself like it has been with the restrictions that we enforce upon it.

[2019-10-08 17:01] lightsighter commented on #622
Adding the S3D tag. :) Ghost cell exchanges in the Y and Z dimensions should gather, bulk copy, and then scattter. Pennant should do the same thing but for unstructured, although it's unclear if there is as much of a performance win.

[2019-10-08 17:02] aheirich commented on #618
Try export CC=gcc,  export CXX=g++

On Oct 8, 2019, at 9:40 AM, qyz96 <notifications@github.com<mailto:notifications@github.com>> wrote:

I am trying to figure out how to fix the following error:
[adncat@sh-116-05 ~/legion/language]$ ./scripts/setup_env.py
Traceback (most recent call last):
File "./scripts/setup_env.py", line 526, in
driver(**vars(args))
File "./scripts/setup_env.py", line 339, in

[2019-10-08 17:03] #615 closed

[2019-10-08 17:12] streichler commented on #581
Adding the generations-per-barrier query is a short-term TODO.  Any sort of automated recycling of barriers is longer term.

[2019-10-08 17:15] qyz96 commented on #618
It seems that there are other variables not set in the environment:
[adncat@sh-116-05 ~/legion/language]$ ./scripts/setup_env.py
Cloning into '/home/users/adncat/legion/language/gasnet'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 137 (delta 12), reused 21 (delta 6), pack-reused 110
Receiving

[2019-10-08 18:21] elliottslaughter commented on #618
Yes, if you're on a machine that we haven't specifically tested for in the past, you will need to configure some options for `setup_env.py`. These will include `CC` and `CXX` as Alan noted as well as `CONDUIT`, which is the name of the network to use (e.g. `ibv` for infiniband). Based on your login prompt it sounds like you may be on Sherlock, in which case `ibv` is the correct choice.

[2019-10-08 18:25] elliottslaughter commented on #640
@pmccormick Is that documented or are we on our own in terms of reverse engineering what the compilers do?

Is there a specific app that needs this?

[2019-10-08 18:27] elliottslaughter commented on #625
FYI @seemamirch is starting some of the work for Legion tracing, I think she is the appropriate next point of contact.

[2019-10-08 18:29] elliottslaughter commented on #623
If we added XTC then you could use it with psana. This is a perfect example of why you need an interface because it's an LCLS-specific format.

[2019-10-08 18:30] pmccormick commented on #640
At one point there was some documentation per compiler (of varying quality) but it has been a long time since I've gone looking for it -- I'd have to dig it up again.  There are no specific apps on the critical path that I'm currently aware of that need this.  @alexaiken, was there a particular use case you were thinking of specifically for this?

[2019-10-08 18:32] elliottslaughter commented on #633
Is there a plan for how this integrates with the website? [Pandoc](https://pandoc.org/) can read Latex, but that doesn't mean you get pretty HTML out the other side.

[2019-10-08 19:07] alexaiken commented on #633
I haven't thought about it.  The first goal is to actually have a manual!
If there were something better than Latex for displaying in different
environments we could likely  move to that.

On Tue, Oct 8, 2019 at 11:32 AM Elliott Slaughter <notifications@github.com>
wrote:

[2019-10-08 19:08] alexaiken commented on #640
This item is a carryover from the planning document we were maintaining
separately.  I don't remember the use case that caused this item to be put
on that list of things to do.

On Tue, Oct 8, 2019 at 11:30 AM Pat McCormick <notifications@github.com>
wrote:

[2019-10-08 19:28] qyz96 commented on #618
Yes, after setting the CONDUIT variable I can run the script now, but there seems to be some problems when building llvm:

[ 19%] Building CXX object tools/clang/lib/Parse/CMakeFiles/clangParse.dir/ParseAST.cpp.o
[ 19%] Building CXX object tools/clang/lib/ASTMatchers/CMakeFiles/clangASTMatchers.dir/ASTMatchFinder.cpp.o
[ 19%] Building CXX object tools/clang/lib/ASTMatchers/Dynamic/CMakeFiles/clang

[2019-10-08 19:43] elliottslaughter commented on #618
If this is Sherlock, you should know that the administrators place a memory limit on the head node, so your build will get killed like this if you try to run directly on the head node. You can build on a compute node with the appropriate `salloc` line and it should have enough memory to go through.

[2019-10-08 20:12] alexaiken commented on #644
I added the S3D tag.

On Tue, Oct 8, 2019 at 9:47 AM Seshu Yamajala <notifications@github.com>
wrote:

[2019-10-08 21:25] elliottslaughter commented on #607
This flag is now available in master as of commit a5c903d448fa35abdd59ae4efd9e5e0f85615cac. This should be sufficient to rewrite Cholesky as suggested in the other thread.

[2019-10-08 21:25] #607 closed

[2019-10-08 21:26] elliottslaughter commented on #413
As of `a5c903d448fa35abdd59ae4efd9e5e0f85615cac` we now support the flag `-foverride-demand-index-launch 1` which should make it possible to start writing these programs.

[2019-10-08 22:00] alexaiken opened #647 "2D Kernels in Regent"
For the quantum chemistry application we need Regent to generate optimized 2D Cuda kernels, and in particular to generate code for nested loops that maximizes coalescing of memory references.

[2019-10-08 22:12] eddy16112 commented on #646
@alexaiken I do not have permission to assign myself.

[2019-10-08 23:48] alexaiken opened #648 "Realm Fuzzer"
A fuzzer for Realm would be useful.  Specifically, we'd like to inject delays and reorder events within Realm, and also reorder API calls to Realm.

[2019-10-09 00:52] lightsighter commented on #623
@streichler Assume an "interesting" collection of these in the not too distant future:
https://github.com/modin-project/modin/blob/master/modin/engines/base/io.py#L12-L517

[2019-10-09 00:55] lightsighter commented on #625
I agree, removing @magnatelee and myself and assigning @seemamirch

[2019-10-09 04:11] streichler commented on #623
I think we'll want to make a distinction between file formats that support (efficient) random access to subsets of elements and subsets of fields and those that require reading the entire contents of a file to find an arbitrary subset.  The former are things that are more compatible with the Realm DMA-style approach to data movement, while the latter are probably library-provided tasks that want t

[2019-10-09 12:46] syamajala commented on #511
@elliottslaughter maybe you can confirm this, but after looking at the code in header_helper.t, it seems like we need to be able to support index launches in order to be able to pass partitions to tasks?

[2019-10-09 12:47] syamajala commented on #609
I am interested in working on this. I think I understand what needs to be done after looking at header_helper.t.

[2019-10-09 12:53] syamajala opened #649 "Regent: __fields does not work in inline tasks"
[code]

The example above results in this error:
[code]

[2019-10-09 17:51] qyz96 commented on #618
Yes this is Sherlock. I used the salloc command and ran setup_env.py on a compute node. I still encountered similar errors:
[ 22%] Building CXX object tools/clang/lib/Parse/CMakeFiles/clangParse.dir/ParseObjc.cpp.o
[ 22%] Building CXX object tools/clang/lib/Parse/CMakeFiles/clangParse.dir/ParseOpenMP.cpp.o
[ 22%] Building CXX object tools/clang/lib/Parse/CMakeFiles/clangParse.dir/ParsePragma.cpp.o

[2019-10-09 17:53] elliottslaughter commented on #511
I guess if what you mean is doing the equivalent of `for i in IS do f(p[i]) end` then yes, it would make sense to do that via index launches. However, it's worth just noting that you're not technically passing the partition to the task (that would be `f(p)` i.e. no `p[i]`).

[2019-10-09 18:05] elliottslaughter commented on #618
If you're on Sherlock, `salloc` isn't actually enough to put you on a compute node. You will need to do something like:

[code]

And you'll know you're on a compute node because the prompt will change to something like `sh-114-01` instead of `sh-ln04`.

(Unfortunately this is machine specific so it's hard to give this advice in general; I only know this because I've used Sherlock myself.)

[2019-10-09 18:23] pmccormick opened #650 "ECP Milestone (ST-PR-10-1320)"
Due: 2020-01-31

- [x] Gain access to, learn and understand the CANDLE training network(s) that would benefit from improved execution time and utilizing large system scales. Gather initial performance characteristics of CANDLE's use cases.

- [ ] Prototype and harden efforts to support translation of TensorFlow and/or PyTorch programs to Legion (additional DL/ML programming systems can be explored

[2019-10-09 18:28] pmccormick opened #651 "ECP Milestone (ST-PR-10-1350)"
Due:      2020-05-31

- [ ] Conduct correctness, performance and scaling tests of Legion versions of the training network(s). Debug and improve as necessary. Potentially revisit the need for additional interfaces beyond PyTorch and TensorFlow.

- [ ]  Continued implementation and testing of Realm functionality for target accelerator API and hardware nuances.

- [ ] Test, evaluate and debug capabil

[2019-10-09 18:31] pmccormick opened #652 "ECP Milestone (ST-PR-10-1380)"
Due: 2020-09-30

- [ ] Implement, release and integrate for testing of any additional benchmarks to help identify and track performance bottlenecks.

- [ ] Explore additional app-centric issues (bugs and performance issues) and understand and address impacts based on complexities not possible to capture with lower-level benchmarks.

- [ ] The Legion project currently has a CI testing system that i

[2019-10-09 18:35] mariodirenzo opened #653 "Non deterministic behavior on 3d regions partitioned along y or z"
I am currently experiencing a non-deterministic behavior of my solver (written in Regent) that leads it to produce a NaN at a random iteration even though the setup and the algorithm of the solver should be deterministic.
This weird behavior shows up only if the 3d region, on which the solver operates, is partitioned along the y and z direction. Everything seems to work fine if the partitioning is

[2019-10-09 19:01] syamajala opened #654 "Regent: Selectively save_tasks"
It would be nice if you could pass an optional list of tasks to regentlib.save_tasks for generating header code for instead of having it generate code for every task in the shared library.

[2019-10-09 23:02] qyz96 commented on #618
I am running the script on a gpu node:
[adncat@sh-116-06 ~/legion/language]$ nvidia-smi
Wed Oct  9 16:00:24 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.87.01    Driver Version: 418.87.01    CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id

[2019-10-09 23:05] syamajala commented on #606
Is there a work around for this issue in the short term? The runtime warnings are really annoying.

[2019-10-09 23:07] lightsighter commented on #606
Th runtime warnings should all be off by default now unless you explicitly enable them.

[2019-10-09 23:18] elliottslaughter commented on #618
Sherlock still sets a memory limit if you don't ask for all the cores on a node. Without seeing your `salloc` command I cannot comment on whether you may be hitting this or not.

But at any rate, since you're on Sherlock, it may be easier just to load the existing modules on Sherlock for LLVM and GASNet (`llvm/3.8.1` and `gasnet/1.30.0`), and set `export GASNET=/share/software/user/open/gasnet/1.3

[2019-10-09 23:20] streichler opened #655 "MPI processor support"
For interoperation with existing MPI libraries, we need a way for Legion applications to run tasks on an "MPI processor".  My initial thinking is that an MPI processor would correspond to a communicator and the task would be run on all the ranks in that communicator.  The processor would have affinity to the system memories on all ranks included in the (sub)communicator, and it would be the proble

[2019-10-10 06:33] lightsighter commented on #653
@mariodirenzo I found and fixed the possibly related bug that I was chasing. I've pushed fixes to the master and control replication branches. Can you rebase the changes into parallelizer-dcr and then see if your issue still reproduces?

[2019-10-10 14:53] mariodirenzo commented on #653
ok, I'll test it ASAP.
Thanks

[2019-10-10 19:20] ipdemes commented on #655
@streichler : would you implement some specific Legion communicator class for this?

[2019-10-10 19:34] qyz96 commented on #618
Yes I did not have any memory issue after using
salloc --partition=aaiken --tasks 1 --nodes=1 --cpus-per-task=20 --time=02:00:00
But there still seems to be some compatibility errors when running setup_env.py
rm -f liblegion.a
ar rc liblegion.a /home/users/adncat/legion/runtime/legion/legion.cc.o /home/users/adncat/legion/runtime/legion/legion_c.cc.o /home/users/adncat/legion/runtime/legion/legion

[2019-10-10 19:53] streichler commented on #655
No, the idea would be that, at Realm initialization-time, the application provides one or more MPI communicators for which Realm processors will be created.  A task running on an MPI processor would be able to ask what its communicator is use that.  It can also create and use subcommunicators within a task if it needs to.  All operations on/to/with MPI communicators will be handled by the MPI libr

[2019-10-10 21:12] elliottslaughter commented on #618
Is the link step actually failling? It's a bit hard to tell from the output here.

[2019-10-10 21:48] qyz96 commented on #618
My bad, the building is complete and I can run install.py successfully now.

[2019-10-10 21:48] #618 closed

[2019-10-10 21:51] ipdemes commented on #655
OK, that makes sense. I will try to come up with a good use case example for this.

[2019-10-10 22:28] seemamirch opened #656 "Capture legion ops in traces"
This is needed for Trace->Realm Subgraph translation

[2019-10-11 06:20] lightsighter commented on #623
I think all these file formats support O(1) access: Parquet, CSV (if all the data is uniformly sized), GBQ, Feather, Stata, SAS (if unencrypted and uncompressed).

[2019-10-11 18:04] mariodirenzo commented on #496
Is it possible to keep the flag `-flegion-dim` among the possible options or Regent for a couple of months (at least for the `parallelizer-dcr` branch)?
I have submitted a version of my solver for publication before this change was applied and now that version produces the error `language/src/common/config.t:112: unknown option -flegion-dim`

[2019-10-11 18:50] streichler opened #659 "legion: avoiding deadlock with concurrent must epoch launches"
The Legion runtime currently has no mechanism to prevent deadlock when multiple independent must epoch launches overlap on two or more processors.  This issue hasn't been observed in the wild, but deadlocks are generally bad, so it'd be good to have a plan for fixing this.  The priority of it probably depends on whether @jiazhihao 's efforts with using nccl for inter-gpu reductions run into the pr

[2019-10-11 21:46] lightsighter commented on #659
@elliottslaughter @magnatelee @alexaiken @jiazhihao for visibility. I actually don't think anything else other than serializing (in program order) all must epoch launches that use overlapping processor sets is safe. Someone else can try to convince me I'm wrong, but I'm confident that I will be able to create a counter example that results in deadlock for anything else assuming that tasks can go o

[2019-10-12 02:57] streichler commented on #645
The kokkos branch (https://gitlab.com/StanfordLegion/legion/tree/kokkos) has the beginnings of support for this.  I made an attempt at writing idiomatic Kokkos code here:
https://gitlab.com/StanfordLegion/legion/blob/kokkos/examples/kokkos_saxpy/kokkos_saxpy.cc

and have successfully built and run it with Kokkos' Serial, OpenMP, and Cuda devices.  To get a little confidence that this matches the w

[2019-10-12 03:22] elliottslaughter commented on #659
To clarify, is deadlock possible if you only use Realm synchronization primitives? Maybe an example would help.

[2019-10-12 04:06] streichler commented on #659
If you only use Realm synchronization primitives, you're fine.  The problem comes when a task is running on a processor and refuses to finish (or yield via a Realm synchronization primitive) until another task can run on another processor.  This could happen if they are communicating directly through memory (e.g. via a region with simultaneous coherence) or using a third-party library that incorpo

[2019-10-12 16:20] streichler commented on #553
@thompsonbry did you and Gabi come to any conclusions?  I still need to write a directed test for this feature, but after that, it's going into master unless concerns/suggestions regarding the API are raised soon.

[2019-10-12 16:26] thompsonbry commented on #553
Sean,

Things have been working out fairly well for us with realm so far.  We are
still collecting some scaling numbers on a single node and have not tried
multi-node operations yet.  Gabi is slated to work on a scheduler for
accepting and running concurrent queries Real Soon Now.  As in maybe next
week.  He's been dealing with a variety of little clean up issues from our
initial POC.

Gabi, any r

[2019-10-12 22:51] lightsighter commented on #656
I do think it is worth doing this. The win is not as obvious as when I was first thinking about it in the meeting. Effectively we can capture the operations in the trace itself and re-use them across trace replays regardless of which template is ultimately selected to perform the replay. However, it's the templates themselves that have to record the PhysicalRegion objects since the PhysicalRegion

[2019-10-13 17:04] devin-petersohn commented on #623
There are also:

- JSON lines (Similar to CSV)
- HDF5
- SQL (from a SQLAlchemy connection)

Feather is the least important of all of the file formats, CSV is the most important (for dataframe like access), parquet is a close second.

Are you talking about reading multiple CSV files at once? For reading/parsing a single CSV, we have a pretty good way of splitting up the work and parsing it evenly i

[2019-10-13 19:45] lightsighter commented on #645
What parts of OpenMP are not supported by Realm that Kokkos needs?

Also @ipdemes and @gshipman told me that they don't plan to use Kokkos external views with FleCSI, but instead pass in their own iterator types from FleCSI. They have tested this and apparently it works, but you will have to ask them for more details.

[2019-10-13 22:11] mariodirenzo commented on #653
It does not look like the issue is solved and the execution seems much slower when the partitioning is applied along y and z.

[2019-10-13 23:12] lightsighter commented on #653
How long did you run it for? The change I made should only have impacted start-up and even then very minimally. Were there many other changes from when you did the rebase or just a few?

This is the new parallelizer right? Can we try to get a Legion Spy trace of a failed run? Can we also try a run after building with -DDISABLE_VIEW_REPLICATION in CC_FLAGS?

[2019-10-13 23:44] elliottslaughter commented on #659
Ok, I can think of some cases for psana where forcing must epoch launches to execute in program order basically destroys any ability to do concurrent execution. I do communicate through Python global variables (which I lock, but the locks are not held for long and I don't see how I could have deadlock in my case).

It occurs to me that maybe I should be using a nested must epoch launch in order to

[2019-10-14 01:16] mariodirenzo commented on #653
19 iterations (paritioning only in x, the solver makes almost 200 iterations in the same amount of time)

The base of the version that I was using before is 019f0f89

right

I'll try to make them tomorrow but the logs are going to be quite long

I'll try it tomorrow

[2019-10-14 01:50] lightsighter commented on #653
Ah, this part makes sense to me. The cost of partitioning in the other dimensions will definitely go up until we can turn on tracing with control replication, but let's not worry about that for now.

Maybe only capture 3 iterations for the Legion Spy logs. The thing I fixed earlier would occur during the first iteration.

Yes, let's do this one first. It would also have fixed the bug you found the

[2019-10-14 04:10] mariodirenzo commented on #653
But, I do not see such a large slowdown with the older version of Legion

[2019-10-14 04:22] mariodirenzo opened #660 "Regent: CUDA_ERROR_INVALID_IMAGE"
Every time I build my solver I generate 4 different executables using the same source code.
The four executables differ for the size of a struct argument that is passed to basically every task of the code and contains data for the calculation.
The four executables with the smaller struct compile and run correctly, whereas the executable with the largest struct fails its execution on Lassen (LLNL)

[2019-10-14 06:06] lightsighter commented on #653
What is the "older" version of Legion? Do you have a commit hash for that?

[2019-10-14 06:10] lightsighter commented on #660
It's likely this is related to #638 and the LLVM to PTX compiler is generating some invalid code that isn't being handled correctly, but the CUDA runtime is discovering the issue when it is trying to load the cubin.

[2019-10-14 06:13] mariodirenzo commented on #653
By older version I mean `parallelizer-dcr` based on 019f0f8.
The version that is slower is the one in `parallelizer-dcr-new`

[2019-10-14 18:01] lightsighter commented on #659
This is fine. These are locally blocking, which means forward progress doesn't rely on synchronization with other tasks in the same must epoch launch. The problems occur when you do blocking collective operations which require synchronization with other tasks in the same must epoch launch and that communication can result in blocking that Realm does cannot preempt.

[2019-10-15 09:25] lightsighter opened #661 "Unaligned Deletions for Control Replication"
For languages with garbage collectors, guaranteeing ordering on deletion of resources can be difficult as the garbage collector is likely non-deterministic across replicated shards of a task. This feature will provide a way for applications to perform "unaligned" deletions of resources which means that they happen outside of the band of the normal task execution and must be put back into the strea

[2019-10-15 17:33] mariodirenzo commented on #653
`-DDISABLE_VIEW_REPLICATION` seems to solve both the slow down of the solver and the NaN (the run performed 400 iterations without a problem in contrast with the 19-25 iterations of the standard build of Legion).
Do you need the legion spy logs of the run? In case, with or without `-DDISABLE_VIEW_REPLICATION`?

[2019-10-15 21:02] seemamirch commented on #481
The delay times are available visually via a menu option (not enabled by default). The default behavior will now show the delay as a field in the window that appears when you hover over the task timeline. This is currently available in the profiler_update branch.
 @mariodirenzo can you send me your profiler output files so I can try it.

[2019-10-15 22:06] mariodirenzo commented on #481
@seemamirch These logs are from one run on two nodes: [prof_1.log](https://github.com/StanfordLegion/legion/files/3731618/prof_1.log) [prof_0.log](https://github.com/StanfordLegion/legion/files/3731619/prof_0.log)

Please, let me know if you need more

[2019-10-15 22:43] ipdemes commented on #645
@streichler : should I use https://gitlab.com/StanfordLegion/legion/tree/kokkos branch for our further work with Kokkos?
@lightsighter : Yes, we don't use Kokkos::Views in FleCSI and pass our own iterator types that were adapted for Kokkos.

[2019-10-16 00:01] lightsighter commented on #659
@streichler and I talked today. The current plan that we propose is a two-fold solution to this problem:

1.  I am going to go through and implement a compile-time opt-in safe-mode for must epoch launches at the top-level. By compiling with a special macro (something like -DSAFE_MUST_EPOCH_LAUNCHES) then users are guaranteed that two must epoch launches with overlapping processor sets will be seri

[2019-10-16 00:24] streichler commented on #645
@ipdemes yes, please give it a try and let me know how it goes...  if you need these changes applied on top of some other branch (e.g. control_replication), that can be arranged

regarding flecsi's custom iterators, do you construct those directly from legion accessors, or convert the legion accessors to raw pointers and then into flecsi iterators?

[2019-10-16 02:12] lightsighter commented on #653
I've disabled view replication for now and am moving in a direction where it will be permanently off in the near future unless we have a compelling use case to turn it back on. We'll leave this issue open for now to see if anyone complains about the performance of it being turned off.

[2019-10-16 05:11] lightsighter commented on #645
Also, @ipdemes do custom iterators work on GPUs too?

[2019-10-16 17:35] ipdemes commented on #645
@streichler : Yes, we need this to be applied to the Control-replication branch before I can try this.

We get a raw pointer from legion and use it in our custom iterators.

@lightsighter : yes, we made them work for GPU as well. At least a simple unit test that uses them on GPU pass. I am working on making the test more complex

[2019-10-16 22:21] streichler commented on #645
@ipdemes I've rebased the `kokkos` branch to sit on top of `control_replication`.  I'll back-port things as needed to master later.

[2019-10-16 22:37] lightsighter commented on #553
It's actually there already, we're using it in Legion in the compqueue branch:
https://gitlab.com/StanfordLegion/legion/blob/compqueue/runtime/legion/legion_context.cc#L5843
https://gitlab.com/StanfordLegion/legion/blob/compqueue/runtime/legion/legion_context.cc#L5867-5868
It's working enough that our CI infrastructure passes. You should be able to test it out too.

[2019-10-16 22:46] thompsonbry commented on #553
Great.

Thanks,
Bryan

On Wed, Oct 16, 2019 at 3:37 PM Mike Bauer <notifications@github.com> wrote:

[2019-10-16 22:56] streichler commented on #553
And I've got my directed test written, so expect this to land in master shortly.

[2019-10-17 13:32] streichler opened #662 "realm: generic background worker threads"
The goal is to move away from subsystem-specific worker threads in Realm (e.g. dma threads, JIT threads, active message threads) and instead have a fixed number of threads (that can ideally be pinned to cores just like application threads) that collectively work on whatever background work that needs doing.  In addition to avoiding oversubscription of the "background cores" and the resulting uncer

[2019-10-17 16:03] streichler commented on #553
Completion queues are in the master branch with commit 0b4b8e6.

[2019-10-17 16:03] #553 closed

[2019-10-18 05:47] lightsighter commented on #662
On which side of the line will the utility processor threads fall?

[2019-10-18 13:13] streichler commented on #662
The current thinking (which is not set in stone) is that utility processors would retain their dedicated thread, but those threads might be much more willing to help with background work when the corresponding utility processor is idle.

IO processors are likely to remain in their current state as threads without an assigned core that do not help with background work, because the whole point of IO

[2019-10-19 00:09] qyz96 opened #663 "Regent: Scalability Issue of Cholesky.rg in legion/language/examples"
Hi,

I am running cholesky.rg in legion/language/examples for some runtime comparisons. I ran the code on Sherlock cluster with different number of cores per task, number of tasks per node and number of nodes. The size of the matrix is set to 80*40 and the number of blocks is set to 40. The results are shown below:

8 cores per task, 1 task per node, 1 node:
214526.257 ms
16 cores per task, 1 task

[2019-10-21 22:26] streichler commented on #605
The first part of this (the modularization of the network backend) is there with commit d607d30.  Next up is making an MPI network module as an alternative to the current GASNet-1 module.

[2019-10-21 23:36] elliottslaughter commented on #663
Well, first of all, none of those loops are being index launched because they're failing in the optimizer. The easiest way to tell is to put `__demand(__index_launch)` on any of the inner loops and see that the compiler rejects them.

For the `dtrsm` and `dsyrk` loops, an easy fix is to add `__demand(__index_launch)` and then pass the flag `-foverride-demand-index-launch 1` to the compiler. That's

[2019-10-22 04:25] elliottslaughter commented on #663
@magnatelee pointed out to me that 80*40 is probably a quite small problem size for Cholesky, so even aside from the issue with index launches (which you should still certainly aim to fix), increasing the problem size might help quite a bit. We'd need a [Legion Prof chart](https://legion.stanford.edu/profiling/#generating-a-profile) to be sure.

[2019-10-23 00:13] lightsighter commented on #374
Adding a note that this has to include remote dependent partitioning operations as well.

[2019-10-23 19:04] #654 closed

[2019-10-23 23:02] qyz96 commented on #663
Thanks! I have changed the code to the followng:

  for x = 0, np do
    dpotrf(x, n, bn, pB[f2d { x = x, y = x }])
    __demand(__index_launch)
    for y = x + 1, np do
      dtrsm(x, y, n, bn, pB[f2d { x = x, y = y }], pB[f2d { x = x, y = x }])
    end
    __demand(__index_launch)
    for k = x + 1, np do
      dsyrk(x, k, n, bn, pB[f2d { x = k, y = k }], pB[f2d { x = x, y = k }])
    end
    fo

[2019-10-23 23:10] streichler commented on #663
@qyz96 which commit from master are you using?  The completion queue overflow you're seeing was hopefully fixed with commit 61cbe9d9 from yesterday afternoon.

[2019-10-23 23:33] qyz96 commented on #663
Yes I have that update in my commit:
[adncat@sh-107-42 ~/yizhou/Legion/language]$ git log -10 master
commit 3459e17d762c243a35e612be2892e921491b194b
Author: qyz96 <adncat@sh-107-42.int>
Date:   Wed Oct 23 15:54:31 2019 -0700

    Index Launch 1

commit a4f42af1765a58b58ff69283de7d881499af3207
Author: Sean Treichler <sjt@cs.stanford.edu>
Date:   Wed Oct 23 12:14:28 2019 -0700

    realm: reuse comp

[2019-10-23 23:35] elliottslaughter commented on #663
Just to confirm, you did re-run `install.py` after updating, right?

[2019-10-23 23:36] qyz96 commented on #663
Yes.

[2019-10-23 23:51] elliottslaughter commented on #663
Is the version of the code you are running the same as what you had in the pull request? Or do you want to put up a new version?

[2019-10-23 23:58] qyz96 commented on #663
I created a new pull request:
https://github.com/StanfordLegion/legion/pull/665

[2019-10-24 00:50] streichler commented on #663
Passing this over to @lightsighter .  Legion is creating a bounded completion queue with a size of 1024 and it's overflowing:
[code]

(Note that you need the modified cholesky.rg from #665 for this.)

[2019-10-24 01:42] lightsighter commented on #663
Fixed with 105cc4b

[2019-10-24 04:14] elliottslaughter commented on #663
@qyz96 Can you pull and try again?

[2019-10-24 05:03] qyz96 commented on #663
Thanks for the quick fix. Yes the new commit works for me now.

[2019-10-24 15:52] elliottslaughter commented on #663
Ok, can you go ahead and run your code with Legion Prof, and we'll see how well it's actually performing now? (You can zip the file and attach it here.)

[2019-10-24 18:59] magnatelee commented on #649
Should be fixed by 2990a8a1.

[2019-10-24 22:03] qyz96 commented on #663
I am having some difficulties opening index.html in the legion_prof folder. It looks like the entire folder is too big to upload here (1GB).

[2019-10-25 04:06] elliottslaughter commented on #663
Maybe you can put it on some sort of a shared location on Sherlock?

[2019-10-25 17:44] qyz96 commented on #663
I have shared it on Dropbox:
https://www.dropbox.com/s/u7cxxwlczxv4wja/legion_prof%20%281%29.zip?dl=0

[2019-10-27 21:38] streichler commented on #581
`Realm::Event::MAX_PHASES` exists as of commit 861316c.  Reassigning to @lightsighter to use it on the Legion side.

[2019-10-27 22:40] streichler opened #666 "realm: destruction methods need to return events"
It turns out there are a few cases where a Realm application may want to know when the destruction of a Realm object (e.g. a RegionInstance) has actually completed.  For example, it may want to guarantee that an attempt to reuse the handle and/or some of the resources used by the object will succeed.

[2019-10-28 03:49] streichler commented on #447
Commit 7b8c0d24 adds `Event::subscribe` (rather than an argument to `has_triggered`).  Assigning @lightsighter to give it a try and make sure it has the desired impact on the Legion side.

[2019-10-28 03:51] streichler commented on #666
For another example, commit 611dc8ce has some hacked-in delays before shutdown that should be removed once we can directly wait on the completion of a instance destruction.

[2019-10-28 06:12] lightsighter commented on #447
Do I need to go through and put subscribe calls in all the places where I know that I've got a local event already? How much will the overhead of doing a subscribe call cost me? What happens if I do it repeatedly on the same event?

The bad news is that it looks like the two places where I wanted to use this originally either can't be fixed by this or are better served by completion queues. I stil

[2019-10-28 08:57] lightsighter commented on #581
Legion now uses this in the control replication branch with e26ee895a to detect when we're out of generations in a sharded trace template. When we detect barrier generation exhaustion we refresh all the phase barriers in the template so we can continue replaying.

Assigning this issue back to @streichler for the second part.

[2019-10-28 09:07] lightsighter commented on #661
Legion now supports unaligned deletions and detach operations. We'll handle new requests for additional operations to support this in an on-demand way.

[2019-10-28 09:07] #661 closed

[2019-10-28 13:14] streichler commented on #447
The only place you _have_ to put `subscribe` calls is where you constantly check `has_triggered` with the expectation that it'll eventually become true all by itself, and for those, I'd recommend doing it even if you know/think the event is local.  (The definition of "local" could theoretically change in a subprocess world.)  The `subscribe` call has a fast path (no memory references, let alone mu

[2019-10-28 17:57] elliottslaughter commented on #663
So what I see in this profile is that the utility processor is 100% full, while the CPU is only 50% full. This is not surprising since `np` is set to 40. There are a relatively large number of tasks and those tasks are relatively small.

I would change `np` to be either the total number of CPU cores, or maybe 2x the number of CPU cores. You should see the utility processor utilization go down and

[2019-10-28 18:10] magnatelee commented on #649
@syamajala Could you close this issue once you confirmed the fix?

[2019-10-28 18:13] syamajala commented on #649
I tested it earlier this morning and I believe its working.

[2019-10-28 18:13] #649 closed

[2019-10-29 08:58] lightsighter commented on #447
Ok, I've added the needed subscribe calls for the shutdown process with 8061a647e. Once it passes the CI I think we can close this issue.

[2019-10-29 10:16] magnatelee commented on #643
An initial implementation of field polymorphism is available in the master branch as of 21744c92. This implementation contains support for the named and unnamed region projection that we discussed in the meeting, but does not have the renaming operator, which can be added later if we find a compelling use case. You can learn about how to use region projections and field polymorphic tasks using the

[2019-10-29 21:30] syamajala commented on #643
This seems to do what I want. Thanks!

[2019-10-29 21:30] #643 closed

[2019-10-29 22:50] sparkasaurusRex opened #667 "Regent does not typecheck a region correctly if its fspace has an array"
I believe a recent commit broke my Regent project. I have a region of type `double[5]` and I'm suddenly getting this error.
[code]

Here is an example.

[code]

And the error.
[code]

I think the error also happens when `double[]` is a part of the fspace.

[2019-10-29 23:02] sparkasaurusRex commented on #667
Tested a random commit in the past and I think 0bd0b591ea33a335f0ea169a14125d9bd85e0ad7 works fine, so I'll stay on that for now.

[2019-10-29 23:32] magnatelee commented on #667
This should be fixed as of 482f7e65. @sparkasaurusRex Can you pull and try again?

[2019-10-30 00:31] magnatelee commented on #366
Timelines show variant names as of 626df89b. Here is an example:

![image](https://user-images.githubusercontent.com/331175/67819298-d13a0600-fa71-11e9-906e-84ecef4c0603.png)

![image](https://user-images.githubusercontent.com/331175/67819305-d9924100-fa71-11e9-9371-c1084c0d9d91.png)

@manopapad Feel free to close this issue if you are satisfied with the fix.

[2019-10-30 00:37] sparkasaurusRex commented on #667
Fixed, thanks!

[2019-10-30 00:37] #667 closed

[2019-10-30 19:41] manopapad commented on #366
Very snazzy

[2019-10-30 19:41] #366 closed

[2019-10-30 22:05] magnatelee commented on #495
Commit d444f10e should address this issue. Now the compiler reports the following failure modes for CUDA and OpenMP:

CUDA
- `Terra is built without CUDA support`
- `CUDA code generation is turned off (-fcuda 0)`
- `calling cuInit(0) failed for some reason (CUDA devices might not exist)`
- `the cuInit function is missing (Regent might have been installed without CUDA support)`

OpenMP
- `OpenMP co

[2019-10-30 22:07] elliottslaughter commented on #495
Sounds good, thanks.

[2019-10-30 22:07] #495 closed

[2019-10-31 00:25] manopapad opened #668 "Regent: Vector operations that interoperate with C"
Our programmers want to use vector operations on arrays:

[code]

Terra won't allow users to add this functionality on pure arrays like `int[7]`, so users have to introduce an intermediate struct:

[code]

which causes some friction when interoperating with external code (now everyone needs to know about this special wrapper struct). Ideally this sort of thing would work with pure arrays.

One pos

[2019-10-31 05:24] sparkasaurusRex opened #669 "Regent: regions not filled when launched from C++"
I've been following `language/examples/embed.rg` to figure out how to launch Regent tasks from C++. My code worked until after commit `482f7e656`. After that commit, my regions inside of the Regent task are filled with zeros instead of the data I filled them with. If I run my code from Regent instead of C++ then everything works fine. I'm using `AttachLauncher::attach_array_aos()` to fill my regio

[2019-10-31 05:43] lightsighter commented on #669
If you're also running your code with Regent then you're never using `AttachLauncher::attach_array_aos`. The C API that Regent relies on uses `AttachLauncher::attach_array_soa`. Are you sure your data is actually laid out in AOS format?

[2019-10-31 05:47] sparkasaurusRex commented on #669
Yeah, I'm pretty sure everything is in AOS format and it appears to be working on the older commit.

[2019-10-31 05:48] sparkasaurusRex commented on #669
But I could be wrong since I don't know much about the internal layout of regions.

[2019-10-31 09:21] magnatelee commented on #578
Commit f4f119c9 adds the flag `-fbounds-checks-targets` to the compiler. The flag takes a comma-separate list of regex-like patterns that specify the target of bounds checks (the default pattern is `.*`). Lua's built-in support for regex is not as expressive as regex in other languages (for example, `(abc|def)` is not allowed), so I had to compensate that by allowing a list of patterns. @manopapad

[2019-10-31 12:49] streichler commented on #578
@magnatelee how hard would it be to use the posix regex suport (regcomp, regexec) instead of Lua's builtin-but-inferior regular expressions?

[2019-10-31 13:07] streichler commented on #669
@sparkasaurusRex is the code small enough (or can be trimmed down while still reproducing the issue) to paste here?  How are you creating/filling the area before attaching to it?  And can you confirm that exact commit is where things changed?  (It doesn't seem like it should be related.)

[2019-10-31 16:54] streichler commented on #669
Well, as the author of the apparently-offending commit and the person who can see the repro case, I think @magnatelee has been volunteered as the initial owner of this.  Ask for help if you need it.  :)

[2019-10-31 20:06] manopapad commented on #578
AFAIK invoking external libraries at Regent compilation time requires either writing a wrapper for them using the [Lua C API](https://www.lua.org/manual/5.2/manual.html#4), which is a lot of boilerplate, or invoking them through luajit, which automatically handles the calling convention between Lua and C, but requires that luajit be working properly on the target platform (not the case e.g. for po

[2019-10-31 20:18] streichler commented on #578
Yes, my suggestion assumed we had terra goodness available to us at compile time.  If we do not, then living with lua's regex capabilities seems the more pragmatic approach.

[2019-10-31 20:49] magnatelee commented on #578
Using a more powerful regex library in C, either with Terra or some third-party libraries like Lrexlib, is not hard but, as both of you pointed out, not portable either. I expect that most users would just want to specify several tasks that they want to run bounds checks on, so I don't think using Lua's inferior pattern support isn't actually losing that much. (Or in other words, adding more power

[2019-10-31 21:07] magnatelee commented on #382
Should be fixed with cc517fcb.

[2019-10-31 21:23] manopapad opened #670 "Regent: Attaching causes codegen assertion"
The following code snippet:

[code]

causes the following error:

[code]

[2019-10-31 21:34] manopapad opened #671 "Regent: Uninitialized data warning produced for internal Regent operation "Mapping""
The following code snippet:

[code]

produces the output:

[code]

[2019-10-31 21:48] manopapad commented on #578
I've confirmed that this works, by playing around with the following example:

[code]

The call to `foo(p[0])` performs an out-of-bounds access, but this won't manifest as a segfault in a single-node execution, as the default mapper will reuse the full-region instance created for `init` when mapping `foo`.

[2019-10-31 21:48] #578 closed

[2019-10-31 22:09] manopapad commented on #382
Confirmed

[2019-10-31 22:09] #382 closed

[2019-10-31 22:29] elliottslaughter commented on #671
I think this is somewhat related to #349. Because we eagerly map, it actually happens before the fill. If we were to delay the mapping, this ought to go away. (Note this is more sophisticated than the easiest fix for #349, so it may get fixed later than that bug.)

[2019-10-31 22:42] manopapad commented on #671
Note that this happens even for inner tasks (which shouldn't inline-map anything?). The following snippet produces the same error as above:

[code]
[code]

[2019-11-01 13:40] streichler commented on #362
Deferred allocation are performed starting with commit 15b0ccc1.  There should be no impact to any application that ran nefore this commit without any failed allocations.  However, if there is some change in behavior, `-ll:defalloc 0` can be specified on the command line to disable deferred allocations (i.e. allocations will be performed based only on instance destructions whose preconditions have

[2019-11-01 13:40] #362 closed

[2019-11-01 13:42] #447 closed

[2019-11-01 13:47] streichler opened #672 "realm: flexible (sliding?) phase counts for barriers"
As a follow-on to #581, it'd be nice if there were a way to avoid the application overhead of counting the phases used on a barrier and refreshing (by destroying and building new ones) once that phase limit is exhausted.  A related problem is the management of working set for a long-lived barrier that reduces data (i.e. how long to keep around the results from earlier phases).  In both cases, the

[2019-11-01 13:51] streichler commented on #581
Issue #672 tracks possible future enhancements along these lines, but this part is now done.

[2019-11-01 13:51] #581 closed

[2019-11-01 17:32] streichler commented on #465
@lightsighter would Legion ever make calls that tell Realm it _is_ safe to wait internally?  I'm inclined to just rip all those wait() calls out and instead insist that the caller handling the waiting when and how it needs to.

[2019-11-01 19:26] lightsighter commented on #465
In the Legion case it's not safe to do that with user-level threading on because we take care of saving and restoring the few thread-local variables around all wait calls. So the answer in this case is no, we would never tell Realm that it is safe to wait internally.

[2019-11-01 19:28] lightsighter commented on #672
@lightsighter so I can track this. There's a lot of code inside the runtime right now that handles this case when we run out of generations and it would be nice to get rid of it.

[2019-11-01 20:53] elliottslaughter opened #673 "Regent: add support for generating futures from raw C API handles"
Proposal: add a call `__future(T, x)` which takes a value `x` of type `legion_future_t` and returns a value of type `T`. When `-ffuture 1` is enabled, this can be optimized to `future(T)`, giving us a path where C API future values can be passed into Regent.

[2019-11-02 00:08] lightsighter commented on #669
I think we've tracked this down to a Realm bug that occurred after the merge of the defalloc branch.

[2019-11-02 00:59] sparkasaurusRex commented on #669
Let me know when you push a fix and I'll test it.

[2019-11-02 03:12] streichler commented on #669
@sparkasaurusRex please try again with commit c4ba14c in master.

[2019-11-02 07:51] sparkasaurusRex commented on #669
Appears to work. Thanks!

[2019-11-02 07:51] #669 closed

[2019-11-02 16:49] streichler commented on #590
Commit 79e4733 adds support for `LEGION_WARNINGS_FATAL=1` (or `-DLegion_WARNINGS_FATAL=ON` in cmake-land) that causes the Legion runtime to abort on any warning it issues.
Commit 60956e0 enables this mode for all non-regent tests in CI.  There are almost certainly some regent tests that need to be cleaned up, but the systemic warnings described in #671 need to be cleaned up first.

[2019-11-02 16:50] streichler commented on #671
Once this issue is cleaned up, we should try to set `LEGION_WARNINGS_FATAL=1` for regent in CI as well and scrub individual regent tests of other uninitialized data (or other) warnings.

[2019-11-02 16:50] #590 closed

[2019-11-03 06:08] elliottslaughter opened #674 "PSA: Piz Daint head nodes are running Broadwell CPUs"
This must have changed at some point because I don't think it used to be the case. (Or maybe it was and I don't remember?) Anyway, I've found the head nodes are running different processors than the GPU compute nodes:

compute node: Intel(R) Xeon(R) CPU E5-2690 v3 @ 2.60GHz (Haswell) \
head node: Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz (Broadwell)

Practically speaking, this makes it easy to mis

[2019-11-04 20:07] lightsighter opened #675 "Detect (and Maybe Work-Around) Multi-Tenancy GPU Cases"
It would be nice if Realm could detect multi-tenancy use cases with GPUs and do something more intelligent than report a CUDA driver error like it does today:

[code]

Ideally it would try to find GPUs that are unused too, but just a better error message would be sufficient.

[2019-11-04 20:40] syamajala commented on #603
I agree with @elliottslaughter I do actually have a use case for this besides just `__demand(__cuda)`.

[2019-11-05 17:43] streichler opened #676 "realm: add optional 'duplicate_ok' parameter to user event triggers/cancels"
Currently, Realm considers it a fatal error to trigger (or cancel, or any combination thereof) a `UserEvent` multiple times.  This is still the preferred default behavior (it can catch application bugs), but user event triggers/cancellations are idempotent (as long as you don't mix them - i.e. a mixture of triggers and cancellations would still be illegal), so an option to permit duplicates is str

[2019-11-06 09:06] hiemstar opened #678 "regent warning [0 - 7fcd2da3e780] {4}{threads}: can't open /sys/devices/system/node"
Hi,

I get the following warnings in running a simple benchmark from the regent bootcamp 2017.

rene> Pi (master) $ regent.py 1.rg
[0 - 7fcd2da3e780] {4}{threads}: can't open /sys/devices/system/node
[0 - 7fcd2da3e780] {4}{threads}: reservation ('utility proc 1d00000000000000') cannot be satisfied
The area of a unit circle is approximately: 3.1632

It turns out that "open /sys/devices/system/node"

[2019-11-06 13:16] streichler commented on #678
If you're just focusing on legion/regent functionality, you can safely ignore that warning.  It comes from the code that's trying to detect the number of CPU cores in order to pin threads for performance, and I guess WSL doesn't have "normal" Linux's /sys?  I'll dig into WSL a bit and see if there's an easy way to clean this up.

[2019-11-06 13:45] streichler commented on #678
@hiemstar can you confirm whether you're using WSL1 or WSL2?  Also, what do you get for the output of `cat /proc/version`?

[2019-11-06 14:00] hiemstar commented on #678
Thanks for looking into this so quickly!

I am using WSL2. I just switched and tried WSL1 and got a similar result:

rene> Pi (master) $ regent.py 1.rg
[0 - 7ff46e4b0780] {4}{threads}: can't open /sys/devices/system/node
[0 - 7ff46e4b0780] {4}{threads}: reservation ('DMA request queue')
cannot be satisfied
The area of a unit circle is approximately: 3.1632

rene> rene $ cat /proc/version
Linux ver

[2019-11-06 14:15] streichler commented on #678
Darn, I was hoping WSL2 might have cleaned this up.  One more thing to try: `cat /proc/cpuinfo`

Probably what I'll do for now though is detect WSL via the `/proc/version` output and just not complain about thing.

[2019-11-06 14:38] hiemstar commented on #678
Attached is the cpu-info. Thanks!

On Wed, Nov 6, 2019 at 3:15 PM streichler <notifications@github.com> wrote:

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 158
model name	: Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
stepping	: 10
microcode	: 0xffffffff
cpu MHz		: 2904.010
cache size	: 12288 KB
physical id	: 0
siblings	: 12
core id		: 0
cpu cores	: 6
apicid		: 0
initial apicid	: 0

[2019-11-06 17:05] streichler opened #679 "realm: CPU core detection within the Windows Subsystem for Linux"
WSL tries to be like Linux but is missing a bunch of functionality, such as the `/sys` filesystem that Realm uses to detect CPU cores.

WSL can be detected via `/proc/version` (thanks to @hiemstar !):
[code]

and then we need to either just disable core detection and pinning, or look at using `/proc/cpuinfo` instead (which seems to exist in WSL-land).

[2019-11-06 17:08] streichler commented on #678
Thanks @hiemstar - that looks like it might be a possible workaround then.  I've created #679 as an RFE for supporting WSL better, but we're unlikely to get to it right away.  It's likely that a sooner-arriving change will have Realm cope with this silently by default rather than printing a confusing warning message, but for now I'm going to ask you to just ignore this message.  Sound ok?

[2019-11-06 18:26] streichler opened #680 "realm: unify all the various "application cpu processors""
Realm now has 3 different kinds of "application cpu processors": LOC_PROC, PROC_SET, and OMP_PROC.  Remove the later two and just have the normal LOC_PROC have a notion of having more than one assigned core, and (depending on build settings) potentially supporting things like OpenMP or Kokkos or whatever in task bodies.

[2019-11-06 19:45] hiemstar commented on #678
That's great! Thanks for taking care of this!

On Wed, Nov 6, 2019 at 6:08 PM streichler <notifications@github.com> wrote:

[2019-11-06 19:46] qyz96 commented on #663
I have changed the size to 200*24 and ran the program on 1 node with 24 cores (using salloc). The profile link is here:
https://www.dropbox.com/s/1lncoh9lggm7ytw/legion_prof.zip?dl=0

It looks like the use of CPU is unusually low in this profile. I tried to increase the size of the task by changing the matrix size to 400*24, but I got the out of memory problem (which I did not encounter with other

[2019-11-06 19:48] elliottslaughter opened #681 "Regent: CUDA code generator is not compatible with CUDA 10"
I'm getting the following on Piz Daint. Unfortunately CUDA 9 is no longer available so I'm stuck with CUDA 10.

[code]

Build scripts and such are in: https://gitlab.com/StanfordLegion/legion/tree/regent-dcr-pldi2020/language/pldi20_scripts

[2019-11-06 21:13] elliottslaughter commented on #681
Fixed by 93a304b124ac43324f49dbb8108f5e2b58cda8ad.

[2019-11-07 03:41] magnatelee commented on #681
Reopening this issue as it's not quite fixed yet.

[2019-11-07 04:28] magnatelee commented on #681
I pushed a temporary hack (0ad4cce8) that recovers the old style API in CUDA 10 by manually declaring the functions. We should eventually switch to the new kernel launch API as these old API calls can be dropped in any future release of CUDA SDK. Let's keep this issue open until we finally make the compiler work with the new API.

[2019-11-08 17:44] streichler opened #682 "realm: allow overcommit of memory resources"
The need to guess (correctly) the values for `-ll:csize` and friends is problematic (or at least scary) to
some folks, so it might be nice to have a mode where memories can be made very large and we only
map/pin/etc. memory that's actually used for instances.

There's a bunch of details to work out though:
1. Which memories can this be done for?
2. What performance guarantees to we want to maintai

[2019-11-08 17:46] streichler opened #683 "realm: use defines to control C++11 (and higher) constructs"
Right now realm has a bunch of preprocessor tests against __cplusplus - clean this up with a REALM_CXX_STANDARD define that will autodetect if not set from outside.

[2019-11-08 18:16] magnatelee opened #684 "Legion: crash when tightening index space"
Reporting this for Mike:

Circuit running on 3 nodes with DCR crashes on a very small chance (~0.1%). Here is a backtrace:

[code]

[2019-11-08 19:33] lightsighter commented on #684
My own notes from the bug: three node runs, sending message from node 0 to node 2. The index space node on node 2 was deleted before the message arrived. Index space 2 owned the index space node because the handle was:
[code]

[2019-11-08 23:01] marcinz opened #685 "Enabling bounds checks with NVCC results in errors (and issues)"
I am using CUDA 10.2 and the `control replication` branch of Legion (f604a1b). Enabling bounds checks with NVCC (`NVCC_FLAGS="-DBOUNDS_CHECKS`) causes plenty of warnings and some error messages (see attachments).

[output.log](https://github.com/StanfordLegion/legion/files/3826584/output.log)

[2019-11-08 23:22] streichler commented on #614
Done with commit 719d9955.

[2019-11-08 23:22] #614 closed

[2019-11-11 08:47] qyz96 commented on #663
Never mind, I just found the flags that specify the number of cores and memory per core. I will let you know if I have further problems.

[2019-11-12 19:43] elliottslaughter opened #686 "Regent: boolean logic operators do not short circuit"
[code]

Produces:

[code]

[2019-11-13 17:42] streichler opened #687 "realm: data race detector"
Although Realm typically doesn't have enough information to perform a legion_spy-like (i.e. timing independent) analysis of the operation graph provided to it (we've tried, but the application's implicit knowledge of satisfied dependencies is a deal-breaker), it probably does have enough information to flag data races (i.e. simultaneous writers or readers+writers to an instance) in a reasonably pr

[2019-11-13 19:48] lightsighter opened #688 "Tracing for Index Space Launches with Postconditions"
Support for tracing with index space launches with postconditions is incomplete.

https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/legion_tasks.cc#L7618-7627

[2019-11-13 22:10] manopapad opened #689 "Regent: warn when the user __demands an optimization that has been disabled"
E.g. currently the inner task optimization can be disabled with `-finner 0`, and the user's `__demand(__inner)` annotations won't do anything. It would be nicer if a warning was printed ("ignoring __demand(__inner) on task foo because the inner optimization is disabled"), same as what happens right now for `__demand(__cuda)`.

[2019-11-14 04:13] pmccormick commented on #627
A similar but slightly different view (extension) on this would be to add the concept of a "lightweight" processor target that does not require/desire/have the resources needed to run the full runtime feature set.  This could support aspects of a subprocess but could also the notion of a remote processor in a more traditional sense from distributed computing; geographically speaking vs. HPC's more

[2019-11-15 06:39] lightsighter commented on #653
It is possible that this issue was actually fixed by commit ddc4b70b86, but I'm inclined to still leave view replication off because of the performance gains we've seen from turning it off. I'm also not totally confident that this commit fixes the issue, but it definitely is related.

[2019-11-15 18:14] streichler opened #690 "legion: allocate all runtime data structures in a dedicated arena"
This was initially part of #627, but it has value on its own (e.g. to reason about "lightweight" processors that don't have access to the runtime metadata).  Legion has hooks for all (or at least most) of its dynamic allocation, so once Realm provides an arena that's backed by a Realm `Memory` (possibly a overcommited one as described in #682), it should be a mostly-mechanical process to switch th

[2019-11-15 18:16] streichler commented on #627
The piece of this that puts Legion's runtime metadata into an arena so that we can share it across subprocesses and/or reason about "lightweight" processors that can't see the metadata has been carved out into #690.

[2019-11-18 06:23] lightsighter commented on #622
We have concrete evidence that Soleil-X encounters this now as well. Ghost cell exchanges become very slow once we have to partition in the (fastest changing) X dimension (Fortran order for Regent) and we get copies that look like this:

120ms to move 2MB of data
63ms to move 7KB
102ms to move 715KB

This is affecting weak scaling of Soleil-X application performance as the DMA channels become the

[2019-11-18 06:51] streichler commented on #622
Can we do a run for just 2-3 iterations with `-level dma=2,inst=1` and put the logs somewhere I can look at them (they'll probably be too big to attach here).

[2019-11-18 18:08] lightsighter commented on #622
@manopapad See above ^^^^^

[2019-11-18 19:17] manopapad commented on #622
4 node run (no ghost cell exchanges on x): http://sapling.stanford.edu/~manolis/742031/
8 node run (ghost cell exchanges on all dimensions): http://sapling.stanford.edu/~manolis/742032/

[2019-11-19 05:07] elliottslaughter opened #691 "Prof: Utilization does not take into account entirely idle processors"
See e.g. this profile:

http://sapling.stanford.edu/~eslaught/circuit.run1_no_cr/prof_2x1_r0

The GPU utilization plot shows 100% utilization, when in fact the GPU on node 1 is never used at all (and so it doesn't show up in the plot at all). Utilization should be 50% for this plot.

[2019-11-20 06:25] lightsighter commented on #514
#600 is a prerequisite for this to work fully.

[2019-11-20 14:07] streichler opened #692 "realm: batching of profiling responses"
Right now, every profiling measurement request is handled by a separately-spawned task, which probably isn't great for profiling overhead.  Consider (optionally) batching responses by target proc and task ID.  Changes to the body of the profiling tasks would be needed, but should be minimal.

[2019-11-20 14:14] streichler opened #693 "realm: split-phase (a.k.a. negotiated payload) task spawn API"
The current task spawning API requires that the caller construct the binary blob of task arguments in its entirety before calling into Realm.  In many cases, this forces dynamic allocation and memcpys that could be avoided if Realm provided a buffer for the caller to construct the arguments in.  This is useful both for inter-node messages (which are getting their own negotiated-payload APIs inside

[2019-11-20 14:19] streichler commented on #628
The preliminary pieces are in place for this and I've had enough discussions with the GASNet
folks that I think I have a plan.  The next step is to write it down that plan and have people
review it, but I'm going to be optimistic and shoot for getting this done early next year.

[2019-11-20 22:59] mariodirenzo opened #694 "Regent: bug in index space launched fills of arrays"
The following script
[code]
fails with the error
[code]

The issue seems to be related to having the definition of the constant array inside the index space launch

[2019-11-21 14:00] thompsonbry commented on #628
Supporting GPUDirect would be a big thing for us.  We are just starting the process of looking at realm binding onto GASNet over AWS libfabric.  We could definitely iterate with you on evaluation of performance for CPU/GPU compute over GASNet-Ex

[2019-11-21 14:09] streichler commented on #628
@thompsonbry Yes, let's definitely talk.  It may actually be easier to do an initial exploration of the benefits of GPUDirect with the GASNet-1 interface, as I'm more familiar with its implementation and have already formed some ideas of how to tweak it to allow for GPUDirect transfers, but either way, we'll need a baseline implementation that does not use GPUDirect to test functionality and compa

[2019-11-21 14:42] streichler opened #695 "realm: predicated operations (tasks/copies/etc.)"
A number of use cases have come up for being able to insert operations into the execution graph that may not want to actually be executed.  Unlike cancellation semantics, which use poisoning to indicate that the operation "will never complete" (and are also unable to guarantee that the operation doesn't actually execute anyway), predication would have the functional behavior of wrapping an operati

[2019-11-24 22:56] lightsighter commented on #685
@marcinz I believe I've fixed this bug in the master and control_replication branches. It won't be in the legate_stable branch quite yet since I only want to push to that occasionally. I'm assigning it back to you to confirm that it is fixed.

[2019-11-27 04:07] manopapad opened #696 "Regent: associate tasks with mappers"
Currently every task launch in a Regent application gets passed to the same mapper (the one with ID 0). This is problematic if we want to combine two different libraries into the same application, each with their own mapper (e.g. @aheirich's visualization framework inside Soleil-X). Also, the user's custom mapper currently has to handle internal Regent tasks, which should really be handled by a cu

[2019-11-27 04:16] manopapad commented on #438
Mirroring my comment from #696, a first step might be to associate all the launches of a task with the same tag, set at task creation:

[code]

or

[code]

This value could be set as the mapper tag on every launch of that task (with the possibility of overriding it on a per-launch basis, using the syntax @elliottslaughter suggested above), or attached as semantic information on the task's ID.

Thi

[2019-11-27 07:54] lightsighter commented on #659
I did something even simpler for now. If you compile with `-DSAFE_MUST_EPOCH_LAUNCHES` in `CC_FLAGS` then we will insert an execution fence before every must epoch launch. This guarantees that  all must epoch launches will be executed in program order. It also means that the right thing will happen with control replication as well. This is a pretty heavy hammer, but for the moment I think it is fi

[2019-11-27 07:56] lightsighter commented on #684
I believe that this bug is fixed now. It's very hard to test, but the way that I fixed it was to add a reference to index space nodes that only gets removed once the index space is set, so it is now impossible for this error to occur. Closing the issue.

[2019-11-27 07:56] #684 closed

[2019-11-27 21:12] manopapad opened #697 "Regent: inadmissible OpenMP statement"
The following code:

[code]

when passed to:

[code]

fails with:

[code]

Note that it's sufficient for bounds checks to be enabled, even if they don't apply to any task.

[2019-11-28 02:01] lightsighter commented on #514
Support for this is now in both the master and control replication branches. We can make both implicit top-level tasks and arbitrary numbers of top-level tasks.

[2019-11-28 02:01] #514 closed

[2019-11-28 14:36] thompsonbry commented on #628
Sean, let’s try to pick up this thread next week. Hopefully schedules will
be a little less hectic.

Bryan

On Thu, Nov 21, 2019 at 06:09 streichler <notifications@github.com> wrote:

[2019-11-28 15:36] LouisJenkinsCS opened #698 "Legate/Pygion: Release Date?"
Hello Legion developers,

I am rather eager to give Legate and Pygion a try, will there be an official release date for when it goes open source? Thanks in advance!

[2019-11-28 21:58] LouisJenkinsCS commented on #698
Nevermind, I obtained the answer to my question from another source.

[2019-11-28 21:58] #698 closed

[2019-11-28 22:00] elliottslaughter commented on #698
In case anyone else comes looking for this, you can get Legate from http://developer.nvidia.com/legate and Pygion is currently in the tree (admittedly with not much in the way of instructions) at https://github.com/StanfordLegion/legion/tree/stable/bindings/python

[2019-11-30 09:27] qyz96 commented on #663
Do you know how I can deal with this bug? I am running on a node with four cores. Thanks!
[adncat@sh-105-11 ~]$ ./yizhou/Legion/language/regent.py yizhou/Legion/language/examples/cholesky.rg -fflow 0 -llcpu 4 -ll:csize 8124 -foverride-demand-index-launch 1 -n 4000 -p 20
/home/users/adncat/yizhou/Legion/bindings/regent/libregent.so(_ZN5Realm8TypeConv8from_cppIvPKvmS3_mNS_9ProcessorEEENS_4TypeENS0_1

[2019-11-30 10:07] lightsighter commented on #641
I've added support in the runtime for structured dependences between point tasks in the runtime. The SNAP code has been updated to use it both without and with control replication and both tests are in the test suite to confirm that it is working. The runtime's interface requires that dependent region requirements must use projections that are invertible and implement the 'invert' method. The runt

[2019-11-30 15:32] streichler commented on #663
Can you try running in a debugger to see what the error is?  (Run with `LAUNCHER="gdb --args"` in your environment.)  The function named there is just constructing a small object on the heap to describe the type of a task being registered with Legion, so this could be a symptom of a corrupted heap, but trapping it in a debugger and/or running with a debug build of Legion might shed more light on i

[2019-12-01 08:08] lightsighter commented on #546
@jiazhihao Can you give me a driver application for this of some kind? Even something simple or written in FlexFlow is fine. I mainly need something to make sure what I'm going to implement is going to support what you need.

[2019-12-02 01:32] lightsighter commented on #641
One other thing I forgot to mention in my earlier comment on this issue: since the dependences for dependent projection region requirements just put partial orders points in the index space launch, then it is possible to create cyclic dependences between points in the index space launch if there are multiple dependent region requirements. The runtime will not detect these cycle currently and your

[2019-12-02 18:52] elliottslaughter commented on #438
I'd be fine with adding something like `task:set_semantic_information(id, value)`, which would not modify mapping tags at all but would give you something you could look up in the mapper for each task. I'm a little less enthusiastic about the `__tag` syntax since it would be yet another syntax extension.

[2019-12-02 18:54] elliottslaughter commented on #694
It's probably interpreting `array` as a function; if you instead write something like `[terralib.constant(`array(0.0, 0.0, 0.0))]` this might just work.

[2019-12-02 19:23] mariodirenzo commented on #694
Yes, `[terralib.constant(`array(0.0, 0.0, 0.0))]` works.
I guess that it is not different from defining the variable before the loop, right?

[2019-12-02 21:31] elliottslaughter commented on #694
Yes, that's pretty much right, though technically you can make a variable with a dynamic value, whereas `terralib.constant` has to be a compile-time constant.

I think the issue is the compiler doesn't know enough about `array` to be able to see it as a constant. This is probably going to be tricky to fix since `array` is a Terra primitive not a Regent one. I guess we could literally run `terralib

[2019-12-02 23:47] mariodirenzo commented on #694
ok, I'll use this workaround. Thank you.
Should we keep the issue open for reference?

[2019-12-03 17:35] elliottslaughter commented on #694
Let's keep it. It's plausible we can fix this, though there's a risk that what I proposed above might slow down the compiler.

[2019-12-03 20:33] syamajala commented on #644
What exactly is the goal for this issue?

Is it considered done, when the 0d DME case runs and is correct? What about the 1d case?

The regent main task is now running, but the output is not correct.

[2019-12-03 22:24] qyz96 commented on #663
Somehow I can no longer reproduce the bug and the code works fine for me now. I tried to run the code using number of cores ranging from 1 to 24. I noticed that the running time stopped decreasing after 8 cores. I have attached a photo of the trace with 24 cores. Is this normal? Am I parallelizing cholesky correctly in regent?
<img width="1371" alt="Legion" src="https://user-images.githubuserconte

[2019-12-04 00:16] sparkasaurusRex opened #699 "Regent: Force error if `__demand(cuda)` is not satified"
I would like to have the option to throw an error when `__demand(cuda)` is not satisfied. Right now, I only get warning when this happens and then no cuda code is generated. I think down the road this could be a huge issue for users wondering why suddenly there program is much slower and not using GPUs.

Here is the warning I'm getting
[code]

Maybe there could be a command line option to Regent t

[2019-12-04 01:09] elliottslaughter commented on #663
A couple things:

1. It would help to have the full Legion Prof trace. E.g. I can't see the utility processor or zoom in with this view.
2. How many physical cores do you actually have on this machine?
3. Do you have a reference implementation (e.g. MPI or OpenMP) to compare against? Otherwise it's hard to know how we should expect the code to scale.

[2019-12-04 01:48] eddy16112 commented on #663
A quick way to compare with reference implementation without actual running the reference code is to calculate the flops of cholesky. A high performance DPOTRF would have similar peak flops as DGEMM, and MKL DGEMM is close to the peak flops of CPU.

[2019-12-04 03:37] sparkasaurusRex opened #700 "Legion: `install.py` does not handle cmake flags correctly when passed as options"
I need to pass a flag to cmake, but I get the following error.
[code]
The problem is that `argparse` thinks that the next `-` means I'm giving another argument. I think we need another option like `--cmake-flag` that appends `-D` to every flag that is passed.

[2019-12-04 06:11] qyz96 commented on #663
I have shared the profiling output here:
https://www.dropbox.com/sh/iiyh5qlxjg1e5cx/AAAMciyUn_EIgONRWZTEe1CHa?dl=0
I have 24 cores (used something like salloc -c 24 -n 1). I compared Legion with Starpu and another task scheduling system (tasktorrent) from our group. The result is something like this:
![image](https://user-images.githubusercontent.com/43595270/70117237-c860c500-1619-11ea-8edb-bd400

[2019-12-04 19:59] elliottslaughter commented on #700
Can you try `--extra=-DLegion_HIJACK_CUDART=OFF`?

[2019-12-04 20:05] sparkasaurusRex commented on #700
I think that actually works. I'll close this once I confirm.

[2019-12-04 21:05] elliottslaughter commented on #663
The trace shows you're 100% bottlenecked on the utility processor. This means you either need a larger problem size (so that the task get bigger), or you have to make fewer blocks (do you really need 400 blocks when you only have 24 processors?), or you need to use tracing (which means adding a timestep loop around the outside, and using `__demand(__trace)` on it, and start timing from the 3rd ite

[2019-12-04 21:39] #700 closed

[2019-12-04 23:25] aheirich commented on #642
Library is complete and works with test cases and examples.
Integration with Soleil and S3D will be moved to new issues.

[2019-12-04 23:25] #642 closed

[2019-12-04 23:26] aheirich opened #701 "Visualization 2 library integration with Soleil-x"
currently has a problem passing data through the shim

[2019-12-04 23:27] aheirich opened #702 "Visualization 2 library integration with S3D"
shim is built and compiles
currently cannot build or run application

[2019-12-05 22:10] lightsighter opened #703 "Accessors for Multiple Region Requirements"
Tasks can specify constraints that region requirements are allocated in the same physical instance. Often these tasks want to access the data in these different region requirements with the same accessor. In these cases we need the ability to create accessors for multiple region requirements.

@ipdemes for visibility.

[2019-12-05 23:39] lightsighter commented on #242
Are we going to include the affine indirection as part of this issue or make it into a separate issue? I'm fine including it on this issue. It's a pretty minimal amount of work for me to pipe through the affine mapping to realm for the indirection. It's more a matter of whether we want to implement that in Realm for this milestone or move it to a later one.

[2019-12-06 03:24] streichler commented on #242
Affine/structured isn't ready on the Realm side, so I think we'll split that out into a separate issue.  However, it would be really nice to get Regent support in for the unstructured stuff.  @elliottslaughter , any chance of that in the next couple weeks?

[2019-12-06 07:15] lightsighter commented on #242
Ok, I asked because @elliottslaughter has another use case for affine in addition to the Legate one that I have.

[2019-12-06 17:44] elliottslaughter commented on #242
Let's split Regent support into a separate issue.

[2019-12-09 01:19] streichler opened #704 "regent: support for indirect copies (gather/scatter, both unstructured and affine)"
We need to decide on the language syntax for this and then go implement it.

[2019-12-09 01:21] streichler opened #705 "realm/legion: support for structured (~affine) indirect copies"
With unstructured scatter/gather just about done, we still need to handle the structured cases for things like stencils, GMG, etc.

[2019-12-09 01:23] streichler commented on #242
Legion and Realm support for unstructured scatter and/or gather is just about done.  Remaining work has been carved off into two separate issues:
#705 - structured (~affine) scatter/gather in Legion and Realm
#704 - Regent language support

[2019-12-09 12:33] syamajala opened #706 "Regent: Add region requirements in order in which they are defined"
As far as I can tell, region requirements for a Regent task get sorted based on privilege and field id. This is annoying because when you pass a task object to c/c++ you can't just index into the region requirements based on how they are defined in the Regent task. I'd really like to be able to do that instead of having to search for the correct region requirement.

[2019-12-09 17:29] elliottslaughter commented on #706
I'm happy with adding an option like `my_task:set_calling_convention('raw')` that does this, but it's never going to be the default option because it's (wildly) inefficient if you're not very careful.

For what it's worth, the Regent calling convention is documented, though that documentation could be improved and made more prominent.

[2019-12-09 19:45] magnatelee commented on #587
This issue has been fixed as of 9b0bee33.

[2019-12-09 19:45] #587 closed

[2019-12-09 19:45] magnatelee commented on #586
This issue has been fixed as of 9b0bee33.

[2019-12-09 19:45] #586 closed

[2019-12-09 22:08] magnatelee commented on #699
The meaning of __demand(__cuda) has changed as of commit 4cc2439e. The compiler will now raise a hard error when it cannot do CUDA code generation for some reason. There is now an __allow(__cuda) pragma that implements the old behavior. @sparkasaurusRex feel free to close the issue if you think the fix is sufficient.

[2019-12-09 22:10] ipdemes commented on #703
@lightsighter : you will also need to add logic for correct bounds checking for aggregated Physical Instance

[2019-12-09 23:06] sparkasaurusRex commented on #699
The only issue that I can think of is that now `__demand(cuda)` does not allow for testing correctness without a GPU. @magnatelee would it make sense add an option like `--relax-demand-cuda`? I do like the distinction between `__demand` and `__allow`, though.

[2019-12-09 23:32] magnatelee commented on #699
Okay. Commit 9a30fcce provides the `-fwarn-as-error` flag, which promotes a warning to an error. A combination of `__allow` and the flag will give you what you want. Can you pull and see if the flag works for you?

[2019-12-09 23:42] magnatelee commented on #697
Should be fixed by 165522b4.

[2019-12-09 23:52] sparkasaurusRex commented on #699
I found that I needed to add the flag `-fwarn-as-error 1` to Regent to enable the error message. Other than that, it works perfectly. Thanks!

[2019-12-10 00:07] elliottslaughter commented on #699
@magnatelee and I were talking, and we were wondering if the following semantics would be more obvious:

  * If the user passes `-fcuda 1` to the compiler, but CUDA is not available (for any reason, e.g. perhaps there are no GPUs on the machine), then this an error. This is true regardless of the contents the program, i.e. whether or not it contains any `__demand(__cuda)` tasks.
  * `__demand(__cu

[2019-12-10 00:16] magnatelee commented on #670
Should be fixed by ff7d4850.

[2019-12-10 00:20] sparkasaurusRex commented on #699
This sounds like a good solution to my original problem since it is easy enough for the user to pass `-fcuda 1`.

[2019-12-10 04:08] magnatelee commented on #686
This should be fixed by 0a812430.

[2019-12-10 04:28] magnatelee commented on #410
This bug doesn't seem to reproduce anymore. @lightsighter Can you try again and see if it still reproduces for you?

[2019-12-10 07:45] magnatelee commented on #247
@lightsighter This is a bug in the parallelizer. The parallelizer currently uses bounding boxes for both constructing ghost regions and determining whether ghost regions should be used for stencil accesses. This clearly doesn't work when ghost regions are sparse, which is the case with the flag `-fparallelize-dop 3,3`. The new parallelizer doesn't have this issue as it never uses bounding boxes, a

[2019-12-10 08:07] lightsighter commented on #410
I've confirmed that this bug is now fixed. Closing.

[2019-12-10 08:07] #410 closed

[2019-12-10 08:09] lightsighter commented on #247
The other thing worth discussing on this issue is whether we should turn on Legion Spy verification now for multi-node runs as it should be passing. If we do turn it on we should probably run it infrequently as it is much more expensive in the multi-node cases.

[2019-12-10 08:10] lightsighter commented on #703
Yes, the aggregated accessors will still perform sound and precise privilege and bounds checks when enabled.

[2019-12-10 08:18] magnatelee commented on #439
This is fixed in the new parallelizer by commit 80cf1566. I'll move this issue to the next milestone and close it once the new parallelizer is merged.

[2019-12-10 19:58] #686 closed

[2019-12-10 23:37] manopapad commented on #697
Fixed

[2019-12-10 23:37] #697 closed

[2019-12-10 23:38] manopapad commented on #670
Fixed

[2019-12-10 23:38] #670 closed

[2019-12-11 02:03] lightsighter opened #707 "Decoupled Index Space Names and Bounds"
In order to deal with tasks that produce unknown sized output, it would be nice if we could create the names for index spaces and logical regions without having to specify their size up front and then later bind the size as part of a task when it is mapped either inline or as a sub-task. The idea would be that index spaces and their associate regions do not actually need bounds until they are mapp

[2019-12-11 05:54] lightsighter commented on #646
We've got a pull request for me to review. Adding this to the 20.03 milestone and assigning myself since I need to do a code review.
https://gitlab.com/StanfordLegion/legion/merge_requests/169

[2019-12-11 05:56] lightsighter commented on #646
@eddy16112 Have you checked that the fortran compilers are still vectorizing fortran leaf tasks using the interop? I'm also inclined to break out the fortran-to-legion-with-flang thing here to a separate issue.

[2019-12-11 07:07] eddy16112 commented on #646
@lightsighter What do you mean by vectorizing fortran leaf tasks? If you mean vectorize data accessing of Accessor, the Fortran accessors are bind to the accessors of C API.

[2019-12-11 08:02] lightsighter commented on #646
@eddy16112 We need to make sure the code for loops in leaf tasks compiled by fortran compilers still vectorizes the same way that it would if it were accessing normal fortran arrays.

[2019-12-11 17:38] marcinz commented on #685
I am still getting:

[code]

I'll take a look at it.

[2019-12-12 00:04] sparkasaurusRex commented on #699
By the way @magnatelee, I noticed that I got this warning even though I had no `__demand(__cuda)`.

[code]

This sounds like a bug in your last commit.

[2019-12-12 03:37] magnatelee commented on #699
I pushed changes that implement the semantics that we agreed with. The availability of CUDA code generation is required only when the user passed `-fcuda 1` and its applicability is checked regardless of the flag. When CUDA is unavailable and there are tasks with `__demand(__cuda)`, the compiler will print warning messages like it did previously. I didn't go all the way to making `__allow` by defa

[2019-12-12 05:00] sparkasaurusRex commented on #699
Works as expected!

[2019-12-12 05:00] #699 closed

[2019-12-12 15:29] syamajala opened #708 "Regent: Set variant id for blocking fence"
It would be nice if you could set the variant id for the dummy task the blocking fence generates. I have a workaround for now though.

[2019-12-12 18:22] streichler commented on #242
Unstructured scatter/gather has been merged in with commit d9d370e.

[2019-12-12 18:22] #242 closed

[2019-12-12 18:50] streichler commented on #465
Changes to both Realm and Legion merged in with commit e1dde6e.

[2019-12-12 18:50] #465 closed

[2019-12-12 20:34] marcinz commented on #685
a1045c665bab5543f0c106803bf0025d39ed0bdd fixed the remaining issues.

[2019-12-12 20:34] #685 closed

[2019-12-13 00:02] ellishg opened #709 "Prof: embed resources in single file to enable loading locally on modern browsers"
Firefox updated its CORS security policy so that legion_prof does not work. When I open up `index.hmtl` in firefox, nothing shows up and I get this warning.

"Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///.../legion_prof/json/scale.json. (Reason: CORS request not http)."

This link is referenced in the warning.
https://developer.mozilla.org/e

[2019-12-13 00:26] seemamirch commented on #709
We will need to update https://legion.stanford.edu/profiling/#legion-prof (Legion Prof Troubleshooting section) - it mentions a similar issue for Chrome.

On Dec 12, 2019, at 4:02 PM, Ellis Hoag <notifications@github.com<mailto:notifications@github.com>> wrote:

Firefox updated its CORS security policy so that legion_prof does not work. When I open up index.hmtl in firefox, nothing shows up and I

[2019-12-13 06:42] lightsighter commented on #709
Pretty much all browsers today have this enabled including Chrome and Safari. I think the right thing to do is actually to make a way to start-up a light-weight webserver with legion_prof.py on each person's machine so that they don't have to deal with all the browsers now that block this common path to prevent cross-site scripting attacks.

[2019-12-13 06:49] lightsighter commented on #247
Multi-node Legion Spy is not enabled again in the master branch with this merge request:
https://gitlab.com/StanfordLegion/legion/merge_requests/170
That means this issue is only about the parallelizer.

[2019-12-13 16:40] streichler commented on #709
Are the browsers happy if you mash the javascript and json directly into the HTML file instead of providing them as separate files?  This appears to be how the chrome tracing stuff works.

[2019-12-13 18:23] streichler opened #710 "realm/legion: pad instances (by default?) to avoid power-of-2 strides between fields/instances"
It's fairly common for applications to use index spaces that are a power of 2 in size.  When multiple instances are created (or multiple fields in the same instance), the address offset between different fields/instances then ends up being a power of 2 as well (Realm memories do not put heap-management metadata in the same place, so instances appear back to back), which can dramatically decrease t

[2019-12-14 00:36] elliottslaughter commented on #546
I have a use case with a read-only region that is initialized once at program startup, and then needs to be read by every node on every iteration for the rest of the run. The real app for this is MTIP, but I can code up a simplified demo app in Regent if that would help.

[2019-12-14 02:27] lightsighter commented on #546
@elliottslaughter Yes, a small demo application would be good. There aren't going to be any changes to the application interface, just changes to the mapping API. The idea is that we will use premap_task to create a new kind of PhysicalInstance object that represents replicated collective view where all the point tasks are going to make their own physical instance, but the runtime should reason ab

[2019-12-17 19:51] elliottslaughter commented on #708
We have fixed this by making it so that the dummy task is no longer issued at all.

[2019-12-17 19:51] #708 closed

[2019-12-17 23:55] lightsighter commented on #481
Another idea for an enhancement: it would be nice if there were two "utilization" lines. One for running stuff (which is what the current line shows) and one for processors that have tasks but are blocked. It would make it much easier to recognize where things are stalled waiting for something.

[2019-12-18 05:21] mariodirenzo opened #711 "Regent: memory leak"
My solver that is written in Regent tends to leak a lot of memory during its execution.
For instance, I've seen runs that leak 3.5GB of memory per node every 5 minutes.
Following an initial inspection of the issue done with @lightsighter and @magnatelee, the problem should be related to an accumulation of futures that are not deleted during the run.
@magnatelee and maybe @lightsighter should still

[2019-12-18 05:38] mariodirenzo opened #712 "Regent: deterministic NaN only on sapling GPUs"
One of the unit tests that I have written to check the correctness of my solver fails deterministically with a NaN when executed on the GPUs of Sapling.
On the other hand, it succeeds if:
- run on CPUs on my workstation
- run on GPUs on Lassen
- run on CPUs on Lassen
- run on CPUs on sapling
- run on GPUs on sapling deactivating the auto-parallelizer

I can provide all the instruction to reproduce

[2019-12-18 05:40] mariodirenzo commented on #638
Is there any plan to allow people to pass larger data structures (of constants) to the tasks on GPUs?

[2019-12-18 07:45] lightsighter commented on #638
Is there a way to recognize/annotate constants for kernels so we can put them in the constant cache? It would probably go a long way to reducing the need to pass things as parameters. Either that or try to inline them directly if possible.

[2019-12-18 07:46] lightsighter commented on #712
This sounds a little bit like a cuda launch error that is being silently ignored. I'm inclined to chalk it up to the very old GPUs/software stack on sapling. Assigning to @magnatelee to decide what he wants to do about it.

[2019-12-18 07:47] lightsighter commented on #711
I'll be monitoring it, but assigning to @magnatelee for now.

[2019-12-18 22:01] mariodirenzo commented on #638
I am not aware of any annotation that can be used in regent to define an argument of a task as a constant.
However, from what I know, parameters are passed to tasks by value, so they are effectively constant unless one of them is returned.

[2019-12-18 22:04] elliottslaughter commented on #638
Right, I think this is a question for @magnatelee. In theory any variable that is not written to could be put into the constant cache.

[2019-12-18 22:05] seemamirch commented on #691
Commit 990ad63a547a913b6c7df6b31ce1ca9f80b642a5 closes #691

[2019-12-18 22:05] #691 closed

[2019-12-18 23:03] magnatelee commented on #638
Moving read-only variables to the constant cache is my plan and Terra does have support for the constant cache. I'm still playing around with it using a toy example and will soon implement support in Regent.

[2019-12-19 20:16] mariodirenzo commented on #712
Procedure on how to reproduce the NaN on sapling:
- source my `~/.bashrc` in your session
- go into the directory `~/prometeo/solverTests` of my account on sapling.
- execute the test using `USE_CUDA=1 python ./test.py -v solverTest.test_BoundaryLayer`
- the solver will fail with a message like `test_BoundaryLayer (__main__.solverTest) ... assertion failed: NaN detected! Debug fields dumped in deb

[2019-12-19 21:41] mariodirenzo commented on #712
I forgot to write that the failing run is validated by the logical and physical analysis of legion_spy and that the code passes the bound checks (on CPUs)

[2019-12-19 22:20] sparkasaurusRex opened #713 "Regent: CUDA errors are not checked during kernel launches"
@magnatelee and I are suspicious that Regent is not checking CUDA errors. In one test case, running Regent tasks on the CPU is fine while running them on a GPU gives an output of all zeros.

[2019-12-19 22:26] magnatelee commented on #713
Just to clarify, this happens only when the CUDA hijack in Realm is turned off. Realm catches any CUDA errors when the hijack is used.

[2019-12-20 23:14] magnatelee commented on #688
This should be fixed by commit 152886f4.

[2019-12-21 19:21] magnatelee commented on #688
The CI seems happy now. Closing the issue.

[2019-12-21 19:21] #688 closed

[2019-12-28 21:52] lightsighter commented on #653
I believe that we've fixed the underlying cause for this issue and we haven't seen any performance regressions as a result of the fix. Closing this issue for the milestone.

[2019-12-28 21:52] #653 closed

[2019-12-31 09:44] magnatelee commented on #647
Support for 2D CUDA kernel launch is now available in the master branch.

[2019-12-31 09:44] #647 closed

[2019-12-31 22:35] lightsighter commented on #538
I've added support for this with 83fd2ebad. I still think Realm should be consistent in the meaning of it's 'dim_order' parameters for instance creation and do any translations internally, but I've done the right thing for Legion for translating layout constraints to Realm's current interface.

I noticed when doing this that we also don't have support for specifying dimension order (or extents for

[2020-01-02 02:34] streichler opened #714 "cmake: make sure we have -Werror in CI runs"
It looks like warnings are currently permitted.  Reminding myself to dig into this at some point.

[2020-01-02 20:57] lightsighter commented on #710
Legion already has support for [offset constraints](https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/legion_constraint.h#L569-591) in the layout constraints that are specified when creating an instance. Users should be able to use these constraints to pad instances with some extra bytes. I've hooked these constraints up to the realm layout creation logic with 019850d80. @streich

[2020-01-03 21:21] lightsighter commented on #546
Design question for everyone on this issue: when doing copies from a "collective view", how do we pick the actual source instance? There are two cases here:

1. We're copying from a "collective view" to a normal instance, so we need to pick a single source instance to be source of the copy. How do we do that? Do we ask the mapper using something like select_*_sources? Do we enumerate all the possi

[2020-01-06 22:18] streichler commented on #678
@hiemstar is it ok if I close out this bug?  If you want to make a case for this being fixed sooner rather than later, please do so in #679.

[2020-01-06 22:22] streichler commented on #710
Offset constraints don't help for SOA or for fields in separate instances I don't think? @lightsighter can we address this entirely in the instance layouts you're building (e.g. by making sure the `bytes_used` field in an instance layout is never a multiple of common L1 cache sizes)?

[2020-01-06 22:35] lightsighter commented on #710
Legion offsets will still help even with SOA and fields in separate instances. They will put padding before the data is stored. If the mapper puts offsets on some instances and not others then we'll get the effect that we want.

[2020-01-06 22:39] jiazhihao commented on #546
All use cases I have in FlexFlow have one-to-one mapping between different collective views. For (2), i.e., copies between collective views, I think the index space associated with the source/destination collective views should be broadcastable from one to the another (similar to the Numpy-style broadcasting). More specifically, if we assume IS1 and IS2 are the index space for two collective views

[2020-01-06 22:52] streichler commented on #131
This is superceded by #602.

[2020-01-06 22:52] #131 closed

[2020-01-06 22:52] streichler commented on #602
The (re)discovery of arriver locations will be of interest for Realm collective operations as well.

[2020-01-06 22:56] streichler commented on #631
@lightsighter does #693 meet this need, or were you hoping to hold onto buffers for longer periods of time?

[2020-01-06 22:58] lightsighter commented on #546
@jiazhihao I like the broadcasting idea, but NumPy broadcasting is pretty specific that the shape being broadcasted only have an extent of 1 or it doesn't work. I think we probably want this to work even in the case where it can't broadcast in the NumPy sense. We could do something like N % M where M is the extent of the source array along a dimension and N is the extent of the destination array a

[2020-01-06 23:17] magnatelee commented on #436
@elliottslaughter with the fix for #586 write accesses to array-type fields no longer require a read privilege, and we know write-only privileges are promoted to read-write privileges. So, can we close this issue?

[2020-01-06 23:38] manopapad commented on #436
Yup

[2020-01-06 23:38] #436 closed

[2020-01-07 05:55] lightsighter commented on #631
Yes, I think #693 supersedes this issue so I'll close it.

[2020-01-07 05:55] #631 closed

[2020-01-08 18:56] elliottslaughter commented on #709
I've updated the instructions here so that they're hopefully more obvious: https://legion.stanford.edu/profiling/#using-legion-prof-locally

Are we still interested in a technical solution to this problem or is a documentation-only fix sufficient?

[2020-01-08 19:01] elliottslaughter opened #715 "Regent: index launch tasks with dependencies between tasks"
Add support for Regent to index launch tasks when there are dependencies between the point tasks in the launch, similar to what Legion now allows. Required for DOM to index launch all point tasks at once (as opposed to in waves as we currently do).

[2020-01-08 19:01] elliottslaughter commented on #338
I filed  #715 which I believe is the only outstanding aspect of this issue.

[2020-01-08 19:01] #338 closed

[2020-01-08 19:26] elliottslaughter commented on #546
The cases I can think of that should be fairly common are:

 a. Allreduce. The source is a collective view but the instances are reduction instances, so you need to get all the contributions. The result is also a collective view since everyone has to read the result.

 b. Broadcast. E.g. there's a small region that almost always read-only (read by everyone) but does occasionally get written to (on

[2020-01-09 07:24] lightsighter commented on #709
I'm still somewhat interested in a technical solution that will do what @streichler suggested and cram everything into one file. Do we know that this will work for all the browsers or is it just firefox that allows this?

I think we should also update the wiki with information about how to address this issue too.

[2020-01-09 07:32] lightsighter commented on #546
The case of (c), at least as it applies to Pennant, is different than what we are discussing here since those are reductions applied to different sub-regions, so it's not really an all-reduce. Making that case build reduction trees is also on my todo list, but it's a much easier case. The actual third case is just the reduction tree case where you have a collective reduction instance reducing to a

[2020-01-09 07:57] hiemstar commented on #678
That’s fine! Thanks. Sent from Mail for Windows 10 From: streichlerSent: Monday, 6 January 2020 23:18To: StanfordLegion/legionCc: hiemstar; MentionSubject: Re: [StanfordLegion/legion] regent warning [0 - 7fcd2da3e780] {4}{threads}: can't open /sys/devices/system/node (#678) @hiemstar is it ok if I close out this bug? If you want to make a case for this being fixed sooner rather than later, please

[2020-01-09 13:40] #678 closed

[2020-01-09 19:14] elliottslaughter commented on #709
I think it should work, it's just a matter of finding someone with the time to do it.

I've updated the title of this issue to reflect what we're trying to do now.

[2020-01-09 20:16] lightsighter opened #716 "External Thread Drafting"
Legion now supports implicit top-level tasks which allow external threads to behave as though they are a new top-level task. It would be good if we could tell Realm that it can draft these threads into service with certain kinds of properties such as having an attached GPU or being a Python processor.

[2020-01-09 23:52] elliottslaughter opened #717 "DefaultMapper::slice_task allocates P^D memory"
The slice_task implementation in the default mapper allocates a vector of size `P^D` where `P` is the number of processors in the system and `D` is the number of dimensions in the launch. For larger numbers of dimensions, and larger numbers of processors, this can easily exceed available memory. E.g. an 8D launch with `-ll:cpu 16` will result in 16^8 elements being allocated.

The offending line i

[2020-01-10 00:40] elliottslaughter commented on #717
Tentative fix pushed to the branch `default-mapper-fix-slice-task`, will merge once we sort out the template issues.

[2020-01-10 06:47] lightsighter commented on #717
I like the new mappers tag, there should be more mapper issues.

[2020-01-10 22:49] lightsighter commented on #546
Ok, another important question that we need to answer: how do we make a replicated/collective instance in the mapper? Consider an index space task launch in a control replicated context. Each shard gets its own mapper call for "premap_task" and they all want to make a replicated/collective instance to use for the same region requirement. Can the process of doing the replicated/collective instance

[2020-01-13 06:55] rupanshusoi opened #718 "Regent: bug in reading file to struct"
Assume the file "test" has this single line ```2.12 3.13``` of data. The following code prints the two space separated doubles in "test" correctly
[code]
as
[code]
but calling fscanf directly from main
[code]
[code]
does not. Changing Point to an fspace or using %f inside printf in the second code snippet does not help either. Passing temporary variables to scanf and using them to assign to Point

[2020-01-13 22:38] magnatelee commented on #718
I just pushed a fix to the master branch. Can you pull and try again?

[2020-01-13 23:26] elliottslaughter commented on #520
This has been an error (with flag to downgrade to warning) since https://github.com/StanfordLegion/legion/releases/tag/legion-19.12.0. It probably makes sense to wait one more release before making it a hard error.

[2020-01-14 00:35] elliottslaughter commented on #501
The error has been in two releases now, 19.09.0 and 19.12.0. The branch for final deletion is at `no-multi-field-expansion`. I will merge after CI passes.

[2020-01-14 04:06] rupanshusoi commented on #718
Yup, it's fixed. Thanks for the quick fix!

[2020-01-14 04:06] #718 closed

[2020-01-14 09:04] rupanshusoi opened #719 "Regent: uninitialized data warning"
This warning comes up everytime I access some element from a region for the first time. For example, the following code snippet
[code]
outputs
[code]
This has made it very difficult to access large regions. Also seems closely related to #671
As far as I remember, this did not occur for an older version of regent. Even code from the official regent tutorial on physical regions gives this warning no

[2020-01-14 09:17] lightsighter commented on #719
This is a duplicate of #671 and stems from Regent not providing support for write-discard privileges which should be used anytime you write to a region for the first time. Right now you just have read-write privileges in the Regent language and the runtime is warning you to tell you that if you try to read a region that has never been written before then you are going to see uninitialized data. If

[2020-01-14 16:31] elliottslaughter commented on #719
If you weren't accessing the region directly in this task, you could use `fill(r, 0)` to clear the region before accessing it. The reason why #671 is relevant is because if you *do* access the region in the same task, Regent will map it to an instance by default and that mapping will use RW.

[2020-01-14 16:33] elliottslaughter commented on #671
It just occurred to me that there is an easier fix to this issue that doesn't require either general support for `discard` or a fix for #349, because we can just make codegen issue WD for this particular region requirement and it's always safe because it is by definition the first mapping of this region.

[2020-01-14 16:42] rupanshusoi commented on #719
I'm having another problem with accessing regions, but I'm not sure if I should create another issue, so I'm just going to post it here. Any help will be really appreciated.
This code
[code]
outputs
[code]
Even if I pass it to a task with explicit read-write permission
[code]
I still get
[code]
These errors vanish if I pass directly a region to t; the following
[code]
outputs
[code]

[2020-01-14 16:50] elliottslaughter commented on #719
Regions in structs are a bit odd. If you create a region `A` of structs, and the struct contains a region `B`, then passing privileges on `A` doesn't get you privileges on `B`. We've thought about extensions to improve this, but they're not currently implemented.

But what are you trying to do? If we knew the overall goal we could help guide you in the right direction.

[2020-01-14 17:11] elliottslaughter commented on #501
CI passed and I have merged this into master. With this, multi-field expansion has been removed. There may still be some lingering dead code, however.

[2020-01-14 17:11] #501 closed

[2020-01-14 17:39] rupanshusoi commented on #719
I have a data structure "Point" implemented as a struct with various fields. I require an array of ints (or doubles) for some of the fields, and only the max size of the array is known at compile time. I thought of using ``` region(ispace(int1d, MAX_SIZE), int) ``` instead of simply ```int[MAX_SIZE]``` since I was able to initialise the struct by passing a region with a different size than ```MAX_

[2020-01-14 18:22] elliottslaughter commented on #671
This should be fixed in d237068fb31fd711085140205850fc35f8ce9230.

[2020-01-14 20:10] elliottslaughter opened #720 "Regent: support custom serializers for fields, task arguments"
Regent should support custom serializers. These would be used with Legion's serdez interface to serialize fields of regions, and also internally inside the compiler to serialize task arguments of those types. This requires deciding what the user-facing serializer interface should be.

[2020-01-14 20:13] elliottslaughter commented on #719
If it's possible to use a fixed size array, that's the easiest approach right now. (You will necessarily waste some space; whether that's viable will depend on your application.)

There is a plan to add custom serializers to Regent, which would enable true variable size arrays. It's not currently high priority, but we could try to bump it up if you had a usecase for it that's not satisfied by allo

[2020-01-14 21:32] manopapad commented on #671
The first testcase is fixed, but the second one still fails with the same message.

[2020-01-15 19:39] elliottslaughter commented on #717
This has been merged as of 6227da359ce148edfe429bc5c9678c30c745ba40.

[2020-01-15 19:39] #717 closed

[2020-01-16 00:32] elliottslaughter opened #721 "Regent: Support discard on regions"
I'm creating this issue to collect discussion for the design and implementation of `discard` in Regent. This has come up a number of times in other issues since the lack of `discard` results in warnings when accessing a region for the first time.

As of d237068fb31fd711085140205850fc35f8ce9230 there is a limited fix in place, but it only applies when a task is not `inner` (otherwise no inline mapp

[2020-01-16 00:33] elliottslaughter commented on #671
Right, the second test case requires proper support for discard, since no inline mapping is created at all in that case. I'm going to open #721 to track this (since it's been mentioned in multiple issues now) and close this one.

[2020-01-16 00:33] #671 closed

[2020-01-16 00:34] elliottslaughter commented on #458
I'm going to close this issue in favor of #721, which I've created to track progress on `discard`.

[2020-01-16 00:34] #458 closed

[2020-01-16 00:37] elliottslaughter commented on #719
I created https://github.com/StanfordLegion/legion/issues/721 to track progress on discard, though the particular case that caused the warning above should be fixed.

@rupanshusoi If that's all for now, I'm going to close this issue in favor of the other two. But please feel free to open new issues if you run into anything else.

[2020-01-16 00:37] #719 closed

[2020-01-16 02:16] rupanshusoi commented on #719
Yup, thank you @elliottslaughter.

[2020-01-16 18:42] elliottslaughter commented on #320
This still seems to be an issue, see e.g. https://legion.stanford.edu/messages/error_code.html#error_code_399 and then click on any of the `legion_context.cc` links. E.g. one of them goes to https://legion.stanford.edu/github.com/StanfordLegion/legion/blob/ec885f8105dc0d779bf658c6a0cc5c498c477650/runtime/legion/legion_context.cc#L9970 which is not a valid URL.

[2020-01-18 22:31] lightsighter commented on #538
I think this issue is fixed so I'm going to close it and open a new one to track updating posix files to have all the features that we support for HDF5.

[2020-01-18 22:31] #538 closed

[2020-01-18 22:33] lightsighter opened #722 "Update Support for POSIX File Layouts"
We support different file layouts now for HDF5, but we don't have the same support for POSIX files at the moment. This issue will remind us that we need to do that too.

[2020-01-19 23:52] ahenzinger opened #723 "Memory-Memory affinities in machine model"
There aren't and system memory-zero copy and system memory-rdma memory edges in the machine model, when running on 1 node on sapling.

[2020-01-20 10:45] rupanshusoi opened #724 "Regent: passing arrays to tasks"
The following
[code]
takes about 2.5 minutes to run. I noticed the following:

1. The problem vanishes if I change ```t``` to a terra function.
2. If I pass a pointer to an array
[code]
the code executes almost instantly but produces a warning
[code]
3. Reducing the size of the array makes the code faster, but still orders of magnitude slower than it should be.
4. Surprisingly, declaring the same

[2020-01-20 21:54] lightsighter commented on #724
Arrays of that size should really be put into regions. Is there a reason that you're trying to pass it by value?

[2020-01-21 10:50] rupanshusoi commented on #724
I see. I'm fine with passing it by reference too. Can you tell me a way to disable that warning then?

[2020-01-21 18:48] elliottslaughter commented on #724
Just to be clear, I'm pretty sure @lightsighter was suggesting that you pass it via a region. I.e.:

[code]

Or something similar.

You can't just pass a raw pointer (`&int`) because if you're running on a distributed machine, that pointer won't be valid on any other nodes (and in general, Legion can move tasks to other nodes to distribute load).

Having said all this, I do think there is a bug he

[2020-01-21 18:57] rupanshusoi commented on #724
Thank you, this really helps.

[2020-01-21 19:07] elliottslaughter commented on #724
Just as a general rule, we recommend that any data larger than about 1 KB be put into regions, because regions do not require serialization. (Whereas any values passed by value would need to be serialized.)

I'll try to see if I can derive a small reproducer for the compile time issue (since again I'm pretty sure it's in Terra).

[2020-01-21 20:06] elliottslaughter commented on #724
Attaching some reproducers here for this issue:

  * [test_bug_724.rg.txt](https://github.com/StanfordLegion/legion/files/4093457/test_bug_724.rg.txt)
  * [test_bug_724_codegen.t.txt](https://github.com/StanfordLegion/legion/files/4093459/test_bug_724_codegen.t.txt)

The compile time seems to be going into `unpack_param`. The result of running the second reproducer looks like:

[code]

Next step i

[2020-01-21 22:15] elliottslaughter commented on #724
Got it minimized some more, pretty sure this is a Terra or LLVM bug. I posted the further minimized version on the Terra issue tracker: https://github.com/terralang/terra/issues/427

[2020-01-22 18:09] syamajala commented on #603
@magnatelee any word on the new syntax for registering task variants?

[2020-01-23 18:16] lightsighter commented on #680
Another very important use case for this issue is having Python processors with a GPU property so that we know they have an associated CUDA context with them.

[2020-01-23 18:19] lightsighter opened #725 "Make the Realm DMA System NUMA-Aware"
Right now the Realm DMA threads and transfers don't have any notion of which NUMA domain they are running on which can be problematic for transfers that need to occur in a different NUMA domain. It would be good if the DMA system was NUMA-aware to avoid such scenarios.

[2020-01-23 21:31] elliottslaughter commented on #680
Yes, please. I would need this to run e.g. Numba with CUDA support on a Python processor.

[2020-01-24 02:41] streichler commented on #683
This happened as part of commit e7c4832.

[2020-01-24 02:41] #683 closed

[2020-01-25 01:59] aheirich commented on #711
this is preventing soleil-x from running to completion.  After 4-5 hours of running the hit_to_openchannel test case on 5 nodes of Piz Daint the program falls over with out of memory error.

I instrumented legion_c.cc to trace the creation and deletion of Futures.  Here is the output for a typical Future

~/PSAAP/soleil-x-master/src> grep 0x2ab828693f40 run.log
nid04339 legion_index_launcher_execu

[2020-01-25 09:03] lightsighter opened #726 "Generic Python Script for Legion"
I think we need to come up with a generic script for running Python programs in Legion. I feel like we are reinventing the wheel again and again across Pygion, Legate, and FlexFlow. The script should support Python scripts as files, running interactively with an interpreter, and with a Jupyter notebook. Someone tell me if they think this is a bad idea, otherwise we should do it soon.

[2020-01-25 13:10] rupanshusoi opened #727 "Regent: bug vanishes on adding printf statements"
I have a function that returns an array of 4 doubles. Surprisingly only the last double is being miscalculated. You can look at the code here: https://filebin.net/kz5e4hfikrme05w2
You can see that the output has changed by just adding two printf statements.

I figured out that after adding the 3rd element to the array (line 34), changing `temp1` in line 38 is causing `temp2` to also change. Substi

[2020-01-25 18:09] streichler commented on #726
Do we need a script at all?  Wouldn't it be nicer to just `import legion` from any old python script and have the right thing happen?  (This is how mpi4py works.)

[2020-01-25 18:22] lightsighter commented on #726
That's actually not what I'm talking about here. I want something that starts running a Python program inside a top-level task running on a Python processor, so you need all the infrastructure to start-up Legion first (not the Python interpreter), and then execute whatever the Python interpreter/Jupyter notebook code would have done.

[2020-01-25 18:22] lightsighter commented on #726
In particular I completely want to avoid the mpi4py model so that we can have multiple python interpreters associated with a single Legion runtime using subprocesses eventually.

[2020-01-25 18:48] streichler commented on #726
I don't think these things are mutually exclusive.  With the `import legion` approach, you'd be using the existing python interpreter as the first python processor (probably via an implicit top level task), and then a choice to spin up additional python interpreters in subprocesses ought to be possible.  (The potential complications would come from trying to reinitialize the python interpreter in

[2020-01-25 20:21] lightsighter commented on #726
How are we going to prevent the python interpreter from polluting the address space with all its global variables for any python interpreters we want to ultimately create in subprocesses?

[2020-01-26 04:56] elliottslaughter commented on #726
I think the only option guaranteed to work would be to fork+exec, though perhaps you could just fork and reuse the original interpreter (since you're in a new process anyway, you don't care about the GIL, but you will inherit some dirty state from the execution in the original interpreter).

Otherwise I'd ask what's wrong with the existing `legion_python` binary? It's a bit tied to Pygion at the m

[2020-01-26 07:09] lightsighter commented on #726
No support for command line interpreter, juypter notebooks, or control replication (including support for hijacking print deduplication).

[2020-01-26 15:05] elliottslaughter commented on #726
What does that mean?

Ok, we're missing the print deduplication, but otherwise we already support this via "script mode": `legion_python a/b/c/script.py -ll:py N`.

[2020-01-26 18:44] rupanshusoi opened #728 "Regent: arrays are immutable if initialised from function"
The following
[code]
outputs `1`. It's as if the compiler just ignores the `a[0] = 2` statement. Even if I create a new array in `main` and initialise it like so
[code]
the output is identical.
Interestingly, the bug vanishes by just changing `task t()` to `terra t()`.

[2020-01-27 09:28] lightsighter commented on #726
It means you can type in commands to run in the top-level task. :)

Does it work distributed?

[2020-01-27 16:57] elliottslaughter commented on #726
That's called a REPL. :-)

Under control replication, yes.

[2020-01-27 16:59] elliottslaughter commented on #726
By the way, about the REPL, how would you expect stdin to get replicated? Are you expecting Python to launch a task per entry in the user's input, and have the mapper set to map those all to the node that is attached to stdin? Is there even a portable way to figure out what node that is?

[2020-01-27 18:54] magnatelee commented on #603
@syamajala no updates yet. I'm planning to add it by the 20.03 milestone. If you want it to be done earlier than that, just let me know.

[2020-01-27 19:27] pmccormick commented on #726
I agree that we should do this once and the in the right way.   I think this also relates to an aspect Mike and I talked about recently in terms of how you would actually manage REPL (or other mechanisms) injecting code/tasks into an already running application.   I was going to open a new issue (feature request) about adding this to the runtime ("precise exceptions").  I presume at one level they

[2020-01-28 05:02] manopapad opened #729 "Regent: Terra paths not set correctly when using PUC Lua"
I compiled Regent on Lassen as follows:
[code]
which pulled the latest version of branch `puc_lua_master` from https://github.com/StanfordLegion/terra. When I try to run a simple Hello World Regent program I get:
[code]

[2020-01-28 13:41] streichler opened #730 "realm: bulk calls to transfer iterators"
Performance fix (and enabler for device-side copies/reductions): a call to a TransferIterator should return as many AddressInfo objects as the caller can take to amortize the instance layout analysis.

[2020-01-28 13:44] streichler opened #731 "test: automated generation of ~minimal set of CI configurations"
Given a specification of valid CI configurations (e.g. "choose one of the following compilers") and a list of necessary coverage (e.g. "at least one configuration with clang and gasnet1 that tests regent"), it's an optimization problem to determine a (near?) minimal set of configurations that must be run to yield the desired coverage.

[2020-01-28 17:35] elliottslaughter commented on #650
@pmccormick Is this finished? The release was here: https://github.com/StanfordLegion/legion/releases/tag/legion-19.12.0

[2020-01-28 19:05] elliottslaughter commented on #711
Current best guess is that the culprit is an expression like `f() + 1` where the future from `f()` is not being destroyed because it's getting used as an input to the binary expression. This should be fixable within the normalizer, which will turn this into:

[code]

And then we'll follow the usual rules for `var`s which should already be sufficient to catch this.

Having said that, it would reall

[2020-01-28 19:21] elliottslaughter commented on #711
Attaching a reproducer:

[test_future_leak.rg.txt](https://github.com/StanfordLegion/legion/files/4124176/test_future_leak.rg.txt)

[code]

Reports:

[code]

[2020-01-28 19:23] elliottslaughter opened #732 "CI: test with LEGION_GC"
We might have caught https://github.com/StanfordLegion/legion/issues/711 earlier if we'd actually had this test.

Need to build with `-DLEGION_GC`, run with `-level legion_gc=2 -logfile gc_%.log`, analyze with `legion_gc.py -cl gc_0.log`. Should work pretty similarly to our Legion Spy tests.

[2020-01-28 20:12] lightsighter commented on #726
I don't think we need to do control replication with REPL. Just having typing in the loop should be enough to hide latency to pretty much any scale of machine. Legate today does REPL without control replication on distributed machines and it seems to work fine.

I would still make a separate issue @pmccormick. REPL operates above the runtime and doesn't need any support from Legion itself. What yo

[2020-01-28 21:41] pmccormick commented on #650
Mostly, although quarterly software releases are not really what ECP wants to see anymore (but we can use it as part of the storyline).  We need to document the pieces in the checklist to make them happy.  @alexaiken had promised he was going to take care of this one...  ;-)    I would not close it until we submit the ECP report.

[2020-01-28 23:41] elliottslaughter commented on #650
Maybe we should move this into the 20.03 milestone then, since it (by definition) can't be included in the 12.10 release?

[2020-01-29 00:12] elliottslaughter commented on #727
Confirmed. Diffing the output of `-fpretty 1` it looks like some statements are being rearranged. I'm currently thinking this must be in the normalizer because running with `-fflow 0` doesn't change anything, and I'm not sure what else is capable of doing this.

[code]

[2020-01-29 00:19] elliottslaughter commented on #728
I see the problem. Working on this now.

[2020-01-29 00:34] elliottslaughter commented on #728
This should be fixed in 5fe63912072e64b18150cde8607a5dfa8356c8e6. Note that it can take several minutes for the Github mirror to sync with Gitlab.

[2020-01-29 00:36] #728 closed

[2020-01-29 01:02] elliottslaughter commented on #724
This is fixed in a branch in Terra. Will merge once the PR passes.

[2020-01-29 18:49] elliottslaughter commented on #724
Merged in to Terra `master`.

[2020-01-29 18:49] #724 closed

[2020-01-29 19:53] manopapad commented on #729
Fixed!

[2020-01-29 19:53] #729 closed

[2020-01-29 23:58] elliottslaughter commented on #727
Ok, @magnatelee convinced me this is an RDIR bug. Attaching a smaller reproducer:

[code]

Output now varies with the addition/removal of `-fflow 0`.

[2020-01-30 00:39] elliottslaughter commented on #727
Ok, this should be fixed in fbc149e0f5b5a5f0b3ab4cab1686c2b7d6405637, which has been pushed to `master`. Note that you will also need to update RDIR (`git submodule update --init`).

[2020-01-30 00:39] #727 closed

[2020-01-30 17:20] elliottslaughter commented on #732
The first part of this went in with 0940e8e, but we're leaking enough via https://github.com/StanfordLegion/legion/issues/711 (and possibly other bugs) that it's not worth turning on yet. We'll have to wait for that to be fixed before we can seriously consider this.

[2020-01-31 21:57] elliottslaughter commented on #726
You need it when you're defining tasks in Python. E.g. if you enter at the REPL:

[code]

You need to control replicate execution to get this defined on all Python processors. Or else we would need Realm to support [cloudpickle](https://github.com/cloudpipe/cloudpickle) or something similar.

[2020-02-01 16:43] syamajala commented on #603
@magnatelee I will need this sooner rather than later.

[2020-02-03 07:41] lightsighter commented on #726
Yeah, I only think of all this as applying to the top-level task. I can't think of a good reason to start a REPL inside of a task that is not the top-level task unless you are debugging and in that case I suggest we deal with it separately.

[2020-02-03 18:19] elliottslaughter commented on #726
Oh, I guess I was assuming that the top-level task could define other tasks. This is actually a use case today with Pygion when you run in script mode (the script becomes the top-level task, so it actually makes sense to define tasks inside of it). But otherwise, yes, I agree the REPL is only needed at top-level.

[2020-02-03 18:20] elliottslaughter commented on #726
I have a partial solution to factoring out some of the Pygion internals so we can start to do this, but it's not yet passing CI. After I get it to pass, I'll move on to generalizing the other bits to make this work.

[2020-02-04 00:32] marcinz commented on #516
I have observed this issue in the wild. I use partition by image range, and my image ranges are located on GPU. As a workaround, I will modify our mapper to copy the ranges to CPU first.

[2020-02-04 00:47] elliottslaughter commented on #726
The first part of this in master as of 161442623283c39ec31ae0767353728247b99971. Once we resolve the naming issue around Pygion bindings, I'd like to suggest we declare `legion_python` to be the official executable runner, and the `legion_cffi` to be the official low-level bindings.

Please let me know what else is missing in the current setup. My list currently has:

  * Factor out `legion_top` f

[2020-02-04 06:55] lightsighter commented on #726
What is our plan for having people build C extension modules in Python that rely on Legion? Can we link against the `legion_python` binary or do we need to have some other strategy? Hint: someone at NVIDIA (not me) is working on C extension library built on top of Legion that has to work with Legate.

[2020-02-04 08:45] marcinz opened #733 "C API for partitioning by range lacks a mapper id and tag parameter"
`legion_index_partition_create_by_image_range` lacks a mapper id parameter.

I was able to easily add it, but the question is whether all the related partitioning interfaces, even the ones that do not need it should have these parameters, or should they be only available where strictly needed, or is even a deeper restructuring of the C interface necessary.

The mapper is necessary to avoid the fol

[2020-02-04 08:48] marcinz commented on #733
This is a simple patch that worked for my particular situation:

[code]

[2020-02-04 09:32] lightsighter commented on #733
@elliottslaughter Why did we not include the mapper and tag as options in the C API?

[2020-02-04 09:34] lightsighter commented on #726
One other complication here: looks like some people from NVIDIA might be contributing some Cython bindings for the C++ API as well. Not sure what we're going to do with those yet...

[2020-02-04 17:46] elliottslaughter commented on #726
You can't link against an executable, which is exactly why I wasn't able to use CFFI's "API mode" (which uses a C compiler, rather than dlsym and libffi). So if you need to do this, you need to use CMake, and you have to set `-DBUILD_SHARED_LIBS=ON` so that the build generates `liblegion.so`. Alternatively, we could teach the Makefile to do this.

Who's going to maintain the Cython bindings? Unles

[2020-02-04 18:04] elliottslaughter commented on #733
Pushed with f27792704466bad2efe296ecd7db3d741008c194, and also updated several other C APIs along the way.

[2020-02-04 18:04] #733 closed

[2020-02-04 21:42] elliottslaughter commented on #696
This is supported in 429a17fb8553c828384996b24cebef2738919413 via the syntax `foo:set_mapper_id(42)`.

[2020-02-04 21:42] #696 closed

[2020-02-04 21:46] elliottslaughter commented on #438
This is supported in 429a17fb8553c828384996b24cebef2738919413 via the syntax `foo:set_mapping_tag_id(TAG1)`. I'd be willing to consider a version for arbitrary semantic info if that would help, but I think this solves the immediate issue at hand.

Note that this will assert if you attempt to use it at the same time as Bishop, since we can only have one mapping tag associated with a task.

See also

[2020-02-04 21:46] #438 closed

[2020-02-04 21:53] elliottslaughter commented on #422
I think this has been fixed, either in some of my recent RDIR changes, or else in the normalizer. I can no longer reproduce.

[2020-02-04 21:53] #422 closed

[2020-02-04 21:56] elliottslaughter commented on #354
This seems to have been fixed by some recent changes.

[2020-02-04 21:56] #354 closed

[2020-02-04 21:59] elliottslaughter commented on #721
Copying from private discussion: @streichler has suggested that `discard` should be a verb, like `fill`. You'd do something like:

[code]

That is, the contents of `r` will be explicitly discarded before running `some_task`.

I don't really see a way to implement this without runtime support, but it's worth keeping in mind as one of the available options.

[2020-02-04 22:09] lightsighter opened #734 "Regent - Mapping Tags on Callsites"
We added support for specifying mappers for different task implementations in #696. While it's common for mappers to be specified by libraries on particular implementations, its more common for mapping tags to be specified on a per-callsite basis to provide context. It would be good for Regent to have a syntax for passing mapping tags at individual callsites.

@manopapad for visibility.

[2020-02-04 23:16] streichler commented on #710
Now that Legion is building its own instance layout constraints, Realm no longer has any control over how things are aligned.

[2020-02-05 00:01] lightsighter opened #735 "Teach CMake to Compile Runtime GPU Objects"
Commit 48813c828 started adding support Legion to provide GPU reduction kernels for folding and applying reduction instances. This included the addition of a new file `legion_redop.cu` which is a runtime CUDA file and has to be built differently than other runtime objects that are only C++. Additionally, the build system must pass `-DLEGION_GPU_REDUCTIONS` to `CC_FLAGS` and `NVCC_FLAGS` when compi

[2020-02-05 00:49] elliottslaughter commented on #735
Pushed some initial work to `cmake-legion-redop`. Currently fails with:

[code]

Which seems to be pointing into our custom FindCUDA, which I'm honestly not sure why we even have in the first place. Will debug when I get a chance, but help would be appreciated.

[2020-02-05 00:51] seemamirch commented on #709
Legion Prof deals with json and multiple tsv files. The data in tsv files can be large - they contain proc/channel/memory etc. timeline information. As a result they are selectively loaded on demand - i.e. when the user expands a particular view. To make the single html file work - we need to cram those tsv files too - which may not be what we want to do.

[2020-02-05 01:03] streichler commented on #709
could we experiment with embedding them as a base64-encoded string or something and only decoding it when needed?  I'm guessing that the cost of pulling the data over the network is tiny compared to the parsing of it

[2020-02-05 01:19] lightsighter commented on #726
I think we want to do this. I want to get away from building a monolithic Legate binary where we have to build support for NumPy and Pandas and Dask all into a single binary. I'd rather build them as separate .so objects that link against liblegion and then have a binary that loads them all on demand as they are loaded as Python modules from application code.

These will be maintained by NVIDIA pe

[2020-02-05 06:34] qyz96 commented on #663
Hi, I am encountering this issue again:
https://github.com/StanfordLegion/legion/issues/663#issuecomment-559934608

Could you help me with this? I have run the code in gdb and the output says:

Starting program: /home/users/adncat/yizhou/Legion/language/terra/terra yizhou/Legion/language/examples/cholesky.rg -ll:cpu 12 -ll:util 4 -ll:csize 8192 -fflow 0 -foverride-demand-index-launch 1 -n 20000 -n

[2020-02-05 07:03] lightsighter commented on #710
I'm going to close this issue tomorrow unless someone speaks up because the offset constraints in Legion allow users to pad their instances themselves now. @ipdemes @jpietarilagraham @gshipman @tuxfan @pmccormick

[2020-02-05 07:05] lightsighter commented on #721
It's worth noting that doing it like that will double the runtime overhead of discard as now there would be a whole other operation that has to go through both logical and physical analysis and everything that is associated with it. I'm very much not in favor of that.