[2018-10-10 00:46] manopapad opened #438 "Better solution for passing information from application to mapper"
This was motivated by the way we're currently differentiating between the two simulations in 2-section cases in Soleil's mapper: we're attaching different semantic information to the regions of each simulation as we create them. According to @lightsighter, this is not what semantic information should be used for. Instead, we should be using the `MappingTagID` on the operation launcher.

One issue

[2018-10-10 02:35] elliottslaughter commented on #438
A couple of thoughts on alternative ways to do this. It might be worth exploring these first before jumping down the hole of implementing something new.

1. Why do you need information about the task at all? Don't you really care about the *parent* task? I'm pretty sure the mapper has an API to look up the parent. You could have the mapper attach metadata to the parent during `map_task` and then l

[2018-10-10 03:18] manopapad commented on #438
1. I have two copies A and B of the same simulation created through metaprogramming and inlined in the same task. I need to copy data from A's fluid grid to B's fluid grid between fluid solves, and this was the most straightforward way to achieve that. A and B have the exact same set of regions (for the fluid grid, particles, DOM grid etc.) so I can't e.g. use the fieldspace to differentiate betwe

[2018-10-10 08:27] lightsighter commented on #438
The example illustrated by @manopapad is exactly why MappingTagID exists. The application often needs to provide context sensitive information to the mapper so that the mapper can differentiate between tasks that have the same arguments, but should be mapped differently.

[2018-10-10 17:38] elliottslaughter commented on #438
So I guess we could add a syntax like:

[code]

And for index launches:

[code]

One of the tricky points is that the first syntax can't work for index launches, because you only get one mapper tag for the whole index launch.

I could imagine making this smart enough to stuff if into the mapper tag if the value is an `int32` and into the mapper metadata otherwise.

However, using this feature will

[2018-10-10 17:47] elliottslaughter commented on #436
I'm not sure what @lightsighter is suggesting here. The error @manopapad receives above is correct: `reads` is required but wasn't specified. The issue of inference seems orthogonal to this.

[2018-10-10 20:53] lightsighter commented on #436
@elliottslaughter Why is a read privilege necessary here? The code only writes to the field (to be precise it's only writing to a part of the field) but it definitely isn't reading the field at all. I fail to see why a read privilege is necessary. I'm assuming this is a bug in your privilege inference analysis.

[2018-10-16 21:54] manopapad opened #439 "Parallelizer drops 'atomic' annotations"
If you run the following Regent code with `-fpretty 1`:

[code]

you will get the following output:

[code]

It seems like the parallelizer is dropping `atomic` annotations.

[2018-10-16 22:25] manopapad opened #440 "Regent CUDA codegen inefficiency: blocking in tasks that do scalar reductions"
Refer to this profiler output from a Soleil-X GPU-only single-node run on Sherlock: http://sapling.stanford.edu/~manolis/28913694/legion_prof. You will notice that there are gaps in GPU utilization. Most of these gaps align with tasks blocking during execution, specifically those tasks that are doing scalar reductions over their regions (`Flow_AddTurbulentSource`, `Particles_DeleteEscapingParticle

[2018-10-17 09:09] lightsighter commented on #440
Why isn't Regent using the DeferredValue and DeferredReduction classes to avoid syncing the GPU when doing these reductions?
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L2330-2349

[2018-10-18 18:12] elliottslaughter opened #441 "Can't get error messages out of Python on Summitdev"
Legion programs written in Python do not seem to produce proper error messages on Summitdev. This could either be something specific to that machine, to the PowerPC architecture, or to the fact that we're using Python 3.

Example:

If there is an exception while importing a module:

[code]

If there is an exception in a task:

[code]

In either case, we're not able to get the actual string content

[2018-10-18 18:42] magnatelee commented on #440
I think Regent can use DeferredReduction at least to get rid of cudaMemcpy that it currently emits, although we're not gonna be able to call any of the methods, because the current PTX code generation cannot handle external function calls. Making CUDA variants actually return a DeferredReduction object is going to be non-trivial because it also requires to change the preamble and postamble of the

[2018-10-18 20:05] elliottslaughter opened #442 "RFC: Optional dynamic types for Legion fields"
I've been thinking about how to do interop between Regent and Python tasks, and one of the challenges is that going in the Regent -> Python direction we lose type information. Currently for Python -> Python calls we pickle the field space, which includes type information, so that we can figure out what to do with the region when we unpack it.

One way to solve this that would generalize beyond jus

[2018-10-19 06:17] lightsighter commented on #442
It's worth noting that we already have some partial support for runtime types in Legion for the coordinate types of index spaces and we could probably extend some of the existing machinery to capture a limited set of (probably just POD) data types. Right now the runtime keeps around TypeTag information on index spaces:

https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L102

Ty

[2018-10-24 07:01] lightsighter commented on #215
This bug has been fixed in the nocomp branch and this issue can be closed once nocomp merges back into master.

[2018-10-24 15:43] elliottslaughter commented on #215
Do we have test coverage to ensure that it stays fixed?

[2018-10-24 23:51] elliottslaughter opened #444 "Auto-detect PyPy in test suite"
Currently, Legion Spy tests fail if `pypy` isn't available or on `PATH`. Would be good to auto-detect and call Python for machines that don't have PyPy.

[2018-10-25 16:30] junghans opened #445 "Linking error when building legion-18.09 against gasnet-1.32.0"
On Fedora rawhide, I get the following linking error:
[code]

It seems `libgasnet_tools-par` and `libgasnet_tools-par` both define `gasneti_threadkey_val__gasneti_rwlock_list()` but in an mismatching way, so I guess only one of them should be linked.

Could be a gasnet problem as well, so CC'ing @bonachea and @PHHargrove.

[2018-10-25 16:35] streichler commented on #445
From the error message, the linker is somehow trying to bring in both the sequential and parallel GASNet libraries, which is definitely not going to work.  @junghans, can you show how the system gasnet was configured/built and what the cmake setup is for Legion?

[2018-10-25 16:46] junghans commented on #445
Sure, [here](https://github.com/StanfordLegion/legion/files/2515952/build_rawhide.txt) is the full build log.

[2018-10-25 16:58] streichler commented on #445
Hmm...  Nothing is jumping out at me there.  Can you try legion-18.05.0+GASNet-1.32.0 as well as legion-18.09.0+GASNet-1.30.0?  I don't think we changed anything in the legion build in the last few months, but we're still using GASNet 1.30.0 for our CI runs I think, so there could be an incompatibility with 1.32.0 that we didn't notice.

[2018-10-25 17:03] junghans commented on #445
I think it worked with gasnet-1.30, but let me do a rebuild!

[2018-10-25 17:21] junghans commented on #445
@streichler, it builds with gasnet-1.30

[2018-10-25 18:15] junghans commented on #445
Ok Rawhide (gasnet-1.32) and legion-18.05: https://koji.fedoraproject.org/koji/taskinfo?taskID=30458926

[2018-10-25 18:17] elliottslaughter commented on #444
@lightsighter Should be fixed in 2a5cac8f9b6c2de25fbfc07af1f5ea6c825bb64e. Can you confirm?

[2018-10-25 18:34] junghans commented on #445
Same error with legion-18.05.

[2018-10-25 18:35] bonachea commented on #445
I agree with @streichler this definitely looks like a build system problem.

`libgasnet_tools-seq.a`,  `libgasnet_tools-par.a`, and `libgasnet-mpi-par.a` are all mutually exclusive - each of the GASNet conduit libraries implement the GASNet comm API for that backend *and* and the GASNet-tools API. The `gasnet_tools-{seq,par}.a` libraries are for clients who want to use the GASNet tools API **witho

[2018-10-25 18:48] junghans commented on #445
@bonachea, the [fedora packaging guide](https://fedoraproject.org/wiki/Packaging:Guidelines#Packaging_Static_Libraries) is pretty clear about static libraries, which is why I had to wrap them, if you have a better solution I am happy to push it into fedora.

@streichler Another solution would be, of course, to not build Legion without Gasnet support. Or to drop Legion from Fedora.

[2018-10-25 19:39] junghans commented on #445
[Bundling](https://fedoraproject.org/wiki/Packaging:Guidelines#Bundling_and_Duplication_of_system_libraries) is an issue in itself, so let's try the static route.

[2018-10-25 22:45] junghans commented on #445
I think, that fixed it!

[2018-10-25 22:45] #445 closed

[2018-10-25 23:11] junghans commented on #445
@nmorey, I guess you will have to do the same for OpenSuse.

[2018-10-29 23:16] manopapad opened #446 "Inliner changes behavior in PENNANT"
On a fresh pull of Legion master, go to `language/examples` and run `regent.py pennant_sequential.rg pennant.tests/sedovsmall/sedovsmall.pnt -npieces 1 -fparallelize 0 -fcuda 0`. You should get (at the end of the simulation):

[code]

If you go into `pennant_sequential.rg` and add `__demand(__inline)` to task `continue_simulation`, the output of the same command becomes:

[code]

Here is the prett

[2018-10-31 23:41] lightsighter commented on #444
Fixed. Closing the issue.

[2018-10-31 23:41] #444 closed

[2018-10-31 23:42] lightsighter opened #447 "Optional Subscribe Parameter to 'has_triggered' in Realm"
Add an optional boolean parameter to request that has_triggered subscribe to event triggering notifications on remote nodes.

[2018-11-01 02:33] TWarszawski opened #448 "Segfault due to vectorizer bug in Regent."
Can be reproduced by running the pagerank_edge.rg file from assignment 4 of cs315b on examples/example2.dat.  The error goes away when running with -fvectorize 0.

[2018-11-02 17:51] streichler opened #449 "Overzealous malloc result checks in Regent"
Regent's code is littered with snippets like this:
[code]
(https://gitlab.com/StanfordLegion/legion/blob/32157fa0001c88640a6a2a9c7f496606be4d85d3/language/src/regent/codegen.t#L2428-2429)

These asserts suffer false positives when used with a malloc implementation that (legally) returns null for zero-sized allocations.

[2018-11-02 20:48] elliottslaughter commented on #449
Should be fixed in 7cbc8f2.

[2018-11-07 06:42] lightsighter opened #450 "Fix MiniAero Read of Uninitialized Data"
MiniAero is currently performing a read of uninitialized data in the tests. As a result we've had to disable a test in the nopaint branch and all downstream branches.

hellbender:3D_Sod_2nd_Order mebauer$ ../../mini-Aero.exe -blocks_per_superblock 2 -blocks 4 -problem sod -x .3048 -y 1 -z 1 -ramp 0 -mesh 128x4x4 -time_steps 100 -dt 2e-6 -second -output_results -level 3 -output_frequency 10 -ll:cpu

[2018-11-10 16:30] rauteric opened #451 "Postfix increment in iterators should return value before advancing"
In the iterators `DomainPointIterator`, `PointInRectIterator`, `RectInDomainIterator`, and `PointInDomainIterator` (and perhaps others), the postfix increment operator (`operator++(int)`) is implemented as a prefix increment, i.e., by advancing the iterator and then returning. An example for PointInRectIterator is [here](https://github.com/StanfordLegion/legion/blob/be7a87c13275874e3e21995efa52524

[2018-11-10 17:05] lightsighter commented on #451
Should be fixed in the master branch of Legion on gitlab. Here's the commit:

https://gitlab.com/StanfordLegion/legion/commit/7610005065e7f0092310459197bcf17fd1241207

It'll make it's way here to github after passing CI.

[2018-11-13 07:03] lightsighter commented on #451
Closing this issue now that CI has passed.

[2018-11-13 07:03] #451 closed

[2018-11-18 00:57] manopapad commented on #413
I was looking at this today and realized that my code snippet is wrong. The following expression is not safe:
[code]
It should instead be:
[code]
which is equivalent to what we actually do in Soleil:
[code]
This is starting to get pretty complex, but I don't immediately see any other (non-built-in) way to communicate to the compiler that we want to modulo over the loop bounds.

[2018-11-28 21:00] elliottslaughter opened #452 "Freeze in partition_by_union with non-overlapping colors"
@syamajala recently showed me a case where we hang when we take the union of partitions `A | B` if `A.colors` and `B.colors` is non-overlapping (i.e. each of `A.colors` and `B.colors` contain points not in the other). It probably also occurs in other cases too, this is just the reproducer we have right now.

What's the expected behavior in this case? Clearly, it shouldn't freeze, but is this expec

[2018-11-28 23:29] lightsighter commented on #452
@elliottslaughter How do you compute this parameter to create_partition_by_union:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/legion_c.cc#L1187

[2018-11-28 23:47] elliottslaughter commented on #452
It's in the highlighted code up above. I'm taking the two argument color spaces and passing them to `legion_index_space_union` to get the union color space.

[2018-11-29 00:44] elliottslaughter opened #453 "Add support for .volume on regions"
This was originally added in 4e1e324a20daf1acf47e6d693cdda5a5c06c4be5, but because of some breaking bugs, it has been temporarily reverted by e237d08ec1fc3f0d1f675c32f04bc649699ffb49. When we have the time it would be nice to add the original commit back in and fix the resulting fallout.

[2018-12-01 00:46] tpatki opened #454 "Hardcoded values in runtime/legion/legion_config.h"
The legion_config.h file defines MAX_NUM_PROCS to hardcoded values, which are being used despite USE_HWLOC being set as 1. We have nodes with 72 cores on our system with SMT, and there should be a nicer way to detect this through HWLOC than to edit the legion_config.h. Also, it seems that this value needs to be a multiple of 64, and it is unclear why this value needs to be a multiple of 64 and wha

[2018-12-01 01:09] tpatki opened #455 "Documentation on multi-node runs, ll:mp_cpu, ll:mp_threads, ll:cpu"
It is unclear how to correctly get the simplest legion mapping on a multi-node system with GASNET. Couple of things we can use help in:

1) After the execution, how do we check the total number of tasks that were run? Legion Spy produces task/event graphs, but we couldn't find information on task counts or specific runtime mappings (without digging through details of mapper code).

2) How do we la

[2018-12-03 17:56] elliottslaughter commented on #453
Confirmed, thanks.

[2018-12-03 17:56] #453 closed

[2018-12-03 18:04] elliottslaughter commented on #454
I'll need @streichler to confirm to be absolutely sure, but I'm pretty sure this is being used to size a bitmask. Certain kinds of IDs get bitpacked with node number / processor number / resource number etc. all packed into the same bit field, so increasing this puts pressure on e.g. the maximum number of nodes (or on the size of the bitfield). Also more generally, if we made this dynamic it would

[2018-12-03 18:37] elliottslaughter commented on #455
A couple things (ok, more than a couple):

 1. Just as a heads up, Legion Spy is very slow, so please don't run it in any runs where you intend to measure performance. It's fine to use it for debugging, but remember to turn it off (and recompile) before you start performance runs because even having it compiled into a Legion binary will have a performance impact.

 2. As a related reminder, turn o

[2018-12-03 21:57] streichler opened #456 "Enable gasnet/CUDA in realm unit tests"
The CI test script does the following for Realm unit tests:
[code]
which means that even the CI configs that claim to include GASNet and/or CUDA are not testing that
for Realm.  This needs to be re-enabled, once those tests actually work in that mode.  :)

[2018-12-03 23:07] elliottslaughter commented on #455
Did you get a separate output file per rank? It looks like this output has been interleaved, which makes it a bit difficult to read.

The `core map {` part shows what Legion thinks it was assigned by the job scheduler. In this case, it seems like Legion thinks each runtime got assigned the entire node, even though your SLURM command line seems to show 2 runtimes per node? In this case, you might n

[2018-12-04 01:36] manopapad opened #457 "Spurious warning about waiting in non-leaf task"
If you run this program:
[code]
with `-lg:warn`, you get this warning:
[code]
It seems like a future is created to hold the result of the first invocation of `foo`, but the `main` task doesn't actually block on that future, but passes it to the second invocation.

[2018-12-04 02:39] manopapad opened #458 "Spurious "uninitialized data" warnings on Regent-emitted initialization tasks with DCR"
In Soleil we have a number of initialization tasks that look like this:

[code]

When we run on the `control_replication` branch, we get a lot of warnings like this:

[code]

The reason why we see this is because Regent is conservative with how it propagates privileges to Legion. Here are the current possibilites:

Regent privilege | Can do `x = r[i].f`? | Can do `r[i].f = x`? | What Legion sees
-

[2018-12-04 02:45] elliottslaughter commented on #458
My understanding was that Legion never issues warnings for READ_WRITE privilege, only for READ_ONLY privilege, in part to avoid false positives like this. @lightsighter can you confirm?

[2018-12-04 04:19] lightsighter commented on #458
@elliottslaughter We issue warnings for READ_WRITE privileges and we issue errors for READ_ONLY privileges.

[2018-12-04 18:48] elliottslaughter commented on #455
Can you try `--cpu-bind=X,verbose` where `X` is `cores` or whatever binding you're trying to use? Then we can compare that to what Legion is seeing.

Also, can you try disabling hwloc and see if the problem still persists?

I believe the `--output` flag to srun should be able to do what you want. E.g. `--output "out_%J_%t.log` should give you a file per rank.

[2018-12-04 20:12] tpatki commented on #455
Ah, I was missing the %t for task, thanks!

Here's the test I ran, `hwloc` was disabled by setting `USE_HWLOC` to 0 in the Makefile for circuit.

```srun -N2 -n4 --cpus-per-task=18 --cpu_bind=cores,verbose --output out_%J_%t.log ./circuit -p 100 -ll:cpu 16 -ll:util 1 -ll:dma 1 -ll:show_rsrv```

Here are the log files. 4 tasks are being created, but I'm not sure how legion is mapping cores.

[out_1

[2018-12-04 20:19] tpatki commented on #455
Here are the ones with hwloc enabled, these look like they're picking up logical processors.

```srun -N2 -n4 --cpus-per-task=18 --cpu_bind=cores,verbose --output out_with_hwloc_%J_%t.log ./circuit -p 100 -ll:cpu 16 -ll:util 1 -ll:dma 1 -ll:show_rsrv```

[out_with_hwloc_1874952.5_0.log](https://github.com/StanfordLegion/legion/files/2645962/out_with_hwloc_1874952.5_0.log)
[out_with_hwloc_1874952.5

[2018-12-04 20:59] elliottslaughter commented on #455
Wow, it looks like these are actually both buggy.

  * without hwloc, we're picking up the affinity mask but then somehow ignoring the hyperthreads.
  * with hwloc we're not picking up the affinity mask at all, so both ranks on a node are trying to map to the same set of cores.

I'd recommend without hwloc for now, it will not use hyperthreads correctly but at least there won't be collisions betwe

[2018-12-04 21:09] tpatki commented on #455
Thanks for looking into this, @elliottslaughter!

[2018-12-04 21:39] tpatki commented on #455
I ran another test for you in case this helps. So, without hwloc, but setting ll:cpu to 34 as opposed to 16 (as we have 36 logical cores per processor). This isn't printing out the allocated CPUs for some reason...

```srun -N2 -n4 --cpus-per-task=18 --cpu_bind=cores,verbose --output out_no_hwloc_34LLCPU__%J_%t.log ./circuit -p 100 -ll:cpu 34 -ll:util 1 -ll:dma 1 -ll:show_rsrv```

[out_no_hwloc_34

[2018-12-04 22:36] tpatki commented on #455
On another note, @elliottslaughter, the `mp_cpu` and `mp_threads` options are a part of the `procset` module here: https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/procset/procset_module.cc#L110

My very limited understanding from when @amarathe84 was tracing through the example was that there was a call to`create_processors`, which was calling the procset module, but we may be e

[2018-12-04 22:51] tpatki commented on #455
On another note, @elliottslaughter, the mp_cpu and mp_threads options are a part of the `procset` module here: https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/procset/procset_module.cc#L110

My very limited understanding from when @amarathe84 and I were tracing through the example was that there was a call to `create_processors`, which was calling the `procset` module, but we ma

[2018-12-04 23:45] tpatki commented on #455
I see.

We're not looking into OpenMP or MPI, just multi-node Legion (I'm not even sure how to reason about Legion threads/tasks + OpenMP tasks yet). Is it safe to assume that `procset` will not get called (I see it being included here without any ifdef: https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/module.cc#L40, but I can see checks in place for PROC_SET in mapper functions)

[2018-12-05 03:55] streichler commented on #455
@tpatki, can you try running the non-hwloc case with `-level threads=2` on the command line and attach the logs?

[2018-12-05 05:55] lightsighter commented on #454
Both MAX_NUM_NODES and MAX_NUM_PROCS need to be a power of 2. If you violate the constraint you'll get a static assert and your code will fail to compile. These just have to be an upper bound on the number of nodes/processors and doesn't need to be tight.

[2018-12-06 02:06] streichler commented on #455
Ok, there's some discrepancy between the cpu binding that srun says it's doing and what Realm is seeing:
[code]
Realm is using the results from `sched_getaffinity`, which do not seem to include the upper set of bits in the message from srun.

[2018-12-06 20:08] tpatki commented on #455
Here's what I got.

[out_numactl_1891044.5_0.log](https://github.com/StanfordLegion/legion/files/2654668/out_numactl_1891044.5_0.log)
[out_numactl_1891044.5_1.log](https://github.com/StanfordLegion/legion/files/2654669/out_numactl_1891044.5_1.log)
[out_numactl_1891044.5_2.log](https://github.com/StanfordLegion/legion/files/2654670/out_numactl_1891044.5_2.log)
[out_numactl_1891044.5_3.log](https://

[2018-12-07 02:39] streichler commented on #455
Ok, so the `numactl` output matches what Realm is seeing from `sched_getaffinity` and not what `srun` says it is setting the mask to.  @elliottslaughter, have you seen anything like this before?

[2018-12-07 03:06] elliottslaughter commented on #455
I've definitely seen cases where `taskset` reports something different than `numactl`. I'm not sure why. But I've never seen divergence between `srun` and `realm`/`taskset`.

If you want another data point, you could try:

[code]

[2018-12-08 01:09] tpatki commented on #455
Here's the taskset output. This seems to match `srun`...

[out_taskset_1898584.5_0.log](https://github.com/StanfordLegion/legion/files/2659224/out_taskset_1898584.5_0.log)
[out_taskset_1898584.5_1.log](https://github.com/StanfordLegion/legion/files/2659225/out_taskset_1898584.5_1.log)
[out_taskset_1898584.5_2.log](https://github.com/StanfordLegion/legion/files/2659226/out_taskset_1898584.5_2.log)

[2018-12-08 01:36] streichler commented on #455
Actually, I think it matches `realm` and `numactl`:
[code]
Bits 0-17 are set, but bits 36-53 are not.

[2018-12-08 02:18] tpatki commented on #455
Oops, sorry, yes, you're right. I also tried running with `srun --cpu_bind=threads,verbose`
 to see if the logical processors get picked. Any other ideas on what to try? Here's what I get with `numactl -s`, `taskset` and `./circuit -p 100 -ll:cpu 16 -ll:util 1 -ll:dma 1 -level threads=2 -ll:show_rsrv` when I use `cpu_bind=threads` instead of cores.

[out_cpubind_threads_1898716.6_0.log](https://gi

[2018-12-10 18:20] elliottslaughter commented on #454
I've pushed a change to document that they must be powers of 2.

@tpatki Does this resolve your main problem in this issue?

[2018-12-10 18:32] tpatki commented on #454
Yes, it does. Thanks!

[2018-12-10 18:34] #454 closed

[2018-12-10 18:48] aheirich opened #459 "bad values printed by C.printf from Regent code"
Here is sample output from this program:
Grid_xBnum 1
Grid_xOrigin 0 + (Grid_xWidth 6.28319 / Grid_xNum 64) * (c.x -0.0490874 - Grid_xBnum 0 + 0.5) = -0.0490874
Grid_xBnum 1 c.x 6.28319 Grid_xNum 0 Grid_xWidth 0 Grid_xOrigin 0
--- Grid_xBnum 1 result -0.0490874
--- cxyz -0.0490874 0 0

Notice that this reports various values, for example Grid_xBnum is report as 0 and 1, c.x is reported as -0.04908

[2018-12-10 18:54] aheirich commented on #459
source files have been put in a soleil-x branch
https://github.com/stanfordhpccenter/soleil-x/tree/github_issues_459/src

[2018-12-10 19:04] elliottslaughter commented on #459
I'm getting this error when I build:

[code]

[2018-12-10 19:37] elliottslaughter opened #460 "Statically check type arguments to printf calls in Regent"
Currently Regent does not check the types of arguments to printf calls, even when the format string is known at compile time. If the user makes a mistake in the format specifiers, bad values will be printed out. Modern C++ compilers have some checking for this, and it would be good to add it to Regent as well.

[2018-12-10 19:38] elliottslaughter commented on #459
Update on the fix for this issue:

There were two bugs in the printf format specifiers in the code:

  * The code used `%lg` (`long double`) but the argument was a `double`. Fix was to change to `%g`.
  * The code used `%lg` for `c.x`, which had type `int64`. Fix was to change to `%ld`.

I've made a bug here to track the addition of checks that would have caught these bugs: https://github.com/Stan

[2018-12-10 19:38] #459 closed

[2018-12-10 20:58] elliottslaughter commented on #459
Minor correction: `%lg` is actually the same as `%g`; both use type `double`. I made a mistake reading the man page and only `%Lg` is `long double`.

[2018-12-12 06:14] manopapad commented on #338
Posting an update on this issue.

- Soleil-X can currently run with and without DCR; at compile time we figure out what your Legion installation supports and compile against that.
- Regent's `__replicable` check succeeds for all work tasks.
- All tasks are launched using index space launches, except DOM sweeps, which are launched individually.
- AFAIK we don't use any non-identity projection funct

[2018-12-14 02:36] tpatki commented on #455
Okay, I believe I've figured out what may be causing this. At LLNL, we have a separate ``srun`` flag that is enabled by default, called ``--mpibind`` that automatically binds processes/threads to cores in order to ensure better reproducibility on science runs. I wasn't aware that this is on by default, turning this off shows a better ``numactl`` result (see below).

Can you check that the mappings

[2018-12-15 03:37] lightsighter commented on #452
What happens if you run the code with:
var up = part & part2

[2018-12-17 19:41] syamajala commented on #452
That also freezes.

[2018-12-17 21:40] magnatelee commented on #430
@manopapad I pushed an initial fix (d31a9166) that at least covers Soleil-X. The "centeredness" check in this fix is not yet complete, so I'll keep this issue open until I pushed a complete check, which will come as part of the parallelizability checker.

[2018-12-17 22:52] tpatki commented on #455
@elliottslaughter, @streichler: Can you please confirm the above mapping and help me identify input parameters/alternate application that generates enough tasks to keep the CPUs utilized?

[2018-12-17 23:47] elliottslaughter commented on #455
Yes, that binding looks correct now.

Can you try something like the following?

[code]

I'm showing this as a loop so you can see what I expect to vary as you scale.

The values of `-npp` and `-wpp` are just guesses because it's been a while since I ran this variant of Circuit and they will depend on your hardware at any rate. These determine how computationally intensive the tasks are. `-npp` st

[2018-12-18 00:04] elliottslaughter commented on #455
I made some minor edits to my comment above to fix typos and correct for the number of runtimes per node.

[2018-12-18 02:08] tpatki opened #461 "Understanding output of the custom_mapper tutorial"
I'm trying to understand what to expect when a call to ``machine.get_all_processors(all_procs)`` is made. I am referring to this example: https://github.com/StanfordLegion/legion/blob/stable/tutorial/09_custom_mapper/custom_mapper.cc#L213

I'm running this on a single node, and on a single processor for a sanity check, and I saw two processors being returned, one for utility and one for CPU. This

[2018-12-18 18:00] elliottslaughter commented on #461
Realm `Processor` IDs should be thought of as virtual, unique identifiers. They do not correspond to hardware cores or threads in a 1-to-1 way. Currently the assignment of Realm `Processor`s to hardware resources is an implementation detail of Realm and not exposed. If it's important to expose it, we'd probably want to work through the details of your use case to make sure we're providing the righ

[2018-12-19 09:40] lightsighter commented on #452
Actually I think this is a compiler bug. I think the compiler is unioning the color spaces when it should be intersecting them. @elliottslaughter will have to say for sure. But at least the runtime is expecting all these kinds dependent partition operations to happen on intersected color spaces which you can't control from user code in Regent.

[2018-12-19 22:39] syamajala commented on #452
@magnatelee can you look at this?

[2018-12-19 23:00] elliottslaughter commented on #452
In my opinion the Regent interpretation is defensible; why would you ask
for a union operator but then expect the color spaces to be intersected?

But either way, it should be trivial to fix in Regent. The change to get it
to use intersections will be one line. The main thing to keep in mind is
that Seshu's code will need to change, in that all the regions on either
side of the union operator will

[2018-12-21 01:19] magnatelee commented on #450
I pushed a fix to the MiniAero repository and also turned back on the offending test case. I'll close this once I confirm that it passes CI.

[2018-12-21 02:21] TWarszawski commented on #448
Yes, the segfault is gone.

[2018-12-21 02:21] #448 closed

[2018-12-21 03:07] #450 closed

[2018-12-21 16:10] mpokorny opened #463 "Special case for sparse IndexSpace overlap test"
The implementation of Realm::IndexSpace<N,T>::overlaps_approx()
https://github.com/StanfordLegion/legion/blob/9074bbfc60c41b3b5fd75f96df2ba3c3093170da/runtime/realm/indexspace.inl#L1285-L1305
bails out when both index spaces are sparse. However, I was wondering whether there isn't a special case that is actually fairly easy to resolve: that is, when the sparsity maps are identical and the bounds o

[2018-12-21 16:17] streichler commented on #463
Yes, that'd be correct.  Apart from a minor code reordering tweak, I'll submit a fix for that shortly.  Thanks for the suggestion!

[2018-12-21 17:56] mpokorny commented on #463
Another question: if I understand the purpose (doubtful!) of `Realm::IndexSpace<N,T>::overlaps_approx()`, if it's the case that when the return value is `false` then necessarily the IndexSpaces don't overlap, wouldn't it be correct to return the value of `bounds.overlaps(other.bounds)` whenever both IndexSpaces are sparse? Maybe not efficient for the runtime, but at least correct. Sorry to keep bu

[2018-12-21 18:35] streichler commented on #463
Yes, `overlaps_approx` must return true if there is overlap, but it's also allowed to return true in non-overlap cases.  The goal is that this imprecision will only happen when it's holes in a sparsity mask that avoid the overlap.  (Technically it'd be legal to simply return true in all cases, but that wouldn't be very useful.)

Can you describe the use case that is causing you to call this method

[2018-12-21 19:03] mpokorny commented on #463
I believe (based on the call stack in the core file) that this
method is being called as a consequence of my application calling
`Legion::Runtime::create_partition_by_image_range()`, although I'm
not certain of it. The idea is to project an IndexPartition on
IndexSpace "I_A" that is a subspace of IndexSpace "I" to another
IndexSpace "I_B" that is also a subspace of "I", where any of the
IndexSpace

[2018-12-21 19:05] streichler commented on #463
Can you paste the backtrace here?

[2018-12-21 20:01] syamajala commented on #452
I found that even if one color space contains the other you can't assign a partition to itself. I'll try to see if I can come up with a small example.

[2018-12-21 20:53] mpokorny commented on #463
at legion/runtime/realm/indexspace.inl:1195

    overlaps=std::set with 1 element = {...}, approx=true)
    at legion/runtime/realm/deppart/partitions.cc:279

    tester=0x7fb400012aa0) at legion/runtime/realm/deppart/image.cc:574

    at legion/runtime/realm/deppart/partitions.cc:499

    at legion/runtime/realm/deppart/partitions.cc:429

    inline_ok=true) at legion/runtime/realm/deppart/partit

[2018-12-21 22:56] streichler commented on #463
Ok, I've reproduced the error with a small test case.  I'll work on a fix tonight.

[2018-12-22 16:15] streichler commented on #463
@mpokorny can you try this again in the master branch?  Commit fcbfb04 hopefully cleans this up.

[2018-12-29 08:42] magnatelee commented on #440
I pushed several changes and now the compiler uses DeferredBuffer in scalar reduction for GPUs. I also confirmed on Lassen that these changes make the contention with multiple GPUs disappear and also bring 2~3X improvement in the scalar reduction performance. BTW, I decided to keep the calls to `cudaDeviceSynchronize` because they seem to have only negligible impact on performance and synchronizat

[2018-12-29 15:37] streichler commented on #440
@magnatelee, `cudaDeviceSynchronize` is basically `cudaStreamSynchronize` when the cudart hijack is active:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/cuda/cuda_module.cc#L1988-2002

[2018-12-29 19:10] lightsighter commented on #440
Why is cudaStreamSynchronize needed if there are multiple scalar reductions? All the kernels are going on the same stream for the same task so they should all be properly ordered. If one kernel produces a value for a later one then it should just be able to read it directly.

[2018-12-29 19:57] magnatelee commented on #440
@lightsighter with multiple scalar reductions, I was assuming that the task computes a new value using the result of a kernel before passing it to the next one, so it is actually the same case as that the task uses the reduction result in the middle. I guess I can implement something similar to the future optimization for reduction variables (i.e., pushing all computation on a reduction variable t

[2018-12-29 20:43] lightsighter commented on #440
Why not just reduce deferred a value? All the kernels will be ordered because they go on the same stream. When the consumer kernel starts it can then just read the deferred value result directly because it knows all the kernels on the same stream are ordered?

[2018-12-29 21:58] magnatelee commented on #440
Please note that the compiler transforms only the for loops in CUDA tasks. Consider this example:
[code]
The task computes `avg / N` on the CPU side and therefore must block on the kernels from the first loop. If there is an optimization pass that either factors this part out into its own kernel or pushes it down to all the subsequent consumers, we can avoid the synchronization. Until we find a co

[2018-12-31 16:37] mpokorny commented on #463
Looks good, all test cases for my application now pass. Thanks, @streichler.

[2018-12-31 16:37] #463 closed

[2018-12-31 16:44] magnatelee commented on #440
No, there isn't. But, doing so is not always possible (for example, if the code has calls to host-only functions) and also not always beneficial. In my experience, any sequential code with some control flow runs much more slowly on GPUs. On top of this, we need a static analysis to lift scalar variables to deferred variables, just like we needed to lift variables to futures for tasks. I guess we c

[2019-01-02 21:29] lightsighter opened #465 "Realm Needs Parameters to Some Methods to Prevent Waiting"
Some methods like getting the volume of an index space can wait on Realm events internally. For some client applications like Legion this isn't acceptable, so there need to be parameters to tell Realm that it is not safe to do such things.

Edit: (@streichler) Note that this impacts some usage of the Realm API as cases where Realm would have waited internally now become fatal errors if the caller

[2019-01-11 01:16] magnatelee commented on #446
This should be fixed as of f7452239.

[2019-01-11 18:09] manopapad opened #466 "Regent: Detect how many dimensions Legion was compiled with"
To properly interface with Legion's newly implemented support for a variable number of index space dimensions, Regent needs to know the value of the `LEGION_MAX_DIM` constant that Legion was compiled against when it calls `terralib.includec` on `legion_c.h`.

One option would be to autodetect this by inspecting `libregent.so`, the way it's done for CUDA and OpenMP, and add an `-f` flag so the user

[2019-01-11 18:10] manopapad opened #467 "Regent: Support for intXd with X > 3"
Legion and Regent now have support for a variable number of index space dimensions, and this support has been ported to the C interface.

What remains is to use this feature to extend Regent's int2d/3d to more dimensions. This should be straightforward, as most operations on int2d/3d are already handled uniformly, by mapping over the structs' fields.

Mainly, someone needs to run through the code

[2019-01-11 22:53] manopapad commented on #446
Fixed!

[2019-01-11 22:53] #446 closed

[2019-01-15 23:58] manopapad opened #468 "Realm: not registering ib_rsize with the GPU"
Currently Realm will not attempt to register `ib_rsize` with the GPU, so if we need to copy an instance from node A's framebuffer to node B's framebuffer, the DMA system will always have to introduce an intermediate hop:

[code]

If Realm tried (and succeeded) to register `ib_rsize` with the GPU, then the same transfer could be done with fewer hops:

[code]

[2019-01-16 08:19] lightsighter commented on #468
Assigning to @streichler I'm pretty sure the answer is going to be that the CUDA driver and the Infiniband driver (inside GASNet) do not play nice together. They both try to pin the memory and Linux gets unhappy when you try to pin memory that's already been pinned. Or at least this is what I remember happening...

[2019-01-16 18:18] lightsighter opened #469 "Processor Group Creation from Remote Nodes"
Realm needs support for making processor groups from remote nodes. It's worth noting that you can get a similar behavior today by making the processor group on the same node as the processors of the group and then moving the handle to a remote node.

[2019-01-16 18:34] elliottslaughter commented on #467
I have an initial patch that fixes this (not pushed yet), but right now Legion doesn't even compile with `CC_FLAGS=-DLEGION_MAX_DIM=4`, so even if I push it you won't be able to do anything until that is fixed.

[2019-01-16 18:35] elliottslaughter commented on #467
Compile error:

[code]

[2019-01-16 21:49] elliottslaughter commented on #467
Well, my patch is in. There is now a `-flegion-dim` flag you can use to tell Regent about the value of `LEGION_MAX_DIM`. It's now up to @lightsighter to get the runtime to pass when `LEGION_MAX_DIM` is something other than 3.

[2019-01-16 21:50] elliottslaughter commented on #466
As a workaround I've added a flag `-flegion-dim` that you can use to tell Regent about the value of `LEGION_MAX_DIM`.

[2019-01-17 07:55] lightsighter commented on #466
Would it help if you had a runtime call to query this value from the runtime?

[2019-01-17 07:57] lightsighter commented on #467
This is not a bug. As I said in my original email, you have to update REALM_MAX_DIM in sync with LEGION_MAX_DIM. There is no coupling of them for obvious reasons. If you want I can make a static assertion if LEGION_MAX_DIM > REALM_MAX_DIM which will cause a compile error when you try to build Legion. Assigning back to @elliottslaughter to respond about what he thinks is best.

[2019-01-17 12:34] elliottslaughter commented on #466
Unfortunately no, any autodetect mechanism had to work without actually loading the runtime because:

(a) on platforms like Summit we jus can't do that right now

(b) even when we can we need to set LEGION_MAX_DIM at the point where we include the Legion header file. So if you need to load Legion in order to include that header, you've got a circular dependency.

In my opinion the most promising a

[2019-01-17 18:48] lightsighter commented on #467
That sounds good to me. I think I'll add the static assertion too just so people will get an better error message.

[2019-01-17 18:49] lightsighter commented on #466
What about a static method on the runtime so you can call it without having actually started the runtime?

[2019-01-17 19:10] elliottslaughter commented on #466
No, we can't even load `libregent.so` because the ffi implementation in Lua is incomplete (and LuaJIT doesn't support PPC64le). Anything that requires calling a C or Terra function during compilation, or even just loading a shared library, is not going to work.

Futhermore, the static method still doesn't resolve the cyclic dependency, because presumably the way I call the static method is by runn

[2019-01-17 19:57] elliottslaughter commented on #467
@manopapad Please pull master and try this:

[code]

[2019-01-17 22:35] manopapad commented on #467
That works. Presumably we also want to have some testcases with int4d etc.

[2019-01-18 23:36] manopapad commented on #440
With the latest master, I can no longer see the blocking on scalar reduction kernels on Sherlock, and 4-ranks-per-node mode has the same performance as 1-rank-per-node on Lassen.

[2019-01-18 23:36] #440 closed

[2019-01-22 02:03] manopapad opened #470 "Regent: Support for index fills"
Regent currently only supports full-region fills, which cause a lot of metadata movement in DCR. The compiler should recognize this code pattern:
[code]
and emit index fills.

[2019-01-23 01:05] manopapad opened #471 "Regent: Inconsistencies in behavior of futures"
Run this code through Regent:

[code]

You will get this output:

[code]

It seems like the compiler treats the two cases of division differently.

[2019-01-23 21:32] manopapad commented on #471
Output of -fpretty 1:

[code]

[2019-01-23 22:17] elliottslaughter commented on #471
Should be fixed in 8526a218d3b64b9b33bd49eb3b1c72e45a5fa7dc.

TL;DR: It's not a good idea to use `nil` as an argument to a variadic function in Lua. If you want to iterate the arguments with `ipairs`, you'll miss some values if `nil` comes in the middle.

[2019-01-23 22:40] elliottslaughter commented on #471
Sorry, silly mistake. Please try d3de7ee0686a04f11b0095ef454b79ef2d09dbfb.

[2019-01-23 22:42] manopapad commented on #471
That worked!

[2019-01-23 22:42] #471 closed

[2019-01-25 22:17] manopapad opened #472 "Regent: Proper memoization of unpack_param functions"
Regent currently emits ~4k separate functions for unpacking parameters in tasks for Soleil, which seems excessive. We should be able to memoize these on the type of the parameter. This may not work out of the box for region types, because the compiler creates a distinct type on every instance of `region(...)`, but we could potentially just compare region types structurally for this specific usecas

[2019-01-28 23:39] lightsighter opened #473 "Fix Realm Deppart Op Load Balancing Heuristic"
Realm's load balancing of deppart ops sometimes does the wrong thing, especially in cases where all the sparsity maps for index spaces are local to a node. It's better in some cases to just do the index space operation locally.

[2019-01-29 22:24] elliottslaughter commented on #472
Ok, there is a partial version of this in master now, which should be sufficient to memoize any non-unique types (i.e. anything other than ispace, region, partition, cross-product, etc.).

There is also a more aggressive version in the branch `regent-memoize-unpack-param-regions`, which should work for at least ispaces, regions, and partitions. I'm not quite happy with this version because it adds

[2019-01-30 18:47] manopapad commented on #472
I tested this on sapling, here's the time it takes to compile Soleil under different configurations:
[code]
So I'd say memoization of these functions has a measurable impact, but any improvement the aggressive version might be offering is getting lost in the noise. I might do some more detailed profiling later, but for now I'm closing this issue.

[2019-01-30 18:47] #472 closed

[2019-01-30 21:39] manopapad opened #474 "Regent: Allow variables in projection functors"
Currently Regent will reject this program:

[code]

with the error message:

[code]

This seems to be happening because `k` and `N` are variables declared outside the index-space loop, and the codegen for projection functors is not handling those.

[2019-01-30 22:06] elliottslaughter commented on #474
The reason we can't do this right now is that there isn't a good way to pass parameters to a projection functor. In theory, we need to either:

1. Dynamically register a new projection functor for every index launch, or
2. Register once and figure out another way to pass in the arguments

I don't particularly like (1), registration is not something we should be doing inside the body of the main lo

[2019-01-31 02:56] magnatelee commented on #430
@manopapad this issue should be properly fixed as of b29f93d6.

[2019-01-31 02:56] #430 closed

[2019-01-31 08:54] lightsighter commented on #474
The runtime isn't memoizing projection functor results in the control replication branch anymore. Doing away with composite views allowed us to get rid of the code that needs to invert the projection functor which was expensive and the reason we needed to memoize in the first place.

[2019-02-01 16:07] mpokorny opened #475 "Regent: build failure with cmake and llvm"
Building Regent using with "--cmake --llvm" flags results in an unusable version of Regent. The resulting Regent fails as follows, for example:
[code]
I built Terra separately from Regent from its github master branch using cmake, and am using that for the Regent build. The Terra build passes all its tests. I'm also using the github master branch of Legion. Without the "--llvm" flag, the build is

[2019-02-01 17:02] streichler commented on #475
@mpokorny, by default, Terra only includes the few pieces of LLVM it needs, which is not sufficient for Regent.  As a result, the linker brings in another whole copy of LLVM and you get errors like this.  If you build Terra separately from Regent, adding `REEXPORT_LLVM_COMPONENTS='irreader mcjit x86'` to the Terra build command should do the trick.

[2019-02-01 18:58] elliottslaughter commented on #475
I don't believe the CMake build of Terra currently supports `REEXPORT_LLVM_COMPONENTS` so at the moment you would need to build Terra with Make to get this to work.

[2019-02-01 20:18] mpokorny commented on #475
Thanks for the hint, @streichler. @elliottslaughter, yes, I had noticed that. I
initially was having trouble with the Make build of Terra, so I tried the CMake
build, and that worked. I have now worked around my Terra Make build issue
(libcurses linking issue) so I ought to be able to use that with Regent.
Unfortunately, the end result for Regent is unchanged. I fell back to letting
Regent build T

[2019-02-02 00:55] streichler commented on #461
@tpatki, did we answer your question here?  If not, please restate it and we'll try again...  :)

[2019-02-02 00:57] streichler commented on #457
@manopapad is this still a problem?  If so, we need to assign it to somebody...

[2019-02-02 00:59] streichler commented on #455
@tpatki have we resolved this issue to your satisfaction?

[2019-02-02 01:00] streichler commented on #452
Assigning this to @elliottslaughter and @lightsighter to agree on the right way for both Legion and Regent to deal with this.

[2019-02-02 01:01] #449 closed

[2019-02-02 01:18] manopapad commented on #457
This is still happening. I know for a fact that the main function in this program doesn't block on the first invocation of `foo`; just add some debug output:
[code]
and you will get this output:
[code]
You can see that `main` has already exited before the first invocation of `foo` has completed, and before the warning is printed. @elliottslaughter and/or @lightsighter can comment on what might be

[2019-02-02 01:39] streichler commented on #412
@lightsighter is there anything left to do here?

[2019-02-02 02:06] manopapad opened #476 "Regent:"
[code]

[2019-02-02 04:10] elliottslaughter commented on #412
We haven't added CMake support yet.

[2019-02-02 04:12] elliottslaughter commented on #452
I can make Regent conform to Legion's interpretation. It wouldn't solve @syamajala's problem but I think I've convinced myself we need a different approach there anyway at this point.

[2019-02-02 06:42] lightsighter commented on #412
As far as I'm concerned there's nothing left to do on the Legion or Realm side, but @jiazhihao needs to finish his testing to confirm that everything is working.

[2019-02-03 11:44] jcreus opened #477 "Regent compiler hanging with somewhat pathological allocation"
I was trying to reproduce a strange segfault as part of some larger codebase (which I'm happy to share if it helps, but this MWE seems to reproduce it). The culprit seems to be a struct that's larger than the stack size. While some of the segfaults are probably just because of that, others use heap-allocated memory and the size of the stack should not matter, and result in the compiler hanging and

[2019-02-04 07:34] lightsighter commented on #477
Would you mind providing a stack trace just so we can confirm if it is a compiler or runtime issue? Thanks.

[2019-02-04 08:06] elliottslaughter commented on #477
It's in LLVM, in instruction selection. (Backtrace at bottom.) Not sure why, but odds are if you replicated the same pattern in C you'd get exactly the same behavior.

But anyway, passing raw pointers is definitely going to break anyway. (Consider that any time you have multiple nodes, raw pointers simply aren't valid accross nodes, and even on a single node they defeat Legion's dependence analysi

[2019-02-04 09:36] lightsighter commented on #457
Why is this a runtime bug? From my perspective anytime you wait on a future that is a blocking call and that is a bad thing for performance. At the point in the program where you do the wait, the runtime has no context to know about whether this future was user-made or not and whether it should have triggered or not (e.g. was it passed as a task argument). The assumption is that a higher-level use

[2019-02-04 18:34] elliottslaughter commented on #476
The undefined variable issue is (probably) a matter of a lookup into the Lua global scope `_G`; why that's not failing I don't know. I thought Terra made `_G` lookups strict by default, but maybe that's somehow not being enabled.

As for the error you get instead, if the variable lookup doesn't fail outright then it will return `nil`, and `nil` is indistinguishable from not passing that argument a

[2019-02-05 10:04] lightsighter commented on #457
Should be fixed with 682890fec Assigning back to @manopapad to confirm.

[2019-02-05 18:38] manopapad commented on #457
Fixed

[2019-02-05 18:38] #457 closed

[2019-02-06 09:20] lightsighter opened #478 "Regent Type Checker Should Disallow Passing Contexts By-Value Between Tasks"
The Regent type checker should not allow objects with context types to be passed by value between tasks which can cause correctness issues with the runtime. Here is an example test case that I had to fix which demonstrates the problem.

https://gitlab.com/StanfordLegion/legion/commit/47ee22c47ecc44caf93eca23b9ff5cdbb2bfd810

I suppose it would be ok to do this if you force inlining of the called t

[2019-02-06 17:59] lightsighter commented on #478
Actually passing the runtime by value is also bad since the task could be moved to a different node and then we'll get a segfault. I'll fix the test case so it doesn't do that, but it would be good if the compiler type checker prohibited that case as well.

[2019-02-06 18:12] elliottslaughter commented on #478
There is no reason to explicitly pass a runtime or context to a task, even if it's inlined, because you can always request it again by calling `__runtime()` or `__context()`. Let's just disallow this. (Though note, the compiler cannot possibly catch every possible instance of this, there will still be ways to work around it.)

[2019-02-06 18:17] magnatelee commented on #478
The test meant to use a terra function (just like the other import tests), but somehow was doing it in a task. I'll add a simple check for this to the type checker.

[2019-02-06 20:15] magnatelee commented on #478
I pushed commits baf63c6c and eaeaf6e8 for the check. The type checker will now reject a task if it gets either runtime or context object as argument, and raise a warning if any of the parameters has a raw pointer type. @lightsighter Feel free to close the issue if you're satisfied with these changes.

[2019-02-07 00:03] lightsighter commented on #478
Works for me.

[2019-02-07 00:03] #478 closed

[2019-02-08 20:21] jiazhihao commented on #412
I have changed the DNN application to use 4D index space, and it works with the following changes: https://gitlab.com/StanfordLegion/legion/commit/9a6e198016a50ef14837cb321194e1354153fa4d

Note that all applications I have tested directly use Legion C++ API.

[2019-02-10 18:38] junghans opened #479 "legion-18.05.0 : /.../threads.cc:1413:5: error: hwloc_linux_parse_cpumap_file was not declared in this scope"
[code]

Details here: https://bugs.gentoo.org/677616

[2019-02-10 18:45] streichler commented on #479
@junghans what version of hwloc is this build attempting to use?  The realm code here hasn't changed in a very long time.

[2019-02-10 19:09] junghans commented on #479
hwloc-2.0.2

[2019-02-10 19:26] junghans commented on #479
A version bump to 18.12.0 might fix the issue!

[2019-02-10 20:18] streichler commented on #479
I doubt changing the Legion version will help.  As I mentioned, the code in question hasn't changed in a long time.  However, what has changed is the hwloc API.  Version 2.x appears to have a number of backwards-incompatible changes compared to 1.x.  Can you build Legion against a 1.x version of hwloc instead?

[2019-02-10 20:52] junghans commented on #479
Well, Gentoo is in the process of rolling out hwloc-2! So, we could disable the support for hwloc or drop legion from Gentoo completely.

However, Fedora and others will roll out hwloc-2 in not too long as well.

[2019-02-10 20:56] junghans commented on #479
Ok, I required `<hwloc-2` in Gentoo now:
https://github.com/gentoo/gentoo/commit/f3f448a49d7354b32e32005308fbaad34bb72404

So I leave this issue for a future release to be fixed!

[2019-02-10 20:56] #479 closed

[2019-02-12 03:34] jcreus commented on #477
Gotcha, yeah, that makes sense. Thanks!

[2019-02-12 04:41] #477 closed

[2019-02-12 18:42] manopapad commented on #474
Recording a discussion I had with @magnatelee about this yesterday. Feel free to correct me if I misunderstood, I'm not very familiar with how index-space launches are handled under the covers.

An issue with alternative (2) that wasn't obvious to me is that we don't have control over the timing of the task launches. So assume that we have a loop like this:

[code]

and we naively code-gen it base

[2019-02-12 18:50] elliottslaughter commented on #474
If you're suggesting we would literally use a closure for the projection functor---that's not what I had in mind. That wouldn't even work on multiple nodes (because the closure values wouldn't get sync'd between nodes), and projection functors need to be valid everywhere.

My suggestion was going to be to stuff the extra parameters into the global task arg of the index launch. Right now Regent onl

[2019-02-12 22:35] elliottslaughter opened #480 "Regent: stop field-splicing complex"
Currently the `complex` type in Regent is being field sliced into its `real` and `imag` components. This makes it impossible to implement reductions correctly for `*` and `/`. In order to fix these reductions it is necessary to stop field slicing the complex type.

[2019-02-12 22:47] elliottslaughter commented on #480
Assigning @magnatelee because I need help figuring out if the vectorizer needs to be changed to deal with this.

[2019-02-15 22:04] elliottslaughter commented on #389
@lightsighter Is this still necessary in the presence of `nopaint`?

[2019-02-16 02:36] lightsighter opened #481 "Legion Prof Bug Fixes/Improvements"
Legion Prof still has a number of bugs that need to be fixed and enhancements that need to be performed. These include specifically:

- Small or "0" time boxes aren't always rendered properly
- Some search functions are broken
- Sometimes large stacking of boxes causes the profile to be rendered incorrectly
- Zooming sometimes fails after a time
- Issue #374

and also more generally:

- Better sca

[2019-02-16 03:02] manopapad opened #482 "Regent: Lift array(T) to array(future(T))"
Currently, storing the result of a task in an array forces a block on that future. The output of compiling this program:

[code]

is:

[code]

If instead we lifted `array(T)` to `array(future(T))`, we could use that to implement a form of pipelining:

[code]

[2019-02-16 09:38] lightsighter commented on #389
@elliottslaughter Yes

[2019-02-19 14:11] syamajala opened #483 "Regent: partitioning equally by sparse index space throws assertion"
Partitioning equally by a sparse index space causes the following assertion:
`terra: /home/seshu/dev/legion/runtime/legion/legion_domain.inl:1015: Legion::Domain::operator Legion::Rect<DIM, T>() const [with int DIM = 3; T = long long int]: Assertion is_id == 0 failed.`

Here is an example:
[code]

Attached is a stack trace from gdb.
[gdb.txt](https://github.com/StanfordLegion/legion/files/2880273/

[2019-02-19 17:27] magnatelee commented on #483
So this is actually caused by the compiler; the compiler always tries to extract a dense rectangle from the color space and this doesn't work when the color space is sparse. I just pushed a change (https://gitlab.com/StanfordLegion/legion/commit/15e9925811a6c31bf14e3738b3e29bfd00a6a5f3) that emits a direct Realm call when the color space is sparse, and this is the error message that Seshu should h

[2019-02-19 22:45] manopapad opened #484 "Regent: parallelizer misreports location of error"
For this program:

[code]

The reported error is:

[code]

The reported error should be that you can't use `regentlib.assert` inside a CUDA loop.

[2019-02-19 23:05] magnatelee commented on #484
Well that's not how the parallelizability checker works. It is perfectly fine to call `regentlib.assert` in a CUDA task as long as it doesn't appear within a parallelizable for loop (which makes it run on the host side). Inversely, any for loop that calls a host-only function is considered non-parallelizable. The real problem in your code is that the CUDA task tries to access a region outside para

[2019-02-19 23:27] #484 closed

[2019-02-21 01:05] manopapad opened #485 "Parallelizer: Mis-detected scalar reduction variable"
Compiling this program:
[code]
produces this error message:
[code]

[2019-02-21 01:18] magnatelee commented on #485
Should be fixed by 5d04e469. Could you pull and try again?

[2019-02-21 01:26] manopapad opened #486 "Parallelizer: Spurious parallelization error related to inlined tasks"
Compiling this program:
[code]
produces this error:
[code]

[2019-02-21 01:28] manopapad commented on #485
Fixed

[2019-02-21 01:28] #485 closed

[2019-02-21 04:03] magnatelee commented on #486
Should be fixed by 444462fd.

[2019-02-21 11:03] syamajala opened #487 "Regent: Add optional argument to partition operators for specifying partition kind"
There is currently no way to specify a legion_partition_kind_t in Regent for image and restrict. Both assume COMPUTE_KIND which causes expensive runtime analysis to occur. Adding an optional argument would allow you to specify DISJOINT_KIND.

It looks like preimage will also use COMPUTE_KIND under certain conditions.

[2019-02-21 11:12] syamajala commented on #389
@elliottslaughter i think this issue related as well, right? https://github.com/StanfordLegion/legion/issues/487

For image, preimage, and restrict would this be the equivalent of being able to pass something like DISJOINT_COMPLETE_KIND or ALIASED_INCOMPLETE_KIND for example?

[2019-02-21 17:18] mariodirenzo opened #488 "Parallelizer: Spurious loop carried depencence error in inlined tasks"
Compiling this code
[code]
produces the following error
[code]

If the content of the task foo is copied inside the main loop, the error disappears.

[2019-02-21 17:55] elliottslaughter commented on #389
That's orthogonal, but the fix will be similar. I.e. we'll add the ability to say something like `image(disjoint, complete, ...)`.

[2019-02-21 19:00] magnatelee commented on #488
Should be fixed by 147fbea7. Could you pull and try again?

[2019-02-21 19:01] manopapad commented on #486
Fixed

[2019-02-21 19:01] #486 closed

[2019-02-21 19:45] mariodirenzo commented on #488
Fixed. Thanks

[2019-02-21 19:45] #488 closed

[2019-02-24 21:22] sparkasaurusRex opened #489 "Regent: variable has incorrect value in inlined task"
I ran into some unexpected behavior when adding ``__demand(__inline)`` to a task. I was able to write a minimal regent program that shows the bug.

[code]

I ran it with
[code]
And this was the output
[code]

Without ``__demand(__inline)`` the task works perfectly. It also works if your replace ``double`` with ``int`` or if you declare ``x`` outside the if statement.

[2019-02-24 22:48] magnatelee commented on #489
This bug doesn't seem to reproduce even on the stable branch. Which commit are you on? Could you pull and try again?

[2019-02-24 23:29] manopapad opened #490 "Legion: Check the value of flags in the environment, don't just check if they're defined"
It is confusing if I run this and actually do get a Realm backtrace:

[code]

This particular example is also incosistent with the behavior of `GASNET_BACKTRACE`.

This issue also applies to (at least) `LEGION_FREEZE_ON_ERROR`.

[2019-02-25 06:24] sparkasaurusRex commented on #489
I have been working on the version used by Docker. It seems like there are several issues with that version...
I've updated to the latest version of Regent and every thing is working. Thanks!

[2019-02-25 06:24] #489 closed

[2019-02-25 18:45] elliottslaughter commented on #489
It looks like our automated Docker builds started failing silently about 9 months ago. I manually pushed an updated build, but given that we didn't even get a notification that the build was failing, perhaps we should remove mentions of Docker from the Regent website completely until we can find a better solution for automated builds.

[2019-02-25 21:58] TWarszawski opened #491 "Regent type mismatch error sometimes reports matching types"
Sometimes the Regent compiler gives type mismatch errors where it reports two identical types.  The example program below results in the error message: "type mismatch in assignment: expected region(ispace(int1d), int32) but got region(ispace(int1d), int32)".  I've had several questions about similar examples from students during cs315b, and also since the class ended from those continuing to work

[2019-02-25 22:15] elliottslaughter commented on #491
If you run with the flag `-fdebug 1` you should see an error message like:

[code]

Regions are not really always equal, and in general assignment to regions is not expected to work (it wouldn't be safe even if the index and field spaces match). In this particular case, since we're talking about a region relation, you can make this program type check by doing:

[code]

But this wouldn't work for e

[2019-02-26 00:28] sparkasaurusRex commented on #489
Using Docker was super convenient for getting starting on my project. I would recommend keeping it available and maybe adding a warning that it may be a broken version.

[2019-02-27 00:21] lightsighter opened #492 "Realm Needs Support for OpenMP Thread Single and Barrier"
The following call to parallel sort causes link errors with Realm's implementation of OpenMP:

#include <parallel/algorithm>

{
   ...
   __gnu_parallel::sort(ptr, ptr+volume);
   ...
}

/gpfs/sw/software/GCCcore/5.4.0/include/c++/5.4.0/parallel/multiway_mergesort.h:421: error: undefined reference to 'GOMP_single_start'
/gpfs/sw/software/GCCcore/5.4.0/include/c++/5.4.0/parallel/multiway_mergesort.

[2019-02-28 00:19] manopapad opened #493 "Regent: Compiler error in bounds-checks mode"
When I try to compile the code in this tarball (run `./compile.sh`):

[bug-bounds.tar.gz](https://github.com/StanfordLegion/legion/files/2912802/bug-bounds.tar.gz)

I get multiple error messages like this:

[code]

[2019-02-28 04:12] streichler commented on #483
Commit 284a71b should provide this functionality.

[2019-03-02 22:38] magnatelee opened #494 "Deppart: Partitioning by image/preimage of affine functions"
Realm needs to natively support image and preimage partitioning with affine functions, as emulating them with the current API is not very nice (unless the source partition is a dense, equal partition) and wouldn't perform really well.

[2019-03-02 23:11] magnatelee commented on #493
Should be fixed by 9439d818.

[2019-03-04 00:14] lightsighter commented on #494
I suppose this would also need a modification to the Legion interface as well since you'll be projecting through an affine transformation function instead of a field right?

[2019-03-04 00:51] lightsighter commented on #490
Should be fixed with 1cc59d526

[2019-03-04 01:38] manopapad commented on #493
Fixed

[2019-03-04 01:38] #493 closed

[2019-03-04 01:43] manopapad commented on #491
How about adding an extra note to region incompatibility error messages, that covers the common case? Something like "Note that a reference to a region cannot be overriden/reseated". You could even do this only in cases where the two incompatible region types have the same index and field space.

[2019-03-04 18:13] streichler commented on #494
Yes - the initial thinking is to make it look as much like the structured scatter/gather API as possible.  As part of it, we'll probably teach structured scatter/gather how to do modulo arithmetic on points as well.

[2019-03-04 18:23] elliottslaughter opened #495 "Regent: Better error message when CUDA is disabled"
Currently if you `__demand(__cuda)` without having CUDA enabled you get an error message like:

[code]

The problem with this message is you can't tell *why* CUDA is disabled. There are several options and you have to manually check which is the case:

  * Terra could have been compiled without CUDA support (e.g. `CUDA_HOME` not set at build time, or `CUDA_HOME` does not exist on the filesystem).

[2019-03-04 18:48] manopapad commented on #490
Fixed

[2019-03-04 18:48] #490 closed

[2019-03-04 21:54] magnatelee commented on #495
I agree, and I believe OpenMP has the same issue of not telling why it is disabled. I'll try to improve both of them.

[2019-03-05 04:18] elliottslaughter opened #496 "Automatic generation of defines under all build systems"
Currently users of Legion have no way to detect the set of defines that have been used to build Legion. Because certain defines impact Legion's public interface, this means that users such as Regent or Python that include `legion.h` dynamically are forced to reverse engineer Legion's build settings in order to be able to safely include `legion.h`.

The most noticeable case where this exists today

[2019-03-10 03:38] streichler commented on #492
This should hopefully work with commit 047b2f2.  Assigned to @lightsighter to verify that things work as expected.

[2019-03-13 17:39] sparkasaurusRex opened #497 "Can't run more than one Cuda task"
I'm launching several leaf tasks with `__demand(__cuda)` and I get this error.
[code]

It actually worked when I had at most one `__demand(__cuda)`. Earlier, I was having a similar problem to issue #483 which was fixed by commit 284a71b.

[2019-03-13 19:42] magnatelee commented on #497
Launching multiple CUDA tasks alone doesn't give you this error. I suspect at least one of your CUDA task has a for loop over a sparse region. (I haven't added a code path for this.) Could you confirm this is the case? It would be helpful if you shared a small reproducer. BTW, for loops over sparse regions do not run efficiently on GPUs, so you should either make them dense or reduce the sparsenes

[2019-03-13 20:25] sparkasaurusRex commented on #497
I believe this is the case, although I don’t think my data is very sparse. What exactly is the definition of a sparse region? I’ll try to put together a smaller reproducer.

[2019-03-14 01:53] manopapad opened #498 "Realm: Better error checking in -DTRACE_MESSAGES"
E.g. check that file opening succeeded: https://gitlab.com/StanfordLegion/legion/blob/c4d119d2249b9d5811f6982789e5bdbf95182e5f/runtime/realm/activemsg.cc#L2232

[2019-03-15 02:17] ProfFan commented on #475
@streichler @elliottslaughter I've encounter the same issue with Opt that I solved by building Terra with dynamically-linked LLVM. Could Regent be built with dynamic linking as well?

[2019-03-15 05:03] sparkasaurusRex opened #499 "Regent: __demand(__parallel) does not work for some tasks with reductions"
My understanding is that `__demand(__parallel)` should work for loops over independent tasks, but I've been getting errors when I try to use it with reductions.

[code]

And the error message

[code]

[2019-03-15 05:37] elliottslaughter commented on #499
It's complaining because you're accessing the region `values` inside the loop itself (i.e. `values[i]`). This is probably something the optimizer could accept because you're only accessing `values`, not passing it into the task.

In the mean time, you could pass `values` (or a subregion of `values`, if you're worried about that getting big) into the task instead of an individual element of the reg

[2019-03-17 02:29] mpokorny opened #500 "Legion: Reduction with non-POD type fails"
When a reduction is defined for a non-POD type, the initialization done here
https://github.com/StanfordLegion/legion/blob/6732fb6f61a631348c2ed7cd1317af444779b3b7/runtime/realm/redop.h#L185
fails. The copy initialization fails because the value at `rhs_ptr` may not be a properly initialized value when the assignment is done. As a workaround (but not a great solution), inserting the statement
`::n

[2019-03-17 03:30] elliottslaughter opened #501 "RFC: Deprecate multi-field expansion in Regent"
This RFC proposes to deprecate the multi-field expansion syntax in Regent, so that it can lead to more natural usage of region-based operators like fills and copies, and potentially in the eventual future, field projection and renaming in task calls.

## Multi-field expansion

Regent currently supports the following syntax (which is what we're proposing to deprecate):

[code]

Which expands into t

[2019-03-17 04:02] elliottslaughter commented on #495
I added a note about an additional failure mode for Terra.

[2019-03-17 06:00] sparkasaurusRex opened #502 "Regent: __demand(__cuda) codegen fails with two regions"
[code]

[code]

It will compile without errors if you remove `r2`.

[2019-03-19 04:34] magnatelee commented on #502
This should be fixed by b4541ae9. Please note that when you have nested loops over index spaces or regions, only the innermost loop (in your case, the loop `for j in r2.ispace ...`) is CUDA-ized; loops over index spaces or regions require index space iterators that are available only on the CPU side, and thus they cannot run within a CUDA kernel.  If you want to CUDA-ize the outermost loop, you sh

[2019-03-19 04:38] magnatelee commented on #497
A region is sparse when the points in its index space are not contiguous. I don't think a reproducer is necessary anymore, as I have a clear idea what goes wrong. I'll try to push a fix soon.

[2019-03-19 05:39] elliottslaughter commented on #475
Regent could use a Terra that is dynamically linked, and we could probably get Legion to link the same LLVM. I'm not sure whether Legion itself supports dynamic linking of LLVM at the moment, but it could probably be done with some effort. (Regent itself doesn't link LLVM except through Terra/Legion.)

[2019-03-20 02:26] #502 closed

[2019-03-27 21:28] magnatelee opened #503 "Regent: RDIR breaks on cross product accesses"
This test case hits a validator assertion with RDIR (RDIR is turned off for this test at the moment):

https://gitlab.com/StanfordLegion/legion/blob/master/language/tests/regent/run_pass/region_partition_access_cross_product.rg

RDIR seems to emit the exact same declaration for every cross product access `cp[c]` when `c` is constant. Also, commenting out this line reproduces another bug, which may

[2019-04-01 19:59] amaleewilson opened #504 "Errors embedding Terra code in C using llvm 6"
On branch master, os centos7, building terra/regent with llvm 6 using setup_env.py works fine, but when trying to embed terra-lua in C code, getting this error:

../terra/release/lib/libterra.a(Compression.cpp.o): In function `llvm::zlib::compress(llvm::StringRef, llvm::SmallVectorImpl<char>&, llvm::zlib::CompressionLevel)':
Compression.cpp:(.text._ZN4llvm4zlib8compressENS_9StringRefERNS_15SmallVe

[2019-04-01 21:25] amaleewilson commented on #504
Added -lz when compiling the C code, which fixed things, but there is something going on in the build scripts that is not disabling zlib.

[2019-04-01 22:24] mariodirenzo opened #505 "Regent: potential bug in parallelizer or reduction operator"
Compiling the following script
[code]
produces the error:
[code]

If the '' __demand(__parallel)'' in the main task is commented, the script is successfully compiled and correct results are produced.

Am I doing something wrong with the reduction privileges?

[2019-04-02 17:25] streichler commented on #504
@amaleewilson are you building llvm from source, or using centos' pre-built llvm 6 packages?

[2019-04-02 17:31] amaleewilson commented on #504
I think setup_env.py is downloading llvm and building from source.

[2019-04-02 22:30] streichler commented on #504
This should hopefully be fixed with commit d15aa6f.

[2019-04-02 23:04] manopapad opened #506 "Regent: Fill requires read privilege"
The following program:

[code]

fails with:

[code]

[2019-04-02 23:07] manopapad opened #507 "Regent: Missing line number on certain type errors"
import 'regent'
fspace A {}
fspace B(as : region(A)) {}
task main()
  var as = region(ispace(ptr, 10), A)
  var bs = region(ispace(ptr, 5), B)
end
regentlib.start(main)

[2019-04-03 05:08] elliottslaughter commented on #505
The problem is the use of `c.x` in the index expression of `ps[c.x]`. It should be possible to allow this, just will take a little time since everyone is crunching on SC papers at the moment.

[2019-04-03 05:41] mariodirenzo commented on #505
Ok, thanks for replying.
Knowing that I am not doing anything massively wrong is already something.
Let me know when you will be able to implement this feature.

[2019-04-03 15:38] elliottslaughter commented on #505
SC deadline is April 10, if you don't see a reply by a couple days after that, please ping this issue again.

[2019-04-03 21:02] elliottslaughter opened #508 "Legion: AUTO_GENERATE_ID and VariantID are different types"
Currently, `AUTO_GENERATE_ID` is defined to be an `unsigned int` while `VariantID` is defined to be an `unsigned long`. This can cause issues, like casting `-1` to `VariantID` does sign extension and produces a value which is `!= AUTO_GENERATE_ID`. This happens in Regent because Terra's parser can't extract `AUTO_GENERATE_ID` from `legion.h` automatically.

In Regent I've worked around this by exp

[2019-04-03 23:25] #419 closed

[2019-04-05 10:20] jgurhem opened #509 "Regent : failed to find appropriate for region region(ispace(int1d), double) in unpack"
This is a simplified version of the piece of code I'm trying to use.
[code]

I obtain the error `/usr/local/legion/language/src/regent/codegen.t:918: failed to find appropriate for region region(ispace(int1d), double) in unpack`. I think that the for loop to access the values of the region in the `print_trace` task produce the previous error.

I am trying to initialize a region in the `gen_trace`

[2019-04-05 17:46] #504 closed

[2019-04-05 19:06] elliottslaughter commented on #509
There is a compiler bug here, but the commented out line that tries to access `tr.values.r[i]` wouldn't work even if we fixed it.

The reason is that you can store regions in an fspace, but those regions don't get any privileges. So you can't read or write any values to regions that you store in an fspace.

What you *can* do is read and write values of a region which is a *subregion* of some other

[2019-04-06 08:42] jgurhem commented on #509
It helps a lot ! Thank you !

I was wondering if it is possible to put the region directly in the `trace` field space instead of using a intermediate field space ?
Moreover, is there a way to define the size of the region when the `trace` is created - in the `gen_trace` task ? (I would like to read the values from a file)

Thank you for your help !

[2019-04-08 23:25] syamajala opened #510 "Legion: Don't allow tasks to be registered more than once with the same VariantID"
It is currently possible to register a task multiple times the same VariantID and different constraints. This should not be allowed.

[code]

[2019-04-10 20:43] syamajala opened #511 "Regent: Add support for passing more argument types to tasks from C++"
When embedding regent tasks in C++ it is currently not possible to pass double as a task argument.

Additionally, the compiler has trouble with task signatures that take bool, right now they need to be passed as int and then casted to bool within the task.

Finally, it would be nice if it were possible to pass structs.

[2019-04-10 20:49] syamajala opened #512 "Regent: Passing arguments to task from C++ depends on order of arguments in task declaration"
Passing arguments to tasks from C++ requires the add_argument functions for a task to be called in the order in which arguments are declared in the task. It should be possible to call the add_argument functions in arbitrary order.

[2019-04-10 20:59] syamajala opened #513 "Regent: set_variant_id() sets variant for both LOC_PROC and IO_PROC tasks"
Setting the variant id for a task by doing `task:get_primary_variant():set_variant_id(1)` currently sets the id for both the LOC_PROC variant and the IO_PROC variant when it should only be done for the LOC_PROC one. Setting the same variant id for both types causes the runtime to lose track of the LOC_PROC variant.

[2019-04-11 01:33] lightsighter opened #514 "Legion: Run with No/Multiple Top-Level Tasks"
It would be nice if we could run Legion with No/Multiple Top-Level Tasks and later dump more top-level tasks into the runtime on demand before requesting that it be shutdown.

[2019-04-11 01:35] lightsighter opened #515 "Legion: Mapper Interface Extension To Avoid Remembering Instances"
Often the mapper will make multiple read-only copies of physical instances. The mapper usually has a good idea which ones should be remembered as the valid copy while others can be forgotten for quick garbage collection. We need an extension in the mapper interface so the mapper can communicate its intention for the different use cases and allow the garbage collector to do a better job.

[2019-04-11 22:19] lightsighter commented on #510
Fixed with https://gitlab.com/StanfordLegion/legion/commit/18361fd110a22c42767451627d713bfcd79faa6a

[2019-04-11 22:19] #510 closed

[2019-04-11 22:23] lightsighter commented on #500
Can you give me a little more code around this statement so I can see what some of the types are? Is 'rhs_ptr' a C pointer or some other Legion type?

[2019-04-11 22:23] lightsighter commented on #492
Seems to work, so closing this for now.

[2019-04-11 22:23] #492 closed

[2019-04-11 22:44] mpokorny commented on #500
In my case the REDOP::RHS has type std::vector<_>, so rhs_ptr has type std::vector<_>*. The vector elements have a non-POD generic type, as well, but REDOP::identity is simply an empty vector.

[2019-04-11 23:41] lightsighter opened #516 "Realm: Deppart Ops for GPUs"
Realm only supports dependent partitioning operations with instances in CPU visible memories at the moment. Legion has a check for this now to prevent mappers from putting instances in memories where it shouldn't (only checked when running with mapper checking, e.g. -lg:safe_mapper), but that doesn't mean that it should be the long term answer. Eventually Realm should support dependent partitionin

[2019-04-12 01:16] mariodirenzo opened #517 "Regent: bug in parallelizer"
The following code
[code]
shows that the parallelizer systematically fails to perform the tasks AddY and AddZ.
AddX is computed correctly whether it is parallelized or not.

[2019-04-12 06:34] lightsighter commented on #500
Ok, where did 'rhs_ptr' come from then? Did you get it out of a region in some way or did you declare it yourself?

[2019-04-12 16:02] mpokorny commented on #500
It's from a region: a field over which the code is doing a reduction (to merge sorted vectors). There are no uninitialized values in the regions when the task is launched.

[2019-04-12 18:19] elliottslaughter commented on #511
`float`, `double` and `bool` have been added in a1765295543b46529b74f8ff5eca94e4d15bcd13. Structs will be more work since the compiler has to generate the struct definition inside the header.

[2019-04-12 19:04] elliottslaughter commented on #512
Should be fixed in 790e074e12dc84c749ad26873193148b402c9ae3.

[2019-04-12 20:55] elliottslaughter commented on #509
This is the pattern we generally recommend for this scenario, though it won't quite do what you want (I'll explain below).

[code]

You can replace the line that does the partitioning to select any subset of the original data you want---including a dynamic amount based on the file you're reading.

The one caveat is that in this version you're still going to allocate the entire region `re` into mem

[2019-04-12 20:58] elliottslaughter commented on #506
Should be fixed in 6c68818845829424910938e848f2497c2cde59a8.

[2019-04-12 21:03] lightsighter commented on #500
When you say a reduction, do you mean with Legion 'REDUCE' privileges, or are you using 'READ_WRITE' and doing the reduction yourself? Also, what is writing the field previously?

[2019-04-12 21:10] elliottslaughter commented on #505
Should be fixed in 2f18640cf081305939e833178a1ad25a92e590a5.

[2019-04-12 21:13] manopapad commented on #506
Fixed

[2019-04-12 21:13] #506 closed

[2019-04-12 21:53] mpokorny commented on #500
The region has a single field and one value in the index space; it is initialized using 'WRITE_DISCARD' privileges. The task that has initialized that region then launches an index space task over another region, with 'READ_ONLY' privileges on the second region, and 'REDUCE' privileges on the first (single element) region.Basically, all the values in the 'READ_ONLY' region are being transformed an

[2019-04-12 22:57] lightsighter commented on #500
So the problem is inside the task with 'REDUCE' privileges on the region with just a single element? How did you make your reduction operator? Did you remember to provide a SerdezInitFnptr and SerdezFoldFnptr when you registered the reduction operator since it's going to be used with a serdez field?
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L6857-6876

Also, I would str

[2019-04-13 00:26] mariodirenzo commented on #505
Yes, It works. Thanks

[2019-04-13 01:01] #505 closed

[2019-04-15 17:15] jgurhem commented on #509
Thank you very much !

I still have a few questions:
Is there a way to avoid hardcoding the max number of values in the region (10) ?
If I want to create several traces, should I create another region or can I reuse the same ?
For instance, my file contains, let's say 6 values out of the 10 max values, how could I create a partition which will contain all my values ?

Thank you for your help !

[2019-04-15 18:35] elliottslaughter commented on #509
This can definitely be done, but I want to check up on a couple things first to make sure this effort is actually necessary.

How much data (rough order of magnitude) are you dealing with? If it's less than about 10-100 MB in total, I'd be inclined not to worry about making the regions tight. Instead, it would be much easier to create a region to hold the maximum amount of data and keep a separate

[2019-04-15 19:48] elliottslaughter commented on #509
Forgot to include this link in the last response:

https://github.com/StanfordLegion/legion/blob/master/language/examples/stencil_common.rg#L53-L68

This shows how to read command line parameters inside Regent. This is one possible way to configure the upper bound on region size, so you don't need to hard-code it as a constant in your program.

[2019-04-15 19:59] mpokorny commented on #500
I used the generic version of register_reduction_op function https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L6854-6855
with a REDOP type that defines apply, fold and identity. I'm not sure that I understand the arguments to the register_reduction_op() function that you quoted. Is there an example of its use in the source tree somewhere?
Looking at the legion.inl file here ht

[2019-04-15 20:29] jgurhem commented on #509
Thank you for your help !

For 1), it was not very clear. It is the 10 in `task gen_trace(re : region(ispace(int1d, 10), double))`. I tried with `task gen_trace(re : region(ispace(int1d), double))` instead and it works perfectly.
For 2), it is very clear. I was thinking about making a region of traces and partition it to process them in parallel. I have a few other parameters than the number of va

[2019-04-16 15:25] lightsighter commented on #500
Yes, that templated version should also have the optional 'init_fnptr' and 'fold_fnptr' for serdez redop functions. There's not an example of this yet because I think you're the first one to attempt to perform a reduction on a field that is a serdez field. When I was implementing serdez fields I realized they would have this interaction with reductions which is why this interface exists, but it is

[2019-04-16 21:08] manopapad commented on #460
Here's some code I wrote today that would have benefited from this check:

[code]

In this case I was assuming that `v` would get replaced automatically with `rakes[v]`, but `printf` doesn't contain enough type information for the compiler to realize it should do this. Instead `v` here is `int64`, and this gets printed wrong with `%lf`.

[2019-04-16 21:26] mpokorny commented on #500
On Tue, 16 Apr 2019 at 09:25, Mike Bauer wrote:

OK, I have now changed to using the register_reduction_op()
function with the additional arguments. Something like the
following:

Legion::Runtime::register_reduction_op(
  REDOP_ID,
  Realm::ReductionOpUntyped::create_reduction_op<REDOP>(),
  REDOP::init_fn,
  REDOP::fold_fn);

where REDOP is a struct type conforming to a ReductionOp as given
in re

[2019-04-16 21:40] magnatelee commented on #480
This should be fixed as of 271b6774. Field slicing is now turned off for any structs having `__no_field_slicing` true, including the complex type. (Vectorization is also temporarily turned off for complex types, which I will fix later.) @elliottslaughter Feel free to close this issue once you confirm the fix.

[2019-04-16 22:29] mpokorny commented on #500
On Tue, 16 Apr 2019 at 15:26, Martin Pokorny wrote:

With the change in my code to use execute_index_space() with a
reduction operation, this issue (if it may be called such) no
longer affects me at this time. Mike, if you're convinced that the
original issue is one of user error, I wouldn't mind if you
decided to close it.

--
Martin

[2019-04-17 19:41] scothalverson opened #518 "typo under cuda?"
When compiling Flecsi under Clang CUDA with Legion as the backend, I'm getting the following error:
[code]
One instance that results in this error can be found below.

https://github.com/StanfordLegion/legion/blob/62b24fd6cb012d863ac68618407db9b3cac3374b/runtime/legion/legion.inl#L1427

There are 3 instances of `has_transfrom` in that file, at lines 1427, 1711, and 2005.

Replacing these instances

[2019-04-17 20:22] elliottslaughter commented on #412
CMake support has been added in master. As far as I know CI still doesn't have any test cases for MAX_DIM > 3.

[2019-04-17 20:52] scothalverson opened #519 "is_identity should be __CUDA_HD__"
Compiling under Clang CUDA, I needed to mark the following function \_\_CUDA_HD\_\_ in order to compile.

https://github.com/StanfordLegion/legion/blob/6732fb6f61a631348c2ed7cd1317af444779b3b7/runtime/legion/legion_domain.inl#L441

[2019-04-17 21:13] manopapad opened #520 "Regent: overloading of __parallel keyword"
Copying this from a recent email discussion, where a user's comments signaled to me that the `__parallel` keyword may be too vague.

The meaning of `__demand(__parallel)` is very different depending on where it appears:

* If `__demand(__parallel)` appears on a task declaration, it means to pass the code through the auto-parallelizer. This pass creates a different version of the task that uses gen

[2019-04-17 21:45] elliottslaughter commented on #412
We now have at least one Regent test with MAX_DIM=4 running it Gitlab.

[2019-04-17 22:43] lightsighter commented on #518
Yes, that's a typo and should be fixed in fefaf45 on gitlab in the master branch. Will be over here on github in the master branch in a little bit. Let me know if you find other typos. Not all of these templates have been instantiated before.

[2019-04-17 22:43] #518 closed

[2019-04-17 22:45] lightsighter commented on #519
Also a typo and should be fixed in fefaf45 on gitlab in the master branch. Will be over here on github in the master branch in a little bit. Let me know if you find other typos. Not all of these templates have been instantiated before.

[2019-04-17 22:45] #519 closed

[2019-04-17 22:48] lightsighter commented on #412
Ok, do we have anything else we need to do for this issue? I think we're done.

[2019-04-17 22:51] lightsighter commented on #500
Ok, sounds good. I think if you had implemented the init_fnptr and fold_fnptr methods for your serdez field with reduction it would have worked fine. I'm going to close this issue now.

[2019-04-17 22:51] #500 closed

[2019-04-17 22:56] scothalverson commented on #518
After these two issues, I was able to get Flecsi to compile and link, so I think we're good for now.  Thanks Mike.

[2019-04-17 23:05] #412 closed

[2019-04-18 01:45] lightsighter commented on #508
@elliottslaughter Are we done with this one? VariantID has been demoted to 32 bits.

[2019-04-18 01:47] lightsighter commented on #416
@manopapad Can we still reproduce this or is it fixed?

[2019-04-18 01:48] lightsighter commented on #397
This is fixed in nopaint now since nopaint no longer even uses composite views. :)

[2019-04-18 01:48] #397 closed

[2019-04-18 01:53] lightsighter commented on #215
This test is now in the nopaint branch and has been passing for a long time. When nopaint merges into master we can close this issue.

[2019-04-18 03:41] elliottslaughter commented on #508
I reverted the hacky portions of my commit in 7a138c2aa62571955e5a171a61d388554614f4d8 and now consider this resolved.

[2019-04-18 03:41] #508 closed

[2019-04-18 16:37] elliottslaughter commented on #520
I'm fine with making the index launch keyword something like `__index_launch`. I'm less sure about the parallelizer keyword, is adding `ize` or `ized` really going to make it clearer?

CC @magnatelee

[2019-04-18 17:05] mariodirenzo commented on #517
Is there any update about this issue?

[2019-04-18 21:43] magnatelee commented on #517
Yes, it turns out that this code hits the case where the ghost region for periodic boundary conditions is split into two parts and the current parallelizer doesn't handle it. Fixing this is not difficult, but there is a new implementation of the parallelizer that doesn't have this problem, so my suggestion is to wait for the new parallelizer to be merged (I believe it will happen soon).

[2019-04-18 21:52] magnatelee commented on #520
I'm also fine with using `__index_launch` for index launches. And I don't think we need to change both of them.

[2019-04-18 23:06] #480 closed

[2019-04-18 23:35] elliottslaughter opened #521 "Realm: no support for non-affine pieces yet"
@mariodirenzo was hitting this assertion, which seems to be somewhere in Realm DMA code.

It looks suspiciously similar to #381, but I don't know if it's related at all.

[code]

[2019-04-18 23:44] elliottslaughter commented on #521
@mariodirenzo Do you know if you're doing any layout transformations? (CC: @manopapad @magnatelee)

[2019-04-18 23:53] mariodirenzo commented on #521
I'm not sure. What do you mean by layout transformations?
You can find attached a reproducer of what I am doing in my solver. I have tested this reproducer on a single core and it works.
[reproducer.tar.gz](https://github.com/StanfordLegion/legion/files/3096518/reproducer.tar.gz)

[2019-04-18 23:55] elliottslaughter commented on #521
Could you get into a debugger and print `layout_piece`?

[2019-04-19 00:06] mariodirenzo commented on #521
Can't find that command or symbol in a gdb attached to the solver after the assertion.

[2019-04-19 02:10] lightsighter commented on #515
The interface for this is in the master branch and is implemented in the nopaint branch and further upstream branches. It will begin working once nopaint merges back into master.

[2019-04-19 02:10] #515 closed

[2019-04-19 02:32] lightsighter commented on #514
An alternative idea for this is to have the top-level task be able to run "inline" in whatever thread also starts the Legion runtime and give back a context for it to use as part of starting the runtime. It would also need to call a finalize method when its done. This would certainly make it easier for users to write programs since they wouldn't need to make a special top-level task and could then

[2019-04-19 02:33] lightsighter commented on #521
@jiazhihao Can you help with this until @streichler gets back from vacation?

[2019-04-19 03:41] elliottslaughter commented on #521
@mariodirenzo If you're attaching to a process frozen with `REALM_FREEZE_ON_ERROR=1` then run the `threads` command to list threads. The thread you want will be inside `nanosleep`. Switch to that thread with `thread N` where `N` is the thread number.

Then run `bt` to get the backtrace on that thread and figure out which frame number corresponds to `Realm::TransferIteratorIndexSpace<N, T>::step`.

[2019-04-19 08:31] manopapad commented on #416
I can still reproduce this on sapling

[2019-04-19 08:36] lightsighter commented on #416
Can you get me processes on sapling for this running with debug mode and -ll:force_kthreads in the nopaint branch?

[2019-04-19 10:17] magnatelee commented on #497
This should be fixed by cf1e1825. @sparkasaurusRex Could you pull and try again?

[2019-04-19 17:20] mariodirenzo commented on #521
The output to ``p/x layout_piece`` is ``0x2b178000f840``

[2019-04-19 17:24] elliottslaughter commented on #521
Sorry, what about `p/x *layout_piece`?

[2019-04-19 17:26] sparkasaurusRex commented on #497
It looks like this issue was fixed, thanks!

[2019-04-19 17:26] #497 closed

[2019-04-19 17:30] mariodirenzo commented on #521
[code]

[2019-04-19 21:11] lightsighter commented on #416
Fixed with f09424c

[2019-04-19 21:11] #416 closed

[2019-04-20 01:34] #414 closed

[2019-04-20 05:21] sparkasaurusRex opened #522 "Regent: Failing to parse metaprogrammed statements"
It looks like Regent has trouble parsing when two quoted statements are close to each other. I think there is also an issue for `rexpr` too. My fix has been to surround quoted statements with `;`.

[code]

[code]

[2019-04-21 17:44] syamajala opened #523 "Regent: Image returns unexpected result for subregions with sparse index spaces"
[code]

The above example prints the following:
[code]

I expected the subregion {0, 0} to contain all the points from the original region. However, it appears the points {3, 3} and {12, 4} are missing and are not contained in the partition at all.

[2019-04-22 17:15] mariodirenzo opened #524 "Regent: spurious error in index space launcher"
Similarly to #505, the following code:
[code]
fails to compile with the error
[code]
if ``__demand(__parallel)`` is used for the loop that launches AddStats.

[2019-04-22 20:27] lightsighter commented on #523
This is not a bug. The runtime automatically prunes points that fall outside the destination index space being partitioned for image. (3,3) and (12,4) are points that are not contained in the 'entries' index space which ranges from (0,0) to (4,1) and so they are automatically pruned.

[2019-04-22 20:29] lightsighter commented on #523
It's worth noting that the same pruning also occurs for preimage and partition by field dependent partitioning operations also.

[2019-04-22 20:59] mariodirenzo commented on #521
Do you have any update on this issue?

[2019-04-22 21:24] elliottslaughter commented on #521
I think we need @jiazhihao to look at this; we're doing something with an HDF5 instance but more than I'm not in a position to say.

In the mean time, a possible workaround might be to disable HDF5 support in the application code, so that you're not trying to use an HDF5 instance.

[2019-04-22 21:50] syamajala commented on #523
I see what to do. Thanks!

[2019-04-22 21:50] #523 closed

[2019-04-22 23:07] syamajala commented on #487
The work around I was using for this, calling `legion_index_partition_create_by_image_range` and  `__import_partition` doesn't seem to be working anymore. It would be nice if this could be fixed.

[2019-04-22 23:30] sparkasaurusRex opened #525 "Regent: Unexpected behavior with fences and GPU tasks"
When running the code below on a GPU it immediately prints a super small time but continues to run on the GPU. If I put a fence inside the `launch` task everything behaves as expected.

[code]

[2019-04-23 00:29] lightsighter opened #526 "Regent: install.py should automatically rebuild terra with CUDA support"
If terra wasn't build with CUDA support and a user passes --cuda to install.py then it should automatically rebuild terra with CUDA support or tell the user why it can't and not silently let the user think that CUDA support was successfully installed.

[2019-04-23 04:17] elliottslaughter commented on #526
This is fair, but we should do some auto-detect style check like #495 to actually make sure Terra needs a rebuild, not just blindly do it.

Note to self: need to check if `make clean && make` is enough, or whether we need `make purge && make`.

[2019-04-23 04:18] elliottslaughter commented on #487
What do you mean doesn't work anymore?

[2019-04-23 05:52] lightsighter commented on #525
Should be fixed in the master branch with 334734da9

[2019-04-23 17:32] sparkasaurusRex commented on #525
Looks fixed, thanks!

[2019-04-23 17:32] #525 closed

[2019-04-23 18:11] magnatelee commented on #360
This bug should be fixed now in the master branch. @syamajala Could you confirm the fix and close this issue?

[2019-04-24 02:59] magnatelee commented on #360
Oops. I asked a wrong person to confirm the fix. I'll close this issue on behalf of Haithem.

[2019-04-24 02:59] #360 closed

[2019-04-24 20:01] mariodirenzo commented on #521
Actually that HDF file is the main outcome of the calculation that I need to perform.
Disabling it would defeat the purpose of the calculation.

Do you know roughly when you will be able to look at this issue?

[2019-04-25 01:51] lightsighter commented on #481
Resolution (e.g the one in the URL) needs to scale automatically with zoom in/out.

[2019-04-25 21:19] manopapad opened #527 "Realm: Better error message if -ll:Xsize is too big"
For example, currently if you pass a value to `-ll:fsize` that is too large for the device's framebuffer (including any memory that Realm/Legion reserves on top of that), you will get a generic error like `std::bad_alloc`, or a CUDA error that device memory was exhausted. It would be nice if the message was more informative ("it looks like you're trying to allocate more framebuffer memory than wha

[2019-04-27 03:29] elliottslaughter opened #528 "Utilization not shown in single-node Legion Prof plots"
For some reason, utilization bars for the processors do not seem to appear on single-node Legion Prof plots. I'm not sure whether this was intentional or not, but it seems like we should show them, because this is a very useful feature.

[2019-04-27 22:21] magnatelee commented on #343
I think the current parallelizability checker detects and reports this case nicely, so closing this issue.

[2019-04-27 22:21] #343 closed

[2019-04-27 22:24] magnatelee commented on #317
This should be fixed as of b93d076c. @elliottslaughter Could you confirm the fix and close this issue?

[2019-04-28 06:08] elliottslaughter commented on #317
Fixed, thanks!

[2019-04-28 06:08] #317 closed

[2019-04-29 17:46] syamajala opened #529 "Regression in partition by image range in Legion master"
The following example runs on legion master commit `cb9682e99fc553` but no longer runs on the latest master commit `b93d076c9e0b`.

[code]

The expected output is:
[code]

On master commit `b93d076c9e0b` I am seeing this:
[code]

[2019-04-29 18:43] elliottslaughter commented on #524
This is a duplicate of #474. There is a plan for that but it has yet to be implemented.

[2019-04-29 18:44] streichler commented on #521
I should be able to take a look at this in the next day or two.

[2019-04-29 18:53] elliottslaughter commented on #522
This issue is something we inherited from Terra. There is an ambiguity in the expression `[...][...]`: is this two escapes back-to-back, or is this a nested array reference?

Terra's solution is to insert the `;` implicitly when the two sets of brackets are on different lines. I've never been super happy with this, so I didn't implement it in Regent. But I'm not sure there are any other great solu

[2019-04-29 18:56] elliottslaughter commented on #509
Re (2): If you have a fixed number of parameters, I think you should be able to go either way; it's just a matter of taste. If you have a dynamic number of parameters (assuming I understand what you mean by this) you'd be forced to make one region on the outside and partition it, like you're doing above.

Re (3): you can always track the size separately from the region itself. E.g. for a simple 1D

[2019-04-29 18:59] #512 closed

[2019-04-29 21:22] streichler commented on #483
@syamajala can you provide an update on this?  Did the combination of the regent and realm fixes take care of this, or is there still an issue?

[2019-04-29 21:25] streichler commented on #425
@karthikmurthy can you comment on the potential benefit (in development time, or maintainability, or runtime performance, or whatever) of having this feature?  Performance tuning of Realm has been driving us toward making event processing leaner rather than more complicated, so I only want to do something here if it'll have a large benefit on the Legion side.

[2019-04-29 21:27] streichler commented on #386
@lightsighter is there more to do here?  Code for arbitrary-sized fills on the GPU have been in for a while now.

[2019-04-29 21:59] mariodirenzo commented on #524
ok, thanks for letting me know

[2019-04-29 22:00] mariodirenzo commented on #521
Thanks. Please, let me know if you need additional output from gdb.

[2019-04-29 22:04] streichler commented on #521
@mariodirenzo, I'm not able to get this to reproduce with the provided code.  Can you confirm which commit you're building against and show the exact command lines used to build regent and then run the test case?

[2019-04-29 22:17] mariodirenzo commented on #521
The thing is that that reproducer in the comment from 10 days ago works on a single core, producing the correct output.
When I attempt the same process using the same hdf_helper in the full scale application, I get the reported error.
Right now, I am using the version of the repository in the branch "nopaint" built using the command:
DEBUG=1 USE_CUDA=1 USE_OPENMP=1 USE_GASNET=1 USE_HDF=1 scripts/s

[2019-04-29 22:22] streichler commented on #521
Ah, in that case, can you run the failing version with `-level inst=1,dma=2,new_dma=2 -logfile dma.log` and attach the `dma.log` file that is produced?

[2019-04-29 22:28] mariodirenzo commented on #521
This is the log file that I get:

[dma.log](https://github.com/StanfordLegion/legion/files/3129397/dma.log)

[2019-04-29 23:33] lightsighter commented on #386
Noting that this is now functionally fixed, although the implementation is highly likely to cause a performance bug in the future.

[2019-04-29 23:33] #386 closed

[2019-04-29 23:36] lightsighter commented on #529
We changed partition colors to be 32-bits. Regent needs to make sure to convert `-1` appropriately before passing it through the C interface.

[2019-04-29 23:45] streichler commented on #521
@mariodirenzo I think I know what's wrong (reduction copies to hdf5 instances), but it's not a quick fix.  As a potential workaround, can you try changing the tasks that have reduction privileges (e.g. `AddStats` in `Example15.rg`) to use read/write privileges instead?  This may impact your ability to parallelize some loops, and there's some chance it'll cause a different fatal error, but let's gi

[2019-04-29 23:53] mariodirenzo commented on #521
@streichler I get the following error:

[code]

[2019-04-30 01:14] lightsighter commented on #529
Should be fixed in fcb5d2675. Pull master and try again.

[2019-04-30 03:34] elliottslaughter commented on #521
@mariodirenzo Like @streichler said, it's possible it will cause the code to serialize. In this case, it would mean that you'd be unable to use an index launch. But if you're just interested in getting the code to work, you can comment out `__demand(__parallel)` and this error should go away.

[2019-04-30 04:16] syamajala commented on #529
It works. Thanks!

[2019-04-30 04:16] #529 closed

[2019-04-30 05:15] #524 closed

[2019-04-30 18:09] mariodirenzo commented on #521
The hdf output works after removing the ``__demand(__parallel)`` though there is a sensible slowdown when I use the code with a few hundreds of millions of points in the region to be sampled.

When do you think that this issue will be fixed?

[2019-04-30 18:18] streichler commented on #521
The ETA is unknown, as we'd really like to fix this and some related issues with a more general solution.

Can we try another workaround?  Try going back to the reduction privileges and the parallel loop, but add a dummy task after the double-nested loop that calls AddStats that read/writes the `s` region (or an index launch that read/writes the various `ps[*]` subregions) before the HDF `dump` ta

[2019-04-30 21:16] mariodirenzo commented on #521
I've added a call this task
[code]
before the call to the ``dump`` task but it did not work. Could it be related to the ``__demand(__inline)``?
I would try directly but compiling the code takes hours.

[2019-04-30 23:09] streichler commented on #521
Yes, the `__demand(__inline)` needs to go - it's allowing Regent to optimize this task out again.

[2019-05-01 06:51] syamajala commented on #483
Seems to be working.

[2019-05-01 06:51] #483 closed

[2019-05-01 17:07] mariodirenzo commented on #521
Now it works and performs much better than the ``read write`` version.
Should we keep this issue open till the new implementation will be available?
In this way, I'll know when I can remove the dummy task.

Thanks for your help.

[2019-05-01 17:17] mpokorny opened #531 "Realm: better error message for HDF5LayoutPiece::calculate_offset()"
My code is hitting the assertion
https://github.com/StanfordLegion/legion/blob/8fab48829bb0db6a0cdcd62def8d4c0509241c37/runtime/realm/hdf5/hdf5_access.inl#L51
I've no idea why this is happening. An error message might be useful if there's a chance that the fault is in my code. If it's an unimplemented feature and there's a workaround, a hint would be appreciated.

[2019-05-01 22:03] streichler commented on #531
@mpokorny I agree a better error message would be good - in this case the error message would say that something is trying to take the "address" of a value in an hdf5 instance, which isn't possible.  Can you run again with `REALM_BACKTRACE=1` in the environment so we can see how you got there?

[2019-05-01 22:43] mpokorny commented on #531
The backtrace is below. Since it seems not very enlightening to me, I will add a bit of context.
The HDF5 file was first written with a copy operation to an attached HDF5 file, and I've confirmed that the file is OK by inspection using the `h5dump` tool. The dataset being accessed is a small two-dimensional, dense array of integers. The failure occurs in code that verifies the dataset contents wit

[2019-05-01 23:11] elliottslaughter opened #532 "Regent: Selectively create inline mappings for regions in non-inner tasks"
Currently, Regent is able to completely skip inline mappings for new regions only in inner tasks. In a task that creates a large number of regions but only accesses one, all regions will be inline mapped. The mapping optimization should be updated to disable the initial inline mapping on regions not accessed in a task.

This is a block for @syamajala on the solver code.

[2019-05-02 17:05] junghans opened #533 "All test segfault on Fedora Rawhide with legion-19.04.0"
[code]
Details [here](https://github.com/StanfordLegion/legion/files/3139101/build.txt) and here: https://koji.fedoraproject.org/koji/taskinfo?taskID=34577005

This can be reproduced with the following Dockerfile:
[code]

[2019-05-02 21:48] streichler commented on #533
@junghans when I try to use the Dockerfile above, it barfs with the following:
[code]

Also, can you confirm that bumping to legion-19.04.0 was the only change that took this from working to borken?  Thanks!

[2019-05-02 22:08] magnatelee commented on #532
This seems to be the same issue as #349.

[2019-05-03 21:45] junghans commented on #533
Hmm, on my other machine, I got the same error, however, one can just take the last image from `dnf install -y make` and then do `docker run -it <sha> /bin/bash` and execute `rpmbuild -D"_sourcedir ${PWD}" -D"_srcrpmdir ${PWD}" -ba legion.spec` in there, which leads to the same segfault.

`legion-18.12.0` got rebuild recently, so that still worked. First I thought it might be gasnet, but it segfau

[2019-05-05 06:22] lightsighter commented on #533
Do you have any docker containers that test just MPI without GASNet and Legion? The crash is happening inside libopen-pal which is an MPI library.

[2019-05-05 12:32] junghans commented on #533
Yes, the spec builds legion without MPI and with Gasnet on top of MPICH as well as OpenMPI.

[2019-05-05 20:42] lightsighter commented on #533
Well, I mean do you have a container that just runs the OpenMPI test suite without any Legion/GASNet/etc?

[2019-05-05 23:17] junghans commented on #533
The openmpi build always runs the test suite: https://src.fedoraproject.org/rpms/openmpi/blob/master/f/openmpi.spec#_236
So  openmpi can be considered tested.

[2019-05-05 23:20] junghans commented on #533
Something like:
[code]

[2019-05-05 23:47] lightsighter commented on #533
That's just running 'make check'. It's not running the MPI Test Tool:
https://github.com/open-mpi/mtt

[2019-05-05 23:54] lightsighter commented on #533
Effectively I'm going to continue to view this as not our problem. MPI should never segfault. It should either work or return an error code saying why what we did was wrong. Any segfaults in OpenMPI are the problem of the OpenMPI developers. If you get a backtrace that ends in Realm or Legion then we'll take the blame for it.

[2019-05-06 00:14] junghans commented on #533
@opoplawski any ideas on this?

[2019-05-06 01:04] junghans commented on #533
Looking at https://apps.fedoraproject.org/koschei/package/legion, it seems openmpi-4 broke the build.

[2019-05-06 01:21] lightsighter commented on #533
Let's try again once they fix it.

[2019-05-06 02:10] junghans commented on #533
@streichler adding
[code]
fixes the module load issue.

[2019-05-06 04:02] opoplawski commented on #533
I've filed https://github.com/openucx/ucx/issues/3558

[2019-05-06 16:43] mpokorny commented on #531
I wrote a small test program to read a 12x2 dataset of `unsigned` values from a test HDF5 file. It sets up the `LogicalRegion`, attaches to the HDF5 dataset, and iterates through the dataset elements, like so:
[code]
This code triggers the same assertion. What am I missing?

[2019-05-06 17:01] junghans opened #534 "legion-19.04.0: circuit tests fails under Fedora 30 only on i686"
This is unrelated to #533, on the update coming Fedora 30, the `circuit` test is fails:
[code]

It is worth noting that this happenson i686 (all other archs pass, see: https://koji.fedoraproject.org/koji/taskinfo?taskID=34681259) with the gasnet backend build with mpich-3.2.1-9, the serial build passed as well.
Details [here](https://github.com/StanfordLegion/legion/files/3148988/build.log.txt)

[2019-05-06 18:01] streichler commented on #534
@junghans got a Dockerfile I can use to repro this?

[2019-05-06 19:24] streichler commented on #531
@mpokorny I'm betting you're not missing anything.  Can you attach your test program and I'll beat on the runtime code until your test works?

[2019-05-06 19:37] mpokorny commented on #531
Test code attached, as well as test HDF5 file (not the smallest possible example, but small enough.)
[test.tar.gz](https://github.com/StanfordLegion/legion/files/3149554/test.tar.gz)

[2019-05-06 21:01] junghans commented on #534
I triggered a rebuild and now it seems to pass: https://koji.fedoraproject.org/koji/taskinfo?taskID=34685482

So let's not worry about that issue for now.

[2019-05-06 21:01] #534 closed

[2019-05-06 21:02] junghans commented on #534
PS: I tried to reproduce it locally (as I don't have an i686 for docker) with:
[code]
and it was successful as well.

[2019-05-06 22:12] manopapad opened #535 "Regent: Error in struct handling"
Based on a reproducer by @mariodirenzo.

Unzip [testConfig.tar.gz](https://github.com/StanfordLegion/legion/files/3150014/testConfig.tar.gz) and run:

[code]

These two statements should both print `4.200000e+01`, but the second prints `0.000000e+00`:

[code]

[2019-05-07 06:26] OuHangKresnik opened #536 "Any plan to add Turing architecture in Nvidia ?"
Just as the title

[2019-05-07 07:45] lightsighter commented on #536
https://gitlab.com/StanfordLegion/legion/commit/80183421fd4b530f669efe3ec792e5af351e9323

Will be over here on github in just a little bit once the coherence script runs.

[2019-05-07 07:59] OuHangKresnik commented on #536
I've tried this change, while it still reports the same error.

[2019-05-07 08:05] OuHangKresnik commented on #536
I've tried this and explicitly set GPU_ARCH to be turing,  but the same error shows:

[0 - 7f684e12b200] {5}{gpu}: ERROR: The binary was compiled for the wrong GPU architecture. Update the 'GPU_ARCH' flag at the top of runtime/runtime.mk to match your current GPU architecture.
[0 - 7f684e12b200] {5}{gpu}: Failed to load CUDA module! Error log:
CU: cuModuleLoadDataEx = 209 (CUDA_ERROR_NO_BINARY_FOR

[2019-05-07 09:08] OuHangKresnik commented on #536
Now it works

[2019-05-07 23:24] elliottslaughter commented on #535
[code]

What's PROMETEO?

[2019-05-07 23:56] manopapad commented on #535
Prometeo is the name of the original application that this reproducer comes from. Please set `PROMETEO_DIR` to the directory where you extracted the reproducer.

[2019-05-08 23:25] junghans commented on #533
Just FYI, Fedora 29 and the upcoming 30 will get a legion-19.04.0 update in a couple of days.

[2019-05-09 08:29] lightsighter commented on #533
@junghans Will that include the fix for OpenMPI 4? Looks like the bug above is still open.

[2019-05-09 15:11] junghans commented on #533
Nope, Fedora 29 and 30 still use OpenMPI-3.

[2019-05-09 16:38] streichler commented on #531
@mpokorny it took an unrelated question about Legion's internal use of libhdf5 to remind me what the underlying issue here is.  The problem is that libhdf5 is not thread safe, so direct access to an HDF5 instance by an application task needs to be properly synchronized w.r.t. any HDF5-related data transfers that Legion is performing asynchronously to the application task.

How critical is this iss

[2019-05-09 16:53] streichler opened #537 "python: deadlock when importing modules that register tasks"
We are observing a deadlock with python processors when running on multiple nodes that goes like this:
* thread 1 on the python processor is running a task (the top level task?) that imports a python module.
 * as part of that import, legion tasks are registered, which causes a task registration to be queued up on the local python processor, and then that task waits on an event related to inter-no

[2019-05-09 17:20] mpokorny commented on #531
Am I correct in assuming that using a thread safe build of HDF5 might help, but wouldn't really address all of the potential issues?

If I understand your suggestion properly, I could implement a mapper to map the region to normal system memory and let Legion take care of the copying. In that scheme I could then control the memory usage by appropriate partitioning, right? Is the following the appr

[2019-05-09 17:57] streichler commented on #531
Yes, that'd work.  An even more heavy-handed approach, which you can see in some of our test code (e.g. https://github.com/StanfordLegion/legion/blob/stable/language/tests/hdf5/run_pass/attach_hdf5_inline.rg#L64), is to explicitly `copy` data to/from the attached region and never index it directly.

[2019-05-09 18:08] mpokorny commented on #531
Thanks for the advice. I'll try implementing the mapper-based solution. I'm familiar with the approach used in your example: it's basically what I implemented to create HDF5 files from application-defined regions in test code.

[2019-05-09 18:24] lightsighter commented on #537
As to solution 1, that's not the only place this happens. @elliottslaughter can also cause the hang doing any number of other things such as setting semantic values or registering any number of other kinds of resources with the runtime. I also think it's even worse than that, pretty much anywhere that the runtime takes a Realm fast reservation could potentially result in a preemption of the thread

[2019-05-09 18:33] elliottslaughter commented on #537
I think some clarifications are in order.

The scenario in which we're freezing is one where we are using DCR on the top-level task `legion.legion_main`. This is a built-in task whose job it is to call `exec` on the actual, user-defined script. The whole goal of this process is to make it appear like a normal Python execution (i.e. how `python user.py` would behave), where the script-style executi

[2019-05-09 18:35] lightsighter commented on #537
I still think (2) is a solution. You can still defer the runtime calls from inside the import statement until you get another call into the library at which point you check for any deferred runtime calls and then perform them.

[2019-05-09 18:37] elliottslaughter commented on #537
Here's the code we're running. We don't call import, and we don't hold any locks:

https://github.com/StanfordLegion/legion/blob/master/bindings/python/legion.py#L1527-L1537

Therefore I don't see how (2) is applicable.

[2019-05-09 18:38] lightsighter commented on #537
Ok, so how did we get into import code? We're definitely inside an import statement when we hang.

[2019-05-09 18:48] elliottslaughter commented on #537
I guess what must be happening is that `user.py` is importing another module, and that module is transitively registering a task.

I'm still confused about (2) though. We're not running in a mode where there is a clear boundary between "all imports" and "all execution"; these are interleaved. Unless I can override Python's import mechanism or add a callback that occurs when an import completes, I

[2019-05-09 20:52] elliottslaughter commented on #537
Ok, here's a proposal:

We could add a new callback in the Realm Python module. When loading `legion.py` this would be auto-populated with a Python function that would handle the deferred registration of tasks. Here are the steps that would be followed during task registration:

  * From user code: define a task with `@task`
      * `legion.task` puts the user's task into a list to be processed la

[2019-05-09 21:45] lightsighter commented on #537
I guess the two questions are how does Realm get the call-back registered and how often does Realm have to invoke this call-back?

[2019-05-09 22:02] streichler commented on #537
@lightsighter , you said above that there are other things a legion task can do that will cause blocking waits.  If so, then deferring only the task registrations (i.e. #2 or the soon-to-be-copied-up #6) wouldn't be sufficient, would it?

[2019-05-09 22:02] elliottslaughter commented on #537
Actually, wait, this is going to run into exactly the same freeze we're already hitting. Because Realm spins up a new thread whenever the Python processor is blocked, we're just going to call the callback and cause the freeze. The real root of the condition is holding the import lock while blocking in Realm, and my approach doesn't fix that.

Is there a reason why we couldn't do something like: pr

[2019-05-09 22:29] lightsighter commented on #537
Yes, all runtime calls need to be deferred, not just task variant registration. Anything that can call into the runtime can potentially attempt to take a Realm fast reservation and block the thread if there is contention.

[2019-05-09 23:11] streichler commented on #537
Ok, the current consensus is to do proposal #5 (the scheduler lock), along with some monkeypatching of the Python bindings for the Legion API to wrap the various registration tasks (@lightsighter to provide a list) with automatic locking of the scheduler for the duration of that call.

[2019-05-10 16:56] mpokorny opened #538 "HDF5 dataset value order"
I've written a test program that creates a small 2-D (3x2) LogicalRegion, initializes it, writes it to HDF5, reads it back from the file into a new LogicalRegion, and compares the two regions. All of this works as I would expect. However, looking at the HDF5 file using h5dump, I find that the elements in the dataset are not in the correct order; in fact, they appear to have reversed row and column

[2019-05-10 18:44] lightsighter commented on #533
Ok, so with OpenMPI 3 all the test still work? So we won't break the build right?

[2019-05-10 19:00] junghans commented on #533
Yes all test still pass. We will just wait for a OpenMPI-4 fix coming to rawhide.

[2019-05-10 21:16] streichler commented on #538
Yes, this is expected behavior.  Memory instances in Legion can use either Fortran-style array layouts (first index changes fastest) or C-style (last index changes fastest), but default for Fortran order.  HDF5 only supports C-style ordering of data.  Legion allows you to select the order at the time you attach to the external HDF5 instance, but we'll need @elliottslaughter to tell us if/how you c

[2019-05-10 21:26] elliottslaughter commented on #538
CC @magnatelee

[2019-05-10 21:28] elliottslaughter commented on #538
Isn't there an argument to be made here that HDF5 instances should follow the logical rather than the physical ordering of data? Otherwise mapping decisions would be capable of causing your code to be incorrect.

[2019-05-10 21:39] lightsighter commented on #537
Here is a first pass on a list of API calls that I think would be called inside an import statement and could potentially cause bad behavior:
MPI Interop: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L6089-6118
Semantic Values: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L6120-6423
Printing: https://gitlab.com/StanfordLegion/legion/blob/master/run

[2019-05-10 21:43] mpokorny commented on #538
FWIW, I'm using the C++ API. I don't see that AttachLauncher::attach_hdf5() has an argument to select the memory instance order -- should I be setting the launcher's `constraint` value?
Following on the last comment by @elliottslaughter, I would like to see HDF5 files written from Legion to be usable outside of Legion, without any additional (non-libhdf5) annotation of the layout that other applic

[2019-05-11 01:47] streichler commented on #538
Oops, I was looking at the `column_major` field on the `attach_array_aos` call right below the `attach_hdf5` call you're using...  I think we will need some new plumbing in Realm (and then in Legion) for this, so I'll take ownership of this for now.

[2019-05-11 15:06] mpokorny commented on #538
Thanks for your attention to this issue. It's not a top priority issue for me at the moment as long as a write/read cycle to/from HDF5 within Legion maintains consistency, which appears to be the case currently. Perhaps there are cases that might not work at present (e.g, HDF5 file chunking?), but I won't worry about that until I hit one of those.

[2019-05-13 20:37] mariodirenzo commented on #535
Is there any update about this issue?

[2019-05-13 21:33] magnatelee commented on #535
I think the bug is actually in Terra. I wrote a terra function with the same lines of code and observed the same buggy behavior. When I changed the code to use a Terra struct isomorphic to the imported C struct, the bug disappeared. I suspect that Terra doesn't correctly emit copy assignments for imported structs.

@mariodirenzo I believe You can work around this issue with the new address-of oper

[2019-05-14 01:03] mariodirenzo commented on #535
@magnatelee thanks for replying. Can you port this feature on the ``parallelizer-dcr`` branch?

[2019-05-14 09:07] magnatelee commented on #535
I just updated the `parallelizer-dcr` branch with those changes. (You will need to hard reset your local branch as I rebased it.)

[2019-05-14 18:18] elliottslaughter commented on #535
@magnatelee Can you please submit a Terra bug so we don't lose track of this?

[2019-05-14 20:35] lightsighter commented on #390
This also needs to support variables decorated with __managed__ which can trigger the __cudaRegisteredManagedVar call from the CUDA compiler.

[2019-05-15 17:16] mariodirenzo commented on #535
Hi all, the workaround proposed by @magnatelee does not solve the problem if I pass the struct to a task like this :
[code]

The struct config is used in the solver to provide input data to almost every task and, as far as I know, I cannot pass it by reference to tasks that are not inlined, right?

[2019-05-18 00:40] lightsighter commented on #487
When you fix this, please also get rid of the dynamic cast in the barnes-hut example that leads the user to create a duplicate deletion because they create two static names for the same dynamic partition. See this commit:
https://github.com/StanfordLegion/barnes-hut/commit/9c11b5b48bb14bfddb8b48082a85aa5cb11b10d6

[2019-05-18 01:38] sparkasaurusRex opened #539 "Document requirements on explicit copies"
If `r_src` is some partition, then `copy(r_src, r_dest)` actually gives `r_dest` the values of the original region. This is confusing if `r_src` is a parameter of a task because the programmer might not even know that `r_src` is a partition.

[code]

[2019-05-21 02:26] elliottslaughter commented on #539
Did you run this code with Legion in debug mode? I get the following:

[0 - 7faf6b73f700] {5}{runtime}: [error 209] LEGION ERROR: Destination index space 3 for requirement 0 of cross-region copy (ID 6) in task toplevel (ID 1) is not a sub-region of the source index space 5. (from file /home/elliott/legion/runtime/legion/legion_ops.cc:3511)[error 209]

The reason for the error is that you are copyi

[2019-05-21 03:40] sparkasaurusRex commented on #539
I did not realize `copy` had these limitations. I have not been using Legion in debug mode and never saw any errors like that. Can the language reference for `copy` be changed on the webpage to reflect these limitations? In my own code I'm moving data from one fspace to another and I thought `copy` would be cleaner. The code was almost working, so I thought it was a bug. Can you force `copy` to fa

[2019-05-21 04:47] elliottslaughter commented on #539
In general I recommend running in debug mode during initial development: there are many more errors like these that will be caught automatically if you do.

This particular case could also be caught at compile time but unfortunately in general this is an undecidable problem. The compiler can't always know how regions are related to each other. In the past our policy has been to let the runtime cat

[2019-05-22 16:18] elliottslaughter commented on #513
Should be fixed by 6f4e80a6b00384f7c7816f8ba584fa163dd059ef.

[2019-05-28 23:23] lightsighter opened #540 "Update Profiler to Record Multiple Logical Regions for Physical Instances"
In the nopaint branch and later, physical instances can be the result of the union of multiple logical regions so the profiler should record them as such. @seemamirch will update the master branch so the profiler can record multiple logical regions for a physical instance. @lightsighter will then propagate the changes to the nopaint branch.

[2019-06-02 01:59] mariodirenzo commented on #535
is there any update regarding this issue?

[2019-06-03 18:35] elliottslaughter commented on #535
Can someone (@magnatelee or someone else) post a complete, self-contained reproducer? This looks like something that should just be a 10 line program.

[2019-06-04 00:38] lightsighter opened #541 "Phase Barrier Generation Overflow"
We need a better way to deal with overflow of phase barrier generations. At a minimum Realm needs to at least have a better error message when a barrier's generations have been exhausted. A better option would be for Legion to detect such cases and automatically make a new phase barrier to fill in for the old one.

Our test case for this is from @mariodirenzo. He should comment on here to say whet

[2019-06-04 06:15] magnatelee commented on #535
I submitted a Terra bug: https://github.com/zdevito/terra/issues/372

[2019-06-04 16:36] mpokorny opened #542 "Missing LockRequest constructor"
The LockRequest constructor declared in the following
https://github.com/StanfordLegion/legion/blob/8fab48829bb0db6a0cdcd62def8d4c0509241c37/runtime/legion.h#L788
appears to be missing its definition.

[2019-06-04 20:55] mariodirenzo commented on #541
This change in Legion
[code]
triggered the assertion ``prometeo.exec: legion/runtime/realm/runtime_impl.cc:2301: Realm::GenEventImpl* Realm::RuntimeImpl::get_genevent_impl(Realm::Event): Assertion `id.is_event()' failed.`` 32 times faster than the default version of the library.

[2019-06-05 01:33] lightsighter commented on #542
I intentionally left this unimplemented so we could find out why we need it. @mpokorny what are you planning on using this for?

[2019-06-05 06:06] lightsighter commented on #541
This issue should be fixed by commit 0432ba7. @mariodirenzo can you confirm that it has been fixed?

[2019-06-05 16:56] mpokorny commented on #542
I was attempting to use a `Grant` to serialize access from tasks to a library that is not thread-safe when doing some debugging. I've since fixed the issue I was debugging, and I no longer require instantiating a `LockRequest`. So my use was a real corner case, I guess, and it doesn't reflect an approach that I'd take in production code.

[2019-06-06 00:43] mariodirenzo commented on #541
All the jobs that were crashing because of this issue seem to work now.
I'll give an update in the next few days to confirm that the bug has been fixed.

[2019-06-06 19:53] elliottslaughter commented on #441
Should be fixed by 6e0cb33e6d345b4617b23fc69ce0dc05cb6ee880. Python maintains internal buffers for stdout/stderr and if you don't flush those you lose any lingering output.

[2019-06-06 19:53] #441 closed

[2019-06-06 19:54] elliottslaughter commented on #437
This is a dupe of #441 and fixed by the same patch.

[2019-06-06 19:54] #437 closed

[2019-06-06 20:12] eddy16112 opened #543 "Attach HDF5 does not support nested groups"
@streichler
I have a hdf5 file which is:
HDF5 “checkpoint.dat0” {
GROUP “/” {
 GROUP “input_lr_1” {
    DATASET “FID_X” {
       DATATYPE  H5T_IEEE_F64LE
       DATASPACE  SIMPLE { ( 32 ) / ( 32 ) }
       DATA {
       (0): 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       (21): 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
       }
    }
The attach operation can not find the FID_X, the err

[2019-06-07 04:11] lightsighter commented on #542
Ok that was a reasonable reason to use it. I've added the missing definition with d7cad2b. Closing the issue.

[2019-06-07 04:11] #542 closed

[2019-06-07 04:12] lightsighter commented on #539
Do we want to keep this issue open to track the TODO or should we close it?

[2019-06-07 04:15] lightsighter commented on #528
@elliottslaughter Are you still seeing this or did we fix it? I can't remember. If not, can @seemamirch look at it?

[2019-06-07 04:15] lightsighter commented on #533
@junghans Do we have an update on this issue? Has OpenMPI-4 made it into rawhide?

[2019-06-07 12:41] junghans commented on #533
Nope, no news and openmpi-4 is in rawhide, but broken.

[2019-06-07 13:59] opoplawski commented on #533
Actually, openmpi in rawhide is now being built without ucx, and that fixed the legion build: https://apps.fedoraproject.org/koschei/package/legion  The most recent build failed for a different reason.

[2019-06-07 14:57] junghans commented on #533
Ok, the original issue is fixed, now the circuit test fails on ppc64le:
[code]

[2019-06-07 14:57] #533 closed

[2019-06-07 16:11] elliottslaughter commented on #539
@lightsighter Can you remind us of the exact set of requirements on copies? Then I can add them to the documentation.

E.g. src and dst must live in the same region tree, but is it a requirement that `src <= dst` or the other way around, and what are the requirements if you issue copies between two regions across the region tree (i.e. `not (src <= dst or dst <= src)`).

[2019-06-08 02:07] lightsighter opened #545 "Support for Re-Use of Reduction Instances"
It would be nice if we could re-use reduction instances both for multiples tasks within the same reduction epoch as well as across different reduction epochs. There are slightly different analyses needed to support this, but they are relatively similar. There should be a way to leverage out knowledge about the mapping dependence process to enable this. We do have to be a little bit careful about h

[2019-06-08 02:58] lightsighter commented on #539
Src and dst do not have to be from the same region tree (that used to be a requirement but it is not any longer). The only requirements right now is that index spaces be of the same dimensionality, have this relationship dst <= src, and the fields that are being copied between are the same size.

The case of when src does not dominate dst will be handled once @streichler implements affine gather/s

[2019-06-08 03:15] elliottslaughter commented on #539
Just to be clear, does `dst <= src` mean subregion relation, or just that the bounds of src are larger than dst?

[2019-06-08 06:02] lightsighter commented on #539
In the master branch it means the former; in the nopaint and later branches it means the later.

[2019-06-09 00:48] mariodirenzo commented on #545
This feature would be very useful for an application like this
[code]
My understanding is that legion performs ``nStep`` reductions right now.
They could be reduced to just one.

[2019-06-10 04:58] lightsighter opened #546 "Support for Reduction and Copy Trees"
The runtime should really generate reduction trees whenever we are reducing a very large number of reduction instances across a distributed system. Similarly, when doing a post-mapping operation that creates many output copies, the runtime should create broadcast trees of the copies for the instances in a distributed system. It's unclear whether or not this needs mapper guidance or not in order to

[2019-06-10 20:18] elliottslaughter commented on #474
I was thinking about this again recently, and one issue with the approach I suggested is that it doesn't generalize well to index operations other than task launches (because IndexCopy and IndexFill don't have task arguments). I see a couple options:

 1. Don't support variables in projection functors for non-IndexTasks. (This makes support inconsistent across the language, but I can't actually co

[2019-06-10 20:46] elliottslaughter commented on #539
I've updated the reference here: http://regent-lang.org/reference/#copies

Please let me know this is inaccurate or confusing.

[2019-06-10 20:46] #539 closed

[2019-06-11 06:28] lightsighter commented on #474
Why do you need to pass a TaskArgument to your projection functors? Most of the non-deprecated versions of the projection functor API don't take them as arguments.
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion.h#L3131-3188

[2019-06-11 16:28] elliottslaughter commented on #474
I'd like to be able to index-launch the inner loop in codes like:

[code]

This example is sort of trivial but the same sort of pattern shows up in `language/examples/cholesky.rg`.

Point is, the index expression `{i, j}` captures a variable `j` which is invariant for the duration of the loop but not for the duration of the program. I don't really want to generate a literal closure, for the reason

[2019-06-11 18:21] elliottslaughter commented on #528
Seems to be fixed now. Closing.

[2019-06-11 18:21] #528 closed

[2019-06-11 18:26] elliottslaughter opened #547 "Differences between PyPy and CPython in Legion Prof generated output"
PyPy and CPython (i.e. the normal Python implementation) generate different output when running the Legion Prof script. It's nice to be able to use PyPy because it is substantially faster than CPython for many operations.

I'm attaching an example log and `legion_prof` output from PyPy and CPython. The PyPy output has extra lines for each processor: each processor appears under its node *and also

[2019-06-11 21:17] mariodirenzo commented on #541
I've been running other calculations in the last week and I did not experience other crash related to this issue. For me, it can be declared solved.

Thank you for your help!

[2019-06-12 04:36] lightsighter commented on #541
I agree I think it's fixed.

[2019-06-12 04:36] #541 closed

[2019-06-12 05:39] lightsighter commented on #547
It looks like @seemamirch fixed this with f48c6062. I see the extra profiling lines are gone, but the names of the individual memory channels are still not rendering correctly. I just see things like "node[0] to node[0]". If you hover over them you see the right memories listed, but it's not obvious from the label that this channel is between two memories. @elliottslaughter can you confirm you're

[2019-06-12 16:44] elliottslaughter commented on #547
I'm still seeing both problems in the latest master (26cd55afb795ea84015b5f20a10cb99a71f8050d).

[2019-06-12 17:17] elliottslaughter commented on #547
I confirmed that with the PyPy on Sapling (which is newer) the issue with extra processors go away. I still see the issue Mike identified.

[code]

Given that it works in a newer PyPy version I think it's not worth worrying about older PyPy version.

[2019-06-12 17:17] seemamirch commented on #547
I'm also not able to reproduce this. I did fix it a while back
https://gitlab.com/StanfordLegion/legion/commit/5fa02ac11ad9da7ce735688aedc265fb29f1d852
Also the node[0] to node[0] was by design i.e. where do the memories resides. It is grouped under (Channels) + hovering over it gives you the details.  Previously it was not grouped under channels and the title was always "Mem to Men Channel". But

[2019-06-12 17:22] lightsighter commented on #547
Well, the node[0] to node[0] is a problem on things like DGX boxes. Inside of a single node there are actually 80 channels: 64 because there is a channel between each pair of the 8 GPUs, and 16 more because there is a channel between each of the 2 CPUs and each of the 8 GPUs. We don't want all those channels to show up the same as "node[0] to node[0]". We actually need to see the names of the memo

[2019-06-12 17:24] lightsighter commented on #547
Also, I think I see filenames with "L" in them in the legion_prof_processors.tsv file when I run with pypy.

[2019-06-12 17:29] seemamirch commented on #547
So it does report the GPU if the memory resides on it example node[0][GPU 8] (frame buffer on gpu8). Hovering over it - will give the details.
If it's just sys mem is says node[0]. Let me know what exactly you want it to say.
That "L" was fixed a while back

[2019-06-12 18:28] lightsighter commented on #547
How do you distinguish between framebuffer and zero-copy memories on the same GPU?

I think @elliottslaughter and I are still seeing them so maybe they are not fixed everywhere?

[2019-06-12 19:40] elliottslaughter commented on #547
I am no longer able to reproduce the issue with `L` since I upgrade PyPy on my desktop to version 7.0.0.

[2019-06-12 20:27] lightsighter commented on #547
It seems that my problem is also an old pypy. I think @seemamirch has also updated the labels for the channels so I think we can close this if @elliottslaughter is satisfied.

[2019-06-12 20:31] seemamirch commented on #547
I'll close it once I check it in - here's a version for preview (I will replace [node 0] with n0 too) http://sapling.stanford.edu/~seemah/legion_june/examples/circuit/legion_prof.23/?start=5393150.430480174&end=5585545.156940655&collapseAll=false&resolution=10

[2019-06-12 20:32] elliottslaughter commented on #547
Everything looks fine from my end.

[2019-06-12 23:28] #547 closed

[2019-06-12 23:29] seemamirch commented on #547
Checked in the changes to master

[2019-06-12 23:44] elliottslaughter commented on #474
We discussed this at the meeting today, and the proposal we came up with was to:

  * Add a `TaskArgument` field to the `RegionRequirement` that represents a blob of bits associated with the `RegionRequirement` that get copied around along with it and are available to projection functors, mappers, etc.
  * Do not otherwise change the projection functor interface. (You can get to the `TaskArgument`

[2019-06-13 17:13] syamajala commented on #511
Structs would be nice. Right now I'm unpacking them and passing each value from the struct individually.

[2019-06-14 09:08] lightsighter commented on #474
I've added support now for "projection args" on region requirements. You can add them and get them off the region requirements.

https://gitlab.com/StanfordLegion/legion/commit/63241c02051f061bfee3fe2b497ecf4ff04e8e05

Let me know if you have any problems with them.

I've left up to you guys to figure out how to put this in the C API.

[2019-06-16 03:21] streichler commented on #543
Commit f7a67b2 should do the trick for users of the C++ api.  As with most HDF5 tools, the leading slash in a path name is optional (i.e. either "/input_lr_1/FID_X" or "input_lr_1/FID_X" would work for the example above).  Adding @elliottslaughter to comment on how hard it'd be to have regent accept custom dataset names (it looks like it generates them automatically from the names of the fields in

[2019-06-16 03:25] streichler commented on #537
I think the burst of commits ending in c2f4c9d takes care of this.  @elliottslaughter , can you think of anything that still needs doing here?

[2019-06-16 03:28] streichler commented on #447
@lightsighter is this still needed if we have the completion queue thing that I really need to get around to writing up?

[2019-06-16 03:32] streichler commented on #409
@junghans do we still have failures on any flavor of Fedora with more recent versions of Legion?

[2019-06-16 04:12] lightsighter commented on #447
Yes, we still need this for when I do tests for has_triggered on remote nodes. It's unrelated to the completion queue changes.

[2019-06-16 12:57] junghans commented on #409
I think this is fixed.

[2019-06-16 12:57] #409 closed

[2019-06-16 17:27] streichler commented on #447
@lightsighter can you describe the use case again please?

[2019-06-16 17:28] streichler commented on #398
#409 is closed, so closing this one too

[2019-06-16 17:28] #398 closed

[2019-06-16 17:29] streichler commented on #350
This patch finally made it in to the trea a while ago, and Fedora builds have been working lately.

[2019-06-16 17:29] #350 closed

[2019-06-17 06:43] lightsighter commented on #447
There were two use cases. One is that I could simplify the shutdown algorithm by being able to get rid of comments like this:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/runtime.cc#L5751-5753
The other is that I can filter events for out-of-order message delivery. I could maybe do this second one with a completion queue, although I need to be able to see message completions

[2019-06-17 15:43] elliottslaughter commented on #537
I need to check whether the workaround at https://upc-bugs.lbl.gov/bugzilla/show_bug.cgi?id=3908 is still necessary, but otherwise I think we're good at the moment.

[2019-06-17 15:45] elliottslaughter commented on #543
Do you want the dataset names to be dynamic? (Or is there any plausible use case where you'd want them to be?)

The answer to this question will determine what we'll need the API on the Regent side to be. If you need them to be dynamic then I need an array of strings passed as an argument (as opposed to having them added to e.g. the field access syntax).

[2019-06-17 15:51] streichler commented on #537
I don't think we should remove that workaround.  The problem with forks occurring while active messages are being sent is real, and it may be that changes to the python startup cause it to stop reproducing the fork issue, giving us a false sense of security.

[2019-06-17 15:54] streichler commented on #543
They are dynamic in the C++ API, and I think that's probably a good thing.  For example, you might have an HDF5 file with multiple datasets and use a command-line parameter to decide which one your app will actually use.

[2019-06-17 16:05] elliottslaughter commented on #543
Ok, so if I just add an optional `char **` argument for the datasets is that enough to do what you want?

[2019-06-17 17:28] eddy16112 commented on #543
@streichler If I understand correctly, the "field_map" for nested group will be "group_name/field_id", right?

[2019-06-17 17:41] streichler commented on #543
@eddy16112 yes, and it'll work with or without the leading slash

[2019-06-17 18:13] #537 closed

[2019-06-17 20:02] elliottslaughter commented on #543
Regent now has an optional argument you can use to manually specify a field map.

[2019-06-17 22:36] lightsighter opened #548 "Use HDF5 Sync Operations"
We want to use HDF5 sync operations to flush effects out to the file system instead of having to rely on a separate file open/close operations on every Realm DMA operation.

[2019-06-17 22:40] lightsighter opened #549 "Realm Control File Open/Close Process with File Name"
Add a new convention for file naming that allows users to control which process performs file open/close operations for a given external file that is attached to a region.

@gshipman and @eddy16112 to comment on current file naming standards.

[2019-06-17 22:42] lightsighter opened #550 "Add File I/O Functor to Legion for Computing Attach File Names Over Partitions"
Create a new kind of functor that is registered with the runtime that is able to compute the names of files for doing an attach to a logical region over a partition.

@gshipman and @eddy16112 to comment on the kinds of arguments that need to be passed to these functors.

[2019-06-18 02:50] eddy16112 commented on #550
I think it can be done like this:
AttachLauncher(LogicalPartition, LogicalRegion)
attach_hdf5(std::vector<const char *>file_name_vector,
                      const std::map<FieldID,const char*> &field_map,
                      LegionFileMode mode)
Each element within the file_name_vector can be used for the filename of each subregion.

[2019-06-18 05:37] lightsighter commented on #550
That's not quite what we mean here. @gshipman should be able to explain to you tomorrow.

[2019-06-18 15:13] streichler commented on #543
And commit b779249 adds a test to the Regent test suite that demonstrates/tests said capability.

[2019-06-18 15:13] #543 closed

[2019-06-18 15:18] streichler commented on #549
In the absence of external suggestions/constraints, I'll probably do something like this:
"rank=432:/file/path/to/open/from/rank/432/..." or
"{rank=432}/file/path/to/open/from/rank/432/..."
with the intent that other prefixes might be added in the future (e.g. a specific hostname).  Anybody with
a preference between those two and/or alternative suggestions should speak up soon.  :)

[2019-06-19 15:52] streichler commented on #527
Commit 15dde423 tries to be a little more user-friendly here.  As a side benefit, commit 1b68f55a lets you write things like `-ll:fsize 10g` (or `-ll:fsize 1t` if you want to test the out-of-memory errors :).  @manopapad can you take a look at let me know if you're satisified?

[2019-06-19 15:53] streichler commented on #549
Poking @gshipman and @eddy16112 to comment soon (or not at all).

[2019-06-19 17:00] gshipman commented on #550
I chatted with Wei. Here is my understanding of the approach:
We will be able to register a functor that is able to maps colors in a partition to filenames and groups.
We (FleCSI) will be responsible for generating a set of M files (say pressure_0.h5, pressure_1.h5) with the group and datasets we wish to use in the attach operation.
Given a logical region Dest with a disjoint partitioning of 4 col

[2019-06-19 18:08] streichler commented on #549
The goal is just to cover the things that might be part of a URL (e.g. figuring out which server/mount-point/whatever the file is on and what the name of the file is on that location).  Other parameters (e.g. read only or cache size or what have you) do not change which "file" you're talking to and are currently specified via a more well-structured API.  :)

[2019-06-19 19:25] manopapad commented on #527
Love it! 2 things to note:

It looks like a parenthesis is at the wrong place in the error message:
[code]
should probably be:
[code]

Also, asking for more RAM than is available (e.g. using `-ll:csize`) still results in a `std::bad_alloc`.

[2019-06-19 19:26] mariodirenzo opened #551 "Regent: error "argument is not provably projectable or invariant""
Except for the size of the index space (5d), this code should not differ from the one in #505
[code]
but upon compiling it returns:
[code]

Am I missing something?

[2019-06-19 19:59] elliottslaughter commented on #551
The problem in this case is the use of `rake` (i.e. a variable other than the loop variable `c`). We're working on this (but no ETA as of yet).

CC @lizdulac

[2019-06-19 20:07] mariodirenzo commented on #551
Ok, thank you.
Please, keep me posted when you make progress on this issue

[2019-06-19 20:18] mariodirenzo commented on #496
For the specific case of the maximum number of dimensions, it would be good to say on the legion and regent websites to export the variables `REALM_MAX_DIM` `LEGION_MAX_DIM` in the environment where the regent code and its mapper are compiled.
It is a temporary solution but would avoid a lot of pain to the users.
Personally, I did not see this issue and I have spent, together with Mike, two days t

[2019-06-20 15:38] elliottslaughter opened #552 "Add -lg:error flag"
Currently `-lg:warn` prints warnings which may be difficult to associate with source code locations. If we had a mode to actually assert on a warning (e.g. with a flag like `-lg:error`) you could at least get your app to freeze and get a backtrace. Fancier integration is also certainly possible, but it's not obvious if it's worth the effort.

(For reference, I'm talking about C++ codes here; in Re

[2019-06-20 15:59] streichler commented on #552
What about something like `-lg:warn_backtrace` that prints the backtrace for each warning without killing the application?  That way you don't have to peel them one at a time.

[2019-06-20 16:00] elliottslaughter commented on #552
That would be fine too.

[2019-06-20 17:17] lightsighter commented on #552
@streichler Do you want to give me a backtrace utility in Realm or should I role my own?

[2019-06-20 18:35] streichler commented on #552
Realm backtraces: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/faults.h#L55-93
Example usage: https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/threads.cc#L552-555

[2019-06-20 18:42] streichler opened #553 "Realm: CompletionQueue"
Multiple use cases have come up where an application (or the Legion runtime) wishes to know when any of the events in a set have triggered (e.g. to clean up resources or "select" on the completion of multiple independent computations).  A proposed API for the Realm completion queue is here:
https://gitlab.com/StanfordLegion/legion/blob/compqueue/runtime/realm/event.h#L133-184

I'd like comments fr

[2019-06-20 18:54] elliottslaughter commented on #553
Everything makes sense to me except the explanation of `get_nonempty_event`---it almost makes it sound like `has_triggered` will go from `false` to `true` to `false` again, which shouldn't occur unless this is some new sort of event that resets whenever the queue becomes empty again.

[2019-06-20 18:59] streichler commented on #553
Hmm...  I'll take another shot at that.  I had written up a description that the non-empty assurance of a `get_nonempty_event().has_triggered() == true` only lasts until a call to `pop_events` (by anyone, anywhere) and that after that a new nonempty event must be requested, but the description seemed pretty confusing, so I nuked it.  :)

[2019-06-20 19:01] elliottslaughter commented on #553
Just to be clear, it's not that the event will magically return to an untriggered state after `pop_events`, it's that the event state ceases to be indicative of the queue state after `pop_events` is called, right? Or are you really un-triggering the event?

[2019-06-20 21:08] streichler commented on #553
Yes, it's the former.  A triggered event will never ever ever untrigger.

[2019-06-20 22:37] manopapad opened #554 "New parallelizer makes combined ghost instance for all stencil directions"
Consider the following logs (from a simulation by @mariodirenzo): [4nodes_inst-prof.tar.gz](https://github.com/StanfordLegion/legion/files/3312293/4nodes_inst-prof.tar.gz).

This simulation runs on a 258x202x192 grid, split only on x, as follows: 0..64, 65..128, 129..192, 193..257. The `velocity` field is accessed on the x dimension using the following stencils: -2, -1, +1, +2, +3. Here are the in

[2019-06-21 07:23] lightsighter commented on #553
Why do we have to provide a maximum size for the queue?

[2019-06-21 14:18] streichler commented on #553
We need to have storage allocated to hold the triggered event IDs, and I don't want to be dynamically allocating in an event trigger handler if I can avoid it.  Event handles are not that large (only 8 bytes), so just about any upper bound you can come up with is probably fine unless you're creating a lot of these.

[2019-06-21 20:50] gshipman commented on #549
@streichler I don't have a strong preference on either, I slightly prefer the first.
One question, what is the definition of rank in this context? A single process on a node in the distributed system?
If we do a copy from LR1 on rank 0 to LR2 on rank 1 where LR2 is attached to file1, will the DMA system handle movement of all data (and writes to the file) as we expect? Thx

[2019-06-21 22:08] streichler commented on #549
@gshipman a "rank" is a separate process spawned by the job launcher (mpirun, jsrun, etc.).  We've typically called that a "node" in Legion-land, but I wanted to avoid confusion with choosing particular nodes in the cluster, which might also be desirable for this interface (e.g. attaching to a file that exists on a particular cluster node's local disk).

And yes, if you do a copy from LR1 that has

[2019-06-22 00:21] streichler opened #555 "Legion: assert when attaching to a remote HDF5 instance"
Repro instructions:
[code]

Output looks like this:
[code]

[2019-06-22 00:23] streichler commented on #549
I've got Realm changes to support the first syntax (i.e.
"rank=432:/file/path/to/open/from/rank/432/..."
), but we're running into an assert in the Legion code, which #555 is tracking.

[2019-06-22 01:55] lightsighter commented on #555
@streichler reminder to test this in the nopaint branch once the CI finishes.

[2019-06-23 20:10] lightsighter commented on #553
Is there a way to make it so that a size of 0 means there is no upper bound and you just handle the dynamic case with memory allocations?

[2019-06-23 21:44] streichler commented on #553
I can make that an option, but it'll involve additional overhead on every completion queue operation (taking a mutex, the risk of contention).  Completion queues with a fixed upper bound are expected to be wait-free.

[2019-06-24 01:21] lightsighter commented on #553
I'm willing to provide an upper bound, but I would prefer it to be a soft upper bound. Things can be wait-free with no memory allocation/deallocation as long as we don't exceed the upper bound, and then things fall back to the slower path with the mutex and contention and dynamic memory management once the bound is exceeded. I'm willing to pay the tax of a branch on every operation on the queue in

[2019-06-24 06:40] lightsighter commented on #496
We now have a way to do this in the Makefile build system and the files are generated out of tree, so each application will get its own. One downside is that file generation requires lots of file open/close operations currently and all those system calls take forever in the CI containers. The CMake build system already generates the define files, but does so in-tree. @elliottslaughter what do you

[2019-06-24 06:42] lightsighter commented on #540
@seemamirch Just pinging you on this. Wonchan is still the bottleneck on merging nopaint into master since he has to finish the updates to tracing, but once he's done this will be the only remaining issue blocking the merge of nopaint into master.

[2019-06-24 06:45] lightsighter commented on #514
There is support for running an implicit top-level task in the master and nopaint branches. The control replication branch still needs to add support for running an implicit top-level task.

[2019-06-24 06:45] lightsighter commented on #552
@elliottslaughter Are we done with this now?

[2019-06-24 16:12] elliottslaughter commented on #496
We'll want to make it efficient enough that we're happy turning it on by default, and then (to be sure it's working) we'll need to disable adding any such flags to `CC_FLAGS`. At that point, assuming everything is still working, this problem should just go away for all of our users.

[2019-06-24 18:10] elliottslaughter commented on #552
Confirmed that this works.

[2019-06-24 18:10] #552 closed

[2019-06-24 22:12] lightsighter opened #556 "Realm Support for Dynamic Reduction Op Registration"
Realm needs to support dynamic reduction operation registration. It kind of does this today, although maybe not safely. In the short term the locks protecting the reduction operator table at least need to be checked. In the longer term we need to provide support for a CodeDescriptor for reduction operations so that they can be registered in a subprocess world.

[2019-06-24 23:11] lightsighter commented on #556
Same issue also apply to custom serdez operations.

[2019-06-25 01:40] streichler commented on #527
So demanding...  Typo is fixed, and ll:csize-too-large gets a nice error message as of commit 72d493d.

[2019-06-25 02:49] manopapad commented on #527
Looks good!

[2019-06-25 02:49] #527 closed

[2019-06-25 03:15] streichler opened #557 "Realm: better checking for races in multi-node shutdown"
Commit 58e98f90 comments out an assert that triggers in a small fraction of CI runs, suggesting that we have a race or two in shutdown.  This should be re-enabled in a branch so that we can track down the race(s) without causing "false positives" for Legion users.

[2019-06-25 03:17] streichler commented on #498
Commit d8d4a2b7 should clean this up.  @manopapad feel free to check this your self and/or close the bug based on your trust level.  :)

[2019-06-25 03:18] streichler commented on #555
Much happier now.

[2019-06-25 03:18] #555 closed

[2019-06-25 03:18] manopapad commented on #498
I trust you :)

[2019-06-25 03:18] #498 closed

[2019-06-25 03:21] streichler commented on #556
Commit 78896ded makes both reduction op and serdez tables thread-safe.  Revamping the interface to support subprocesses and CUDA implementations is still open.

[2019-06-25 03:24] streichler commented on #521
Yes, we'll keep this open, and I've edited the title so I'll remember what the actual issue is.  :)

[2019-06-25 05:43] streichler commented on #408
Seems to be working now.  Closing.

[2019-06-25 05:43] #408 closed

[2019-06-26 06:58] lightsighter commented on #496
What about the issue of cmake generating the files in the tree?

[2019-06-26 16:27] mariodirenzo opened #558 "Regent: potential bug in codegen"
Regent fails to compile the following script
[code]
with the following error
[code]

If the statement `C.printf("%d %d %d\n", c.x,c.y,c.z)` is inserted in the loop, the error disappears.

[2019-06-26 18:56] seemamirch commented on #540
https://gitlab.com/StanfordLegion/legion/commit/cd91d237d5b6309cce9a6ce3797ed21cc510052e
https://gitlab.com/StanfordLegion/legion/commit/f59aa302a814f875a8a83a5e59af5da6170e8b80
fixes this

[2019-06-26 18:56] #540 closed

[2019-06-27 05:53] elliottslaughter opened #559 "Legion: Merge piece lists for fields of same size"
When running S3D ctrlrepl branch with the PRF mechanism, I hit the following assertion:

``s3d.x: .../legion/runtime/realm/inst_impl.cc:734: void Realm::RegionInstanceImpl::Metadata::serialize_msg(T&) const [with T = ActiveMessage<Realm::MetadataResponseMessage>]: Assertion `ok' failed.``

A bit of debugging seems to show this is occuring when we are trying to serialize 93584 bytes into a 65536 by

[2019-06-27 06:13] lightsighter commented on #559
All Legion piece lists are generated by Realm code currently:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/legion/region_tree.inl#L2861-2862
@streichler What needs to happen to make that Realm code more efficient?

[2019-06-27 08:29] lightsighter commented on #559
Actually looks like the problem is this TODO in Realm here:
https://gitlab.com/StanfordLegion/legion/blob/master/runtime/realm/inst_layout.inl#L108

[2019-06-27 15:47] elliottslaughter commented on #535
This has been fixed in Terra, and I have updated the `luajit2.1` branch to include the fix. @manopapad or @mariodirenzo to confirm.

[2019-06-27 16:13] elliottslaughter commented on #558
What Legion commit are you on, and what flags did you use to run this? I'm not able to reproduce locally.

[2019-06-27 16:56] mariodirenzo commented on #558
I'm on commit `be6e2178` of the `control_replication` branch.
Legion is compiled with `MAX_DIM=4 USE_CUDA=0 USE_OPENMP=1 USE_GASNET=1 USE_HDF=1 scripts/setup_env.py --llvm-version 38`.
The code is executed with `regent.py Report4.rg -fflow 0 -fbounds-checks 1 -flegion-dim 4`

[2019-06-27 17:00] elliottslaughter commented on #535
Never mind, turns out the original bug isn't fixed in the case where the type declarations are coming from a C header file.

[2019-06-27 17:07] elliottslaughter commented on #558
Fascinating, I think this is the first bug I've seen that reproduces only with RDIR *disabled*.

I can reproduce on master with `-fflow 0` and no other flags or build-time options.

[2019-06-27 17:19] mariodirenzo commented on #551
I was testing another script (related to the issue #558) and I realized that even the call
[code]
produces the same error.
The function `doStuff` looks like
[code]

[2019-06-27 17:34] elliottslaughter commented on #558
Fixed in master, but wait for a merge into control_replication before you test.

[2019-06-27 17:35] elliottslaughter commented on #558
Ok, merge complete. Please test.

[2019-06-27 17:36] elliottslaughter commented on #551
Please check to see if this goes away with `-fflow 0`. Note that you'll probably need the fix in #558 for this to work.

[2019-06-27 17:51] mariodirenzo commented on #558
The reproducer works.
I'm testing it also in the complete code. I'll let you know as soon as it finishes compiling

[2019-06-27 17:52] mariodirenzo commented on #551
You are right, this second index space launch is fixed by the fix in #558

[2019-06-27 18:18] streichler commented on #531
Title changed so I can remember what this is about.

[2019-06-27 18:24] streichler commented on #381
This appears to have been waiting over a year for an ack from @jpietarilagraham .  I'm assuming silence is agreement here and closing the bug.

[2019-06-27 18:24] #381 closed

[2019-06-27 18:28] streichler commented on #367
Equal partitions of sparse index spaces have been around since commit 284a71b.

[2019-06-27 18:28] #367 closed

[2019-06-27 19:45] mariodirenzo commented on #558
The fix works also in the bigger code. Thanks!

[2019-06-27 20:48] #558 closed

[2019-06-28 03:00] #513 closed

[2019-06-28 05:23] lightsighter opened #560 "Realm: 2D Scatter-Strided Copies"
CPU-only control replication Legion S3D exercises this assertion in Realm:
https://gitlab.com/StanfordLegion/legion/blob/control_replication/runtime/realm/transfer/channel.cc#L2845
The cause seems to be related to this comment here:
https://gitlab.com/StanfordLegion/legion/blob/control_replication/runtime/realm/transfer/channel.cc#L1470-1471
I was able to cause this to happen deterministically wit

[2019-07-01 21:57] streichler commented on #548
This is now an _optional_ behavior as of commit 561f2c4.  A nonzero value for the `-hdf5:openfiles` variable will allow up to the specified number of HDF5 files to be left open after a DMA transfer is complete.  If left open, a call to `H5Fflush` is performed to make sure the transferred data is seen by any other process accessing the same file.
Unfortunately, there is a limitation in libhdf5 with

[2019-07-01 21:57] #548 closed

[2019-07-02 04:33] streichler commented on #538
Commit 8ea7b99 adds control of the dimension order of an external HDF5 instance to the Realm API.  We now need @lightsighter to hook it up to the layout constraints that come from the mapper.  Note that for HDF5 instances, the fastest-moving dimension is the last one (e.g. `2` for a 3-D instance), so an ordering of X, Y, Z would be `dim_order = { 2, 1, 0 }`.

[2019-07-02 04:35] streichler commented on #549
Support for this appeared in the master branch with commit 8e39825.

[2019-07-02 04:35] #549 closed

[2019-07-02 04:37] streichler commented on #282
This got fixed a few months ago and has now made it into the stable branch.  We have a CI test that uses GASNet in debug mode, so hopefully it will continue to work in the future.

[2019-07-02 04:37] #282 closed

[2019-07-02 04:39] #257 closed

[2019-07-02 16:51] #532 closed

[2019-07-02 17:03] elliottslaughter commented on #487
This has been added for the `image`, `preimage` and `restrict` operators. Barnes Hut has been updated.

[2019-07-02 17:07] #487 closed

[2019-07-03 01:43] streichler commented on #560
@lightsighter can you give this another try with commit 7f2e759a?

[2019-07-03 06:17] lightsighter commented on #560
It's much better now.

[2019-07-03 06:17] #560 closed

[2019-07-05 17:21] elliottslaughter opened #561 "Crash in lightweight Legion Spy mode"
The following steps lead to a crash when using the lightweight Legion Spy mode (crash at bottom of issue):

[code]

This goes away when using heavyweight Legion Spy mode (i.e. `CC_FLAGS=-DLEGION_SPY ./install.py --debug`).

We should probably add lightweight Spy to the CI and also make sure we run Spy tests with `-de` in addition to `-lpa` (the test does not crash with `-lpa`).

Crash looks like:

[2019-07-05 20:17] lightsighter commented on #561
Doesn't reproduce in nopaint and later branches so I'm not going to fix it.

[2019-07-05 20:17] #561 closed

[2019-07-07 21:33] streichler commented on #559
Commit 169f514 tries to optimize this case.  @elliottslaughter can you try this out with S3D and see if it works without the message size workaround?

[2019-07-08 01:03] lightsighter commented on #559
I was having the same problem with S3D and it seems to be fixed now, at least for me.

[2019-07-08 14:17] streichler commented on #553
I have added the resizing mode and attempted to clear up the description of `get_nonempty_event`.  Further comments/suggestions?

[2019-07-08 21:33] lightsighter opened #562 "Realm: Warnings/Errors for Large Stack Counts"
It would be nice to have a flag like -ll:max_stacks that either enforced an error or a warning if a certain number of stacks were exceeded for a given Realm processor. This would allow us to detect the case where we are accumulating too many user threads.

[2019-07-09 14:13] streichler opened #563 "Clean up 'rendering' test to eliminate use of deprecated API bits"
Lots of renaming to do.  That should hopefully be it.

[2019-07-09 14:22] streichler opened #564 "Better support for non-POD field types in Legion/Realm"
Life is great when all fields are POD.  We have a little support for fields whose types are not trivially copyable (i.e. custom serdez), but we still fall far short of handling "arbitrary" (i.e. the things that Legion application programmers will instinctively try to use) C++ objects in fields.  In addition to the copy semantics, we should ideally have a way to address construction/destruction and

[2019-07-10 09:26] Clinuxnewbie opened #565 "A problem about single node with multi-gpu"
When I run code (using the command:`./sssp 1 -level gpu=2 -ll:gpu 2  -ll:fsize 1200 -ll:zsize 2000 -file ~/zy/LuxData/hollywood.lux -start 0`) in single node with 2 different version of GPUs(`GeForce RTX 2080` and `Tesla K20m`).

And In `legion/runtime/runtime.mk` file, setting `GPU_ARCH` as follows:
[code]
Report such information:
[code]
And running `./deviceQuery` in cuda-10.0/samples/1_Utilitie

[2019-07-10 13:07] streichler commented on #565
Which branch/commit of the Legion tree are you using?  It looks like you're using a version of the build system that only compiled CUDA binaries for a single architecture.  If you switch to a recent pull of the master branch (commit efc9467 was pushed two days ago), you can set `GPU_ARCH` to either `auto` (the default - builds for all architectures supported by nvcc) or to `35,75` (the two archite

[2019-07-10 16:12] Clinuxnewbie commented on #565
Thank for your help. According to your suggest, my problem is solved.

[2019-07-10 16:13] Clinuxnewbie commented on #565
Thank for your help. According to your suggestion, my problem is solved.

[2019-07-12 21:03] #565 closed

[2019-07-12 21:21] manopapad opened #566 "Regent: Support for print_once"
Legion's `print_once` is useful when writing control-replicated apps. I suggest we add it to the Legion C interface, and add it to the compiler's exceptions for the __replicable check.

[2019-07-15 01:58] joaomiguelreis commented on #564
The additive Schwarz method is a domain decomposition method to solve, for example, Dirichlet type PDE problems. Given a set of boundary conditions, solve small Dirichlet problems in each subdomain so get the next iteration's boundary points. A giff with this iterative process is here: [https://joaomiguelreis.github.io/mywebsite/](url)

Each local problem uses a fixed Finite Element matrix for all

[2019-07-15 15:35] gaofan83 opened #567 "Regent: Add support for building Terra with CMake"
Need help with the installation.

I used the following script to install legion on ubuntu 19.04
`sudo apt-get install clang libclang-dev llvm-dev`
`git clone -b master https://github.com/StanfordLegion/legion.git`
`cd legion/language`
`./install.py --debug`

Installation failed with the following error message:
Already up to date.
Traceback (most recent call last):
  File "./install.py", line 437,

[2019-07-15 15:38] elliottslaughter commented on #567
I'm going to need the full build output in order to debug this.

Can you tell me what the version of Clang/LLVM is? It is best to use LLVM 6 if you can.

[2019-07-15 15:43] gaofan83 commented on #567
clang version 8.0.0-3 (tags/RELEASE_800/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

[2019-07-15 15:46] elliottslaughter commented on #567
Right, we definitely do not support LLVM 8. Can you install 6, `rm -rf terra` and try again? (And if it still fails, attach the full output.)

[2019-07-15 20:01] gaofan83 commented on #567
`sudo apt-get install clang-6.0 libclang-6.0-dev llvm-6.0-dev`
`cd legion/language`
`rm -rf terra`
`./install.py --debug`
Traceback (most recent call last):
  File "./install.py", line 437, in <module>
    driver()
  File "./install.py", line 434, in driver
    install(**vars(args))
  File "./install.py", line 340, in install
    thread_count, llvm)
  File "./install.py", line 183, in install_terr

[2019-07-15 20:04] elliottslaughter commented on #567
Just as a sanity check:

[code]

and rerun.

And is that really all of the output?

[2019-07-15 20:38] gaofan83 commented on #567
Thanks. Forgot `sudo apt-get install build-essential`
now different error message (see attached).
[error.txt](https://github.com/StanfordLegion/legion/files/3394065/error.txt)

[2019-07-15 20:49] elliottslaughter opened #568 "RFC: Reorganization of examples directories"
I'd like to propose a reorganization of the `examples` directory based on two principles:

  * Major apps should be co-located across languages.
  * We should expose a distinction between the "major apps" (i.e. ones we've used in papers and therefore can be confident are high-performance) and "examples" which may include large, useful pieces of code but haven't necessarily had the same level of sc

[2019-07-15 21:23] streichler commented on #568
Having had the benefit of influencing @elliottslaughter before he even wrote this up, I'm on board with the proposal.  I'd maybe think about moving saxpy over as well as a near-minimal useful app (and because it has a realm version).
Another way of thinking about the examples vs apps decision is "written to be understandable" vs "written to be fast" (with the obvious observation that fast doesn't

[2019-07-15 21:36] elliottslaughter commented on #567
Looks like this is a bug in the Terra Makefile. As a workaround, can you try the following? If this works I can try to update `install.py` to do this automatically.

[code]

[2019-07-15 21:40] elliottslaughter commented on #566
Done: https://gitlab.com/StanfordLegion/legion/commit/7caf53bfb00506d59d512b642517eaf25058ff99

And the whitelist is actually a blacklist, so we should be good on that front.

[2019-07-15 22:03] gaofan83 commented on #567
Seems working. Thanks a lot!
fgao@cbrc:~/software/legion/language$ ./regent.py examples/circuit.rg
examples/circuit.rg:565: WARNING: using old style partition API with legion_coloring_t, please consider upgrading to legion_point_coloring_t
examples/circuit.rg:568: WARNING: using old style partition API with legion_coloring_t, please consider upgrading to legion_point_coloring_t
examples/circuit.rg

[2019-07-15 22:05] elliottslaughter commented on #567
Ok, good. You should be able to re-run `install.py` without breaking anything (and without needing to re-do the Terra build), but I will try to fix it so that it works from scratch without needing to do any of this manually.

[2019-07-15 22:10] elliottslaughter commented on #567
I changed the title to help me remember what needs to done.

[2019-07-15 22:37] #566 closed

[2019-07-16 06:08] lightsighter commented on #568
No arguments from me.

[2019-07-16 06:10] lightsighter commented on #559
Unless @elliottslaughter wants to complain I'm going to close this issue tomorrow since I verified the fix.

[2019-07-16 07:00] magnatelee commented on #568
I'm also on board with the proposal. I think we can reorganize the tutorial examples similarly as well.

[2019-07-16 15:51] elliottslaughter commented on #568
Re @streichler I'd request we not put codes in `apps` unless they've actually been used in a paper, or have gone through a similar level of vetting. In theory, saxpy is simple enough that it "should" perform well, but we've had plenty of cases where that wasn't true in practice, and having a hard rule about doing a thorough performance evaluation avoids having creep in "examples that should perfor

[2019-07-16 15:52] #559 closed

[2019-07-18 08:07] jgurhem commented on #509
Yes ! It helped me a lot !

[2019-07-18 13:48] thompsonbry commented on #553
Sean, apologies for taking so long to get back to you on this. Vacation, conference and then the surge returning to the office.  The overall concept looks fine.  A few comments:

- in our specific case, we would bound the number of outstanding events on which we are awaiting completion and can set max_size based on that bound.  Thus new work needs to wait until old work is done. I think this would

[2019-07-18 17:11] jgurhem opened #569 "Regent: How to run regent code on several nodes ?"
Hello !
I implemented a few applications with regent and I would like to know if it is possible to run the application on several nodes to compare with other task-based programming languages ?

Jérôme

[2019-07-18 17:18] elliottslaughter commented on #569
Do you have a specific machine you're planning to run on? Generally I recommend the use of setup_env.py since it knows all the tricks for building on supercomputers. E.g. something like:

[code]

Will give you a multi-node setup, but you may need extra options depending on what machine you're on.

[2019-07-18 17:36] jgurhem commented on #569
I'm planning to run on a pretty old IBM cluster with LoadLeveler as a job manager. I was wondering how to pass the list of nodes to regent.

[2019-07-18 17:39] elliottslaughter commented on #569
First, when you run `setup_env.py` you'll need to pass `CONDUIT` with the name of the GASNet conduit to use (`ibv`, etc.).

Generally we recommend using whatever job launcher is installed on the machine (`mpirun`, etc.). So you'd run it similar to how you'd run an MPI+OpenMP application (i.e. rank per node rather than rank per core).

If you have more specific questions let me know.

[2019-07-18 19:04] jgurhem commented on #569
Unfortunately, we don't have access to wget so I'm not able directly download LuaJIT-2.0.5.tar.gz from the cluster. Is there a work around ?

[2019-07-18 19:52] elliottslaughter commented on #569
On a machine that has internet access run:

[code]

Then copy cache to the remote machine and run:

[code]

Of course if the problem is that wget the software is missing (not that you don't have internet access) it might be faster to just install wget locally....

[2019-07-18 20:13] jgurhem commented on #569
OK ! Thank you. We don't have internet access on the machine.

[2019-07-18 20:21] jgurhem commented on #569
Then I run ./install.py ?

[2019-07-18 20:21] elliottslaughter commented on #569
`setup_env.py` calls `install.py` so you don't have to.

[2019-07-18 20:48] jgurhem commented on #569
I seem to be able to compile gasnet but I get the following error after that:
[code]

[2019-07-18 20:54] elliottslaughter commented on #569
Do you have CMake on the machine? If there is a module for that this should go away if you load it. Otherwise I'll have to debug this.

GASNet installations are usually pretty specific to the application, so if it wasn't specifically built for Legion I wouldn't recommend it. But knowing how it was built might be useful as a sanity check in case anything goes wrong down the road.

If you want to tr

[2019-07-18 21:26] jgurhem commented on #569
I added the CMake module but I get other errors.
Also, I don't have a `cache` directory. Should I have one ?

[code]

[2019-07-18 21:27] elliottslaughter commented on #569
`cache` is what is supposed to be copied over from the machine that has internet access (after you run `./scripts/setup_env.py --cache-only --scratch cache`).

[2019-07-18 21:41] jgurhem commented on #569
This command did not create any `cache` directory. It created `cmake`, `llvm` and `terra.build/`.

[2019-07-18 21:43] elliottslaughter commented on #569
Er, sorry. The flag should have been `--prefix` not `--scratch`.

But at any rate, if you copy those three folders that should work too. (And skip `--prefix` if you do this.)

[2019-07-19 07:52] jgurhem commented on #569
I copied those folder since they appeared after the command. I put them on the cluster but it does not work as it is. I still managed to install Regent. However, I encountered a few problems :

-GASNet is not cloned by the cache-only command but on the cluster (Cloning https github repository is allowed).
-LuaJIT is cloned in the cache (and exist under terra.build/build/) but is not detected by th

[2019-07-19 19:32] lightsighter opened #570 "Support for CUDA Fortran in the Realm CUDA Hijack"
We need to add support for CUDA Fortran in the Realm CUDA hijack. Attached is a very basic hello world example from @sdcohen that we can use for testing if things work.
[hello-fortran-legion.tar.gz](https://github.com/StanfordLegion/legion/files/3412471/hello-fortran-legion.tar.gz)

[2019-07-19 20:59] elliottslaughter commented on #535
@manopapad @mariodirenzo Can you please try again? Should hopefully be fixed for real this time.

[2019-07-23 03:00] elliottslaughter opened #571 "Realm: Deppart operator buffer overrun"
I've been getting assertions that look like (for example):

[code]

After some debugging we've confirmed this is an issue with overrunning buffers inside of Realm, and that the following patch is sufficient to work around the immediate issue:

[code]

This issue is here to remind @streichler to figure out the proper way to fix this.

[2019-07-23 14:13] jgurhem commented on #569
I tried to run `mpirun -N 1 ./regent.py my_app.rg` but I got the following error. Unfortunately, I don't where it can come from. Do you have any idea ?

[code]

[2019-07-23 15:55] elliottslaughter commented on #569
Some MPI implementations are very bad at handling `fork()` calls. To work around this we support a variable `LAUNCHER` in `regent.py` that you can use like:

[code]

Note that not all MPI implementations pass environment variables to the child process by default. From the errors above, I'm guessing you're on MPICH, which means you might be fine, but e.g. if you were on OpenMPI you would need to ad

[2019-07-23 16:57] jgurhem commented on #569
It seems to be working fine. I'm still getting this warning the following warning but I will ask the administrators for the proper conduit.
Thank you for your help !

I also have other questions that are not related. Do you want me to create another issue for them ?

They are:
-How can I pass parameters to my application ?
-I would like to use a region of 16384*16384 but the default mapper does no

[2019-07-23 17:02] elliottslaughter commented on #569
Something like the following should work (note you don't actually need a Terra function here, it's fine to put this in a task):

https://github.com/StanfordLegion/legion/blob/master/language/examples/circuit_sparse.rg#L138-L142

The flag to increase memory is `-ll:csize` (measured in MB).

[2019-07-23 17:10] jgurhem commented on #569
Ok ! Thank you ! I will try that.

How does `-ll:csize` increase the size ? Is it distributed ?

[2019-07-23 17:18] elliottslaughter commented on #569
It's a per-node size. Realm allocates an arena this much memory up front. Physical instances of regions are allocated out of this arena.

[2019-07-23 17:21] jgurhem commented on #569
I got this message. I did a `mpirun -N 1 ./regent.py app.rg -ll:5000`

[code]

[2019-07-24 05:44] streichler commented on #571
I believe commit a71da55 is the proper way to fix this.  Assigning to @elliottslaughter to try this out and confirm everything is happy now.

[2019-07-24 16:33] mariodirenzo commented on #554
Do you have any update on this issue?

[2019-07-24 21:42] elliottslaughter commented on #571
I'm able to run out to 1024 nodes now, so I consider this fixed.

[2019-07-24 21:42] #571 closed

[2019-07-29 17:25] jgurhem commented on #569
Hello,
I tried using OpenMPI but I am unable launch my app properly.
I tried `LAUNCHER="mpirun -x OMP_NUM_THREADS -x INCLUDE_PATH -x PATH -x LG_RT_DIR -x TERRA_PATH -x LD_LIBRARY_PATH --map-by node -report-bindings" regent.py app.rg`
but I get the following error:

[code]
What should I put in those variables ? (exept LG_RT_DIR which points to Legion's runtime)

[2019-07-29 17:42] elliottslaughter commented on #569
Correct, they're set by `regent.py` so just add `-x USE_CMAKE` etc to the command line.

[2019-07-29 19:03] jgurhem commented on #569
[code]
I have that and my app is running indefinitely. What can I do ?

[2019-07-29 19:55] elliottslaughter commented on #569
Make sure you're compiling in debug mode and then follow the instructions here to dump backtraces:

https://legion.stanford.edu/debugging/#dump-backtraces

(And attach them here.)

[2019-07-29 22:54] lightsighter opened #572 "Support for Enabling and Disabling Signals in a Task"
For several things for resilience we need support for disabling and then reenabling signal handling in Realm. This will allow tasks to guard themselves from being cancelled while they are in the middle of doing something that would leave state in a bad place for recovery.

@karthikmurthy for visibility.

[2019-07-30 22:14] jgurhem commented on #569
Actually, the application seems to be working but it takes a very long while.
I also don't know to which process I should attach gdb. I have the following one :
[code]

[2019-07-31 12:02] jgurhem commented on #569
I tried to attach gdb to each of them without much success in running the `apply thread all bt` command in gdb.
My application seems to be replicated on each node instead of running a few task of the application on a node.
I also get these messages when running the application but I don't understand from xhere they can come.
[code]
Could you help me with these issues ?

[2019-07-31 17:48] elliottslaughter commented on #569
You want to attach to the `terra` process (`14012` in your output above).

The reservation warnings are telling you don't have enough cores. If this is OpenMPI it may be binding each process to a single core, which is not what you want. You can use `-bind-to none` if you want to run 1 process per node (which is typically what we do).

You can use `-ll:show_rsrv` to verify that the core binding is

[2019-07-31 18:48] jgurhem commented on #569
The error message does not show anymore.
However, my application is run as much time as I allocate nodes to mpirun. Do you have any idea on what can cause that ? Actually, I have a task that should run 10 times. It prints a word and this word appear 30 times when I use 3 nodes.

I'm using the following command

[code]

[2019-07-31 18:52] elliottslaughter commented on #569
Remind me how you built Regent? These symptoms make it sound like you're not building against GASNet.

You can double check by adding the flag `-level announce=2` to your command line.

[2019-07-31 19:07] jgurhem commented on #569
I used ./scripts/setup.py to install Regent. I also used `CONDUIT=ibv` for GASNet as you suggested.

It produced:
[code]

So, it seems that CONDUIT is not right. It explains why I get the this warning message:
[code]

[2019-07-31 19:41] elliottslaughter commented on #569
Can you remove the `language/gasnet` directory and rerun `setup_env.py` while having `CONDUIT=ibv` in the environment?

[2019-07-31 20:39] jgurhem commented on #569
Thank you ! The message is now gone but the app is still running 3 times.

[2019-07-31 20:45] elliottslaughter commented on #569
Did the output of `-level announce=2` change or is it still the same? If it's still what it was above, then something is still not right in either the build or the interaction with the launcher.

[2019-07-31 21:01] jgurhem commented on #569
It is still the same.

So here is how I built Regent.
[code]

And here is my launch command:

`LAUNCHER="mpirun -x USE_CMAKE -x USE_RDIR -x INCLUDE_PATH -x PATH -x LG_RT_DIR -x TERRA_PATH -x LD_LIBRARY_PATH -n $nb_nodes -map-by node -bind-to none" regent.py $exe -ll:csize 3000 -N $blocksize -T $nb_blocks -ll:force_kthreads -ll:show_rsrv -level announce=2`

[2019-07-31 21:21] seemamirch commented on #569
USE_GASNET=1 CC=gcc CXX=g++ ./scripts/setup_env.py (i.e. add USE_GASNET=1 and build/install again)

On Jul 31, 2019, at 2:01 PM, Jérôme Gurhem <notifications@github.com<mailto:notifications@github.com>> wrote:

It is still the same.

So here is how I built Regent.

module purge
module load python/anaconda3-5.0.1 git gnu/7.3.0 cmake/3.14.1-gnu54

[2019-07-31 21:25] elliottslaughter commented on #569
`USE_GASNET=1` is the default with `setup_env.py`, but I don't see `CONDUIT` on that line---is it still set?

Maybe as a sanity check you can copy-and-paste one of the build lines from Legion. You should see something like `mpicxx ...`. The line should have `-DUSE_GASNET` in there somewhere, if not something is going wrong.

[2019-07-31 21:32] jgurhem commented on #569
During GASNet compilation, it finds out that `ibv` is availble and configure GASNet with it.
[code]

However, I don't know what's happening after that. I did `export CONDUIT=ibv ` but do I need to also give it to `./scripts/setup_env.py` ?

[2019-07-31 21:35] elliottslaughter commented on #569
If `env | grep CONDUIT` shows `ibv` you should be fine.

Can you re-run `setup_env.py` and copy a sample of the output?

[2019-07-31 21:50] jgurhem commented on #569
Here are the logs I get.

[regent_install_20190731-2323.log](https://github.com/StanfordLegion/legion/files/3454011/regent_install_20190731-2323.log)

[2019-07-31 22:09] elliottslaughter commented on #569
That's definitely compiled against GASNet, and MPI compat is enabled so I'm not sure how it's failing to communicate with the launcher.

At this point I'm wondering whether we should take a step back and confirm that GASNet itself is working. I've never actually seen this happen, but in theory if GASNet wasn't talking properly to mpirun, you'd see this behavior. There should be some pure-GASNet te

[2019-07-31 22:59] jgurhem commented on #569
So here is the end of the output. Linking is skipping libgcc then it seems to fail in GASNet initialization.

[code]

[2019-07-31 23:30] elliottslaughter commented on #569
With the libgcc warning it's a bit hard to say what the real cause is; this could be a GASNet problem or it could be that there really is a mismatch in which case all bets are off. I'm guessing the GASNet folks will tell you the same, so you might want to check that you've got the same compiler versions going all the way through (including for MPI, since we're linking against it).

[2019-08-01 12:57] jgurhem commented on #569
GASNet was linking to the wrong version of MPI. I put the right version and it works fine. It is finally working !
Thank you for your help !

However, I'm getting quite poor performances. Do you have some guidelines to produce efficient code with Regent ?

[2019-08-01 15:21] elliottslaughter commented on #569
First of all, make sure you are not in debug mode (i.e. do not have `DEBUG=1` in the environment and did not pass `--debug` to setup_env.py/install.py).

After that, please get a profile (feel free to post the link here): https://legion.stanford.edu/profiling/#legion-prof

[2019-08-01 17:31] jgurhem commented on #569
The prof file is quite big so I uploaded a few screenshots.

<img width="1544" alt="Capture d’écran 2019-08-01 à 19 28 50" src="https://user-images.githubusercontent.com/34492515/62314158-a94afe80-b492-11e9-93fb-be442065eaa3.png">
<img width="1507" alt="Capture d’écran 2019-08-01 à 19 28 35" src="https://user-images.githubusercontent.com/34492515/62314159-a94afe80-b492-11e9-80f7-bf672b800bb5.p

[2019-08-01 21:24] elliottslaughter commented on #569
You're not actually looking at all the CPUs there: the blue squiggly line is the utilization plot. There should be something like a black triangle on the left side that will let you expand the actual set of CPUs. If you do that you'll see the individual tasks running on each CPU.

Having said that, yes, Legion is fairly explicit about how you configure it. You set the number of CPUs with `-ll:cpu

[2019-08-01 21:27] elliottslaughter commented on #569
Oh, sorry, I do see you expanded the CPU. Then you'll need `-ll:cpu` to set the correct number.

I see your tasks have what appears to be a lot of blocking. It may be that you'd also benefit from inlining some of the tasks; generally speaking deep chains of nested task calls aren't great for performance. You can do that with `__demand(__inline)` on the task declaration.

If you want to send me fut

[2019-08-06 02:35] #517 closed

[2019-08-06 22:48] mpokorny opened #573 "map_inline with layout constraint"
I was trying an inline mapping with a layout constraint that required GLOBAL_MEM, and my code kept hitting the assertion

.../runtime/realm/runtime_impl.cc:2439: Realm::MemoryImpl* Realm::RuntimeImpl::get_memory_impl(Realm::ID): Assertion `0 && "invalid memory handle"' failed.

It looks like there's a variable declaration for `target_memory` here
https://github.com/StanfordLegion/legion/blob/1c8eb

[2019-08-07 04:14] manopapad commented on #373
This is still happening. Still seems related to Regent's inner-task optimization pass. Download [Manolis_files.zip](https://github.com/StanfordLegion/legion/files/3475198/Manolis_files.zip) and run:

[code]

This will override the input hdf file with zeros. It will not do that if we run with `-finner 0`.

[2019-08-07 04:21] elliottslaughter commented on #373
Can you check with `-flegion-inner 0`? That would tell us whether it's Regent's inner optimization or Legion that is at fault.

[2019-08-07 04:28] manopapad commented on #373
That causes the following error:

[code]

[2019-08-07 09:00] lightsighter commented on #573
Thanks Martin! I've pushed a fix to the master branch. It will be in
upstream branches sometime tomorrow.

https://gitlab.com/StanfordLegion/legion/commit/60928d38ec55a00fb845c8721a08e1cdf1f681e1

Mike

On Tue, Aug 6, 2019 at 3:48 PM Martin Pokorny <notifications@github.com>
wrote:

[2019-08-07 12:26] jgurhem commented on #569
Hello !
I used `-ll:cpu` and I got the expected results.
It works very well !

[2019-08-07 17:25] elliottslaughter commented on #373
Ok, I guess this isn't actually telling us anything (except that `-flegion-inner 0` doesn't quite work in all circumstances). I'll try to look at the reproducer when I have the time.

[2019-08-15 08:08] magnatelee commented on #377
This should be fixed by 46cac201.

[2019-08-15 17:59] lightsighter commented on #377
Does this mean we have bounds checks on OpenMP code now?

[2019-08-15 18:38] magnatelee commented on #377
That's what I meant by "fixed".

[2019-08-15 18:39] magnatelee commented on #377
BTW, this was really fixed by 8e97febc, which works around the thread safety issue in safe casting.

[2019-08-15 20:50] manopapad commented on #377
Fixed

[2019-08-15 20:50] #377 closed

[2019-08-19 18:56] elliottslaughter commented on #569
I'm closing this for now but please feel free to contact us again if you run into any further issues.

[2019-08-19 18:56] #569 closed

[2019-08-20 17:53] elliottslaughter commented on #535
This reproducer is still failing, even with the latest fix, so clearly we're still missing something: https://gist.github.com/elliottslaughter/cd1340789e399e022010fa08da46bd98

[2019-08-20 18:05] elliottslaughter commented on #467
Closing, this has been supported for a while.

[2019-08-20 18:05] #467 closed

[2019-08-20 18:22] magnatelee commented on #535
Just to keep track of the status, this test, though it passes, takes tens of minutes without the hack in f71263fb: https://gist.github.com/magnatelee/5bc6d0bb51a65440e7647efbfa2a9e5b
And the slowdown was caused by the attempted fix of this issue, which by the way hasn't yet solved it completely.

[2019-08-20 22:32] elliottslaughter commented on #436
@magnatelee With field sliced arrays is this now fixed?

[2019-08-20 22:42] magnatelee commented on #436
@elliottslaughter @manopapad can rewrite the field space to use field sliced arrays if he wants to, but he would still need to set the right field constraint so that those sliced elements are colocated. (Otherwise, performance will be horrible.) At the moment, fields constraints must be specified on per-task basis, which might be painful to do in big programs like Soleil.

[2019-08-22 02:22] qyz96 opened #574 "Regent: Error in running Cholesky.rg in legion/language/examples"
Hi, I am having an error when trying to run cholesky.rg in legion/language/examples

[adncat@sh-101-58 ~/legion/language]$ regent examples/cholesky.rg
table: 0x7f1a55ef94e8
...gion/language/src/rdir/plugin/src/regent/flow_from_ast.t:938: assertion failed!
stack traceback:
        [C]: in function 'assert'
        ...gion/language/src/rdir/plugin/src/regent/flow_from_ast.t:938: in function 'open_re

[2019-08-22 20:10] elliottslaughter commented on #535
Ok, @magnatelee's reproducer is now compiling efficiently with Legion at 18f9091 (i.e. before the hacks) and with https://github.com/zdevito/terra/pull/390. This is still the remaining issue with `bug372d.t` which is still causing my reproducer from two comments ago to fail.

[2019-08-22 20:15] elliottslaughter commented on #574
Can you try `regent examples/cholesky.rg -fflow 0`?

Unfortunately I think this is one test where the RDIR pass fails (which is what `-fflow` controls).