[2022-05-03 19:15] rohany commented on #1148
oh... i spelled it wrong. One second.

[2022-05-03 19:23] rohany commented on #1148
Ok, I rebuilt everything this time with `cmake ../ -DCMAKE_CXX_FLAGS=-DDEBUG_LEGION_GC`, but I'm not sure how to verify that it's ok since the output behavior looks the same.

[2022-05-03 19:39] elliottslaughter commented on #1148
Build with `make VERBOSE=1` and check the actual build commands.

CMake only picks up certain variables on the first configuration, so make sure it's a clean build too.

[2022-05-03 19:40] elliottslaughter commented on #1246
We could add a libstdc++ style check, if we really care. Add a extern reference to an object like `LEGION_MAX_DIM_VALUE_IS_4` or whatever, and it won't link if the `MAX_DIM` value doesn't match.

[2022-05-03 20:05] elliottslaughter commented on #1245
At @streichler 's breakpoint, all the HIP functions are NULL:

[code]

At @lightsighter 's breakpoint, they don't look NULL:

[code]

What gives?

[2022-05-03 20:06] elliottslaughter commented on #1245
Oh, the missing reductions are Regent's array reductions. I can fix this on my end.

[2022-05-03 20:34] #1245 closed

[2022-05-03 20:50] lightsighter commented on #1246
That seems like a good idea. I'll try to do that.

[2022-05-03 23:47] bandokihiro commented on #1235
## Steps to reproduce on Piz Daint

**Passwordless connection to Piz Daint**

You need passwordless connection to be able to ssh into the compute nodes. For this, access Piz Daint the first time with
[code]
Drop off your public ssh key. Then, edit your `~/.ssh/config` on your local machine with these lines
[code]
Doing `ssh daint` should bring you directly to Piz Daint ([source](https://user.cscs.

[2022-05-04 01:16] lightsighter commented on #1148
You can throw away the previous diff, then apply this diff and rebuild with `-DDEBUG_LEGION_GC` again:

[code]

[2022-05-04 04:35] rohany commented on #1148
Now failing with this error:

[code]

To make this debugging cycle faster, here are the instructions to rebuild the legion and binary used by this repro:
[code]

If it helps, the application is a matrix multiplication implemented with cannon's algorithm (2D tile-based distribution), that executes the `k` dimension of the computation serially. For each local matrix multiplication within each tile,

[2022-05-04 09:22] lightsighter commented on #1148
I'm pretty sure that I see the issue here, but will need to fix it tomorrow.

[2022-05-04 18:02] syamajala commented on #1247
I think this was a problem with the machine. I am able to run again on Perlmutter.

[2022-05-04 18:02] #1247 closed

[2022-05-05 07:42] lightsighter commented on #1246
I couldn't make this work. The linkers are all too smart and won't check for the symbol unless you actually use it, which is unfortunate. Since it is `extern` linkage you can't use it in any kind of `constexpr` which means you need some code that actually uses it at runtime. I thought about also adding a parameter at the end of `Runtime::start` to pass in the `LEGION_MAX_DIM` value from the caller

[2022-05-05 16:46] mariodirenzo commented on #1167
I am hitting this issue in a six nodes run which randomly hangs.
The runtime is built on `03d207e1` with CC_FLAGS="-g -O2".
HTR is executed with the flags `-lg:no_physical_tracing -lg:inorder -level task=2,dma=2,xplan=1 -ll:force_kthreads`.
The tarball at `/home/mariodr/logs.tar.gz` contains the backtraces of all the six nodes (bt_*.log) and the `-level task=2,dma=2,xplan=1` logs (`*.log`).

[2022-05-05 19:03] elliottslaughter commented on #1141
@mariodirenzo Can you run again and see if this issue still exists?

[2022-05-05 20:03] opensdh commented on #1131
Here's a plausible interface for a reduction operation using this approach:
[code]

[2022-05-05 23:28] apryakhin commented on #705
Thanks for the discussion!

I think we need to reach a consensus on what functionality needs to be supported by Realm as the end state. We are getting close to merging this [PR](https://gitlab.com/StanfordLegion/legion/-/merge_requests/448/diffs#4723f133b387601128deaf79fd616439bfdf71e5) which adds a native support for structured indirect copies in Realm. The set of use cases can be found here: 
-

[2022-05-06 00:53] manopapad commented on #705
@apryakhin can you

[2022-05-06 01:08] manopapad commented on #705
Could you walk us through an example with some small arrays, showing what we can do with the new interface?

I have updated https://github.com/nv-legate/cunumeric/issues/41 with the logic followed in the current implementation. As you suggest, we can handle such cases by making intermediate copies, but we could avoid some copies if Realm could handle affine transformations directly (which AFAIU is

[2022-05-06 08:29] lightsighter commented on #1148
The fix for this is proving to be quite challenging. If you don't have to think about control replication it is simple, but with control replication then the problem explodes in complexity.

[2022-05-06 14:52] ipdemes commented on #1237
@apryakhin : in the case of PyTorch, they got an error for the DIM=3. The error appears when we try to create an accessor for the field with the type Point<3> in cuNumeric. I will try to create a simple Legion-only reproducer code today.

[2022-05-06 16:02] rohany commented on #1148
What can I do to avoid this bug then? It seems to only come up when I create hierarchical partitions with great depth (4-5 levels), but some small amount (2 levels) of depth is OK (or is this a red herring).

[2022-05-06 16:21] ipdemes commented on #1237
Actually, I can't reproduce the error in the simple Legion app, I assume I need more than just create/access a field of Point<N> type ( tired 3<=N<=7).

[2022-05-06 16:27] streichler commented on #1237
It will need to be a gather from (or a scatter to) a region that is distributed over multiple instances, and the total number of elements in the gather needs to be greater than 16384/N.

[2022-05-06 16:28] ipdemes commented on #1237
OK, I will try adding gather/scatter operation

[2022-05-06 17:36] ipdemes commented on #1237
I have modified `partitioning.cc` tutorial from [here](https://github.com/StanfordLegion/legion/blob/stable/tutorial/07_partitioning/partitioning.cc) to reproduce the error . Please see attached file.
[partitioning.cc.zip](https://github.com/StanfordLegion/legion/files/8642490/partitioning.cc.zip)

[2022-05-06 17:49] apryakhin commented on #1237
Thanks! Yes, I am able to reproduce that.

[2022-05-06 18:27] syamajala opened #1250 "Legion: Hang on Crusher"
I'm trying to scale on Crusher using gasnetex. At 32 nodes S3D starts to hang. All the ranks are in the main task in either attach_name or allocate_field.

attach_name stack trace:
[code]

allocate_field stack trace:
[code]

Stack traces from all ranks are available here: http://sapling.stanford.edu/~seshu/crusher_hang/

[2022-05-06 19:55] lightsighter commented on #1250
This is almost certainly a control replication violation. Unfortunately I don't have coverage of `attach_name` in the safe control replication checks right now, but you need to make sure that it is done on all shards in the same order with respect to operation/task launches.

[2022-05-06 19:56] lightsighter commented on #1250
The other less likely possibility is that the network is hanging somewhere and messages are not being delivered.

[2022-05-06 21:50] ipdemes opened #1251 "make sure min_xfer_size is trimmed by output ib capacity"
We have got Legion/Realm hanging on preforming gather indirect copy operation on the arrays size (100,100) with src, dst and indirect fields.
The issue seems to be related to the incorrect right-hand-side value of https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/cuda/cuda_internal.cc#L138
Hang disappears when the value replaced with `4096`

[2022-05-07 01:07] manopapad opened #1252 "Unused variable warnings when compiling with NDEBUG"
In some places the result of an operation is stored and only used in an assertion. When compiling with `NDEBUG` the assertion becomes a noop, and the compiler sees the variable as unused. See https://stackoverflow.com/questions/777261/avoiding-unused-variables-warnings-when-using-assert-in-a-release-build for some discussion.

CC @marcinz who encountered a myriad of such warnings while building a

[2022-05-07 02:05] streichler commented on #1252
Does conda require the use of `NDEBUG`?  Turning assert fails into inexplicable crashes, memory corruption, and the like seems like an anti-feature to me.

[2022-05-07 04:27] elliottslaughter commented on #1252
Maybe it's time to move to a custom assert? We've had a variety of (usually first-time) users who assume `NDEBUG` is desirable and then try to build that way as their first experience with Legion. We could avoid this as a footgun by making our own assert (e.g. `fatal_assert` or `legion_assert` or what have you) that ignores `NDEBUG` and therefore can't be turned off. (And also introduces the possi

[2022-05-07 04:34] lightsighter commented on #1252
I was planning to do exactly that for Legion as soon as the control replication branch merges back into master and I don't end up introducing a zillion conflicts with long-lived branches.

[2022-05-07 04:50] elliottslaughter opened #1253 "HIP: GPU fills broken with multi-byte values on multi-dimensional regions"
HIP GPU fills appear to be broken with the following configuration:

 * Fill value of size > 1 byte
 * Region with > 1 dimension
 * May also require the region to be sparse

The symptom is that the fill is done as a 1-byte fill instead of the full value. So a fill with `0x12345678` will result in the region containing `0x78787878` (repeated) for a 4-byte fill.

Reproducer:

[code]

[2022-05-07 13:32] streichler commented on #1252
Yes, I think it's time to do that.  As mike says, it's massively disruptive to any other branch in progress, which is why we keep putting it off, but that won't get any better.

[2022-05-07 13:34] streichler commented on #1253
@elliottslaughter are you able to test whether this works for CUDA?  Much of the HIP code is a copy/paste from the corresponding CUDA code.

[2022-05-07 15:59] elliottslaughter commented on #1253
The test that originally failed is one that passes on CUDA. However, I think it would be prudent to write a more comprehensive GPU fill test to make sure we're checking all the cases, since there may be some corner cases in CUDA too.

[2022-05-07 17:17] seemamirch commented on #1253
This doesn’t look right - https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_module.cc#L881

[2022-05-07 18:09] eddy16112 commented on #1253
This piece of code is no longer used for fill operations. The fill for this example is here https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_internal.cc#L853-881 The code is slightly different from CUDA, because HIP does not have specific 2D memset for 16 and 32 bytes, so we fall back to use the 8 bytes 2D memset, but I did not see where is the problem.

@elliottslaught

[2022-05-07 18:45] streichler commented on #1253
The else case only seems to be using the first byte to fill: https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_internal.cc#L875-879

[2022-05-07 19:08] eddy16112 commented on #1253
Right, I can not just fall back to use the 8 bytes 2D memset. Can I use the regular `cudaMemset2D(void * devPtr, size_t pitch, int value, size_t | width, size_t height)` to do the 32 bit memset? Looks like from the API, the value type is int.

[2022-05-07 19:23] streichler commented on #1253
Nope:

You may need to do the thing that the CUDA path does for some 3d cases: do a 1D memset32 and then log(rows) 2d memcopies for the other rows (this is usually better than a separate memset32 for each row)

[2022-05-07 20:07] eddy16112 commented on #1253
I think I can just fall back to use the default path for this case
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/hip/hip_internal.cc#L886

By the way, why the 32 bit 2D memset is only available in the driver API?

[2022-05-08 08:41] lightsighter commented on #1148
Pull and try again.

[2022-05-08 08:43] lightsighter commented on #1235
I've reproduced the error on Piz-Daint. I need a way to make changes to the source code and rebuild the runtime.

[2022-05-08 08:43] lightsighter commented on #1250
I added safe control replication checks to the calls that attach semantic information. Please pull them and try them out.

[2022-05-08 16:55] bandokihiro commented on #1235
Legion is located here `/users/kbando/Softwares/legion`. Once you have made changes, do
[code]

[2022-05-08 18:27] rohany commented on #1148
It appears now immediately crashes with
[code]

[2022-05-08 19:26] marcinz commented on #1252
Good point @streichler. I think the `NDEBUG` flag comes from here:

https://github.com/conda-forge/ctng-compiler-activation-feedstock/blob/018d4fcb2d5dd612feb0c625b1d4669d8463ff94/recipe/conda_build_config.yaml#L51

I think I missed the reason for the warnings. If the `NDEBUG` flag is the issue, we can fix that in our build script for the recipe. I agree that in the long term it would be best to h

[2022-05-09 05:54] lightsighter commented on #1148
Was a small typo you wouldn't have even noticed if you hadn't still been compiling with `-DDEBUG_LEGION_GC`. Pull and try again.

[2022-05-09 07:12] rohany commented on #1148
It looks like it's working now! Thanks Mike!

[2022-05-09 07:12] #1148 closed

[2022-05-09 15:24] apryakhin commented on #705
Yes, certainly but please note that there is no new API (yet). The [PR](https://gitlab.com/StanfordLegion/legion/-/merge_requests/448/diffs#4723f133b387601128deaf79fd616439bfdf71e5) is based on the [existing](https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h#L98) Ream API for affine indirect copies.

Thanks! Effectively we don't have any data points yet. Will it be

[2022-05-09 16:43] ipdemes commented on #705
@apryakhin :

Yes it will do gather operation at 3) and copy of the `index_array` at step 2 materializes transformed array to a new intermediate array.

This is correct, but keep in mind that indirect can have multiple transforms.
For the  example below `indices` will have 2 transforms (slice and transpose):
[code]

[2022-05-09 22:01] bandokihiro opened #1254 "realm: system openmp"
For issue #978, @streichler has been working on a branch to allow the application to link against another omp runtime (`realm/system_omp` on gitlab). I have tested it and both gomp and iomp worked with the ability to make calls to the threaded mkl library for example. However, Kokkos now complains if I want to use realm's omp implementation with `-ll:othr` > 1. It fails [here](https://github.com/k

[2022-05-09 22:30] seemamirch commented on #1243
Fixed with commit [e4432e8](https://gitlab.com/StanfordLegion/legion/-/commit/e4432e81abfeb0fc16ae2e9554d05eaba8658106)

[2022-05-09 22:30] #1243 closed

[2022-05-10 04:26] elliottslaughter commented on #1253
This has been fixed in master (thanks @eddy16112) and we now have a comprehensive test for GPU fills that covers sparse 1, 2 and 3-dimensional regions with 1, 2, 4 and 8 byte fields.

[2022-05-10 04:26] #1253 closed

[2022-05-10 04:31] elliottslaughter opened #1255 "Regent: HIP crashes with ROCm 5.x"
I'm splitting this off from #1224 since the main support has now merged.

There are crashes that occur when upgrading to ROCm 5.x. Currently undebugged, but I did notice some similarities in the description of https://docs.amd.com/bundle/ROCm-Release-Notes-v5.1/page/Known_Issues_in_This_Release.html#d456e16 so this may potentially be an AMD issue. Probably not worth worrying about too much until R

[2022-05-10 04:32] elliottslaughter opened #1256 "Regent: HIP performance analysis"
Now that HIP support has landed, I need to do a more detailed performance comparison.

 - [ ] Circuit
 - [ ] Stencil
 - [ ] Pennant
 - [ ] S3D?
 - [ ] HTR?

[2022-05-10 04:33] elliottslaughter commented on #1224
This has merged into master. I'm splitting the remaining work into #1255 and #1256.

[2022-05-10 04:33] #1224 closed

[2022-05-10 04:39] bandokihiro commented on #1254
Fixed today.

[2022-05-10 04:39] #1254 closed

[2022-05-10 05:05] manopapad commented on #705
I don't think we can make a meaningful estimate with the information that we have.

You can assume that the dimensionality of arrays and transforms will be checked before the operation makes it to Legion/Realm (e.g. Legate will never emit a copy where `src` is a 2d array with a 3d->3d affine transformation).

As analyzed on https://github.com/StanfordLegion/legion/issues/705#issuecomment-111577001

[2022-05-10 21:30] bandokihiro commented on #1235
By the way, this is how my environment is set up
[code]

[2022-05-10 21:34] apryakhin commented on #705
For the example below indices will have 2 transforms (slice and transpose):

Yes, I believe that multiple affine transforms can be folded into a single one.

This [API](https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h) we provide today by Realm (C++):
[code]
It enables us to handle the following cases (common patterns for structured copy with an affine transform).

[2022-05-11 18:06] trxcllnt commented on #1244
[This solution](https://stackoverflow.com/a/58416912/3117331) is working for me, though without tab-completion:
[code]

[2022-05-12 22:55] manopapad commented on #705
Note that simply declaring a variable like `y = x[2:7]` in cuNumeric will not trigger a copy operation, because NumPy semantics dictate that such operations create writable views. Instead we create a lightweight object that carries the transformation info. If `y` is used in an operation that is implemented using a task (e.g. an arithmetic operation, like `z = 2 * y`), then we will still not create

[2022-05-12 23:19] syamajala commented on #1250
Running with the latest control_replication and `-lg:safe_ctrlrepl 2`I'm seeing control replication violations:
[code]

Looking at the stack trace when that error occurred it was in the InitTemperatureTask in S3D which uses an MPI handshake: https://gitlab.com/legion_s3d/legion_s3d/-/blob/regent_nscbc/rhst/init_tasks.cc#L56-59

Do the checks know about the handshake?

[2022-05-12 23:44] bandokihiro opened #1257 "Hang when assigning multiple points per shard"
I have a case on 2 nodes with index launches of size 4. My sharding functor is set such that points 0 and 1 go to shard 0, and points 2 and 3 go to shard 1. With `-lg:partcheck`, I get a hang with the following backtrace [gdb_1.txt](https://github.com/StanfordLegion/legion/files/8683111/gdb0.txt)

Without `-lg:partcheck`, it hangs later in the code with the following backtrace [gdb_2.txt](https://

[2022-05-13 09:07] lightsighter commented on #1250
Yeah, we're not handling handshakes properly in the checks. I relaxed it so we'll only check them now at level 2. Try running with level 1.

[2022-05-13 09:11] lightsighter commented on #1257
Run with `-lg:inorder -lg:safe_ctrlrepl 1` on sapling and send me frozen process numbers.

[2022-05-13 20:30] lightsighter opened #1258 "Poisoned Deppart Operations"
Currently deppart operations don't have a well defined semantics or implementation in the case where their precondition event is poisoned. We need to decide what happens to the resulting sparsity maps and who is responsible for cleaning them up. One idea is to make it so that calling `make_valid` on the resulting index spaces will return a poisoned event as well. We don't have an exercising test c

[2022-05-14 02:50] bandokihiro commented on #1257
`38661` on `g0002` and `3291643` on `g0003` (there are some residual processes on the latter)

[2022-05-14 04:09] elliottslaughter opened #1259 "Realm private headers accessible from public headers"
If I understand correctly, `realm/redop.h` is intended to be a private header; but there is a path to it from the public `realm.h`. As a result, any consumer of Realm ends up inheriting Realm's otherwise private CUDA/HIP dependency.

The practical consequence of this is that all of our Realm tests (and sometimes Legion ones) need to set their own CUDA/HIP include/link flags. A failure to do this l

[2022-05-14 04:15] streichler commented on #1259
`realm/redop.h`, `realm/cuda/cuda_redop.h`, and `realm/hip/hip_redop.h` need to be public headers so that application code can wrap their reduction ops in helper code that makes bulk reductions fast.

The problematic public->private crossing here is from `realm/hip/hip_redop.h` to `realm/hip/hip_runtime.h`.

[2022-05-14 04:26] elliottslaughter commented on #1259
Right. The offending lines seem to be:

https://gitlab.com/StanfordLegion/legion/-/blob/aa4823f21df77764b5a0b40a4ee618c448220557/runtime/realm/redop.h#L23-29

Why are these being pulled in? Is it just for the `add_cuda/hip_redop_kernels` interface?

[2022-05-14 04:33] streichler commented on #1259
Yes, we need to be able to generate cuda- and/or hip-specific wrappers.

[2022-05-14 15:52] lightsighter commented on #1257
How are you making the second partition of the `iface_2D` index space?

[2022-05-14 16:00] waynee95 commented on #1242
Following the updated instructions, everything worked fine and I can execute the examples! Thanks for clearing that up. I will close this.

[2022-05-14 16:00] #1242 closed

[2022-05-14 16:02] bandokihiro commented on #1257
I think you are referring to this one
[code]
This is a partition with 2 sub-regions. Each sub-region is sparse since faces are ordered like "priv(0) shar(0) priv(1) shar(1) ...". `domains[0]` is the (extended 2D) domain of private faces and `domains[1]` the same for shared faces.

[2022-05-14 16:07] bandokihiro commented on #1257
I think this is an app bug. What you pointed made me realize that some portions of the code implictly assumes that the color space has the same size as the number of shards which is not the case. I'll fix this first. I would be interested though if there is a better way of doing this without calling `get_shard_id`, this is the only way I found to pass safe_ctrlrepl.

[2022-05-15 18:13] bandokihiro commented on #1257
I have fixed my code, and I now get this
[code]
The code looks like this
[code]
where `kinds[i]` is `DISJOINT_KIND`. I believe this is the case from the logs. When I use only one process, I don't use future maps and call directly `create_partition_by_domain` which succeeds without disjointness errors.

[2022-05-15 18:18] bandokihiro commented on #1257
I left hanging processes: `65852` on g0002 and `3310588` on g0003

[2022-05-16 13:54] lightsighter commented on #1257
There are definitely two index spaces in this partition that are overlapping (in fact they have the same rectangles), so this is an aliased partition:

[code]

Safe control replication checks know about whether the construction of a future map is collective or not and will not check the values of the futures if you're doing a collective future map construction. What exactly is the safe control rep

[2022-05-16 15:12] bandokihiro commented on #1257
I use the future map pattern when I want to extend a 1D partition to a 2D/3D one instead of the following
[code]
where `domains` is a `map<DomainPoint, Domain>` and each `Domain` in that map is constructed from a vector of rectangles like
[code]
This is for when the subdomain is sparse. I think the issue was that each domain has its own sparsity ID on each shard and control replication was violate

[2022-05-16 15:15] bandokihiro commented on #1257
I left hanging process on g0003: 3321264, 3321266, 3321267

[2022-05-17 07:35] lightsighter commented on #1257
As long as you set `collective=true` then that won't be the case. The runtime only checks the values of the domains if `collective=false`.

They were gone when I checked tonight.

Assuming these are the same backtraces as before, then the problem was that you weren't setting one of the colors in the colors space at all by any shard.

[2022-05-17 16:13] bandokihiro commented on #1257
The projection functor looks like this
[code]
For point task `point`, it requests sub-region `point[1],point[0]` of a 2-level partition.

[2022-05-17 22:19] syamajala commented on #1250
Crusher is down so I havent been able to check this on there. I checked on blaze though and the only control replication violation we have is related to the future returned from the mpi task. According to this comment from the c++ code though this is expected:
https://gitlab.com/legion_s3d/legion_s3d/-/blob/ctrlrepl_partition/rhst/s3d_rank_legion.cc#L688-692

In fact I was able to work around this

[2022-05-18 01:55] apryakhin commented on #705
Just wanted to summarize what we have discussed today:
- We can start implementing advanced indexing using Legion API (@lightsighter ). It can at least start using an existing Realm support for unstructured copies and will enable us to check for existing bugs in the "plumbing".
- We need to evaluate the [GPU shallow-water solver](https://github.com/piyueh/TorchSWE) to come up with a list of use ca

[2022-05-18 16:24] ipdemes commented on #705
@apryakhin :
I have looked through the TorchSW code and these are the advanced indexing APIs that are used here (in the order of # of calls):
y[:, a:b, c:d] = x
y[indices]=x
y[:,a,b:c]=x
x=y[indices]

[2022-05-18 21:16] apryakhin commented on #705
Thanks Irina, there are effectively:
1.  Structured copy, scatter with an affine transform on y and z coordinates
2. Unstructured copy, scatter
3. Structured copy, scatter with an affine transform on y and z coordinates
4. Unstructured copy, gather

We should be able to handle all 4 cases when we merge an "affine" branch into the master.

[2022-05-18 22:02] manopapad commented on #705
@ipdemes: based on what @magnatelee showed in the meeting yesterday, there are cases in the TorchSWE codebase where we have basic indexing mixed with advanced indexing, e.g. something like:

[code]

AFAIU the way we handle this internally results in a scatter-gather copy with a transform on the `dst` array. First we get rid of the constant 0 by creating a view:

[code]

and then we emit the scatte

[2022-05-18 22:13] manopapad opened #1260 ""invalid instance handle" failure in cunumeric with latest control_replication"
Latest Legion control_replication (05bc99) is causing a failure in the `test_advanced_indexing.py` cunumeric testcase:

[code]

The failure goes away if we switch to Legion version 8d6e22 from 2 days ago, so it's likely an issue with Legion and not with cunumeric. It is likely related to recent changes in the copy API, which is what the "advanced indexing" testcase exercises.

This reproduces cons

[2022-05-19 01:12] manopapad opened #1261 "Hang on inline mapping in cunumeric with latest control_replication"
With latest legate.core and cunumeric:

[code]

It looks like cunumeric is getting stuck at `wait_until_valid` on an inline mapping.

Similar to https://github.com/StanfordLegion/legion/issues/1260, this doesn't happen on commit 8d6e22.

[2022-05-19 04:42] bandokihiro opened #1262 "Assertion failure (KD tree) or hang"
With 58a56ef4a, I have the following assertion failure on a 3-node 18-rank configuration
[code]
[gdb0.txt](https://github.com/StanfordLegion/legion/files/8723918/gdb0.txt)
[gdb1.txt](https://github.com/StanfordLegion/legion/files/8723919/gdb1.txt)

This doesn't reproduce for a 2-node 12-rank configuration.

With 2dc039225 (I noticed some kd-tree related recent commits), the same 3-node 18-rank con

[2022-05-19 07:23] lightsighter commented on #1262
Attach a debugger and print out all the rectangles in the `subrects` data structure and post them here.

I'm going to ignore the hang on 2dc0392 unless you can reproduce it on a more recent commit.

[2022-05-19 08:48] lightsighter commented on #1260
I've pushed a fix for this particular error. When you run now you'll fail on test case `e` in this particular test.

[code]

When you look at the arrays, they look like this:

[code]

So Legion did the scatter copy correctly for the elements [3,5,7] and they're in the right spaces. The thing that has changed is that Legion is now trusting users to set the privileges on copy operations correctly. I

[2022-05-19 08:49] lightsighter commented on #1261
I pushed a fix for this case. Assigning @manopapad to confirm.

[2022-05-19 09:02] lightsighter commented on #1257
This just looks like you are asking for a partition with a color that hasn't been made yet. Legion can't tell the difference between a partition that hasn't been made yet and one that will never be made because we allow users to manage their own color spaces for the names of partitions. In this particular case there is no partition with color 17 in this subspace. There are no semantic names anywhe

[2022-05-19 17:31] cmelone opened #1263 "32 rank run failure"
We've added a new test to our CI suite for HTR, targeting runs beyond a single node. We are able to run successfully on 8 ranks, 2 ranks per node. However, when we try to run on 32 ranks, the program works until we split into two directions. At this point, HTR does not produce any output and the program simply hangs until the queue kills the job.

We're running on Stanford HPCC (yellowstone) nodes

[2022-05-19 17:36] elliottslaughter commented on #1263
Can you clarify how many nodes your 32 rank run is using? Is this 16 nodes (2 ranks per node) or something else?

One way to cause a freeze is if you run out of memory. This could happen if you're running a very large problem size or trying to run a high number of ranks per node.

Otherwise I'm guessing we'll want to see backtraces from a frozen set of processes with debug mode and `-ll:force_kthr

[2022-05-19 17:43] mariodirenzo commented on #1263
He is considering a constant problem size that is partitioned on an increasing number of ranks. For this reason, the 32 ranks execution has less memory per rank than the 8 ranks execution.

@cmelone will need to comment on the number of nodes because I cannot remember how many ranks per node he is considering

[2022-05-19 17:56] bandokihiro commented on #1262
On one of the frozen process
[code]
I have updated to 8f24818af

[2022-05-19 18:52] magnatelee commented on #1260
Assigning myself to this issue, as this is a bug in Legate core.

[2022-05-19 22:31] #1260 closed

[2022-05-20 07:43] lightsighter commented on #1263
If you can do what @elliottslaughter says, also build it in debug mode and run with `-ll:force_kthreads` and `-lg:inorder` and then report backtraces from all frozen nodes using the `tools/print_backtraces.sh` script.

[2022-05-20 09:19] lightsighter commented on #1262
Pull and try again.

[2022-05-20 09:26] lightsighter commented on #1257
If you're creating partitions (or names for any legion objects), then only way to safely ensure that they are ready right now is to pass their names back through future values. Legion only tracks dependences through data types like futures and regions, so you mostly likely want to pass the names of those partitions back through futures to return their names back to the parent task. If you want to

[2022-05-20 15:57] bandokihiro commented on #1257
In this index launch, I am creating 2 `IndexPartition` via `create_partition_by_domains`. I tried to return both of them in a result struct but the logging at the top-level didn't change.

I thought `issue_execution_fence(ctx).get_void_result()` would handle such synchronization but I guess the top-level context is a different one. Anyway, I tried to put that at the end of the index task as well a

[2022-05-20 16:30] bandokihiro commented on #1262
On 69eadbca, the assertion is gone. Now the 3-node case hangs. The 2-node case still runs to completion. I tried looking at backtraces but nothing stood out to me. The only thing that seems to change between processes is the state of the gasnet poller. I saw things like
[code]
but I don't know what it exacly means. I am attaching here the 18 backtraces, sorry I wasn't able to more precisely identi

[2022-05-20 18:40] lightsighter commented on #1262
Please leave debug hanging processes on sapling, run with `-ll:force_kthreads`. If possible see if it hangs with `-lg:inorder`.

[2022-05-20 19:14] bandokihiro commented on #1262
These results come from Summit, trying to reproduce on sapling right now. It does hang with `-lg:inorder` and the last run produced the following warning
[code]

[2022-05-20 19:25] bandokihiro commented on #1262
The same configuration with 18 ranks on a single sapling node didn't hang.

[2022-05-20 20:13] cmelone opened #1264 "building HTR with llvm > 6.0"
We're encountering this error when building htr with GPU support:

[code]

It doesn't happen when legion is built with llvm60, but after trying with llvm90 and 130, the issue comes up. Not sure if this is an application bug but would appreciate any help

[2022-05-20 20:35] elliottslaughter commented on #1264
Is there a way to generate a minimized reproducer from this? You've got the task name in the error message there (`Exports_CalculateAverageTemperature`) so hopefully it's just a matter of slicing out that one task, and then cutting it down until it stops generating the error.

Also, would appreciate information on the Legion commit, CUDA version, GPU architecture, etc.

[2022-05-20 22:32] cmelone commented on #1264
@mariodirenzo would be able to comment more on slicing out the tasks. I've posted the full error [here](https://gist.github.com/cmelone/45cd1c1df3aea39323d5d0c1818b25ec) if that provides any more insight

LLVM version: 13.0, Legion commit: latest control_replication (`69eadbca`) , CUDA 10.2, GPU arch: kepler

[2022-05-20 22:36] elliottslaughter commented on #1264
@cmelone Is there any chance you could try building on a newer GPU (e.g. Pascal/Volta/Ampere)? Kepler's pretty old, so it may be possible that the instruction LLVM wants to generate literally doesn't exist for that architecture.

[2022-05-20 22:38] elliottslaughter commented on #1264
To be clear, I don't think you need to find a different machine. Assuming you're using offline mode, you can build for a different GPU architecture by just setting `-fcuda-arch` to something like `pascal` and see if it reproduces (even though the binary you generate this way won't run on the GPUs you've got in this machine).

[2022-05-20 22:43] cmelone commented on #1264
i haven't encountered the issue on lassen, which has `volta`. yellowstone only has maxwell and kepler, so would you say that there's just irresolvable incompatibilities between those GPUs and newer llvm versions?

i will try out the `-fcuda-arch` approach to confirm

[2022-05-20 22:47] mariodirenzo commented on #1264
The issue can be reproduced be compiling the following code
[code]
with the command `$LEGION_DIR/language/regent.py repro.rg -fflow 0 -finner 1 -foffline 1`

[2022-05-20 22:48] mariodirenzo commented on #1264
`-fgpu-arch volta` fixes the issue

[2022-05-20 22:54] elliottslaughter commented on #1264
Thanks for checking and the reproducer.

What's the expected lifetime of this machine?

If I'm reading this correctly, looks like Kepler (`sm_35`) is deprecated in CUDA 11, so NVIDIA will not be supporting this GPU for much longer: https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#title-new-cuda-libraries

If the Kepler GPUs will be short(ish) lived (say, 1 year or less) I might b

[2022-05-21 01:21] cmelone commented on #1264
I talked to Steve and it seems that kepler and maxwell will stay on yellowstone for at most another year. Using LLVM 6 until then would work, which I tested on maxwell and encountered this error during HTR compilation

[code]

latest control_replication, CUDA 10.2, LLVM 6, Maxwell

[2022-05-21 01:37] elliottslaughter commented on #1264
What happens with LLVM 13 on the maxwell GPU?

[2022-05-21 02:17] cmelone commented on #1264
Same output as the parent issue

[2022-05-21 03:15] elliottslaughter commented on #1264
I just pushed a branch `fix-regent-kepler-ctrlrepl` with a potential workaround. Can you try that with LLVM 13 and both Kepler/Maxwell GPUs?

[2022-05-21 20:10] cmelone commented on #1264
Thanks. HTR compiles with that branch of legion on both maxwell and kepler. I'm able to run a small solver test on maxwell successfully (but will run the complete test suite to confirm). On kepler, I get this error when running the app:

[code]

[2022-05-21 22:09] bandokihiro commented on #1262
I tried to reproduce on sapling using the 16 gpus, it didn't. I tried on Piz Daint with 18 ranks, it also didn't reproduce. Since the only thing I could tell from the backtraces was that there is some failure at the gasnetex interface, I tried gasnet1 on Summit. It didn't reproduce. Maybe @streichler can chime in.

[2022-05-21 22:52] elliottslaughter commented on #1264
I merged the first part fix to `master`, so it will make it into `control_replication` the next time someone does a merge. That will at least get Maxwell working for you.

I'm hoping someone from NVIDIA can comment on `rsqrt.approx.ftz.f64`. As best I can tell, this is available in `sm_20`, so I'm not sure why it wouldn't be available on Kepler: https://docs.nvidia.com/cuda/parallel-thread-executi

[2022-05-21 22:55] elliottslaughter commented on #1264
Note to self to look at this to see if it's applicable: https://github.com/clang-omp/clang_trunk/issues/16#issue-92584104

[2022-05-22 08:58] lightsighter commented on #1262
On which machine did the hang occur before? What was the result of running with `-lg:inorder -ll:force_kthreads`? If you can get it to hang with that, then please report the backtraces.

[2022-05-22 09:09] lightsighter commented on #1257
I'm still really struggling to understand the structure of your program. Please make a detailed Legion Spy log and then use the unique IDs from the a Legion Spy (dataflow or event) graph generated with the `-dez` options to describe what is going wrong. Please upload the Legion Spy log as well.

[2022-05-22 15:24] bandokihiro commented on #1262
The hang was obtained on Summit using 3 nodes and 18 ranks only with gasnetex. Attached are the 18 backtraces
[backtraces.zip](https://github.com/StanfordLegion/legion/files/8749713/backtraces.zip)
The command line was the following
[code]

[2022-05-22 16:08] bandokihiro commented on #1257
I run with 2 ranks and a color space of size 4. Points 0 and 1 should map to shard 0 and points 2 and 3 to shard 1. I put an execution fence right before the section that hangs.

I do an index launch of size 4. In each point task (UIDs 465, 467, 472, 474), I partition a second time the associated sub-region of the first-level disjoint complete partition. I do this first by partitioning the 1D sub-

[2022-05-22 21:37] eddy16112 commented on #1262
The hang occurs only with gasnetex reminder me that my program also runs extremely slow with gasnetex. Have you tried running with `-gex:bindcuda 0` to see if the hang still occurs?

[2022-05-22 22:37] bandokihiro commented on #1262
Thanks for the suggestion. Without binding, it doesn't hang. But I need this for best performance.

[2022-05-22 23:59] eddy16112 opened #1265 "GASNet-EX is very slow with -gex:bindcuda 1 on NVLink machine."
When running my concurrent memspeed benchmark with GASNet-EX and `-gex:bindcuda 1` the performance is almost 10x slower than `-gex:bindcuda 0" on prom machine (NVLink), but no performance issue on sapling machine (PCI-E)
Here is my benchmark code: https://gitlab.com/eddy16112/legion/-/blob/con_memspeed/test/realm/memspeed2.cc
I am running with the following cmd:
[code]
Adding `GASNET_NUM_QPS=1` do

[2022-05-23 00:04] eddy16112 commented on #1262
I think it is a realm issue, and I just created an issue for my program. https://github.com/StanfordLegion/legion/issues/1265
It may not be a hang for you, but just runs very slow. If you can reduce your problem size, it may runs with `-gex:cudabind 1`. You can also add  `GASNET_NUM_QPS=1` to see if it works for me.

[2022-05-23 00:15] bandokihiro commented on #1262
This depends on the configuration (problem size + number of ranks), so I don't think it is the same issue. Runs that do not hang are fast with cuda binding.

[2022-05-23 00:48] eddy16112 commented on #1262
I just run my program several times, and it is not even slower, but also sometime hangs as well. I just reproduce the hanging with the realm memspeed benchmark under `test/realm` . Could you please run the memspeed test on summit? Just want to double check if you can reproduce it or not.

[2022-05-23 08:38] lightsighter commented on #1262
I agree with @eddy16112 that this is most likely a Realm/GASNet issue. Legion hangs usually will not reproduce with `-lg:inorder` and when they do it's usually obvious which task is at fault. In this case it looks like all the tasks are at the same point in the program and waiting for the same index tasks launch to run. Please run with `-ll:defalloc 0 -level dma=2` and provide logs for each proces

[2022-05-23 08:50] lightsighter commented on #1257
Are you waiting on all futures in all shards? What happens when you run with `-lg:inorder`?

If possible make me a reproducer on sapling and I will try to figure out what is happening.

[2022-05-23 14:45] bandokihiro commented on #1262
@eddy16112 I quickly ran memspeed with 2 ranks on summit, it worked but i don't think that is necessarilly useful info to you.

[2022-05-23 18:25] TimothyGu opened #1266 "Rank-per-node slower than rank-per-socket with OpenMP workload"
Hi @streichler, I've been working with @rohany on running some experiments with DISTAL on Sapling. We've been using the [TBLIS](https://github.com/devinamatthews/tblis) tensor contraction library, which internally uses OpenMP, but have been seeing some strange performance behavior.

Compare:

[code]

The profiles are available at
* `/scratch2/tigu/taco/distal/build/prof99-socket-*.log.gz` – http:/

[2022-05-23 18:48] TimothyGu opened #1267 "Realm performance worse when threads are allocated correctly"
Hi @streichler,

The overall setting is the same as in #1266.

With `-ll:ocpu 1 -ll:othr 9 -ll:util 1` on Sapling, the Realm runtime prints many warnings:

[code]

@rohany and I tried a few different ways to allow Realm to allocate threads correctly. Compare:

[code]

We confirmed through `-ll:show_rsrv` that the latter two commands reserve threads correctly. However, both of the latter two perfor

[2022-05-23 18:49] rohany commented on #1266
In particular, we notice that different invocations of the same task have non-trivial variance in runtime on the different sockets per node. `-ll:show_rsrv`  says that all of the threads are bound correctly, so we're not sure how to press forward here, if it's a Realm OpenMP issue or our incorrect use of the TBLIS library. cc'ing @manopapad since Legate uses TBLIS as well, in case you've seen some

[2022-05-23 19:45] YukeWang96 opened #1268 "ResourceManager* init_task_impl error in Legion"
When I launch  the task through legion, I was encountering an error like

[code]

What is the implication of this error? and is there any solution to this?

Thanks!

[2022-05-23 20:22] elliottslaughter commented on #1264
@cmelone Can you try this workaround? Build Terra with the following patch:

[code]

(Note: `cd build && make clean && make` if you're not using a clean build of Terra. I've had trouble with dirty builds in the past.)

[2022-05-23 23:38] elliottslaughter commented on #1187
@syamajala Can you try again? I've merged the CMake patches, and Regent CI on Crusher is currently passing.

[2022-05-23 23:38] manopapad commented on #1266
The common thread I see across this issue and https://github.com/StanfordLegion/legion/issues/1267 is that you're seeing worse behavior in cases where you're only leaving 1 core for all Legion/Realm meta-work, i.e. Legion and Realm only have a single core to use for both the runtime analysis and for handling network transfers (note that sapling has 10 physical cores per socket, and by default Real

[2022-05-24 00:32] rohany commented on #1266
@TimothyGu correct me if I'm wrong, but I don't think the problem we are seeing is related to transfers -- the actual tasks themselves have widely varying runtimes when realm is managing the threads. We expect there to be some jitter in starting computation due to incoming transfers, but after that we expect the task execution time itself to be deterministic. We're seeing situations where randomly

[2022-05-24 00:47] cmelone commented on #1264
I get the same error after applying the patch, and this is the output of the print statement:

[code]

[2022-05-24 03:52] lightsighter commented on #1268
I think this is actually a FlexFlow error and not a Legion error. @jiazhihao can you confirm that?

[2022-05-24 03:55] lightsighter commented on #1266
Have you actually confirmed that TBLIS supports multiple OpenMP runtimes in the same process? I know for certain that OpenBLAS does not and if you try to run it you'll see all sorts of weird and undefined behaviors, some of which looked exactly like this. Also, don't underestimate the stupidity of "thread-safe" libraries to take global locks and prevent all sorts of things from happening concurren

[2022-05-24 04:28] rohany commented on #1266
I have not -- I'll open an issue there and report back. I sort of assumed that it would because cunumeric uses it, and it seems like cunumeric by default will run with a rank per node.

[2022-05-24 04:38] eddy16112 commented on #1268
@lightsighter There is no such a file named `load_task.cu` in the FlexFlow.

[2022-05-24 04:40] magnatelee commented on #1264
sm_20 does support `rsqrt.approx.ftz.f64` but the instruction requires PTX ISA version 4.0: https://docs.nvidia.com/cuda/parallel-thread-execution/index.html#floating-point-instructions-rsqrt-approx-ftz-f64. I'm surprise to hear that NVPTX can even emit that instruction with a wrong PTX ISA version... this sounds to me like a bug in NVPTX. Can someone dump the PTX with @elliottslaughter 's patch a

[2022-05-24 05:06] manopapad commented on #1261
This has been fixed!

[2022-05-24 05:06] #1261 closed

[2022-05-24 07:12] lightsighter commented on #1262
This is definitely a Realm issue, there are 251 started copies in `log_3.log` but only 244 of them have finished. Are you sure you're on the most recent commit of `control_replication`? @streichler fixed a bunch of issues with Realm copies hanging recently.

[2022-05-24 07:30] lightsighter commented on #1266
@manopapad will need to say for sure, but I think cuNumeric is quite careful about how we use external libraries that proclaim to support OpenMP. A lot of them seem to use global variables to manage OpenMP execution which is not safe in the case where there are multiple OpenMP runtimes in the same process.

[2022-05-24 07:31] lightsighter commented on #1268
@YukeWang96 this looks like an application assertion. Can you say which application you are running?

[2022-05-24 15:06] bandokihiro commented on #1257
To run
[code]
To make changes (on a gpu node)
[code]

[2022-05-24 15:41] bandokihiro commented on #1262
This is "fixed" by adding the following flag `-gex:obcount 256` (higher if it is still not enough). Leaving this open and tagging @streichler so that he can track it and possibly add a cleaner fix

[2022-05-24 17:15] manopapad commented on #1266
I had verified that TBLIS plays nicely with Realm's OpenMP implementation, and works correctly even with multiple OpenMP groups under the same process. I hadn't verified that the performance doesn't degrade with multiple OpenMP groups.

However, judging from the above profiles, this doesn't seem to be the issue; the leaf tasks seem to be taking the same amount of time under both `-ll:ocpu 1 -ll:ot

[2022-05-24 17:34] magnatelee commented on #1264
@cmelone pass `-fcuda-dump-ptx 1`. (https://gitlab.com/StanfordLegion/legion/-/blob/master/language/src/regent/config.t#L105) you will need to redirect the output to a file.

[2022-05-24 18:12] elliottslaughter commented on #1264
I'm replicating this with @mariodirenzo 's original reproducer and the command line:

[code]

The output I get starts with:

[code]

What confuses me though is that the change I proposed for @cmelone (adding `Features = "+ptx42"` to the `newtarget` for NVPTX) doesn't do anything. I can confirm that the features get passed into `createTargetMachine` here:

https://github.com/terralang/terra/blob/26

[2022-05-24 18:44] elliottslaughter commented on #1264
@cmelone Could you try the following workaround?

[code]

This hack is based on the observation that LLVM sets a minimum PTX version of 4.0 for compute capability 3.2 (https://github.com/llvm/llvm-project/blob/llvmorg-13.0.0/llvm/lib/Target/NVPTX/NVPTX.td#L103). I'm not 100% sure what the differences between 3.0 and 3.2 are, but I'm hoping they're small enough that we can get away with it. (I don'

[2022-05-24 19:56] streichler commented on #1264
See: https://en.wikipedia.org/wiki/CUDA#GPUs_supported

Tesla K10 was a Kepler that was SM 3.0, so maybe the most consistent thing to do here is to be setting arch to "k20" if y'all are indeed using a K20 (or K40), and then you'll be at SM 3.5 with the existing code I think?

[2022-05-24 20:03] cmelone commented on #1264
I believe the keplers are k40. I’ll try Elliott’s patch and get back

[2022-05-25 03:41] cmelone commented on #1264
I no longer encounter the error after applying Elliott's most recent patch. Thanks for the help everyone

[2022-05-25 04:03] elliottslaughter commented on #1264
Ok, I'll plan on pushing that as our workaround for this issue, probably tomorrow.

To @streichler 's point, it has to be exactly SM 3.2, because this line in LLVM provides the workaround *only* for 3.2 (not 3.0 and not 3.5). https://github.com/llvm/llvm-project/blob/llvmorg-13.0.0/llvm/lib/Target/NVPTX/NVPTX.td#L103

If someone can tell me why my `Features` workaround didn't work, I could pursue

[2022-05-25 05:02] rohany commented on #1266
@TimothyGu can you link profiles for the case where we perform all of the communication up front, rather than in batches? I think that one had the variance between different task execution lengths showing up more prominently. Manolis is right here that there doesn't seem to be that much variance in the task lengths in these problems.

[2022-05-25 06:54] lightsighter commented on #1266
Are you also mapping the instances that the tasks need to the NUMA domains associated with the OpenMP processors?

[2022-05-25 15:09] rohany commented on #1266
Yep

[2022-05-25 16:31] fdouglis opened #1269 "legion_spy and stack depth"
I tried to run spy on a FlexFlow run.  It blew up in size (400GB when I last checked it) and eventually died with a python recursion level exception.  This seems like the sort of thing it should be able to guard against and try to do a best-effort result rather than complete failure.

[code]

[2022-05-25 18:52] #1264 closed

[2022-05-25 18:57] elliottslaughter commented on #1264
I'm just going to add one more note here to myself, in case I ever need to revisit this:

Based on @pmccormick's tests with Kitsune, it seems you need to set this in two places:

 1. https://github.com/pmccormick/kitsune/blob/38b314145bee191525bafa76eec0591c44cf1e8d/llvm/lib/Transforms/Tapir/CudaABI.cpp#L440 (this is what I was testing)
 2. https://github.com/pmccormick/kitsune/blob/38b314145bee19

[2022-05-25 23:23] elliottslaughter opened #1270 "Freeze on Crusher on 16 nodes"
I'm seeing a freeze on Crusher with Stencil. Some information about the configuration:

 * `-lg:no_tracing -lg:inorder -lg:safe_ctrlrepl 2 -ll:force_kthreads`
 * freezes in both CPU-only and GPU configurations
 * 8 nodes, 8 ranks per node (= a total of 64 ranks) (note: for GPU configuration, needs 16 nodes to freeze)
 * same flags/configuration passes on all node counts <= 4 (8 for GPU) (weak scal

[2022-05-26 00:38] lightsighter commented on #1270
Try the fix in #1262

[2022-05-26 10:19] lightsighter commented on #1257
Pull and try again.

[2022-05-26 16:34] bandokihiro commented on #1257
As a side note, the one-point-per-shard configuration also hangs now with the changes introduced by `fixsendnodes` (this configuration works on 4b7f3f57).

[2022-05-26 17:59] elliottslaughter commented on #1270
Based on the suggestion in https://github.com/StanfordLegion/legion/issues/1262#issuecomment-1136091192, I ran from `-gex:obcount 256` up to `-gex:obcount 2048` by powers of 2 (with the CPU-only configuration from my original post). All my runs still freeze at 8 nodes and above.

If there was something else I was supposed to get out of the discussion at #1262, please let me know.

[2022-05-26 19:25] eddy16112 commented on #1270
Just want to confirm that you only see the hang with gasnetex? If so, can you try to run with `-gex:bindhip 0`?

[2022-05-26 19:28] elliottslaughter commented on #1270
Yes, it is `gasnetex`, but note that it freezes in a CPU-only configuration. I didn't recompile with `USE_HIP=0`, but I did run without any `-ll:gpu`, `-ll:fsize` or similar.

Do you think I need to rebuild with `USE_HIP=0` to prove that HIP is not related?

[2022-05-26 19:56] eddy16112 commented on #1270
I think if you did not run with `-ll:gpu`, then the HIP is not related, but it is better to give a try with `USE_HIP=0`

[2022-05-26 20:55] syamajala commented on #1270
Might be worth testing on the CPU only nodes of Perlmutter. They are available and use slingshot-11.

[2022-05-26 21:05] elliottslaughter commented on #1270
I can do that, but would appreciate advice from @lightsighter or @streichler on what direction to look next. Is replication on another machine helpful, or is there something else to check first?

[2022-05-26 21:36] lightsighter commented on #1270
Run with `-level dma=2` and dump the log files.

[2022-05-26 22:38] lightsighter commented on #1257
Are you sure you pulled? Running the binary above does not reflect the changes in the most recent commit.

[2022-05-26 22:39] elliottslaughter commented on #1270
Log files:

 * `-level dma=2`: http://sapling.stanford.edu/~eslaught/crusher_freeze_debugging/neweqcr_dcr_logdma.tar.xz
 * `-level task=2,dma=2,xplan=1,new_dma=2,xd=2`: http://sapling.stanford.edu/~eslaught/crusher_freeze_debugging/neweqcr_dcr_logmore.tar.xz

[2022-05-26 22:44] bandokihiro commented on #1257
I haven't updated that one, this is a separate install that you can modify

[2022-05-26 23:00] lightsighter commented on #1270
Can you filter out the backtraces with `filter_backtraces.py` and list all the interesting ones here? I'm not going to click on each of them individually to download them.

[2022-05-27 03:47] TimothyGu commented on #1266
@manopapad

I just tried

[code]

There's still a difference: the bind-to-socket version runs faster (1500 vs 1900 ms).

----

Here are the profiles @rohany was referring to, where we do all communication upfront

- [**bind-to none**](http://sapling.stanford.edu/~tigu/prof99-upfront-node/) routinely has large leaf variance (anywhere between 800–1200 ms)

  ![image](https://user-images.githubuserco

[2022-05-27 09:54] lightsighter commented on #1257
Pull and try again, the rebuild instructions are not working so I can't test it myself:

[code]

[2022-05-27 16:38] bandokihiro commented on #1257
You need to be on a gpu node to rebuild, you can either ssh or use something like this
[code]

It seems to be fixed, thanks. Debug runs don't hang anymore and I did a couple of runs in release mode and the solution looks correct. Before closing, I have two questions.

I) My current code does the following:
1. I return in the form of futures index partitions that are created in an index launch
2. t

[2022-05-27 19:05] elliottslaughter opened #1271 "Simultaneous coherence not sufficient to allow index launch with aliased partition"
What are the conditions required for index launches when simultaneous coherence is used?

I'm digging through some old test and trying to figure out why this test with simultaneous coherence doesn't work. `g` has `reads writes simultaneous` on its single argument, and the loop looks like:

[code]

This produces the error:

[code]

I was a little surprised because I thought the simultaneous would m

[2022-05-27 22:36] manopapad commented on #1266
Here are my conclusions so far:

* Bgwork thread starvation is not a major issue here, but it would still be advisable to leave a couple of physical cores per rank for the runtime analysis and Realm background work.

* TBLIS is generally able to use two OpenMP groups concurrently without blocking: We see cases where two concurrent invocations of TBLIS on 2 OpenMP groups under the same process fini

[2022-05-28 00:48] lightsighter commented on #1271
The rules for intra-index-launch dependences are still pretty strict. Even though the simultaneous coherence will not result in any dependences in the physical analysis, they still require a mapping dependence between the point tasks in the logical analysis because the runtime may need to issue a copy between two points if they are using the same logical region but map to different instances, so w

[2022-05-28 03:57] rohany commented on #1266
Thanks for your analysis manolis, everything seems to point to TBLIS perhaps not supporting multiple OpenMP processes in an isolated manner. I've opened an issue asking about this (https://github.com/devinamatthews/tblis/issues/47), and we'll see what the developers have to say.

The reason that I'm not inclined to believe that this is a realm issue is that other openmp libraries run fine without

[2022-05-28 04:28] manopapad commented on #1267
My hunch here was that you're only leaving 1 core for all Legion/Realm meta-work, as explained in https://github.com/StanfordLegion/legion/issues/1266#issuecomment-1135242596.

However, @TimothyGu's results from https://github.com/StanfordLegion/legion/issues/1266#issuecomment-1139251131 are not supporting this. It might still be useful to look at profiles for the runs in this comment.

Also, sinc

[2022-05-28 09:02] lightsighter commented on #1257
You're not doing anything wrong. Reasoning about the visibility of mutations to the shape of the region tree under a deferred execution model is an under-specified part of the Legion programming model at the moment. The runtime does all sorts of analysis on ensuring apparently sequential semantics with regards to the actual data in the logical regions, but there's not corresponding "region require

[2022-05-28 09:10] lightsighter commented on #1269
Legion Spy is a formal verification tool, and like most formal verification tools, there is a limit to its powers and it's often prone to out-of-memory errors. In this particular case it looks like you gave it a graph with a very large depth, and one of the depth-first search algorithms recursed too many times for Python to handle.  Certainly we can rewrite the depth-first search traversals to do

[2022-05-28 16:25] bandokihiro commented on #1257
Sounds good, thank you very much.

[2022-05-28 16:25] #1257 closed

[2022-05-28 18:47] devinamatthews commented on #1266
TBLIS developer here. If I am understanding correctly, a) the comparison is between using one MPI rank + OpenMP per socket with thread binding to that socket vs. using two sort of "virtual" ranks per node with separate OpenMP runtimes and no thread binding, and b) the former approach is showing better performance?

TBLIS uses a pool of dynamically-allocated memory blocks for packing tensor data du

[2022-05-28 22:20] rohany commented on #1266
Thanks @devinamatthews! Your understanding is correct. I don't believe that in our runtime threads can migrate between sockets, but it definitely seems reasonable for there to be contention or NUMA effects if the free-list is shared between sockets. Is there some way we could create the free-list explicitly and point tensordot calls at using a specific free-list, rather than using an existing shar

[2022-05-28 22:26] devinamatthews commented on #1266
Unfortunately no. Something like this will be available in a future version. You can possibly check if this is the problem by editing the TBLIS code: in `src/memory/memory_pool.hpp`, simply comment out lines 107--136 (`MemoryPool::acquire`) and replace lines 157--160 (`MemoryPool::release`) with `free(ptr)`. This will reallocate a new data block every time, but that should be a much smaller perfor

[2022-05-28 22:49] rohany commented on #1266
Awesome, @TimothyGu can you try this when you get a chance?

I looked at some of the code, it does look somewhat difficult to tease out the memory pool since the packing routines are templated over a particular pool. One thing that could be done for a Legion fork of TBLIS is to change line 163 of `memory_pool.hpp` to maintain a free-list for each OpenMP processor. The memory pool can index into it

[2022-05-29 20:06] lightsighter commented on #1269
This is fixed with https://gitlab.com/StanfordLegion/legion/-/merge_requests/505 which moves all the depth-first search algorithms in Legion Spy to using a stack. Running out of memory is still a very real possibility, but is a limitation of many formal verification tools.

[2022-05-29 20:06] #1269 closed

[2022-05-30 08:52] lightsighter commented on #1270
There aren't any interesting backtraces. Did you run with `-ll:force_kthreads`? Also, how does this relate to #1250? FWIW: most cases where the application hangs with `-lg:inorder` are almost always either Realm or network bugs. Given the previous instability observed on Crusher, in this case I'm inclined to suspect the network as the primary culprit here as there's no evidence of any hanging Real

[2022-05-31 14:23] fdouglis commented on #1269
Thanks!

[2022-05-31 17:31] elliottslaughter commented on #1270
Derp, I missed `-ll:force_kthreads` in the CPU backtraces. (The GPU backtraces did have `-ll:force_kthreads`.)

New CPU backtraces with `-ll:force_kthreads`: http://sapling.stanford.edu/~eslaught/crusher_freeze_debugging/neweqcr_dcr_backtrace_new_cpu.tar.xz

I'm not sure I understand `filter_backtraces.py`, but running `python3 ~/legion/tools/filter_backtraces.py bt_8x1_r0_121566.0_*` does not pri

[2022-06-01 04:42] elliottslaughter commented on #1271
Ok, let me see if I can write a test case for that. I don't really have any specific use case here, but I am trying to make sure we have test coverage for `simultaneous` in Regent.

[2022-06-01 21:18] syamajala commented on #1250
I know Elliott has been pushing on Crusher, for what its worth I was able to run Hello World on up to 128 nodes at 8 ranks/node.

[2022-06-02 18:23] JulienLoiseau opened #1272 "Specific GASNet version for Legion"
The current build system for Legion builds the `master` of GASNet for all versions of Legion.
This is a problem for performance testing and reproductibility.
A specific version of Legion should builds with a specific version of GASNet.

Could we add support for this in the Legion's CMake?

@streichler @pmccormick @opensdh

[2022-06-02 18:45] elliottslaughter commented on #1272
Are you referring to pinning the version of Legion's GASNet configuration repo (https://github.com/StanfordLegion/gasnet) or the version of GASNet?

Legion appears to support setting both of these.

 * Set the GASNet configuration repo to a specific commit ID: https://github.com/StanfordLegion/legion/blob/master/CMakeLists.txt#L445
 * Set the GASNet version: https://github.com/StanfordLegion/legio

[2022-06-02 19:09] elliottslaughter commented on #1272
Ok, so this is basically asking Legion to do the version pinning instead of asking the user to do it. I guess that's reasonable. It does mean managing the GASNet version in two places (once in StanfordLegion/gasnet and once in StanfordLegion/legion).

[2022-06-03 09:36] lightsighter commented on #1270
The `filter_backtraces.py` script is working correctly with these backtraces. There's not really anything interesting going on anywhere. I guess I'm surprised though because I would have expected to see something interesting given that you're running with `-lg:inorder`. The only way that we would hang without at least some interesting backtraces with `-lg:inorder` would be if we hung before the ap

[2022-06-03 21:26] elliottslaughter commented on #1270
For what it's worth, it seems to be hanging in the middle of the run. My estimate is that I should be seeing 28160 task invocations each for stencil and increment. What I'm getting (after adding printf/fflush calls) is 26373 for stencil and 26208 for increment. It seems to be freezing 94% of the way through the run. But I'm not at the end, and I don't even get to the verification checks at the end

[2022-06-03 23:43] elliottslaughter commented on #1270
With `REALM_NETWORKS=mpi` I do *not* get a freeze at 8 nodes. I'm running more configurations now to see if it just freezes at a higher node count or whether the freeze is truly gone.

[2022-06-04 01:49] lightsighter commented on #1270
Are you running with physical tracing? If so that might explain why we don't see any interesting backtraces as the runtime won't block operation execution inside of a trace (for obvious reasons).

[2022-06-04 02:00] elliottslaughter commented on #1270
No, I had tracing shut off entirely.

To avoid mistakes, I ran with `set -x` to capture the precise command line in the backtrace files. For posterity, here's one command line from `bt_8x1_r0_121566.0_0.out`. You can see the `-lg:no_tracing` on the command line.

[code]

[2022-06-04 02:06] elliottslaughter commented on #1270
Update on scaling `REALM_NETWORKS=mpi`: either the performance drops off dramatically, or I am still seeing a freeze at higher node counts.

At 16 nodes, my first run passes, but the second timed out. In the timed out run, I see completion messages for 33 out of 512 (about 6%) of point tasks.

At 32 nodes, I was not able to get any runs to complete in the 30 minute time out. I got completion messa

[2022-06-04 14:13] elliottslaughter commented on #1270
Update on `REALM_NETWORKS=mpi`: with the 2 hour timeout (vs 30 minutes) my results are almost exactly the same. Exactly one run at 16 nodes succeeded. The second run at 16 nodes still had exactly 33 completion messages (out of 512). Zero runs at 32 nodes succeeded, and the one that froze had 81 completion messages (vs 82 with the 30 minute timeout, out of 1024).

So it seems genuinely frozen but w

[2022-06-06 07:37] lightsighter commented on #1270
I still don't understand how we are freezing in the middle of a run with tracing and user-level threading off along with in-order execution on and not seeing any unusual backtraces. At the bare minimum, there should be one thread in one process running the top-level task which has not exited and is waiting on a subtask to finish. Can you print out when the top-level task exits and confirm that at

[2022-06-06 07:38] lightsighter commented on #1270
How are you printing the backtraces?

[2022-06-06 07:52] lightsighter commented on #915
We have a partial solution to this after a discussion in the Legion meeting. In the case of queries from the application, the runtime can insert "upward facing" execution fences into the stream of operations to wait until all outstanding execution has finished and ensure that the runtime isn't observing an invalid state of the index/region trees.

There are still two outstanding problems after ado

[2022-06-06 07:54] lightsighter commented on #564
At a bare minimum, I recently noticed that Legion is missing a finalize method for serdez wrapped types used by reduction operators. It would be good to address this as part of this issue as well.

[2022-06-06 21:29] TimothyGu commented on #1266
Thanks @devinamatthews, I think that solved the performance issues I was seeing! Since this appears to be a TBLIS-specific issue, I'm closing this ticket.

[2022-06-06 21:29] #1266 closed

[2022-06-08 05:11] elliottslaughter commented on #1270
Ok, I have some updates and corrections to my last post.

 1. I seem to have finally fixed the issue collecting output. This obscured what was going on before.
 2. In particular, both `REALM_NETWORKS=gasnetex` and `mpi` experience **shutdown hangs**. I misdiagnosed the latter in my last comment because the output was getting messed up.
 3. However, there is still some reason to believe these might

[2022-06-08 11:08] mariodirenzo commented on #1141
The issue seems fixed. Thanks

[2022-06-08 11:08] #1141 closed

[2022-06-08 15:41] elliottslaughter commented on #1270
I'd just like to point out that the call in backtrace is not an `MPI_Isend` but an `MPI_Send`:

https://gitlab.com/StanfordLegion/legion/-/blob/crusher-freeze-repro/runtime/realm/mpi/am_mpi.cc#L281

I believe that it is valid MPI semantics for `MPI_Send` to block until a matching receive has been posted. So if we're depending on this to not block, we really shouldn't be using `MPI_Send`...

I'll c

[2022-06-08 21:27] JulienLoiseau opened #1275 "Flags propagation from CMake to GASNet"
In the current version of Legion's CMake, it builds GASNet from the latest Legion/GASNet repository.
The problem is that some of the flags from Legion's CMake are not propagated to the GASNet autoconf.
This is a problem for cross compilation and also lead, for example, to GASNet using the wrong version of MPI if it finds another one on the system.

All the variables from the CMake should be passed

[2022-06-08 21:33] rspavel commented on #1275
I will just reiterate that all of this, as well as the other issues we haven't even found yet (in addition to issues that were not entirely fixed by the accepted PR), are resolved "for free" by https://github.com/spack/spack/pull/27585

There were "technical objections" that I was never made aware of even after requesting details on them. But it is probably easier to fix those rather than tear apa

[2022-06-09 05:43] elliottslaughter commented on #1270
Updates for `REALM_NETWORKS=mpi`:

@streichler suggested doing a run with two backtraces in a row on the same process, in order to confirm that it's really frozen. Indeed, as best I can tell it appears to be:

http://sapling.stanford.edu/~eslaught/crusher_freeze_debugging/cpu_nohip_mpi_printmore_backtrace_dev995_twice.tar.xz

In rank 0, I see threads 15, 5, 4, 3 in some sort of MPI call. The same

[2022-06-10 22:47] elliottslaughter commented on #1270
Just recording updates on a couple of experiments I did for `REALM_NETWORKS=mpi`.

At @streichler 's suggestion I tried running with the following diff:

[code]

Unfortunately this does not alter the behavior at all.

I also tried running with:

[code]

and:

[code]

under the theory that the magnitude of the size parameter might matter. Doesn't do anything either.

[2022-06-11 08:37] mariodirenzo opened #1276 "Regent: bug in returning structs on PowerPC"
The following script runs successfully on any system where I have tested it aside from PowerPC (Lassen)
[code]

In particular, it fails with an output that looks like
[code]

It is interesting that, if the member `dummy` is included in the structure `output`, the script runs successfully on Lassen as well.

The script should be executed with `$LEGION_DIR/language/regent.py test.rg` and a successfu

[2022-06-11 08:39] mariodirenzo commented on #1032
@elliottslaughter, could you please insert #1276 in the Regent section with high priority?

[2022-06-11 16:25] elliottslaughter commented on #1276
I think this is a known failure mode for Terra on PowerPC. I'll look into it, but in the mean time, can you try the following workaround?

[code]

Basically, on PowerPC you cannot rely on returning structs by value from functions. We worked around this in Regent by always passing output structs by pointer.

[2022-06-11 17:26] mariodirenzo commented on #1276
I see... Potentially I would be more inclined to keep the `dummy` variable in the structure and maybe get rid of it in the future. Is it a stable workaround? Does any particular size/number of struct members avoid the issue?
Otherwise, I'll try to implement that workaround in the code, though keeping those struct members as const is quite essential to prevent mistakes in the future.

[2022-06-11 17:32] elliottslaughter commented on #1276
I do not think the use of `dummy` is a stable workaround. I believe there are fundamental issues in Terra's implementation of the PPC64le ABI which are just broken, and I cannot guarantee (without putting in the effort to actually fix this) that any such use of structs will be stable.

I think `const` is fine. Terra will ignore it, but you can use it on the C/C++ side code to communicate and enfor

[2022-06-14 12:52] syamajala opened #1277 "Legion: Unable to find entry for index partition"
Updating to the latest control_replication (af833c94b086) on Summit, I'm seeing this:
```[2 - 20004c33f890]    9.102109 {5}{runtime}: [error 482] LEGION ERROR: Unable to find entry for index partition 18. This is definitely a runtime bug. (from file /gpfs/alpine/cmb103/scratch/seshuy/legion_s3d_nscbc_summit/legion/runtime/legion/region_tree.cc:4661)```

Here is a stack trace:
[code]

[2022-06-14 17:10] elliottslaughter commented on #1276
Just for posterity, here's a version that replicates in pure Terra:

[code]

Output:

[code]

[2022-06-14 23:55] elliottslaughter commented on #1276
Please try the latest Terra `master` and let me know if it fixes this.

You can see the variety of structs we're testing against at the top of this file. All of these pass on PPC64le:

https://github.com/terralang/terra/blob/master/tests/cconv_more.t

[2022-06-15 16:40] ct-williams opened #1278 "HTR failing on 64 nodes in Legion::Internal::SingleTaskTree::unpack_collective"
I have been trying to run a 64-node simulation on Lassen using HTR and Legion commit 1a75d7b6ef4a515b78105a632c137123246ed1df, but I have been encountering the following assertion failure: ` void Legion::Deserializer::deserialize(T&) [with T = long unsigned int]: Assertion (index+sizeof(T)) <= total_bytes failed.` This issue seems only to occur for jobs run on a larger number of nodes, as this sam

[2022-06-15 17:19] lightsighter commented on #1277
@syamajala Are we sure this isn't a duplicate of #915 ?

[2022-06-15 17:54] lightsighter commented on #1278
Can you run with `-lg:safe_ctrlrepl 1`? Also report the values of `index` and `total_bytes` from the assertion if you can.

[2022-06-16 13:11] syamajala commented on #1277
S3D has used a fence for a while now in between creating a partition and when it first gets used by a projection functor. That has not changed recently in the application code.

This issue only seems to appear on Summit and on the new commit, going back to an older Legion commit (ffca5154) everything works. I was able to run on Blaze with the newer commit without any problems. There have been no a

[2022-06-16 17:03] elliottslaughter commented on #1276
@mariodirenzo has told me this is fixed. Closing.

[2022-06-16 17:30] elliottslaughter commented on #1276
Reopening. The issue is fixed but there are some more advanced tests I've had fail in Terra and I want to clean that up before doing a release.

[2022-06-17 00:20] elliottslaughter opened #1279 "Regent: CI regression triggered by LuaJIT upgrade"
I'm tracking a CI regression in Regent. Symptoms look like `assertion failed: mismatch in data left over in future`, as seen in CI jobs [here](https://gitlab.com/StanfordLegion/legion/-/jobs/2593834529) and [here](https://gitlab.com/StanfordLegion/legion/-/jobs/2599409362). This is not a part of the code that has changed recently in either Regent or Legion. The CI regression is new (~days).

Initi

[2022-06-17 02:52] elliottslaughter commented on #1279
Nope, I'm wrong. The commit in my last comment is actually fine---I let it run up to 17 times to be sure. Instead the bad commit is the one immediately after:

[code]

I suppose that, depending on the exact nature of what changed in string interning, my initial diagnosis could still be correct. Anything that results in nondeterminism in the iteration order would be a problem, and I use string keys

[2022-06-17 06:32] elliottslaughter commented on #1279
Pushed a tentative fix in 9db92cc2787649cbe56be0ac38f80e6bbf10bc18, will watch the CI and do more testing to see if it solves the original problem.

[2022-06-17 09:31] lightsighter commented on #1277
Ok, can you bisect exactly which commit causes the failure?

[2022-06-17 17:27] ct-williams commented on #1278
I re-ran the case with `-lg:safe_ctrlrepl 1` and received the following error message: `error [67] LEGION ERROR: Invalid mapper output from invocation of 'map_task' on mapper prometeo_mapper. Mapper specified instance that does not meet region requirement 0 for task Add1DAveragesZ (ID 204717). The index space for the instance has insufficient space for the requested logical region. (from file LEGI

[2022-06-18 06:17] elliottslaughter commented on #1279
I have a new fix in a branch that reduces the probability of occurrence by at least 10&times;. RDIR is currently misbehaving on one test case, otherwise it just needs a bit more cleanup and verification before I can merge. My original diagnosis appears to be correct; it just seems to be a matter of tracking down the remaining locations where issues can occur to make sure we're completely determini

[2022-06-18 18:27] elliottslaughter commented on #1279
I pushed what is hopefully a permanent fix in baac365b610f4a971be460d937c272bad9dcd3ed and will leave the test to run for a while on sapling to make sure it's really resolved.

[2022-06-19 03:33] elliottslaughter commented on #1279
I ran 236 successful iterations on sapling, so I'm going to consider this resolved.

[2022-06-19 03:33] #1279 closed

[2022-06-19 12:52] syamajala commented on #1277
I bisect on Summit and the first bad commit is https://github.com/StanfordLegion/legion/commit/be62515f19143779a53c4c1a6d679515c2196a14

[2022-06-20 05:10] lightsighter commented on #1277
@elliottslaughter I'm not sure it's safe to go full context-free right now with control replication.

[2022-06-20 05:14] lightsighter commented on #1278
Did you just turn on `-lg:safe_mapper` also? @mariodirenzo for visibility.

[2022-06-20 05:59] elliottslaughter commented on #1277
What do you want to do?

This was a recent C API change, but the context-free C++ API had been around for a while. There could be C++ clients relying on it.

I could put in a context-ful C API, just to work around this in Regent. It will have some knock-on effects on Regent's analysis (which is why I wanted it context-free in the first place), but we could probably live with that in the short term

[2022-06-20 06:11] lightsighter commented on #1277
It depends on what the group decides we're going to do about #915 which we've discussed in the last two Legion meetings. It's looking more and more like the context-free API is going to be deprecated in a lot of places (although not all). I don't see a way to support context-free in all the places it might be invoked and still be sound. I'm probably going to be willing to keep the context-free API

[2022-06-20 16:06] elliottslaughter commented on #1277
What about inside projection functors? I think that's the reason why I originally pushed the context-free version of this API. Also, it's not obvious to me what it means to issue a fence (or if this is even desirable) inside of a projection functor.

[2022-06-20 17:45] syamajala opened #1280 "Regent: index launch failure with nested partition"
The following example only runs with `__forbid(__index_launch)`:

[code]

When trying to index launch the leaf task I see the following:
[code]

Run with MAX_DIM=4 and mpirun -np 2 regent.py test3.rg -ll:cpu 4

[2022-06-20 19:09] ct-williams commented on #1278
As a quick update, I ran this same simulation on a smaller number of nodes (8), and the job also failed. However, when using the `-lg:inorder` flag, it runs without issue.

[2022-06-20 22:09] elliottslaughter opened #1281 "regent: Silently discards field passed to struct constructor"
An `int2d` should have 2 arguments, but a third argument is discarded silently by the compiler:

[code]

[2022-06-20 22:18] elliottslaughter commented on #1277
@syamajala can you try this workaround?

[code]

[2022-06-20 22:32] elliottslaughter commented on #1280
Should be fixed in daf80f5a2e77652ce425c4fa30ae3b393e168dd9.

[2022-06-20 23:04] elliottslaughter opened #1282 "realm: gasnetex check_for_quiescence assertion failure"
Posting this here so that we don't lose track of it.

[code]

https://gitlab.com/StanfordLegion/legion/-/jobs/2614155300 in CI configuration `gcc49_cxx11_debug_gasnetex_mpi_cmake_legion` in test `alltoall`

Log: [job.log](https://github.com/StanfordLegion/legion/files/8944552/job.log)

[2022-06-20 23:51] syamajala commented on #1277
This patch works.

[2022-06-21 04:40] elliottslaughter commented on #1277
So I guess the question for @lightsighter is whether this is a solution we want to go with, at least long enough to be worth committing into the repo?

[2022-06-21 08:51] lightsighter commented on #1278
Did you also run with `-lg:safe_mapper` and `-lg:safe_ctrlrepl 1` on the smaller number of nodes? What are the values of `index` and `total_bytes` when it fails?

[2022-06-21 16:04] elliottslaughter commented on #1282
Ok, I'll close this out if it's not helpful.

[2022-06-21 18:33] syamajala commented on #1280
This works.

[2022-06-21 18:33] #1280 closed

[2022-06-22 09:41] lightsighter commented on #1282
Let's at least get @streichler's input on this before closing it, but I feel like the answer will be that we're either going to close it or just but it on the backlog.

[2022-06-22 12:17] syamajala opened #1283 "Regent: Cross product type requires at least 2 arguments"
The following example fails to compile:

[code]
and results in the following error:
[code]

[2022-06-22 19:01] syamajala commented on #1282
Maybe its not the same. On crusher it doesnt assert but calls abort() after 10 tries of the check returning false: https://github.com/StanfordLegion/legion/blob/control_replication/runtime/realm/runtime_impl.cc#L2277-L2289

[2022-06-22 20:34] syamajala commented on #1250
This issue is still there on crusher and it does not seem related to the one @elliottslaughter has been debugging. In stack traces on the latest legion it looks like all ranks have 1 thread stuck in attach_semantic_information. I no longer see allocate_field anywhere.

[2022-06-22 21:35] elliottslaughter commented on #1283
You can work around the problem with the following change:

[code]

Regent normally assumes that when you return a type like a partition or cross product, all arguments to that type were passed as parameters. So when that assumption is violated (as it is here), it doesn't know what type to assign the result. Though I agree the error message could be better.

I'll need to think more about how (and

[2022-06-22 21:37] eddy16112 opened #1284 "Pygion index_launch test fails in interactive mode"
When running the following index_launch test in interactive mode:
[code]

I am getting an error:
[code]
I  did not find where is the `__console__` module.

[2022-06-22 21:46] eddy16112 commented on #1284
the `method.py` test also crashes in interactive mode with the same error

[2022-06-22 23:03] elliottslaughter commented on #1283
For reference, here's a minimal reproducer that has the same issue:

[code]

[2022-06-23 15:55] elliottslaughter commented on #1188
There is now support for passing regions with field spaces of basic types (int8, int16, ..., float, double). See the example here:

https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/python/run_pass/python_interop.py

https://gitlab.com/StanfordLegion/legion/-/blob/master/language/tests/python/run_pass/python_interop.rg

Whoever is interested in this feature, please try it out a

[2022-06-24 01:14] syamajala opened #1285 "Regent index launch failure with cross_product"
I am seeing the following error when trying to index launch a task over a cross_product partition:

[code]

I have not been able to find a reproducer yet as standalone examples outside of S3D seem to be working.

[2022-06-24 01:16] syamajala commented on #1285
The launch looks like this:

[code]

and works if I change it to `__forbid(__index_launch)`

[2022-06-24 07:46] rupanshusoi commented on #1285
@elliottslaughter I think my code is at fault here, but it's hard to tell exactly where without a reproducer.

[2022-06-24 10:59] syamajala commented on #1285
There was another bug that was fixed recently that has a reproducer: https://github.com/StanfordLegion/legion/issues/1280

I tried modifying that reproducer to see if I get it to hit this error, but haven't had any luck.

[2022-06-24 16:20] ct-williams commented on #1278
Here is a summary of some results I've obtained from varying the flags:

**On 8 Nodes:**
Legion in release mode and with `CC_FLAGS="-g -O0"` ----> `prometeo_AirMix.exec: /g/g15/cwill/LEGION_LASSEN/runtime/realm/transfer/transfer.cc:1765: void Realm::TransferDomainIndexSpace<N, T>::count_fragments(Realm::RegionInstance, const std::vector<int>&, const std::vector<int>&, const std::vector<long unsign

[2022-06-24 20:04] eddy16112 opened #1286 "Realm: ctxswitch test fail on Apple M1"
After I run the `./test.py -v -j 10 --test realm` on my MacBook, the cxtswitch test fails, other realm tests as well as legion_cxx tests are running OK. This test works fine on Mac OS with intel CPU.
[code]

[2022-06-25 00:24] lightsighter commented on #1286
I can reproduce this on my M1 laptop as well. Despite the fact that the elapsed times are all "0.00", that doesn't actually seem to be the case. When I look at `t_start` and `t_end` they look like this:

[code]

It looks like everything is just off by a factor of a 1000. I looked through the code a bit, but couldn't see anywhere obvious that we were missing the extra factor. We're going down the s

[2022-06-25 00:33] lightsighter commented on #1277
I looked at this code again, and I can't explain why it changes any functionality in the current implementation. I'm not convinced that it actually fixes the original problem. It might just be perturbing the timing.

[2022-06-25 09:20] ReadingSteiner122 opened #1287 "Default Mapper Issue"
While writing my Regent code, we're running into issues with the Default Mapper. We've tried compiling with `-ll:csize` with no luck. We're running the code on an Ubuntu 20.04 docker container. Please give some pointers on what to do further.
Here is the error message:

[code]

[2022-06-25 09:36] lightsighter commented on #1278
This error: `Assertion layout_piece != 0' failed.` is a direct consequence of this error: `The index space for the instance has insufficient space for the requested logical region.` it's just that we don't do the checks for the bad mapper output in release mode and without the `-lg:safe_mapper` flag, so you don't get a nice error message, but instead you get the error message from Realm when it tr

[2022-06-25 09:42] lightsighter commented on #1250
What are the actual backtraces? If the problem is in the network (and the other issue does suggest that) then this could very easily be the same issue. Push too many messages into the network and it hangs there waiting for them forever.

[2022-06-25 09:48] mariodirenzo commented on #1278
I've been trying to reproduce the mapper error at a lower scale without success.
Moreover, I am confident that the mapper is trying to map the region requirement on a region that should be large enough to cover the index space of the region requirement.
Considering that the error disappears when the code is executed with `-lg:inorder` is there any chance that the task is executed ahead of time whe

[2022-06-25 09:56] lightsighter commented on #1278
The more likely cause is a race between your mapper finishing the mapping of the task and and the garbage collector reclaiming the instance. You have to make sure you acquire all the instances for the mapping of a task before returning from the `map_task` mapper call, otherwise the instances might be collected by some other task mapping in parallel. It's entirely possible that the reason there is

[2022-06-25 10:03] lightsighter commented on #1278
I'm also pretty confident that the error is real, because Realm is detecting exactly the same thing when it goes to do the copy to the instance later. Both Legion and Realm have done independent analyses and come to the same conclusion.

[2022-06-25 10:04] mariodirenzo commented on #1278
The implementation of `map_task ` that we are currently using is the one in the default mapper, therefore, if this check is implemented in that mapper, we are already checking for the validity of the instance.
The current logic in the mapper is to create a single instance that lasts for the entire calculation and that covers all the region requirements. This instance is never garbage collected dur

[2022-06-25 10:06] lightsighter commented on #1278
Another possibility is that out-of-order mapping without `-lg:inorder` is causing your mapper to create different sets of instances with different shapes depending on the order that tasks map, and some instance gets made in the `-lg:inorder` case is big enough, but because of out-of-order mapping without `-lg:inorder` then you never end up making the larger instance. I'd actually bet that this is

[2022-06-25 10:06] mariodirenzo commented on #1278
@ct-williams has given me a 4 nodes setup that should reproduce the issue. I'll try it on sapling and let you know what happens

[2022-06-25 11:22] rupanshusoi commented on #1287
Did you pass an argument to `-ll:csize`? That argument is the number of megabytes you require. E.g. `-ll:csize 4096`.

[2022-06-26 04:54] elliottslaughter commented on #1276
Terra 1.0.2 includes substantially improved support for structs on PPC64le, and I wrote a conformance test to confirm that this works on all structs up to 23 fields for all primitive types (uint8, int16, int32, int64, float, double, and arrays of those types). The new Terra passes this test (as well as Terra's older calling convention test) so I'm highly confident we've addressed all the issues.

[2022-06-26 04:54] #1276 closed

[2022-06-26 04:54] elliottslaughter commented on #1276
Oh, and `setup_env.py` has bumped Terra to 1.0.2.

[2022-06-27 03:58] ReadingSteiner122 commented on #1287
Yup, ran into the same error for `-ll:csize 1024`, `-ll:csize 2048` and `-ll:csize 3000`.

[2022-06-27 04:48] elliottslaughter commented on #1287
Is there any configuration of this application that runs to completion? E.g., smaller problem size, shorter duration, etc.

If there is, then the next most helpful step would likely be to run with Legion Prof: https://legion.stanford.edu/profiling/#legion-prof

Legion Prof can help diagnose where the memory is going and whether you have e.g., a couple large regions or have many regions being creat

[2022-06-27 05:48] ReadingSteiner122 commented on #1287
We're not running into this issue after updating to the latest commit of the control replication branch.

I'll get back to you if we run into more issues.

Thank you for your help.

[2022-06-27 06:29] ReadingSteiner122 commented on #1287
Unfortunately, after further runs, we've run into this issue again.
We'll make a Profile report and share the results with you.

[2022-06-27 11:25] ReadingSteiner122 opened #1288 "Expected Type-checking error"
We found a strange bug regarding Regent. Please find the code snippet to reproduce this bug:
[code]

Expected output: Regent should throw an error while type checking.
Resultant output: -5.0

Regent is compiled on the control replication branch, commit hash `5554d31c6 `

[2022-06-27 19:05] lightsighter commented on #1278
Let's start by seeing if we can get a detailed Legion Spy log of a failing run and see if it validates or not.

[2022-06-28 00:17] eddy16112 opened #1289 "Realm: unknown crashing when running pygion examples under jupyter notebook."
When running some pygion examples such as index_launcher, partitions under jupyter notebook, the ipython kernel sometimes crashes.
I have seen the crash on CI test and my Macbook, but not on sapling.
Here is the stack when crashing:
[code]
Here is the `top` result, `legion_python` is the child process of `jupyter-run`
[code]

I have not figured out what causes the crash, so I created a docker imag

[2022-06-28 01:38] lightsighter commented on #1289
@eddy16112 There are threads here that Realm did not make that are calling into the Python interpreter. We need to find out where they are coming from. For example, the thread that segfaulted started like this:

[code]

Realm Python threads on the other hand will look like this:

[code]

Side note: you can actually skip logging into the container registry if you're just reading public containers.

[2022-06-28 01:43] lightsighter commented on #1289
How do I start the kernel with the `-lg:delay` option?

[2022-06-28 01:57] eddy16112 commented on #1289
You can add it to `/root/.local/share/jupyter/kernels/legion_kernel_nocr/kernel.json`

[2022-06-28 02:07] lightsighter commented on #1289
I've got something better. This is the Python backtrace for the thread that segfaulted:

[code]

The kernel is forking its own threads which is not going to work: with Realm, at least not in a way that is going to call back into the interpreter without Realm being in control.

[2022-06-28 02:15] lightsighter commented on #1289
It looks like there is a second thread that has just bootstrapped itself as well:

[code]

 The realm thread in the Python interpreter is actually waiting on the GIL (partial backtrace since it is crashing):

[code]

@streichler will need to remind us of the details, but I think Realm's Python interpreter manages the GIL in its own way and that is probably going to be problematic for the creation

[2022-06-28 02:15] lightsighter commented on #1289
There are definitely two threads here actively running in the same interpreter, which is very bad since the GIL is supposed to prevent that.

[2022-06-28 04:33] eddy16112 commented on #1289
Yes, the ipython base kernel uses asyncio module to do asynchronous progressing, so I will not be surprised if asyncio creates other threads.

[2022-06-28 05:11] ReadingSteiner122 commented on #1288
I am a little confused. Can we have operations between arrays and primitive data types in Regent?
If yes, how does it work exactly?

[2022-06-28 06:23] elliottslaughter commented on #1288
Ok, it looks like `+` on two arrays results in an element-wise array operation `{double[5], double[5]} -> double[5]`, while a `-` on two arrays seems to coerce both to pointers and then compute a pointer difference, i.e., `{double[5], double[5]} -> int64`. And then you can coerce `int64` to `double` so that flows through the rest of your program without throwing an error.

It's a bit strange to di

[2022-06-28 07:19] lightsighter commented on #1289
Here are complete backtraces for all the Python threads:

Thread 7 (Realm Python processor):

[code]

Thread 10 (segfault):

[code]

 Thread 11

[code]

 Thread 14:

[code]

 Thread 15

[code]

Thread 55 (Another Realm thread):

[code]

[2022-06-28 07:32] lightsighter commented on #1289
The suspicious threads are 10, 11, and 14. Threads 7 and 55 have both released the GIL as part of their CFFI call, and are waiting before getting it back. Thread 15 is also being good and waiting for the GIL. The others though all look like they are running concurrently which shouldn't be allowed.

[2022-06-28 07:35] lightsighter commented on #1289
I think thread 14 is safe. It is waiting to acquire a lock, so it is blocked. Threads 10 and 11 appear to be running concurrently.

[2022-06-28 07:40] lightsighter commented on #1289
Have you tried this on my more recent Python versions with updated packages?

[2022-06-28 12:01] mariodirenzo commented on #1278
The legion spy logs produced by a failing execution pass the logical and physical analysis.
However, I have noticed that inserting execution fences in between the operations that produce the "bad" partition prevents reproducing the error. I am still working on narrowing down the minimum number of fences needed to obtain the correct subregions

[2022-06-28 17:59] eddy16112 commented on #1289
@lightsighter What is your most recent python? I tried on python 3.8. It seems like the chance of crashing is decreased (at least sometimes all tests can be passed in docker, which is not possible on python3.6), but it still crashes.

[2022-06-28 18:03] elliottslaughter commented on #1289
The threads are part of Jupyter, are they not? Why would we expect this to be related to Python version?

I think we need to either (a) figure how to get Jupyter to stop using threads or (b) just figure out how to cope with them being there.

[2022-06-28 18:14] eddy16112 commented on #1289
I think it is impossible to let jupyter not using threads, because the base class of all kernels https://github.com/ipython/ipykernel/blob/f03856014d5fdf86779a72b8d7f85f412f446696/ipykernel/kernelbase.py#L70 uses asyncio and zmq module, which have threads, but I could be wrong.

[2022-06-28 18:17] lightsighter commented on #1278
Can you attach the logs here just so we can see what the program is doing?

I suspect a Realm bug, and separating out the different dependent partitioning operations prevents Realm from seeing a bunch of dependent partitioning operations all at the same time and prevents the bug from manifesting.

[2022-06-28 18:26] lightsighter commented on #1289
You built the container with 3.6 and that is pretty old at this point.

I looked at the code in the `threading` module of Python, and it's implementation changed dramatically from 3.7 to 3.8.

Well, I'm still surprised as to how we get two threads into the interpreter at the same time. Realm is calling `PyGILState_Ensure` before running every task, so that should be grabbing the GIL:

https://gitl

[2022-06-28 18:38] lightsighter commented on #1289
This part is scary and I hope it is not happening:

[code]

https://docs.python.org/3/c-api/init.html#non-python-created-threads

[2022-06-28 21:04] elliottslaughter commented on #1289
I'm 99% sure that no one uses this feature, because Sean and I were looking at this (before we settled on submodules) and there is global state that this does not get rid of. As best I can tell this is an evolutionary dead end and will likely be made obsolete by the *actual* remove of the GIL in an (unscheduled, but probably not too distant) future release.

[2022-06-28 21:06] elliottslaughter commented on #1289
Just as a heads up, there are plans to remove the GIL in Python, so if we do choose to rely on this we'll need to track this work carefully because at some point the GIL may be removed: https://news.ycombinator.com/item?id=31348097

[2022-06-28 22:36] elliottslaughter commented on #1285
The error goes away with `-findex-launch-dynamic 0 -foverride-demand-index-launch 1`. This seems to indicate the issue is in dynamic checks. But I don't have a reproducer yet so it's hard to tell exactly where or how it's occurring.

[2022-06-28 23:51] lightsighter commented on #1289
I think they can remove the GIL and it shouldn't impact this. The problem is not the application code, the problem is that we're segfaulting _inside_ the interpreter, so removing the GIL would just make this style of execution legal. What we need to understand is how two threads made by the `threading` module both managed to think that they are holding the GIL at the same time.

[2022-06-29 00:19] eddy16112 commented on #1289
I finally done with the python3.8 image, docker pull [eddy16112/jupyter-crash:py38](eddy16112/jupyter-crash:py38). Somehow, I can not push the image to gitlab, so I pushed it to the docker hub.
By the way, I also tried to un-define the `USE_PYGILSTATE_CALLS`, and let realm to use `PyEval_RestoreThread` and `PyEval_SaveThread`, but it did not help.

[2022-06-29 00:33] eddy16112 commented on #1289
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/python/python_module.cc#L752
`PyThreadState_Get` needs to be called after GIL lock, but I do not see where the lock is acquired even though comments says "acquired the GIL on our behalf already"

[2022-06-29 02:19] eddy16112 commented on #1289
I accidentally hit the following error:
[code]
so I added the some checks to the realm python module
https://gitlab.com/eddy16112/legion/-/commit/08ead612b159c56b8e714f4a918fd3173c957829
and I caught an error:
[code]
It tells us when calling `PyEval_SaveThread`, the GIL is not acquired.
this line https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/python/python_module.cc#L599

Thi

[2022-06-29 02:20] lightsighter commented on #1289
PyThreadState_Get needs to be called after GIL lock, but I do not see where the lock is acquired even though comments says "acquired the GIL on our behalf already"

@streichler I think this might have worked on older versions of Python, but it looks like the semantics of the API have changed in later versions of Python. I'm pretty sure the comment is referring to this line here:

https://gitlab.co

[2022-06-29 06:06] lightsighter commented on #1289
What happens in the cases when you don't hit it? Are we crashing in a different way. All signs are definitely pointing to some lack of GIL discipline somewhere.

[2022-06-29 11:21] ReadingSteiner122 opened #1290 "Regent: Question regarding returning arrays"
I have a question regarding good practices while writing Regent code, specifically about returning arrays from tasks. I've noticed that for smaller tasks, you can return arrays from tasks and there's no issues in terms of the values stored in the array. But when we tried to apply this for a much larger task, the values got corrupted (I'm assuming that the pointer to the array returned by the task

[2022-06-29 14:10] rupanshusoi commented on #1290
The general recommendation is to put any data larger than 1 KB into regions, as they don't require serialisation (and all other data types do). Is there a particular reason you want to avoid them?

I'm not sure why your array was corrupted when you increased its size, maybe @elliottslaughter knows.

Side point: Regent tasks return arrays by value, not reference, because in Regent's programming mod

[2022-06-29 18:50] elliottslaughter commented on #1285
This should be fixed in `master` with 6040eb65aac99d78f2a848384f580e59d5199f5c. However note that even with the fix, I think our current dynamic check implementation is not sufficient for this case and will end up generating errors at runtime, so you still need the flags I posted in my last comment.

[2022-06-29 22:57] eddy16112 commented on #1289
I am able to reproduce the GIL assertion on linux with Python3.6. Here is the error message with backtrace. I caught a case that realm and non-realm threads both crash.
[code]
bt of thread 23 (realm thread)
[code]
py-bt of thread 23 (realm thread)
[code]

thread 10 (segfault, non-realm thread)
[code]

thread 7 (realm python processer thread)
(gdb) py-bt
[code]

The other threads are the same as wh

[2022-06-30 07:04] ReadingSteiner122 commented on #1290
We have a dataset of size 50,000, we perform some operations on this dataset, depending on certain parameters present in the dataset. In one of the tasks, we return an array of type double and size 4. This task is called about a hundred times (on average) after which, it fails. We've checked the values of the returned array and sometimes the values are incorrect. This doesn't happen on every run t

[2022-06-30 09:15] ReadingSteiner122 commented on #1290
Here are the log files generated by legion spy. We are unable to visualize the logs as the python script is throwing a maximum recursion depth reached error.

https://filebin.net/h7tskorawnrt4i6w/spy_1.tar.xz

[2022-06-30 16:01] elliottslaughter commented on #1290
Please run your code with `-fbounds-checks 1`. The easiest way to crash a code is to go out of bounds, and this should check for that.

Also, are you running Legion in debug mode? If you used `install.py`, that's the flag `--debug`.

The backtraces aren't helpful so it's hard to say anything from them.

Running O(100) tasks that each return `double[4]` should not be an issue. This is a trivial amo

[2022-06-30 16:15] elliottslaughter commented on #1290
This Legion Spy log is too large to be useful. It's 600 MB and has 8M lines. While our tools could certainly use improvement, there's no way to get a graph this large through Graphviz. And even if you got it through Graphviz, it would crash your PDF reader.

Is there a smaller size problem (fewer tasks) that you can run with the same behavior? I'd strongly recommend debugging this on the smallest

[2022-06-30 16:41] ReadingSteiner122 commented on #1290
The error came from an invalid access into a double matrix (a ```double[2][4]``` which the error log says is read as a ```double[2]``` which I'm guessing means that it's not allowed) from a module that we thought was working fine.
I will keep these guidelines in mind while optimising the code.
Thank you so much for your help!

[2022-06-30 16:44] elliottslaughter commented on #1290
One thing to remember is that Terra does not follow C's parsing rules for types. In Terra, `double[2][4]` is equivalent to `(double[2])[4]` i.e. an array of 4 elements where each element is a `double[2]`. In contrast for a C variable `x`, `double x[2][4];` is an array of 2 elements where each element is an array of 4 doubles.

So you may be flipping the bounds around if you're used to the C system

[2022-06-30 22:50] eddy16112 commented on #1289
After apply the patch from Legion meeting. the jupyter notebook works. I have done the CI tests with python3.6, 3.8 and 3.10, and never see the failures. @elliottslaughter @lightsighter @streichler Thanks for your help. I will close the issue now.

[2022-06-30 22:50] #1289 closed

[2022-07-01 16:43] syamajala opened #1291 "Regent: Cross product returning incorrect subregions in leaf task"
I'm seeing the following when using nested partitions in Regent:

[code]

The leaf task seems to be getting launched over a different set of subregions than what the init partition task creating the nested partition returns.

There is a reproducer here: /scratch2/seshu/linalg_test/test3.rg

First: `source /scratch2/seshu/linalg_test/env.sh`
then run: `regent.py test3.rg -ll:cpu 2 -logfile run_%.lo

[2022-07-01 16:47] bandokihiro commented on #1235
is this issue supposed to go away with the merge of collective?

[2022-07-02 05:13] lightsighter opened #1292 "Bounded Unfairness in Realm Locks"
Realm currently uses unfair locks in its implementation. @mariodirenzo reported a few instances of cases where extreme unfairness was being observed. After some investigation, we determined that these cases of extreme unfairness were not at risk of starvation, but could be a source of performance degradation. We've decided that we'd like to have some way to bound the amount of unfairness that occu

[2022-07-03 09:07] lightsighter commented on #1235
In theory yes. If you would like to try the `collective` branch you can. I'm not guaranteeing that inline mappings in a control replicated parent task or physical tracing with collective instances are working correctly yet. They might be, but I haven't done enough testing to ensure that yet.

[2022-07-03 16:53] bandokihiro commented on #1235
ok, it doesn't work yet, but if at some point, you want me to run some tests, let me know

[2022-07-03 19:55] lightsighter commented on #1235
What is the current failure mode?

[2022-07-04 05:38] bandokihiro commented on #1235
Backtrace: [gdb.txt](https://github.com/StanfordLegion/legion/files/9036615/gdb.txt)

The relevant bits are the following (i think):
[code]

[2022-07-04 06:21] #1278 closed

[2022-07-05 09:09] lightsighter commented on #1235
That is a "problem" with your mapper. We can probably safely ignore it though for now since we just decided to change the interfaces for the mapper to talk about collective instances in the Legion meeting last week, and this particular problem will go away.

[2022-07-05 15:00] apryakhin opened #1293 "Automated C++ formatting in Realm"
Filing a Github issue based on our offline discussion with @streichler.

Today, C++ in Realm has a specific coding style which is maintained manually. It does not go though any automated formatting tool such as clang-format. As the number of contributors grow, we need to find a way to standardize the C++ format across the Realm codebase. It should help us to maintain its quality bar...readability,

[2022-07-05 21:49] elliottslaughter commented on #1293
There will be conflicts, but those can be resolved automatically if you're willing to use git filter-branch. I used this when Terra switched to auto-formatting and it worked well.

(Note: I am suggesting this for Realm branches only, not ones with Legion changes only, such as `control_replication`. I think the technique should be feasible to do on a branch by branch basis.)

Let me know if you wan

[2022-07-07 18:11] elliottslaughter opened #1294 "HIP: debug printfs in Realm module"
E.g.: https://gitlab.com/StanfordLegion/legion/-/blob/02e6f81bd9605bed64c7d58e1a3c5614012307e3/runtime/realm/hip/hip_internal.cc#L953

Just want to check with @eddy16112 to make sure these can be removed.

[2022-07-07 18:36] eddy16112 commented on #1294
Yes, they can be removed. I believe there are some more printfs. I will push a fix to remove them.

[2022-07-07 22:02] elliottslaughter commented on #1255
Unfortunately we may not be at the end of this. We saw [CI](https://code.olcf.ornl.gov/ci/csc335/dev/legion/-/pipelines/770) [failures](https://code.olcf.ornl.gov/ci/csc335/dev/legion/-/pipelines/771) that seems to indicate the problem is still there (or perhaps something new).

[2022-07-07 22:07] elliottslaughter commented on #1291
This should (hopefully) be fixed in master; there was an issue in getting the correct color for the imported cross products.

[2022-07-07 23:01] elliottslaughter commented on #1255
Reverting also caused a [failure](https://code.olcf.ornl.gov/ci/csc335/dev/legion/-/jobs/2722) so now I'm just confused.

[2022-07-07 23:28] eddy16112 commented on #1255
Looks like the crash is inside the gasnet?

[2022-07-07 23:32] elliottslaughter commented on #1255
My understanding is that the errors in https://github.com/StanfordLegion/legion/issues/1255#issuecomment-1178271662 simply indicate that a rank failed; i.e., these are secondary failures.

I've been told that https://github.com/StanfordLegion/legion/issues/1255#issuecomment-1178347575 is more up in the air: the problem might be in GASNet or it could be another secondary failure like the first one.

[2022-07-08 00:06] eddy16112 commented on #1255
Is the failure with ROCm 4 non-deterministic? I noticed the regent_cmake did not fail.

[2022-07-08 18:34] eddy16112 commented on #1294
I removed all the printfs in the hip module, and also removed the experimental dlopen code that I implemented before, here is the commits https://gitlab.com/StanfordLegion/legion/-/commits/hipcleanup
@elliottslaughter let me know if there are any other cleanups needed.

[2022-07-08 18:46] elliottslaughter commented on #1294
Looks good to me, thanks.

[2022-07-08 19:21] eddy16112 commented on #1294
I have pushed the changes to the master branch.

[2022-07-08 20:38] elliottslaughter commented on #1294
Thanks!

[2022-07-08 20:38] #1294 closed

[2022-07-09 00:43] elliottslaughter opened #1295 "Upgrade CI to newer Ubuntu version"
This is to track work in https://gitlab.com/StanfordLegion/legion/-/commits/gitlab-ci-docker-update to upgrade CI to a newer Ubuntu version: ideally 20.04, but at least 18.04. We're currently on 16.04 which has been unsupported since 2021.

<details>
<summary>readline error on Ubuntu 18.04 (resolved by upgrading to Ubuntu 20.04)</summary>

In Ubuntu 18.04, we see job failures like this one: https:

[2022-07-09 01:38] eddy16112 commented on #1295
Do you think it is an issue of system configuration or our python module? The reason I am asking is because the GIL bug was also gone when I tested jupyter notebook under 20.04 with Python 3.8, but actually it was just difficulty to reproduce it under Python 3.8 (I got less than 1 crash with 100 runs).

[2022-07-09 04:43] elliottslaughter commented on #1295
Unfortunately I don't have time to look any deeper, but you're welcome to investigate if you want to. I pushed a branch `gitlab-ci-docker-update-18.04` which corresponds to the version where this failed. There should be a CI job up shortly to confirm it still behaves as it did before.

To run locally, try `python3 tools/gitlab2docker.py -b gitlab-ci-docker-update-18.04 .gitlab-ci.yml clang10_cxx11

[2022-07-09 06:15] eddy16112 commented on #1295
Here are the backtraces:
[code]

backtrace of the segfault thread
[code]
[code]

[2022-07-09 13:52] elliottslaughter opened #1296 "Realm: GCC 9 build error"
In the attempt to upgrade CI to 20.04 (#1295), I noticed this build error on GCC 9 on 32-bit architectures:

[code]

Job log: https://gitlab.com/StanfordLegion/legion/-/jobs/2699425580 ([archived](https://github.com/StanfordLegion/legion/files/9077262/job.log))

[2022-07-09 13:54] elliottslaughter commented on #1295
Right, it's clearly going through `import readline` at:

https://github.com/StanfordLegion/legion/blob/f721be968fb969339334b07a3175a0400700eced/bindings/python/legion_top.py#L26

But it's still not clear to me why that would fail.

[2022-07-09 20:04] lightsighter commented on #1296
Try changing this line here:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h#L589

to instead be:

[code]

[2022-07-10 04:33] elliottslaughter commented on #1296
Is this `long long` really a `coord_t`?

Should I be touching any of the surrounding lines? (E.g. https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h#L591)

[2022-07-10 05:12] lightsighter commented on #1296
`coord_t` is only a Legion type now. It doesn't exist in Realm anymore. Really we should be picking the largest type out of this list:

https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/realm/indexspace.h#L41

You probably also need to update 591 to get the alignment right too.

[2022-07-11 08:54] lightsighter commented on #1293
I think we're going to want to have different style files for the Legion and Realm directories. I can make the style file for Legion based on the standards that I'd like to see in the Legion repo, but I have no interest in forcing my choices on the Realm code.

[2022-07-12 19:02] elliottslaughter commented on #1296
Ok, good. As long as there's a principled reason for it to be safe to use `long long`, I'm fine with it.

[2022-07-12 20:11] rspavel commented on #1275
Honestly? All of them is the easy answer. The harder answer is "everything we need to build on platforms of interest".

We won't know what is not being propagated until it is too late. Bare minimum would be all of the flags that are passed to CMake/derived by CMake as part of that configuration process need to make it to autoconf for gasnet.

The reason my previous spack based fix is preferred is

[2022-07-12 23:01] elliottslaughter opened #1297 "Crashes when running Regent on updated CI"
I'm hoping to get some help debugging an issue that occurs in the updated CI. This is technically a part of #1295 but I'm splitting it off to keep the discussion clean.

My understanding of the bug so far is:

  * Only Regent tests fail. (I think I've fixed all the Legion test failures.)
  * MPI/GASNet is not required.
  * I can reproduce in GCC or Clang.
  * I can reproduce in any C++ standard ve

[2022-07-12 23:11] lightsighter commented on #1297
Usually when I have a hard to reproduce bug, I'll use gitlab2docker.py on one of the n000* nodes (which you've already done). Then I'll actually compile the regent program into a binary using `SAVEOBJ=1`. Then I'll run it repeatedly, often in parallel with a full run of the test suite to generate a bunch of noise on the same node.

The lack of a backtrace suggests to me that the segfault is either

[2022-07-12 23:16] lightsighter commented on #1297
Another thing to try is to set `REALM_FREEZE_ON_ERROR=1` and then watch the test suite run and look for processes that are not exiting in a reasonable amount of time and then you can attach and look at them up until the timeout kills them.

[2022-07-12 23:26] eddy16112 commented on #1297
What I did before was to modify the `travis.py` to disable the compilation, `test.py` to remove the tests that have no issues, and run `REALM_FREEZE_ON_ERROR=1 ./script.sh` until I caught the crash.

[2022-07-12 23:36] lightsighter commented on #1297
I've got a debugger on some processes that segfaulted but they are not particularly helpful:

[code]

[2022-07-12 23:37] lightsighter commented on #1297
Interestingly, this is not a Realm thread. I have no idea where it came from.

[2022-07-12 23:40] elliottslaughter commented on #1297
I just got a crash after 167 iterations. `REALM_FREEZE_ON_ERROR=1` did not catch it.

I'm guessing this is somewhere in LuaJIT? Still not especially helpful.

[2022-07-12 23:43] lightsighter commented on #1297
So interestingly, all my failures are calling `abort` and not segfaulting. It's definitely a non-Realm thread though. Since these are all self-contained Regent programs, I'm guessing it's LuaJIT making this thread. How do I get a debug build of LuaJIT?

[2022-07-13 09:17] syamajala opened #1298 "Regent: Use generate_static_projection_id for projection functors"
Regent projection functor ids start at 1 currently: https://github.com/StanfordLegion/legion/blob/master/language/src/regent/std.t#L3789

This can conflict with C++ code that registers its own projection functors. I think Regent should probably use `Runtime::generate_static_projection_id()`. It doesnt look like its currently available in the C API though.

[2022-07-13 16:49] elliottslaughter commented on #1297
I rebuilt the image last night to update LuaJIT to something more recent. This did not fix the problem, though the symptoms seem slightly different now.

Next I set up a debug build of Terra/LuaJIT. I've confirmed that Terra has debug symbols, but the backtrace is still useless.

[code]

I see there are some debugging options for LuaJIT, so I guess I'll try those next:

https://github.com/LuaJIT/L

[2022-07-13 20:52] elliottslaughter commented on #1297
I've confirmed the error occurs only in Terra built with Make. The errors go away in CMake in every configuration I've tested. I'm not sure what the difference is yet, but this potentially gives us a way to move forward.

[2022-07-14 00:14] elliottslaughter commented on #1297
So much for my confirmation. The [new jobs still fail](https://gitlab.com/StanfordLegion/legion/-/jobs/2719159623).

I had 5 iterations of `/script.sh` pass in my old container, and now in the new container it fails half a dozen tests on my first try. Maybe it's sensitive to the amount of load?

[2022-07-14 15:45] elliottslaughter commented on #1297
I have run nearly 180 iterations of `/script.sh` on a `g` node and have yet to see a failure. This is with 3x oversubscription (i.e., I had three concurrent copies of `/script.sh` going, and each was set to use all the cores on the machine, meaning were 3x the number of active threads as cores/hyperthreads on the machine).

My best guess at this point is we're seeing a sensitivity to the host OS v

[2022-07-14 17:16] rbberger opened #1299 "Hardcoded CUDA libraries in installed Legion CMake files, problems with CUDA forward-compatibility"
I’m working on the CI of FleCSI and ran into this issue while comparing builds for x86_64 and power9. We have power9 nodes with CUDA 11.0 drivers, and x86_64 nodes with CUDA 11.4 drivers. In both cases we’re using CUDA 11.7 with forward-compatibility. What that means is `libcuda.so` isn’t taken from `/usr/lib64/libcuda.so` at runtime but is injected through LD_LIBRARY_PATH. At link time the prefer

[2022-07-14 19:28] lightsighter commented on #1299
Someone who is more of expert on Legion's cmake build than me will need to comment on this issue, but I can say with some certainty that you're actually misunderstanding the motivation for this part:

We need to enforce a stronger invariant: we need to guarantee that nobody anywhere in the build is using libcudart.so because librealm.so exports its own version of the symbols in libcudart.so and we

[2022-07-14 21:04] rbberger commented on #1299
@lightsighter you're right. I didn't fully consider the cudart hijack parts and nor do I claim to fully understand them (the builds I've seen so far didn't activate that feature). Neither did I expect it to be that simple.

When I created this issue I was expecting you have other constraints and requirements that I'm unaware of. I created it anyway to document and point out deficiencies and start

[2022-07-15 04:38] elliottslaughter commented on #1297
I moved the CI to our `c` nodes temporarily. My observations:

 * I no longer see any single-node segfaults at all. This failure mode seems to have been resolved.
 * I do see multi-node failures, but the failure mode seems different. The failure rate is nearly 100%, suggesting something that should (hopefully) be easy to debug. I have yet to look into it though.
 * I see some new failures in the p

[2022-07-15 07:18] lightsighter commented on #1297
Also happening on the control replication branch as well.

[2022-07-15 16:56] elliottslaughter opened #1300 "Regent: appply LICM when futures are used inside a trace"
Regent is currently not very smart about the combination of tracing and futures. One common failure mode is for Regent to naively apply future optimization inside a loop, causing tracing to fail. In many cases these futures can be lifted outside the loop with LICM, allowing the two optimizations to be used together.

[2022-07-15 18:31] mariodirenzo commented on #1032
@elliottslaughter, could you add #1292 to the Realm section with low priority?

[2022-07-15 23:41] elliottslaughter commented on #1297
For posterity, here is a set of "bad" and "good" files from the `master` branch:

 * "bad" (Rust and Python output differ): [prof_0.gz](https://github.com/StanfordLegion/legion/files/9124695/prof_0.gz)
 * "good" (Rust and Python output match): [good_prof_0.gz](https://github.com/StanfordLegion/legion/files/9124698/good_prof_0.gz)

The test in these examples is https://gitlab.com/StanfordLegion/leg

[2022-07-18 18:11] apryakhin commented on #630
I am resurrecting this github issue as plan to do some work with respect to the Realm profiling.

[2022-07-18 18:48] elliottslaughter commented on #1297
This has hopefully been fixed by https://gitlab.com/StanfordLegion/legion/-/commit/457b5835217ff5837fbfe2fb4a20acde6e01cd20

[2022-07-18 21:41] elliottslaughter commented on #1297
I'm looking at the last Regent crash now. Example failure: https://gitlab.com/StanfordLegion/legion/-/jobs/2724972395

Example of a failing command line (after running `/script.sh`; also I built a debug Terra): `LAUNCHER="mpirun -n 1 gdb --args" ./regent.py ../tutorial/00_hello_world/hello_world.rg`

There is one thread in the final stages of shutdown. Backtrace:

[code]

This appears to be a cras

[2022-07-19 00:15] elliottslaughter commented on #1297
Some updates:

I tried Clang 14 with Ubuntu 22.04 and it doesn't make any difference. I have a test going for Ubuntu 18.04 in case it's sensitive to that.

I went looking for possible calls to `atexit`, since we seem to be in an exit handler in the crash. Running in gdb with `b atexit` breaks in one location, here: https://gitlab.com/StanfordLegion/legion/-/blob/457b5835217ff5837fbfe2fb4a20acde6e0

[2022-07-19 06:04] lightsighter commented on #1297
Here is the backtrace of a crash:

[code]

So the bad function pointer is `7f1f0c0599f0`, i dumped a backtrace for every single call into the `__new_exitfn` in libc and here is the backtrace that matches with that function pointer:

[code]

So the issue is definitely somewhere in GASNet. I did a run with a breakpoint set on `dlclose` and it didn't look like `librealm.so` (which statically links GA

[2022-07-19 07:06] lightsighter commented on #1297
It's not GASNet's fault. `libregent.so` is definitely being unmapped before GASNet's `gasneti_on_exit` function is being called (note that GASNet is statically linked into `libregent.so`). I can capture the backtrace for the registration of `gasneti_on_exit` now, it looks like this:

[code]

When we do that, we can see that `libregent.so` is mapped here:

[code]

You can confirm for yourself that

[2022-07-19 07:11] lightsighter commented on #1297
Alright, and here is our smoking gun, LLVM being unhelpful and unloading `libregent.so` before `gasneti_on_exit` can be called:

[code]

Fuck LLVM!

[2022-07-19 16:09] elliottslaughter commented on #1297
What I'm getting from this is that you can't `terralib.linklibrary` with any library that uses `atexit`. That seems unfortunate but I don't really see a way around it, unless we call `terra_llvmshutdown()` itself as an `atexit` handler, which I'm not sure will actually do what we want (and will subject us to, e.g., `atexit` handler ordering issues, which as I understand is not well-defined).

What

[2022-07-19 17:00] elliottslaughter commented on #1297
To answer my own question, I get 4 failures (out of 1200 tests), and an example looks like:

[code]

So I suppose the GASNet exit handler may actually be aiding the shutdown process in some way, though it's odd that we can't exit cleanly without it (these should be passing tests, not failures).

[2022-07-19 17:45] lightsighter commented on #1297
Right, this is `mpirun` complaining because GASNet doesn't shutdown fast enough for its liking. The GASNet exit handler helps to accelerate the completion of all the processes in a way that is more consistent with `mpirun`'s expectations. The signal 1 error is not a failure, it just says that the something "hungup" and took longer than expected.

What exactly is `llvm_shutdown` doing? Why isn't it

[2022-07-19 17:56] lightsighter commented on #1297
We should do that. `dlopen` and `dlclose` work like reference counting on the shared objects and they automatically deduplicate so things are only loaded once. We should `dlopen` `libregent.so` ourselves to ensure it survives all the way through to the end of execution.

[2022-07-19 21:46] elliottslaughter commented on #1297
Using `dlopen` seems to fix this.

The only outstanding issue now is that the HTR external test is failing: https://gitlab.com/StanfordLegion/legion/-/jobs/2742944455

[2022-07-19 22:17] lightsighter commented on #1297
Do we have any idea why that is failing? It's hard for me to explain a configuration error. @mariodirenzo can you provide any insight into what is going wrong in this failing test case?

https://gitlab.com/StanfordLegion/legion/-/jobs/2742944455

[2022-07-19 23:03] mariodirenzo commented on #1297
It apparently looks like a corruption of a data structure that is passed by value across a couple of tasks. I have already written in the slack channel with Elliott a possible debug strategy.

[2022-07-19 23:33] elliottslaughter commented on #1297
So far I have been unable to reproduce locally. Instead I hit this compile error:

[code]

(This repeats for quite a while.)

It doesn't look like an HTR error, but I'm not sure what else to say.

[2022-07-19 23:35] elliottslaughter commented on #1296
This seems to fail with:

[code]

[2022-07-19 23:52] lightsighter commented on #1297
I'm confused. That is the same error from #1296. Are you tangling up your repositories? You shouldn't be getting that build error here.

[2022-07-20 00:32] lightsighter commented on #1296
Ok, let's try with this one because gcc is stupider than clang. This one has at least been tested with GCC 9 and clang 10:

[code]

[2022-07-20 03:26] elliottslaughter commented on #1296
Builds with Clang 12 now, we'll see what CI says.

[2022-07-20 03:55] elliottslaughter commented on #1297
With the fix from https://github.com/StanfordLegion/legion/issues/1296#issuecomment-1189676838, HTR now passes locally. (And yes, I need that patch in this branch or else my CI will not pass.)

I am now somewhat confused, because I would not have expected that to be the deciding factor in the tests passing. But I guess I'll see what CI says.

[2022-07-20 06:47] elliottslaughter commented on #1297
How strange. CI still fails: https://gitlab.com/StanfordLegion/legion/-/jobs/2744290515

I guess I'll try another replication attempt tomorrow, but I thought I already ran this configuration.

[2022-07-20 23:19] syamajala commented on #1291
This is fixed.

[2022-07-20 23:19] #1291 closed

[2022-07-20 23:19] syamajala commented on #1285
This is fixed.

[2022-07-20 23:19] #1285 closed

[2022-07-20 23:19] elliottslaughter commented on #1297
My ability to reproduce locally has been coming and going today, so it's been hard to work on this. But as best I can tell, this appears to be a case of LuaJIT's iteration order changing nondeterministically, creating downstream mismatches in the parsing of headers.

I have a tentative fix in HTR that I have sent to @mariodirenzo, that I'm waiting to test in CI to confirm it works.

[2022-07-21 19:46] rbberger opened #1301 "Inconsistent destruction behaviour, Lifetime of field and index spaces"
We've been seeing some inconsistent deletion behavior in Legion.

Attached is a reproducer which does basically the following:
- Create an index space
- Create a field space
- Create a logical region with these two and hold on to it
- Schedule deletion of index and field space (`recursive=false`). Our assumption is that the logical region would keep those two alive until it is destroyed itself.
-

[2022-07-21 22:31] elliottslaughter commented on #1297
I have confirmed my fix in CI, and am now waiting for @mariodirenzo for integration into the HTR CI branch.

[2022-07-21 23:14] eddy16112 commented on #1297
I occasionally hit a realm crash in my developing branch,
https://gitlab.com/StanfordLegion/legion/-/jobs/2754793811
Looks like it showed up before in the master branch
https://gitlab.com/StanfordLegion/legion/-/jobs/2746598895
It happens in shutdown.

[2022-07-21 23:18] elliottslaughter commented on #1297
@streichler will need to confirm, but I believe this is a preexisting issue.

[2022-07-22 09:03] lightsighter commented on #1301
Ok, so looking at this example that you have provided, I can now point out exactly where the illegal behavior is occurring: in this example, the creation of `no_clone_lr` using `typed_lr.get_field_space()` is not legal. If we were interpreting this program eagerly, then this would constitute a "use-after-free" bug because the "reference count" on the field space `fs` has gone to zero at that point

[2022-07-22 14:06] opensdh commented on #1301
I'm still not sure I understand the model.  If we create a logical region `r` from a field space `f` and then "destroy" `f`, what does it mean that we can "continue to use" `r`?  Does calling `r.get_field_space()` constitute a use of `r`, of `f`, or both?

If it counts as a use of `f`, what else might count as such an invalid use?  (Would launching a task with a field on `r` be a use of `f`, since

[2022-07-22 18:31] lightsighter commented on #1301
You can't do any runtime calls that also take a `Legion::Context` and a handle to the resource. For example, `runtime->create_logical_region(ctx, is, fs)` would be illegal.

Neither of those constitute a use of `r` or `f` since you're just dealing with the handles in that expression and doesn't involve talking to the runtime at all. If you do `runtime->method(ctx, ...` then you're talking to the r

[2022-07-22 18:56] opensdh commented on #1301
I guess this is a coherent model I can use: our handle is something like a `RealResource**` that points to a [tombstone](https://en.wikipedia.org/wiki/Tombstone_(programming)).  Once its reference count hits 0, we're pointing at the empty tombstone, which can still be identified but can't be given to anything that expects to dereference **it**.

Thanks for the explanation; we'll let you know if we

[2022-07-25 08:16] lightsighter commented on #1301
Do you think a different semantics would be more intuitive? What would it be?

[2022-07-25 16:45] elliottslaughter commented on #1297
This has been merged as of f5ca507dad83543eb1e62056a0ff26ea10b8c842.

@eddy16112, please be very careful when you update, because I aggressively rebased this branch. It would be best to completely remove any commits related to this branch if you can, or if absolutely necessary you can rebase. But if you rebase, please check that you get exactly the expected set of commits, because there were commi

[2022-07-25 16:46] elliottslaughter commented on #1296
Fixed in 1fc45b65f508918ff98430f4831e0e9539de8e14.

[2022-07-25 16:46] #1296 closed

[2022-07-25 16:46] elliottslaughter commented on #1295
This has been merged in f5ca507dad83543eb1e62056a0ff26ea10b8c842.

[2022-07-25 16:46] #1295 closed

[2022-07-25 16:47] #1297 closed

[2022-07-25 16:48] elliottslaughter commented on #1060
We no longer test Python 2 in CI. I suppose that we can start to remove the remaining Python 2 support as we have the time / interest.

[2022-07-25 16:48] #1060 closed

[2022-07-25 17:50] syamajala commented on #1250
I tried running with `-gex:immediate 0 -gex:crittime 1` but still saw a hang at 16 nodes. I was able to dump some stack traces. There are available here: http://sapling.stanford.edu/~seshu/crusher_hang/gex_immediate_crittime/

[2022-07-25 19:27] opensdh commented on #1301
Well, I liked the one I thought was true: that the reference held by a logical region to its field space (which is already sufficient for launching tasks and the like) was exactly equivalent to the one produced by `create_field_space`, so that you could (if you wanted) do something like
[code]
That said, if this would be inefficient or somehow painful to implement, this isn't a request to change i

[2022-07-25 23:06] eddy16112 opened #1302 "Realm_stencil crashes on gcc9_cxx11_32bit_release_legion"
I occasionally hit a crash on the `realm_stencil` with my developing branch, here is the log of the job
https://gitlab.com/StanfordLegion/legion/-/jobs/2767150002
I tried this example with the master branch, and I can get the same error.

Here is how to reproduce it:
[code]

If you are lucky, you will probably be able to catch the assertion within 500 runs. Sometimes, I won't hit the assertion unt

[2022-07-26 03:19] syamajala commented on #1250
Here are stack traces with `-gex:immediate 0 -gex:crittime 1 -ll:force_kthreads`: http://sapling.stanford.edu/~seshu/crusher_hang/gex_immediate_crittime_force_kthreads/

[2022-07-26 05:26] eddy16112 commented on #1302
With DEBUG=1, I am not able to catch the crash after 3000 runs.

[2022-07-26 05:42] lightsighter commented on #1250
This still looks like a control replication violation to me, although it could just as equally be explained by missing messages.

Does this hang with `-lg:inorder`?

Apply this patch:

[code]

And then run with `-level runtime=3` , dump logs and backtraces from the same run.

[2022-07-26 06:29] lightsighter commented on #1302
Can you try with optimizations on and thread sanitizer on?

[2022-07-26 06:46] syamajala commented on #1250
I had checked for control replication violations previously and there was only 1 that I saw, which I mentioned above: https://github.com/StanfordLegion/legion/issues/1250#issuecomment-1129370365

It ran with `-gex:immediate 0 -gex:crittime 1 -ll:force_kthreads -lg:inorder`

The runtime logs and stack traces from the run with -gex:immediate 0 -gex:crittime 1 -ll:force_kthreads -level runtime=3` usi

[2022-07-26 07:17] eddy16112 commented on #1302
I just tried `-fsanitize=thread`, but it does not compile because thread sanitizer does not support 32-bit.

[2022-07-26 07:53] lightsighter commented on #1302
Well that is unfortunate. You've tried to replicate this with the same configuration and number of runs on 64-bit and no equivalent failures?

[2022-07-26 08:18] eddy16112 commented on #1302
After adding the `-fsanitize=thread` to the 64 bit, I am getting something useful even though it does not crash.
[code]
Looks like it is the issue of this application, multiple `stencil_tasks` try to read/write the same memory.

[2022-07-26 09:22] lightsighter commented on #1250
So the processes with `AllGatherCollective` somewhere in there backtraces are the ones that are lagging the others. There are exactly 32 processes with `AllGatherCollective` in a backtrace. In every single case it is the first process on each physical node that is lagging, which I find to be incredibly strange. Attach `gdb` to some of the processes with `AllGatherCollective` in their backtrace and

[2022-07-26 09:24] lightsighter commented on #1302
I agree, I think it looks like an application race. Probably worth fixing, but not a scary race in Realm at least. Definitely should be something we fix before trying to reproduce the 32-bit failure again.

[2022-07-26 15:59] syamajala commented on #1250
I put some logs of the state of AllGatherCollective here: http://sapling.stanford.edu/~seshu/crusher_hang/allgather/

[2022-07-26 19:12] eddy16112 commented on #1302
I have pushed a fix for it https://gitlab.com/StanfordLegion/legion/-/commit/76ccc9fec67304e87f317383307b5adce7faa10d
We do not see complains from the thread sanitizer anymore, and do not catch a failure on 32-bit after 5000 runs.

[2022-07-26 19:16] eddy16112 commented on #1302
@lightsighter if you are happy with the fix, I am going to merge the fix after CI is passed.

[2022-07-26 19:47] lightsighter commented on #1250
Can you also print out the values of these STL data structures, right now we can't see what is inside of them:

https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/legion_replication.h#L242-243

[2022-07-27 05:27] eddy16112 commented on #801
Jupyter notebook support for single node execution or multi-node execution without control replication has been added to the master branch.

[2022-07-27 05:54] eddy16112 commented on #1302
The bug has been fixed, so close the issue.

[2022-07-27 05:54] #1302 closed

[2022-07-27 08:24] lightsighter commented on #801
Still leaving this issue open so we can discuss multi-node execution with control replication, but definitely very good progress.

[2022-07-27 18:08] syamajala commented on #1250
crusher012_89317.core:
[code]

crusher017_45355.core:
[code]

crusher108_1036.core:
[code]

[2022-07-27 20:20] elliottslaughter commented on #1270
I got an update from OLCF with the following suggestion. With this setting, I am able to run up to 32 nodes without freezing; though 64 nodes still freezes.

[code]

Note: I do NOT include the previous set of variables when I do this. If I do, it freezes even at only 8 nodes. I am following up to see if there is a setting that would allow 64 nodes to run.

[2022-07-27 22:31] lightsighter commented on #1270
Do we know what the default values for some of those settings are? That looks like a monstrously large completion queue size to me. It seems like their starting to poke at the problem, but just throwing more resources at it allows us just to get farther, not actually fix the original problem.

[2022-07-27 22:55] ct-williams opened #1303 "Error compiling Legion on Lassen (master branch)"
When trying to compile Legion (master branch) on Lassen, I am encountering the following issue:

`error: 'template<unsigned int MAX> void Legion::Deserializer::deserialize(PPCBitMask<MAX>&)' cannot be overloaded`
`inline void deserialize(PPCTLBitMask<MAX> &mask);`

Both control_replication and stable are compiling without any errors, though.

[2022-07-27 23:14] lightsighter commented on #1250
Apply this diff and then run with `-level runtime=3` and report all the logs.

[code]

[2022-07-27 23:16] elliottslaughter commented on #1270
My understanding is that the default value is 32768, so this 4&times; that. I'm doing a test at 262144 to see if I can get another factor 2 before I freeze again.

Continuing to scale this won't be an ultimate solution, though if we work around the issue with queue sizes like this it does seem to suggest a lower-level network error.

[2022-07-27 23:17] lightsighter commented on #1303
Please pull and try again.

[2022-07-27 23:27] ct-williams commented on #1303
It now compiles without issue - thanks for the help!

[2022-07-27 23:27] #1303 closed

[2022-07-28 03:36] lightsighter commented on #1270
I agree, it's not quite a smoking gun, but it definitely is corroborating evidence that the problem is in the networking stack.

[2022-07-28 22:15] elliottslaughter commented on #1270
I tried some higher `FI_CXI_DEFAULT_CQ_SIZE` values (262144 and 524288), and so far have not observed any change in symptoms. The program still freezes at 64 nodes in all configurations.

I also obtained a new set of flags from OLCF (shown below); but this does not change the symptoms either.

[code]

[2022-07-29 02:21] syamajala commented on #1250
The logs are here: http://sapling.stanford.edu/~seshu/crusher_hang/allgather_dispatch/

[2022-07-29 04:25] lightsighter commented on #1250
Ok, I can't tell if this is a Realm, GASNet, or network issue, but it is definitely not a Legion issue. Here is the logging that Legion recorded for collective 50 on node 0 (one of the 32 processes that hung again):

[code]

So it sent all of its messages for stage 0, but it didn't receive any stage 0 messages from any other nodes. However, if I search for the nodes that sent messages to process 0

[2022-07-29 04:30] lightsighter commented on #1270
Do you have any problems if you have just one rank per node? There is some evidence from #1250 that the problem might be with the PSHM which would explain problems in both GASNet and MPI concurrently.

[2022-07-29 04:31] lightsighter commented on #1270
Alternatively try GASNet with `--disable-pshm`.

[2022-07-29 04:36] syamajala commented on #1250
This is with [--disable-pshm](https://github.com/StanfordLegion/gasnet/blob/master/configs/config.ofi-slingshot11.release#L13).

[2022-07-29 04:51] elliottslaughter commented on #1270
There is no GASNet here. This is `REALM_NETWORKS=mpi`.

[2022-07-29 05:00] lightsighter commented on #1270
Right, but GASNet is the only one I know how to build without pshm.

[2022-07-29 05:00] lightsighter commented on #1250
Ok, well I can't explain it then, but it's one of Realm, GASNet, or the network.

[2022-07-29 05:09] lightsighter commented on #1250
Maybe try running with `--enable-pshm` and see if that fixes it. Perhaps the inter-node over-the-network path is buggy.

[2022-07-29 05:11] lightsighter commented on #1270
Might still be interesting to see if it hangs with one process per physical node.

[2022-07-29 06:51] eddy16112 commented on #1270
If `REALM_NETWORKS=mpi`, can we try different MPIs?

[2022-07-29 18:44] PHHargrove commented on #1270
If the goal is to run HPE Cray MPI without single-copy intra-node communication via cross-mapping of buffers, then I believe you want to set `MPICH_SMP_SINGLE_COPY_MODE=NONE`.

I would be very surprised if the Open MPI team didn't have something installed on Crusher, but you'd need to contact them for help in locating it.

[2022-07-29 22:16] eddy16112 opened #1304 "GASNetEXEvent is not recycled correctly in gcc9_cxx11_debug_gasnetex_mpi_regent CI test"
I am running into a crash related to `ChunkedRecycler() [with T = Realm::GASNetEXEvent; unsigned int CHUNK_SIZE = 64]`, here is the log: https://gitlab.com/StanfordLegion/legion/-/jobs/2791336163

Unfortunately, I am not able to reproduce it after 2000 runs. Here is how I reproduce it:
[code]

I did not modify legion realm or regent in my branch, so this error should be already there in the master

[2022-07-29 22:28] elliottslaughter commented on #1304
Have you tried running multiple containers concurrently? You may need to fill the machine to create some contention before you'll see it reproduce.

[2022-07-29 22:36] elliottslaughter commented on #1298
Should be fixed in `master` with fd58a6e8f3d08db96cdacc47213b7b6a50f8b11a. Merging to `control_replication` is blocked, but it'll come along when the next merge goes in.

[2022-07-30 00:06] elliottslaughter commented on #1298
I broke something so I had to revert this change. Maybe there's a conflict somewhere with another projection functor.

[2022-07-30 07:16] eddy16112 commented on #1304
I have tried to run 8 concurrent containers on my 4 core CPU, but still have no luck to reproduce it after 1000 runs inside each container.

[2022-08-02 12:50] syamajala commented on #1250
It started up and ran for 10 timesteps before freezing at 32 nodes with `--enable-pshm` and `-gex:immediate 0 -gex:crittime -1 -ll:force_kthreads -level runtime=3` one time. I have not been able to reproduce that run since.

Trying to run with pshm and without all those extra debugging flags it still freezes at startup.

[2022-08-02 18:23] elliottslaughter commented on #1270
I tried the following sets of configurations, but none of them change the observed symptoms in a meaningful way:

Configuration E:

[code]

Configuration F:

[code]

Configuration G:

[code]

Configuration H:

[code]

And the results:

  * Configuration E: froze at 16 nodes and above
  * Configuration F: froze at 16 nodes and above
  * Configuration G: froze at 64 nodes
  * Configuration H: froze

[2022-08-03 20:47] eddy16112 opened #1305 "Non-deterministic crashes of Legion/Realm/Regent examples in new CI"
We have noticed some examples crash non-deterministically in the new CI, so I plan to use this issue to track them, such that people won't be surprised if they see the same error in their development branch.

Such non-deterministic crashes are difficulty to reproduce. We may need to run multiple containers concurrently to increase the contention on the machine.

1. `Realm::MutexChecker::lock_fail`

[2022-08-04 13:12] brombaut opened #1306 "[Question] Legion + MPI Interop - Multiple MPI processes per node"
I'm wondering, when using Legion with MPI applications (e.g., the `examples/mpi_interop/mpi_interop.cc` example), whether it only makes sense to configure MPI to run with a single process per node.

For example, if I were to run the `mpi_interop` example only on my laptop (i.e., 1 node with multiple cores), should I be configuring MPI to only run with a single process so that the Legion runtime on

[2022-08-04 19:47] eddy16112 commented on #1306
No, if you use the master branch, you will only see one `top_level_task` no matter how many processes you use. Here is the output of `mpi_interop`
[code]

[2022-08-05 08:18] lightsighter commented on #1306
@brombaut This is an inherent tension when interoperating Legion with MPI. Legion prefers to run in a single-process-per-node configuration so that the we can manage all the resources of the node with a single runtime, whereas most MPI programs prefer to run with multiple processes per node for simplicity. It's really up to you (the user) which configuration you're going to choose to use: either w

[2022-08-05 11:10] brombaut commented on #1306
Thank you both for your replies! @eddy16112 after reading your reply, I did some more digging and came across this comment (https://github.com/StanfordLegion/legion/issues/569#issuecomment-517041173) which led be in the direction of realizing I hadn't built GASNet with `--enable-mpi-compat`. After building GASNet properly and rerunning `mpi_interop` with `-np` values of `2`, `4`, etc. it works as

[2022-08-05 11:10] #1306 closed

[2022-08-10 20:10] hcollis opened #1307 "Code fails if code if the runtime is not compiled in debug mode"
I am using `legion-22.06.0-3328-g36851ec77` committed on 2022-07-01. When I compile legion with `DEBUG=1` my code runs, but if I use `DEBUG=0` my code fails. I have attached the two legion spy logs for the `DEBUG=1` case and the `DEBUG=0` case. I have also attached the error produced by the logical analysis when `DEBUG=0`.

[DEBUG_1_spy_0.log](https://github.com/StanfordLegion/legion/files/9303710

[2022-08-10 20:29] lightsighter commented on #1307
There are a few issues here. First you can't use the release code with Legion Spy log files generated from the control replication branch. When I run these log files with the version of legion spy in the control replication branch, I get the same output from both log files. Both logs report the same false positive from the logical verification about a missing close operation, but if you validate j

[2022-08-11 06:19] lightsighter commented on #1307
I've confirmed this is an issue with Legion Spy's verification of logical analysis. The runtime's analysis is sound.

[2022-08-11 06:37] lightsighter commented on #1307
Operation 1296 is the one that Legion Spy is missing the close operation, but operation 1281 issued the close operation for the field (rho 114). Legion Spy thinks that that was unnecessary because partition (4,1,1) is disjoint from partition p_All (1,1,1) and (4,1,1) was already open in read only mode. Only (3,1,1) needed by 1296 aliases with (1,1,1) and therefore needs to actually do the close op

[2022-08-15 17:30] elliottslaughter opened #1308 "Realm test cuda_arrays does not work on HIP"
I'm shutting this back off in the test suite as I guess it does not work. I understand there is a branch here with incomplete support:

https://gitlab.com/eddy16112/legion/-/commits/hip_arrays

I was also working on https://gitlab.com/StanfordLegion/legion/-/tree/fix-hip-surface-types, but this is mainly for compilation errors seen in the test code.

[2022-08-15 17:53] elliottslaughter commented on #1218
Reminder that we need to enable the test when we do this too: https://github.com/StanfordLegion/legion/issues/1308

[2022-08-16 15:13] syamajala opened #1309 "Legion: Hang on Summit"
I'm trying to run process/node instead of process/gpu for S3D on Summit. It seems to freeze on 4 nodes with 1 process each.

There are stack traces from a debug run with `-ll:force_kthreads` here: http://sapling.stanford.edu/~seshu/s3d_summit_hang/

[2022-08-16 16:09] syamajala commented on #1309
Latest control_replication: a1cff4d3832

[2022-08-17 09:11] lightsighter commented on #1309
The stack traces don't tell us much other than that two of the shards are waiting for a trace replay to finish, but what really went wrong is some Realm operation inside the trace probably hung. Try running with `-gex:bindhost 0 -gex:bindcuda 0`. If that doesn't work see if it hangs with either `-lg:inorder` or `-lg:no_physical_tracing` or both of them together. If that doesn't work, run with `-le

[2022-08-17 13:48] syamajala opened #1310 "Regent: Crash on Crusher with multiple GPUs"
I'm seeing a crash on Crusher when trying to run rank/node instead of rank/gpu.

Per @elliottslaughter suggestion I tried both rocm 4.5 and rocm 5.2 but both result in a seg fault somewhere in hipModuleLauchKernel when trying to launch a Regent task.

Here is a stack trace:
[code]

[2022-08-17 13:58] rspavel commented on #1275
Just checking in since it has been about a year since this was identified and the only solution is still just the MR to spack.

Please let me know if there is a solution in the near term as this issue has now been noticed on multiple projects. Or if there is anything I can do to improve the MR to spack.

[2022-08-17 14:16] syamajala commented on #1309
It seems to work with `-gex:bindhost 0 -gex:bindcuda 0`

[2022-08-17 16:47] elliottslaughter opened #1311 "Crash on Cori with MPI at 128 nodes"
I'm seeing an assertion fail on Cori with `REALM_NETWORKS=mpi` at 128 nodes. Looks like:

[code]

For what it's worth, this seems to be happening at the end of the application, possibly even after the completion of the top-level task.

This is in a `DEBUG` runtime with `-lg:no_tracing -lg:inorder -lg:safe_ctrlrepl 2`.

This is a very expensive issue to replicate. I can get maybe another 2 or 3 run

[2022-08-17 16:52] elliottslaughter commented on #1310
The best option for debugging this is a minimized reproducer.

Barring that, we could at least try to get a debug ROCm, but that'll be slow both to obtain and to interpret results from.

[2022-08-17 17:58] lightsighter commented on #1309
Can you try each one individually and see which ones makes it better, or whether they are both required?

[2022-08-17 18:06] syamajala commented on #1309
Only `-gex:bindcuda 0` is required to make it work.

[2022-08-17 18:49] lightsighter commented on #1311
If it's happening at the end of the run then it's probably not a high priority to fix, but if you do want to debug it then getting a backtrace to start would be helpful.

[2022-08-17 18:52] elliottslaughter commented on #1311
The relevance of this issue is that it proves we're not at fault in #1270. This is a configuration that is as similar as possible to the one in that issue, except we're using Cori (and therefore Aries) instead of Crusher (and Slingshot).

I've already accomplished the minimum objective of running 64 nodes, which I have never been able to do with Crusher in any configuration. However, it might help

[2022-08-17 19:07] streichler commented on #1309
@syamajala can you see if (just - no messing with binding options) `-gex:rmaput 0` changes anything?

[2022-08-17 19:21] syamajala commented on #1309
It works with just `-gex:rmaput 0` and nothing else.

[2022-08-17 19:25] streichler commented on #1309
ok, please use that as a workaround for now.  I may need to ask you for some experiments and/or debugger spelunking to narrow down the root cause of the problem.

[2022-08-17 20:52] syamajala commented on #1309
`-gex:rmaput 0` stops working at 64 nodes. I'll see if I can get some stack traces.

[2022-08-17 23:29] streichler commented on #1309
Does adding `-gex:obcount 1k` to the `-gex:rmaput 0` make 64 nodes start working?  If so, you're running into #1262 also.  (It'd be a little bit surprising for s3d to be seeing this because of its nearest-neighbor communication pattern, but there might be a broadcast at startup that can trigger it.)

[2022-08-18 04:53] lightsighter commented on #1309
FWIW, if it is still hanging in the same place as the backtraces above suggest, then we are well into the time stepping because we're doing trace replays and communication is at that point guaranteed to be nearest neighbors. It's unclear though if the new hang is occurring in the same place as the old one though.

[2022-08-18 05:30] eddy16112 commented on #1310
@elliottslaughter is there a debug ROCm? I thought ROCm is delivered as binary library.

[2022-08-18 05:35] elliottslaughter commented on #1310
ROCm is open source. You can build it with Spack, and I did so a while back (when I was waiting for ROCm 5.1 to be deployed to the machine). It's finicky, and hideously slow to build, but doable.

Whether Spack lets you do a debug build, I'm not sure, since I didn't try to do that.

But again, this is definitely plan B, and by a wide margin.

[2022-08-18 10:04] lightsighter commented on #1311
Really the only way to hit this assertion is either to have counted to 2^64 by increments of 128 (should take a very very long time) in order to overflow the counter, or you tried to call this method after the runtime was deleted. I'm betting on the latter, but the backtrace is needed to see who is trying to do stuff after the runtime object has already been deleted.

[2022-08-18 16:01] syamajala commented on #1309
It ran for a couple timesteps at 64 nodes before freezing with `-gex:obcount 1000 -gex:rmaput 0` (1k did not work, but 1000 did).

[2022-08-18 16:16] streichler commented on #1309
sorry about the `1k` part - your use of `1000` is actually what I should have asked for.  However, if it doesn't completely fix the problem, it probably isn't the actual issue, and is just changing the timing around.  Please run with
`-gex:rmaput 0 -gex:obcount 1000 -level dma=2,xplan=1`
and (assuming the hang reproduces with the increased logging) put logs somewhere I can look at them.

[2022-08-18 17:31] syamajala commented on #1309
I put the logs here on sapling: /scratch2/seshu/s3d_summit_logs

[2022-08-19 17:04] elliottslaughter commented on #1311
Results with `REALM_BACKTRACE=1`:

[code]

[2022-08-20 09:06] lightsighter commented on #1311
And this is repeatable (deterministically)? How long is this running for and how many processes are you running with?

[2022-08-20 16:39] elliottslaughter commented on #1311
I've only done 2 runs so far and only have budget for 1 more (without going back to NERSC to ask for more allocation). But yes, in those 2 runs it seemed deterministic.

The crash happens at the end of the run, so I spend about 70 minutes completing the rest of the run before I have an opportunity to see the crash.

This is 128 nodes at 8 ranks per node, so 128*8 = 1024 processes.

[2022-08-21 06:56] lightsighter commented on #1311
Ok, so with 1024 processes, then you only need to make about 2^32/1024=~4M index space expression IDs to overflow the generation ID as it is currently implemented (due to a type bug, see below). If you were running for 70 minutes, then you only need to generate about 60K/minute, or 1K/s to overflow the counter, which is certainly within the limits of possibility. I've pushed a fix for the `std::at

[2022-08-22 20:12] streichler commented on #1309
There are no stuck copies in these logs.  We'll need to look for other symptoms (e.g. via capturing backtraces, and/or trying
runs with the much-more-disruptive `-level dma=2,task=2,event=2,inst=1,barrier=2` logging).

[2022-08-22 22:35] CharlelieLrt opened #1312 "Regent: index launch with interfering index spaces"
In Regent, I am trying to have an index launch executing in parallel a task taking as arguments both a region `f` and a sub-region `p[c]` of `f`, such as:

[code]

where `my_task` has the following structure:

[code]

where `write_to` is a task that writes to `p[c]` and `read_from` is a task reading from the region `f`.
I was expecting the top-level loop to be executed in parallel over multiple GP

[2022-08-22 23:16] syamajala commented on #1309
I put some new logs with `-level dma=2,task=2,event=2,inst=1,barrier=2` here: /scratch2/seshu/s3d_summit_logs

[2022-08-23 07:55] lightsighter commented on #1309
These logs are from a run that hung?

[2022-08-23 07:57] lightsighter commented on #1312
Can you upload the Legion Spy log file here? Legion will also catch this if it is compiled in debug mode (a flag command flag will be available for detecting this even in release mode in the nearish future). Legion Spy in general is very good about recognizing these things.

As for whether you're doing something wrong or not, I think Regent is supposed to help you out by creating the region requir

[2022-08-23 13:44] syamajala commented on #1309
I believe so. It never completed the first timestep and the job was killed after 30 minutes.

[2022-08-23 16:45] CharlelieLrt commented on #1312
Here are the Spy log files:
[spy_log.tar.gz](https://github.com/StanfordLegion/legion/files/9404547/spy_log.tar.gz)

[2022-08-23 16:55] elliottslaughter commented on #1312
To me it looks like we have a task with RW and RO privileges on two overlapping regions. (The fact that they happen to be parent and child isn't important here.)

What do you expect Regent to do here? As far as I understand, this is a violation of Legion semantics. Without doing partitioning (which in general, Regent is never going to do on behalf of the user), there is nothing Regent can do to ma

[2022-08-23 18:34] unpyoukz commented on #1312
Just to chime in, from an application perspective to handle shared data among my_task (where the question of @CharlelieLrt came out I believe), there is a separate effort including a mapper (we will perhaps reach out in an existing/separate post). Nevertheless I also believe this discussion would be valuable especially if there is a way to automate the parallelization when both W and R are called

[2022-08-23 18:47] elliottslaughter commented on #1270
I was able to run successfully on Crusher on up to 128 nodes with both `REALM_NETWORKS=mpi` and `REALM_NETWORKS=gasnetex` with the following configuration variable (and no other relevant variables):

[code]

This is a variable read by libfabric which controls the queue size for the Slingshot 11 provider, which seems to confirm pretty strongly that this is a libfabric or network issue.

HPE is stil

[2022-08-23 21:10] CharlelieLrt commented on #1312
As @unpyoukz mentioned there might be a workaround for our specific application, using a custom mapper.
Also my initial question was probably too generic, so I am closing.

[2022-08-23 21:10] #1312 closed

[2022-08-23 21:14] elliottslaughter commented on #1312
Just to clarify one point: the code posted at the top of this issue cannot be made to work with any mapper.

So perhaps what you mean to say is that your original problem (from which the code at top was reduced from) is such that a mapper customization could plausibly fix it. Because otherwise I'm afraid you may be working from a flawed understanding of what the problem is.

[2022-08-23 21:19] CharlelieLrt commented on #1312
I fully agree with that.
The code snippet in the initial post was over-simplified in comparison to what is used in our application.
I'll try the mapper proposed by @unpyoukz and if the issue persists, I'll follow up with a minimum working example more representative of our use case.

[2022-08-24 04:19] elliottslaughter commented on #1311
I can confirm that as of 7d6c32e1fe36707a7e6b054002ed6835a232194a the code runs successfully on 128 nodes on Cori. Thanks.

[2022-08-24 04:19] #1311 closed

[2022-08-24 16:50] mariodirenzo opened #1313 "Default mapper overwrites task SpecializedConstraints"
The current behavior of the default mapper is to overwrite `SpecializedConstraint` that might be registered with some region requirements of a task.
In particular, the calls https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/mappers/default_mapper.cc#L1905 and https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/mappers/default_mapper.cc#L1926 take t

[2022-08-24 17:16] syamajala opened #1314 "Realm: Assertion `barrier_gen > generation.load()' failed with MPI backend"
I'm running S3D with the MPI backend on Crusher. After 10 timesteps I see the following:

[code]

Here is a full stack trace:
[code]

[2022-08-24 17:35] streichler commented on #1314
This has historically been caused by too many barrier arrivals coming from legion or the application code.  If it happens repeatably, log files with `-level barrier=2` might be helpful.

[2022-08-24 19:23] lightsighter commented on #1314
There's no need to get log files. There is no logic at the moment for detecting the barrier exhaustion inside of handshakes. This is the kind of issue that @alexaiken should be able to find somebody to work on relatively easily as it is self-contained and doesn't really require knowing anything about Legion internals; all the logic is localized inside the handshake objects themselves.

[2022-08-24 21:52] lightsighter commented on #1314
@syamajala How many handshakes are you doing in those 10 timesteps?

[2022-08-25 00:36] streichler commented on #1309
There are suspended Legion metatasks on at least ranks 0 and 1 (the only two I checked) in the most recent logs.  Backtraces (with `-ll:force_kthreads`) are probably the next step?

[2022-08-25 00:54] lightsighter commented on #1309
I'm pretty suspicious that Legion is going to be the cause here given the prior evidence that the hang goes away with altered GASNet settings, and we already know that there are non-trivial  but also non-interesting backtraces for the first hang in this issue. What do we want to learn from the backtraces?

[2022-08-25 01:01] streichler commented on #1309
Unless I've lost track of things, this hang is happening even with the altered GASNet settings, and as a result I believe it to be a distinct issue from the rmaput and gex obcount bugs.  @syamajala can you either confirm that or correct me?

[2022-08-25 01:25] syamajala commented on #1314
I was not actually building with mpi support. The flag for cmake is `-DLegion_NETWORKS=mpi`. I was using `REALM_NETWORKS=mpi`. The error has gone away.

[2022-08-25 01:25] #1314 closed

[2022-08-25 17:26] syamajala commented on #1309
It works with altered gasnet settings up to 64 nodes and then begins to hang again.

The flags I tried were: `-gex:bindhost 0 -gex:bindcuda 0` (works), `-gex:bindcuda 0` (works), and `-gex:rmaput 0` (works).

[2022-08-25 18:25] lightsighter commented on #1309
Right, so we can get the new backtraces, but I'm skeptical that they're going to tell us anything interesting.

[2022-08-25 21:43] syamajala commented on #1309
I got some stacktraces with `-gex:rmaput 0 -gex:obcount 1000 -ll:force_kthreads 1`.

They are available here on sapling: `/scratch2/seshu/s3d_summit_logs/stacktraces`

[2022-08-25 22:15] lightsighter commented on #1309
We're still capturing the trace. Are you sure this is actually a hang and not just taking a long time to capture the trace? It would be good to check that the stack traces are not changing over time. Ones like this show we're still capturing the trace, but if they don't change then that means that there are outstanding message tasks (with no event preconditions) that are not running:

[code]

[2022-08-26 21:34] elliottslaughter commented on #1161
Sorry, the file doesn't parse anymore because the logger format changed. Any way to regenerate this?

[2022-08-26 21:36] elliottslaughter commented on #1147
Is this issue still present on the most recent `master`? I just pushed changes that fix `legion_prof_ops.tsv` in Rust, which may be related.

If you need `control_replication`, maybe wait for that merge before testing.

[2022-08-29 16:55] syamajala commented on #1250
The magical incantation we need to scale S3D to 128 nodes on Crusher is:
[code]

This works with both MPI and gasnet.

[2022-08-29 17:02] syamajala commented on #1214
I think this problem is still there on the latest legion.

[2022-08-29 19:33] syamajala commented on #1309
It seems to be very slow. It took about 10 minutes to finish first time step on 4 nodes, we're running rank/node too. Maybe I'll try turning tracing off?

[2022-08-29 19:35] syamajala commented on #1147
It works on the latest master.

[2022-08-29 19:35] #1147 closed

[2022-08-29 21:19] lightsighter commented on #1309
Why don't you try capturing a profile first so we can actually understand what is going on.

[2022-08-29 21:43] lightsighter commented on #1250
How did you come up with those settings? They obviously also point to issues with the networking layers underneath MPI and GASNet. Are they related to #1270?

[2022-08-29 21:48] elliottslaughter commented on #1250
This is the kitchen sink of every setting HPE has observed to affect any hang in all applications ever run on the Slingshot network. So it is definitely a superset of what is likely to be 2 or 3 key variables that most probably influence our use case.

We'd need to do a sensitivity test to be sure what here actually matters.

What's most interesting in comparison to #1270 is that in the Stencil ap

[2022-08-29 22:06] syamajala commented on #1309
Here is a profile from the first timestep on rank 0: http://sapling.stanford.edu/~seshu/s3d_summit_hang/legion_prof/?start=0&end=531388052.90000004&collapseAll=false&resolution=10

I'm not able to open the profile when I add other ranks to it. I'll generate a few other ranks separately.

[2022-08-29 22:29] elliottslaughter commented on #1214
Would it be possible to get a new comparison between Legion Prof, `Realm::current_time_in_microseconds()` and rocprof? Or is there another way to debug this?

[2022-08-30 00:38] lightsighter commented on #1250
Not terribly surprising that S3D is more complex and might be exercising a new behavior. I'm guessing you guys are following up with the HPE regarding these hangs? It's pretty clear at this point that they've got an issue on their side.

[2022-08-30 00:53] brombaut opened #1315 "Experimenting with wrapping tasks in classes - Calling `runtime->destroy_X` from destructor doesn't release memory"
I'm experimenting with wrapping tasks in classes that follows the following format:

[code]

This seems to work as expected until the destructor is called, in which case the runtime doesn't seem to actually destroy the regions that had been in use by the object. I've provided a concrete example below of a DotTask class that basically computes the dot product of 2 vectors (2 fields in a region). I'

[2022-08-30 02:05] lightsighter commented on #1309
It looks to me like you have a region without a used disjoint and complete partition, although it would be good to see the profiles for the other nodes too (you can make a separate profile for each of the four nodes). You do have to guarantee that every region at the moment has at least one disjoint and complete partition that you've used for scalability reasons right now. That is one of the reaso

[2022-08-30 09:27] syamajala commented on #1309
I ran with `-lg:partcheck 1` on 16 nodes and it passed. Every partition is made with either`restrict` (and explicitly marked as `disjoint` and `complete`) or `equal`.

One thing though is that we have some tasks that are launched over a mix of rank and subrank level partitions.

[2022-08-30 10:16] lightsighter commented on #1315
Which branch are you running this on?

Most likely the problem right now is the default mapper is setting the garbage collection priority for the physical instances of those regions to "never collect" which prevents those instances from ever being collected, even though the logical regions for those instances have been destroyed. This is a heuristic in the default mapper to optimize for the common

[2022-08-30 10:23] lightsighter commented on #1309
Do all the profiles look like this? There are just huge amounts of time where nothing is happening anywhere. If it is the equivalence set problem, then there is just going to be one or a few nodes where everything is happening, but if it is that then you should be getting this warning:
https://gitlab.com/StanfordLegion/legion/-/blob/control_replication/runtime/legion/legion_analysis.cc#L10320-1032

[2022-08-30 10:26] lightsighter commented on #1309
The other thing which could be going wrong is you just have the sharding very wrong and lots of communication is required as a result.

[2022-08-30 11:57] brombaut commented on #1315
I'm working from the master branch (pulled and rebuilt just to confirm everything was up-to-date, still have the same issue).

I also tried overriding the the DefaultMapper to always return `LEGION_GC_FIRST_PRIORITY` from `default_policy_select_garbage_collection_priority` (as well as disable caching just because I saw it), the code for which is below, but I'm still seeing the same behavior of the

[2022-08-30 14:09] elliottslaughter commented on #1250
Yes, we're in contact with HPE. My understanding is that they're looking for the root issue. There are other applications with similar failure modes, so it's not like this is unheard of to them, but the fixes developed for those applications do not (as far as I understand) address our use case. But I think we're all in agreement that the issue is probably in libfabric.

[2022-08-30 22:44] syamajala commented on #1309
I generated profiles for every rank: http://sapling.stanford.edu/~seshu/s3d_summit_hang/

I looked through a few and they seem similar to ranks 31 and 62 to me.

I never saw that warning for the equivalent sets in any of the logs.

I think some of the rank level partitions are just created and never used, but all the subrank partitions should be used.

I am using the default sharding functor. That

[2022-08-31 08:55] lightsighter commented on #1309
You're sure you are not suppressing the warnings with compile time logging settings or command line flags?

[2022-08-31 16:56] syamajala commented on #1309
I am seeing warnings just not the one related to equivalence sets.

This is one I see:
[code]

But @elliottslaughter told me the projection functor warning would go away with tracing.

[2022-08-31 17:30] elliottslaughter opened #1316 "Quadratic time to first iteration in Stencil code"
I'm seeing quadratic time to complete the first iteration of the Stencil code. I've run this in a couple of configurations now, on Crusher and Cori Haswell, `REALM_NETWORKS=mpi` and `REALM_NETWORKS=gasnetex`.

Here's an example from a set of runs I did on Crusher. This is `REALM_NETWORKS=gasnetex` with a `DEBUG=0` runtime, tracing, etc. The runs use 8 ranks per node but otherwise follow all our us

[2022-08-31 17:55] lightsighter commented on #1316
This looks to me like someone has asked Legion to compute either the disjointness or the completeness of a partition in the logical dependence analysis on the other nodes (hence the need to do something quadratic and all the index space communications). If I had to bet, then I would say that the application information about the disjointness or completeness of a partition is not making it to Legio

[2022-08-31 18:09] elliottslaughter commented on #1316
The application did not specify completeness, so you're right that Legion is computing it. I'm checking what impact this has now.

[2022-08-31 18:19] syamajala commented on #1309
I used spy and checked the region graph, which is available here: http://sapling.stanford.edu/~seshu/s3d_summit_hang/region_graph.pdf

Every region has a disjoint and complete partition. The only partitions which are disjoint but not complete are the ones for ghost regions for the stencils.

[2022-08-31 18:26] lightsighter commented on #1316
Was that the case before? If we know the partitions are disjoint then it's usually not hard to check completeness.

[2022-08-31 18:29] lightsighter commented on #1309
Which commit caused this behavior to change?

[2022-08-31 18:31] elliottslaughter commented on #1316
At the time this code was originally written, Regent did not support `complete` and `incomplete` annotations. As a hack, I marked one incomplete partition as `aliased`: this is very important for Regent's SCR optimization in order to optimize the initialization of the SCR copy-in phase. Even though we are using DCR and not SCR, the `aliased` annotation has stuck around.

However, I just tried usin

[2022-08-31 18:34] elliottslaughter commented on #1316
For posterity, the change: https://gitlab.com/StanfordLegion/legion/-/commit/daa728f9321127b9ff340ba76dc146ac8350f88a

I ran with `-lg:partcheck` when I was debugging this and I'm pretty sure it's working because I initially made a few mistakes, and the part check caught them.

[2022-08-31 18:34] lightsighter commented on #1316
It would be better to make a reproducer on sapling so we can actually poke at it at a smaller scale. The quadratic behavior should still be there just less noticeable without a profiler.

[2022-08-31 18:40] syamajala commented on #1309
What behavior? I don't think anything has changed?

[2022-08-31 18:42] elliottslaughter commented on #1316
Here's a profile on 8 nodes on Crusher:

http://sapling.stanford.edu/~eslaught/crusher_startup_time_2022-08-30/legion_prof_8x8_r0_complete

The pattern actually looks different now. Instead of being triggered by `fill_`, it is now being triggered by `stencil`. I'll have to double check the application, but it may be that the application does not write to the complete partition of the main grid ini

[2022-08-31 18:45] elliottslaughter commented on #1316
No, I was wrong. Even for the main grid the application uses the complete partition exclusively; the incomplete partitions are only used for their bounds and are not used as region requirements anywhere in the code.

I'll get the reproducer on Sapling next.

[2022-08-31 18:57] elliottslaughter commented on #1316
If you go to `/scratch2/eslaught/legion_compute/language/stencil.run1_cpu_complete` there is a binary built against the `crusher-freeze-repro-2-gasnet` branch. You can run it with a command like:

[code]

Feel free to change the `-ntx` and `-nty` depending on how many subregions you want to create.

If you want to rebuild, go to `/scratch2/eslaught/legion_compute/language` and run:

[code]

[2022-08-31 19:28] lightsighter commented on #1316
This is a debug build?

[2022-08-31 19:29] elliottslaughter commented on #1316
No, do you want that?

[2022-08-31 19:37] elliottslaughter commented on #1316
If you do, you can either rebuilt (the `install.py` line, and add `--debug`), or let me know and I can do it.

[2022-08-31 19:41] lightsighter commented on #1316
If you can do it, then please do so and I'll look at it later today.

[2022-08-31 19:42] lightsighter commented on #1309
I'm assuming this was working on Summit before and now you're saying that something has changed to produce this behavior.

[2022-08-31 19:43] syamajala commented on #1309
This is my first time trying to scale the subrank branch of S3D on Summit.

[2022-08-31 20:23] elliottslaughter commented on #1316
You can find it here: `/scratch2/eslaught/legion_compute/language/stencil.run1_cpu_debug`

[2022-09-01 09:47] lightsighter commented on #1316
I don't think this is a regression. If it is you'll need to point me at an earlier commit where it was performing better.

Here is what is happening: a partition is being made in a non-control-replicated task (e.g. not the top-level task). This partition has as many subspaces as there are processors. However, because it is made in a leaf task running on just one node, all of it's subregions are ma

[2022-09-01 15:21] syamajala commented on #1309
I generated the profiles with the rust profiler. I will try the python profiler and see if it gives any messages.

Everything should be sharded. Looking at the mapper I don't think its possible to do remote mappings? It does a query of local processors when constructing the mapper and saves those to vectors then just uses those when figuring out the mappings.

[2022-09-01 17:49] elliottslaughter commented on #1316
I modified the application to `__demand(__inline)` the partition tasks. It required some Regent changes that I'll have to upstream. But in the `crusher-freeze-repro-2-gasnet` this appears to be fixed.

[2022-09-01 18:34] syamajala commented on #1309
This message actually shows up at 2 nodes.

[code]

[2022-09-01 20:32] syamajala commented on #1309
Using the logging mapper I confirmed there are no remote mappings.

[2022-09-01 22:31] elliottslaughter opened #1317 "Install Python bindings via pip"
I've gotten a request by a user to install Legion's Python bindings via `pip` (e.g., `python -m pip install .`) instead of via `setup.py`.

This is how we currently install the bindings in our CMake build:

https://github.com/StanfordLegion/legion/blob/b853aa5d8623ff7a52a5a473593c06c7de2bea56/bindings/python/CMakeLists.txt#L46

For more context, you can see the application bug report below. The ap

[2022-09-01 22:44] manopapad commented on #1317
Pinging @bryevdv @trxcllnt @jjwilke, who are currently in the process of updating the legate build workflow: https://github.com/nv-legate/legate.core/pull/323. In a nutshell, we are switching to:

* using cmake to automatically retrieve our dependencies and compile our C++ code
* using `pip install` to installs the binaries, libraries and python bits into the currently active python environment.
*

[2022-09-01 23:24] elliottslaughter commented on #1317
There is a small wrinkle: `setup.py` must be able to find everything required to import `legion.h`. This includes files like `legion_defines.h` that are generated by the build (i.e., it's not only source files). I guess this is fine if we're going to only do this on installation (as installing Legion should create all necessary files), and we can specify the Legion prefix to `setup.py`. Just menti

[2022-09-01 23:40] trxcllnt commented on #1317
@elliottslaughter I assume that's because that's where the CFFI bindings are generated?

That was actually one reason we're using `scikit-build` -- the CMakeLists.txt called by `scikit-build` [now generates](https://github.com/nv-legate/legate.core/blob/162131c5c41de2b335fb6c9e902e7f7a248df233/legate_core_python.cmake#L46-L60) the CFFI header and `install_info.py` file (see the [new `setup.py`](ht

[2022-09-02 03:31] elliottslaughter opened #1318 "Regent Stencil results on Perlmutter"
This is the sister issue to #1270 for Perlmutter. I am running two configurations, MPI (`REALM_NETWORKS=mpi`) and GASNet (`REALM_NETWORKS=gasnet`). All runs use the following variable (and no other relevant variables):

[code]

Note that Perlmutter is now fully upgraded to Slingshot 11, the same network as Crusher (and Frontier).

This uses the latest fixes from #1316, so startup time should be dr

[2022-09-02 09:48] lightsighter commented on #1318
Do you have profiles for any of these?

[2022-09-02 09:50] lightsighter commented on #1309
Can you try running after building with `-DDISABLE_EQUIVALENCE_SET_MIGRATION`?

[2022-09-02 09:52] lightsighter commented on #1316
The optimization I had planned for this is not actually safe, so I'm not going to do it. Mentioning #481 as an example of a case where the profiler might be able to be smarter and decode the performance bug.

[2022-09-02 16:07] elliottslaughter commented on #481
In the meeting this week we discussed possible improvements that could have helped diagnose #1316 (where a partition was created on one node and then had to be broadcast to the other nodes). Possibly looking at the subregion IDs could be used to identify which node created each partition, and that information could be displayed to the other in some fashion (e.g., at the point where an index space

[2022-09-02 20:28] syamajala commented on #1309
Here is what I see when `-DDISABLE_EQUIVALENCE_SET_MIGRATION`: http://sapling.stanford.edu/~seshu/s3d_summit_hang/legion_prof_64ranks_no_equiv_migration

Took about 1 minute for startup. I submitted a longer run as well.

[2022-09-04 21:07] lightsighter commented on #481
I did look at putting in a fix for not blocking the logical analysis as we're loading the index spaces on each node, but there is not an easy way to do that at the moment.

[2022-09-06 18:38] elliottslaughter opened #1319 "Difference between Python and Rust profilers on partial multi-node runs"
I'm running `master` at 8a459255909290609611f6f93eb788c9051a3765.

This log file generates different results with Python and Rust: http://sapling.stanford.edu/~eslaught/legion_prof_diff_2022-09-06/prof_64x1_r0_0.gz

Profiler output:

  * Rust: http://sapling.stanford.edu/~eslaught/legion_prof_diff_2022-09-06/legion_prof_rs
  * Python: http://sapling.stanford.edu/~eslaught/legion_prof_diff_2022-09-

[2022-09-06 18:59] elliottslaughter commented on #1318
Here are some profiles.

MPI:

  * 64 nodes: http://sapling.stanford.edu/~eslaught/perlmutter_startup_scaling_2022-09-06/mpi/legion_prof_64x1_r0
  * 128 nodes: http://sapling.stanford.edu/~eslaught/perlmutter_startup_scaling_2022-09-06/mpi/legion_prof_128x1_r0
  * 256 nodes: http://sapling.stanford.edu/~eslaught/perlmutter_startup_scaling_2022-09-06/mpi/legion_prof_256x1_r0

GASNet:

  * 64 nodes:

[2022-09-06 19:43] syamajala opened #1320 "Realm: gasnetc_ep_bindsegment failure"
I'm seeing the following issue at 128 nodes on Perlmutter:

[code]

Its not clear yet if this is a realm bug, gasnet bug, or somewhere deeper in the stack, but the gasnet guys said @streichler should look at this first.

Here is a stack trace:
[code]

[2022-09-06 20:22] elliottslaughter commented on #1318
I can't get the GASNet 256 node profile to open in either Firefox or Chrome. Here's a version with node 0 excluded so at least we can see something: http://sapling.stanford.edu/~eslaught/perlmutter_startup_scaling_2022-09-06/gasnet/legion_prof_256x1_r0_node1plus

Here's what I notice in the profiles:

  * In MPI from 64 to 128 nodes there is a dramatic increase in the amount of time it takes to ge

[2022-09-06 20:55] streichler commented on #1320
What version of gasnet are you using?  There are actually two things I think you need to ask the GASNet folks about here:

1. Assuming a recent enough release, this code here should be making this error be one that's reported with an error code that realm can handle (or in this case, log and move on) rather than a call to `_gasneti_fatalerror`:
https://github.com/StanfordLegion/legion/blob/stable/

[2022-09-06 20:58] syamajala commented on #1320
Paul made a special stable release for us to test on slingshot-11 machines. I saw this issue with 2022.3.0 as well though.

It is working for 1 - 64 nodes on Perlmutter and starts to fail at 128. It worked on Crusher at 128.

[2022-09-06 21:09] streichler commented on #1320
Can you run with `-level gex=2` (even on 1 rank is fine) and see what's being printed for "api" here:
https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/gasnetex/gasnetex_internal.cc#L3217

[2022-09-06 21:39] syamajala commented on #1320
`[0 - 7f2950db6000]    0.000000 {2}{gex}: gasnet versions: release=20220301 api=1500`

[2022-09-06 22:52] elliottslaughter commented on #1318
Please disregard these profiles. I remembered that the first run in a job usually has an abnormally high startup time---probably the result of the filesystem.

I'll fix this (and the application issue) and collect a new set of logs.

[2022-09-07 04:48] bandokihiro opened #1321 "legion spy issue"
While investigating an issue related to corrupted HDF5 outputs, I stumbled into this.

Config:

- legion 7d6c32e1f built with `-DLEGION_SPY`
- 2-rank run (1 rank per node)
- command line: `mpiexec -np 2 mbind.x -cs -t40 -v ../builds/base_1d/exec/solver -logfile logs/log_%.log -hdf5:forcerw -ll:cpu 0 -ll:util 2 -ll:csize 20000 -ll:rsize 0 -ll:onuma 0 -ll:ht_sharing 1 -ll:ocpu 1 -ll:othr 18 -lg:spy`

[2022-09-07 10:21] lightsighter commented on #1309
In general, the smaller you make this example in code or number of nodes and still see the behavior the easier it will be to debug.

[2022-09-07 10:23] lightsighter commented on #1319
What exactly is the difference for those of us that don't read the tsv syntax?

[2022-09-07 10:29] lightsighter commented on #1321
Can you attach the logs here so they don't get lost? This message though makes me a little concerned:

Usually that occurs when the logs are incomplete, and unlike Legion Prof, Legion Spy isn't designed to work in all cases if Legion doesn't shut down properly.

[2022-09-07 15:25] bandokihiro opened #1322 "get_logical_partition_by_color unable to find the color"
A run that previously worked on 7d6c32e1 doesn't work anymore with 836c9631. A partition color is created in an index task launch and `get_logical_partition_by_color` is called from top-level after having waited for all futures. This piece of code was last modified after #1257.

Config:

- 1 node, 4 ranks per node
- Legion 836c9631 built in debug mode with `-DLEGION_BOUNDS_CHECKS`
- command-line:

[2022-09-07 15:27] bandokihiro commented on #1321
[log_0.log](https://github.com/StanfordLegion/legion/files/9507538/log_0.log)
[log_1.log](https://github.com/StanfordLegion/legion/files/9507540/log_1.log)
[out.txt](https://github.com/StanfordLegion/legion/files/9507541/out.txt)

The run exited cleanly as far as I can tell.

[2022-09-07 16:23] elliottslaughter commented on #1319
Rust includes additional copy channels, specifically those from node 0 to any other node. It appears that Python does not include *any* copy channels, because it only includes channels for the nodes that were specifically included in the profiler output, and only node 0 was logged. That means that you don't get any intra-node copies in Python at all, even though the node 0 logs do include (at leas

[2022-09-07 18:01] seemamirch commented on #1319
The copies are there in the Python profile - (if you expand node 0's channel) - but I can add the other channels to match the Rust profile (i.e. those copies will appear twice)

[2022-09-07 18:09] elliottslaughter commented on #1319
Ok, I missed that in Python.

I guess that in a normal multi-node profile, every copy is listed twice: under the source node, and under the destination node.

So it makes sense to show it under the source node only when we have a subset of nodes.

As long as we're not losing data, I can make Rust match Python's behavior.

[2022-09-07 19:10] syamajala commented on #1309
Here is the startup time from 1 to 64 nodes with equivalence set migration: http://sapling.stanford.edu/~seshu/s3d_summit_hang/migration/startup_legion_prof.html
Profiles: http://sapling.stanford.edu/~seshu/s3d_summit_hang/migration/

Here is startup time from 1 to 64 nodes without equivalence set migration:
http://sapling.stanford.edu/~seshu/s3d_summit_hang/no_migration/startup_legion_prof.html
P

[2022-09-08 08:37] syamajala commented on #1310
I pulled out two of the tasks from S3D that I've seen this crash occur on CalcVolumeTask and CalcSpeciesTask but they seem to work in a standalone example doing a subrank launch. The only other thing I can think that might make a difference is that the standalone example isnt using separate compilation.

[2022-09-09 19:11] syamajala commented on #1310
I was able to reproduce this using separate compilation with subranks.

There is a standalone example available here on Crusher: /gpfs/alpine/cmb103/world-shared/seshuy/subrank

Run it on an interactive node like this: `srun --tasks-per-node 1 --gpus-per-task 8 --cpus-per-task 6 regent.py optimize_index_launch_nested_nodes_cores_4d.rg -ll:gpu 8 -ll:cpu 1 -ll:csize 16384 -ll:fsize 16384 -findex-lau

[2022-09-10 13:58] ClProsser opened #1323 "create_partition_by_restriction color_space type"
I'm currently trying to create a parallel version of a 3d stencil using Legion and C++. As some operations at a specific point depend on other points, I'm using `create_partition_by_restriction` to create partitions with a specific extent similar to the Multiple Partitions tutorial.

According to the Doxygen documentation, the function declaration is:
[code]

However, this declaration misses a typ

[2022-09-12 17:04] elliottslaughter commented on #1323
I guess this is a question for @lightsighter because this is how it's represented in the code:

https://github.com/StanfordLegion/legion/blob/b853aa5d8623ff7a52a5a473593c06c7de2bea56/runtime/legion.h#L5035-L5042

So the code seems to assume the parent, color space, and transform all use the same `COORD_T`, but they don't necessarily have to.

[2022-09-12 23:05] syamajala commented on #1309
I ran 6 ranks/node using 1, 2, 4, and 6 cpus: http://sapling.stanford.edu/~seshu/s3d_summit_hang/6rank/startup_legion_prof.html

[2022-09-12 23:59] eddy16112 commented on #1109
I added the following code into `legion_prof.py` to calculate the memory utilization for each Memory.
[code]
 and her is the output:
[code]
So I think @lightsighter is right, the data indicated we have allocated 96242432064 bytes for the above 6 instances, but actually Realm defers the allocation.

[2022-09-13 01:13] streichler commented on #1109
If you only want to show instances when they really exist, you should probably be using `ready_time` here:
https://gitlab.com/StanfordLegion/legion/-/blob/master/runtime/legion/legion_profiling.cc#L703

[2022-09-13 01:41] eddy16112 commented on #1109
@streichler Does deferred allocation only happens on GPU memory?

[2022-09-13 04:40] streichler commented on #1109
Deferred allocation is possible on most memories.  And for memories that don't do deferred allocation, the "create" and "ready" times ought to be nearly coincident, so "ready" would still be representative there too.

[2022-09-13 16:27] seemamirch commented on #1214
I ran a couple of experiments on circuit
1.  Manual mode (similar to above) versus legion prof timings -> http://sapling.stanford.edu/~seemah/hip_profile/circuit_default.html
2. Manual mode versus legion prof timings with callbacks enabled (-ll:hip_callbacks) -> http://sapling.stanford.edu/~seemah/hip_profile/circuit_callback.html
The timings match closely in 2.

[2022-09-13 21:03] eddy16112 commented on #1109
@manopapad I have pushed a fix into a new branch https://gitlab.com/StanfordLegion/legion/-/commits/cr_fix_utilization. It is based on the control replication branch, so you should be able to test in with legate. If it works, I will cherry-pick the commit into the master branch.
Instead of assigning `ready` to `create`, I record both of them just in case we want to render the deferred allocation i

[2022-09-13 22:35] bryevdv opened #1324 "legion_python should not explode on KeyboardInterrupt"
Pressing Ctrl-C in a standard Python interpreter simply reports the `KeyboardInterrupt` and returns to the REPL. Here is the output from staring Python and pressing Ctrl-C twice:

[code]
Or, pressing Ctrl-C in the midst of a blocking operation:
[code]

Similarly, interrupting a long running script using standard Python does not spam the console:
[code]

By contrast, `legion_python` (either from th

[2022-09-13 22:38] bryevdv commented on #1324
Raw configuration for the above:
[code]

[2022-09-13 22:42] bryevdv commented on #1324
Hrm, I guess the console spam is from the `REALM_BACKTRACE=1` which is currently hard-coded in the Legate driver. But even without, `legion_python` still aborts, and that is what would be avoidable, ideally:

[code]

[2022-09-13 23:58] rohany commented on #1324
Somewhat related (I can't remember the repro right now), but `legion_python` would often explode when `ctrl-c` was invoke within GDB as well, which was a problem when debugging. It might be related.

[2022-09-14 05:21] ClProsser opened #1325 "Multi-dimensional equal partitioning splits only 1d"
I'm currently trying to create a parallel version of a 3d stencil using Legion and C++. Based on my tests, `runtime->create_equal_partition` only splits on the first dimension, even if the color space is multi-dimensional.

**Detailed description**:
I'm trying to use `runtime->create_equal_partition` to split my grid into subregions - each axis may have a different amount of subregions. Thus, base

[2022-09-14 13:51] streichler commented on #1325
The `create_equal_partitions` call is for when you just need a certain number of subregions and do not
really care exactly how they're shaped.  For multi-dimensional regions, there's no precise definition of
"equal" that would make everybody happy, so Legion and Realm choose a definition with a relatively
easy/fast implementation (i.e. splitting as equally as possible along only the first dimensio

[2022-09-14 16:51] bryevdv opened #1326 "legion_python should not explode on console resize"
Currently, merely resizing a console window in which `legion_python` is running results in a crash:

Start:

![image](https://user-images.githubusercontent.com/1078448/190214769-0052396f-d730-428b-878c-e1ee5a208214.png)

After window resize:

![image](https://user-images.githubusercontent.com/1078448/190214856-2d564cbe-4bfd-4ae9-b943-22d2b1c19520.png)

The actual stack trace is:
[code]

[2022-09-14 16:58] bryevdv commented on #1326
Maybe a more useful backtrace from GDB with `--debug`
[code]

[2022-09-14 17:38] elliottslaughter commented on #1313
@mariodirenzo Can you try #1248? If that addresses your use case, we could go ahead and take that.

[2022-09-14 17:49] streichler commented on #1326
Ugh, `SIGWINCH` strikes again...  I'll incorporate this into the branch that I thought I had merged but apparently didn't.

[2022-09-14 18:13] elliottslaughter commented on #1317
For Legion, I think I'd rather not have `pip install` drive the CMake build&mdash;though I get why you'd do that in Legate.

For example, Regent has an option to integrate with Python, and that involves driving the Python build from the Regent install. I do not think we want to teach Python how to install Regent (or any other system besides itself), nor do I think we want to force Regent (or any o

[2022-09-14 18:18] syamajala commented on #1214
This issue goes away with rocm 5.2.0. With rocm 5.1.0 you need `-hip:callbacks` when profiling.

One thing to note with rocprof is that you can't collect performance counters when doing timing measurements. You need to do 2 separate runs and also you need to do multiple launches of kernels before you start getting consistent timing measurements. See this issue for more details:
https://docs.olcf.o

[2022-09-14 18:18] #1214 closed

[2022-09-14 18:21] syamajala commented on #1277
I dont think this issue is relevant anymore.

[2022-09-14 18:21] #1277 closed

[2022-09-14 18:57] elliottslaughter commented on #1310
I'm able to reproduce this.

Some things I've noticed so far:

  * The code is very slow on account of `fill` calls. This can be addressed somewhat by reducing problem size. (Reproduction is not sensitive to problem size.)
  * The code requires at least `-ll:gpu 2` (and `var subranks = 2`) to crash. A single GPU is not sufficient, even with the same launch pattern.
  * The `CalcSpeciesTask` is not

[2022-09-14 19:10] eddy16112 commented on #1109
I think there is a bug in the search feature. Here is the snapshot of searching "375". It shows Task 375 with a wrong instance. The initiator of the instance is "851". The data in the tsv files are correct, so I guess the bug is in the js file. Here is the code of the search feature https://gitlab.com/StanfordLegion/legion/-/blob/master/tools/legion_prof_files/js/timeline.js#L2143-2173, but I do n

[2022-09-14 19:27] ClProsser commented on #1325
Hi @streichler,

thanks for your answer; this clarifies a lot. It would be great if this limitation could be added to the documentation (i.e. that `runtime->create_equal_partition` splits only along the first dimension), as this was pretty misleading for me and probably for other users as well.

I tried to use `runtime->create_partition_by_blockify` prior to my implementation using `runtime->creat

[2022-09-14 19:34] syamajala commented on #1214
They have a patch for the rocprof issue and it might be in the 5.3 release.

[2022-09-14 19:53] eddy16112 commented on #1109
I have pushed another commit for rendering the deferred allocation. Here is an example:
![Screen Shot 2022-09-14 at 1 45 41 PM](https://user-images.githubusercontent.com/7025793/190248343-a6dbd730-ca6e-4b5e-a68d-33264cc42569.png)
Now an instance will have two boxes, the first one is the deferred allocation, which uses timestamp from `create` to `ready` and is rendered using a lighter shade. The se

[2022-09-14 19:56] elliottslaughter commented on #1310
Here's a shorter reproducer that works for me:

`repro.rg`:

[code]

`repro_gpu_task.rg`:

[code]

Command:

[code]

Output:

[code]

[2022-09-14 20:26] elliottslaughter commented on #1310
I think this is just an issue with registering kernels on multiple GPUs.

Minimal reproducer:

[code]

Command:

[code]

Result:

[code]

No separate compilation required to reproduce.

[2022-09-14 20:29] manopapad commented on #1109
Here's the original .gz file, sorry it took a while, had to rebuild
[131503.tar.gz](https://github.com/StanfordLegion/legion/files/9569752/131503.tar.gz)

[2022-09-14 21:45] manopapad commented on #1109
This is what it looks like with the latest changes to legion_prof.py. It looks very pretty, but the latest instance's "deferred" section is drawn over all the previous instances, so I can't see anything about those instances anymore. Ideally all the "deferred" sections would be rendered below any "live" sections (even if belonging to other instances), and possibly we can (later) highlight an insta